@charset "UTF-8";

body *{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}



.header_logo {
	max-width: 191px;
	margin: 1% 3% 3%;
}
.heading_area {
	background: url(https://goo.gl/wUwmmx) 0 0 no-repeat;
	background-size: cover;
	margin: 4.5% 0 0;
	h2 {
		max-width: 479px;
		padding: 7% 0;
		margin: 0 auto;
		text-align: center;
	}
}
@media screen and (max-width: 768px) {
	.header_logo {
		margin: 1% 2% 1%;
		img {
			width: 70%;
		}
	}
	.heading_area {
		h2 img {
			width: 60%;
		}
	}
}
@media screen and (max-width: 480px) {
	.header_logo {
		margin: 2% 3% 2%;
		img {
			width: 50%;
		}
	}
	.heading_area {
		h2 img {
			width: 60%;
		}
	}
}







// slider
.slide_wrap {
	width:100%;
	height: auto;
	padding:12px 0;
	margin: 0 auto;
	overflow-x:scroll;
	-webkit-overflow-scrolling:touch;
	overflow-scrolling:touch;
	white-space:nowrap;
}

.side_box {
	background: #fff;
	width: 91%;
	margin: 2px;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	vertical-align: top;
	&:first-child {
		padding: 0;
		.inner_text {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				bottom: 9%;
				left: 3%;
				background: url(https://goo.gl/eXJ1gX) 0 0 no-repeat;
				background-size: 50px 38px;
				width: 50px;
				height: 38px;
			}
		}

	}
	&:nth-child(2) {
		.inner_text {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				bottom: 9%;
				left: 3%;
				background: url(https://goo.gl/Jfs6M9) 0 0 no-repeat;
				background-size: 50px 38px;
				width: 50px;
				height: 38px;
			}
		}
	}

	.inner {
		background: #303030;
		border-radius: 5px;

		img {
			border-radius: 5px 5px 0 0;
			max-width: 100%;
			height: auto;
		}

		.inner_text {
			font-weight: bold;
			white-space: normal;
			padding: 3% 3% 3% 75px;
			font-size: 25px;
			line-height: 1.3;
			text-align: left;
			color: #fff;
		}
	}
}

.contents {
	max-width: 980px;
	margin: 0 auto 0;
	padding: 4% 4% 1%;
	.contents_title {
		font-size: 37px;
	}
	.contents_week {
		display: inline-block;
		margin: 0 0 0 15px;
		font-size: 30px;
		font-weight: normal;
		color: #56c123;
	}
	.contents_date {
		display: inline-block;
		margin: 0 0 0 10px;
		font-size: 24px;
	}
	.rank_wrap {
		margin: 3% 0 0;
	}
	.rank_first {
		background: #303030;
		border-radius: 5px;
		a {
			display: block;
			color: #fff;
			img {
				border-radius: 5px 5px 0 0;
			}
		}
		.rank_first_text {
			position: relative;
			padding: 2% 5% 7% 80px;
			font-size: 27px;
			line-height: 1.3;

			&:before {
				content: '';
				position: absolute;
				top: 10%;
				left: 20px;
				background: url(https://goo.gl/eXJ1gX) 0 0 no-repeat;
				background-size: 50px 38px;
				width: 50px;
				height: 38px;
			}
		}
	}
	.rank_row {
		overflow: hidden;
		margin: 1% 0 0;
		display: flex;
		flex-flow: row wrap;
		li {
			justify-content: flex-end;
			box-sizing: border-box;
			background: #303030;
			width: 48%;
			margin: 3% 0 0 4%;
			border-radius: 5px;

			a {
				display: inline-block;
				font-size: 27px;
				color: #fff;
				img {
					border-radius: 5px 5px 0 0;

				}
			}
			.rank_first_text {
				position: relative;
				padding: 3% 5% 7% 70px;
				line-height: 1.3;
					&:before {
					content: '';
					position: absolute;
					top: 15%;
					left: 11px;
					background: url(https://goo.gl/aDMkFi) 0 0 no-repeat;
					background-size: 50px 38px;
					width: 50px;
					height: 38px;
				}
			}
			.rank_row_text {
				position: relative;
				padding: 3% 5% 7% 72px;
				line-height: 1.3;
					&:before {
					content: '';
					position: absolute;
					top: 13px;
					left: 11px;
					background: url(https://goo.gl/aDMkFi) 0 0 no-repeat;
					background-size: 50px 38px;
					width: 50px;
					height: 38px;
				}
			}
			&:first-child {
				margin: 0;
			}
			&:nth-child(2n+1) {
				margin: 3% 0 0 0;
			}
			&:nth-child(2) {
				.rank_row_text {
					&:before {
						background: url(https://goo.gl/qhbHDA) 0 0 no-repeat;
						background-size: 50px 38px;
						width: 50px;
						height: 38px;
					}
				}
			}
			&:nth-child(3) {
				.rank_row_text {
					&:before {
						background: url(https://goo.gl/QKNSCR) 0 0 no-repeat;
						background-size: 45px 45px;
						width: 45px;
						height: 45px;
					}
				}
			}
			&:nth-child(4) {
				.rank_row_text {
					&:before {
						background: url(https://goo.gl/chh5NV) 0 0 no-repeat;
						background-size: 45px 45px;
						width: 45px;
						height: 45px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.contents {
		.contents_title {
			font-size: calc(67vw/12);
		}
		.contents_week {
			font-size: calc(47vw/12);
			color: #56c123;
		}
		.contents_date {
			font-size: calc(38vw/12);
		}
		.rank_first {
			border-radius: 4px;
			a {
				img {
					border-radius: 4px 4px 0 0;
				}
			}
			.rank_first_text {
				padding: 2% 5% 7% 75px;
				font-size: calc(47vw/12);
				line-height: 1.3;

				&:before {
					top: 16%;
					left: 11px;
					background-size: 50px 38px;
					width: 50px;
					height: 38px;
				}
			}
		}
		.rank_row {
			li {
				border-radius: 4px;

				a {
					font-size: calc(47vw/12);
					img {
						border-radius: 4px 4px 0 0;
					}
				}
				.rank_row_text {
					position: relative;
					padding: 4% 5% 7% 61px;
					line-height: 1.3;
					font-size: calc(42vw/12);
					&:before {
						top: 13px;
						left: 11px;
						background-size: 40px 30px;
						width: 40px;
						height: 30px;
					}
				}
				&:first-child {
					margin: 0;
				}
				&:nth-child(2n+1) {
					margin: 3% 0 0 0;
				}
				&:nth-child(2) {
					.rank_row_text {
						&:before {
							background-size: 40px 30px;
							width: 40px;
							height: 30px;
						}
					}
				}
				&:nth-child(3) {
					.rank_row_text {
						&:before {
							background-size: 38px 38px;
							width: 38px;
							height: 38px;
						}
					}
				}
				&:nth-child(4) {
					.rank_row_text {
						&:before {
							background-size: 38px 38px;
							width: 38px;
							height: 38px;
						}
					}
				}
			}
		}
	}
}



@media screen and (max-width: 480px) {
	.contents {
		.contents_title {
			font-size: calc(57vw/12);
		}
		.contents_week {
			font-size: calc(47vw/12);
			color: #56c123;
		}
		.contents_date {
			font-size: calc(38vw/12);
		}
		.rank_first {
			border-radius: 4px;
			a {
				img {
					border-radius: 4px 4px 0 0;
				}
			}
			.rank_first_text {
				padding: 4% 5% 7% 62px;
				font-size: calc(47vw/12);
				line-height: 1.3;

				&:before {
					top: 15%;
					left: 11px;
					background-size: 40px 30px;
					width: 40px;
					height: 30px;
				}
			}
		}
		.rank_row {
			li {
				border-radius: 4px;

				a {
					font-size: calc(47vw/12);
					img {
						border-radius: 4px 4px 0 0;
					}
				}
				.rank_row_text {
					position: relative;
					padding: 7% 5% 7% 52px;
					line-height: 1.3;
					font-size: calc(42vw/12);
					&:before {
						top: 14px;
						left: 11px;
						background-size: 32px 24px;
						width: 32px;
						height: 24px;
					}
				}
				&:first-child {
					margin: 0;
				}
				&:nth-child(2n+1) {
					margin: 3% 0 0 0;
				}
				&:nth-child(2) {
					.rank_row_text {
						&:before {
							background-size: 32px 24px;
							width: 32px;
							height: 24px;
						}
					}
				}
				&:nth-child(3) {
					.rank_row_text {
						&:before {
							background-size: 30px 30px;
							width: 30px;
							height: 30px;
						}
					}
				}
				&:nth-child(4) {
					.rank_row_text {
						&:before {
							background-size: 30px 30px;
							width: 30px;
							height: 30px;
						}
					}
				}
			}
		}
	}
}




.tab_area {
	padding: 2% 4% 3%;
	max-width: 980px;
	margin: 0 auto;

	.tab_heading {
		font-size: 37px;
	}
}


.tabs {
	overflow: hidden;
	margin: 3% 0 0;
	li {
		position: relative;
		float: left;
		width: 22.7%;
		background: #313131;
		margin: 0 0 15px 3%;
		text-align: center;
		border-radius: 4px;

		&:first-child {
			margin: 0;
		}
		a {
			display: flex;
			justify-content: center;
			padding: 5% 0;
			align-items: center;
			white-space: nowrap;
			font-weight: bold;
			font-size: 16px;
			color: #fff;
		}
	}
	.active {
		position: relative;
		background: #56c123;
		&:after{
			content: "";
			position: absolute;
			left: 45%;
			bottom: -9px;
			background: url(https://goo.gl/w5KC7z) 0 0 no-repeat;
			background-size: 28px 13px;
			width: 28px;
			height: 13px;
		}
	}
}
@media screen and (max-width: 768px) {
.tab_area {
	padding: 2% 4% 0;

	.tab_heading {
		font-size: calc(43vw/12);
	}
}

.tabs {
	margin: 5% 0 0;

	li {
		a {
			padding: 10% 0;
			font-size: calc(28vw/12);
		}
		&:first-child {
			a {
				padding: 11% 0;
			}
		}
		&:nth-child(2) {
			a {
				font-size: calc(32vw/12);
			}
		}
		&:nth-child(3) {
			a {
				font-size: calc(32vw/12);
			}
		}
		&:nth-child(4) {
			a {
				font-size: calc(32vw/12);
			}
		}
	}
	.active {
		position: relative;
		background: #56c123;
		&:after{
			left: 43%;
			bottom: -9px;
			background-size: 28px 13px;
			width: 28px;
			height: 13px;
		}
	}
}
}
@media screen and (max-width: 480px) {
	.tab_area {
		padding: 2% 4% 0;

		.tab_heading {
			font-size: calc(57vw/12);
		}
	}
	.tabs {

		li {
			a {
				padding: 11% 0;
				font-size: calc(28vw/12);
			}
			&:first-child(1) {
				a {
					padding: 11% 0 12%;
					letter-spacing: -0.5px;
				}
			}
			&:nth-child(2) {
				a {
					font-size: calc(37vw/12);
				}
			}
			&:nth-child(3) {
				a {
					font-size: calc(34vw/12);
				}
			}
			&:nth-child(4) {
				a {
					font-size: calc(37vw/12);
				}
			}
		}
		.active {
			position: relative;
			background: #56c123;
			&:after{
				left: 40%;
				bottom: -9px;
				background-size: 20px 9px;
				width: 20px;
				height: 9px;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.tabs {
		li {
			a {
				padding: 11% 0 12%;
				font-size: calc(28vw/12);
			}
			&:nth-child(1) {
				a {
					letter-spacing: -1px;
				}
			}
		}
		.active {
			&:after{
				bottom: -6px;
			}
		}
	}
}


.tab_content {
	margin: 3% 0 0;
	.first_rank {
		background: #303030;
		border-radius: 5px;
		a {
			display: block;
			color: #fff;
		}
		img {
			border-radius: 5px 5px 0 0;
		}
		.first_rank_text {
			position: relative;
			padding: 2% 5% 8% 80px;
			font-size: 27px;
			line-height: 1.3;
			&:before {
				content: '';
				position: absolute;
				top: 10%;
				left: 15px;
				background: url(https://goo.gl/eXJ1gX) 0 0 no-repeat;
				background-size: 50px 38px;
				width: 50px;
				height: 38px;
			}
		}
	}
	.ranking_row {
		overflow: hidden;
		margin: 1% 0 0;
		display: flex;
		flex-flow: row wrap;
		li {
			justify-content: flex-end;
			box-sizing: border-box;
			background: #303030;
			width: 48%;
			margin: 3% 0 0 4%;
			border-radius: 5px;

			a {
				display: block;
				font-size: 27px;
				color: #fff;
				img {
					border-radius: 5px 5px 0 0;

				}
			}
			.first_rank_text {
				position: relative;
				padding: 3% 5% 8% 80px;
				line-height: 1.3;
					&:before {
					content: '';
					position: absolute;
					top: 15%;
					left: 11px;
					background: url(https://goo.gl/aDMkFi) 0 0 no-repeat;
					background-size: 50px 38px;
					width: 50px;
					height: 38px;
				}
			}
			.row_rank_text {
				position: relative;
				padding: 3% 5% 7% 70px;
				line-height: 1.3;
					&:before {
					content: '';
					position: absolute;
					top: 13px;
					left: 11px;
					background: url(https://goo.gl/aDMkFi) 0 0 no-repeat;
					background-size: 50px 38px;
					width: 50px;
					height: 38px;
				}
			}
			&:first-child {
				margin: 0;
			}
			&:nth-child(2n+1) {
				margin: 3% 0 0 0;
			}
			&:nth-child(2) {
				.row_rank_text {
						&:before {
						background: url(https://goo.gl/qhbHDA) 0 0 no-repeat;
						background-size: 50px 38px;
						width: 50px;
						height: 38px;
					}
				}
			}
			&:nth-child(3) {
				.row_rank_text {
						&:before {
						background: url(https://goo.gl/QKNSCR) 0 0 no-repeat;
						background-size: 45px 45px;
						width: 45px;
						height: 45px;
					}
				}
			}
			&:nth-child(4) {
				.row_rank_text {
						&:before {
						background: url(https://goo.gl/chh5NV) 0 0 no-repeat;
						background-size: 45px 45px;
						width: 45px;
						height: 45px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {

	.tab_content {
		margin: 2% 0 0;
		.first_rank {
			background: #303030;
			border-radius: 5px;
			a {
				display: block;
				color: #fff;
			}
			img {
				border-radius: 5px 5px 0 0;
			}
			.first_rank_text {
				position: relative;
				padding: 2% 5% 8% 80px;
				font-size: calc(39vw/11);
				line-height: 1.3;
				&:before {
					content: '';
					position: absolute;
					top: 15%;
					left: 15px;
					background: url(https://goo.gl/eXJ1gX) 0 0 no-repeat;
					background-size: 50px 38px;
					width: 50px;
					height: 38px;
				}
			}
		}
		.ranking_row {
			overflow: hidden;
			margin: 1% 0 0;
			display: flex;
			flex-flow: row wrap;
			li {
				justify-content: flex-end;
				box-sizing: border-box;
				background: #303030;
				width: 48%;
				margin: 3% 0 0 4%;
				border-radius: 5px;

				a {
					display: block;
					color: #fff;
					font-size: calc(38vw/12);
				}
				.first_rank_text {
					position: relative;
					padding: 3% 5% 7% 70px;
					line-height: 1.3;
						&:before {
						content: '';
						position: absolute;
						top: 15%;
						left: 11px;
						background: url(https://goo.gl/aDMkFi) 0 0 no-repeat;
						background-size: 40px 30px;
						width: 40px;
						height: 30px;
					}
				}
				.row_rank_text {
					position: relative;
					padding: 3% 5% 7% 60px;
					line-height: 1.3;
						&:before {
						content: '';
						position: absolute;
						top: 11px;
						left: 11px;
						background: url(https://goo.gl/aDMkFi) 0 0 no-repeat;
						background-size: 40px 30px;
						width: 40px;
						height: 30px;
					}
				}
				&:first-child {
					margin: 0;
				}
				&:nth-child(2n+1) {
					margin: 3% 0 0 0;
				}
				&:nth-child(2) {
					.row_rank_text {
							&:before {
							background-size: 40px 30px;
							width: 40px;
							height: 30px;
						}
					}
				}
				&:nth-child(3) {
					.row_rank_text {
							&:before {
							background-size: 38px 38px;
							width: 38px;
							height: 38px;
						}
					}
				}
				&:nth-child(4) {
					.row_rank_text {
							&:before {
							background-size: 38px 38px;
							width: 38px;
							height: 38px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {

	.tab_content {
		margin: 1.5% 0 0;
		.first_rank {
			background: #303030;
			border-radius: 5px;
			a {
				display: block;
				color: #fff;
			}
			img {
				border-radius: 5px 5px 0 0;
			}
			.first_rank_text {
				position: relative;
				padding: 2% 5% 8% 64px;
				font-size: calc(41vw/11);
				line-height: 1.3;
				&:before {
					content: '';
					position: absolute;
					top: 10%;
					left: 12px;
					background: url(https://goo.gl/eXJ1gX) 0 0 no-repeat;
					background-size: 40px 30px;
					width: 40px;
					height: 30px;
				}
			}
		}
		.ranking_row {
			margin: 1% 0 0;
			li {
				width: 48%;
				margin: 3% 0 0 4%;
				border-radius: 5px;

				a {
					display: block;
					color: #fff;
					font-size: calc(38vw/12);
				}
				.first_rank_text {
					position: relative;
					padding: 3% 5% 7% 70px;
					line-height: 1.3;
						&:before {
						content: '';
						position: absolute;
						top: 15%;
						left: 11px;
						background: url(https://goo.gl/aDMkFi) 0 0 no-repeat;
						background-size: 40px 30px;
						width: 40px;
						height: 30px;
					}
				}
				.row_rank_text {
					position: relative;
					padding: 3% 5% 7% 46px;
					line-height: 1.3;
						&:before {
						content: '';
						position: absolute;
						top: 7px;
						left: 8px;
						background-size: 30px 23px;
						width: 30px;
						height: 23px;
					}
				}
				&:first-child {
					margin: 0;
				}
				&:nth-child(2n+1) {
					margin: 3% 0 0 0;
				}
				&:nth-child(2) {
					.row_rank_text {
							&:before {
							background-size: 30px 23px;
							width: 30px;
							height: 23px;
						}
					}
				}
				&:nth-child(3) {
					.row_rank_text {
							&:before {
							background-size: 30px 30px;
							width: 30px;
							height: 30px;
						}
					}
				}
				&:nth-child(4) {
					.row_rank_text {
							&:before {
							background-size: 30px 30px;
							width: 30px;
							height: 30px;
						}
					}
				}
			}
		}
	}
}


footer {
	max-width: 960px;
	padding: 0 4% 7%;
	margin: 0 auto;
	.footer_item {
		overflow: hidden;
		margin: 0 0 0 -2%;
	}
	li {
		position: relative;
		float: left;
		padding: 0 3% 0 2%;
		line-height: 1.4;
		a {
			display: block;
			font-size: 18px;
			color: #fff;

			&:visited {
				color: #fff;
			}
		}

		&:after {
			content: '/';
			position: absolute;
			top: -1px;
			right: 0 ;
		}
		&:last-child:after {
			content: '';
		}
	}

	.footer_text {
		overflow: hidden;
		margin: 4% 0 0;
		font-size: 12px;
		line-height: 1.5;
		color: #878787;
		li {
			float: left;
		}
	}
	.footer_small_wrap {
		margin: 2% 0 0;
		text-align: center;
	}
	.footer_small {
		font-size: 12px;
		color: #878787;
	}
	.take {
		margin: 5% auto 0;
		padding: 0.7% 0 1%;
		width: 120px;
		border-radius: 4px;
		border: 2px solid #878787;
		text-align: center;
		font-size: 12px;
		color: #878787;
	}
}

@media screen and (max-width: 768px) {
	footer {
		max-width: 960px;
		padding: 4% 4% 7%;
		li {
			position: relative;
			float: left;
			padding: 0 3% 0 2%;
			line-height: 1.4;
			a {
				display: block;
				font-size: calc(34vw/12);
				color: #fff;
			}

			&:after {
				content: '/';
				position: absolute;
				top: 1px;
				right: 0 ;
			}
			&:last-child:after {
				content: '';
			}
		}
		.footer_text {
			margin: 3% 0 0;
			font-size: calc(23vw/12);
			line-height: 1.4;
			color: #878787;
		}
		.footer_small {
			font-size: calc(28vw/12);
			color: #878787;
		}
		.take {
			margin: 3% auto 0;
			padding: 0.7% 0 1%;
			border: 1px solid #878787;
			text-align: center;
			font-size: calc(28vw/12);
		}
	}
}



@media screen and (max-width: 480px) {
	footer {
		padding: 4% 4% 3%;
		li {
			padding: 0 3% 0 2%;
			line-height: 1.8;
			a {
				display: block;
				font-size: calc(34vw/12);
				color: #fff;
			}

			&:after {
				content: '/';
				position: absolute;
				top: -6px;
				right: 0 ;
			}
			&:last-child:after {
				content: '';
			}
		}
		.footer_small {
			margin: 3% 0 0;
			font-size: calc(34vw/12);
			color: #878787;
		}
		.footer_text {
			margin: 3% 0 0;
			line-height: 1.4;
			color: #878787;
		}
		.take {
			margin: 3% auto 0;
			padding: 0.7% 0 1%;
			border: 1px solid #878787;
			text-align: center;
			font-size: calc(28vw/12);
		}
	}
}



