* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #000;
  margin: 0 auto;
  background: #fff;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

.header_is {
  background: #000;
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header_is .header_item {
  overflow: hidden;
  float: left;
  padding: 15px 0 0 18px;
  max-width: 117px;
  width: 20%;
}
.header_is .header_item li {
  padding: 0 0 0;
  margin: 0;
}
.header_is .header_item li a {
  display: block;
}
.header_is .header_item li a:hover {
  background: none;
  opacity: .8;
}
.header_is .header_list {
  display: block;
  overflow: hidden;
  float: left;
  padding: 7px 0 6px 2%;
  width: 73%;
}
.header_is .header_list li {
  float: left;
  margin: 0 0 0 8px;
}
.header_is .header_list li a {
  display: block;
  padding: 10px 7px;
  border-radius: 4px;
  font-size: 19px;
  font-weight: bold;
  white-space: nowrap;
  color: #fff;
}
.header_is .header_list li a:hover {
  background: #212121;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .complementary-outer--slot1 {
    padding: 0 3% 0;
  }

  .header_is .header_item {
    padding: 2% 0 1.8% 2.6%;
    width: 16%;
  }
  .header_is .header_item li {
    padding: 0 0 0;
    margin: 0;
  }
  .header_is .header_item li a {
    display: block;
  }
  .header_is .header_item li a:hover {
    background: none;
    opacity: .8;
  }
  .header_is .header_list {
    padding: 1.7% 0 1.4 1.5%;
    margin: 0 0 2%;
    width: 71%;
  }
  .header_is .header_list li {
    margin: 0 0 0 4%;
  }
  .header_is .header_list li a {
    display: inline-block;
    padding: 5% 8%;
    font-size: calc(34vw/12);
  }
  .header_is .header_list li a:hover {
    background: none;
    opacity: .8;
  }
}
@media screen and (max-width: 414px) {
  .header_is .header_item {
    padding: 2% 0 1.8% 2.6%;
    width: 20%;
  }
  .header_is .header_item li a {
    display: block;
  }
  .header_is .header_item li a:hover {
    background: none;
    opacity: .8;
  }
  .header_is .header_list {
    padding: 1.7% 0 1.4 1.5%;
    margin: 0 0 2%;
    width: 71%;
  }
  .header_is .header_list li {
    margin: 0 0 0 4%;
  }
  .header_is .header_list li a {
    display: inline-block;
    padding: 5% 8%;
    font-size: calc(38vw/12);
  }
  .header_is .header_list li a:hover {
    background: none;
    opacity: .8;
  }
}
@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes item_list {
  100% {
    opacity: 1;
  }
}
@keyframes item_list {
  100% {
    opacity: 1;
  }
}
.ani_list01 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 3s 1 forwards;
}

.ani_list02 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 3.5s 1 forwards;
}

.ani_list03 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 4s 1 forwards;
}

.ani_list04 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 4.5s 1 forwards;
}
