* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #000;
  margin: 0 auto;
  background: #fff;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

.wrap {
  max-width: 768px;
  margin: 0 auto;
}

header .logo {
  background: #000;
  padding: 13px 0 15px 20px;
}
header .logo span {
  display: block;
  max-width: 151px;
}
header .h_wrap {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/66b6b7de5cc2e50aa427a28f6a260857_9f079323d1e7c80fd20837aa475256f4.png) center center no-repeat;
}
header .h_wrap .h_box {
  padding: 64px 0 0;
  margin: 0 auto;
  height: 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_wrap .h_h {
  max-width: 620px;
  margin: 0 auto;
}
header .h_wrap .h_t {
  max-width: 650px;
  padding: 15px 0;
  margin: 22px auto 0;
  border: 3px solid #fff;
  border-radius: 8px;
  text-align: center;
  font-size: 34px;
  letter-spacing: 1.4px;
  color: #fff;
}
header .h_wrap .h_t span {
  display: inline-block;
  margin: 0 5px 0 0;
  letter-spacing: 2.5px;
}

.contents {
  padding: 60px 0 0;
}
.contents .c_h {
  padding: 0 0 0 18px;
  line-height: 1.4;
  border-left: 6px solid #3a2;
  font-size: 32px;
}
.contents .c_h span {
  font-size: 36px;
}
.contents .ch_m {
  margin: 57px 0 0;
}
.contents .c_item li {
  padding: 55px 0 62px;
  border-bottom: 1px solid #606060;
}
.contents .c_item li:first-child {
  padding: 45px 0 62px;
}
.contents .c_item li figure {
  margin: 0 0 45px;
  line-height: 0;
}
.contents .c_item li .bagg {
  display: inline-block;
  background: #f0163a;
  padding: 3px 15px;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.3px;
  color: #fff;
}
.contents .c_item li .c_t {
  margin: 12px 0 0;
  letter-spacing: 1.4;
  line-height: 1.5;
  font-size: 22px;
  font-weight: bold;
  color: #666;
}
.contents .c_item li .c_btn {
  margin: 37px 0 0;
}
.contents .c_item li .c_btn a {
  display: block;
  background: #3a2;
  padding: 18px 0;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  color: #fff;
}
.contents .c_col {
  padding: 41px 0 55px;
  border-bottom: 1px solid #606060;
}
.contents .c_col a {
  display: block;
}
.contents .c_col dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contents .c_col dl dd {
  width: 57%;
}
.contents .c_col dl dt {
  width: 39%;
  margin: 0 0 0 4%;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.4;
  color: #000;
}
.contents .c_col dl dt .bagg {
  display: inline-block;
  background: #f0163a;
  padding: 1px 15px;
  margin: 0 0 8px;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1.3px;
  color: #fff;
}
.contents .b_n {
  border-bottom: none;
}

.more {
  background: #eee;
  padding: 35px 0 33px;
}
.more .m_h {
  font-size: 28px;
  color: #33aa22;
}
.more .m_h span {
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 32px;
}
.more .m_t {
  margin: 11px 0 0;
  font-size: 30px;
  line-height: 1.3;
  color: #000;
}
.more .m_btn {
  margin: 32px 0 0;
}
.more .m_btn a {
  display: block;
  background: #3a2;
  padding: 28px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 28px;
  color: #fff;
}

.recommend {
  background: #fff;
}
.recommend .r_h {
  max-width: 612px;
  padding: 75px 0 84px;
  margin: 0 auto;
  line-height: 0;
}
.recommend .r_heading {
  padding: 0 0 0 25px;
  font-size: 33px;
  letter-spacing: 1.6px;
  border-left: 6px solid #3a2;
  line-height: 1.3;
  font-weight: bold;
}
.recommend .r_heading span {
  font-size: 38px;
}
.recommend .r_inner {
  padding: 50px 0 58px;
  margin: 46px 0 0;
  border-top: 1px solid #606060;
}
.recommend .r_inner:first-of-type {
  border-top: none;
  padding: 0 0 58px;
}
.recommend .r_inner a {
  display: block;
}
.recommend .r_inner dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recommend .r_inner dl dd {
  width: 58%;
  max-width: 440px;
  line-height: 0;
}
.recommend .r_inner dl dt {
  width: 38%;
  margin: 0 0 0 4%;
}
.recommend .r_inner dl dt .r_bagg {
  display: inline-block;
  background: #ec2840;
  padding: 2.5px 14px;
  margin: 0 0 5px 0;
  border-radius: 4px;
  font-size: 18px;
  font-weight: normal;
  vertical-align: bottom;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.2;
  color: #fff;
}
.recommend .r_inner dl dt .r_text {
  font-size: 23px;
  font-weight: bold;
  line-height: 1.4;
  color: #000;
}

aside {
  background: #efefef;
  padding: 17px 0 36px;
}
aside .wrap {
  max-width: 768px;
  margin: 0 auto;
}
aside .f_d dt {
  margin: 40px 0 0;
  font-size: 28px;
  letter-spacing: 1.4px;
  font-weight: 600;
  color: #666;
}
aside .f_d dd {
  margin: 25px 0 0;
  font-size: 24px;
  line-height: 1.45;
  letter-spacing: 1.4px;
  color: #666;
}
aside .f_d dd .caution {
  display: block;
  margin: 12px 0 0;
  font-size: 20px;
}
aside .f_d dd .f_item {
  margin: 15px 0 0 35px;
}
aside .f_d dd .f_item li {
  margin: 6px 0 0;
  line-height: 1.4;
  font-size: 20px;
}
aside .f_d dd a {
  color: #a1882f;
  text-decoration: underline;
}
aside .f_d dd a:hover {
  text-decoration: none;
}
aside .f_d .dd_last {
  line-height: 1.2;
}
aside .f_c {
  margin: 15px 0 0;
  line-height: 1.3;
  font-size: 20px;
}

footer {
  background: #efefef;
  padding: 35px 0 50px;
}
footer .copy {
  margin: 0 0 40px;
}
footer .copy li {
  width: 100%;
  margin: 5px 0 0 0;
  line-height: 1.3;
  font-size: 16px;
  color: #666666;
}
footer .f_list {
  overflow: hidden;
  margin: 10px 0 0;
}
footer .f_list li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .f_list li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #666666;
}
footer .f_list li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #666666;
  font-size: 22px;
  line-height: 0.5;
}
footer .f_list li:last-child:after {
  content: '';
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1.3px;
  color: #666666;
}

@media screen and (max-width: 768px) {
  .wrap {
    padding: 0 4.8%;
  }

  header .logo {
    padding: 1.53% 0 1.58% 2.5%;
    line-height: 0;
  }
  header .logo span {
    line-height: 0;
    width: 21%;
  }
  header .h_wrap {
    background: url(https://bit.ly/2WFDVZu) center center no-repeat;
    background-size: cover;
  }
  header .h_wrap .h_box {
    width: 80%;
    padding: 5.3% 0 5.4%;
    height: auto;
  }
  header .h_wrap .h_h {
    max-width: 750px;
    margin: 0 auto;
  }

  .contents {
    padding: 60px 0 0;
  }
  .contents .c_h {
    padding: 0 0 0 18px;
    line-height: 1.4;
    border-left: 6px solid #3a2;
    font-size: 32px;
  }
  .contents .c_h span {
    font-size: 36px;
  }
  .contents .ch_m {
    margin: 57px 0 0;
  }
  .contents .c_item li {
    padding: 55px 0 62px;
    border-bottom: 1px solid #606060;
  }
  .contents .c_item li:first-child {
    padding: 45px 0 62px;
  }
  .contents .c_item li figure {
    margin: 0 0 45px;
    line-height: 0;
  }
  .contents .c_item li .bagg {
    display: inline-block;
    background: #f0163a;
    padding: 3px 15px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.3px;
    color: #fff;
  }
  .contents .c_item li .c_t {
    margin: 12px 0 0;
    letter-spacing: 1.4;
    line-height: 1.5;
    font-size: 22px;
    font-weight: bold;
    color: #666;
  }
  .contents .c_item li .c_btn {
    margin: 37px 0 0;
  }
  .contents .c_item li .c_btn a {
    display: block;
    background: #3a2;
    padding: 18px 0;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    color: #fff;
  }
  .contents .c_col {
    padding: 41px 0 55px;
    border-bottom: 1px solid #606060;
  }
  .contents .c_col a {
    display: block;
  }
  .contents .c_col dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contents .c_col dl dd {
    width: 57%;
  }
  .contents .c_col dl dt {
    width: 39%;
    margin: 0 0 0 4%;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.4;
    color: #000;
  }
  .contents .c_col dl dt .bagg {
    display: inline-block;
    background: #f0163a;
    padding: 1px 15px;
    margin: 0 0 8px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1.3px;
    color: #fff;
  }
  .contents .b_n {
    border-bottom: none;
  }

  .more {
    background: #eee;
    padding: 35px 0 33px;
  }
  .more .m_h {
    font-size: 28px;
    color: #33aa22;
  }
  .more .m_h span {
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 32px;
  }
  .more .m_t {
    margin: 11px 0 0;
    font-size: 30px;
    line-height: 1.3;
    color: #000;
  }
  .more .m_btn {
    margin: 32px 0 0;
  }
  .more .m_btn a {
    display: block;
    background: #3a2;
    padding: 28px 0;
    border-radius: 6px;
    text-align: center;
    font-size: 28px;
    color: #fff;
  }

  .recommend .r_h {
    width: 90%;
    padding: 8% 0 14%;
  }
  .recommend .r_heading {
    padding: 0 0 0 3%;
    font-size: calc(52vw/12);
    letter-spacing: 1.4px;
    border-left: 4.5px solid #3a2;
    line-height: 1.3;
  }
  .recommend .r_heading span {
    font-size: calc(56vw/12);
  }
  .recommend .r_inner {
    padding: 8% 0 8.2%;
    margin: 7% 0 0;
  }
  .recommend .r_inner:first-of-type {
    padding: 0 0 8.2%;
  }
  .recommend .r_inner dl dd {
    width: 56%;
    max-width: 399px;
  }
  .recommend .r_inner dl dt {
    width: 40%;
    margin: 0 0 0 4%;
  }
  .recommend .r_inner dl dt .r_bagg {
    padding: 1% 5% 1%;
    margin: 0 0 2%;
    border-radius: 3px;
    font-size: calc(32vw/12);
    letter-spacing: 1.5px;
  }
  .recommend .r_inner dl dt .r_text {
    font-size: calc(38vw/12);
    line-height: 1.4;
  }

  aside {
    padding: 2% 0 5%;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(37vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(31vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 0 5.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }
  aside .f_d dd a:hover {
    text-decoration: underline;
  }
  aside .f_d .dd_last {
    line-height: 1.2;
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }

  footer {
    padding: 5% 0 20%;
  }
  footer .wrap {
    padding: 0 5% 0;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 1% 0 0 0;
    line-height: 1.3;
    font-size: calc(25vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 10px 0 0;
  }
  footer .f_list li a {
    padding: 0 12px 0 0;
    font-size: 13px;
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 480px) {
  .wrap {
    padding: 0 5%;
  }

  header .logo {
    padding: 1.53% 0 1.58% 2.5%;
    line-height: 0;
  }
  header .logo span {
    line-height: 0;
    width: 21%;
  }
  header .h_wrap .h_box {
    width: 78%;
    padding: 5.3% 0 5.4%;
  }

  .recommend .r_h {
    width: 90%;
    padding: 8% 0 14%;
  }
  .recommend .r_heading {
    padding: 0 0 0 3%;
    font-size: calc(54vw/12);
    letter-spacing: 1.4px;
    border-left: 3px solid #3a2;
    line-height: 1.3;
  }
  .recommend .r_heading span {
    font-size: calc(56vw/12);
  }
  .recommend .r_inner {
    padding: 8% 0 8.2%;
    margin: 7% 0 0;
  }
  .recommend .r_inner:first-of-type {
    padding: 0 0 8.2%;
  }
  .recommend .r_inner dl dd {
    width: 56%;
    max-width: 399px;
  }
  .recommend .r_inner dl dt {
    width: 40%;
    margin: 0 0 0 4%;
  }
  .recommend .r_inner dl dt .r_bagg {
    padding: 1% 5% 1%;
    margin: 0 0 2%;
    border-radius: 3px;
    font-size: calc(34vw/12);
    letter-spacing: 1.5px;
  }
  .recommend .r_inner dl dt .r_text {
    font-size: calc(40vw/12);
    line-height: 1.4;
  }

  aside {
    padding: 2% 0 5%;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(46vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(39vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(31vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 0 5.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }
  aside .f_d dd a:hover {
    text-decoration: underline;
  }
  aside .f_d .dd_last {
    line-height: 1.2;
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(34vw/12);
  }

  footer {
    padding: 4.5% 0 22%;
  }
  footer .wrap {
    padding: 0 5% 0;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 1% 0 0 0;
    line-height: 1.3;
    font-size: calc(27vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 8px 0 0;
  }
  footer .f_list li a {
    padding: 0 10px 0 0;
    font-size: 10px;
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(28vw/12);
    letter-spacing: 0.5px;
  }
}
.hi {
  opacity: 0;
}

@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}

@keyframes item_sp {
  100% {
    opacity: 1;
  }
}
.a01 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 3.5s 1 forwards;
}

.a02 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 3.9s 1 forwards;
}

.a03 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 4.3s 1 forwards;
}

.a04 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 4.7s 1 forwards;
}
