* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #000;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

.wrap {
  max-width: 681px;
  margin: 0 auto;
}

.line {
  background: #efefef;
  height: 35px;
}

.b_n {
  border: none !important;
}

.b_l {
  padding: 0 0 65px !important;
}

.dn {
  display: none;
}

.bagg {
  display: inline-block;
  background: #f0163a;
  padding: 3px 14px;
  margin: 0 0 5px 0;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #fff;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 15px solid #138745;
}
header .logo {
  background: #000;
  padding: 13px 0 13px 22px;
  line-height: 0;
}
header .logo span {
  display: block;
  max-width: 151px;
}
header .h_wrap {
  position: relative;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/ba4ab4ae9a93c5b15dadfd2429515916_05f070689ada8b52b6238d2f282856f9.png) center top repeat-x #e5e5e5;
  background-size: cover;
  height: 376px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 64px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_wrap .h_i {
  max-width: 887px;
  margin: 0 auto;
}

.info {
  background: #fff;
  padding: 63px 0 45px;
}
.info .wrap {
  max-width: 768px;
}
.info .i_h {
  font-weight: bold;
  font-size: 31px;
  text-align: center;
}
.info .i_h span {
  font-size: 35px;
}
.info .i_t {
  margin: 35px 0 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.55;
}
.info .mw_b {
  max-width: 680px;
  margin: 50px auto 0;
}
.info .m_i {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: 18px auto 0;
}
.info .m_i iframe {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}
.info .i_btn {
  max-width: 680px;
  margin: 37px auto 0;
}
.info .i_btn a {
  display: block;
  background: #138745;
  padding: 26px 0;
  border-radius: 40px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.3px;
  color: #fff;
}

.more {
  background: #eee;
  padding: 48px 0 64px;
}
.more .m_h {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.3px;
}
.more .m_h span {
  font-size: 29px;
}
.more .m_btn {
  margin: 35px 0 0;
}
.more .m_btn a {
  display: block;
  padding: 15px 0;
  border-radius: 30px;
  border: 3px solid #138745;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2.2px;
  color: #138745;
}
.more .m_btn a:hover {
  background: #138745;
  color: #fff;
  opacity: 1;
}

.contents {
  background: #eee;
  padding: 60px 0 0;
}
.contents .b_b {
  padding: 0 0 15px;
  border-bottom: 1px solid #606060;
}
.contents .c_ge {
  background: none;
  border: 3px solid #138745;
  display: inline-block;
  padding: 6px 15px 8px;
  border-radius: 30px;
  margin: 42px 0 26px;
  font-size: 24.5px;
  text-align: center;
  font-weight: bold;
  color: #138745;
}
.contents .c_ge span {
  font-size: 26.5px;
}
.contents .c_h {
  line-height: 1.4;
  font-size: 32px;
  text-align: center;
}
.contents .c_h span {
  letter-spacing: 1.3px;
  font-size: 36px;
}
.contents .c_sub {
  margin: 40px 0 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.contents .c_e {
  border-left: 9px solid #138745;
  padding: 0 0 0 18px;
  line-height: 1.4;
  font-size: 32px;
}
.contents .c_e span {
  letter-spacing: 1.3px;
  font-size: 36px;
}
.contents .ce_sec {
  margin: 55px 0 0;
}
.contents .c_h_m {
  margin: 20px 0 0;
}
.contents .c_t {
  margin: 12px 0 0;
  font-size: 25px;
  line-height: 1.3;
  color: #666;
}
.contents .c_i {
  padding: 60px 0 60px;
  border-bottom: 1px solid #606060;
}
.contents .c_i:first-of-type {
  border-top: none;
}
.contents .date {
  display: inline-block;
  background: #d7000f;
  padding: 5px 30px 8px;
  border-radius: 30px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #fff;
}
.contents .date span {
  font-size: 28px;
}
.contents .c_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 42px 0 0;
}
.contents .team {
  margin: 42px 0 0;
  font-size: 18px;
  letter-spacing: 1.3px;
  line-height: 1.3;
  text-align: center;
  font-weight: bold;
  color: #666;
}
.contents .team_list {
  overflow: hidden;
  margin: 42px 0 0;
  text-align: left;
}
.contents .team_list li {
  position: relative;
  float: left;
  padding: 0 13px 0 6px;
  letter-spacing: 1.3px;
  line-height: 1.3;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  color: #666;
}
.contents .team_list li:after {
  content: '/';
  position: absolute;
  right: 0;
  top: 0;
}
.contents .team_list li:last-child:after {
  content: '';
}
.contents .c_btn {
  max-width: 680px;
  margin: 37px auto 0;
}
.contents .c_btn a {
  display: block;
  background: #138745;
  padding: 24px 0;
  border-radius: 40px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.3px;
  color: #fff;
}
.contents .c_four {
  padding: 0 0 15px;
  margin: 15px 0 0;
}
.contents .c_four .c_f_item a {
  display: block;
}
.contents .c_four .c_f_item li {
  padding: 25px 0;
  border-bottom: 1px solid #606060;
}
.contents .c_four .c_f_item li:last-child {
  border-bottom: none;
}
.contents .c_four .c_f_item .c_f_dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contents .c_four .c_f_item .c_f_dl dd {
  width: 45%;
  line-height: 0;
}
.contents .c_four .c_f_item .c_f_dl dt {
  width: 51.5%;
  margin: 0 0 0 3.5%;
  font-size: 23px;
  line-height: 1.3;
  font-weight: bold;
  color: #000;
}
.contents .c_sit_t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 0 50px;
  margin: 35px 0 0;
}
.contents .c_sit_t li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #eee;
  width: 48%;
  margin: 5% 0 0 4%;
  border-radius: 0 0 6px 6px;
}
.contents .c_sit_t li:nth-child(2n+1) {
  margin: 5% 0 0 0;
}
.contents .c_sit_t li:nth-child(2) {
  margin: 0 0 0 4%;
}
.contents .c_sit_t li:nth-child(1) {
  margin: 0;
}
.contents .c_sit_t li a {
  display: block;
}
.contents .c_sit_t li a figure {
  line-height: 0;
}
.contents .c_sit_t li a .c_text {
  padding: 23px;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.4;
  color: #666;
}
.contents .c_six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 0 50px;
  margin: 35px 0 0;
}
.contents .c_six li {
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 48%;
  padding: 0 0 100px;
  margin: 5% 0 0 4%;
  border-radius: 0 0 6px 6px;
}
.contents .c_six li:nth-child(2n+1) {
  margin: 5% 0 0 0;
}
.contents .c_six li:nth-child(2) {
  margin: 0 0 0 4%;
}
.contents .c_six li:nth-child(1) {
  margin: 0;
}
.contents .c_six li figure {
  line-height: 0;
}
.contents .c_six li .c_text {
  padding: 20px 0 0;
  font-size: 23px;
  line-height: 1.4;
  font-weight: bold;
  color: #000;
}
.contents .c_six li .cs_btn {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
}
.contents .c_six li .cs_btn a {
  display: block;
  width: 100%;
  background: #138745;
  padding: 16px 0;
  text-align: center;
  border-radius: 30px;
  font-size: 30px;
  color: #fff;
}
.contents .c_eight .c_e_list {
  padding: 0 0 30px;
  margin: 30px 0 0;
}
.contents .c_eight .c_e_list:first-of-type {
  margin: 0;
}
.contents .c_eight .large {
  margin: 30px 0 0;
}
.contents .c_eight .thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0 0;
}
.contents .c_eight .thumb li {
  margin: 0 0 0 2%;
}
.contents .c_eight .thumb li:first-child {
  margin: 0;
}
.contents .c_eight .thumb li a {
  overflow: hidden;
  display: block;
  line-height: 0;
  -webkit-transition: none;
  transition: none;
}
.contents .c_eight .thumb li a img {
  margin: 0;
}
.contents .c_eight .thumb li .active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #138745;
}
.contents .c_eight .thumb li .active img {
  margin: -2px 0;
  opacity: .8;
}
.contents .c_eight .btn {
  margin: 31px 0 0;
}
.contents .c_eight .btn a {
  display: block;
  background: #138745;
  padding: 20px 0;
  border-radius: 30px;
  text-align: center;
  font-size: 32px;
  color: #fff;
}
.contents .c_nineteen {
  padding: 0 0 30px;
  margin: 0 0 0;
  border-bottom: 1px solid #606060;
}
.contents .c_nineteen .bagg {
  display: inline-block;
  background: #f0163a;
  padding: 5px 18px;
  margin: 0 0 5px 0;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #fff;
}
.contents .c_nineteen figure {
  margin: 0 0 45px;
  line-height: 0;
}
.contents .c_nineteen .c_19t {
  margin: 12px 0 0 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.3;
  color: #606060;
}
.contents .c_nineteen .c_19cen {
  text-align: center;
}
.contents .c_nineteen .c_btn {
  margin: 30px 0 0;
}
.contents .c_nineteen .c_btn a {
  display: block;
  background: #138745;
  padding: 17px 0;
  text-align: center;
  border-radius: 30px;
  font-size: 30px;
  color: #fff;
}
.contents .c_nineteen .c19_item li {
  padding: 35px 0;
  border-top: 1px solid #606060;
}
.contents .c_nineteen .c19_item li a {
  display: block;
}
.contents .c_nineteen .c19_item li:first-child {
  border-top: none;
}
.contents .ls_btn {
  margin: 15px 0 0;
}
.contents .ls_btn a {
  display: block;
  padding: 15px 0;
  border-radius: 30px;
  border: 3px solid #138745;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2.2px;
  color: #138745;
}
.contents .ls_btn a span {
  font-size: 33px;
}
.contents .ls_btn a:hover {
  background: #138745;
  color: #fff;
  opacity: 1;
}

.c_s {
  padding: 0;
}

.cbl {
  background: #fff;
}

.cbl_ls {
  padding: 60px 0 60px;
}

.point {
  background: #eee;
  padding: 75px 0 61px;
}
.point .p_h {
  max-width: 665px;
  margin: 0 auto;
}

.banner .b_wrap {
  background: #1a1a1a;
  padding: 30px 35px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.banner .b_h {
  font-size: 32px;
  font-weight: normal;
}
.banner .b_h span {
  display: inline-block;
  color: #138745;
}
.banner .b_t {
  margin: 19px 0 0;
  font-size: 24px;
  line-height: 1.5;
}
.banner .b_btn {
  margin: 30px 0 0;
}
.banner .b_btn a {
  display: block;
  background: #138745;
  padding: 30px 0;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1.3px;
  color: #fff;
}

.gline {
  background: #fff;
  padding: 0 0 45px;
}
.gline .g_w {
  background: #efefef;
  height: 35px;
  max-width: 768px;
  margin: 0 auto;
}

.genre {
  background: #fff;
  padding: 0 0 58px;
}
.genre .wrap {
  padding: 20px 0 0;
}
.genre .g_h {
  font-size: 32px;
}
.genre .g_item {
  overflow: hidden;
  margin: 38px 0 0;
}
.genre .g_item li {
  float: left;
  width: 48.5%;
  margin: 0 0 0 3%;
}
.genre .g_item li:nth-child(2n+1) {
  margin: 3% 0 0 0;
}
.genre .g_item li:nth-child(2n+2) {
  margin: 3% 0 0 3%;
}
.genre .g_item li:nth-child(1) {
  margin: 0;
}
.genre .g_item li:nth-child(2) {
  margin: 0 0 0 3%;
}
.genre .g_item li a {
  display: block;
  padding: 25px 0;
  border: 2px solid #138745;
  border-radius: 6px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #138745;
}
.genre .g_item li a:hover {
  background: #138745;
  color: #fff;
  opacity: 1;
}

.bline {
  height: 62px;
  background: #fff;
}

aside {
  background: #efefef;
  padding: 17px 0 66px;
}
aside .wrap {
  max-width: 730px;
  margin: 0 auto;
}
aside .f_d {
  padding: 2px 0 0;
}
aside .f_d dt {
  margin: 40px 0 0;
  font-size: 26px;
  letter-spacing: 1.4px;
  font-weight: bold;
  color: #666;
}
aside .f_d dd {
  margin: 25px 0 0;
  font-size: 24px;
  line-height: 1.45;
  letter-spacing: 1.4px;
  color: #666;
}
aside .f_d dd .caution {
  display: block;
  margin: 12px 0 0;
  font-size: 20px;
}
aside .f_d dd .f_item {
  margin: 15px 0 0 35px;
}
aside .f_d dd .f_item li {
  margin: 6px 0 0;
  line-height: 1.4;
  font-size: 20px;
}
aside .f_d dd a {
  color: #138745;
  text-decoration: underline;
}
aside .f_d dd a:hover {
  text-decoration: none;
}
aside .f_d .dd_last {
  line-height: 1.2;
}
aside .f_c {
  margin: 15px 0 0;
  line-height: 1.3;
  font-size: 20px;
}

footer {
  background: #efefef;
  border-bottom: 1px solid #138745;
}
footer .wrap {
  max-width: 730px;
  margin: 0 auto;
  padding: 20px 0 40px;
}
footer .copy {
  margin: 27px 0 40px;
}
footer .copy li {
  width: 100%;
  margin: 5px 10px 0 0;
  line-height: 1.3;
  font-size: 16px;
  color: #666;
}
footer .f_list {
  overflow: hidden;
  margin: 10px 0 0;
}
footer .f_list li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .f_list li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #666;
}
footer .f_list li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #666;
}
footer .f_list li:last-child:after {
  content: '';
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #666;
}

@media screen and (max-width: 936px) {
  header .h_wrap {
    position: relative;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/ba4ab4ae9a93c5b15dadfd2429515916_05f070689ada8b52b6238d2f282856f9.png) 85px top repeat-x #e5e5e5;
    background-size: cover;
    height: auto;
    max-width: 1920px;
    margin: 0 auto;
    padding: 56px 0 57px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .h_wrap .h_i {
    width: 77%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .bline {
    height: 45px;
  }

  .wrap {
    max-width: none;
    padding: 0 2%;
  }

  .line {
    height: 28px;
  }

  .f_line {
    background: #fff;
    height: 45px;
  }

  .dn {
    display: none;
  }

  .b_l {
    padding: 0 0 8.4% !important;
  }

  header {
    border-top: 11px solid #138745;
  }
  header .logo {
    padding: 1.6% 0 1.6% 2.5%;
  }
  header .logo span {
    width: 21%;
  }
  header .h_wrap {
    position: relative;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/5a4ebd6d031f823142068d67ddd061df_1b1fb441fa0d7b7e5fc512160ede02c7.png) center center no-repeat;
    background-size: cover;
    height: auto;
    max-width: 1920px;
    margin: 0 auto;
    padding: 9.5% 0 10.4%;
  }
  header .h_wrap .h_i {
    width: 79%;
    margin: 0 auto;
  }

  .info {
    padding: 8% 0 4%;
  }
  .info .i_h {
    font-size: calc(50vw/12);
  }
  .info .i_h span {
    font-size: calc(53vw/12);
  }
  .info .i_t {
    margin: 5% 0 0;
    font-size: calc(36vw/12);
    line-height: 1.55;
  }
  .info .mw_b {
    margin: 7% auto 0;
  }
  .info .m_i {
    width: 100%;
    padding-top: 56.25%;
    margin: 18px auto 0;
  }
  .info .m_i iframe {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .info .i_btn {
    margin: 6% auto 0;
  }
  .info .i_btn a {
    padding: 2.5% 0;
    border-radius: 40px;
    font-size: calc(43vw/12);
    letter-spacing: 1.3px;
  }

  .more {
    padding: 6.5% 0 8%;
  }
  .more .m_h {
    font-size: calc(42vw/12);
    line-height: 1.5;
    letter-spacing: 1.3px;
  }
  .more .m_h span {
    font-size: calc(45vw/12);
  }
  .more .m_btn {
    margin: 5% 0 0;
  }
  .more .m_btn a {
    padding: 2.5% 0;
    border-radius: 40px;
    border: 2px solid #138745;
    font-size: calc(50vw/12);
    letter-spacing: 1.6px;
  }
  .more .m_btn a:hover {
    background: none;
    color: #138745;
  }

  .bagg {
    padding: 0.5% 1.5%;
    margin: 0 0 1% 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.4px;
  }

  .contents {
    padding: 5% 0 0;
  }
  .contents .b_b {
    padding: 0 0 2%;
    border-bottom: 1px solid #606060;
  }
  .contents .c_ge {
    display: inline-block;
    padding: 1% 2.2% 1.2%;
    margin: 6% 0 4%;
    border-radius: 30px;
    font-size: calc(40vw/12);
    border: 2px solid #138745;
  }
  .contents .c_ge span {
    font-size: calc(42vw/12);
  }
  .contents .c_h {
    font-size: calc(62vw/12);
    letter-spacing: 1.3px;
  }
  .contents .c_h span {
    font-size: calc(65vw/12);
  }
  .contents .c_sub {
    margin: 4.5% 0 0;
    font-size: calc(38vw/12);
  }
  .contents .ce_sec {
    margin: 7% 0 0;
  }
  .contents .c_h_m {
    margin: 3% 0 0;
  }
  .contents .c_t {
    margin: 2% 0 0;
    font-size: calc(39vw/12);
    line-height: 1.3;
  }
  .contents .c_e {
    border-left: 7px solid #138745;
    padding: 0 0 0 2.6%;
    line-height: 1.4;
    font-size: calc(50vw/12);
  }
  .contents .c_e span {
    letter-spacing: 1.3px;
    font-size: calc(52vw/12);
  }
  .contents .c_i {
    padding: 8% 0;
  }
  .contents .date {
    padding: 0.8% 4.2% 1%;
    border-radius: 30px;
    font-size: calc(42vw/12);
    letter-spacing: 1.4px;
  }
  .contents .date span {
    font-size: calc(45vw/12);
  }
  .contents .c_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5.5% 0 0;
  }
  .contents .team {
    margin: 5.5% 0 0;
    font-size: calc(30vw/12);
    letter-spacing: 1.3px;
    line-height: 1.3;
  }
  .contents .c_btn {
    max-width: none;
    margin: 5% auto 0;
  }
  .contents .c_btn a {
    padding: 3.5% 0;
    border-radius: 40px;
    font-size: calc(42vw/12);
    letter-spacing: 1.3px;
  }
  .contents .c_four {
    padding: 0 0 2%;
    margin: 1% 0 0;
  }
  .contents .c_four .c_f_item li {
    padding: 3.5% 0;
  }
  .contents .c_four .c_f_item .c_f_dl dd {
    width: 46%;
  }
  .contents .c_four .c_f_item .c_f_dl dt {
    width: 50.5%;
    margin: 0 0 0 3.5%;
    font-size: calc(36vw/12);
    line-height: 1.3;
  }
  .contents .c_sit_t {
    padding: 0 0 6%;
    margin: 4% 0 0;
  }
  .contents .c_sit_t li {
    width: 48%;
    margin: 5% 0 0 4%;
    border-radius: 0 0 5px 5px;
  }
  .contents .c_sit_t li a figure {
    line-height: 0;
  }
  .contents .c_sit_t li a .c_text {
    padding: 6%;
    font-size: calc(42vw/12);
    line-height: 1.4;
  }
  .contents .c_six {
    padding: 0 0 6%;
    margin: 4% 0 0;
  }
  .contents .c_six li {
    width: 48%;
    padding: 0 0 11%;
    margin: 5% 0 0 4%;
    border-radius: 0 0 6px 6px;
  }
  .contents .c_six li .c_text {
    padding: 6%;
    font-size: calc(42vw/12);
    line-height: 1.4;
  }
  .contents .c_six li .cs_btn {
    bottom: 1%;
    width: 100%;
  }
  .contents .c_six li .cs_btn a {
    padding: 4.2% 0;
    border-radius: 30px;
    font-size: calc(48vw/12);
  }
  .contents .c_eight .c_e_list {
    padding: 0 0 4%;
    margin: 4% 0 0;
  }
  .contents .c_eight .c_e_list:first-of-type {
    margin: 0;
  }
  .contents .c_eight .large {
    margin: 4.5% 0 0;
  }
  .contents .c_eight .thumb {
    margin: 2.5% 0 0;
  }
  .contents .c_eight .thumb li {
    margin: 0 0 0 2%;
  }
  .contents .c_eight .thumb li:first-child {
    margin: 0;
  }
  .contents .c_eight .thumb li a {
    overflow: hidden;
    display: block;
    line-height: 0;
    -webkit-transition: none;
    transition: none;
  }
  .contents .c_eight .thumb li a img {
    margin: 0;
  }
  .contents .c_eight .thumb li .active {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid #138745;
  }
  .contents .c_eight .thumb li .active img {
    margin: -1.6px 0;
    opacity: .8;
  }
  .contents .c_eight .btn {
    margin: 5% 0 0;
  }
  .contents .c_eight .btn a {
    padding: 3% 0;
    border-radius: 30px;
    font-size: calc(51vw/12);
  }
  .contents .ls_btn {
    margin: 0;
  }
  .contents .ls_btn a {
    padding: 2.5% 0;
    border-radius: 30px;
    border: 2px solid #138745;
    font-size: calc(52vw/12);
    letter-spacing: 1.6px;
  }
  .contents .ls_btn a span {
    font-size: calc(54vw/12);
  }
  .contents .ls_btn a:hover {
    background: #138745;
    color: #fff;
    opacity: 1;
  }
  .contents .c_nineteen {
    padding: 0 0 4%;
    margin: 2.5% 0 0;
  }
  .contents .c_nineteen .bagg {
    padding: 0.8% 2.5%;
    margin: 0 0 1% 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.4px;
  }
  .contents .c_nineteen figure {
    margin: 0 0 4%;
  }
  .contents .c_nineteen .c_19t {
    margin: 2.5% 0 0 0;
    font-size: calc(42vw/12);
    line-height: 1.3;
  }
  .contents .c_nineteen .c_btn {
    margin: 6% 0 0;
  }
  .contents .c_nineteen .c_btn a {
    padding: 3% 0;
    border-radius: 40px;
    font-size: calc(40vw/12);
  }
  .contents .c_nineteen .c19_item li {
    padding: 3% 0;
  }

  .c_s {
    padding: 0;
  }

  .cbl_ls {
    padding: 8% 0 7%;
  }

  .point {
    padding: 10% 0 7%;
  }
  .point .p_h {
    width: 93%;
    margin: 0 auto;
  }

  .banner .b_wrap {
    padding: 4% 4.5% 5.8%;
  }
  .banner .b_h {
    font-size: calc(50vw/12);
  }
  .banner .b_t {
    margin: 3.2% 0 0;
    font-size: calc(38vw/12);
    line-height: 1.45;
  }
  .banner .b_btn {
    margin: 4.8% 0 0;
  }
  .banner .b_btn a {
    padding: 3.5% 0;
    border-radius: 5px;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
  }

  .gline {
    background: #fff;
    padding: 0 0 3%;
  }
  .gline .g_w {
    height: 28px;
    margin: 0 auto;
  }

  .genre {
    padding: 2% 0 6%;
  }
  .genre .wrap {
    padding: 3% 0 0;
    margin: 0 5%;
  }
  .genre .g_h {
    font-size: calc(50vw/12);
  }
  .genre .g_item {
    margin: 6% 0 0;
  }
  .genre .g_item li {
    float: left;
    width: 48%;
    margin: 0 0 0 4%;
  }
  .genre .g_item li:nth-child(2n+1) {
    margin: 4% 0 0 0;
  }
  .genre .g_item li:nth-child(2n+2) {
    margin: 4% 0 0 4%;
  }
  .genre .g_item li:nth-child(1) {
    margin: 0;
  }
  .genre .g_item li:nth-child(2) {
    margin: 0 0 0 4%;
  }
  .genre .g_item li a {
    padding: 8% 0;
    border: 2px solid #138745;
    border-radius: 5px;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
  }
  .genre .g_item li a:hover {
    background: none;
    color: #138745;
  }

  aside {
    padding: 2% 0 2%;
  }
  aside .wrap {
    padding: 0 5%;
  }
  aside .f_d {
    padding: 0.2% 0 0;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(41vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(35vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(31vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 0 5.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }
  aside .f_d dd a:hover {
    text-decoration: underline;
  }
  aside .f_d .dd_last {
    line-height: 1.2;
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }

  footer {
    padding: 4% 0 3%;
  }
  footer .wrap {
    padding: 0 0 5%;
    margin: 0 5%;
  }
  footer .copy {
    margin: 4% 0 6%;
  }
  footer .copy li {
    margin: 0.7% 1.5% 0 0;
    line-height: 1.3;
    font-size: calc(24vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 10px 0 0;
  }
  footer .f_list li a {
    padding: 0 12px 0 0;
    font-size: calc(28vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 480px) {
  .bline {
    height: 31px;
  }

  .line {
    height: 17px;
  }

  .f_line {
    background: #fff;
    height: 31px;
  }

  .dn {
    display: none;
  }

  .wrap {
    padding: 0 2%;
  }

  .b_l {
    padding: 0 0 7.4% !important;
  }

  header {
    border-top: 7px solid #138745;
  }
  header .logo {
    padding: 1.6% 0 1.6% 2.5%;
  }
  header .logo span {
    width: 21%;
  }
  header .h_wrap {
    position: relative;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/5a4ebd6d031f823142068d67ddd061df_1b1fb441fa0d7b7e5fc512160ede02c7.png) center center no-repeat;
    background-size: cover;
    height: auto;
    max-width: 1920px;
    margin: 0 auto;
    padding: 9.5% 0 10.4%;
  }
  header .h_wrap .h_i {
    width: 79%;
    margin: 0 auto;
  }

  .info {
    padding: 8% 0 3%;
  }
  .info .i_h {
    font-size: calc(52vw/12);
  }
  .info .i_h span {
    font-size: calc(55vw/12);
  }
  .info .i_t {
    margin: 5% 0 0;
    font-size: calc(39vw/12);
    line-height: 1.55;
  }
  .info .mw_b {
    margin: 7% auto 0;
  }
  .info .m_i {
    width: 100%;
    padding-top: 56.25%;
    margin: 18px auto 0;
  }
  .info .m_i iframe {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .info .i_btn {
    margin: 6% auto 0;
  }
  .info .i_btn a {
    padding: 3% 0;
    border-radius: 40px;
    font-size: calc(45vw/12);
    letter-spacing: 1.3px;
  }

  .more {
    padding: 4.5% 0 6%;
  }
  .more .m_h {
    font-size: calc(38vw/12);
    line-height: 1.5;
    letter-spacing: 1.3px;
  }
  .more .m_h span {
    font-size: calc(40vw/12);
  }
  .more .m_btn {
    margin: 5% 0 0;
  }
  .more .m_btn a {
    padding: 2.5% 0;
    border-radius: 40px;
    border: 1.5px solid #138745;
    font-size: calc(52vw/12);
    letter-spacing: 1.4px;
  }

  .bagg {
    padding: 0.5% 1.5%;
    margin: 0 0 0.5% 0;
    font-size: calc(28vw/12);
    letter-spacing: 1.4px;
  }

  .contents {
    padding: 4% 0 0;
  }
  .contents .b_b {
    padding: 0 0 2%;
  }
  .contents .c_ge {
    display: inline-block;
    padding: 1% 2.2% 1.2%;
    margin: 8% 0 4%;
    border-radius: 30px;
    font-size: calc(42vw/12);
    border: 1.5px solid #138745;
  }
  .contents .c_ge span {
    font-size: calc(44vw/12);
  }
  .contents .c_h {
    font-size: calc(65vw/12);
    letter-spacing: 1.3px;
  }
  .contents .c_h span {
    font-size: calc(68vw/12);
  }
  .contents .c_sub {
    margin: 4% 0 0;
    font-size: calc(40vw/12);
  }
  .contents .ce_sec {
    margin: 7% 0 0;
  }
  .contents .c_h_m {
    margin: 3% 0 0;
  }
  .contents .c_t {
    margin: 2% 0 0;
    font-size: calc(41vw/12);
    line-height: 1.3;
  }
  .contents .c_e {
    border-left: 4px solid #138745;
    padding: 0 0 0 2.6%;
    line-height: 1.4;
    font-size: calc(52vw/12);
  }
  .contents .c_e span {
    letter-spacing: 1.3px;
    font-size: calc(54vw/12);
  }
  .contents .c_four {
    padding: 0 0 2%;
    margin: 1% 0 0;
  }
  .contents .c_four .c_f_item li {
    padding: 3.5% 0;
  }
  .contents .c_four .c_f_item .c_f_dl dd {
    width: 46%;
  }
  .contents .c_four .c_f_item .c_f_dl dt {
    width: 50.5%;
    margin: 0 0 0 3.5%;
    font-size: calc(38vw/12);
    line-height: 1.3;
  }
  .contents .c_sit_t {
    padding: 0 0 6%;
    margin: 5% 0 0;
  }
  .contents .c_sit_t li {
    width: 48%;
    margin: 5% 0 0 4%;
    border-radius: 0 0 4px 4px;
  }
  .contents .c_sit_t li a figure {
    line-height: 0;
  }
  .contents .c_sit_t li a .c_text {
    padding: 6%;
    font-size: calc(44vw/12);
    line-height: 1.4;
  }
  .contents .c_six {
    padding: 0 0 6%;
    margin: 4% 0 0;
  }
  .contents .c_six li {
    width: 48%;
    padding: 0 0 11%;
    margin: 5% 0 0 4%;
    border-radius: 0 0 6px 6px;
  }
  .contents .c_six li .c_text {
    padding: 6%;
    font-size: calc(42vw/12);
    line-height: 1.4;
  }
  .contents .c_six li .cs_btn {
    bottom: 1%;
    width: 100%;
  }
  .contents .c_six li .cs_btn a {
    padding: 4.2% 0;
    border-radius: 30px;
    font-size: calc(48vw/12);
  }
  .contents .c_eight .c_e_list {
    padding: 0 0 4%;
    margin: 4% 0 0;
  }
  .contents .c_eight .c_e_list:first-of-type {
    margin: 0;
  }
  .contents .c_eight .large {
    margin: 4.5% 0 0;
  }
  .contents .c_eight .thumb {
    margin: 2.5% 0 0;
  }
  .contents .c_eight .thumb li {
    margin: 0 0 0 2%;
  }
  .contents .c_eight .thumb li:first-child {
    margin: 0;
  }
  .contents .c_eight .thumb li a {
    overflow: hidden;
    display: block;
    line-height: 0;
    -webkit-transition: none;
    transition: none;
  }
  .contents .c_eight .thumb li a img {
    margin: 0;
  }
  .contents .c_eight .thumb li .active {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #138745;
  }
  .contents .c_eight .thumb li .active img {
    margin: -1.2px 0;
    opacity: .8;
  }
  .contents .c_eight .btn {
    margin: 5% 0 0;
  }
  .contents .c_eight .btn a {
    padding: 3% 0;
    border-radius: 30px;
    font-size: calc(53vw/12);
  }
  .contents .ls_btn {
    margin: 0;
  }
  .contents .ls_btn a {
    padding: 2.5% 0;
    border-radius: 30px;
    border: 1.5px solid #138745;
    font-size: calc(55vw/12);
    letter-spacing: 1.6px;
  }
  .contents .ls_btn a span {
    font-size: calc(58vw/12);
  }
  .contents .ls_btn a:hover {
    background: #138745;
    color: #fff;
    opacity: 1;
  }
  .contents .c_nineteen {
    padding: 0 0 4%;
    margin: 2.5% 0 0;
  }
  .contents .c_nineteen .bagg {
    padding: 0.8% 2.5%;
    margin: 0 0 0.5% 0;
    font-size: calc(28vw/12);
    letter-spacing: 1.4px;
  }
  .contents .c_nineteen figure {
    margin: 0 0 4%;
  }
  .contents .c_nineteen .c_19h {
    margin: 2.2% 0 0;
    font-size: calc(44vw/12);
  }
  .contents .c_nineteen .c_19t {
    margin: 2.5% 0 0 0;
    font-size: calc(44vw/12);
    line-height: 1.3;
  }
  .contents .c_nineteen .c_btn {
    margin: 6% 0 0;
  }
  .contents .c_nineteen .c_btn a {
    padding: 3% 0;
    border-radius: 35px;
    font-size: calc(42vw/12);
  }
  .contents .c_nineteen .c19_item li {
    padding: 2% 0;
  }

  .c_s {
    padding: 0;
  }

  .cbl_ls {
    padding: 7% 0 6%;
  }

  .point {
    padding: 7% 0 4%;
  }
  .point .p_h {
    width: 93%;
    margin: 0 auto;
  }

  .banner .b_wrap {
    padding: 4% 4.5% 5.8%;
  }
  .banner .b_h {
    font-size: calc(52vw/12);
  }
  .banner .b_t {
    margin: 3.2% 0 0;
    font-size: calc(40vw/12);
    line-height: 1.5;
  }
  .banner .b_btn {
    margin: 4.8% 0 0;
  }
  .banner .b_btn a {
    padding: 3.5% 0;
    border-radius: 5px;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
  }

  .gline {
    padding: 0 0 3%;
  }
  .gline .g_w {
    height: 17px;
  }

  .genre {
    padding: 1% 0 7%;
  }
  .genre .wrap {
    padding: 3% 0 0;
    margin: 0 5%;
  }
  .genre .g_h {
    font-size: calc(52vw/12);
  }
  .genre .g_item {
    margin: 6% 0 0;
  }
  .genre .g_item li {
    float: left;
    width: 48%;
    margin: 0 0 0 4%;
  }
  .genre .g_item li:nth-child(2n+1) {
    margin: 4% 0 0 0;
  }
  .genre .g_item li:nth-child(2n+2) {
    margin: 4% 0 0 4%;
  }
  .genre .g_item li:nth-child(1) {
    margin: 0;
  }
  .genre .g_item li:nth-child(2) {
    margin: 0 0 0 4%;
  }
  .genre .g_item li a {
    padding: 8% 0;
    border: 1px solid #138745;
    border-radius: 4px;
    font-size: calc(46vw/12);
    letter-spacing: 1.2px;
  }
  .genre .g_item li a:hover {
    background: none;
    color: #138745;
  }

  aside {
    padding: 2% 0 4%;
  }
  aside .f_d {
    padding: 0.2% 0 0;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(46vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(39vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(33vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 0 5.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(34vw/12);
  }
  aside .f_d dd a:hover {
    text-decoration: underline;
  }
  aside .f_d .dd_last {
    line-height: 1.3;
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(34vw/12);
  }

  footer {
    padding: 4.5% 0 4.5%;
  }
  footer .wrap {
    padding: 0 0 5%;
    margin: 0 5%;
  }
  footer .copy {
    margin: 4% 0 6%;
  }
  footer .copy li {
    margin: 1% 0 0 0;
    line-height: 1.3;
    font-size: calc(28vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 8px 0 0;
  }
  footer .f_list li a {
    padding: 0 5px 0 0;
    font-size: calc(30vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(28vw/12);
    letter-spacing: 0.5px;
  }
}
@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes item_list {
  100% {
    opacity: 1;
  }
}
@keyframes item_list {
  100% {
    opacity: 1;
  }
}
.ani_list01 {
  -webkit-animation: item_sp 0.5s ease 2s 1 forwards;
  animation: item_sp 1s ease 1.5s 1 forwards;
}

.ani_list01 {
  opacity: 0;
}
