* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #000;
  margin: 0 auto;
  background: #fff;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

.line {
  background: #efefef;
  max-width: 768px;
  margin: 0 auto;
  height: 34px;
}

.wrap {
  max-width: 768px;
  margin: 0 auto;
}

.pcv {
  display: block;
}

.spv {
  display: none;
}

header .logo {
  background: #000;
  padding: 13px 0 15px 20px;
}
header .logo span {
  display: block;
  max-width: 151px;
}
header .h_wrap .h_box {
  background: #fe9abb;
  margin: 0 auto;
  height: 720px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_wrap .h_box .h_h {
  max-width: 1920px;
  margin: 0 auto;
}

.cp {
  background: #ff368a;
  padding: 55px 0 55px;
}
.cp .cp_t {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 1.4px;
  color: #fff;
}

.contents {
  background: #fff;
  padding: 50px 0 0;
}
.contents .c_h {
  line-height: 1.4;
  font-size: 32px;
  letter-spacing: 1.3px;
}
.contents .c_h span {
  font-size: 36px;
}
.contents .c_h_m {
  margin: 50px 0 0;
}
.contents .c_t {
  margin: 20px 0 0;
  line-height: 1.3;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1.4px;
  color: #666666;
}
.contents .ls_btn {
  padding: 80px 0 80px;
}
.contents .ls_btn a {
  display: block;
  padding: 15px 0;
  border-radius: 30px;
  border: 3px solid #ff368a;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2.2px;
  color: #ff368a;
}
.contents .ls_btn a span {
  font-size: 33px;
}
.contents .ls_btn a:hover {
  background: #ff368a;
  color: #fff;
  opacity: 1;
}
.contents .c_eight .c_e_list {
  padding: 0 0 8%;
  margin: 5% 0 0;
}
.contents .c_eight .large {
  margin: 35px 0 0;
}
.contents .c_eight .thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0 0;
}
.contents .c_eight .thumb li {
  margin: 0 0 0 2%;
}
.contents .c_eight .thumb li:first-child {
  margin: 0;
}
.contents .c_eight .thumb li a {
  overflow: hidden;
  display: block;
  line-height: 0;
  -webkit-transition: none;
  transition: none;
}
.contents .c_eight .thumb li a img {
  margin: 0;
}
.contents .c_eight .thumb li .active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #ff368a;
}
.contents .c_eight .thumb li .active img {
  margin: -2px 0;
  opacity: .8;
}
.contents .c_eight .btn {
  margin: 31px 0 0;
}
.contents .c_eight .btn a {
  display: block;
  background: #ff368a;
  padding: 20px 0;
  border-radius: 40px;
  text-align: center;
  font-size: 32px;
  color: #fff;
}
.contents .c_nineteen {
  padding: 0 0 0;
  margin: 25px 0 0;
}
.contents .c_nineteen figure {
  line-height: 0;
}
.contents .c_nineteen .c_19h {
  margin: 40px 0 0;
  font-size: 27px;
  font-weight: bold;
}
.contents .c_nineteen .c_19t {
  margin: 36px 0 0 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.35;
  color: #666666;
}
.contents .c_nineteen .c_btn {
  margin: 40px 0 0;
}
.contents .c_nineteen .c_btn a {
  display: block;
  background: #3a2;
  padding: 15px 0;
  text-align: center;
  border-radius: 6px;
  font-size: 30px;
  color: #fff;
}
.contents .c_nineteen .c19_item li a {
  display: block;
}
.contents .c_nineteen .c19_item li:first-child {
  border-top: none;
}
.contents .c_s {
  padding: 0;
}

footer {
  background: #ff368a;
  padding: 35px 0 50px;
}
footer .copy {
  overflow: hidden;
  margin: 0 0 40px;
}
footer .copy li {
  float: left;
  width: 100%;
  margin: 5px 0 0 5px;
  line-height: 1.3;
  font-size: 16px;
  color: #fff;
}
footer .f_list {
  overflow: hidden;
  margin: 10px 0 0;
}
footer .f_list li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .f_list li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #fff;
}
footer .f_list li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}
footer .f_list li:last-child:after {
  content: '';
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1.3px;
  color: #fff;
}

@media screen and (max-width: 1920px) {
  header .logo {
    background: #000;
    padding: 13px 0 15px 20px;
  }
  header .logo span {
    display: block;
    max-width: 151px;
  }
  header .h_wrap .h_box {
    height: auto;
  }
  header .h_wrap .h_box .h_h {
    max-width: 1920px;
    margin: 0 auto;
    line-height: 0;
  }
}
@media screen and (max-width: 768px) {
  .pcv {
    display: none;
  }

  .spv {
    display: block;
  }

  .wrap {
    padding: 0 4.5%;
  }

  .line {
    height: 28px;
  }

  header .logo {
    padding: 1.53% 0 1.58% 2.5%;
    line-height: 0;
  }
  header .logo span {
    line-height: 0;
    width: 21%;
  }
  header .h_wrap .h_box {
    height: auto;
  }
  header .h_wrap .h_box .h_h {
    width: 100%;
  }

  .cp {
    padding: 6% 0 5.5%;
  }
  .cp .cp_t {
    font-size: calc(38vw/12);
    line-height: 1.6;
    letter-spacing: 1.4px;
  }

  .contents {
    padding: 7% 0 0;
  }
  .contents .c_h {
    line-height: 1.4;
    font-size: calc(52vw/12);
    letter-spacing: 1.3px;
  }
  .contents .c_h span {
    font-size: calc(55vw/12);
  }
  .contents .c_h_m {
    margin: 7% 0 0;
  }
  .contents .c_t {
    margin: 3% 0 0;
    font-size: calc(41vw/12);
    letter-spacing: 1.4px;
  }
  .contents .ls_btn {
    padding: 11% 0;
  }
  .contents .ls_btn a {
    padding: 2.5% 0;
    border-radius: 30px;
    border: 2px solid #ff368a;
    font-size: calc(52vw/12);
    letter-spacing: 1.6px;
  }
  .contents .ls_btn a span {
    font-size: calc(54vw/12);
  }
  .contents .ls_btn a:hover {
    background: none;
    color: #ff368a;
    opacity: 1;
  }
  .contents .c_eight .c_e_list {
    padding: 0 0 4%;
    margin: 4% 0 0;
  }
  .contents .c_eight .large {
    margin: 4.5% 0 0;
  }
  .contents .c_eight .thumb {
    margin: 2.5% 0 0;
  }
  .contents .c_eight .thumb li {
    margin: 0 0 0 2%;
  }
  .contents .c_eight .thumb li:first-child {
    margin: 0;
  }
  .contents .c_eight .thumb li a {
    overflow: hidden;
    display: block;
    line-height: 0;
    -webkit-transition: none;
    transition: none;
  }
  .contents .c_eight .thumb li a img {
    margin: 0;
  }
  .contents .c_eight .thumb li .active {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid #ff368a;
  }
  .contents .c_eight .thumb li .active img {
    margin: -1.6px 0;
    opacity: .8;
  }
  .contents .c_eight .btn {
    margin: 4.5% 0 0;
  }
  .contents .c_eight .btn a {
    padding: 3% 0;
    border-radius: 40px;
    font-size: calc(51vw/12);
  }
  .contents .c_nineteen {
    padding: 0;
    margin: 4% 0 0;
  }
  .contents .c_nineteen figure {
    line-height: 0;
  }
  .contents .c_nineteen .c_19h {
    margin: 5.5% 0 0;
    font-size: calc(42vw/12);
  }
  .contents .c_nineteen .c_19t {
    margin: 5.5% 0 0 0;
    font-size: calc(37vw/12);
    line-height: 1.4;
  }
  .contents .c_nineteen .c_btn {
    margin: 6% 0 0;
  }
  .contents .c_nineteen .c_btn a {
    padding: 3% 0;
    border-radius: 5px;
    font-size: calc(40vw/12);
  }
  .contents .c_nineteen .c19_item li {
    padding: 0;
  }

  footer {
    padding: 5% 0 7%;
  }
  footer .wrap {
    padding: 0 4.5% 0;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 1% 0 0 1%;
    line-height: 1.3;
    font-size: calc(25vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 10px 0 0;
  }
  footer .f_list li a {
    padding: 0 12px 0 0;
    font-size: 13px;
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 480px) {
  .wrap {
    padding: 0 4.5%;
  }

  .line {
    height: 18px;
  }

  header .logo {
    padding: 1.53% 0 1.58% 2.5%;
    line-height: 0;
  }
  header .logo span {
    line-height: 0;
    width: 21%;
  }

  .cp {
    padding: 5% 0 4.5%;
  }
  .cp .cp_t {
    font-size: calc(40vw/12);
    line-height: 1.6;
    letter-spacing: 1.4px;
  }

  .contents {
    padding: 6% 0 0;
  }
  .contents .c_h {
    line-height: 1.4;
    font-size: calc(54vw/12);
    letter-spacing: 1.3px;
  }
  .contents .c_h span {
    font-size: calc(57vw/12);
  }
  .contents .c_h_m {
    margin: 7% 0 0;
  }
  .contents .c_t {
    margin: 3% 0 0;
    font-size: calc(4.vw/12);
    letter-spacing: 1.4px;
  }
  .contents .ls_btn {
    padding: 11% 0;
  }
  .contents .ls_btn a {
    padding: 2.5% 0;
    border-radius: 40px;
    border: 2px solid #ff368a;
    font-size: calc(54vw/12);
    letter-spacing: 1.6px;
  }
  .contents .ls_btn a span {
    font-size: calc(56vw/12);
  }
  .contents .c_eight .c_e_list {
    padding: 0 0 4%;
    margin: 4% 0 0;
  }
  .contents .c_eight .large {
    margin: 4.5% 0 0;
  }
  .contents .c_eight .thumb {
    margin: 2.5% 0 0;
  }
  .contents .c_eight .thumb li {
    margin: 0 0 0 2%;
  }
  .contents .c_eight .thumb li:first-child {
    margin: 0;
  }
  .contents .c_eight .thumb li a {
    overflow: hidden;
    display: block;
    line-height: 0;
    -webkit-transition: none;
    transition: none;
  }
  .contents .c_eight .thumb li a img {
    margin: 0;
  }
  .contents .c_eight .thumb li .active {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #ff368a;
  }
  .contents .c_eight .thumb li .active img {
    margin: -0.9px 0;
    opacity: .8;
  }
  .contents .c_eight .btn {
    margin: 4.5% 0 0;
  }
  .contents .c_eight .btn a {
    padding: 3% 0;
    border-radius: 40px;
    font-size: calc(53vw/12);
  }
  .contents .c_nineteen {
    padding: 0;
    margin: 4% 0 0;
  }
  .contents .c_nineteen figure {
    line-height: 0;
  }
  .contents .c_nineteen .c_19h {
    margin: 5.5% 0 0;
    font-size: calc(44vw/12);
  }
  .contents .c_nineteen .c_19t {
    margin: 5.5% 0 0 0;
    font-size: calc(39vw/12);
    line-height: 1.4;
  }
  .contents .c_nineteen .c_btn {
    margin: 6% 0 0;
  }
  .contents .c_nineteen .c_btn a {
    padding: 3% 0;
    border-radius: 5px;
    font-size: calc(42vw/12);
  }
  .contents .c_nineteen .c19_item li {
    padding: 0;
  }

  footer {
    padding: 4.5% 0 6.5%;
  }
  footer .wrap {
    padding: 0 5% 0;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 1% 0 0 1%;
    line-height: 1.3;
    font-size: calc(27vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 8px 0 0;
  }
  footer .f_list li a {
    padding: 0 10px 0 0;
    font-size: 10px;
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(28vw/12);
    letter-spacing: 0.5px;
  }
}
@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@keyframes item_sp {
  100% {
    opacity: 1;
  }
}
.a01 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 2.5s 1 forwards;
}

.a02 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 2.9s 1 forwards;
}

.a03 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 3.3s 1 forwards;
}

.a04 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 3.7s 1 forwards;
}
