body * { margin: 0; padding: 0; line-height: 1; }

body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #fff; }
body li { list-style: none; }

a { -webkit-transition: .3s; transition: .3s; text-decoration: none; }
a:hover { text-decoration: none; opacity: .8; }

img { width: 100%; }

.footer__inner { background: #f4f3ff !important; padding: 0 0 1%; }

header { position: relative; background: #efeeff; }
header .figure_img { background-image: url(https://goo.gl/trNdXR), url(https://goo.gl/K3iZsb); background-repeat: no-repeat, no-repeat; background-position: center top, center top; background-size: 100%, cover; max-width: 1920px; margin: 0 auto; }
header .header_wrap h1 { max-width: 225px; padding: 8px 0 0; }
header .header_wrap h1 img { width: 100%; }
header .header_inner { max-width: 1080px; margin: 0 auto; text-align: center; }
header .header_inner .base { margin: 2.5% 0 0 0; }
header .header_inner .base_chara { max-width: 497px; margin: 0 0 -5% 23%; }
header .header_inner .base_logo { max-width: 862px; margin: 3.8% 0 0 9%; }
header .header_inner .base_obi { max-width: 245px; margin: -1% 0 0 35%; padding: 0 0 4%; }

@media screen and (max-width: 1500px) { header .header_wrap h1 { padding: 8px 0 0; }
  header .header_wrap h1 img { width: 80%; }
  header .header_inner { margin: 0 auto; }
  header .header_inner .base { margin: 0.5% 0 0 -5%; }
  header .header_inner .base_chara { margin: 0 auto -5%; }
  header .header_inner .base_chara img { width: 80%; }
  header .header_inner .base_logo { margin: 4.05% 0 0 13%; }
  header .header_inner .base_logo img { width: 80%; }
  header .header_inner .base_obi { margin: -1% auto 0; padding: 0 0 4%; }
  header .header_inner .base_obi img { width: 70%; } }
@media screen and (max-width: 1280px) { header .header_wrap h1 { padding: 8px 0 0; }
  header .header_wrap h1 img { width: 60%; }
  header .header_inner { margin: 0 auto; }
  header .header_inner .base { margin: 0 0 0 -5%; }
  header .header_inner .base_chara { margin: 0 auto -5%; }
  header .header_inner .base_chara img { width: 70%; }
  header .header_inner .base_logo { margin: 4.1% 0 0 13%; }
  header .header_inner .base_logo img { width: 70%; }
  header .header_inner .base_obi { margin: -1% auto 0; padding: 0 0 3%; }
  header .header_inner .base_obi img { width: 70%; } }
@media screen and (max-width: 1080px) { header .header_wrap h1 { padding: 8px 0 0 10px; text-align: left; }
  header .header_wrap h1 img { width: 60%; }
  header .header_inner { margin: 0 auto; }
  header .header_inner .base { margin: 0% 0 0 -5%; }
  header .header_inner .base_chara { margin: 0 auto -5%; }
  header .header_inner .base_chara img { width: 56%; }
  header .header_inner .base_logo { margin: 4.1% 0 0 11%; }
  header .header_inner .base_logo img { width: 52%; }
  header .header_inner .base_obi { margin: -0.5% auto 0; padding: 0 0 2%; }
  header .header_inner .base_obi img { width: 60%; } }
@media screen and (max-width: 860px) { header .header_wrap h1 { padding: 8px 0 0 10px; text-align: left; }
  header .header_wrap h1 img { width: 60%; }
  header .header_inner { margin: 0 auto; }
  header .header_inner .base { margin: -1% 0 0 -5%; }
  header .header_inner .base_chara { margin: 0 auto -5%; }
  header .header_inner .base_chara img { width: 50%; }
  header .header_inner .base_logo { margin: 4.1% 0 0 5%; }
  header .header_inner .base_logo img { width: 47%; }
  header .header_inner .base_obi { margin: -0.5% auto 0; padding: 0 0 2%; }
  header .header_inner .base_obi img { width: 50%; } }
@media screen and (max-width: 768px) { header .figure_img { background-image: url(https://goo.gl/wtemEJ), url(https://goo.gl/vHSLfK); }
  header .header_wrap h1 { padding: 3% 0 0 3%; text-align: left; }
  header .header_wrap h1 img { width: 65%; }
  header .header_inner { margin: 0 auto; }
  header .header_inner .base { width: 100%; margin: 1% 0 0 0; }
  header .header_inner .base_chara { margin: 0 0 -5% 12%; }
  header .header_inner .base_chara img { width: 75%; }
  header .header_inner .base_logo { margin: 3.8% 0 0 0; }
  header .header_inner .base_logo img { width: 84%; }
  header .header_inner .base_obi { margin: -1.5% 0 0 30%; padding: 0 0 2%; }
  header .header_inner .base_obi img { width: 65%; } }
.owndbar__footer { margin: -500px; }

.powered-by { display: none; }

@media screen and (max-width: 640px) { header .header_wrap h1 { padding: 3% 0 0 3%; }
  header .header_wrap h1 img { width: 65%; }
  header .header_inner { margin: 0 auto; }
  header .header_inner .base { width: 100%; margin: 1% 0 0 0; }
  header .header_inner .base_chara { margin: 0 0 -5% 6%; }
  header .header_inner .base_chara img { width: 65%; }
  header .header_inner .base_logo { margin: 3.8% 0 0 0; }
  header .header_inner .base_logo img { width: 83%; }
  header .header_inner .base_obi { margin: -1.5% 0 0 27%; padding: 0 0 2%; }
  header .header_inner .base_obi img { width: 55%; } }
@media screen and (max-width: 480px) { header .header_wrap h1 { line-height: 0; padding: 2% 0 0 4%; }
  header .header_wrap h1 img { width: 50%; }
  header .header_inner { margin: 0 auto; }
  header .header_inner .base { width: 100%; margin: 2% 0 0 0; }
  header .header_inner .base_chara { margin: 0 0 -5% -6%; }
  header .header_inner .base_chara img { width: 45%; }
  header .header_inner .base_logo { margin: 3.5% 0 0 0; }
  header .header_inner .base_logo img { width: 83%; }
  header .header_inner .base_obi { margin: -1.5% 0 0 20%; padding: 0 0 2%; }
  header .header_inner .base_obi img { width: 50%; } }
@media screen and (max-width: 414px) { header .header_wrap h1 { padding: 2% 0 0 3%; }
  header .header_wrap h1 img { width: 40%; }
  header .header_inner { margin: 0 auto; }
  header .header_inner .base { width: 100%; margin: 5% 0 0 0; }
  header .header_inner .base_chara { margin: -3% 0 -5% -11%; }
  header .header_inner .base_chara img { width: 46%; }
  header .header_inner .base_logo { margin: 3.5% 0 0 0; }
  header .header_inner .base_logo img { width: 83%; }
  header .header_inner .base_obi { margin: -1.5% 0 0 16%; padding: 0 0 2%; }
  header .header_inner .base_obi img { width: 45%; } }
@media screen and (max-width: 375px) { header .header_wrap h1 { padding: 2% 0 0 3%; }
  header .header_wrap h1 img { width: 40%; }
  header .header_inner { margin: 0 auto; }
  header .header_inner .base { width: 100%; margin: 5% 0 0 0; }
  header .header_inner .base_chara { margin: -3% 0 -5% -11%; }
  header .header_inner .base_chara img { width: 46%; }
  header .header_inner .base_logo { margin: 3.5% 0 0 0; }
  header .header_inner .base_logo img { width: 83%; }
  header .header_inner .base_obi { margin: -1.5% 0 0 11%; padding: 0 0 2%; }
  header .header_inner .base_obi img { width: 45%; } }
.app-banner { display: none; }

.keyvisual { display: none; }

.keyvisual__image { max-width: 100%; }

.block__inner h2 { line-height: 1.3; }
.block__inner h2 b { font-size: 30px; letter-spacing: -0.7px; color: #ff3287; }

.block__inner h3 { line-height: 1.3; }
.block__inner h3 b { font-size: 26px; color: #ff3287; }

.block__inner h3 { background: #ff3287; display: inline-block; padding: 10px 20px; border-radius: 26px; font-weight: bold; text-align: center; color: #fff; }

.block__inner h3 { display: inline-block; max-width: 1080px; margin: 3% auto -1%; background: #ff3287; padding: 10px 20px; border-radius: 30px; font-weight: bold; text-align: center; font-size: 26px; color: #fff; }

@media screen and (max-width: 1100px) { .block__inner h2 { margin: 0% auto 0%; line-height: 0.7; }
  .block__inner h2 b { font-size: calc(35vw/13); }
  .block__inner h3 { padding: 1% 20px; font-size: calc(42vw/13); }
  .block__inner h3 { padding: 1% 20px; font-size: calc(42vw/13); } }
body[data-page-num="1951722"] .col1-3--gtr-m .block__outer--base { border-bottom: 5px solid #ff3287; padding: 0 0 3%; }

body[data-page-num="1951722"] .grid--col3 { max-width: 1080px; margin: 4% auto 0; }

body[data-page-num="1951722"] .page-container { padding: 0; }

body[data-page-num="1951722"] .blog-list--list .blog-item__text { margin: 1% 0 0; }
body[data-page-num="1951722"] .blog-list--list .blog-item__text .u-txt-clr { line-height: 1.4; }

body[data-page-num="1951722"] .grid-mode--summary { max-width: 1080px; margin: 2% auto 7%; }

body[data-page-num="1951722"] .page__main { max-width: 100%; margin-left: auto; margin-right: auto; padding: 0; }

body[data-page-num="1951722"] .grid .col1-2 { width: 18%; }
body[data-page-num="1951722"] .grid .col1-2 .img__item--m { width: 100%; }

body[data-page-num="1951722"] .u-lnk-clr:hover, body[data-page-num="1951722"] .u-clr-area a:hover { text-decoration: none !important; color: #000 !important; }
body[data-page-num="1951722"] .u-lnk-clr:visited, body[data-page-num="1951722"] .u-clr-area a:visited { text-decoration: none !important; color: #000 !important; }
body[data-page-num="1951722"] .u-lnk-clr:visited, body[data-page-num="1951722"] .u-clr-area a { text-decoration: none !important; }

body[data-page-num="1951722"] div[data-reactid="31"] { max-width: 100%; padding: 0 0 6%; }
body[data-page-num="1951722"] div[data-reactid="32"] { max-width: 100%; }

body[data-page-num="1951722"] .blog-list--list .blog-item { border-top: 1px dashed #c5c2ff; }
body[data-page-num="1951722"] .blog-list--list .blog-item:first-of-type { border-top: none; }
body[data-page-num="1951722"] .pager__item--bg .pager__date, body[data-page-num="1951722"] .pager__item--bg .pager__description { color: #fff; line-height: 1.5; }
body[data-page-num="1951722"] .btn--summary a { position: relative; display: block; background: none; padding: 3px; margin: 0 auto; font-size: 25px; font-weight: bold; text-decoration: none; color: #ff3287; }
body[data-page-num="1951722"] .btn--summary a::before, body[data-page-num="1951722"] .btn--summary a::after { border-bottom: solid 2px #ff3287; bottom: 0; content: ""; display: block; position: absolute; transition: all .3s ease; -webkit-transition: all .3s ease; width: 0; }
body[data-page-num="1951722"] .btn--summary a:before { left: 50%; }
body[data-page-num="1951722"] .btn--summary a:after { right: 50%; }
body[data-page-num="1951722"] .btn--summary a:hover::before, body[data-page-num="1951722"] .btn--summary a:hover::after { width: 50%; }
body[data-page-num="1951722"] .blog-body__text p { line-height: 1.4; }
body[data-page-num="1951722"] .blog-title__text { color: #fff; }

.page__header { display: none; position: absolute; top: 0 !important; }

.global-nav__item > a { display: none; }

.page-container .page-container__main { max-width: 100%; }

body[data-page-num="1951722"] .page-container-inner { max-width: 100%; }

.block-txt:last-child { margin: 0 auto; max-width: 1080px; }

@media screen and (min-width: 800px) { .home .block-type--html { margin-top: 0 !important; }
  div[data-reactid="82"], div[data-reactid="70"] { margin: 0 !important; }
  .header__icon { display: none; } }
@media screen and (max-width: 801px) { .home .page__main > .grid:first-child { margin-bottom: 0; }
  .home .block-type--html { margin-top: 0 !important; }
  .page-container .page-container__main { max-width: 100%; }
  body[data-page-num="1951722"] div[data-reactid="42"] { margin: 0% auto 0%; }
  body[data-page-num="1951722"] .page-container-inner { max-width: 100%; }
  body[data-page-num="1951722"] .page-container__main { max-width: 100% !important; }
  .block__inner h2 { line-height: 0.5; }
  body[data-page-num="1951722"] .col1-3--gtr-m .block__outer--base { border-bottom: 0; padding: 0 0 2%; }
  body[data-page-num="1951722"] div[data-reactid="48"] { margin: 0 0 0; width: 100%; }
  .block__inner h2 { line-height: 1; margin: 0 4%; }
  .block__inner h2 b { font-size: calc(51vw/13); }
  body[data-page-num="1951722"] .grid--col3 { margin: 0; padding: 0; }
  body[data-page-num="1951722"] .grid--col3 { margin: 0 4% 0; }
  body[data-page-num="1951722"] .grid--col3 .col1-3--gtr-m { background: #fff; padding: 2%; }
  body[data-page-num="1951722"] .grid--col3:nth-of-type(odd) .col1-3--gtr-m:nth-of-type(even) { background: #f4f3ff; }
  body[data-page-num="1951722"] .grid--col3:nth-of-type(even) .col1-3--gtr-m:nth-of-type(odd) { background: #f4f3ff; }
  body[data-page-num="1951722"] div[data-reactid="45"] { margin: 0; }
  .block__inner h2 { font-size: calc(55vw/13); }
  body[data-page-num="1951722"] div[data-reactid="53"] { padding: 0 5%; }
  body[data-page-num="1951722"] div[data-reactid="90"] { padding: 0 5%; }
  body[data-page-num="1951722"] div[data-reactid="127"] { padding: 0 5%; }
  body[data-page-num="1951722"] div[data-reactid="164"] { padding: 0 5%; }
  body[data-page-num="1951722"] div[data-reactid="172"] { padding: 0 5%; }
  body[data-page-num="1951722"] .grid--col2 { overflow: hidden; }
  body[data-page-num="1951722"] .grid--col2 .col1-2--gtr-l { float: left; width: 45%; }
  body[data-page-num="1951722"] .grid .col1-3--gtr-m { overflow: hidden; width: 100%; height: auto !important; margin: 0 !important; }
  body[data-page-num="1951722"] .grid .col1-3--gtr-m .grid--col3 { margin: 0 auto; }
  body[data-page-num="1951722"] .grid .col1-3--gtr-m .block__outer { float: left; width: 45%; margin: 0 0 0 3%; }
  body[data-page-num="1951722"] .grid .col1-3--gtr-m .block__outer:nth-of-type(1) { margin: 0 !important; }
  body[data-page-num="1951722"] .grid .col1-3--gtr-m .blog-body__text :last-child, body[data-page-num="1951722"] .grid .col1-3--gtr-m .txt :last-child { text-decoration: none; }
  body[data-page-num="1951722"] .grid .col1-3--gtr-m .img__item--center { padding: 0 4% 2%; }
  body[data-page-num="1951722"] .grid .col1-3--gtr-m .block__outer--base { float: left; width: 100%; }
  body[data-page-num="1951722"] .col1-3--gtr-m .block__inner { border-bottom: none; margin: 7% 0 0; }
  body[data-page-num="1951722"] .block-txt:last-child { margin: 3% 0 2%; }
  body[data-page-num="1951722"] .grid-mode--summary { padding: 0 5%; }
  body[data-page-num="1951722"] .blog-category > a, .blog-category > span { color: #ff3287; }
  body[data-page-num="1951722"] .txt p { font-size: calc(35vw/13); white-space: nowrap; }
  body[data-page-num="1951722"] .txt h3 { font-size: calc(50vw/13); }
  body[data-page-num="1951722"] .blog-list--list .blog-item { border-top: 1px dashed #c5c2ff; }
  body[data-page-num="1951722"] .blog-list--list .blog-item:first-of-type { border-top: none; }
  body[data-page-num="1951722"] .btn--summary a { font-size: calc(38vw/13); width: 30%; -webkit-text-decoration: 2px solid #ff3287; text-decoration: 2px solid #ff3287; color: #ff3287; }
  body[data-page-num="1951722"] .btn--summary a::before, body[data-page-num="1951722"] .btn--summary a::after { border-bottom: none; }
  .block__inner h3 { background: #ff3287; display: inline-block; padding: 10px 20px; margin: 0 0 1% 0%; font-size: calc(38vw/13); border-radius: 30px; font-weight: bold; text-align: center; color: #fff; } }
@media screen and (max-width: 480px) { .footer__copyright { padding-bottom: 17px; }
  div[data-reactid="82"], div[data-reactid="70"] { margin: 0 !important; }
  body[data-page-num="1951722"] .col1-3--gtr-m .block__inner { margin: 7% 0 0 4%; }
  body[data-page-num="1951722"] .grid--col3 { margin: 0 4%; width: 92%; }
  body[data-page-num="1951722"] .grid--col3 h2 { background: #ff3287; display: inline-block; padding: 10px 20px; margin: 2% 0 1% 4%; border-radius: 30px; font-size: calc(38vw/13); font-weight: bold; text-align: center; color: #fff; }
  body[data-page-num="1951722"] .grid .col1-3--gtr-m .block__outer { margin: 0 0 0; }
  body[data-page-num="1951722"] div[data-reactid="186"] { margin: 0 0 0 4%; }
  body[data-page-num="1951722"] div[data-reactid="186"] h2 { background: #ff3287; display: inline-block; padding: 10px 20px; margin: 4% 0 1% 4%; font-size: calc(38vw/13); border-radius: 30px; font-weight: bold; text-align: center; color: #fff; }
  body[data-page-num="1951722"] .page__main > .grid:first-child { padding: 0; }
  body[data-page-num="1951722"] .block-txt h2 { margin: 0 !important; }
  body[data-page-num="1951722"] div[data-reactid="52"] { padding: 0 0 15px; }
  body[data-page-num="1951722"] div[data-reactid="53"] { padding: 0 4%; }
  body[data-page-num="1951722"] .block-txt:last-child { padding: 0; margin: 0; }
  body[data-page-num="1951722"] .block-txt p a { text-decoration: none; }
  .block-txt h3 { margin: 0 0 0 4%; }
  body[data-page-num="1951722"] .page__main { padding: 0 0 6%; } }
