@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: "Noto Sans JP", sans-serif !important;
  color: #fff;
  margin: 0 auto;
  background: none;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
  height: auto;
}

.m_i {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: 30px auto 0;
}
.m_i iframe {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.fl {
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
}

.fd {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

.fs {
  font-family: "Noto Sans JP", sans-serif !important;
}

.ko {
  font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif !important;
}

.fr {
  font-family: "M PLUS 1p", sans-serif !important;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.ssp {
  display: block;
}

.line_w {
  max-width: 750px;
  margin: 0 auto;
}
.line_w .wrap_w {
  background: #efefef;
  height: 33px;
}

.pre_btn a {
  display: block;
  background: #fbd72b;
  background-size: 100% auto;
  padding: 28px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #000;
}
.pre_btn a span {
  font-size: 34px;
}

.pre_b_btn a {
  display: block;
  background: #ddaa00;
  background-size: 100% auto;
  padding: 28px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #000;
}

.c_no_btn {
  display: block;
  background: #2b030e;
  background-size: 100% auto;
  padding: 28px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #ababab;
}

.c_top {
  padding: 0;
  margin: 68px 0 0;
  text-align: right;
  white-space: nowrap;
}
.c_top a {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #000;
}

.bn {
  border: none !important;
}

.bb {
  border-bottom: 1px solid #606060 !important;
}

.pb_no {
  padding-bottom: 0 !important;
}

.tc {
  text-align: center !important;
  padding: 0 !important;
}

.pb30 {
  padding: 0 0 35px !important;
}

.mb10 {
  margin: 0 0 10px 0 !important;
}

.mn {
  margin: 0 !important;
}

.mt10 {
  margin: 10px 0 0 !important;
}

.mt20 {
  margin: 20px 0 0 !important;
}

.mt30 {
  margin: 30px 0 0 !important;
}

.mt40 {
  margin: 40px 0 0 !important;
}

.mt50 {
  margin: 50px 0 0 !important;
}

.mt60 {
  margin: 60px 0 0 !important;
}

.mt70 {
  margin: 70px 0 0 !important;
}

.mt80 {
  margin: 80px 0 0 !important;
}

.mat20 {
  margin: 20px auto 0 !important;
}

.mat50 {
  margin: 50px auto 0 !important;
}

.mat70 {
  margin: 70px auto 0 !important;
}

.cl {
  color: #f1d365;
}

header {
  padding: 0;
}
header .h_l {
  background: #000;
  padding: 12px 0 13px 22px;
}
header .h_l span {
  display: inline-block;
  max-width: 140px;
  line-height: 0;
}
header .h_be {
  position: relative;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/2de01dc85d1da83b07401447c1dbed81_3bcebb86c12616b6ef9e087f55e6636a.png) center top no-repeat;
  background-size: cover;
  height: 422px;
  padding: 56px 0 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_be .h_m {
  max-width: 392px;
  margin: 0 auto 0;
  line-height: 0;
}
header .h_a {
  position: relative;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/78507856ad9f8a926f844060ecf5dcc7_d316ba2a362bb9256f24906e73cb5f5b.jpg) center top no-repeat;
  background-size: cover;
  height: 421px;
  padding: 54px 0 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_a .h_m {
  max-width: 458px;
  margin: 0 auto 0;
  line-height: 0;
}

.h_text {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/5377776bdacdfacc513e895e78ee0050_3933ac1615abfb0c27fff33df7a00acd.jpg) center center repeat;
  height: 54px;
  padding: 11px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.h_text .h_head {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.6px;
  color: #000;
}

.daily {
  background: #fff;
}
.daily .l_wrap {
  max-width: 750px;
  margin: 0 auto 0;
  padding: 48px 0 48px;
  text-align: center;
}
.daily .d_date {
  display: inline-block;
  background: #f80000;
  padding: 15px 32px 19px;
  margin: 0 auto 0;
  text-align: center;
  letter-spacing: 1.3px;
  border-radius: 50px;
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap;
  color: #fff;
}
.daily .deploy {
  overflow: hidden;
  max-width: 680px;
  padding: 0 18px;
  margin: 48px auto 0;
}
.daily .deploy li {
  float: left;
  margin: 0 0 0 24px;
  line-height: 1.5;
  max-width: 210px;
}
.daily .deploy li:nth-child(1) {
  margin: 0;
}
.daily .deploy li:nth-child(1) a {
  padding: 11px 20px 12px;
}
.daily .deploy li:nth-child(2) a {
  padding: 8px 47.5px 12px;
}
.daily .deploy li:nth-child(3) a {
  padding: 8px 44px 9px;
}
.daily .deploy li a {
  display: inline-block;
  height: 107px;
  padding: 7px 45px 8px;
  border: solid #ddb601 4px;
  letter-spacing: 2.5px;
  font-weight: bold;
  border-radius: 4px;
  line-height: 1.3;
  text-shadow: 0.2px 0.2px 0 #ddb601;
  color: #ddb601;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.daily .deploy li .sec {
  font-size: 23px;
  letter-spacing: -1.2px;
  white-space: nowrap;
}
.daily .deploy li .sin {
  font-size: 32px;
  white-space: nowrap;
}
.daily .deploy li .sin .num {
  display: inline-block;
  margin: 0 4px;
  font-size: 41px;
}
.daily .deploy .active {
  background: #fedd30;
  background: -webkit-gradient(linear, left top, left bottom, from(#fedd30), to(#f3ca22));
  background: linear-gradient(to bottom, #fedd30 0%, #f3ca22 100%);
  border-radius: 4px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  line-height: 1.3;
  letter-spacing: -0.5px;
}
.daily .deploy .active .sec {
  text-shadow: 0.2px 0.2px 0 #000;
}
.daily .deploy .a01 {
  padding: 11px 18px 12px;
}
.daily .deploy .a02 {
  padding: 12px 53px 10px;
}
.daily .deploy .a03 {
  padding: 12px 46.5px 11px;
}

.line {
  background: #f80000;
  padding: 17px 0 11px;
}
.line .l_box {
  border-top: 4px solid #ffce00;
  text-align: center;
}
.line .lb_be {
  padding: 0 0 56px;
  border-bottom: 4px solid #ffce00;
}
.line .lb_line {
  position: relative;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/96ea008a070ca397882b6688a89996f6_faaa5754e91ec89f2ea43834e4ad685b.png) center 18px no-repeat;
  padding: 13px 0 33px;
}
.line .lb_sec {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/439c5d0bd8f179081e9680b80be0a319_ad4863ac816c1d5e7960222bf183c823.png) center 18px no-repeat !important;
  padding: 13px 0 18px !important;
}
.line .lb_bb {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/7e919611c2af57730e092580c7fa067e_b13c016dea80a1ebf851650b838b637b.png) center center repeat;
  background-size: auto;
  height: 49px;
  margin: -20px 0 0;
}
.line .wrap {
  max-width: 700px;
  margin: 0 auto;
}
.line .wrap .l_h {
  padding: 31px 0 0;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1.4px;
  line-height: 1;
}
.line .wrap .l_h_se {
  line-height: 1.4 !important;
}
.line .l_i {
  background: #fff;
  padding: 50px 18px 60px;
  border-radius: 6px;
}
.line .l_i .l_date {
  display: inline-block;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/e5f4cafca60c8ce3cfb66af235aa678c_f10f855e63235339905e4cd83c481f66.png) center center no-repeat;
  background-size: 293px 62px;
  padding: 15px 58px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.3px;
  color: #000;
}
.line .l_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 0;
}
.line .l_item li {
  margin: 0 0 0 25px;
}
.line .l_item li:first-child {
  margin: 0;
}
.line .l_item .free {
  position: relative;
}
.line .l_item .free:before {
  content: '全話無料!';
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 26%;
  background: #f0163a;
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #fff;
}
.line .l_more {
  margin: 50px 0 0;
  text-align: right;
}
.line .l_more a {
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

.i_wrap {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/0526735d53a7f461031f70eec3871c77_ad61d8132774feef9b4154cbbbdeaebb.png) #f80000 center center no-repeat !important;
  background-position: top 320px center !important;
  padding: 17px 0 18px !important;
}

.c_h {
  display: inline-block;
  background: #870c21;
  padding: 10px 29px 10px 29px;
  font-size: 24px;
  line-height: 1.3;
  text-align: left;
  letter-spacing: 1.3px;
  white-space: nowrap;
  color: #fff;
}

.c_hh {
  max-width: 680px;
  padding: 25px 0 0px;
  margin: 50px auto 0;
  border-top: 2px solid #f1d365;
  border-bottom: 2px solid #f1d365;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  text-align: center;
  color: #fff;
}
.c_hh span {
  font-size: 80px;
}

.chh_ss span {
  font-size: 44px;
}

.chh_sin {
  margin: 41px auto 45px;
  padding: 26px 0 16px;
}
.chh_sin span {
  font-size: 50px;
}

.chh_wani {
  margin: 40px auto 45px;
  padding: 26px 0 16px;
}
.chh_wani span {
  font-size: 50px;
}

.c_hh_l {
  letter-spacing: 1.1px;
}

.c_hh_no {
  margin: 33px auto 0;
}

.chh_b {
  padding: 21px 0 12px;
  margin: 50px auto 60px;
  font-size: 40px;
  line-height: 1.55;
  color: #f1d365;
}
.chh_b .num {
  font-size: 43px;
}
.chh_b span {
  font-size: 60px;
}

.tw {
  background: #fff;
  padding: 50px 0 66px;
  text-align: center;
}
.tw .wrap {
  max-width: 680px;
  margin: 0 auto;
}
.tw .tw_h {
  position: relative;
  display: inline-block;
  padding: 0 55px 0 63px;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.3px;
  color: #000;
}
.tw .tw_h:before {
  content: '';
  position: absolute;
  bottom: 14px;
  left: 0;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/77fe8e5673ec9eaadfc02a39c16d9a93_6d15f0021046fc6fdc2a902d9b33cf14.png);
  background-size: 73px 73px;
  width: 73px;
  height: 73px;
}
.tw .tw_h:after {
  content: '';
  position: absolute;
  bottom: 14px;
  right: 0;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/6c72d51247ad00dae05357009aa6ecfe_984587514bb1ed185d04c57265e82224.png);
  background-size: 73px 73px;
  width: 73px;
  height: 73px;
}
.tw .tw_btn {
  margin: 34px 0 0;
}
.tw .tw_btn a {
  display: block;
  position: relative;
  background: #1da1f2;
  padding: 27px 0 31px 90px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.3px;
  border-radius: 6px;
  color: #fff;
}
.tw .tw_btn a:before {
  content: '';
  position: absolute;
  top: 26px;
  left: 38px;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/a0db8387f61f4f23d6ebe6f52c042c61_a685c93aa2aac9513fd825e3695183d1.png) 0 0 no-repeat;
  background-size: 45px 36px;
  width: 45px;
  height: 36px;
}

.contents {
  background: #fff;
  color: #000;
}
.contents .wrap {
  max-width: 680px;
  margin: 0 auto;
}
.contents .c_wrap {
  max-width: 750px;
  margin: 0 auto;
}
.contents .c_box {
  background: #460718;
  padding: 59px 0 0;
  margin: 21px 0 0;
}
.contents .c_box .cb_inner {
  padding: 32px 35px 55px;
}
.contents .c_no_cau {
  margin: 51px 0 0;
}
.contents .c_box_se {
  padding: 14px 0 0;
  margin: 51px 0 0;
}
.contents .c_fig {
  padding: 45px 0 0;
  line-height: 0;
}
.contents .c_th {
  display: block;
  margin: 40px 0 0;
  font-size: 33px;
  letter-spacing: 1.3px;
}
.contents .c_date {
  position: relative;
  padding: 0 0 0 40px;
  margin: 34px 0 0;
  font-size: 24px;
  letter-spacing: 1.3px;
}
.contents .c_date:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  background: #000;
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.contents .c_bagg {
  margin: 32px 0 0;
}
.contents .c_bagg li {
  display: inline-block;
  background: #f01639;
  padding: 5px 8px;
  margin: 0 0 0 15px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #fff;
}
.contents .c_bagg li:first-child {
  margin: 0;
}
.contents .c_bagg .pr {
  background: #000;
}
.contents .c_bagg .pr .cl {
  color: #ddaa00;
}
.contents .c_text {
  margin: 18px 0 0;
  letter-spacing: 1.3px;
  line-height: 1.6;
  font-size: 24px;
  color: #666;
}
.contents .c_tdl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contents .c_tdl dd {
  max-width: 266px;
  width: 40%;
  line-height: 0;
}
.contents .c_tdl dt {
  width: 55.5%;
  padding: 0 0 0 4.5%;
  font-size: 27px;
  line-height: 1.8;
  letter-spacing: 1.1px;
  font-weight: normal;
  text-align: left;
  color: #fff;
}
.contents .c_tdl dt .bagg_p {
  display: inline-block;
  background: #000;
  padding: 4px 10px;
  margin: 0 0 18px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 4px;
  color: #fff;
  white-space: nowrap;
  line-height: 1;
}
.contents .c_tdl dt .bagg_p .bcl {
  color: #ddaa00;
}
.contents .c_tdl dt .dt_t {
  margin: 20px 0 0;
  padding: 20px 0 0;
  border-top: 1px solid #fff;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.6;
}
.contents .c_cau {
  padding: 19px 33px 0 0;
  font-size: 18px;
  text-align: right;
  letter-spacing: 1.4px;
  color: #fefefe;
}

.o_box {
  max-width: 680px;
  margin: 0 auto;
}
.o_box .o_h {
  padding: 0 0 0 17px;
  margin: 80px 0 0;
  font-size: 30px;
  border-left: 11px solid #ddaa00;
  line-height: 1.3;
  text-align: left;
}
.o_box .o_img {
  line-height: 0;
}
.o_box .o_text {
  margin: 50px 0 0;
  font-size: 24px;
  letter-spacing: 1.3px;
}

.other {
  background: #fff;
  padding: 0 0 55px;
}
.other .wrap {
  max-width: 680px;
  margin: 0 auto;
}
.other .o_fig {
  margin: 60px 0 0;
  line-height: 0;
}

.t_top {
  margin: 0 0 64px;
  text-align: right;
  white-space: nowrap;
}
.t_top a {
  display: inline-block;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #fff;
}

footer {
  background: #c7a632;
}
footer .wrap {
  max-width: 680px;
  margin: 0 auto;
  padding: 55px 0 60px;
}
footer .copy {
  margin: 0 0 32px;
}
footer .copy li {
  width: 100%;
  margin: 5px 0 0 0;
  line-height: 1.3;
  font-size: 16px;
  color: #efefef;
}
footer .f_list {
  overflow: hidden;
  margin: 10px 0 10px;
}
footer .f_list li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .f_list li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #efefef;
}
footer .f_list li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #efefef;
}
footer .f_list li:last-child:after {
  content: '';
}
footer .f_dot {
  margin: 15px 0 0 35px;
}
footer .f_dot li {
  position: relative;
  padding: 0 0 0 38px;
  margin: 8px 0 0;
  line-height: 1.4;
  font-size: 19px;
}
footer .f_dot li:before {
  content: '・';
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 19px;
  line-height: 0;
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1.1px;
  text-align: left;
  color: #efefef;
}

@media screen and (max-width: 768px) {
  .line_w {
    max-width: 100%;
    width: 100%;
  }
  .line_w .wrap_w {
    height: 28px;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .ssp {
    display: block;
  }

  .pb30 {
    padding: 0 0 5% !important;
  }

  .mt10 {
    margin: 1.8% 0 0 !important;
  }

  .mt20 {
    margin: 3% 0 0 !important;
  }

  .mt30 {
    margin: 5% 0 0 !important;
  }

  .mt40 {
    margin: 6% 0 0 !important;
  }

  .mt50 {
    margin: 6.3% 0 0 !important;
  }

  .mt60 {
    margin: 8% 0 0 !important;
  }

  .mt70 {
    margin: 9% 0 0 !important;
  }

  .mt80 {
    margin: 10% 0 0 !important;
  }

  .mb10 {
    margin: 0 0 1.8% 0 !important;
  }

  .mn {
    margin: 0 !important;
  }

  .mat20 {
    margin: 3% auto 0 !important;
  }

  .mat50 {
    margin: 6.5% auto 0 !important;
  }

  .mat70 {
    margin: 9% auto 0 !important;
  }

  .m_i {
    margin: 5% auto 0;
  }

  .pre_btn a {
    padding: 3.9% 0 4.2%;
    border-radius: 4px;
    font-size: calc(50vw/12);
    letter-spacing: 0.8px;
  }

  .pre_b_btn a {
    padding: 3.9% 0;
    border-radius: 4px;
    font-size: calc(50vw/12);
    letter-spacing: 0.8px;
  }

  .c_no_btn {
    padding: 3.9% 0;
    border-radius: 4px;
    font-size: calc(50vw/12);
    letter-spacing: 0.8px;
  }

  .c_top {
    margin: 8% 0 0;
  }
  .c_top a {
    display: inline-block;
    font-size: calc(50vw/12);
    letter-spacing: 0.8px;
  }

  header {
    padding: 0;
  }
  header .h_l {
    padding: 1.3% 0 1.3% 2.2%;
  }
  header .h_l span {
    display: inline-block;
    max-width: 18.8%;
  }
  header .h_be {
    position: relative;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/8ccbed41acc4b331667493ea107a1a16_aec8c6cd56e5059f8d43951e698c1bf7.png) center top no-repeat;
    background-size: cover;
    height: auto;
    padding: 7.3% 0 13.3%;
  }
  header .h_be .h_m {
    width: 51.3%;
    margin: 0 auto 0;
  }
  header .h_a {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/a64575e4f65b5d626dce71c14501e27f_3ddd88d2438196351e8ec7bec4f4747c.jpg) center top no-repeat;
    background-size: cover;
    height: auto;
    padding: 6.6% 0 12.9%;
  }
  header .h_a .h_m {
    width: 59.9%;
    margin: 0 auto 0;
  }

  .h_text {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/1c0029eb8933a5d285c7c9d50e5dc63e_c399cf37247076fced34d7aa624c3d37.jpg) center center no-repeat;
    background-size: cover;
    height: auto;
    padding: 1.8% 0;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .h_text .h_head {
    font-size: calc(44vw/12);
    letter-spacing: 1.2px;
  }

  .daily .l_wrap {
    max-width: 100%;
    margin: 0 auto 0;
    padding: 6.5% 0 6.5%;
    text-align: center;
  }
  .daily .d_date {
    display: inline-block;
    padding: 2% 4% 2.5%;
    letter-spacing: 1.1px;
    border-radius: 50px;
    font-size: calc(44vw/12);
  }
  .daily .deploy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: 100%;
    padding: 0 4.8%;
    margin: 6.5% auto 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .daily .deploy li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 0 0 3.05%;
    line-height: 1.5;
    max-width: 216px;
    width: 31.3%;
    box-sizing: border-box;
  }
  .daily .deploy li:nth-child(1) a {
    padding: 3.2% 11.655% 6.2%;
  }
  .daily .deploy li:nth-child(2) a {
    padding: 3.5% 24.8% 5.85%;
  }
  .daily .deploy li:nth-child(3) a {
    padding: 3.5% 21.4% 5.5%;
  }
  .daily .deploy li a {
    max-width: 216px;
    height: auto;
    border: solid #ddb601 3px;
    letter-spacing: 1.5px;
    border-radius: 4px;
    line-height: 1.4;
    text-shadow: 0.2px 0.2px 0 #ddb601;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .daily .deploy li .sec {
    font-size: calc(34vw/12);
    letter-spacing: -0.5px;
  }
  .daily .deploy li .sin {
    font-size: calc(47vw/12);
  }
  .daily .deploy li .sin .num {
    display: inline-block;
    margin: 0 0.5%;
    font-size: calc(60vw/12);
  }
  .daily .deploy .active {
    border-radius: 4px;
    font-size: calc(37vw/12);
    line-height: 1.3;
    letter-spacing: -0.5px;
  }
  .daily .deploy .active .sec {
    text-shadow: 0.2px 0.2px 0 #000;
  }
  .daily .deploy .a01 {
    padding: 1.7% 0 0.85%;
    line-height: 1.35;
  }
  .daily .deploy .a02 {
    padding: 1.55% 0 2%;
    line-height: 1.35;
  }
  .daily .deploy .a03 {
    padding: 1.55% 0 2.1%;
    line-height: 1.35;
  }

  .line {
    padding: 2.25% 0 0.7%;
  }
  .line .l_box {
    background-size: 100% auto;
    border-top: 3px solid #ffce00;
  }
  .line .lb_be {
    padding: 0 0 7.5%;
    border-bottom: 3px solid #ffce00;
  }
  .line .lb_line {
    position: relative;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/96ea008a070ca397882b6688a89996f6_faaa5754e91ec89f2ea43834e4ad685b.png) center 70% no-repeat;
    background-size: contain;
    padding: 2.2% 0 4.5%;
    margin: 0 2.2%;
  }
  .line .lb_sec {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/439c5d0bd8f179081e9680b80be0a319_ad4863ac816c1d5e7960222bf183c823.png) center 70% no-repeat !important;
    background-size: contain !important;
    padding: 2% 0 2.4% !important;
  }
  .line .lb_bb {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/49f0ab0e95c3db17b4cb6732e8f292a8_65b8ea7c513856b3e35df878d3dab1c5.png) center center no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: auto;
    padding: 4% 0;
    margin: -4% 0 0;
  }
  .line .wrap {
    max-width: 100%;
    padding: 0 2.5%;
  }
  .line .wrap .l_h {
    padding: 4% 0 0;
    font-size: calc(66vw/12);
    letter-spacing: 1.2px;
    line-height: 1;
  }
  .line .l_i {
    padding: 7% 2.5% 8%;
    border-radius: 5px;
  }
  .line .l_i .l_date {
    display: inline-block;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/e5f4cafca60c8ce3cfb66af235aa678c_f10f855e63235339905e4cd83c481f66.png) center center no-repeat;
    background-size: 100% 100%;
    padding: 2.292% 8.7%;
    font-size: calc(51vw/12);
    letter-spacing: 0.8px;
  }
  .line .l_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 7% 0 0;
  }
  .line .l_item li {
    margin: 0 0 0 3.5%;
  }
  .line .l_item .free:before {
    display: inline-block;
    top: 2.5%;
    left: 27%;
    background: #f0163a;
    padding: 1.8% 3.6%;
    border-radius: 5px;
    font-size: calc(31vw/12);
    letter-spacing: 1.2px;
  }
  .line .l_more {
    margin: 7% 0 0;
  }
  .line .l_more a {
    font-size: calc(51vw/12);
  }

  .i_wrap {
    background: #f80000 center center no-repeat !important;
    background-position: top 320px center !important;
    padding: 2.25% 0 2.3% !important;
  }

  .c_h {
    display: inline-block;
    padding: 1.7% 4.5% 1.7% 4.5%;
    font-size: calc(37vw/12);
    line-height: 1.3;
    letter-spacing: 0.8px;
  }

  .c_hh {
    max-width: 100%;
    padding: 2.8% 0 0px;
    margin: 7% 0 0;
    border-top: 2px solid #f1d365;
    border-bottom: 2px solid #f1d365;
    font-size: calc(38vw/12);
    line-height: 1.5;
    letter-spacing: 1.1px;
  }
  .c_hh span {
    font-size: calc(127vw/12);
  }

  .chh_ss span {
    font-size: calc(76vw/12);
  }

  .chh_sin {
    margin: 4% auto 6.7%;
    padding: 4.5% 0 2.8%;
  }
  .chh_sin span {
    font-size: calc(65vw/12);
  }

  .chh_wani {
    margin: 7% auto 6%;
    padding: 4.2% 0 2.8%;
  }
  .chh_wani span {
    font-size: calc(81vw/12);
  }

  .c_hh_l {
    font-size: calc(37vw/12);
    letter-spacing: 0.6px;
  }

  .c_hh_no {
    margin: 5% 0 0;
  }

  .chh_b {
    padding: 2.8% 0 1%;
    margin: 8% 0 2%;
    font-size: calc(63vw/12);
    line-height: 1.68;
  }
  .chh_b .num {
    font-size: calc(68vw/12);
  }
  .chh_b span {
    font-size: calc(93vw/12);
  }

  .tw {
    padding: 7% 0 8.5%;
  }
  .tw .wrap {
    max-width: 100%;
    margin: 0 4.5%;
  }
  .tw .tw_h {
    display: inline-block;
    padding: 0 8.2% 0 8.6%;
    font-size: calc(51vw/12);
    line-height: 1.5;
    letter-spacing: 0.8px;
  }
  .tw .tw_h:before {
    bottom: 11%;
    background-size: 100% 100%;
    width: 15.2%;
    height: 77.66%;
  }
  .tw .tw_h:after {
    bottom: 11%;
    background-size: 100% 100%;
    width: 15.2%;
    height: 77.66%;
  }
  .tw .tw_btn {
    margin: 5% 0 0;
  }
  .tw .tw_btn a {
    padding: 4.2% 0 4.6% 11%;
    font-size: calc(50vw/12);
    letter-spacing: 0.8px;
    border-radius: 5px;
  }
  .tw .tw_btn a:before {
    top: 31%;
    left: 6%;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/a0db8387f61f4f23d6ebe6f52c042c61_a685c93aa2aac9513fd825e3695183d1.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 6.595%;
    height: 40.6%;
  }

  .contents .wrap {
    max-width: 100%;
    margin: 0 4.5%;
  }
  .contents .c_wrap {
    max-width: 100%;
    margin: 0 auto;
  }
  .contents .c_box {
    padding: 7.8% 0 0;
    margin: 4% 0 0;
  }
  .contents .c_box .cb_inner {
    padding: 4.2% 4.5% 6.8%;
  }
  .contents .c_no_cau {
    margin: 7% 0 0;
  }
  .contents .c_box_se {
    padding: 2.7% 0 0;
    margin: 7% 0 0;
  }
  .contents .c_fig {
    padding: 6.5% 0 0;
  }
  .contents .c_th {
    margin: 6% 0 0;
    font-size: calc(50vw/12);
    letter-spacing: 0.8px;
  }
  .contents .c_date {
    position: relative;
    padding: 0 0 0 5%;
    margin: 5.5% 0 0;
    font-size: calc(38vw/12);
    letter-spacing: 0.8px;
  }
  .contents .c_date:before {
    content: '';
    top: 13%;
    background-size: 100% 100%;
    width: 3.15%;
    height: 91.7%;
  }
  .contents .c_bagg {
    margin: 4.5% 0 0;
  }
  .contents .c_bagg li {
    display: inline-block;
    padding: 0.9% 1.3%;
    margin: 0 0 0 2.3%;
    border-radius: 4px;
    font-size: calc(31vw/12);
    letter-spacing: 0.8px;
  }
  .contents .c_text {
    margin: 3% 0 0;
    letter-spacing: 0.9px;
    line-height: 1.6;
    font-size: calc(38vw/12);
  }
  .contents .c_tdl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contents .c_tdl dd {
    max-width: 266px;
    width: 40%;
    line-height: 0;
  }
  .contents .c_tdl dt {
    width: 55.5%;
    padding: 0 0 0 4.5%;
    font-size: calc(42vw/12);
    line-height: 1.8;
    letter-spacing: 0.8px;
  }
  .contents .c_tdl dt .bagg_p {
    display: inline-block;
    padding: 1.3% 2.5%;
    margin: 0 0 3.5%;
    font-size: calc(32vw/12);
    letter-spacing: 1.5px;
    border-radius: 4px;
  }
  .contents .c_tdl dt .dt_t {
    margin: 4.8% 0 0;
    padding: 4.8% 0 0;
    font-size: calc(50vw/12);
  }
  .contents .c_cau {
    padding: 3% 4.5% 0 0;
    font-size: calc(28vw/12);
    letter-spacing: 0.9px;
  }

  .o_box {
    max-width: 100%;
    margin: 0 4.5%;
  }
  .o_box .o_h {
    padding: 0 0 0 2.5%;
    margin: 11% 0 0;
    font-size: calc(47vw/12);
    border-left: 9px solid #ddaa00;
    line-height: 1.3;
  }
  .o_box .o_text {
    margin: 7% 0 0;
    font-size: calc(36vw/12);
    letter-spacing: 1.3px;
  }

  .other {
    padding: 0 0 7.5%;
  }
  .other .wrap {
    max-width: 100%;
    margin: 0 4.5%;
  }
  .other .o_fig {
    margin: 7.5% 0 0;
  }

  .t_top {
    padding: 0 0 8%;
    margin: 8% 0 0;
  }
  .t_top a {
    display: inline-block;
    font-size: calc(48vw/12);
    letter-spacing: 0.8px;
  }

  footer .wrap {
    max-width: 100%;
    margin: 0 4.5%;
    padding: 7.5% 0 10%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(26vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(25vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer .f_dot {
    margin: 15px 0 0 35px;
  }
  footer .f_dot li {
    position: relative;
    padding: 0 0 0 38px;
    margin: 8px 0 0;
    line-height: 1.4;
    font-size: 19px;
  }
  footer .f_dot li:before {
    content: '・';
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 19px;
    line-height: 0;
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(28vw/12);
    letter-spacing: 0.8px;
  }
}
@media screen and (max-width: 480px) {
  .line_w {
    max-width: 100%;
    width: 100%;
  }
  .line_w .wrap_w {
    height: 19px;
  }

  .pb30 {
    padding: 0 0 5% !important;
  }

  .mb10 {
    margin: 0 0 2% 0 !important;
  }

  .mn {
    margin: 0 !important;
  }

  .mt10 {
    margin: 1.8% 0 0 !important;
  }

  .mt20 {
    margin: 3% 0 0 !important;
  }

  .mt30 {
    margin: 5% 0 0 !important;
  }

  .mt40 {
    margin: 6% 0 0 !important;
  }

  .mt50 {
    margin: 6.2% 0 0 !important;
  }

  .mt60 {
    margin: 8% 0 0 !important;
  }

  .mt70 {
    margin: 9% 0 0 !important;
  }

  .mt80 {
    margin: 10% 0 0 !important;
  }

  .mat20 {
    margin: 3.1% auto 0 !important;
  }

  .mat50 {
    margin: 6.5% auto 0 !important;
  }

  .mat70 {
    margin: 9% auto 0 !important;
  }

  .ssp {
    display: none;
  }

  .pre_w {
    max-width: none;
    width: 85%;
    margin: 0 auto;
  }

  .pre_btn a {
    padding: 3.7% 0 4%;
    border-radius: 4px;
    font-size: calc(52vw/12);
    letter-spacing: 0.8px;
  }

  .c_no_btn {
    padding: 3.7% 0;
    border-radius: 4px;
    font-size: calc(52vw/12);
    letter-spacing: 0.8px;
  }

  .pre_b_btn a {
    padding: 3.9% 0;
    border-radius: 4px;
    font-size: calc(50vw/12);
    letter-spacing: 0.8px;
  }

  .c_no_btn {
    padding: 3.9% 0;
    border-radius: 4px;
    font-size: calc(50vw/12);
    letter-spacing: 0.8px;
  }

  .c_top {
    margin: 7% 0 0;
  }
  .c_top a {
    display: inline-block;
    font-size: calc(50vw/12);
    letter-spacing: 0.5px;
  }

  header {
    padding: 0;
  }
  header .h_l {
    padding: 1.3% 0 1.3% 2.2%;
  }
  header .h_l span {
    display: inline-block;
    max-width: 19.2%;
  }
  header .h_be {
    padding: 7.3% 0 13.3%;
  }
  header .h_be .h_m {
    width: 53.3%;
  }
  header .h_a {
    padding: 6.6% 0 12.9%;
  }
  header .h_a .h_m {
    width: 61.9%;
  }

  .h_text {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/1c0029eb8933a5d285c7c9d50e5dc63e_c399cf37247076fced34d7aa624c3d37.jpg) center center no-repeat;
    background-size: cover;
    height: auto;
    padding: 1.8% 0;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .h_text .h_head {
    font-size: calc(46vw/12);
    letter-spacing: 0.5px;
  }

  .daily .l_wrap {
    padding: 5.5% 0 6.5%;
  }
  .daily .d_date {
    display: inline-block;
    padding: 2.2% 4% 2.5%;
    letter-spacing: 0.6px;
    border-radius: 50px;
    font-size: calc(46vw/12);
  }
  .daily .deploy {
    padding: 0 4.2%;
    margin: 6.5% auto 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .daily .deploy li {
    margin: 0 0 0 4.1%;
    line-height: 1.5;
    width: 30.6%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .daily .deploy li:nth-child(1) a {
    padding: 3.2% 13.4% 6.2%;
  }
  .daily .deploy li:nth-child(2) a {
    padding: 3.5% 26.8% 5.85%;
  }
  .daily .deploy li:nth-child(3) a {
    padding: 3.5% 23.4% 5.85%;
  }
  .daily .deploy li a {
    border: solid #ddb601 2px;
    letter-spacing: 1.5px;
    border-radius: 3px;
    line-height: 1.4;
    text-shadow: 0.1px 0.1px 0 #ddb601;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .daily .deploy li .sec {
    font-size: calc(36vw/12);
    letter-spacing: 0.3px;
  }
  .daily .deploy li .sin {
    font-size: calc(49vw/12);
  }
  .daily .deploy li .sin .num {
    display: inline-block;
    margin: 0 0.5%;
    font-size: calc(62vw/12);
  }
  .daily .deploy .active {
    border-radius: 3px;
    font-size: calc(37vw/12);
    line-height: 1.3;
    letter-spacing: -0.5px;
  }
  .daily .deploy .active .sec {
    text-shadow: 0.1px 0.1px 0 #000;
  }
  .daily .deploy .a01 {
    padding: 1.7% 0 1.85%;
    line-height: 1.4;
  }
  .daily .deploy .a02 {
    padding: 1.55% 0 2%;
    line-height: 1.4;
  }
  .daily .deploy .a03 {
    padding: 1.55% 0 2.1%;
    line-height: 1.4;
  }

  .line {
    padding: 2.25% 0 0.7%;
  }
  .line .l_box {
    background-size: 100% auto;
    border-top: 3px solid #ffce00;
  }
  .line .lb_be {
    padding: 0 0 7.5%;
    border-bottom: 3px solid #ffce00;
  }
  .line .lb_line {
    position: relative;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/96ea008a070ca397882b6688a89996f6_faaa5754e91ec89f2ea43834e4ad685b.png) center 70% no-repeat;
    background-size: contain;
    padding: 2.2% 0 4.5%;
    margin: 0 2.2%;
  }
  .line .lb_sec {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/439c5d0bd8f179081e9680b80be0a319_ad4863ac816c1d5e7960222bf183c823.png) center 70% no-repeat !important;
    background-size: contain !important;
    padding: 2% 0 2.4% !important;
  }
  .line .lb_bb {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/49f0ab0e95c3db17b4cb6732e8f292a8_65b8ea7c513856b3e35df878d3dab1c5.png) center center no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: auto;
    padding: 4% 0;
    margin: -4% 0 0;
  }
  .line .wrap {
    max-width: 100%;
    padding: 0 2.5%;
  }
  .line .wrap .l_h {
    padding: 4% 0 0;
    font-size: calc(68vw/12);
    letter-spacing: 0.6px;
    line-height: 1;
  }
  .line .l_i {
    padding: 7% 2.5% 8%;
    border-radius: 4px;
  }
  .line .l_i .l_date {
    display: inline-block;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/e5f4cafca60c8ce3cfb66af235aa678c_f10f855e63235339905e4cd83c481f66.png) center center no-repeat;
    background-size: 100% 100%;
    padding: 2.292% 8.7%;
    font-size: calc(51vw/12);
    letter-spacing: 0.8px;
  }
  .line .l_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 7% 0 0;
  }
  .line .l_item li {
    margin: 0 0 0 3.5%;
  }
  .line .l_item .free:before {
    display: inline-block;
    top: 2.5%;
    left: 24%;
    padding: 1.8% 3.6%;
    border-radius: 3px;
    font-size: calc(33vw/12);
    letter-spacing: 0.6px;
  }
  .line .l_more {
    margin: 7% 0 0;
  }
  .line .l_more a {
    font-size: calc(51vw/12);
  }

  .i_wrap {
    background: #f80000 center center no-repeat !important;
    background-position: top 320px center !important;
    padding: 2.25% 0 2.3% !important;
  }

  .c_h {
    display: inline-block;
    padding: 1.7% 4.5% 1.7% 4.5%;
    font-size: calc(37vw/12);
    line-height: 1.3;
    letter-spacing: 0.8px;
  }

  .c_hh {
    max-width: 100%;
    padding: 2.8% 0 0px;
    margin: 7% 0 0;
    border-top: 2px solid #f1d365;
    border-bottom: 2px solid #f1d365;
    font-size: calc(38vw/12);
    line-height: 1.5;
    letter-spacing: 1.1px;
  }
  .c_hh span {
    font-size: calc(127vw/12);
  }

  .chh_ss span {
    font-size: calc(76vw/12);
  }

  .chh_sin {
    margin: 4% auto 6.7%;
    padding: 4.5% 0 2.8%;
  }
  .chh_sin span {
    font-size: calc(65vw/12);
  }

  .chh_wani {
    margin: 7% auto 6%;
    padding: 4.2% 0 2.8%;
  }
  .chh_wani span {
    font-size: calc(81vw/12);
  }

  .c_hh_l {
    font-size: calc(37vw/12);
    letter-spacing: 0.6px;
  }

  .c_hh_no {
    margin: 5% 0 0;
  }

  .chh_b {
    padding: 2.8% 0 1%;
    margin: 8% 0 2%;
    font-size: calc(63vw/12);
    line-height: 1.68;
  }
  .chh_b .num {
    font-size: calc(68vw/12);
  }
  .chh_b span {
    font-size: calc(93vw/12);
  }

  .tw {
    padding: 7% 0 8.5%;
  }
  .tw .wrap {
    max-width: 100%;
    margin: 0 4.5%;
  }
  .tw .tw_h {
    display: inline-block;
    padding: 0 8.2% 0 8.6%;
    font-size: calc(53vw/12);
    line-height: 1.5;
    letter-spacing: 0.8px;
  }
  .tw .tw_h:before {
    bottom: 11%;
    background-size: 100% 100%;
    width: 15.2%;
    height: 77.66%;
  }
  .tw .tw_h:after {
    bottom: 11%;
    background-size: 100% 100%;
    width: 15.2%;
    height: 77.66%;
  }
  .tw .tw_btn {
    margin: 5% 0 0;
  }
  .tw .tw_btn a {
    padding: 4.2% 0 4.6% 10%;
    font-size: calc(52vw/12);
    letter-spacing: 0.4px;
    border-radius: 4px;
  }
  .tw .tw_btn a:before {
    top: 31%;
    left: 6%;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/a0db8387f61f4f23d6ebe6f52c042c61_a685c93aa2aac9513fd825e3695183d1.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 6.595%;
    height: 40.6%;
  }

  .contents .wrap {
    max-width: 100%;
    margin: 0 4.5%;
  }
  .contents .c_wrap {
    max-width: 100%;
    margin: 0 auto;
  }
  .contents .c_box {
    padding: 7.8% 0 0;
    margin: 4% 0 0;
  }
  .contents .c_box .cb_inner {
    padding: 4.2% 4.5% 6.8%;
  }
  .contents .c_no_cau {
    margin: 7% 0 0;
  }
  .contents .c_box_se {
    padding: 2.7% 0 0;
    margin: 7% 0 0;
  }
  .contents .c_fig {
    padding: 6.5% 0 0;
  }
  .contents .c_th {
    margin: 6% 0 0;
    font-size: calc(52vw/12);
    letter-spacing: 0.4px;
  }
  .contents .c_date {
    position: relative;
    padding: 0 0 0 5%;
    margin: 5.5% 0 0;
    font-size: calc(40vw/12);
    letter-spacing: 0.5px;
  }
  .contents .c_date:before {
    content: '';
    top: 13%;
    background-size: 100% 100%;
    width: 3.228%;
    height: 100%;
  }
  .contents .c_bagg {
    margin: 4.5% 0 0;
  }
  .contents .c_bagg li {
    display: inline-block;
    padding: 0.9% 1.3%;
    margin: 0 0 0 2.3%;
    border-radius: 3px;
    font-size: calc(33vw/12);
    letter-spacing: 0.5px;
  }
  .contents .c_text {
    margin: 3% 0 0;
    letter-spacing: 0.6px;
    line-height: 1.6;
    font-size: calc(40vw/12);
  }
  .contents .c_tdl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contents .c_tdl dd {
    max-width: 266px;
    width: 40%;
    line-height: 0;
  }
  .contents .c_tdl dt {
    width: 55.5%;
    padding: 0 0 0 4.5%;
    font-size: calc(42vw/12);
    line-height: 1.8;
    letter-spacing: 0.8px;
  }
  .contents .c_tdl dt .bagg_p {
    display: inline-block;
    padding: 1.3% 2.5%;
    margin: 0 0 3.5%;
    font-size: calc(32vw/12);
    letter-spacing: 1.5px;
    border-radius: 4px;
  }
  .contents .c_tdl dt .dt_t {
    margin: 4.8% 0 0;
    padding: 4.8% 0 0;
    font-size: calc(50vw/12);
  }
  .contents .c_cau {
    padding: 3% 4.5% 0 0;
    font-size: calc(28vw/12);
    letter-spacing: 0.9px;
  }

  .o_box {
    max-width: 100%;
    margin: 0 4.5%;
  }
  .o_box .o_h {
    padding: 0 0 0 2.5%;
    margin: 11% 0 0;
    font-size: calc(47vw/12);
    border-left: 9px solid #ddaa00;
    line-height: 1.3;
  }
  .o_box .o_text {
    margin: 7% 0 0;
    font-size: calc(36vw/12);
    letter-spacing: 1.3px;
  }

  .other {
    padding: 0 0 7.5%;
  }
  .other .wrap {
    max-width: 100%;
    margin: 0 4.5%;
  }
  .other .o_fig {
    margin: 7.5% 0 0;
  }

  .t_top {
    padding: 0 0 8%;
    margin: 8% 0 0;
  }
  .t_top a {
    display: inline-block;
    font-size: calc(48vw/12);
    letter-spacing: 0.8px;
  }

  footer .wrap {
    max-width: 100%;
    margin: 0 4.5%;
    padding: 7.5% 0 10%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(26vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(25vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer .f_dot {
    margin: 15px 0 0 35px;
  }
  footer .f_dot li {
    position: relative;
    padding: 0 0 0 38px;
    margin: 8px 0 0;
    line-height: 1.4;
    font-size: 19px;
  }
  footer .f_dot li:before {
    content: '・';
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 19px;
    line-height: 0;
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(28vw/12);
    letter-spacing: 0.8px;
  }
}
