
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}

.nohv {
	&:hover {
		opacity: 1!important;
	}
}
.c_h_bottom {
	margin: 0 0 25px;
}
.wrap {
	background: #000;
	max-width: 768px;
	padding: 0 18px 0;
	margin: 0 auto;
}
.bottom_text {
	padding: 0 0 41px;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
}
.b_h {
	margin: 23px auto 62px;
	text-align: center;
	max-width: 409px;
}
.dn {
	display: none;
}
.line {
	height: 36px;
}
header {
	box-sizing: border-box;
	.logo {
		background: #000;
		padding: 13px 0 14px 22px;
		line-height: 0;
		span {
			display: block;
			max-width: 151px;
		}
	}
	.h_wrap {
		position: relative;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/550207/587cdfbf82d3cf113cadafce4119f3f0_42f27b4ef22e5c4946bbb459e78aacda.png) center center no-repeat;
		background-size: cover;
		height: 269px;
		padding: 0 0 0;
		box-sizing: border-box;
		.h_h {
			max-width: 533px;
			padding: 63px 0 0;
			margin: 0 auto 0;
		}
		.h_v {
			max-width: 657px;
			padding: 76px 0 0;

		}
		.h_r {
			padding: 40px 0 0;
			max-width: 657px;

		}
	}
}
.c_no {
	background: #ababab!important;
	letter-spacing: 1.5px!important;
	border: none!important;
	color: #fff!important;

	&:hover {
		opacity: 1!important;
	}
}
.contents {
	padding: 60px 0 0;
	.wrap {
		border-radius: 6px;
	}
	.c_h {
		border-left: 6px solid #3a2;
		padding: 0 0 0 18px;
		line-height: 1.4;
		font-size: 32px;
		span {
			letter-spacing: 1.3px;
			font-size: 36px;
		}
	}

	.c_h_m {
		margin: 20px 0 0;
	}

	.c_t {
		margin: 12px 0 0;
		font-size: 25px;
		line-height: 1.3;
		color: #000;
	}
	.c_one {
		padding: 0 0 35px;
		margin: 15px 0 0;

		.c_t_item {
			li {
				padding: 35px 0 0;
				border-bottom: 1px solid #606060;

				&:last-child {
					border-bottom: none;
				}
			}
		}
		.c_t_dl {
			display: flex;
			align-items: center;
			dd {
				width: 52%;
				line-height: 0;
			}
			dt {
				width: 45%;
				padding: 0 0 0 3%;
				font-size: 23px;
				line-height: 1.35;
				font-weight: bold;
				color: #fff;
				.rank {
					display: block;
					font-size: 20px;
					color: #3a2;
					.num {
						margin: 0 2px 0 0;
						font-size: 30px;
					}
				}
			}
		}
		.c_row {
			li {
				padding: 25px 0;
				border-bottom: 1px solid #606060;
				a {
					display: block;
				}

				&:first-child {
					border-top: 1px solid #606060;
				}
			}
			.c_r_dl {
				display: flex;
				align-items: center;
				dd {
					width: 44%;
					line-height: 0;
				}
				dt {
					width: 53%;
					padding: 0 0 0 3%;
					font-size: 23px;
					line-height: 1.35;
					font-weight: bold;
					color: #fff;
					.rank {
						display: block;
						font-size: 20px;
						color: #3a2;
						.num {
							margin: 0 2px 0 0;
							font-size: 30px;
						}
					}
				}
			}
		}
		.c_t_text {
			margin: 20px 0 0;
			font-size: 26px;
			line-height: 1.4;
			color: #000;
		}

		.c_t_btn {
			margin: 25px 0 35px;
			a {
				display: block;
				padding: 15px 0;
				text-align: center;
				border-radius: 6px;
				border: 3px solid #3a2;
				font-size: 30px;
				color: #3a2;

				&:hover {
					background: #3a2;
					color: #fff;
					opacity: 1;
				}
			}
		}
	}

	.c_two {
		padding: 0 0 35px;
		margin: 15px 0 0;

		.c_t_item {
			li {
				padding: 35px 0 0;
				border-bottom: 1px solid #606060;

				&:last-child {
					border-bottom: none;
				}
			}
		}
		.c_t_dl {
			display: flex;
			align-items: center;
			dd {
				width: 52%;
				line-height: 0;
			}
			dt {
				width: 45%;
				padding: 0 0 0 3%;
				font-size: 23px;
				line-height: 1.35;
				font-weight: bold;
				color: #fff;
				.rank {
					display: block;
					font-size: 20px;
					color: #3a2;
					.num {
						margin: 0 2px 0 0;
						font-size: 30px;
					}
				}
			}
		}
		.c_row {
			li {
				padding: 25px 0;
				border-bottom: 1px solid #606060;
				a {
					display: block;
				}

				&:first-child {
					border-top: 1px solid #606060;
				}
			}
			.c_r_dl {
				display: flex;
				align-items: center;
				dd {
					width: 44%;
					line-height: 0;
				}
				dt {
					width: 53%;
					padding: 0 0 0 3%;
					font-size: 23px;
					line-height: 1.35;
					font-weight: bold;
					color: #fff;
					.rank {
						display: block;
						font-size: 20px;
						color: #3a2;
						.num {
							margin: 0 2px 0 0;
							font-size: 30px;
						}
					}
				}
			}
		}
		.c_t_text {
			margin: 20px 0 0;
			font-size: 26px;
			line-height: 1.4;
			color: #000;
		}

		.c_t_btn {
			margin: 25px 0 35px;
			a {
				display: block;
				padding: 15px 0;
				text-align: center;
				border-radius: 6px;
				border: 3px solid #3a2;
				font-size: 30px;
				color: #3a2;

				&:hover {
					background: #3a2;
					color: #fff;
					opacity: 1;
				}
			}
		}
	}


	.c_three {
		padding: 0 0 35px;
		margin: 15px 0 0;

		.c_t_item {
			li {
				padding: 35px 0 0;
				border-bottom: 1px solid #606060;

				&:last-child {
					border-bottom: none;
				}
			}
		}
		.c_t_dl {
			display: flex;
			align-items: center;
			dd {
				width: 52%;
				line-height: 0;
			}
			dt {
				width: 45%;
				padding: 0 0 0 3%;
				font-size: 23px;
				line-height: 1.35;
				font-weight: bold;
				color: #fff;
				span {
					display: inline-block;
				}
			}
		}
		.c_row {
			li {
				padding: 25px 0;
				border-bottom: 1px solid #606060;
				a {
					display: block;
				}

				&:first-child {
					border-top: 1px solid #606060;
				}
			}
			.c_r_dl {
				display: flex;
				align-items: center;
				dd {
					width: 44%;
					line-height: 0;
				}
				dt {
					width: 53%;
					padding: 0 0 0 3%;
					font-size: 23px;
					line-height: 1.35;
					font-weight: bold;
					color: #000;
					.rank {
						display: block;
						font-size: 20px;
						color: #3a2;
						.num {
							margin: 0 2px 0 0;
							font-size: 30px;
						}
					}
				}
			}
		}
		.c_t_text {
			margin: 20px 0 0;
			font-size: 26px;
			line-height: 1.4;
			color: #666;
		}

		.c_t_btn {
			margin: 25px 0 35px;
			a {
				display: block;
				background: #3a2;
				padding: 15px 0;
				text-align: center;
				border-radius: 5px;
				font-size: 30px;
				color: #fff;
			}
		}
	}

	.c_four {
		padding: 0 0 35px;
		margin: 15px 0 0;
		.c_f_item {
			a {
				display: block;
			}
			li {
				padding: 25px 0;
				border-bottom: 1px solid #606060;

				&:last-child {
					border-bottom: none;
				}
			}
			.c_f_dl {
				display: flex;
				align-items: center;

				dd {
					width: 37%;
					line-height: 0;
				}
				dt {
					width: 59.5%;
					margin: 0 0 0 3.5%;
					font-size: 23px;
					line-height: 1.3;
					color: #000;
				}
			}
		}
	}
	.c_six {
		padding: 0 0 35px;
		margin: 15px 0 0;

		.c_s_item {
			li {
				padding: 25px 0;
				border-bottom: 1px solid #606060;

				&:last-child {
					border-bottom: none;
				}
				a {
					display: block;
				}
			}
		}
		.c_s_dl {
			display: flex;
			align-items: center;
			dd {
				width: 38%;
				line-height: 0;
			}
			dt {
				width: 59%;
				padding: 0 0 0 3%;
				font-size: 23px;
				line-height: 1.35;
				font-weight: bold;
				color: #fff;
				.comi {
					display: inline-block;
					background: #ababab;
					padding: 5px 25px;
					margin: 0 0 10px;
					letter-spacing: 1.2px;
					font-size: 20px;
					border-radius: 4px;
					color: #fff;
				}
				.rank {
					display: block;
					font-size: 20px;
					color: #cfa64d;
					.num {
						margin: 0 2px 0 0;
						font-size: 30px;
					}
				}
			}
		}
	}

	.c_12th {
		background: #000;
		padding: 0 0 30px;
		margin: 35px 0 0;

		figure {
			margin: 20px 0 0;
			line-height: 0;
		}
		.c_12h {
			margin: 33px 0 0;
			font-size: 27px;
			font-weight: bold;

		}
		.c_12t {
			margin:12px 0 0 0;
			font-size: 25px;
			line-height: 1.3;
			color: #ababab;

		}
		.c_btn {
			margin: 40px 0 40px;
			a {
				display: block;
				background: #3a2;
				padding: 15px 0;
				text-align: center;
				border-radius: 6px;
				font-size: 30px;
				color: #fff;
			}
		}
		.c_batu {
			background: #ababab;
			padding: 15px 0;
			margin: 40px 0 40px;
			text-align: center;
			border-radius: 6px;
			font-size: 30px;
			color: #fff;
		}
		.c12_item {
			li {
				padding: 28px 0;
				border-top: 1px solid #606060;
				a {
					display: block;
				}
			}
		}
		.c_dl {
			display: flex;
			align-items: center;
			dd {
				width: 56%;
			}
			dt {
				width: 41%;
				padding: 0 0 0 3%;
				font-size: 23px;
				line-height: 1.35;
				font-weight: bold;
				color: #fff;
			}
		}
	}

	.c_seven {
		display: flex;
		flex-flow: row wrap;
		padding: 0 0 50px;
		margin: 35px 0 0;
		li {
			justify-content: flex-end;
			box-sizing: border-box;
			background: #1a1a1a;
			width: 48%;
			margin: 5% 0 0 4%;
			border-radius: 8px;
			&:nth-child(2n+1) {
				margin: 5% 0 0 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 4%;
			}
			&:nth-child(1) {
				margin: 0;
			}
			a {
				display: block;
				border-radius: 8px;
				figure {
					line-height: 0;
					img {
						border-radius: 8px 8px 0 0;
					}
				}
				.c_text {
					padding: 20px;
					font-size: 27px;
					line-height: 1.4;
					color: #fff;
				}
			}
		}
	}
	.c_five {
		padding: 0 0 20px;
		.c_f_li {
			border-top: 1px solid #606060;

			&:first-child {
				border-top: none;
			}

			a {
				display: block;
				padding: 25px 0;
			}
			dl {
				display: flex;
				align-items: center;
			}
			dd {
				line-height: 0;
				width: 50%;
			}
			dt {
				width: 47%;
				padding: 0 0 0 3%;
				font-size: 26px;
				line-height: 1.4;
				text-align: left;
				font-weight: bold;
				color: #fff;
			}
		}
	}
	.c_item {
		display: flex;
		flex-flow: row wrap;
		padding: 0 0 20px;
		margin: 35px 0 0;

		li {
			justify-content: flex-end;
			box-sizing: border-box;
			background: #efefef;
			width: 48%;
			margin: 5% 0 0 4%;
			border-radius: 8px;
			&:nth-child(2n+1) {
				margin: 5% 0 0 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 4%;
			}
			&:nth-child(1) {
				margin: 0;
			}
			a {
				display: block;
				border-radius: 8px;
				figure {
					line-height: 0;
					img {
						border-radius: 8px 8px 0 0;
					}
				}
				.c_text {
					padding: 20px;
					font-size: 27px;
					line-height: 1.4;
					color: #000;
				}
			}
		}
	}
}
.c_s {
	padding: 0;
}

.info_img {
	margin: 0 0 60px;
	figure {
		max-width: 629px;
		margin: 0 auto;
		line-height: 0;
	}
}

.point {
	padding: 60px 0 60px;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
	}
	.c_h {
		border-left: 6px solid #3a2;
		padding: 0 0 0 18px;
		line-height: 1.4;
		font-size: 32px;
		span {
			letter-spacing: 1.3px;
			font-size: 36px;
		}
	}
	.c_box {
		margin: 30px 0 0;
		li {
			background: #202121;
			padding: 30px 16.5px 35px;
			margin: 18px auto 0;
			border-radius: 10px;
			.icon {
				position: relative;
				background: #ddbd1a;
				max-width: 91px;
				margin: 0 auto;
				box-sizing: border-box;
				padding: 4px 0 7px;
				border-radius: 30px;
				font-size: 12.5px;
				font-weight: bold;
				text-align: center;
				white-space: nowrap;
				color: #202121;
				&:before {
					content: ' ';
					height: 0;
					position: absolute;
					width: 0;
					border: 7px solid transparent;
					border-top-color: #ddbd1a;
					top: 100%;
					left: 53%;
					margin-left: -10px;
				}
				span {
					display: inline-block;
					margin: 0 0 0 5px;
					font-size: 18px;

				}
			}

			&:first-child {
				margin: 0 auto;
			}

			.c_ih {
				margin: 20px auto 0;
				font-size: 34px;
				text-align: center;
				line-height: 1.35;
				letter-spacing: 1.3px;
			}
			.pic {
				margin: 28px auto 0;
				max-width: 644px;
			}

			.caution {
				margin: 15px 0 0;
				text-align: center;
				font-size: 13px;
				line-height: 1.3;
				color: #777;
			}
		}
	}
}
.banner {
	background: #000;
	padding: 5px 0 0;
	.b_btn {
		max-width: 681px;
		margin: 0 auto;
		a {
			position: relative;
			display: block;
			background: #3a2;
			padding: 26px 32px;
			line-height: 1.35;
			border-radius: 6px;
			font-size: 23px;
			font-weight: bold;
			color: #fff;
			&:before {
				content: '';
				position: absolute;
				top: 38%;
				right: 3%;
				background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/550207/68ba6a8c76f0c5a196d45bab4c2d1cf5_0ddf66a353274ad7954f34df0adf5757.png) 0 0 no-repeat;
				background-size: 20px 34px;
				width: 20px;
				height: 34px;
			}
		}
		.b_cl {
			display: block;
			font-size: 18px;
			color: #000;
		}
		.b_num {
			display: inline-block;
			font-size: 28px;
		}
	}
}


aside {
	background: #000;
	padding: 62px 0 36px;
	.wrap {
		max-width: 768px;
		margin: 0 auto;
	}
	.f_d {
		dt {
			margin: 40px 0 0;
			font-size: 28px;
			letter-spacing: 1.4px;
			font-weight: 600;
			color: #666;
		}
		dd {
			margin: 25px 0 0;
			font-size: 24px;
			line-height: 1.45;
			letter-spacing: 1.4px;
			color: #666;
			.caution {
				display: block;
				margin: 12px 0 0;
				font-size: 20px;
			}
			.f_item {
				margin: 15px 0 0 35px;
				li {
					margin: 6px 0 0;
					line-height: 1.4;
					font-size: 20px;
				}
			}
			a {
				color: #a1882f;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.dd_last {
			line-height: 1.2;
		}
	}
	.f_c {
		margin: 15px 0 0;
		line-height: 1.3;
		font-size: 20px;
	}
}

.genre {
	padding: 62px 0 65px;
	.wrap {
		padding: 60px 0 0;
		border-top: 1px solid #606060;
	}
	.g_h {
		font-size: 32px;
	}
	.g_item {
		overflow: hidden;
		margin: 38px 0 0;
		li {
			float: left;
			width: 48.5%;
			margin: 0 0 0 3%;

			&:nth-child(2n+1) {
				margin: 3% 0 0 0;
			}
			&:nth-child(2n+2) {
				margin: 3% 0 0 3%;
			}
			&:nth-child(1) {
				margin: 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 3%;
			}
			a {
				display: block;
				padding: 25px 0;
				border: 2px solid #3a2;
				border-radius: 6px;
				text-align: center;
				font-size: 28px;
				font-weight: bold;
				letter-spacing: 1.3px;
				color: #3a2;
				&:hover {
					background: #3a2;
					color: #fff;
					opacity: 1;
				}
			}
		}
	}
}

.common_banner {
	.wrap {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/3517790a59412e1b865e4b03e5f42652_d459ab1abba4f465e5d442f8c76dd22a.png) center center repeat;
		background-size: cover;
		max-width: 768px;
		padding: 42px 76px 50px;
		margin: 0 auto;
		box-sizing: border-box;
	}
	figure {
		max-width: 336px;
		line-height: 0;
	}
	.a_text {
		margin: 23px 0 0;
		font-size: 28px;
		letter-spacing: 1.4px;
		color: #fff;
	}
	.a_btn {
		margin: 32px 0 0;
		a {
			display: block;
			padding: 20px 0;
			border: 2px solid #3a2;
			border-radius: 6px;
			font-size: 26px;
			letter-spacing: 1.8px;
			text-align: center;
			font-weight: bold;
			color: #3a2;
			&:hover {
				background: #3a2;
				opacity: 1;
				color: #fff;
			}
		}
	}
}


footer {
	background: #000;
	.wrap {
		background: none;
		padding: 25px 0 40px;
	}

	.f_list {
		overflow: hidden;
		margin: 10px 40px 0;
		li {
			position: relative;
			float: left;
			margin: 0 10px 0 0;
			a {
				display: block;
				padding: 0 12px 0 0;
				font-size: 16px;
				color: #919191;
			}
			&:after {
				content: ' | ';
				position: absolute;
				top: 0;
				right: 0;
				color: #919191;
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	.copy {
		margin: 0 40px 0;
		li {
			width: 100%;
			margin: 5px 0 0 0;
			line-height: 1.3;
			font-size: 15px;
			color: #919191;
		}
	}
	small {
		display: block;
		margin: 30px 40px 20px;
		font-size: 16px;
		letter-spacing: 1px;
		text-align: left;
		color: #919191;
	}

	.twelve {
		padding: 0 0 45px;
		.tw_img {
			line-height: 0;
			margin: 30px 0 0;
		}
		.tw_h {
			margin: 30px 0 0;
			line-height: 1.4;
			font-size: 32px;
			color: #000;
		}
		.tw_t {
			margin: 15px 0 0;
			font-size: 22px;
			font-weight: bold;
			line-height: 1.4;
			color: #8c8c8c;
		}
		.tw_btn {
			margin: 40px 0 0;
			a {
				display: block;
				padding: 16px 0;
				border: 3px solid #3a2;
				border-radius: 6px;
				font-size: 30px;
				font-weight: bold;
				text-align: center;
				color: #3a2;
				&:hover {
					background: #3a2;
					opacity: 1;
					color: #fff;
				}
			}
		}
		.large {
			margin: 25px 0 0;
		}
		.thumb {
			// overflow: hidden;
			display:flex;
			justify-content:space-between;
			margin: 15px 0 0;
			li {
				margin: 0 0 0 2%;
				&:first-child {
					margin: 0;
				}
				a {
					overflow: hidden;
					display: block;
					line-height:0;
					transition: none;
					img {
						margin: 0;
					}

				}
				.active {
					box-sizing: border-box;
					border: 4px solid #3a2;
					img {
						margin: -2.5px 0;
						opacity: .8;

					}
				}
			}
		}
	}
}



@media screen and (max-width: 768px) {
	.line {
		height: 25px;
	}
	.f_line {
		background: #fff;
		height: 45px;
	}
	.c_h_bottom {
		margin: 0 0 3.3%;
	}

	.dn {
		display: none;
	}
	.c_no {
		letter-spacing: 1.4px!important;
	}

	.wrap {
		padding: 0 3% 0;
		margin: 0 3%;
	}
	.bottom_text {
		padding: 0 0 6%;
		font-size: calc(36vw/12);
	}
	.b_h {
		width: 61%;
		margin: 3% auto 8.2%;
	}

	header {
		.logo {
			padding: 1.6% 0 1.6% 2.5%;
			span {
				width: 21%;
			}
		}
		.h_wrap {
			position: relative;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/44397a2e799615ea05de468a05a21851_a6fef09c600f3d33306f7f7abd60be00.png) center center no-repeat;
			background-size: cover;
			height: auto;
			padding: 0 0 0;
			.h_h {
				width: 82%;
				padding: 6% 0 7%;
			}
			.h_v {
				width: 85%;
				padding: 9.4% 0 9.2%;

			}
			.h_r {
				width: 86%;
				padding: 3.5% 0 3.9%;
			}
		}
	}

	.contents {
		padding: 8% 0 0;

		.c_h {
			border-left: 4.5px solid #3a2;
			padding: 0 0 0 2.6%;
			line-height: 1.4;
			font-size: calc(50vw/12);
			span {
				letter-spacing: 1.3px;
				font-size: calc(52vw/12);
			}
		}

		.c_h_m {
			margin: 3% 0 0;
		}
		.c_t {
			margin: 2% 0 0;
			font-size: calc(39vw/12);
			line-height: 1.3;
		}
		.c_one {
			padding: 0 0 2.5%;
			margin: 1% 0 0;

			.c_t_item {
				li {
					padding: 4% 0 0;
				}
			}
			.c_t_dl {
				dd {
					width: 52%;
				}
				dt {
					width: 45%;
					padding: 0 0 0 3%;
					font-size: calc(40vw/12);
					line-height: 1.35;
					.rank {
						font-size: calc(32vw/12);
						.num {
							margin: 0 0.3% 0 0;
							font-size: calc(47vw/12);
						}
					}
				}
			}

			.c_t_text {
				margin: 3% 0 0;
				font-size: calc(45vw/12);
				line-height: 1.4;
			}

			.c_t_btn {
				margin: 3.5% 0 5%;
				a {
					padding: 2.3% 0;
					border-radius: 5px;
					border: 1.5px solid #3a2;
					font-size: calc(48vw/12);
					&:hover {
						background: #3a2;
						color: #fff;
						opacity: 1;
					}
				}
			}

			.c_row {
				li {
					padding: 3.5% 0;

					&:first-child {
						border-top: 1px solid #606060;
					}
				}
				.c_r_dl {
					dd {
						width: 44%;
					}
					dt {
						width: 53%;
						padding: 0 0 0 3%;
						font-size: 23px;
						line-height: 1.35;
						.rank {
							font-size: calc(34vw/12);
							.num {
								margin: 0 0.2% 0 0;
								font-size: calc(46vw/12);
							}
						}
					}
				}
			}
			.c_t_text {
				margin: 3% 0 0;
				font-size: calc(41vw/12);
				line-height: 1.4;
			}
		}

		.c_two {
			padding: 0 0 2.5%;
			margin: 1% 0 0;

			.c_t_item {
				li {
					padding: 4% 0 0;
				}
			}
			.c_t_dl {
				dd {
					width: 52%;
				}
				dt {
					width: 45%;
					padding: 0 0 0 3%;
					font-size: calc(40vw/12);
					line-height: 1.35;
					.rank {
						font-size: calc(32vw/12);
						.num {
							margin: 0 0.3% 0 0;
							font-size: calc(47vw/12);
						}
					}
				}
			}

			.c_t_text {
				margin: 3% 0 0;
				font-size: calc(45vw/12);
				line-height: 1.4;
			}

			.c_t_btn {
				margin: 3.5% 0 5%;
				a {
					padding: 2.3% 0;
					border-radius: 5px;
					border: 1.5px solid #3a2;
					font-size: calc(48vw/12);
					&:hover {
						background: #3a2;
						color: #fff;
						opacity: 1;
					}
				}
			}

			.c_row {
				li {
					padding: 3.5% 0;

					&:first-child {
						border-top: 1px solid #606060;
					}
				}
				.c_r_dl {
					dd {
						width: 44%;
					}
					dt {
						width: 53%;
						padding: 0 0 0 3%;
						font-size: 23px;
						line-height: 1.35;
						.rank {
							font-size: calc(34vw/12);
							.num {
								margin: 0 0.2% 0 0;
								font-size: calc(46vw/12);
							}
						}
					}
				}
			}
			.c_t_text {
				margin: 3% 0 0;
				font-size: calc(41vw/12);
				line-height: 1.4;
			}
		}
		.c_four {
			padding: 0 0 5%;
			margin: 1% 0 0;
			.c_f_item {
				li {
					padding: 3.5% 0;
				}
				.c_f_dl {

					dd {
						width: 37%;
					}
					dt {
						width: 59.5%;
						margin: 0 0 0 3.5%;
						font-size: calc(36vw/12);
						line-height: 1.3;
					}
				}
			}
		}
		.c_six {
			padding: 0 0 5%;
			margin: 1% 0 0;

			.c_s_item {
				li {
					padding: 3% 0;
				}
			}
			.c_s_dl {
				dd {
					width: 38%;
				}
				dt {
					width: 59%;
					padding: 0 0 0 3%;
					font-size: calc(36vw/12);
					line-height: 1.35;
					.comi {
						padding: 1.1% 6% 1.3%;
						margin: 0 0 1.8%;
						letter-spacing: 1.3px;
						font-size: calc(31vw/12);
						border-radius: 4px;
					}
					.rank {
						font-size: calc(38vw/12);
						.num {
							margin: 0 0.2% 0 0;
							font-size: calc(42vw/12);
						}
					}
				}
			}
		}

		.c_three {
			padding: 0 0 5%;
			margin: 1% 0 0;

			.c_t_item {
				li {
					padding: 4% 0 0;
				}
			}
			.c_t_dl {
				display: flex;
				align-items: center;
				dd {
					width: 52%;
				}
				dt {
					width: 45%;
					padding: 0 0 0 3%;
					font-size: calc(36vw/12);
					line-height: 1.35;
				}
			}
			.c_row {
				li {
					padding: 3.5% 0;

					&:first-child {
						border-top: 1px solid #606060;
					}
				}
				.c_r_dl {
					dd {
						width: 44%;
					}
					dt {
						width: 53%;
						padding: 0 0 0 3%;
						font-size: 23px;
						line-height: 1.35;
						.rank {
							font-size: calc(32vw/12);
							.num {
								margin: 0 0.2% 0 0;
								font-size: calc(47vw/12);
							}
						}
					}
				}
			}
			.c_t_text {
				margin: 3% 0 0;
				font-size: calc(41vw/12);
				line-height: 1.4;
			}

			.c_t_btn {
				margin: 3.5% 0 5%;
				a {
					padding: 2.3% 0;
					border-radius: 4px;
					font-size: calc(44vw/12);
				}
			}
		}

		.c_12th {
			padding: 0 0 3%;
			margin: 5% 0 0;
			figure {
				margin: 3% 0 0;
			}
			.c_12h {
				margin: 4% 0 0;
				font-size: calc(43vw/12);
			}
			.c_12t {
				margin: 2% 0 0 0;
				font-size: calc(38vw/12);
				line-height: 1.3;
			}
			.c_btn {
				margin: 6% 0 6%;
				a {
					padding: 2.3% 0;
					border-radius: 5px;
					font-size: calc(44vw/12);

					&:hover {
						opacity: 1;
					}
				}
			}
			.c_batu {
				padding: 2.3% 0;
				margin: 6% 0 6%;
				border-radius: 5px;
				font-size: calc(44vw/12);
			}
			.c12_item {
				li {
					padding: 4% 0;
				}
			}
			.c_dl {
				dd {
				}
				dt {
					padding: 0 0 0 3%;
					font-size: calc(38vw/12);
					line-height: 1.35;
				}
			}
		}

		.c_seven {
			padding: 0 0 5%;
			margin: 5% 0 0;
			li {
				border-radius: 7px;
				a {
					border-radius: 7px;
					figure {
						img {
							border-radius: 7px 7px 0 0;
						}
					}
					.c_text {
						padding: 6.5%;
						font-size: calc(42vw/12);
						line-height: 1.4;
						font-weight: bold;
					}
				}
			}
		}
		.c_five {
			padding: 0 0 3%;
			.c_f_li {
				a {
					padding: 3.7% 0;
				}
				dd {
					width: 48%;
				}
				dt {
					width: 48%;
					padding: 0 0 0 4%;
					font-size: calc(41vw/12);
					line-height: 1.35;
				}
			}
		}
		.twelve {
			padding: 0 0 4%;
			.tw_h {
				line-height: 1.4;
				font-size: calc(50vw/12);
			}
			.tw_t {
				margin: 2% 0 0;
				font-size: calc(38vw/12);
				line-height: 1.4;
			}
			.tw_btn {
				margin: 6% 0 0;
				a {
					padding: 3% 0;
					border: 2px solid #3a2;
					border-radius: 5px;
					font-size: calc(48vw/12);
					&:hover {
						background: none;
						opacity: 0.8;
						color: #3a2;
					}
				}
			}
			.large {
				margin: 3.5% 0 0;
			}
			.thumb {
				margin: 2.5% 0 0;
				li {
					margin: 0 0 0 2%;
					&:first-child {
						margin: 0;
					}
					.active {
						border: 3px solid #3a2;
						img {
							margin: -1.2px 0;
							opacity: .8;

						}
					}
				}
			}
		}
	}

	.c_s {
		padding: 0;
	}
	.info_img {
		margin: 0 0 7%;
		figure {
			width: 93%;
		}
	}

	.point {
		padding: 7.5% 0 7.5%;
		.c_h {
			border-left: 4.5px solid #3a2;
			padding: 0 0 0 2.6%;
			line-height: 1.4;
			font-size: calc(50vw/12);
			span {
				letter-spacing: 1.3px;
				font-size: calc(52vw/12);
			}
		}
		.c_box {
			margin: 4% 0 0;
			li {
				padding: 4.4% 2.4% 4.3%;
				margin: 3% 0 0;
				margin: 2.6% auto 0;
				border-radius: 9px;
				.icon {
					width: 16%;
					margin: 0 auto;
					box-sizing: border-box;
					padding: 0.8% 0 1.2%;
					border-radius: 30px;
					font-size: calc(21vw/12);
					letter-spacing: 0.6px;
					&:before {
						content: ' ';
						height: 0;
						position: absolute;
						width: 0;
						border: 7px solid transparent;
						border-top-color: #ddbd1a;
						top: 100%;
						left: 53%;
						margin-left: -10px;
					}
					span {
						display: inline-block;
						margin: 0 0 0 2.5%;
						font-size: calc(29vw/12);
					}
				}

				&:first-child {
					margin: 0;
				}

				.c_ih {
					margin: 3.3% auto 0;
					font-size: calc(54vw/12);
					line-height: 1.3;
					letter-spacing: 1.3px;
				}
				.pic {
					margin: 3.8% auto 0;
				}

				.caution {
					margin: 2% 0 0;
					font-size: calc(21vw/12);
					line-height: 1.3;
				}
			}
		}
	}

	.banner {
		padding: 1% 0 0;
		.b_btn {
			width: 80%;
			a {
				padding: 3.6% 5%;
				line-height: 1.35;
				border-radius: 6px;
				font-size: calc(37vw/12);
				&:before {
					top: 40%;
					right: 3%;
					background-size: 16px 27px;
					width: 16px;
					height: 27px;
				}
			}
			.b_cl {
				font-size: calc(29vw/12);
			}
			.b_num {
				display: inline-block;
				font-size: calc(40vw/12);
			}
		}
	}

	aside {
		padding: 9% 0 5%;
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(44vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(37vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(31vw/12);
				}
				.f_item {
					margin: 2.3% 0 0 5.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(32vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(32vw/12);
		}
	}

	.genre {
		padding: 8% 0 5%;
		.wrap {
			padding: 8% 0 0;
			margin: 0 5%;
			border-top: 1px solid #606060;
		}
		.g_h {
			font-size: calc(50vw/12);
		}
		.g_item {
			margin: 6% 0 0;
			li {
				float: left;
				width: 48%;
				margin: 0 0 0 4%;

				&:nth-child(2n+1) {
					margin: 4% 0 0 0;
				}
				&:nth-child(2n+2) {
					margin: 4% 0 0 4%;
				}
				&:nth-child(1) {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 4%;
				}
				a {
					padding: 8% 0;
					border: 2px solid #3a2;
					border-radius: 5px;
					font-size: calc(44vw/12);
					letter-spacing: 1.3px;
					&:hover {
						background:none;
						color:#3a2;
					}
				}
			}
		}
	}

	.common_banner {
		.wrap {
			padding: 6.4% 10% 6%;
		}
		figure {
			width: 55%;
		}
		.a_text {
			margin: 3.5% 0 0;
			font-size: calc(43vw/12);
			letter-spacing: 1.4px;
		}
		.a_btn {
			margin: 6.2% 0 0;
			a {
				padding: 3.5% 0;
				border: 1.5px solid #3a2;
				border-radius: 5px;
				font-size: calc(41vw/12);
				letter-spacing: 1.6px;
				&:hover {
					background: none;
					opacity: .8;
					color: #3a2;
				}
			}
		}
	}

	footer {
		padding: 0 0 3%;
		.wrap {
			padding: 0 0 5%;
			margin: 0 5%;
		}
		.copy {
			margin: 0 0 6%;
			li {
				margin: 0.7% 0 0 0;
				line-height: 1.3;
				font-size: calc(24vw/12);
			}
		}
		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 10px 0 0;
				a {
					padding: 0 12px 0 0;
					font-size: calc(30vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(26vw/12);
			letter-spacing: 1.3px;
		}
	}
}
@media screen and (max-width: 480px) {

	.line {
		height: 10px;
	}
	.f_line {
		background: #fff;
		height: 31px;
	}
	.c_h_bottom {
		margin: 0 0 3.3%;
	}

	.dn {
		display: none;
	}
	.wrap {
		padding: 0 3% 0;
		margin: 0 3%;
	}
	.bottom_text {
		padding: 0 0 6%;
		font-size: calc(38vw/12);
	}
	.b_h {
		width: 62%;
		margin: 2.5% auto 7.6%;
	}

	header {
		.logo {
			padding: 1.6% 0 1.8% 2.5%;
			span {
				width: 21%;
			}
		}
		.h_wrap {
			padding: 0 0 0;
			.h_h {
				width: 83%;
				padding: 7.5% 0 6.8%;
			}
			.h_v {
				width: 86%;
				padding: 9.4% 0 9.2%;

			}
			.h_r {
				width: 87%;
				padding: 3.5% 0 4.1%;
			}
		}
	}

	.contents {
		padding: 8% 0 0;
		.wrap {
			border-radius: 4px;
		}
		.c_h {
			border-left: 3px solid #3a2;
			padding: 0 0 0 2.6%;
			line-height: 1.4;
			font-size: calc(50vw/12);
			span {
				letter-spacing: 1.3px;
				font-size: calc(52vw/12);
			}
		}

		.c_h_m {
			margin: 3% 0 0;
		}
		.c_t {
			margin: 2% 0 0;
			font-size: calc(41vw/12);
			line-height: 1.3;
		}

		.c_one {
			padding: 0 0 2.5%;
			margin: 1% 0 0;

			.c_t_item {
				li {
					padding: 4% 0 0;
				}
			}
			.c_t_dl {
				dd {
					width: 52%;
				}
				dt {
					width: 45%;
					padding: 0 0 0 3%;
					font-size: calc(42vw/12);
					line-height: 1.35;
					.rank {
						font-size: calc(34vw/12);
						.num {
							margin: 0 0.3% 0 0;
							font-size: calc(49vw/12);
						}
					}
				}
			}

			.c_t_text {
				margin: 3% 0 0;
				font-size: calc(47vw/12);
				line-height: 1.4;
			}

			.c_t_btn {
				margin: 3.5% 0 5%;
				a {
					padding: 2.3% 0;
					border-radius: 5px;
					border: 1.5px solid #3a2;
					font-size: calc(50vw/12);
					&:hover {
						background: #3a2;
						color: #fff;
						opacity: 1;
					}
				}
			}

			.c_row {
				li {
					padding: 3.5% 0;

					&:first-child {
						border-top: 1px solid #606060;
					}
				}
				.c_r_dl {
					dd {
						width: 44%;
					}
					dt {
						width: 53%;
						padding: 0 0 0 3%;
						font-size: 23px;
						line-height: 1.35;
						.rank {
							font-size: calc(36vw/12);
							.num {
								margin: 0 0.2% 0 0;
								font-size: calc(48vw/12);
							}
						}
					}
				}
			}
			.c_t_text {
				margin: 3% 0 0;
				font-size: calc(43vw/12);
				line-height: 1.4;
			}
		}

		.c_two {
			padding: 0 0 2.5%;
			margin: 1% 0 0;

			.c_t_item {
				li {
					padding: 4% 0 0;
				}
			}
			.c_t_dl {
				dd {
					width: 52%;
				}
				dt {
					width: 45%;
					padding: 0 0 0 3%;
					font-size: calc(42vw/12);
					line-height: 1.35;
					.rank {
						font-size: calc(34vw/12);
						.num {
							margin: 0 0.3% 0 0;
							font-size: calc(49vw/12);
						}
					}
				}
			}

			.c_t_text {
				margin: 3% 0 0;
				font-size: calc(47vw/12);
				line-height: 1.4;
			}

			.c_t_btn {
				margin: 3.5% 0 5%;
				a {
					padding: 2.3% 0;
					border-radius: 5px;
					border: 1.5px solid #3a2;
					font-size: calc(50vw/12);
					&:hover {
						background: #3a2;
						color: #fff;
						opacity: 1;
					}
				}
			}

			.c_row {
				li {
					padding: 3.5% 0;

					&:first-child {
						border-top: 1px solid #606060;
					}
				}
				.c_r_dl {
					dd {
						width: 44%;
					}
					dt {
						width: 53%;
						padding: 0 0 0 3%;
						font-size: 23px;
						line-height: 1.35;
						.rank {
							font-size: calc(36vw/12);
							.num {
								margin: 0 0.2% 0 0;
								font-size: calc(48vw/12);
							}
						}
					}
				}
			}
			.c_t_text {
				margin: 3% 0 0;
				font-size: calc(43vw/12);
				line-height: 1.4;
			}
		}

		.c_three {
			padding: 0 0 2.5%;
			margin: 1% 0 0;

			.c_t_item {
				li {
					padding: 4% 0 0;
				}
			}
			.c_t_dl {
				dd {
					width: 52%;
				}
				dt {
					width: 45%;
					padding: 0 0 0 3%;
					font-size: calc(38vw/12);
					line-height: 1.35;
				}
			}
			.c_row {
				li {
					padding: 3.5% 0;

					&:first-child {
						border-top: 1px solid #606060;
					}
				}
				.c_r_dl {
					dd {
						width: 44%;
					}
					dt {
						width: 53%;
						padding: 0 0 0 3%;
						font-size: calc(42vw/12);
						line-height: 1.35;
						.rank {
							font-size: calc(36vw/12);
							.num {
								margin: 0 0.2% 0 0;
								font-size: calc(48vw/12);
							}
						}
					}
				}
			}
			.c_t_text {
				margin: 3% 0 0;
				font-size: calc(43vw/12);
				line-height: 1.4;
			}

			.c_t_btn {
				margin: 3.5% 0 5%;
				a {
					padding: 2.3% 0;
					border-radius: 4px;
					font-size: calc(46vw/12);
				}
			}
		}

		.c_four {
			padding: 0 0 5%;
			margin: 1% 0 0;
			.c_f_item {
				li {
					padding: 3.5% 0;
				}
				.c_f_dl {

					dd {
						width: 37%;
					}
					dt {
						width: 59.5%;
						margin: 0 0 0 3.5%;
						font-size: calc(38vw/12);
						line-height: 1.35;
					}
				}
			}
		}
		.c_six {
			padding: 0 0 5%;
			margin: 1% 0 0;

			.c_s_item {
				li {
					padding: 3% 0;
				}
			}
			.c_s_dl {
				dd {
					width: 38%;
				}
				dt {
					width: 59%;
					padding: 0 0 0 3%;
					font-size: calc(38vw/12);
					line-height: 1.35;
					.comi {
						padding: 1.1% 5% 1.3%;
						margin: 0 0 1.8%;
						letter-spacing: 1.2px;
						font-size: calc(32vw/12);
						border-radius: 3px;
					}
					.rank {
						font-size: calc(40vw/12);
						.num {
							margin: 0 0.2% 0 0;
							font-size: calc(44vw/12);
						}
					}
				}
			}
		}

		.c_12th {
			padding: 0 0 3%;
			margin: 5% 0 0;
			figure {
				margin: 3% 0 0;
			}
			.c_12h {
				margin: 4% 0 0;
				font-size: calc(47vw/12);
			}
			.c_12t {
				margin: 2% 0 0 0;
				font-size: calc(42vw/12);
				line-height: 1.3;
			}
			.c_btn {
				margin: 6% 0 6%;
				a {
					padding: 2.3% 0;
					border-radius: 4px;
					font-size: calc(48vw/12);
				}
			}
			.c_batu {
				padding: 2.3% 0;
				margin: 6% 0 6%;
				border-radius: 4px;
				font-size: calc(44vw/12);
			}
			.c12_item {
				li {
					padding: 4% 0;
				}
			}
			.c_dl {
				dd {
				}
				dt {
					padding: 0 0 0 3%;
					font-size: calc(40vw/12);
					line-height: 1.35;
				}
			}
		}

		.c_seven {
			padding: 0 0 5%;
			margin: 5% 0 0;
			li {
				border-radius: 4px;
				a {
					border-radius: 4px;
					figure {
						img {
							border-radius: 4px 4px 0 0;
						}
					}
					.c_text {
						padding: 5.5%;
						font-size: calc(44vw/12);
						line-height: 1.3;
					}
				}
			}
		}
		.c_five {
			padding: 0 0 3%;
			.c_f_li {
				a {
					padding: 3.7% 0;
				}
				dd {
					width: 48%;
				}
				dt {
					width: 48%;
					padding: 0 0 0 4%;
					font-size: calc(43vw/12);
					line-height: 1.35;
				}
			}
		}
		.twelve {
			padding: 0 0 4%;
			.tw_h {
				border-left: 3px solid #9e853c;
				padding: 0 0 0 2.6%;
				margin: 3% 0 0;
				line-height: 1.35;
				font-size: calc(52vw/12);
			}
			.tw_t {
				margin: 2% 0 0;
				font-size: calc(40vw/12);
				line-height: 1.4;
			}
			.tw_btn {
				margin: 6% 0 0;
				a {
					padding: 3% 0;
					border: 1.5px solid #3a2;
					border-radius: 4px;
					font-size: calc(50vw/12);

				}
			}
			.large {
				margin: 3% 0 0;
			}
			.thumb {
				margin: 2.5% 0 0;
				li {
					margin: 0 0 0 2%;
					&:first-child {
						margin: 0;
					}
					.active {
						border: 2px solid #3a2;
						img {
							margin: -1.1px 0;
							opacity: .8;

						}
					}
				}
			}
		}
	}
	.c_s {
		padding: 0;
	}

	.point {
		padding: 7% 0 7%;
		.c_h {
			border-left: 3px solid #cfa64d;
			padding: 0 0 0 2.6%;
			line-height: 1.4;
			font-size: calc(50vw/12);
			span {
				letter-spacing: 1.3px;
				font-size: calc(52vw/12);
			}
		}
		.c_box {
			margin: 4% 0 0;
			li {
				padding: 4.4% 2.4% 4.3%;
				margin: 3% 0 0;
				margin: 2.6% auto 0;
				border-radius: 9px;
				.icon {
					width: 16%;
					margin: 0 auto;
					box-sizing: border-box;
					padding: 0.8% 0 1.2%;
					border-radius: 30px;
					font-size: calc(21vw/12);
					letter-spacing: 0.6px;
					&:before {
						content: ' ';
						height: 0;
						position: absolute;
						width: 0;
						border: 7px solid transparent;
						border-top-color: #ddbd1a;
						top: 100%;
						left: 53%;
						margin-left: -10px;
					}
					span {
						display: inline-block;
						margin: 0 0 0 2.5%;
						font-size: calc(29vw/12);
					}
				}

				&:first-child {
					margin: 0;
				}

				.c_ih {
					margin: 3.3% auto 0;
					font-size: calc(54vw/12);
					line-height: 1.3;
					letter-spacing: 1.3px;
				}
				.pic {
					margin: 3.8% auto 0;
				}

				.caution {
					margin: 2% 0 0;
					font-size: calc(21vw/12);
					line-height: 1.3;
				}
			}
		}
	}

	.banner {
		padding: 1% 0 0;
		.b_btn {
			width: 80%;
			a {
				padding: 3.6% 5%;
				line-height: 1.35;
				border-radius: 6px;
				font-size: calc(39vw/12);
				&:before {
					top: 38%;
					right: 3%;
					background-size: 10px 17px;
					width: 10px;
					height: 17px;
				}
			}
			.b_cl {
				font-size: calc(31vw/12);
			}
			.b_num {
				display: inline-block;
				font-size: calc(42vw/12);
			}
		}
	}

	aside {
		padding: 9% 0 5%;
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(46vw/12);
				letter-spacing: 1.31px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(39vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(31vw/12);
				}
				.f_item {
					margin: 2.3% 0 0 5.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(32vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(34vw/12);
		}
	}

	.genre {
		padding: 8% 0 3%;
		.g_h {
			font-size: calc(52vw/12);
		}
		.g_item {
			margin: 6% 0 0;
			li {
				float: left;
				width: 48%;
				margin: 0 0 0 4%;

				&:nth-child(2n+1) {
					margin: 4% 0 0 0;
				}
				&:nth-child(2n+2) {
					margin: 4% 0 0 4%;
				}
				&:nth-child(1) {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 4%;
				}
				a {
					padding: 8% 0;
					border: 1px solid #3a2;
					border-radius: 4px;
					font-size: calc(46vw/12);
					letter-spacing: 1.2px;
					&:hover {
						background:none;
						color:#3a2;
					}
				}
			}
		}
	}
	.common_banner {
		.wrap {
			padding: 5.5% 10% 6%;
		}
		figure {
			width: 55%;
		}
		.a_text {
			margin: 3.5% 0 0;
			font-size: calc(45vw/12);
			letter-spacing: 1.4px;
		}
		.a_btn {
			margin: 5.8% 0 0;
			a {
				padding: 3.5% 0;
				border: 1px solid #3a2;
				border-radius: 3px;
				font-size: calc(45vw/12);
				letter-spacing: 1.5px;
			}
		}
	}

	footer {
		padding: 0 0 1.5%;
		.wrap {
			padding: 0 0 5%;
			margin: 0 5%
		}
		.copy {
			margin: 0 0 6%;
			li {
				margin: 1% 0 0 0;
				line-height: 1.3;
				font-size: calc(33vw/12);
			}
		}
		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 8px 0 0;
				a {
					padding: 0 5px 0 0;
					font-size: calc(32vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(28vw/12);
			letter-spacing: 0.5px;
		}
	}

}
@media screen and (max-width: 414px) {

}













@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 1.5s 1 forwards; }
.ani_list01 {
	opacity: 0;
}


