
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #eee;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; }


.wrap{
	max-width: 768px;
	margin: 0 auto;
}

header {
	background-size: cover;
	h1 {
		background: #000;
		line-height: 0;
		span {
			display: inline-block;
			max-width: 151px;
			padding: 13px 0 15px 22px;
			line-height: 0;
		}
	}
	.h_wrap {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/689553/4adffafe1890a6439671da16afa42b33_44e1b50d02d1eb871f0688c4c3935ba3.png) center center no-repeat;
		background-size: cover;
		.h_i {
			max-width: 768px;
			padding: 12px 0;
			margin: 0 auto 0;
			h2 {
				max-width: 680px;
				margin: 0 auto;
			}
		}
	}
}

.years {
	padding: 63px 0 65px;
	.y_item {
		overflow: hidden;
		padding: 0 30px;
		border-bottom: 2px solid #33aa22;
		display: flex;
		flex-flow: row wrap;
		box-sizing: border-box;
		li {
			justify-content: space-between;
			width: 23.5%;
			padding: 0 2% 5px;
			margin: 0 0 0 2%;
			text-align: center;
			box-sizing: border-box;

			&:first-child {
				margin: 0;
			}
			a {
				display: block;
				font-size: 45px;
				color: #ababab;
				img {
					max-width: 138px;
					margin: 0 auto;
				}
			}
		}
		.active {
			padding: 0 0 7px;
			border-bottom: 4px solid #33aa22;
		}
	}
}

.contents {
	.c_inner {
		background: #fff;
		padding: 60px 17px 65px;
		border-radius: 6px;
		figure {
			line-height: 0;
		}
		.c_b {
			display: flex;
			width: 100%;
			margin: 40px 0 10px;
			li {
				justify-content: flex-start;
				padding: 4px 21px 6px;
				margin: 0 0 0 15px;
				border: 2px solid #f0163a;
				text-align: center;
				font-weight: bold;
				font-size: 23px;
				border-radius: 4px;
				box-sizing: border-box;
				color: #f0163a;

				&:first-child {
					margin: 0;
				}
			}
		}
		.c_h {
			font-size: 32px;
			font-weight: bold;
			line-height: 1.4;
			letter-spacing: 1.3px;
		}
		.c_ih {
			padding: 0 0 0 15px;
			margin: 0 0 45px;
			font-size: 32px;
			font-weight: bold;
			border-left: 6px solid #3a2;
			letter-spacing: 1.4px;
			line-height: 1.4;
		}
		.c_t {
			margin: 32px 0 0;
			font-size: 21px;
			line-height: 1.4;
			letter-spacing: 1.1px;
			color: #666;
		}

		.c_list {
			margin: 40px 0 0;
			li {
				position: relative;
				padding: 25px 0;
				border-bottom: 1px solid #606060;
				&:first-child {
					border-top: 1px solid #606060;
				}
				&:before {
					content: '';
					position: absolute;
					top: 44%;
					right: 1%;
					background: url(https://bit.ly/2YoDIe1) 0 0 no-repeat;
					background-size: 19px 32px;
					width: 19px;
					height: 32px;
				}
				a {
					display: block;
				}
				dl {
					overflow: hidden;
					display: flex;
					align-items: center;
					dd {
						float: left;
						width: 42.5%;
						line-height: 0;
					}
					dt {
						float: left;
						width: 45%;
						margin: 0 0 0 3%;
						font-size: 24px;
						font-weight: bold;
						line-height: 1.6;
						color: #000;
						span {
							display: block;
							font-weight: normal;
							font-size: 23px;
							color: #666;
						}
					}
				}
			}
		}
		.c_large {
			margin: 60px 0 0;
			li {
				padding: 60px 0;
				border-top: 1px solid #606060;
				&:first-child {
				}
				&:last-child {
					padding: 60px 0 0;
				}

				.c_h {
					margin: 45px 0 0;
				}
			}
		}
		.c_btn {
			margin: 40px 0 0;
			a {
				display: block;
				background: #3a2;
				padding: 18px 0;
				text-align: center;
				border-radius: 6px;
				font-size: 30px;
				letter-spacing: 1.55px;
				color: #fff;
			}
		}
	}
	.c_is {
		margin: 60px 0 0;
	}
}

.trial {
	margin: 60px 0;
	.t_btn {
		max-width: 730px;
		margin: 0 auto;
		a {
			position: relative;
			display: block;
			background: #fff;
			padding: 23px 35px;
			font-weight: bold;
			line-height: 1.35;
			border-radius: 8px;
			font-size: 23px;
			color: #000;
			&:before {
				content: '';
				position: absolute;
				top: 39%;
				right: 3%;
				background: url(https://bit.ly/2YoDIe1) 0 0 no-repeat;
				background-size: 19px 32px;
				width: 19px;
				height: 32px;
			}
			.clo {
				display: block;
				font-size: 20px;
				color: #56c123;
			}
			.num {
				font-size: 28px;
				letter-spacing: 1.5px;
			}
		}
	}
}
aside {
	.wrap {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/3517790a59412e1b865e4b03e5f42652_d459ab1abba4f465e5d442f8c76dd22a.png) center center repeat;
		background-size: cover;
		max-width: 768px;
		padding: 42px 76px 50px;
		margin: 0 auto;
		box-sizing: border-box;
	}
	figure {
		max-width: 336px;
		line-height: 0;
	}
	.a_text {
		margin: 23px 0 0;
		font-size: 28px;
		letter-spacing: 1.4px;
		color: #fff;
	}
	.a_btn {
		margin: 32px 0 0;
		a {
			display: block;
			padding: 20px 0;
			border: 2px solid #3a2;
			border-radius: 6px;
			font-size: 26px;
			letter-spacing: 1.8px;
			text-align: center;
			font-weight: bold;
			color: #3a2;
			&:hover {
				background: #3a2;
				opacity: 1;
				color: #fff;
			}
		}
	}
}

footer {
	background: #eee;
	.wrap {
		max-width: 730px;
		padding: 56px 0 50px;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.f_list {
		overflow: hidden;
		margin: 6px 0 0;
		li {
			position: relative;
			float: left;
			margin: 5px 12px 5px 0;
			a {
				display: block;
				padding: 0 12px 0 0;
				font-size: 16px;
				color: #919191;
			}
			&:after {
				content: ' | ';
				position: absolute;
				top: -3px;
				right: -2px;
				font-size: 18px;
				line-height: 1;
				color: #919191;
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	.copy {
		overflow: hidden;
		margin: 0 0 25px -8px;
		li {
			float: left;
			margin: 5px 0 0 8px;
			line-height: 1.5;
			font-size: 14px;
			color: #919191;
		}
	}
	small {
		display: block;
		margin: 30px 0 0;
		font-size: 13.5px;
		letter-spacing: 1.3px;
		text-align: left;
		color: #919191;
	}
}

@media screen and (max-width: 768px) {
	.wrap {
		padding: 0 2.5%;
		margin: 0 auto;
	}

	header {
		h1 {
			span {
				display: inline-block;
				width: 21%;
				padding: 1.5% 0 1.6% 2.4%;
				line-height: 0;
			}
		}
		.h_wrap {
			background: url(https://bit.ly/306e1jQ) center center no-repeat;
			background-size: cover;
			.h_i {
				padding: 1.5% 0;
				margin: 0 auto 0;
				h2 {
					width: 89%;
					margin: 0 auto;
				}
			}
		}
	}

	.years {
		padding: 6.2% 0 7.8%;
		.wrap {
			padding: 0;
		}
		.y_item {
			overflow: hidden;
			padding: 0 5%;
			border-bottom: 2px solid #33aa22;
			display: flex;
			flex-flow: row wrap;
			box-sizing: border-box;
			li {
				justify-content: space-between;
				width: 21.5%;
				padding: 0 0 5px;
				margin: 0 0 0 4.65%;

				&:first-child {
					margin: 0;
				}
				a {
					display: block;
					font-size: 45px;
					color: #ababab;
					img {
						max-width: 138px;
						width: 100%;
						margin: 0 auto;
					}
				}
			}
			.active {
				padding: 0 0 0.6%;
				border-bottom: 4px solid #33aa22;
			}
		}
	}

	.contents {
		.c_inner {
			padding: 8% 2.3% 9%;
			border-radius: 5px;
			.c_b {
				margin: 5.8% 0 1.5%;
				li {
					padding: 0.8% 3% 0.8%;
					margin: 0 0 0 2%;
					border: 1.5px solid #f0163a;
					font-size: calc(33vw/12);
					border-radius: 4px;
				}
			}
			.c_h {
				font-size: calc(50vw/12);
				font-weight: bold;
				line-height: 1.4;
				letter-spacing: 1.3px;
			}
			.c_ih {
				padding: 0 0 0 2.2%;
				margin: 0 0 6.5%;
				font-size: calc(50vw/12);
				border-left: 4.5px solid #3a2;
				letter-spacing: 1.4px;
				line-height: 1.4;
			}
			.c_t {
				margin: 4.5% 0 0;
				font-size: calc(33vw/12);
				line-height: 1.4;
				letter-spacing: 1.1px;
			}

			.c_list {
				margin: 5.5% 0 0;
				li {
					padding: 3.6% 0;
					&:before {
						top: 45%;
						right: 1%;
						background-size: 15px 26px;
						width: 15px;
						height: 26px;
					}
					a {
						display: block;
					}
					dl {
						dd {
							width: 42.5%;
						}
						dt {
							width: 45%;
							margin: 0 0 0 3%;
							font-size: calc(38vw/12);
							line-height: 1.6;
							span {
								font-size: calc(38vw/12);
							}
						}
					}
				}
			}
			.c_large {
				margin: 8% 0 0;
				li {
					padding: 8.5% 0;
					&:last-child {
						padding: 8% 0 0;
					}

					.c_h {
						margin: 6% 0 0;
					}
				}
			}
			.c_btn {
				margin: 6% 0 0;
				a {
					padding: 2.5% 0;
					border-radius: 5px;
					font-size: calc(47vw/12);
					letter-spacing: 1.5px;
				}
			}
		}
		.c_is {
			margin: 8% 0 0;
		}
	}

	.trial {
		margin: 6.2% 0 8.2%;
		.wrap {
			padding: 0 5%;
		}
		.t_btn {
			a {
				padding: 3.1% 5%;
				line-height: 1.35;
				border-radius: 7px;
				font-size: calc(37vw/12);
				&:before {
					top: 39%;
					right: 3%;
					background-size: 15px 26px;
					width: 15px;
					height: 26px;
				}
				.clo {
					font-size: calc(32vw/12);
				}
				.num {
					font-size: calc(43vw/12);
					letter-spacing: 1.5px;
				}
			}
		}
	}
	aside {
		.wrap {
			padding: 6.4% 10% 6%;
		}
		figure {
			width: 55%;
		}
		.a_text {
			margin: 3.5% 0 0;
			font-size: calc(43vw/12);
			letter-spacing: 1.4px;
		}
		.a_btn {
			margin: 6.2% 0 0;
			a {
				padding: 3.5% 0;
				border: 1.5px solid #3a2;
				border-radius: 5px;
				font-size: calc(41vw/12);
				letter-spacing: 1.6px;
				&:hover {
					background: none;
					opacity: .8;
					color: #3a2;
				}
			}
		}
	}

	footer {
		.wrap {
			padding: 6.5% 3.5% 5%;
		}
		.f_list {
			margin: 0.5% 0 0;
			li {
				position: relative;
				float: left;
				margin: 0.5% 2.2% 0.5% 0;
				a {
					padding: 0 3% 0 0;
					font-size: calc(28vw/12);
					white-space: nowrap;
				}
				&:after {
					top: -1px;
					right: -9px;
					font-size: 17px;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		.copy {
			overflow: hidden;
			margin: 0 0 3% -4px;
			li {
				float: left;
				margin: 5px 0 0 4px;
				line-height: 1.5;
				font-size: calc(26vw/12);
			}
		}
		small {
			margin: 4% 0 0;
			font-size: calc(22vw/12);
			letter-spacing: 1.3px;
		}
	}
}

@media screen and (max-width: 480px) {
	.wrap {
		padding: 0 2.5%;
		margin: 0 auto;
	}

	header {
		h1 {
			span {
				display: inline-block;
				width: 21%;
				padding: 1.5% 0 1.6% 2.4%;
				line-height: 0;
			}
		}
		.h_wrap {
			background: url(https://bit.ly/306e1jQ) center center no-repeat;
			background-size: cover;
			.h_i {
				padding: 1.5% 0;
				margin: 0 auto 0;
				h2 {
					width: 89%;
					margin: 0 auto;
				}
			}
		}
	}

	.years {
		padding: 7.8% 0 7.8%;
		.wrap {
			padding: 0;
		}
		.y_item {
			overflow: hidden;
			padding: 0 5%;
			border-bottom: 2px solid #33aa22;
			display: flex;
			flex-flow: row wrap;
			box-sizing: border-box;
			li {
				justify-content: space-between;
				width: 21.5%;
				padding: 0 0 5px;
				margin: 0 0 0 4.65%;

				&:first-child {
					margin: 0;
				}
				a {
					img {
					}
				}
			}
			.active {
				padding: 0 0 0.3%;
				border-bottom: 2px solid #33aa22;
			}
		}
	}

	.contents {
		.c_inner {
			padding: 8% 2.3% 9%;
			border-radius: 4px;
			.c_b {
				margin: 5.8% 0 1.5%;
				li {
					padding: 0.8% 3% 0.8%;
					margin: 0 0 0 2%;
					border: 1px solid #f0163a;
					font-size: calc(35vw/12);
					border-radius: 4px;
				}
			}
			.c_h {
				font-size: calc(52vw/12);
				font-weight: bold;
				line-height: 1.4;
				letter-spacing: 1.3px;
			}
			.c_ih {
				padding: 0 0 0 2.2%;
				margin: 0 0 6.5%;
				font-size: calc(52vw/12);
				border-left: 4.5px solid #3a2;
				letter-spacing: 1.4px;
				line-height: 1.4;
			}
			.c_t {
				margin: 4.5% 0 0;
				font-size: calc(35vw/12);
				line-height: 1.4;
				letter-spacing: 1.1px;
			}

			.c_list {
				margin: 5.5% 0 0;
				li {
					padding: 3.6% 0;
					&:before {
						top: 45%;
						right: 1%;
						background-size: 10px 16px;
						width: 10px;
						height: 16px;
					}
					a {
						display: block;
					}
					dl {
						dd {
							width: 42.5%;
						}
						dt {
							width: 45%;
							margin: 0 0 0 3%;
							font-size: calc(40vw/12);
							line-height: 1.6;
							span {
								font-size: calc(40vw/12);
							}
						}
					}
				}
			}
			.c_large {
				margin: 8% 0 0;
				li {
					padding: 8.5% 0;
					&:last-child {
						padding: 8% 0 0;
					}

					.c_h {
						margin: 6% 0 0;
					}
				}
			}
			.c_btn {
				margin: 6% 0 0;
				a {
					padding: 2.5% 0;
					border-radius: 4px;
					font-size: calc(49vw/12);
					letter-spacing: 1.5px;
				}
			}
		}
		.c_is {
			margin: 8% 0 0;
		}
	}

	.trial {
		margin: 5% 0 8%;
		.wrap {
			padding: 0 5%;
		}
		.t_btn {
			a {
				padding: 3.1% 5%;
				line-height: 1.35;
				border-radius: 6px;
				font-size: calc(39vw/12);
				&:before {
					top: 39%;
					right: 3%;
					background-size: 10px 16px;
					width: 10px;
					height: 16px;
				}
				.clo {
					font-size: calc(34vw/12);
				}
				.num {
					font-size: calc(45vw/12);
					letter-spacing: 1.5px;
				}
			}
		}
	}
	aside {
		.wrap {
			padding: 5.5% 10% 6%;
		}
		figure {
			width: 55%;
		}
		.a_text {
			margin: 3.5% 0 0;
			font-size: calc(45vw/12);
			letter-spacing: 1.4px;
		}
		.a_btn {
			margin: 5.8% 0 0;
			a {
				padding: 3.5% 0;
				border: 1px solid #3a2;
				border-radius: 3px;
				font-size: calc(45vw/12);
				letter-spacing: 1.5px;
			}
		}
	}

	footer {
		.wrap {
			padding: 6.5% 3.5% 5%;
		}
		.f_list {
			margin: 0.5% 0 0;
			li {
				position: relative;
				float: left;
				margin: 0.5% 2.2% 0.5% 0;
				a {
					padding: 0 12px 0 0;
					font-size: calc(30vw/12);
				}
				&:after {
					top: -3px;
					right: -2px;
					font-size: 13px;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		.copy {
			overflow: hidden;
			margin: 0 0 25px -8px;
			li {
				float: left;
				margin: 5px 0 0 8px;
				line-height: 1.5;
				font-size: calc(28vw/12);
			}
		}
		small {
			margin: 4% 0 0;
			font-size: calc(24vw/12);
			letter-spacing: 1.3px;
		}
	}
}

@keyframes item_sp { 100% { opacity: 1; } }
.a01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
.a02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.9s 1 forwards; }
.a03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.3s 1 forwards; }
.a04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.7s 1 forwards; }



