
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #fff;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; }


.wrap{
	max-width: 768px;
	margin: 0 auto;
}

header {
	background: #000;
	.logo {
		background: #000;
		padding: 13px 0 15px 20px;
		span {
			display: block;
			max-width: 151px;
		}
	}
	.h_wrap {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/840c33a441195c5698963c1cd9af77c9_30c795e1d1bf7289e69de894085bfaf8.png) center top no-repeat;

		.h_box {
			max-width: 768px;
			padding: 56px 0 0;
			margin: 0 auto;

			.h_h {
				max-width: 479px;
				margin: 0 auto;
				line-height: 0;
			}
			.h_img {
				margin: 52px 0 0;
				line-height: 0;
			}
			.h_date {
				margin: 35px 0 0;
				text-align: center;
				font-size: 28px;
				font-weight: bold;
				letter-spacing: 1.8px;
				color: #fff;
			}
			.h_btn {
				padding: 0 0 60px;
				margin: 45px 0 0;
				border-bottom: 1px solid #606060;
				a {
					display: block;
					background: #33aa22;
					padding: 18px 0;
					text-align: center;
					border-radius: 6px;
					font-size: 30px;
					color: #fff;
				}
			}
		}
	}
}

.contents {
	background: #000;
	padding: 51px 0 0;

	.c_h {
		padding: 0 0 0 17px;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 1.4px;
		line-height: 1.45;
		border-left: 6px solid #33aa22;
	}

	.ch_m {
		margin: 50px 0 10px;
	}
	.c_wrap {
		margin: 19px 0 0;
		li {
			padding: 51px 0 58px;
			border-top: 1px solid #606060;
			counter-increment: count;

			&:first-child {
				padding: 28px 0 58px;
				border-top: none;
			}
			&:last-child {
				padding: 28px 0 0;
			}
			.c_number {
				position: relative;
				padding: 5px 0 0 45px;
				font-size: 27px;
				letter-spacing: 1.3px;
				line-height: 1.3;

				&:before {
					content: counter(count);
					position: absolute;
					left: 0;
					top: 0;
					background: #3a2;
					background-repeat: no-repeat;
					width: 37px;
					height: 37px;
					line-height: 35px;
					border-radius: 50%;
					font-weight: normal;
					text-align: center;
					font-size: 24px;
					color: #fff;
				}
			}
		}
	}

	.c_more {
		margin: 1px 0 0;
		padding: 0 0 50px;
		border-bottom: 1px solid #606060;
		a {
			display: block;
			padding: 18px 0;
			border-radius: 6px;
			border: 2px solid #3a2;
			letter-spacing: 2px;
			text-align: center;
			font-size: 30px;
			color: #3a2;
			span {
				display: inline-block;
				font-size: 33px;
			}
			&:hover {
				opacity: 1;
				background: #3a2;
				color: #fff;
			}
		}
	}

	.s_entry {
		background: #1a1a1a;
		padding: 45px 20px 25px;
		margin: 60px 0 0;
		border-radius: 6px;
		.s_text {
			font-weight: bold;
			font-size: 28px;
			line-height: 1.4;
			span {
				color: #3a2;
			}
		}
		.s_btn {
			display: block;
			background:  #3a2;
			padding: 20px 0;
			margin: 35px 0 0;
			font-size: 28px;
			text-align: center;
			border-radius: 6px;
			letter-spacing: 1.3px;
			color: #fff;
			span {
				font-size: 31px;

			}
		}
	}
	.c_box {
		display: flex;
		align-items: center;
		margin: 40px 0 0;
		dd {
			width: 55%;
			line-height: 0;
		}
		dt {
			width: 42%;
			line-height: 2;
			padding: 0 0 0 3%;
			font-size: 25px;
			color: #ababab;

		}
	}
	.c_btn {
		margin: 40px 0 0;
		a {
			display: block;
			background: #33aa22;
			padding: 18px 0;
			text-align: center;
			border-radius: 6px;
			font-size: 30px;
			color: #fff;
		}
	}

	.c_text {
		margin: 20px 0 0;
		padding: 0 0 0 25px;
		font-size: 26px;
		line-height: 1.5;
		color: #ababab;
	}
	.c_anc {
		position: relative;
		display: block;
		background: #1a1a1a;
		padding: 18px 47px 17px 18px;
		margin: 41px 0 0;
		border-radius: 8px;
		color: #fff;

		&:after {
			content: '';
			position: absolute;
			top: 43%;
			right: 2%;
			background: url(https://bit.ly/2P8DS5F) 0 0 no-repeat;
			background-size: 19px 32px;
			width: 19px;
			height: 32px;
		}
		.c_entry {
			display: flex;
			align-items: center;
			dd {
				width: 35%;
			}
			dt {
				vertical-align: middle;
				padding: 0 0 0 4%;
				font-size: 27px;
				line-height: 1.5;
				color: #fff;
				span {
					font-size: 25px;
					color: #ababab;
				}

			}
		}
	}

	.c_item {
		margin: 45px 0 0;
		li {
			padding: 28px 0;
			border-bottom: 1px solid #606060;
			&:first-child {
				border-top: 1px solid #606060;
			}
			.c_i_anc {
				display: block;
				color: #fff;
			}

			.c_i_dl {
				display: flex;
				align-items: center;
				dd {
					width: 43.5%;
					line-height: 0;
				}
				dt {
					padding: 0 0 0 4%;
					font-size: 21px;
					line-height: 1.6;
					span {
						color: #ababab;
					}
				}
			}

		}
	}

	.pass {
		margin: 55px 0 0;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 2px;
	}
}
.c_s {
	padding: 28px 0 60px;
}

aside {
	background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/3517790a59412e1b865e4b03e5f42652_d459ab1abba4f465e5d442f8c76dd22a.png) center center repeat;
	background-size: cover;
	padding: 42px 38px 50px;
	.wrap {
		max-width: 768px;
		padding: 0 38px 0;
		margin: 0 auto;
		box-sizing: border-box;
	}
	figure {
		max-width: 336px;
	}
	.a_text {
		margin: 23px 0 0;
		font-size: 28px;
		letter-spacing: 1.4px;

	}
	.a_btn {
		margin: 32px 0 0;
		a {
			display: block;
			padding: 20px 0;
			border:2px solid #3a2;
			border-radius: 6px;
			font-size: 26px;
			letter-spacing: 1.8px;
			text-align: center;
			font-weight: bold;
			color: #3a2;
			&:hover {
				background: #3a2;
				opacity: 1;
				color: #fff;
			}
		}
	}
}

footer {
	background: #000000;
	padding: 60px 0 120px;
	.copy {
		overflow: hidden;
		margin: 0 0 34px;
		li {
			width: 100%;
			margin: 5px 0 0 0;
			line-height: 1.3;
			font-size: 16px;
			color: #919191;
		}
	}
	.f_list {
		overflow: hidden;
		margin: 10px 0 0;
		li {
			position: relative;
			float: left;
			margin: 0 10px 0 0;
			a {
				display: block;
				padding: 0 12px 0 0;
				font-size: 15px;
				color: #919191;
			}
			&:after {
				content: ' | ';
				position: absolute;
				top: 0;
				right: 0;
				color: #919191;
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	small {
		display: block;
		margin: 30px 0 0;
		font-size: 16px;
		letter-spacing: 1.3px;
		color: #919191;
	}
}


@media screen and (max-width: 768px) {
	.wrap {
		padding: 0 4.4%;
	}

	header {
		.logo {
			padding: 1.53% 0 1.58% 2.5%;
			line-height: 0;
			span {
				width: 21%;
			}
		}
		.h_wrap {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/840c33a441195c5698963c1cd9af77c9_30c795e1d1bf7289e69de894085bfaf8.png) no-repeat;
			background-size: 220% auto;
			background-position: top center;

			.h_box {
				padding: 5% 4.4% 0;

				.h_h {
					width: 77%;
				}
				.h_img {
					margin: 7.7% 0 0;
				}
				.h_date {
					margin: 5.5% 0 0;
					font-size: calc(46vw/12);
					letter-spacing: 1.5px;
				}
				.h_btn {
					padding: 0 0 9%;
					margin: 7% 0 0;
					a {
						padding: 3% 0;
						border-radius: 5px;
						font-size: calc(50vw/12);
					}
				}
			}
		}
	}

	.contents {
		padding: 7.5% 0 0;

		.c_h {
			padding: 0 0 0 2.5%;
			font-size: calc(54vw/12);
			letter-spacing: 1.35px;
			line-height: 1.4;
			border-left: 4.5px solid #33aa22;
		}

		.ch_m {
			margin: 7.2% 0 2%;
		}
		.c_wrap {
			margin: 3% 0 0;
			li {
				padding: 8% 0 8.8%;
				&:first-child {
					padding: 4.2% 0 8.8%;
				}
				&:last-child {
					padding: 8% 0 0;
				}
				.c_number {
					padding: 0 0 0 7.5%;
					font-size: calc(42vw/12);
					line-height: 1.3;

					&:before {
						content: counter(count);
						position: absolute;
						left: 0;
						top: 2%;
						width: 36px;
						height: 36px;
						line-height: 35px;
						font-size: 22px;
					}
				}
			}
		}

		.c_more {
			margin: 0.2% 0 0;
			padding: 0 0 7.5%;
			a {
				padding: 2.8% 0;
				border-radius: 5px;
				border: 1.5px solid #3a2;
				letter-spacing: 1.7px;
				font-size: calc(47vw/12);
				span {
					display: inline-block;
					font-size: calc(49vw/12);
				}
				&:hover {
					opacity: .8;
					background: none;
					color: #3a2;
				}
			}
		}

		.s_entry {
			padding: 6.5% 3% 3.5%;
			margin: 8.3% 0 0;
			border-radius: 5px;
			.s_text {
				font-size: calc(44vw/12);
				line-height: 1.4;
			}
			.s_btn {
				padding: 3% 0;
				margin: 5.5% 0 0;
				font-size: calc(44vw/12);
				border-radius: 5px;
				letter-spacing: 1.3px;
				span {
					font-size: calc(47vw/12);
				}
			}
		}
		.c_box {
			margin: 6% 0 0;
			dd {
				width: 53%;
				line-height: 0;
			}
			dt {
				width: 44%;
				line-height: 1.7;
				padding: 0 0 0 3%;
				font-size: calc(39vw/12);

			}
		}
		.c_btn {
			margin: 6% 0 0;
			a {
				padding: 2.6% 0;
				border-radius: 5px;
				font-size: calc(46vw/12);
			}
		}

		.c_text {
			margin: 3% 0 0;
			padding: 0 0 0 3.5%;
			font-size: calc(41vw/12);
			line-height: 1.45;
		}
		.c_anc {
			padding: 2.5% 7% 2.4% 2.7%;
			margin: 6% 0 0;
			border-radius: 7px;

			&:after {
				top: 43%;
				right: 2%;
				background-size: 15px 26px;
				width: 15px;
				height: 26px;
			}
			.c_entry {
				dd {
					width: 35%;
				}
				dt {
					padding: 0 0 0 4%;
					font-size: calc(42vw/12);
					line-height: 1.4;
					span {
						font-size: calc(39vw/12);
						color: #ababab;
					}

				}
			}
		}

		.c_item {
			margin: 6.5% 0 0;
			li {
				padding: 4% 0;
				.c_i_anc {
				}

				.c_i_dl {
					dd {
						width: 43.5%;
					}
					dt {
						padding: 0 0 0 4%;
						font-size: calc(33vw/12);
						line-height: 1.45;
					}
				}
			}
		}

		.pass {
			margin: 8% 0 0;
			font-size: calc(47vw/12);
			letter-spacing: 2px;
		}
	}
	.c_s {
		padding: 3% 0 7%;
	}

	aside {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/3517790a59412e1b865e4b03e5f42652_d459ab1abba4f465e5d442f8c76dd22a.png) center center repeat;
		background-size: cover;
		padding: 5% 4.5% 5.8%;
		.wrap {
			padding: 0 6% 0;
		}
		figure {
			width: 56.5%;
		}
		.a_text {
			margin: 3.8% 0 0;
			font-size: calc(45vw/12);
			letter-spacing: 1.35px;

		}
		.a_btn {
			margin: 5.5% 0 0;
			a {
				padding: 3.4% 0;
				border: 1.5px solid #3a2;
				border-radius: 5px;
				font-size: calc(42vw/12);
				letter-spacing: 1.7px;
				&:hover {
					background: none;
					opacity: .8;
					color: #3a2;
				}
			}
		}
	}

	footer {
		padding: 7% 0 13%;
		.copy {
			margin: 0 0 4%;
			li {
				margin: 1% 0 0 0;
				line-height: 1.3;
				font-size: calc(26vw/12);
			}
		}
		.f_list {
			overflow: hidden;
			margin: 10px 0 0;
			li {
				position: relative;
				float: left;
				margin: 0 10px 0 0;
				a {
					display: block;
					padding: 0 12px 0 0;
					font-size: calc(28vw/12);
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
					font-size: calc(28vw/12);
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			display: block;
			margin: 5% 0 0;
			font-size: calc(28vw/12);
			letter-spacing: 1.3px;
		}
	}
}



@media screen and (max-width: 480px) {
	.wrap {
		padding: 0 4.4%;
	}

	header {
		.logo {
			padding: 1.53% 0 1.58% 2.5%;
			span {
				width: 21%;
			}
		}
		.h_wrap {

			.h_box {
				padding: 7% 4.4% 0;

				.h_h {
					width: 70%;
				}
				.h_img {
					margin: 8.3% 0 0;
				}
				.h_date {
					margin: 5.5% 0 0;
					font-size: calc(48vw/12);
					letter-spacing: 1.1px;
				}
				.h_btn {
					padding: 0 0 8%;
					margin: 6% 0 0;
					a {
						padding: 3% 0;
						border-radius: 4px;
						font-size: calc(50vw/12);
					}
				}
			}
		}
	}

	.contents {
		padding: 7.3% 0 0;
		.c_h {
			padding: 0 0 0 2.5%;
			font-size: calc(56vw/12);
			letter-spacing: 1.1px;
			line-height: 1.4;
			font-weight: normal;
			border-left: 3px solid #33aa22;
		}

		.ch_m {
			margin: 7.2% 0 2%;
		}
		.c_wrap {
			margin: 3% 0 0;
			li {
				padding: 8% 0 8.8%;
				&:first-child {
					padding: 4.2% 0 8.8%;
				}
				&:last-child {
					padding: 8% 0 0;
				}
				.c_number {
					padding: 0.7% 0 0 7.5%;
					font-size: calc(44vw/12);
					letter-spacing: 1.35px;
					line-height: 1.35;

					&:before {
						content: counter(count);
						top: 5%;
						width: 21px;
						height: 21px;
						line-height: 21px;
						font-size: 15px;
					}
				}
			}
		}

		.c_more {
			margin: 0.2% 0 0;
			padding: 0 0 7.5%;
			a {
				padding: 2.8% 0;
				border-radius: 4px;
				border: 1px solid #3a2;
				letter-spacing: 1.7px;
				font-size: calc(49vw/12);
				span {
					display: inline-block;
					font-size: calc(51vw/12);
				}
				&:hover {
					opacity: .8;
					background: none;
					color: #3a2;
				}
			}
		}

		.s_entry {
			padding: 6.5% 3% 3.5%;
			margin: 8.3% 0 0;
			border-radius: 4px;
			.s_text {
				font-size: calc(46vw/12);
				line-height: 1.4;
			}
			.s_btn {
				padding: 3% 0;
				margin: 5.5% 0 0;
				font-size: calc(46vw/12);
				border-radius: 4px;
				letter-spacing: 1.3px;
				span {
					font-size: calc(49vw/12);
				}
			}
		}
		.c_box {
			margin: 6% 0 0;
			dd {
				width: 53%;
				line-height: 0;
			}
			dt {
				width: 44%;
				line-height: 1.7;
				padding: 0 0 0 3%;
				font-size: calc(41vw/12);

			}
		}
		.c_btn {
			margin: 6% 0 0;
			a {
				padding: 2.6% 0;
				border-radius: 4px;
				font-size: calc(48vw/12);
			}
		}

		.c_text {
			margin: 3% 0 0;
			padding: 0 0 0 3.5%;
			font-size: calc(43vw/12);
			line-height: 1.45;
		}
		.c_anc {
			padding: 2.5% 7% 2.4% 2.7%;
			margin: 6% 0 0;
			border-radius: 4px;

			&:after {
				top: 43%;
				right: 2%;
				background-size: 10px 16px;
				width: 10px;
				height: 16px;
			}
			.c_entry {
				dd {
					width: 37%;
				}
				dt {
					padding: 0 0 0 4%;
					font-size: calc(44vw/12);
					line-height: 1.4;
					span {
						font-size: calc(41vw/12);
						color: #ababab;
					}

				}
			}
		}

		.c_item {
			margin: 6.5% 0 0;
			li {
				padding: 4% 0;
				.c_i_anc {
				}

				.c_i_dl {
					dd {
						width: 43.5%;
					}
					dt {
						padding: 0 0 0 4%;
						font-size: calc(35vw/12);
						line-height: 1.45;
					}
				}
			}
		}

		.pass {
			margin: 8% 0 0;
			font-size: calc(49vw/12);
			letter-spacing: 2px;
		}
	}
	.c_s {
		padding: 3% 0 7.2%;
	}


	aside {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/3517790a59412e1b865e4b03e5f42652_d459ab1abba4f465e5d442f8c76dd22a.png) center center repeat;
		background-size: cover;
		padding: 5% 4.5% 5.8%;
		.wrap {
			padding: 0 6% 0;
		}
		figure {
			width: 56.5%;
		}
		.a_text {
			margin: 3.8% 0 0;
			font-size: calc(47vw/12);
			letter-spacing: 1.35px;

		}
		.a_btn {
			margin: 5.5% 0 0;
			a {
				padding: 3.4% 0;
				border: 1px solid #3a2;
				border-radius: 4px;
				font-size: calc(44vw/12);
				letter-spacing: 1.7px;
				&:hover {
					background: none;
					opacity: .8;
					color: #3a2;
				}
			}
		}
	}

	footer {
		padding: 7% 0 13%;
		.copy {
			margin: 0 0 4%;
			li {
				margin: 1% 0 0 0;
				line-height: 1.3;
				font-size: calc(28vw/12);
			}
		}
		.f_list {
			overflow: hidden;
			margin: 10px 0 0;
			li {
				position: relative;
				float: left;
				margin: 0 10px 0 0;
				a {
					display: block;
					padding: 0 12px 0 0;
					font-size: calc(30vw/12);
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
					font-size: calc(30vw/12);
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			display: block;
			margin: 5% 0 0;
			font-size: calc(30vw/12);
			letter-spacing: 1.3px;
		}
	}


}



.hi {
	opacity: 0;
}
@keyframes item_sp { 100% { opacity: 1; } }
.a01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
.a02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.9s 1 forwards; }
.a03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.3s 1 forwards; }
.a04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.7s 1 forwards; }



