
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: none;
}

.section_wrap {
	background: #efefef;
	background: -moz-linear-gradient(top, #efefef 25%, #efefef 93%, #000000 93%, #efefef 93%, #000000 100%);
	background: -webkit-linear-gradient(top, #efefef 25%,#efefef 93%,#000000 93%,#efefef 93%,#000000 100%);
	background: linear-gradient(to bottom, #efefef 25%,#efefef 93%,#000000 93%,#efefef 93%,#000000 100%);
}
.contents {
	padding: 50px 0 0;
}
@media screen and (max-width: 768px) {
	.section_wrap {
		background: none;
	}
	.contents {
		padding: 0 0 0;
	}
}
@media screen and (max-width: 480px) {
	.contents {
		padding: 0 0 2%;
	}
}
