@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #fff;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
  height: auto;
}

.fl {
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
}

.fd {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

.fs {
  font-family: "Noto Sans JP", sans-serif !important;
}

.ko {
  font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif !important;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.ssp {
  display: block;
}

.line_w {
  max-width: 768px;
  margin: 0 auto;
}
.line_w .wrap_w {
  background: #efefef;
  height: 38px;
}

.bn {
  border: none !important;
}

.bb {
  border-bottom: 1px solid #606060 !important;
}

.pb_no {
  padding-bottom: 0 !important;
}

.tc {
  text-align: center !important;
  padding: 0 !important;
}

.pb30 {
  padding: 0 0 35px !important;
}

.mb10 {
  margin: 0 0 10px 0 !important;
}

.mn {
  margin: 0 !important;
}

.mt10 {
  margin: 10px 0 0 !important;
}

.mt20 {
  margin: 20px 0 0 !important;
}

.mt30 {
  margin: 30px 0 0 !important;
}

.mt40 {
  margin: 40px 0 0 !important;
}

.mt50 {
  margin: 50px 0 0 !important;
}

.mt60 {
  margin: 60px 0 0 !important;
}

.mt70 {
  margin: 70px 0 0 !important;
}

.mt80 {
  margin: 80px 0 0 !important;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.cl {
  color: #e6a900;
}

header {
  padding: 0;
}
header .h_l {
  max-width: 140px;
  padding: 12px 0 12px 24px;
  line-height: 0;
}
header .h_a {
  position: relative;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/3bb3ea4594602963c2cbaad5ba2c6f9c_357b82186d0422242437f00ea3aaca1c.png) center top no-repeat;
  height: 1050px;
  padding: 0 0 0;
  margin: 0 auto;
}
header .h_w {
  padding: 35px 0 0;
}
header .h_m {
  max-width: 680px;
  margin: 0 auto 0;
  line-height: 0;
}
header .h_t {
  max-width: 709px;
  margin: 40px auto 0;
  line-height: 0;
}
header .h_b {
  margin: 27px 0 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.6px;
}
header .h_b span {
  display: inline-block;
  margin: 0 2px 0 0;
  font-size: 39px;
}
header .case {
  position: relative;
  max-width: 680px;
  padding: 31px 0 46px;
  margin: 60px auto 0;
  border: 3px solid #fff;
  border-radius: 20px;
}
header .case .c_cen {
  position: absolute;
  top: -4px;
  left: 25%;
  background: #000;
  padding: 0 25px;
  line-height: 0.3;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 3.6px;
}
header .case .t_item {
  counter-reset: number 0;
  padding: 0 0 20px;
  margin: 0 32px 0;
  border-bottom: 1px solid #ababab;
}
header .case .t_item li {
  counter-increment: count;
  position: relative;
  padding: 0 0 0 45px;
  margin: 11px 0 0;
  line-height: 1.51;
  counter-reset: number;
  font-size: 24px;
  letter-spacing: 1.2px;
}
header .case .t_item li span {
  display: inline-block;
  margin: 0 2px;
  letter-spacing: 2px;
  font-size: 25px;
}
header .case .t_item li:before {
  content: '';
  content: counter(count);
  position: absolute;
  top: 2px;
  left: 8px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  z-index: 30;
  color: #000;
}
header .case .t_item li:after {
  content: '　';
  position: absolute;
  top: 6px;
  left: 0;
  background: #fff;
  width: 30px;
  height: 30px;
  z-index: 20;
  border-radius: 50%;
}
header .case .t_cau {
  margin: 25px 0 0;
  font-size: 16px;
  letter-spacing: 1.3px;
  text-align: center;
}
header .case .t_date {
  margin: 18px 0 0;
  font-size: 20px;
  letter-spacing: 1.3px;
  text-align: center;
}
header .h_btn {
  max-width: 680px;
  margin: 42px auto 0;
}
header .h_btn a {
  display: block;
  background: #ddaa00;
  padding: 26px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #000;
}
header .h_date {
  margin: 22px auto 0;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.3px;
}
header .h_date span {
  font-size: 22px;
}

.i_m {
  margin: 81px 0 0;
}

.p_top {
  margin: 56px 0 20px;
  text-align: right;
}
.p_top a {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #fff;
}
.p_top a span {
  font-size: 34px;
}

.contents {
  margin: 0;
}
.contents .wrap {
  max-width: 715px;
  margin: 0 auto;
}
.contents .merit {
  max-width: 680px;
  margin: 0 auto;
}
.contents .m_wp {
  padding: 62px 0 0;
  margin: 52px auto 0;
}
.contents .c_h {
  padding: 0 0 0 18px;
  border-left: 5px solid #e5c200;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.8px;
  line-height: 1.4;
  color: #fff;
}
.contents .c_h span {
  font-size: 34px;
}
.contents .c_s_h {
  max-width: 489px;
  margin: 60px auto 60px;
  line-height: 0;
}
.contents .c_re {
  background: #1f2020;
  padding: 39px 20px 40px;
  margin: 36px 0 0;
  text-align: center;
  border-radius: 8px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3px;
}
.contents .c_re span {
  font-size: 31px;
}
.contents .c_re figure {
  margin: 40px 0 0;
}
.contents .c_re .c_cau {
  margin: 20px 0 0;
  font-size: 14px;
  color: #ababab;
}
.contents .c_lob {
  background: #1f2020;
  padding: 39px 20px 40px;
  border-radius: 15px;
}
.contents .c_lob .cb_text {
  padding: 0;
  margin: 27px 0 0;
  text-align: center;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #ababab;
}
.contents .c_lob .icon {
  background: #ddaa00;
  width: 284px;
  margin: 0 auto 0;
  padding: 12px 0;
  border-radius: 30px;
  font-size: 26px;
  font-weight: bold;
  text-indent: 0.8rem;
  letter-spacing: 1.3px;
  text-align: center;
  color: #000;
}
.contents .c_lob .c_img {
  max-width: 290px;
  margin: 38px auto 0;
}
.contents .c_lob .c_ih {
  margin: 38px auto 0;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 1.3px;
  font-size: 32px;
}
.contents .c_lob .c_it {
  margin: 31px 0 0;
  text-align: center;
  font-size: 27px;
  line-height: 1.5;
  letter-spacing: 1.4px;
  font-weight: bold;
}
.contents .c_lob .c_it .clr {
  color: #e6c300;
}
.contents .c_lob .c_it .num {
  font-size: 29px;
}
.contents .c_lob .pic {
  margin: 32px auto 0;
  max-width: 644px;
  line-height: 0;
}
.contents .c_lob .copy_c {
  max-width: 644px;
  margin: 5px auto 0;
  font-size: 10px;
  text-align: right;
  color: #777;
}
.contents .c_lob .caution {
  margin: 10px 0 0;
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
  color: #ababab;
}
.contents .c_lob .ch_btn {
  margin: 6% auto 0;
}
.contents .c_lob .ch_btn a {
  display: block;
  background: #ddaa00;
  padding: 26px 0;
  border-radius: 6px;
  text-align: center;
  letter-spacing: 1.4px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.contents .c_lob .ch_caution {
  margin: 25px 0 0;
  text-align: center;
  font-size: 13px;
  color: #ababab;
}
.contents .c_btn {
  margin: 38px 0 0;
}
.contents .c_btn a {
  display: block;
  background: #e5c200;
  padding: 18px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}
.contents .c_wrap {
  padding: 62px 0 0;
  margin: 62px 0 0;
  border-top: 1px solid #404040;
}
.contents .w_c {
  margin: 62px 0 0;
}
.contents .cw_l {
  margin: 62px 0 0;
}
.contents .ch_m {
  margin: 60px 0 0;
}
.contents .c_t {
  padding: 30px 0 0 16px;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 1.2px;
  color: #ababab;
}
.contents .c_inner {
  padding: 62px 0 0;
  margin: 62px 0 0;
  border-top: 1px solid #606060;
}
.contents .c_p {
  max-width: 427px;
  margin: 60px auto 0;
}
.contents .c_box {
  overflow: hidden;
  margin: 60px 0 0;
  border-radius: 8px;
}
.contents .c_box li {
  background: #202121;
  float: left;
  width: 47.5%;
  max-width: 321px;
  padding: 0 0 35px;
  margin: 5% 0 0 5%;
  border-radius: 0 0 8px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contents .c_box li:first-child {
  margin: 0;
}
.contents .c_box li:nth-child(2) {
  margin: 0 0 0 5%;
}
.contents .c_box li:nth-child(3) {
  margin: 5% 0 0 0;
}
.contents .c_box li .icon {
  margin: 0 auto;
  line-height: 0;
}
.contents .c_box li .c_it {
  margin: 25px 0 0;
  text-align: center;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 1.4px;
  color: #ababab;
}
.contents .c_box li .c_it .h_ss {
  font-size: 27px;
  font-weight: bold;
  color: #fff;
}
.contents .c_box li .c_it .clr {
  color: #e6c300;
}
.contents .c_box li .c_it .num {
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.contents .c_box .ch_btn {
  margin: 6% auto 0;
}
.contents .c_box .ch_btn a {
  display: block;
  background: #e5c200;
  padding: 26px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.p_up {
  background: #fff;
}
.p_up .wrap {
  max-width: 680px;
  margin: 0 auto;
}
.p_up .p_u_box {
  padding: 63px 0 0;
  text-align: center;
}
.p_up .p_u_box:nth-of-type(2) .p_icon {
  margin: 0 auto 0;
}
.p_up .sece {
  padding: 49px 0 0;
}
.p_up .thri {
  padding: 63px 0 0;
}
.p_up .p_h {
  position: relative;
  display: inline-block;
  padding: 0 25px 0 30px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 0.7;
  letter-spacing: 1.5px;
}
.p_up .p_h:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/200ff3fa83d7d83f32fc93923870144e_02e0faa2c7a459e0c3591002fb86f154.png) 0 0 no-repeat;
  background-size: 18px 30px;
  width: 18px;
  height: 30px;
}
.p_up .p_h:after {
  content: '';
  position: absolute;
  top: -4px;
  right: 0;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/55ca0c51da555f48c1c75c5fd7f4e0af_52a5edc7d03df877f11a9d308102eb9a.png) 0 0 no-repeat;
  background-size: 18px 30px;
  width: 18px;
  height: 30px;
}
.p_up .p_h .num {
  font-size: 27px;
  letter-spacing: 1.5px;
}
.p_up .p_img {
  max-width: 532px;
  margin: 31px auto 0;
}
.p_up .pu_i {
  background: #1a1a1a;
  padding: 40px 18px 45px;
  border-radius: 8px;
}
.p_up .p_icon {
  max-width: 139px;
  margin: 0 auto 0;
}
.p_up .p_ise {
  max-width: 139px;
  margin: 0 auto 0;
}
.p_up .p_text {
  margin: 17px 0 0;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 1.4;
}
.p_up .p_text .cl {
  color: #ddaa00;
}
.p_up .p_text .ss {
  display: inline-block;
  margin: 0 2px;
  font-size: 28px;
}
.p_up .p_s_t {
  margin: 17px 0 0;
  font-size: 40px;
  font-weight: bold;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  letter-spacing: 1.5px;
  line-height: 1.4;
}
.p_up .p_s_t .cl {
  color: #ddaa00;
}
.p_up .p_s_t .sin {
  font-size: 38px;
}
.p_up .p_i {
  margin: 15px auto 0;
  line-height: 0;
}
.p_up .p_plot {
  margin: 40px 0 0;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 1.6px;
}
.p_up .p_plot .num {
  font-size: 41px;
}
.p_up .p_plot .ss {
  display: inline-block;
  margin: 0 0.15%;
  font-size: 28px;
}
.p_up .p_plot .cl {
  color: #ddaa00;
}
.p_up .c_five {
  margin: 0;
}
.p_up .c_five .c_five_li {
  padding: 45px 0;
  margin: 0;
  border-radius: 0;
}
.p_up .c_five .c_five_li:first-child {
  padding: 61px 0 0;
  border-top: none;
}
.p_up .c_five .c_five_li:nth-child(2) {
  padding: 47px 0 0;
}
.p_up .c_five .c_five_li a {
  display: block;
}
.p_up .c_five .c_five_li dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p_up .c_five .c_five_li dd {
  line-height: 0;
  width: 48%;
}
.p_up .c_five .c_five_li dt {
  width: 48%;
  padding: 0 0 0 4%;
  font-size: 23px;
  line-height: 1.4;
  text-align: left;
  font-weight: bold;
  color: #fff;
}
.p_up .c_five .c_five_li dt span {
  display: block;
  font-size: 26px;
  color: #ddaa00;
}
.p_up .c_five .f_btn {
  margin: 27px 0 0;
}
.p_up .c_five .f_btn a {
  display: block;
  padding: 23px 0;
  border: 4px solid #ddaa00;
  border-radius: 6px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1.6px;
  color: #ddaa00;
}
.p_up .c_five .f_btn a:hover {
  opacity: 1;
  background: #ddaa00;
  color: #fff;
}
.p_up .c_twenty .t_i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 50px 0 0;
}
.p_up .c_twenty .t_i li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30.8%;
  margin: 2.8% 0 0 3.7%;
}
.p_up .c_twenty .t_i li:nth-child(3n+1) {
  margin: 2.8% 0 0;
}
.p_up .c_twenty .t_i li:nth-child(3) {
  margin: 0 0 0 3.7%;
}
.p_up .c_twenty .t_i li:nth-child(2) {
  margin: 0 0 0 3.7%;
}
.p_up .c_twenty .t_i li:nth-child(1) {
  margin: 0;
}
.p_up .c_twenty .t_i li img {
  line-height: 0;
}
.p_up .c_twenty .c_btn {
  margin: 38px auto 0;
  max-width: 654px;
}
.p_up .c_twenty .c_btn a {
  display: block;
  background: #e5c200;
  padding: 18px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}
.p_up .p_date {
  max-width: 306px;
  margin: 0 auto;
}
.p_up .pu_h {
  max-width: 650px;
  margin: 53px auto 0;
}

.banner {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/cfe68a9f7e85bb668d92cf1a5f729de4_feed16fb6c80b7d81363735070b90600.png) center top no-repeat;
  padding: 37px 0 42px;
}
.banner .b_m {
  max-width: 680px;
  margin: 0 auto 0;
  line-height: 0;
}
.banner .b_t {
  max-width: 709px;
  margin: 40px auto 0;
  line-height: 0;
}
.banner .b_b {
  margin: 32px 0 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.6px;
}
.banner .b_b span {
  display: inline-block;
  margin: 0 2px 0 0;
  font-size: 39px;
}
.banner .b_btn {
  max-width: 680px;
  margin: 29px auto 0;
}
.banner .b_btn a {
  display: block;
  background: #ddaa00;
  padding: 26px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #000;
}

.gen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 31px 20px 0;
}
.gen li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 31.73%;
  margin: 2.4% 0 0 2.4%;
}
.gen li:nth-child(3n+1) {
  margin: 2.4% 0 0;
}
.gen li:nth-child(3) {
  margin: 0 0 0 2.4%;
}
.gen li:nth-child(2) {
  margin: 0 0 0 2.4%;
}
.gen li:nth-child(1) {
  margin: 0;
}
.gen li img {
  line-height: 0;
}

aside .wrap {
  max-width: 680px;
  padding: 0 0 26px;
  margin: 13px auto 0;
  border-top: 2px solid #404040;
}
aside .f_d dt {
  margin: 60px 0 0;
  font-size: 28px;
  letter-spacing: 1.4px;
  font-weight: normal;
  color: #fff;
}
aside .f_d dd {
  margin: 21px 0 0;
  font-size: 24px;
  line-height: 1.45;
  letter-spacing: 1.4px;
  color: #ababab;
}
aside .f_d dd .caution {
  display: block;
  margin: 12px 0 0;
  font-size: 20px;
}
aside .f_d dd .f_item {
  margin: 15px 0 10px 35px;
}
aside .f_d dd .f_item li {
  margin: 6px 0 0;
  line-height: 1.4;
  font-size: 20px;
}
aside .f_d dd a {
  color: #a1882f;
  text-decoration: underline;
}
aside .f_d dd a:hover {
  text-decoration: none;
}
aside .f_c {
  margin: 15px 0 0;
  line-height: 1.3;
  font-size: 20px;
}

footer {
  background: #000;
}
footer .wrap {
  max-width: 710px;
  margin: 0 auto;
  padding: 40px 0 80px;
  border-top: 2px solid #404040;
}
footer .copy {
  margin: 0 0 32px;
}
footer .copy li {
  width: 100%;
  margin: 5px 0 0 0;
  line-height: 1.3;
  font-size: 16px;
  color: #919191;
}
footer .f_list {
  overflow: hidden;
  margin: 10px 0 10px;
}
footer .f_list li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .f_list li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #919191;
}
footer .f_list li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #919191;
  line-height: 1;
}
footer .f_list li:last-child:after {
  content: '';
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #919191;
}

@media screen and (max-width: 768px) {
  .line_w .wrap_w {
    height: 28px;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .ssp {
    display: block;
  }

  .pb30 {
    padding: 0 0 5% !important;
  }

  .mt10 {
    margin: 1.8% 0 0 !important;
  }

  .mt20 {
    margin: 3% 0 0 !important;
  }

  .mt30 {
    margin: 5% 0 0 !important;
  }

  .mt40 {
    margin: 6% 0 0 !important;
  }

  .mt50 {
    margin: 6.3% 0 0 !important;
  }

  .mt60 {
    margin: 8% 0 0 !important;
  }

  .mt70 {
    margin: 9% 0 0 !important;
  }

  .mt80 {
    margin: 10% 0 0 !important;
  }

  .mb10 {
    margin: 0 0 1.8% 0 !important;
  }

  .mn {
    margin: 0 !important;
  }

  .wrap {
    padding: 0 4.5%;
  }

  header {
    padding: 0;
  }
  header .h_l {
    width: 18.8%;
    padding: 1.2% 0 1.2% 2.3%;
  }
  header .h_a {
    position: relative;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/39d3c8aedffd4f26600b6e963c942477_249241fa4d35b4267e3cd4b18150b048.png) center top no-repeat;
    background-size: cover;
    height: auto;
    padding: 4.6% 0 7%;
    margin: 0 auto;
  }
  header .h_w {
    padding: 0;
  }
  header .h_m {
    width: 88.6%;
  }
  header .h_t {
    width: 92.6%;
    margin: 6% auto 0;
  }
  header .h_b {
    margin: 3.5% 0 0;
    font-size: calc(56vw/12);
    letter-spacing: 1.5px;
  }
  header .h_b span {
    display: inline-block;
    margin: 0 0.2% 0 0;
    font-size: calc(59vw/12);
  }
  header .case {
    position: relative;
    width: 88.6%;
    padding: 5.1% 0 6.5%;
    margin: 8% auto 0;
    border: 3px solid #fff;
    border-radius: 20px;
  }
  header .case .c_cen {
    top: -1%;
    left: 25%;
    padding: 0 4.5%;
    line-height: 0.3;
    font-size: calc(40vw/12);
    letter-spacing: 3.6px;
  }
  header .case .t_item {
    counter-reset: number 0;
    padding: 0 0 20px;
    margin: 0 32px 0;
  }
  header .case .t_item li {
    padding: 0 0 0 7.5%;
    margin: 1.5% 0 0;
    line-height: 1.51;
    font-size: calc(37vw/12);
    letter-spacing: 1.2px;
  }
  header .case .t_item li span {
    display: inline-block;
    margin: 0 2px;
    letter-spacing: 2px;
    font-size: 25px;
  }
  header .case .t_item li:before {
    top: 3.5%;
    left: 1.3%;
    border-radius: 50%;
    font-size: calc(36vw/12);
    z-index: 30;
  }
  header .case .t_item li:after {
    top: 8%;
    left: 0;
    background: #fff;
    width: 5%;
    height: 43%;
    z-index: 20;
    border-radius: 50%;
  }
  header .case .t_item li:nth-child(2):before {
    top: 4%;
  }
  header .case .t_item li:nth-child(2):after {
    top: 8%;
    left: 0;
    width: 5%;
    height: 43%;
  }
  header .case .t_item li:nth-child(3):after {
    top: 8%;
    left: 0;
    width: 5%;
    height: 87%;
  }
  header .case .t_cau {
    margin: 4% 0 0;
    font-size: calc(25vw/12);
    letter-spacing: 1.1px;
  }
  header .case .t_date {
    margin: 2.6% 0 0;
    font-size: calc(31vw/12);
    letter-spacing: 1.1px;
  }
  header .h_btn {
    width: 88.6%;
    margin: 5.5% auto 0;
  }
  header .h_btn a {
    display: block;
    background: #ddaa00;
    padding: 26px 0;
    border-radius: 6px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.3px;
    color: #000;
  }
  header .h_date {
    margin: 22px auto 0;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.3px;
  }
  header .h_date span {
    font-size: 22px;
  }

  .p_up .wrap {
    max-width: 100%;
    padding: 0 2.8%;
    margin: 0 auto;
  }
  .p_up .p_u_box {
    padding: 9% 0 0;
    text-align: center;
  }
  .p_up .p_u_box:nth-of-type(2) .p_icon {
    margin: 0 auto 0;
  }
  .p_up .sece {
    padding: 7% 0 0;
  }
  .p_up .thri {
    padding: 5% 0 0;
  }
  .p_up .p_h {
    position: relative;
    display: inline-block;
    padding: 0 4.5% 0 5.5%;
    font-size: calc(37vw/12);
    line-height: 0.7;
    letter-spacing: 1.3px;
  }
  .p_up .p_h:before {
    content: '';
    position: absolute;
    top: -10%;
    left: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/200ff3fa83d7d83f32fc93923870144e_02e0faa2c7a459e0c3591002fb86f154.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 5.8%;
    height: 160%;
  }
  .p_up .p_h:after {
    content: '';
    position: absolute;
    top: -10%;
    right: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/55ca0c51da555f48c1c75c5fd7f4e0af_52a5edc7d03df877f11a9d308102eb9a.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 5.8%;
    height: 160%;
  }
  .p_up .p_h .num {
    font-size: calc(40vw/12);
    letter-spacing: 1.4px;
  }
  .p_up .p_img {
    width: 78.3%;
    margin: 4.8% auto 0;
  }
  .p_up .pu_i {
    padding: 6% 2.9% 6.5%;
  }
  .p_up .p_icon {
    width: 21.8%;
  }
  .p_up .p_ise {
    width: 21.8%;
  }
  .p_up .p_text {
    margin: 2.8% 0 0;
    font-size: calc(62vw/12);
    letter-spacing: 1.3px;
    line-height: 1.4;
  }
  .p_up .p_text .cl {
    color: #ddaa00;
  }
  .p_up .p_text .ss {
    display: inline-block;
    margin: 0 2px;
    font-size: 28px;
  }
  .p_up .p_s_t {
    margin: 2% 0 0;
    font-size: calc(62vw/12);
    letter-spacing: 1.3px;
    line-height: 1.4;
  }
  .p_up .p_s_t .sin {
    font-size: calc(59vw/12);
  }
  .p_up .c_five {
    margin: 5% 0 0;
  }
  .p_up .c_five .c_five_li {
    padding: 6.5% 0 0;
    margin: 0;
    border-radius: 0;
  }
  .p_up .c_five .c_five_li:first-child {
    padding: 4% 0 0;
  }
  .p_up .c_five .c_five_li:nth-child(2) {
    padding: 7.2% 0 0;
  }
  .p_up .c_five .c_five_li dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p_up .c_five .c_five_li dd {
    line-height: 0;
    width: 46%;
  }
  .p_up .c_five .c_five_li dt {
    width: 50%;
    padding: 0 0 0 4%;
    font-size: calc(36vw/12);
    line-height: 1.4;
  }
  .p_up .c_five .c_five_li dt span {
    font-size: calc(41vw/12);
  }
  .p_up .c_five .f_btn {
    margin: 3.8% 0 0;
  }
  .p_up .c_five .f_btn a {
    padding: 3.6% 0;
    border: 4px solid #ddaa00;
    border-radius: 6px;
    font-size: calc(44vw/12);
    letter-spacing: 1.4px;
  }
  .p_up .c_five .f_btn a:hover {
    opacity: 1;
    background: none;
    color: #ddaa00;
  }
  .p_up .c_twenty .t_i {
    margin: 8% 0 0;
  }
  .p_up .c_twenty .c_btn {
    margin: 3% 0 0;
  }
  .p_up .c_twenty .c_btn a {
    padding: 3% 0;
    border-radius: 5px;
    font-size: calc(39vw/12);
  }
  .p_up .p_date {
    max-width: 306px;
    margin: 0 auto;
  }
  .p_up .pu_h {
    max-width: 650px;
    margin: 53px auto 0;
  }

  .banner {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/cfe68a9f7e85bb668d92cf1a5f729de4_feed16fb6c80b7d81363735070b90600.png) center top no-repeat;
    background-size: cover;
    padding: 4% 0 5.8%;
  }
  .banner .wrap {
    padding: 0 2.5%;
  }
  .banner .b_m {
    width: 97.4%;
  }
  .banner .b_t {
    width: 100%;
    margin: 6% auto 0;
  }
  .banner .b_b {
    margin: 3.5% 0 0;
    font-size: calc(56vw/12);
    letter-spacing: 1.5px;
  }
  .banner .b_b span {
    display: inline-block;
    margin: 0 0.2% 0 0;
    font-size: calc(59vw/12);
  }
  .banner .b_btn {
    max-width: 100%;
    padding: 0 3%;
    margin: 4.5% auto 0;
  }
  .banner .b_btn a {
    padding: 3.8% 0;
    border-radius: 6px;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
  }

  .gen {
    margin: 4% 2.5% 0;
  }
  .gen li {
    width: 31.73%;
    margin: 2.4% 0 0 2.4%;
  }
  .gen li:nth-child(3n+1) {
    margin: 2.4% 0 0;
  }
  .gen li:nth-child(3) {
    margin: 0 0 0 2.4%;
  }
  .gen li:nth-child(2) {
    margin: 0 0 0 2.4%;
  }
  .gen li:nth-child(1) {
    margin: 0;
  }
  .gen li img {
    line-height: 0;
  }

  .p_top {
    margin: 6.5% 0 2.5%;
  }
  .p_top a {
    display: inline-block;
    font-size: calc(53vw/12);
  }
  .p_top a span {
    font-size: calc(56vw/12);
  }

  .contents {
    margin: 0;
  }
  .contents .wrap {
    max-width: 100%;
    width: 94%;
    padding: 0;
    margin: 0 auto;
  }
  .contents .cw_l {
    margin: 2.5% 0 0;
  }
  .contents .c_h {
    padding: 0 0 0 2.5%;
    border-left: 3px solid #e5c200;
    font-size: calc(45vw/12);
    letter-spacing: 1.8px;
    line-height: 1.4;
  }
  .contents .c_h span {
    font-size: calc(48vw/12);
  }
  .contents .c_s_h {
    width: 68.4%;
    margin: 8% auto 8%;
    line-height: 0;
  }
  .contents .c_re {
    padding: 6% 3% 5%;
    margin: 6% 2.8% 0;
    border-radius: 8px;
    font-size: calc(44vw/12);
    letter-spacing: 1.1px;
  }
  .contents .c_re span {
    font-size: calc(47vw/12);
  }
  .contents .c_re figure {
    margin: 6% 0 0;
  }
  .contents .c_re .c_cau {
    margin: 4% 0 0;
    font-size: calc(34vw/12);
  }
  .contents .c_lob {
    padding: 5.5% 4.5% 6%;
    border-radius: 12px;
  }
  .contents .c_lob .cb_text {
    margin: 4% 0 0;
    font-size: calc(27vw/12);
    line-height: 1.4;
    letter-spacing: 0.5px;
  }
  .contents .c_lob .icon {
    width: 47%;
    margin: 0 auto 0;
    padding: 1.9% 0;
    border-radius: 30px;
    font-size: calc(41vw/12);
    text-indent: 0.5rem;
    letter-spacing: 1.1px;
  }
  .contents .c_lob .c_it {
    margin: 4.8% 0 0;
    font-size: calc(42vw/12);
    line-height: 1.4;
    letter-spacing: 1.2px;
  }
  .contents .c_lob .c_it .clr {
    color: #e6c300;
  }
  .contents .c_lob .c_it .num {
    font-size: 29px;
  }
  .contents .c_lob .pic {
    margin: 5% auto 0;
    width: 99%;
  }
  .contents .c_btn {
    margin: 3% 0 0;
  }
  .contents .c_btn a {
    padding: 3% 0;
    border-radius: 5px;
    font-size: calc(39vw/12);
  }
  .contents .ch_m {
    margin: 9% 0 0;
  }
  .contents .c_t {
    padding: 4% 0 0 2.3%;
    font-size: calc(41vw/12);
    line-height: 1.3;
    letter-spacing: 1.2px;
  }
  .contents .c_inner {
    padding: 9% 0 0;
    margin: 9% 0 0;
  }
  .contents .c_p {
    width: 61.7%;
    margin: 8% auto 0;
  }
  .contents .c_box {
    margin: 8% 2.9% 0;
    border-radius: 7px;
  }
  .contents .c_box li {
    width: 47.5%;
    padding: 0 0 5%;
    margin: 5% 0 0 5%;
    border-radius: 0 0 7px 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contents .c_box li:first-child {
    margin: 0;
  }
  .contents .c_box li:nth-child(2) {
    margin: 0 0 0 5%;
  }
  .contents .c_box li:nth-child(3) {
    margin: 5% 0 0 0;
  }
  .contents .c_box li .icon {
    margin: 0 auto;
    line-height: 0;
  }
  .contents .c_box li .c_it {
    margin: 7.5% 0 0;
    font-size: calc(42vw/12);
    line-height: 1.5;
    letter-spacing: 1.4px;
  }
  .contents .c_box li .c_it .h_ss {
    font-size: calc(42vw/12);
  }
  .contents .c_box li .c_it .num {
    font-size: calc(42vw/12);
  }
  .contents .c_box .ch_btn {
    margin: 6% auto 0;
  }
  .contents .c_box .ch_btn a {
    display: block;
    background: #e5c200;
    padding: 26px 0;
    border-radius: 6px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #000;
  }

  aside {
    padding: 0 0 2%;
  }
  aside .wrap {
    max-width: 100%;
    padding: 0 0 2%;
    margin: 2% 4.5% 0;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(37vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(31vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 2% 4.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
    line-height: 1;
  }
  aside .f_d dd a:hover {
    text-decoration: underline;
  }
  aside .f_d .dd_last {
    line-height: 1.2;
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }

  footer {
    padding: 2% 0 4%;
  }
  footer .wrap {
    padding: 2% 0 3%;
    margin: 0 4.5%;
    border-top: 1px solid #404040;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(24vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(25vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 480px) {
  .line_w .wrap_w {
    height: 19px;
  }

  .mb10 {
    margin: 0 0 2% 0 !important;
  }

  .mn {
    margin: 0 !important;
  }

  .mt10 {
    margin: 1.8% 0 0 !important;
  }

  .mt20 {
    margin: 3% 0 0 !important;
  }

  .mt30 {
    margin: 5% 0 0 !important;
  }

  .mt40 {
    margin: 6% 0 0 !important;
  }

  .mt50 {
    margin: 6.2% 0 0 !important;
  }

  .mt60 {
    margin: 8% 0 0 !important;
  }

  .mt70 {
    margin: 9% 0 0 !important;
  }

  .mt80 {
    margin: 10% 0 0 !important;
  }

  header {
    padding: 0;
  }
  header .h_l {
    width: 21%;
    padding: 1.3% 0 1.3% 2.3%;
  }
  header .h_a {
    position: relative;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/c4ab11a8d9b9e00792d9eee54b80953b_affa2658250ddf2f6764b432188ea744.png) center top no-repeat;
    background-size: 100% auto;
    min-height: auto;
    padding: 4.6% 0 7%;
    margin: 0 auto;
  }
  header .h_w {
    padding: 0;
  }
  header .h_m {
    width: 63.3%;
  }
  header .h_t {
    width: 84%;
    margin: 2.3% auto 0;
  }
  header .h_btn {
    width: 89%;
    margin: 6% auto 0;
  }
  header .h_btn a {
    padding: 3.9% 0;
    border-radius: 4px;
    font-size: calc(46vw/12);
    letter-spacing: 1.3px;
  }
  header .h_date {
    margin: 3% auto 0;
    font-size: calc(33vw/12);
    letter-spacing: 1.3px;
  }
  header .h_date span {
    display: inline-block;
    margin: 0 0.2% 0 0;
    font-size: calc(37vw/12);
  }
  header .chace {
    margin: 5.2% 0 0;
  }
  header .chace .wrap {
    width: 94%;
    padding: 4% 0 5%;
  }
  header .chace .c_tex {
    margin: 5% 0 0;
  }

  .chace {
    margin: 8% 0 0;
  }
  .chace .chwrap {
    width: 100%;
    padding: 5% 0 5.8%;
    margin: 0 auto;
    border-radius: 4px;
  }
  .chace .ch_h {
    margin: 0 auto;
    font-size: calc(60vw/12);
    letter-spacing: 1.9px;
    line-height: 1.5;
  }
  .chace .ch_h .num {
    font-size: calc(60vw/12);
  }
  .chace .c_t {
    margin: 1.8% 0 0;
    font-size: calc(33vw/12);
    letter-spacing: 1.3px;
  }
  .chace .ch_item {
    padding: 0 9.5%;
    margin: 4.5% 0 0;
  }
  .chace .ch_item li {
    float: left;
    width: 49.1%;
    margin: 0 0 0 1.8%;
  }
  .chace .ch_item li:nth-child(3) {
    margin: 1.8% 0 0;
  }
  .chace .ch_item li:nth-child(4) {
    margin: 1.8% 0 0 1.8%;
  }
  .chace .ch_item li:nth-child(1) {
    margin: 0;
  }
  .chace .c_tex {
    margin: 0;
    line-height: 1.6;
    letter-spacing: 1.3px;
  }
  .chace .c_tex .ct_one {
    padding: 0 3.1% 0 3.3%;
    font-size: calc(40vw/12);
    letter-spacing: 2.2px;
    line-height: 1;
  }
  .chace .c_tex .ct_one:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/bd32b8ed9bcd3b989fa0de155e1f2e01_8bd1c46fbb04c492c9b8f3321271104e.png) 0 0 no-repeat;
    background-size: 100% auto;
    width: 5%;
    height: 100%;
  }
  .chace .c_tex .ct_one:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/b2555364ed704a8b4454ee2ee25dd422_a681d3490e1fd3ab30cf7bf516bbe4a2.png) 0 0 no-repeat;
    background-size: 100% auto;
    width: 5%;
    height: 100%;
  }
  .chace .c_tex .ct_two {
    display: block;
    font-size: calc(71vw/12);
    letter-spacing: 1.5px;
  }
  .chace .c_tex .ct_two .ct_num {
    display: inline-block;
    margin: 0 0.3% 0 0.4%;
    font-size: calc(77vw/12);
  }
  .chace .c_tex .ct_two .ct_las {
    display: inline-block;
    margin: 0 0 0 0.7%;
    font-size: calc(56vw/12);
  }
  .chace .c_tex .ct_thr {
    display: block;
    font-size: calc(37vw/12);
    letter-spacing: 1.7px;
  }
  .chace .c_tex .ct_thr .ct_cl {
    display: inline-block;
    margin: 0 0.2% 0 0;
  }
  .chace .c_tex .ct_thr .ct_tn {
    font-size: calc(41vw/12);
  }
  .chace .ch_btn {
    width: 95%;
    margin: 5% auto 0;
  }
  .chace .ch_btn a {
    padding: 3.8% 0;
    border-radius: 4px;
    font-size: calc(45vw/12);
  }
  .chace .ch_date {
    margin: 3.2% 0 0;
    letter-spacing: 1.8px;
    font-size: calc(27vw/12);
  }
  .chace .ch_date span {
    font-size: calc(30vw/12);
  }

  .p_up .w_line {
    max-width: 100%;
    height: 20px;
    margin: 0 auto;
  }
  .p_up .wrap {
    max-width: 100%;
    margin: 0 auto;
  }
  .p_up .p_u_box {
    padding: 8% 0 0;
  }
  .p_up .sece {
    padding: 8% 0 3.1%;
  }
  .p_up .thri {
    padding: 3% 0 1%;
  }
  .p_up .p_h {
    display: inline-block;
    padding: 0 3.5% 0 4.2%;
    font-size: calc(41vw/12);
    line-height: 0.7;
    letter-spacing: 0.8px;
    white-space: nowrap;
  }
  .p_up .p_h:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/401232811602bd47ce9e2d330ef50f0c_c997755ebc2b831c905c31e265d3512c.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 6.2%;
    height: 120%;
  }
  .p_up .p_h:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/ccdff6d76ac534d579a16d51c2dc22ef_9d3231e3ac80b51ad44cdc5edc290e6f.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 6.2%;
    height: 120%;
  }
  .p_up .p_h .num {
    font-size: calc(44vw/12);
  }
  .p_up .p_img {
    width: 87.5%;
    margin: 2.9% auto 0;
  }
  .p_up .p_icon {
    width: 22.5%;
    margin: 5% auto 0;
  }
  .p_up .p_ise {
    width: 22.5%;
    margin: 0 auto 0;
  }
  .p_up .p_text {
    margin: 2.7% 0 0;
    font-size: calc(74vw/12);
    letter-spacing: 0.8px;
    line-height: 1.4;
  }
  .p_up .p_text .ss {
    display: inline-block;
    margin: 0 0.15%;
    font-size: calc(54vw/12);
  }
  .p_up .p_s_t {
    margin: 3.6% 0 0;
    font-size: calc(71vw/12);
    letter-spacing: 0.7px;
    line-height: 1.4;
  }
  .p_up .p_i {
    margin: 3.5% auto 0;
  }
  .p_up .p_plot {
    margin: 6% 0 0;
    font-size: calc(67vw/12);
    letter-spacing: 1.6px;
  }
  .p_up .p_plot .num {
    font-size: calc(71vw/12);
  }
  .p_up .p_plot .ss {
    display: inline-block;
    margin: 0 0.15%;
    font-size: calc(52vw/12);
  }
  .p_up .c_five {
    margin: 2% 0 0;
  }
  .p_up .c_five .c_five_li {
    padding: 6.5% 0 6%;
    margin: 0;
    border-radius: 0;
  }
  .p_up .c_five .c_five_li:first-child {
    padding: 4% 0 6%;
  }
  .p_up .c_five .c_five_li:nth-child(2) {
    padding: 6.5% 0 6%;
  }
  .p_up .c_five .c_five_li dd {
    line-height: 0;
    width: 45%;
  }
  .p_up .c_five .c_five_li dt {
    width: 51%;
    padding: 0 0 0 4%;
    font-size: calc(39vw/12);
    line-height: 1.4;
  }
  .p_up .c_five .c_five_li dt span {
    font-size: calc(43vw/12);
  }
  .p_up .c_five .f_btn {
    margin: 5.6% 0 0;
  }
  .p_up .c_five .f_btn a {
    padding: 4.2% 0;
    border: 2px solid #ddaa00;
    border-radius: 4px;
    font-size: calc(53vw/12);
    letter-spacing: 0.5px;
  }
  .p_up .c_twenty .t_i {
    margin: 7% 0 0;
  }
  .p_up .c_twenty .c_btn {
    margin: 4% 0 0;
  }
  .p_up .c_twenty .c_btn a {
    padding: 3% 0;
    border-radius: 5px;
    font-size: calc(41vw/12);
  }
  .p_up .p_date {
    width: 45.6%;
    margin: 0 auto;
  }
  .p_up .pu_h {
    width: 96.4%;
    margin: 7% auto 0;
  }

  .gen {
    margin: 4% 2.5% 0;
  }
  .gen li {
    width: 31.73%;
    margin: 2.4% 0 0 2.4%;
  }
  .gen li:nth-child(3n+1) {
    margin: 2.4% 0 0;
  }
  .gen li:nth-child(3) {
    margin: 0 0 0 2.4%;
  }
  .gen li:nth-child(2) {
    margin: 0 0 0 2.4%;
  }
  .gen li:nth-child(1) {
    margin: 0;
  }
  .gen li img {
    line-height: 0;
  }

  .p_top {
    margin: 6.5% 0 1.5%;
  }
  .p_top a {
    display: inline-block;
    font-size: calc(55vw/12);
  }
  .p_top a span {
    font-size: calc(58vw/12);
  }

  .contents {
    margin: 0;
  }
  .contents .wrap {
    width: 95%;
    padding: 0;
    margin: 0 auto;
  }
  .contents .cw_l {
    margin: 2.5% 0 0;
  }
  .contents .c_h {
    padding: 0 0 0 2.5%;
    border-left: 3px solid #e5c200;
    font-size: calc(47vw/12);
    letter-spacing: 1.8px;
    line-height: 1.4;
  }
  .contents .c_h span {
    font-size: calc(50vw/12);
  }
  .contents .c_s_h {
    width: 69.2%;
    margin: 8% auto 8%;
    line-height: 0;
  }
  .contents .c_lob .cb_text {
    margin: 10% 0 0;
    font-size: calc(29vw/12);
    line-height: 1.4;
    letter-spacing: 0.5px;
  }
  .contents .c_lob .icon {
    width: 49%;
    margin: 9% auto 0;
    padding: 1.6% 0;
    border-radius: 30px;
    font-size: calc(47vw/12);
    text-indent: 0.3rem;
    letter-spacing: 0.6px;
  }
  .contents .c_lob .c_ih {
    margin: 38px auto 0;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 1.3px;
    font-size: 32px;
  }
  .contents .c_lob .c_it {
    margin: 6% 0 0;
    font-size: calc(40vw/12);
    line-height: 1.5;
    letter-spacing: 0.5px;
    white-space: nowrap;
  }
  .contents .c_lob .c_it .clr {
    color: #e6c300;
  }
  .contents .c_lob .c_it .num {
    font-size: 29px;
  }
  .contents .c_lob .pic {
    margin: 7% auto 0;
    width: 95%;
  }
  .contents .c_lob .copy_c {
    max-width: 644px;
    margin: 5px auto 0;
    font-size: 10px;
    text-align: right;
    color: #777;
  }
  .contents .c_lob .caution {
    margin: 10px 0 0;
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
    color: #ababab;
  }
  .contents .c_btn {
    margin: 3% 0 0;
  }
  .contents .c_btn a {
    padding: 3% 0;
    border-radius: 4px;
    font-size: calc(41vw/12);
  }
  .contents .ch_m {
    margin: 9% 0 0;
  }
  .contents .c_t {
    padding: 4% 0 0 2.3%;
    font-size: calc(43vw/12);
    line-height: 1.3;
    letter-spacing: 1.2px;
  }
  .contents .c_inner {
    padding: 9% 0 0;
    margin: 9% 0 0;
  }
  .contents .c_p {
    width: 62.4%;
    margin: 8% auto 0;
  }
  .contents .c_box {
    margin: 8% 0 0;
    border-radius: 6px;
  }
  .contents .c_box li {
    width: 47.5%;
    padding: 0 0 5%;
    margin: 5% 0 0 5%;
    border-radius: 0 0 6px 6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contents .c_box li:first-child {
    margin: 0;
  }
  .contents .c_box li:nth-child(2) {
    margin: 0 0 0 5%;
  }
  .contents .c_box li:nth-child(3) {
    margin: 5% 0 0 0;
  }
  .contents .c_box li .icon {
    margin: 0 auto;
    line-height: 0;
  }
  .contents .c_box li .c_it {
    margin: 7.5% 0 0;
    font-size: calc(44vw/12);
    line-height: 1.5;
    letter-spacing: 1.4px;
  }
  .contents .c_box li .c_it .h_ss {
    font-size: calc(44vw/12);
  }
  .contents .c_box li .c_it .num {
    font-size: calc(44vw/12);
  }
  .contents .c_box .ch_btn {
    margin: 6% auto 0;
  }
  .contents .c_box .ch_btn a {
    display: block;
    background: #e5c200;
    padding: 26px 0;
    border-radius: 4px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #000;
  }

  aside {
    padding: 0 0 2%;
  }
  aside .wrap {
    padding: 0 0 2%;
    margin: 2% 4.5% 0;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(48vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(41vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(35vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 2% 4.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(36vw/12);
  }
  aside .f_d dd a:hover {
    text-decoration: underline;
  }
  aside .f_d .dd_last {
    line-height: 1.2;
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(36vw/12);
  }

  footer {
    padding: 2% 0 5%;
  }
  footer .wrap {
    padding: 2% 0 3%;
    margin: 0 4.5%;
    border-top: 1px solid #404040;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(28vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(29vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
    line-height: 0.5;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(30vw/12);
    letter-spacing: 1.3px;
  }
}
