@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #fff;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
  height: auto;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

header {
  padding: 0 0 53px;
  margin: 0 auto 0;
}
header .h_l {
  max-width: 151px;
  padding: 10px 0 10px 20px;
  line-height: 0;
}
header .h_a {
  position: relative;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/0883fa30c9d6b6025df1a119e59c1a15_6ef7633192354e969fa43827811b898f.png) top center no-repeat #000;
  background-size: cover;
  min-height: 1010px;
  padding: 0 0 0;
  margin: 0 auto;
}
header .h_a .hana {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/696e53780ad089aca44db1b01d615251_fe77ba31b543778ffa36913828bac8fe.png) top center no-repeat;
  background-size: auto;
  min-height: 545px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}
header .h_w {
  padding: 55px 0 0;
  z-index: 100;
}
header .h_m {
  max-width: 297px;
  margin: 0 auto 0;
}
header .h_t {
  max-width: 591px;
  margin: 25px auto 0;
}
header .h_main {
  max-width: 595px;
  margin: 19px auto 0;
}
header .h_present {
  background: #1f2020;
  max-width: 553px;
  padding: 40px 0 40px;
  margin: 80px auto 0;
  letter-spacing: 1.3px;
  border-radius: 8px;
}
header .h_present .h_p_h {
  background: #e5c200;
  max-width: 230px;
  padding: 3px 0 6px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  color: #000;
}
header .h_present .h_p_h span {
  font-size: 23px;
}
header .h_present .h_p_t {
  margin: 15px 0 0;
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
}
header .h_present .h_p_t .num {
  font-size: 35px;
  letter-spacing: 1.8px;
}
header .h_present .h_p_t .hpt_c {
  display: inline-block;
  margin: 0 0 0 15px;
  color: #e6c300;
}
header .h_present figure {
  max-width: 215px;
  margin: 50px auto 0;
  line-height: 0;
}
header .h_btn {
  max-width: 680px;
  margin: 45px auto 0;
}
header .h_btn a {
  display: block;
  background: #e5c200;
  padding: 27px 0;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3px;
  border-radius: 6px;
  color: #000;
}
header .h_date {
  margin: 15px auto 0;
  display: block;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.3px;
  color: #fff;
}
header .h_date span {
  font-size: 23px;
}

.contents {
  margin: 0;
}
.contents .wrap {
  max-width: 715px;
  margin: 0 auto;
}
.contents .c_list {
  background: #1f2020;
  padding: 60px 15px 47px;
  border-radius: 8px;
}
.contents .c_list li {
  padding: 50px 0 50px;
  border-top: 2px solid #404040;
}
.contents .c_list li:first-child {
  padding: 0 0 67px;
  border-top: none;
}
.contents .c_list li:last-child {
  padding: 70px 0 0;
}
.contents .c_list .c_p {
  max-width: 104px;
  margin: 0 auto;
}
.contents .c_list .c_h {
  max-width: 302px;
  margin: 40px auto 0;
}
.contents .c_list .c_t {
  margin: 30px 0 0;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 1.3px;
  font-size: 27px;
}
.contents .c_list .c_t .clr {
  color: #e5c200;
}
.contents .c_list .c_t .num {
  font-size: 30px;
}
.contents .c_list .chart {
  max-width: 644px;
  margin: 40px auto 0;
  line-height: 0;
}
.contents .c_list .c_p_h {
  max-width: 230px;
  background: #e5c200;
  padding: 3px 0 6px;
  margin: 37px auto 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  color: #000;
}
.contents .c_list .c_p_h span {
  font-size: 23px;
}
.contents .c_list .c_p_t {
  margin: 15px 0 0;
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
}
.contents .c_list .c_p_t .num {
  font-size: 35px;
  letter-spacing: 1.8px;
}
.contents .c_list .c_p_t .hpt_c {
  display: inline-block;
  margin: 0 0 0 15px;
  color: #e6c300;
}
.contents .c_list .c_amazon {
  max-width: 215px;
  margin: 30px auto 0;
  line-height: 0;
}
.contents .c_list .c_btn {
  max-width: 680px;
  margin: 45px auto 0;
}
.contents .c_list .c_btn a {
  display: block;
  background: #e5c200;
  padding: 27px 0;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3px;
  border-radius: 6px;
  color: #000;
}
.contents .c_list .c_date {
  margin: 18px auto 0;
  display: block;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.3px;
  color: #fff;
}
.contents .c_list .c_date span {
  font-size: 23px;
}

.point .wrap {
  max-width: 680px;
  margin: 0 auto;
}
.point .ch {
  padding: 0 0 0 15px;
  margin: 59px 0 42px;
  border-left: 6px solid #e5c200;
  line-height: 1.3;
  font-weight: bold;
  font-size: 32px;
}
.point .ch span {
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 35px;
  font-weight: bold;
}
.point .c_box {
  margin: 30px 0 0;
}
.point .c_box li {
  background: #1a1a1a;
  padding: 30px 16.5px 55px;
  margin: 18px auto 0;
  border-radius: 8px;
}
.point .c_box li .icon {
  position: relative;
  background: #ddbc1a;
  max-width: 91px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 0 7px;
  border-radius: 30px;
  font-size: 12.5px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  color: #1f2020;
}
.point .c_box li .icon:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 7px solid transparent;
  border-top-color: #ddbc1a;
  top: 100%;
  left: 53%;
  margin-left: -10px;
}
.point .c_box li .icon span {
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 18px;
}
.point .c_box li:first-child {
  margin: 0;
}
.point .c_box li .c_ih {
  margin: 20px auto 0;
  font-size: 34px;
  text-align: center;
  line-height: 1.35;
  letter-spacing: 1.3px;
}
.point .c_box li .c_ih span {
  font-size: 37px;
}
.point .c_box li .pic {
  margin: 28px auto 0;
  max-width: 644px;
  line-height: 0;
}
.point .c_box li .copy_c {
  max-width: 644px;
  margin: 5px auto 0;
  font-size: 10px;
  text-align: right;
  color: #777;
}
.point .c_box li .caution {
  margin: 15px 0 0;
  text-align: center;
  font-size: 13px;
  line-height: 1.3;
  color: #777;
}

.genre .wrap {
  max-width: 680px;
  padding: 0 0 50px;
  margin: 59px auto 0;
  border-bottom: 1px solid #606060;
}
.genre .ch {
  padding: 0 0 0 15px;
  border-left: 6px solid #e5c200;
  line-height: 1.4;
  font-weight: bold;
  font-size: 32px;
}
.genre .ch span {
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 35px;
  font-weight: bold;
}
.genre .ct {
  padding: 0 0 0 25px;
  margin: 22px 0 0;
  line-height: 1.4;
  font-size: 26px;
  color: #ababab;
}
.genre .ct span {
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 28px;
}
.genre .g_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 41px 0 0;
}
.genre .g_list li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 47.5%;
  margin: 5% 0 0 5%;
}
.genre .g_list li a {
  display: block;
}
.genre .g_list li figure {
  line-height: 0;
}
.genre .g_list li:nth-child(2n+1) {
  margin: 5% 0 0 0;
}
.genre .g_list li:nth-child(2) {
  margin: 0 0 0 5%;
}
.genre .g_list li:nth-child(1) {
  margin: 0;
}
.genre .g_btn {
  max-width: 680px;
  margin: 65px auto 0;
}
.genre .g_btn a {
  display: block;
  background: #e5c200;
  padding: 27px 0;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3px;
  border-radius: 6px;
  color: #000;
}
.genre .g_date {
  margin: 18px auto 0;
  display: block;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.3px;
  color: #fff;
}
.genre .g_date span {
  font-size: 23px;
}

.g_single .wrap {
  padding: 0 0 50px;
  border-top: 1px solid #606060;
}
.g_single .wrap .ch {
  margin: 59px 0 0;
}

.info .wrap {
  max-width: 718px;
  padding: 0 0 30px;
  margin: 59px auto 0;
}
.info .iw {
  margin: 87px auto 0;
  padding: 0 0 63px;
}
.info .iw_box {
  background: #1a1a1a;
  padding: 35px 15px 40px;
  border-radius: 8px;
}
.info .i_h {
  padding: 0 0 0 15px;
  border-left: 6px solid #e5c200;
  line-height: 1.4;
  font-weight: normal;
  font-size: 23px;
  letter-spacing: 1.1px;
}
.info .i_h .color {
  color: #e5c200;
}
.info .i_h .mr {
  display: inline-block;
  margin: 0 0 0 3px;
}
.info .i_h .ih_s {
  font-weight: bold;
  font-size: 29px;
  white-space: nowrap;
}
.info .i_h .num {
  font-size: 32px;
}
.info .i_btn {
  max-width: 680px;
  margin: 33px auto 0;
}
.info .i_btn a {
  display: block;
  background: #e5c200;
  padding: 27px 0;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3px;
  border-radius: 6px;
  color: #000;
}
.info .i_date {
  margin: 18px auto 0;
  display: block;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.3px;
  color: #fff;
}
.info .i_date span {
  font-size: 23px;
}

aside {
  background: #000;
}
aside .wrap {
  border-top: 2px solid #606060;
  padding: 17px 0 36px;
  max-width: 680px;
  margin: 0 auto;
}
aside .f_d dt {
  margin: 40px 0 0;
  font-size: 28px;
  letter-spacing: 1.4px;
  font-weight: normal;
  color: #fff;
}
aside .f_d dd {
  margin: 21px 0 0;
  font-size: 24px;
  line-height: 1.45;
  letter-spacing: 1.4px;
  color: #ababab;
}
aside .f_d dd .caution {
  display: block;
  margin: 12px 0 0;
  font-size: 20px;
}
aside .f_d dd .f_item {
  margin: 15px 0 10px 35px;
}
aside .f_d dd .f_item li {
  margin: 6px 0 0;
  line-height: 1.4;
  font-size: 20px;
}
aside .f_d dd a {
  color: #a1882f;
  text-decoration: underline;
}
aside .f_d dd a:hover {
  text-decoration: none;
}
aside .f_d .f_last {
  margin: 15px 0 0 0;
}
aside .f_d .f_last li {
  position: relative;
  padding: 0 0 0 25px;
  margin: 6px 0 0;
  line-height: 1.4;
  font-size: 20px;
}
aside .f_d .f_last li:before {
  content: '①';
  position: absolute;
  top: 0;
  left: 0;
}
aside .f_d .f_last li:nth-child(2):before {
  content: '②';
}
aside .f_c {
  margin: 15px 0 0;
  line-height: 1.3;
  font-size: 20px;
}

footer {
  background: #000;
}
footer .wrap {
  max-width: 680px;
  margin: 0 auto;
  padding: 60px 0 120px;
  border-top: 2px solid #404040;
}
footer .copy {
  margin: 0 0 32px;
}
footer .copy li {
  width: 100%;
  margin: 5px 0 0 0;
  line-height: 1.3;
  font-size: 16px;
  color: #919191;
}
footer .f_list {
  overflow: hidden;
  margin: 10px 0 10px;
}
footer .f_list li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .f_list li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #919191;
}
footer .f_list li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #919191;
}
footer .f_list li:last-child:after {
  content: '';
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #919191;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  header {
    padding: 0 0 7%;
  }
  header .h_l {
    width: 21%;
    padding: 1.2% 0 1.2% 2.2%;
  }
  header .h_a {
    position: relative;
    background: url(https://bit.ly/2y3ctuk) top center no-repeat #000;
    background-size: cover;
    min-height: auto;
    padding: 0 0;
    margin: 0 auto;
  }
  header .h_a .hana {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/89b9390ee05c2319b57bbeb7e6c00fc6_313e4e71858f39ff28bec04784af7c5f.png) top center no-repeat;
    background-size: contain;
    min-height: 454px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
  }
  header .h_w {
    padding: 3% 0 0;
    z-index: 100;
  }
  header .h_m {
    width: 39%;
  }
  header .h_t {
    width: 68%;
    margin: 2.4% auto 0;
  }
  header .h_main {
    width: 69%;
    margin: 2.4% auto 0;
  }
  header .h_present {
    width: 74%;
    padding: 5.2% 0 5.2%;
    margin: 10.5% auto 0;
    letter-spacing: 1.3px;
    border-radius: 6px;
  }
  header .h_present .h_p_h {
    width: 41%;
    padding: 0.8% 0 1.4%;
    font-size: calc(32vw/12);
    border-radius: 30px;
  }
  header .h_present .h_p_h span {
    font-size: calc(35vw/12);
  }
  header .h_present .h_p_t {
    margin: 2.5% 0 0;
    font-size: calc(51vw/12);
    line-height: 1.4;
  }
  header .h_present .h_p_t .num {
    font-size: calc(53vw/12);
    letter-spacing: 1.8px;
  }
  header .h_present .h_p_t .hpt_c {
    margin: 0 0 0 2.5%;
  }
  header .h_present figure {
    width: 39%;
    margin: 9% auto 0;
  }
  header .h_btn {
    width: 91%;
    margin: 6% auto 0;
  }
  header .h_btn a {
    padding: 4% 0;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
    border-radius: 5px;
  }
  header .h_date {
    margin: 2% auto 0;
    font-size: calc(31vw/12);
    letter-spacing: 1.3px;
  }
  header .h_date span {
    font-size: calc(35vw/12);
  }

  .contents {
    margin: 0;
  }
  .contents .wrap {
    padding: 0 2.4%;
    margin: 0 auto;
  }
  .contents .c_list {
    padding: 8.3% 2.2% 7%;
    border-radius: 6px;
  }
  .contents .c_list li {
    padding: 9% 0 9%;
    border-top: 2px solid #404040;
  }
  .contents .c_list li:first-child {
    padding: 0 0 9%;
    border-top: none;
  }
  .contents .c_list li:last-child {
    padding: 9.8% 0 0;
  }
  .contents .c_list .c_p {
    width: 16%;
    margin: 0 auto;
  }
  .contents .c_list .c_h {
    width: 45%;
    margin: 6% auto 0;
  }
  .contents .c_list .c_t {
    margin: 4.5% 0 0;
    line-height: 1.3;
    letter-spacing: 1.3px;
    font-size: calc(43vw/12);
  }
  .contents .c_list .c_t .num {
    font-size: calc(46vw/12);
  }
  .contents .c_list .chart {
    width: 95%;
    margin: 6% auto 0;
  }
  .contents .c_list .c_p_h {
    width: 41%;
    padding: 0.8% 0 1.4%;
    margin: 6.5% auto 0;
    font-size: calc(32vw/12);
    border-radius: 30px;
  }
  .contents .c_list .c_p_h span {
    font-size: calc(35vw/12);
  }
  .contents .c_list .c_p_t {
    margin: 2.5% 0 0;
    font-size: calc(51vw/12);
    line-height: 1.4;
  }
  .contents .c_list .c_p_t .num {
    font-size: calc(54vw/12);
    letter-spacing: 1.8px;
  }
  .contents .c_list .c_p_t .hpt_c {
    margin: 0 0 0 2.5%;
  }
  .contents .c_list figure {
    width: 39%;
    margin: 9% auto 0;
  }
  .contents .c_list .c_amazon {
    width: 32%;
    margin: 4% auto 0;
  }
  .contents .c_list .c_btn {
    width: 100%;
    margin: 6.6% auto 0;
  }
  .contents .c_list .c_btn a {
    padding: 3.7% 0;
    font-size: calc(45vw/12);
    letter-spacing: 1.3px;
    border-radius: 5px;
  }
  .contents .c_list .c_date {
    margin: 2.8% auto 0;
    font-size: calc(32vw/12);
    letter-spacing: 1.3px;
  }
  .contents .c_list .c_date span {
    font-size: calc(36vw/12);
  }

  .genre .wrap {
    width: 91%;
    padding: 0 0 7%;
    margin: 8% auto 0;
  }
  .genre .ch {
    padding: 0 0 0 2.3%;
    border-left: 4.5px solid #e5c200;
    line-height: 1.4;
    font-size: calc(50vw/12);
  }
  .genre .ch span {
    margin: 0 0.8% 0 0;
    font-size: calc(53vw/12);
  }
  .genre .ct {
    padding: 0 0 0 3%;
    margin: 3% 0 0;
    line-height: 1.4;
    font-size: calc(41vw/12);
  }
  .genre .ct span {
    margin: 0 0.8% 0 0;
    font-size: calc(44vw/12);
  }
  .genre .g_list {
    margin: 6% 0 0;
  }
  .genre .g_list li {
    width: 47.5%;
    margin: 5% 0 0 5%;
  }
  .genre .g_btn {
    width: 100%;
    margin: 9% auto 0;
  }
  .genre .g_btn a {
    padding: 4% 0;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
    border-radius: 5px;
  }
  .genre .g_date {
    margin: 2.5% auto 0;
    font-size: calc(32vw/12);
    letter-spacing: 1.3px;
  }
  .genre .g_date span {
    font-size: calc(36vw/12);
  }

  .g_single .wrap {
    padding: 0 0 7%;
  }
  .g_single .wrap .ch {
    margin: 9.5% 0 0;
  }

  .info .wrap {
    width: 96%;
    padding: 0 0 4%;
    margin: 8% auto 0;
  }
  .info .iw {
    margin: 11% auto 0;
    padding: 0 0 1.5%;
  }
  .info .iw_box {
    padding: 5% 2% 6.3%;
    border-radius: 6px;
  }
  .info .i_h {
    padding: 0 0 0 2.5%;
    border-left: 4.5px solid #e5c200;
    line-height: 1.4;
    font-size: calc(37vw/12);
    letter-spacing: 1.1px;
  }
  .info .i_h .mr {
    margin: 0 0 0 1%;
  }
  .info .i_h .ih_s {
    text-indent: -1%;
    font-size: calc(47vw/12);
  }
  .info .i_h .num {
    display: inline-block;
    font-size: calc(52vw/12);
  }
  .info .i_btn {
    width: 100%;
    margin: 5% auto 0;
  }
  .info .i_btn a {
    padding: 4% 0;
    font-size: calc(43vw/12);
    letter-spacing: 1.3px;
    border-radius: 4px;
  }
  .info .i_date {
    margin: 2.4% auto 0;
    font-size: calc(32vw/12);
    letter-spacing: 1.3px;
  }
  .info .i_date span {
    font-size: calc(35vw/12);
  }

  .point .wrap {
    width: 91%;
  }
  .point .ch {
    padding: 0 0 0 2.5%;
    margin: 9% 0 6.2%;
    border-left: 4.5px solid #e5c200;
    line-height: 1.3;
    font-size: calc(55vw/12);
  }
  .point .ch span {
    margin: 0 0.8% 0 0;
    font-size: calc(58vw/12);
  }
  .point .c_box {
    margin: 4% 0 0;
  }
  .point .c_box li {
    padding: 4.4% 2.2% 7%;
    margin: 3% 0 0;
    margin: 2.6% auto 0;
    border-radius: 6px;
  }
  .point .c_box li .icon {
    width: 16%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.8% 0 1.2%;
    border-radius: 30px;
    font-size: calc(21vw/12);
    letter-spacing: 0.6px;
  }
  .point .c_box li .icon:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 7px solid transparent;
    border-top-color: #ddbc1a;
    top: 100%;
    left: 53%;
    margin-left: -10px;
  }
  .point .c_box li .icon span {
    display: inline-block;
    margin: 0 0 0 2.5%;
    font-size: calc(29vw/12);
  }
  .point .c_box li:first-child {
    margin: 0;
  }
  .point .c_box li .c_ih {
    margin: 3.3% auto 0;
    font-size: calc(54vw/12);
    line-height: 1.3;
    letter-spacing: 1.3px;
  }
  .point .c_box li .c_ih span {
    font-size: calc(58vw/12);
  }
  .point .c_box li .pic {
    margin: 3.8% auto 0;
  }
  .point .c_box li .copy_c {
    margin: 1% auto 0;
    font-size: calc(17vw/12);
  }
  .point .c_box li .caution {
    margin: 2% 0 0;
    font-size: calc(21vw/12);
    line-height: 1.3;
  }

  aside {
    padding: 0 0 5%;
  }
  aside .wrap {
    padding: 2% 0 0;
    margin: 7% 4% 0;
    border-top: 1px solid #606060;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(37vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(31vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 2% 4.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }
  aside .f_d dd a:hover {
    text-decoration: underline;
  }
  aside .f_d .dd_last {
    line-height: 1.2;
  }
  aside .f_d .f_last {
    margin: 3% 0 0 0;
  }
  aside .f_d .f_last li {
    padding: 0 0 0 4%;
    margin: 0.8% 0 0;
    line-height: 1.4;
    font-size: calc(38vw/12);
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }

  footer {
    padding: 4% 0 3%;
  }
  footer .wrap {
    padding: 7% 0 10%;
    margin: 0 5%;
    border-top: 1px solid #404040;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(24vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(25vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 480px) {
  header {
    padding: 0 0 7%;
  }
  header .h_l {
    width: 21%;
    padding: 1.2% 0 1.2% 2.2%;
  }
  header .h_a {
    position: relative;
    background: url(https://bit.ly/2y3ctuk) top center no-repeat #000;
    background-size: cover;
    min-height: auto;
    padding: 0 0 0;
    margin: 0 auto;
  }
  header .h_a .hana {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/89b9390ee05c2319b57bbeb7e6c00fc6_313e4e71858f39ff28bec04784af7c5f.png) top center no-repeat;
    background-size: contain;
    min-height: auto;
    width: 100%;
    padding: 35% 0;
    margin: 0 auto;
    z-index: 1;
  }
  header .h_w {
    padding: 3% 0 0;
    z-index: 100;
  }
  header .h_m {
    width: 40%;
  }
  header .h_t {
    width: 71%;
    margin: 2.5% auto 0;
  }
  header .h_main {
    width: 69%;
    margin: 2.4% auto 0;
  }
  header .h_present {
    width: 74%;
    padding: 5.2% 0 5.2%;
    margin: 6.5% auto 0;
    letter-spacing: 1.3px;
    border-radius: 4px;
  }
  header .h_present .h_p_h {
    width: 41%;
    padding: 0.8% 0 1.4%;
    font-size: calc(34vw/12);
    border-radius: 30px;
  }
  header .h_present .h_p_h span {
    font-size: calc(37vw/12);
  }
  header .h_present .h_p_t {
    margin: 2.5% 0 0;
    font-size: calc(53vw/12);
    line-height: 1.4;
  }
  header .h_present .h_p_t .num {
    font-size: calc(55vw/12);
    letter-spacing: 1.8px;
  }
  header .h_present .h_p_t .hpt_c {
    margin: 0 0 0 2.5%;
  }
  header .h_present figure {
    width: 40%;
    margin: 7% auto 0;
  }
  header .h_btn {
    width: 91%;
    margin: 5% auto 0;
  }
  header .h_btn a {
    padding: 4% 0;
    font-size: calc(46vw/12);
    letter-spacing: 1.3px;
    border-radius: 4px;
  }
  header .h_date {
    margin: 2% auto 0;
    font-size: calc(33vw/12);
    letter-spacing: 1.3px;
  }
  header .h_date span {
    font-size: calc(37vw/12);
  }

  .contents {
    margin: 0;
  }
  .contents .wrap {
    padding: 0 2.4%;
    margin: 0 auto;
  }
  .contents .c_list {
    padding: 7.3% 2.2% 7%;
    border-radius: 4px;
  }
  .contents .c_list li {
    padding: 9% 0 9%;
    border-top: 1px solid #404040;
  }
  .contents .c_list li:first-child {
    padding: 0 0 9%;
    border-top: none;
  }
  .contents .c_list li:last-child {
    padding: 9.8% 0 0;
  }
  .contents .c_list .c_p {
    width: 16%;
    margin: 0 auto;
  }
  .contents .c_list .c_h {
    width: 49%;
    margin: 4.5% auto 0;
  }
  .contents .c_list .c_t {
    margin: 4.5% 0 0;
    line-height: 1.3;
    letter-spacing: 1.3px;
    font-size: calc(45vw/12);
  }
  .contents .c_list .c_t .num {
    font-size: calc(48vw/12);
  }
  .contents .c_list .chart {
    width: 95%;
    margin: 6% auto 0;
  }
  .contents .c_list .c_p_h {
    width: 41%;
    padding: 0.8% 0 1.4%;
    margin: 7.5% auto 0;
    font-size: calc(34vw/12);
    border-radius: 30px;
  }
  .contents .c_list .c_p_h span {
    font-size: calc(37vw/12);
  }
  .contents .c_list .c_p_t {
    margin: 2.5% 0 0;
    font-size: calc(53vw/12);
    line-height: 1.4;
  }
  .contents .c_list .c_p_t .num {
    font-size: calc(57vw/12);
    letter-spacing: 1.8px;
  }
  .contents .c_list .c_p_t .hpt_c {
    margin: 0 0 0 2.5%;
  }
  .contents .c_list figure {
    width: 39%;
    margin: 9% auto 0;
  }
  .contents .c_list .c_amazon {
    width: 32%;
    margin: 4% auto 0;
  }
  .contents .c_list .c_btn {
    width: 100%;
    margin: 6.6% auto 0;
  }
  .contents .c_list .c_btn a {
    padding: 3.7% 0;
    font-size: calc(47vw/12);
    letter-spacing: 1.3px;
    border-radius: 4px;
  }
  .contents .c_list .c_date {
    margin: 2.8% auto 0;
    font-size: calc(34vw/12);
    letter-spacing: 1.3px;
  }
  .contents .c_list .c_date span {
    font-size: calc(38vw/12);
  }

  .genre .wrap {
    width: 91%;
    padding: 0 0 7%;
    margin: 8% auto 0;
  }
  .genre .ch {
    padding: 0 0 0 2.3%;
    border-left: 3px solid #e5c200;
    line-height: 1.4;
    font-size: calc(52vw/12);
  }
  .genre .ch span {
    margin: 0 0.8% 0 0;
    font-size: calc(55vw/12);
  }
  .genre .ct {
    padding: 0 0 0 3%;
    margin: 3% 0 0;
    line-height: 1.4;
    font-size: calc(43vw/12);
  }
  .genre .ct span {
    margin: 0 0.8% 0 0;
    font-size: calc(46vw/12);
  }
  .genre .g_list {
    margin: 6% 0 0;
  }
  .genre .g_list li {
    width: 47.5%;
    margin: 5% 0 0 5%;
  }
  .genre .g_btn {
    width: 100%;
    margin: 9% auto 0;
  }
  .genre .g_btn a {
    padding: 4% 0;
    font-size: calc(46vw/12);
    letter-spacing: 1.3px;
    border-radius: 4px;
  }
  .genre .g_date {
    margin: 2.5% auto 0;
    font-size: calc(34vw/12);
    letter-spacing: 1.3px;
  }
  .genre .g_date span {
    font-size: calc(38vw/12);
  }

  .g_single .wrap {
    padding: 0 0 7%;
  }
  .g_single .wrap .ch {
    margin: 9.5% 0 0;
  }

  .info .wrap {
    width: 96%;
    padding: 0 0 4%;
    margin: 8% auto 0;
  }
  .info .iw {
    margin: 11% auto 0;
    padding: 0 0 1.5%;
  }
  .info .iw_box {
    padding: 5% 2% 6.3%;
    border-radius: 4px;
  }
  .info .i_h {
    padding: 0 0 0 2.5%;
    border-left: 3px solid #e5c200;
    line-height: 1.4;
    font-size: calc(39vw/12);
    letter-spacing: 1.1px;
  }
  .info .i_h .mr {
    margin: 0 0 0 1.7%;
  }
  .info .i_h .ih_s {
    text-indent: -1%;
    font-size: calc(49vw/12);
  }
  .info .i_h .num {
    display: inline-block;
    font-size: calc(54vw/12);
  }
  .info .i_btn {
    width: 100%;
    margin: 5% auto 0;
  }
  .info .i_btn a {
    padding: 4% 0;
    font-size: calc(45vw/12);
    letter-spacing: 1.3px;
    border-radius: 4px;
  }
  .info .i_date {
    margin: 2.4% auto 0;
    font-size: calc(34vw/12);
    letter-spacing: 1.3px;
  }
  .info .i_date span {
    font-size: calc(37vw/12);
  }

  .point .wrap {
    width: 91%;
  }
  .point .ch {
    padding: 0 0 0 2.5%;
    margin: 9% 0 6.2%;
    border-left: 4.5px solid #e5c200;
    line-height: 1.3;
    font-size: calc(57vw/12);
  }
  .point .ch span {
    margin: 0 0.8% 0 0;
    font-size: calc(60vw/12);
  }
  .point .c_box {
    margin: 4% 0 0;
  }
  .point .c_box li {
    padding: 4.4% 2.2% 7%;
    margin: 3% 0 0;
    margin: 2.6% auto 0;
    border-radius: 4px;
  }
  .point .c_box li .icon {
    width: 19%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.8% 0 1.2%;
    border-radius: 30px;
    font-size: calc(23vw/12);
    letter-spacing: 0.6px;
  }
  .point .c_box li .icon:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 7px solid transparent;
    border-top-color: #ddbc1a;
    top: 100%;
    left: 53%;
    margin-left: -10px;
  }
  .point .c_box li .icon span {
    display: inline-block;
    margin: 0 0 0 2.5%;
    font-size: calc(31vw/12);
  }
  .point .c_box li:first-child {
    margin: 0;
  }
  .point .c_box li .c_ih {
    margin: 3.3% auto 0;
    font-size: calc(55vw/12);
    line-height: 1.3;
    letter-spacing: 1.3px;
  }
  .point .c_box li .c_ih span {
    font-size: calc(60vw/12);
  }
  .point .c_box li .pic {
    margin: 3.8% auto 0;
  }
  .point .c_box li .copy_c {
    margin: 1% auto 0;
    font-size: calc(19vw/12);
  }
  .point .c_box li .caution {
    margin: 2% 0 0;
    font-size: calc(23vw/12);
    line-height: 1.3;
  }

  aside {
    padding: 0 0 5%;
  }
  aside .wrap {
    padding: 2% 0 0;
    margin: 7% 4% 0;
    border-top: 1px solid #606060;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(46vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(39vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(33vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 2% 4.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(34vw/12);
  }
  aside .f_d dd a:hover {
    text-decoration: underline;
  }
  aside .f_d .dd_last {
    line-height: 1.2;
  }
  aside .f_d .f_last {
    margin: 3% 0 0 0;
  }
  aside .f_d .f_last li {
    padding: 0 0 0 4%;
    margin: 0.8% 0 0;
    line-height: 1.4;
    font-size: calc(40vw/12);
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(34vw/12);
  }

  footer {
    padding: 4% 0 3%;
  }
  footer .wrap {
    padding: 7% 0 10%;
    margin: 0 5%;
    border-top: 1px solid #404040;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(26vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(27vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(28vw/12);
    letter-spacing: 1.3px;
  }
}
