* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #000;
  margin: 0 auto;
  background: #fff;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
  height: auto;
}

.m_i {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: 30px auto 0;
}
.m_i iframe {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.line_w {
  max-width: 768px;
  margin: 0 auto;
}
.line_w .wrap_w {
  background: #efefef;
  height: 38px;
}

.tc {
  text-align: center !important;
  padding: 0 !important;
}

.pb30 {
  padding: 0 0 35px !important;
}

.mb10 {
  margin: 0 0 10px 0 !important;
}

.mn {
  margin: 0 !important;
}

.mt10 {
  margin: 10px 0 0 !important;
}

.mt20 {
  margin: 20px 0 0 !important;
}

.mt30 {
  margin: 30px 0 0 !important;
}

.mt40 {
  margin: 40px 0 0 !important;
}

.mt50 {
  margin: 50px 0 0 !important;
}

.mt60 {
  margin: 60px 0 0 !important;
}

.mt70 {
  margin: 70px 0 0 !important;
}

.wrap {
  max-width: 680px;
  margin: 0 auto;
}

.pre_w {
  max-width: 680px;
  margin: 0 auto;
}

.cl {
  color: #ddaa00;
}

.pc {
  display: block;
}

.ai01 {
  opacity: 0;
}

.top {
  margin: 40px 0 60px;
  text-align: right;
}
.top a {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #fff;
}

.pre_btn a {
  display: block;
  background: #ddaa00;
  padding: 23px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #000;
}
.pre_btn a span {
  font-size: 34px;
}

header {
  padding: 0;
}
header .h_l {
  background: #000;
  padding: 12px 0 13px 22px;
}
header .h_l span {
  display: inline-block;
  max-width: 140px;
  line-height: 0;
}
header .wrap {
  max-width: 734px;
  margin: 0 auto;
}
header .h_a {
  position: relative;
  overflow: hidden;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/cea31468d58c3aa7e0008aeb566ae36c_c35ac1f21c21d71361840585d801372d.png) center top no-repeat #000;
  background-size: auto;
  height: 717px;
  padding: 9px 0 0;
  margin: 0 auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_item {
  overflow: hidden;
}
header .h_item li {
  float: left;
  width: 19%;
  margin: 0 0 0 1.25%;
}
header .h_item li:nth-child(1) {
  margin: 0;
}
header .bt {
  margin: 10px auto 0;
}
header .h_i {
  max-width: 617px;
  margin: 47px 0 0 102px;
  line-height: 0;
}

.c_lh {
  background: #000;
  padding: 15px 0 16px;
  text-align: center;
  letter-spacing: 2.4px;
  border-radius: 35px;
  font-size: 34px;
  color: #fff;
}
.c_lh span {
  font-size: 38px;
}

.contents {
  margin: 0;
}
.contents .c_box {
  padding: 50px 0 46px;
  border-top: 1px solid #606060;
}
.contents .c_box:first-of-type {
  border: none;
}
.contents .c_box .cb_dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contents .c_box .cb_dl dd {
  width: 47%;
  line-height: 0;
}
.contents .c_box .cb_dl dt {
  width: 50%;
  margin: 0 0 0 3%;
}
.contents .c_box .cb_dl dt .ch3 {
  margin: 0 0 10px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 1.4;
  text-align: left;
}
.contents .c_box .cb_dl dt .ch3 span {
  font-size: 32px;
}
.contents .c_box .cb_dl .ba {
  margin: 0 0 10px;
}
.contents .c_box .cb_dl .ba01 {
  display: inline-block;
  background: #ff002f;
  padding: 5px 8px;
  margin: 0 7px 0 0;
  border-radius: 5px;
  letter-spacing: 1.3px;
  text-align: center;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.contents .c_box .cb_dl .ba02 {
  display: inline-block;
  background: #000;
  padding: 5px 8px;
  margin: 0 7px 0 0;
  border-radius: 5px;
  letter-spacing: 1.3px;
  text-align: bold;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.contents .c_box .cb_dl .ba02 .num {
  font-size: 18px;
}
.contents .c_box .cb_dl .c_dt {
  position: relative;
  padding: 0 0 0 32px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #666666;
}
.contents .c_box .cb_dl .c_dt:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  background: #ddaa00;
  width: 23px;
  height: 23px;
  border-radius: 50%;
}
.contents .c_box .cb_txt {
  line-height: 1.7;
  font-size: 21px;
  color: #606060;
}
.contents .c_box .cb_btn a {
  display: block;
  background: #ddaa00;
  padding: 28px 0;
  font-size: 32px;
  font-weight: bold;
  border-radius: 6px;
  letter-spacing: 1.3px;
  text-align: center;
  color: #000;
}

.hol {
  padding: 49px 21px 46px;
  margin: 1px 0 0;
  border-top: 1px solid #606060;
}
.hol .hb_l {
  max-width: 362px;
  margin: 0 auto 0;
  line-height: 0;
}
.hol .hb_t {
  margin: 39px 0 0;
  font-size: 51px;
  letter-spacing: 1.5px;
  line-height: 1.3;
  text-align: center;
  color: #000;
}
.hol .hb_t .ss {
  display: inline-block;
  margin: 0 2px;
  font-size: 38px;
}
.hol figure {
  margin: 42px 0 0;
  line-height: 0;
}
.hol .p_btn a {
  display: block;
  background: #ddaa00;
  padding: 28px 0;
  font-size: 32px;
  font-weight: bold;
  border-radius: 6px;
  letter-spacing: 1.3px;
  text-align: center;
  color: #000;
}
.hol .p_top {
  margin: 37px 0 40px;
  text-align: right;
}
.hol .p_top a {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #000;
}
.hol .p_top a span {
  font-size: 34px;
}

footer {
  background: #efefef;
}
footer .wrap {
  max-width: 680px;
  margin: 0 auto;
  padding: 60px 0 100px;
}
footer .copy {
  margin: 0 0 32px;
}
footer .copy li {
  width: 100%;
  margin: 5px 0 0 0;
  line-height: 1.3;
  font-size: 16px;
  color: #666666;
}
footer .f_list {
  overflow: hidden;
  margin: 10px 0 10px;
}
footer .f_list li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .f_list li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #666;
}
footer .f_list li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #666;
  line-height: 1;
}
footer .f_list li:last-child:after {
  content: '';
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #666;
}

@media screen and (max-width: 768px) {
  .line_w .wrap_w {
    height: 28px;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .pb30 {
    padding: 0 0 5% !important;
  }

  .mt10 {
    margin: 1.8% 0 0 !important;
  }

  .mt20 {
    margin: 3% 0 0 !important;
  }

  .mt30 {
    margin: 5% 0 0 !important;
  }

  .mt40 {
    margin: 6% 0 0 !important;
  }

  .mt50 {
    margin: 6.3% 0 0 !important;
  }

  .mt60 {
    margin: 8% 0 0 !important;
  }

  .mt70 {
    margin: 9% 0 0 !important;
  }

  .mb10 {
    margin: 0 0 1.8% 0 !important;
  }

  .mn {
    margin: 0 !important;
  }

  .wrap {
    padding: 0 4.5%;
  }

  .m_i {
    margin: 5% auto 0;
  }

  .top {
    margin: 9% 0 14%;
  }
  .top a {
    display: inline-block;
    font-size: calc(48vw/12);
  }

  .pre_w {
    max-width: none;
    width: 85%;
    margin: 0 auto;
  }

  .pre_btn a {
    padding: 3.5% 0;
    border-radius: 5px;
    font-size: calc(50vw/12);
    letter-spacing: 1.3px;
  }
  .pre_btn a span {
    font-size: calc(53vw/12);
  }

  .hol {
    padding: 7.1% 0 6.5%;
    margin: 0.1% 0 0;
  }
  .hol .hb_l {
    width: 52.5%;
    margin: 0 auto 0;
  }
  .hol .hb_t {
    margin: 6% 0 0;
    font-size: calc(59vw/12);
    letter-spacing: 1.5px;
  }
  .hol figure {
    margin: 6.3% 0 0;
  }
  .hol .p_btn a {
    padding: 4.1% 0;
    font-size: calc(51vw/12);
    border-radius: 6px;
    letter-spacing: 1.3px;
  }
  .hol .p_top {
    margin: 5.5% 0 5%;
  }
  .hol .p_top a {
    display: inline-block;
    font-size: calc(53vw/12);
  }
  .hol .p_top a span {
    font-size: calc(56vw/12);
  }

  header .h_l {
    padding: 1.2% 0 1.3% 2.2%;
  }
  header .h_l span {
    display: inline-block;
    max-width: 18.8%;
  }
  header .wrap {
    max-width: 100%;
    padding: 0 1.2%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .h_a {
    position: relative;
    overflow: hidden;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/d5366d33f73d1ef037cbad33cc00ec53_dfa2fc74c7bfc073a5a3434876d3785b.png) center top no-repeat;
    background-size: cover;
    height: auto;
    padding: 1.2% 0 0.9%;
  }
  header .h_item li {
    width: 19%;
    margin: 0 0 0 1.25%;
  }
  header .bt {
    margin: 1.8% 0 0;
  }
  header .h_i {
    width: 84.4%;
    margin: 6.4% 0 0 14.5%;
    line-height: 0;
  }

  .c_lh {
    padding: 2.7% 0 2.8%;
    letter-spacing: 2.4px;
    border-radius: 35px;
    font-size: calc(54vw/12);
  }
  .c_lh span {
    font-size: calc(57vw/12);
  }

  .contents {
    margin: 0;
  }
  .contents .c_box {
    padding: 7% 0 6.5%;
  }
  .contents .c_box .cb_dl dd {
    width: 47%;
    line-height: 0;
  }
  .contents .c_box .cb_dl dt {
    width: 50%;
    margin: 0 0 0 3%;
  }
  .contents .c_box .cb_dl dt .ch3 {
    margin: 0 0 3%;
    font-size: calc(48vw/12);
    letter-spacing: 1.2px;
    line-height: 1.3;
  }
  .contents .c_box .cb_dl dt .ch3 span {
    font-size: calc(51vw/12);
  }
  .contents .c_box .cb_dl .ba {
    margin: 0 0 3.2%;
  }
  .contents .c_box .cb_dl .ba01 {
    display: inline-block;
    padding: 1.5% 2.1%;
    margin: 0 2% 0 0;
    border-radius: 5px;
    letter-spacing: 0.8px;
    font-size: calc(25vw/12);
  }
  .contents .c_box .cb_dl .ba02 .num {
    font-size: calc(28vw/12);
  }
  .contents .c_box .cb_dl .c_dt {
    padding: 0 0 0 9%;
    font-size: calc(39vw/12);
    letter-spacing: 1.3px;
  }
  .contents .c_box .cb_dl .c_dt:before {
    content: '';
    position: absolute;
    top: 3%;
    left: 0;
    background: #ddaa00;
    background-size: 100% 100%;
    width: 6.6%;
    height: 100%;
    border-radius: 50%;
  }
  .contents .c_box .cb_txt {
    line-height: 1.7;
    font-size: calc(33vw/12);
  }
  .contents .c_box .cb_btn a {
    padding: 4.1% 0;
    font-size: calc(51vw/12);
    border-radius: 6px;
    letter-spacing: 1.3px;
  }

  footer .wrap {
    padding: 8% 0 22%;
    margin: 0 5.5%;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(24vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(25vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 480px) {
  .line_w .wrap_w {
    height: 19px;
  }

  .pb30 {
    padding: 0 0 5% !important;
  }

  .mb10 {
    margin: 0 0 2% 0 !important;
  }

  .mn {
    margin: 0 !important;
  }

  .mt10 {
    margin: 1.8% 0 0 !important;
  }

  .mt20 {
    margin: 3% 0 0 !important;
  }

  .mt30 {
    margin: 5% 0 0 !important;
  }

  .mt40 {
    margin: 6% 0 0 !important;
  }

  .mt50 {
    margin: 6.2% 0 0 !important;
  }

  .mt60 {
    margin: 8% 0 0 !important;
  }

  .mt70 {
    margin: 9% 0 0 !important;
  }

  .top {
    margin: 9% 0 14%;
  }
  .top a {
    display: inline-block;
    font-size: calc(50vw/12);
  }

  .pre_w {
    max-width: none;
    width: 85%;
    margin: 0 auto;
  }

  .pre_btn a {
    padding: 3.5% 0;
    border-radius: 5px;
    font-size: calc(52vw/12);
    letter-spacing: 1.3px;
  }
  .pre_btn a span {
    font-size: calc(55vw/12);
  }

  .hol {
    padding: 7.1% 0 6.5%;
    margin: 0.1% 0 0;
  }
  .hol .hb_l {
    width: 53.1%;
    margin: 0 auto 0;
  }
  .hol .hb_t {
    margin: 6% 0 0;
    font-size: calc(61vw/12);
    letter-spacing: 1.1px;
  }
  .hol figure {
    margin: 6.3% 0 0;
  }
  .hol .p_btn a {
    padding: 4.1% 0;
    font-size: calc(51vw/12);
    border-radius: 6px;
    letter-spacing: 1.3px;
  }
  .hol .p_top {
    margin: 5.5% 0 5%;
  }
  .hol .p_top a {
    display: inline-block;
    font-size: calc(55vw/12);
  }
  .hol .p_top a span {
    font-size: calc(58vw/12);
  }

  header .h_l {
    padding: 1.2% 0 1.3% 2%;
  }
  header .h_l span {
    display: inline-block;
    max-width: 18.8%;
  }
  header .wrap {
    max-width: 100%;
    padding: 0 1.2%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .h_a {
    position: relative;
    overflow: hidden;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/d5366d33f73d1ef037cbad33cc00ec53_dfa2fc74c7bfc073a5a3434876d3785b.png) center top no-repeat;
    background-size: cover;
    height: auto;
    padding: 1.2% 0 0.9%;
  }
  header .h_item li {
    width: 19%;
    margin: 0 0 0 1.25%;
  }
  header .bt {
    margin: 1.8% 0 0;
  }
  header .h_i {
    width: 84.4%;
    margin: 6.4% 0 0 14.5%;
    line-height: 0;
  }

  .c_lh {
    padding: 2.7% 0 2.8%;
    letter-spacing: 2.4px;
    border-radius: 35px;
    font-size: calc(56vw/12);
  }
  .c_lh span {
    font-size: calc(59vw/12);
  }

  .contents {
    margin: 0;
  }
  .contents .c_box {
    padding: 7% 0 6.5%;
  }
  .contents .c_box .cb_dl dd {
    width: 47%;
    line-height: 0;
  }
  .contents .c_box .cb_dl dt {
    width: 50%;
    margin: 0 0 0 3%;
  }
  .contents .c_box .cb_dl dt .ch3 {
    margin: 0 0 3%;
    font-size: calc(50vw/12);
    letter-spacing: 1.2px;
    line-height: 1.3;
  }
  .contents .c_box .cb_dl dt .ch3 span {
    font-size: calc(55vw/12);
  }
  .contents .c_box .cb_dl .ba {
    margin: 0 0 3.2%;
  }
  .contents .c_box .cb_dl .ba01 {
    display: inline-block;
    padding: 1.5% 2%;
    margin: 0 1.5% 0 0;
    border-radius: 4px;
    letter-spacing: 0.5px;
    font-size: calc(25vw/12);
  }
  .contents .c_box .cb_dl .ba02 .num {
    font-size: calc(27vw/12);
  }
  .contents .c_box .cb_dl .c_dt {
    padding: 0 0 0 9%;
    font-size: calc(41vw/12);
    letter-spacing: 1.3px;
  }
  .contents .c_box .cb_dl .c_dt:before {
    content: '';
    position: absolute;
    top: 3%;
    left: 0;
    background: #ddaa00;
    background-size: 100% 100%;
    width: 6.6%;
    height: 100%;
    border-radius: 50%;
  }
  .contents .c_box .cb_txt {
    line-height: 1.7;
    font-size: calc(35vw/12);
  }
  .contents .c_box .cb_btn a {
    padding: 4.1% 0;
    font-size: calc(53vw/12);
    border-radius: 5px;
    letter-spacing: 1.3px;
  }

  footer .wrap {
    padding: 8% 0 23%;
    margin: 0 5.5%;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(28vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(29vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
    line-height: 0.5;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(30vw/12);
    letter-spacing: 1.3px;
  }
}
@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@keyframes item_sp {
  100% {
    opacity: 1;
  }
}
.ai01 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 2s 1 forwards;
}
