body * {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #fff;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

.header_logo {
  max-width: 130px;
  margin: 10px 0 10px 15px;
}

.heading_area {
  background: url(https://goo.gl/zfGwFA) 0 0 no-repeat;
  background-size: cover;
  padding: 58px 0 39px;
  margin: 0 0 0;
}
.heading_area .heading_img {
  max-width: 346px;
  margin: 0 auto;
  text-align: center;
}
.heading_area .heading_text {
  text-align: center;
  line-height: 1.4;
  font-weight: normal;
  font-size: 28px;
  margin: 25px 0 0;
}

@media screen and (max-width: 768px) {
  .header_logo {
    margin: 1.4% 0 1.4% 2.2%;
  }

  .heading_area {
    padding: 7.8% 0 4.8%;
    margin: 0 0 0;
  }
  .heading_area .heading_img {
    width: 100%;
  }
  .heading_area .heading_text {
    line-height: 1.4;
    font-weight: normal;
    font-size: calc(45vw/12);
    margin: 3% 0 0;
  }
}
@media screen and (max-width: 480px) {
  .header_logo {
    width: 16.2%;
    margin: 1.4% 0 1.4% 3%;
    line-height: 0;
  }

  .heading_area {
    padding: 7.8% 0 4.5%;
    margin: 0 0 0;
  }
  .heading_area .heading_img {
    width: 47%;
  }
  .heading_area .heading_text {
    line-height: 1.4;
    font-weight: normal;
    font-size: calc(48vw/12);
    margin: 3% 0 0;
  }
}
.slide_wrap {
  width: 100%;
  height: auto;
  padding: 12px 0;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.side_box {
  background: #fff;
  width: 91%;
  margin: 2px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  vertical-align: top;
}
.side_box:first-child {
  padding: 0;
}
.side_box:first-child .inner_text {
  position: relative;
}
.side_box:first-child .inner_text:before {
  content: '';
  position: absolute;
  bottom: 9%;
  left: 3%;
  background: url(https://goo.gl/eXJ1gX) 0 0 no-repeat;
  background-size: 50px 38px;
  width: 50px;
  height: 38px;
}
.side_box:nth-child(2) .inner_text {
  position: relative;
}
.side_box:nth-child(2) .inner_text:before {
  content: '';
  position: absolute;
  bottom: 9%;
  left: 3%;
  background: url(https://goo.gl/Jfs6M9) 0 0 no-repeat;
  background-size: 50px 38px;
  width: 50px;
  height: 38px;
}
.side_box .inner {
  background: #303030;
  border-radius: 5px;
}
.side_box .inner img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.side_box .inner .inner_text {
  font-weight: bold;
  white-space: normal;
  padding: 3% 3% 3% 75px;
  font-size: 25px;
  line-height: 1.3;
  text-align: left;
  color: #fff;
}

.navi {
  margin: 60px 0 0;
}
.navi .navi_item {
  overflow: hidden;
  max-width: 750px;
  margin: 0 auto;
}
.navi .navi_item li {
  float: left;
  width: 50%;
  text-align: center;
}
.navi .navi_item li a {
  display: block;
  background: none;
  padding: 26px 0;
  border: 2px solid #50c401;
  font-size: 26px;
  font-weight: bold;
  color: #50c401;
}
.navi .navi_item li .navi_active {
  background: #50c401;
  color: #fff;
}
.navi .navi_item li:nth-child(1) a {
  border-radius: 6px 0 0 6px;
}
.navi .navi_item li:nth-child(2) a {
  border-radius: 0 6px 6px 0;
}

.contents {
  max-width: 750px;
  margin: 0 auto 5%;
  padding: 50px 4% 0;
}
.contents a {
  -webkit-transition: none;
  transition: none;
}
.contents a:hover {
  opacity: 1;
}

.c_box {
  padding: 0;
}
.c_box .wrap {
  max-width: 750px;
  margin: 0 auto 0;
  padding: 0 4% 4%;
}
.c_box .wrap_c {
  padding: 40px 0 0;
  margin: 47px 0 0;
  border-top: 1px solid #6e6e6e;
}
.c_box .wrap_c:nth-of-type(1) {
  padding: 0;
  border-top: none;
}
.c_box .c_inner td {
  width: 45%;
}
.c_box .c_inner th {
  padding: 0 0 0 18px;
  vertical-align: middle;
  text-align: left;
}
.c_box .c_inner .th_date {
  font-weight: normal;
  font-size: 24px;
  color: #999;
}
.c_box .c_inner .th_heading {
  margin: 15px 0 0;
  line-height: 1.4;
  font-size: 30px;
  color: 30px;
}
.c_box .ch {
  margin: 25px 0 0;
  font-size: 26px;
  letter-spacing: 1.3px;
  color: #999;
}
.c_box .date {
  margin: 15px 0 0;
  font-size: 27px;
  letter-spacing: 1.2px;
  font-weight: bold;
  color: #fff;
}
.c_box .text {
  margin: 15px 0 0;
  font-size: 24px;
  line-height: 1.4;
  color: #fff;
}
.c_box .btn {
  margin: 25px 0 0;
}
.c_box .btn a {
  display: block;
  background: #50c401;
  padding: 17px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.c_box .new_ep {
  margin: 35px 0 0;
}
.c_box .new_ep a {
  display: block;
  background: #212121;
  padding: 18px;
  border-radius: 5px;
  color: #fff;
}
.c_box .new_ep .new_table td {
  width: 25%;
}
.c_box .new_ep .new_table th {
  padding: 0 0 0 20px;
  vertical-align: middle;
  text-align: left;
}
.c_box .new_ep .new_table th .th_date {
  font-weight: bold;
  font-size: 24px;
}
.c_box .new_ep .new_table th .th_heading {
  margin: 10px 0 0;
  font-weight: normal;
  font-size: 23px;
  line-height: 1.4;
}

@media screen and (max-width: 768px) {
  .navi {
    margin: 7% 0 0;
  }
  .navi .navi_item {
    max-width: 690px;
    padding: 0 5%;
  }
  .navi .navi_item li a {
    padding: 7.5% 0;
    border: 2px solid #50c401;
    font-size: calc(41vw/12);
  }
  .navi .navi_item li:nth-child(1) a {
    border-radius: 5px 0 0 5px;
  }
  .navi .navi_item li:nth-child(2) a {
    border-radius: 0 5px 5px 0;
  }

  .contents {
    padding: 7.7% 0 1%;
  }
}
@media screen and (max-width: 480px) {
  .navi {
    margin: 8% 0 0;
  }
  .navi .navi_item {
    max-width: 690px;
    padding: 0 4%;
  }
  .navi .navi_item li a {
    padding: 7.8% 0;
    border: 1px solid #50c401;
    font-size: calc(44vw/12);
    font-weight: normal;
  }
  .navi .navi_item li:nth-child(1) a {
    border-radius: 4px 0 0 4px;
  }
  .navi .navi_item li:nth-child(2) a {
    border-radius: 0 4px 4px 0;
  }
}
footer {
  max-width: 750px;
  padding: 0 4% 7%;
  margin: 0 auto;
}
footer .footer_item {
  overflow: hidden;
  margin: 0 0 0 -2%;
}
footer li {
  position: relative;
  float: left;
  padding: 0 3% 0 2%;
  line-height: 1.4;
}
footer li a {
  display: block;
  font-size: 18px;
  color: #fff;
}
footer li a:visited {
  color: #fff;
}
footer li:after {
  content: '/';
  position: absolute;
  top: -1px;
  right: 0;
}
footer li:last-child:after {
  content: '';
}
footer .footer_text {
  overflow: hidden;
  margin: 4% 0 0;
  font-size: 12px;
  line-height: 1.5;
  color: #878787;
}
footer .footer_text li {
  float: left;
}
footer .footer_small_wrap {
  margin: 2% 0 0;
  text-align: center;
}
footer .footer_small {
  font-size: 12px;
  color: #878787;
}
footer .take {
  margin: 5% auto 0;
  padding: 0.7% 0 1%;
  width: 120px;
  border-radius: 4px;
  border: 2px solid #878787;
  text-align: center;
  font-size: 12px;
  color: #878787;
}

@media screen and (max-width: 768px) {
  footer {
    max-width: 960px;
    padding: 4% 4% 7%;
  }
  footer li {
    position: relative;
    float: left;
    padding: 0 3% 0 2%;
    line-height: 1.4;
  }
  footer li a {
    display: block;
    font-size: calc(34vw/12);
    color: #fff;
  }
  footer li:after {
    content: '/';
    position: absolute;
    top: 1px;
    right: 0;
  }
  footer li:last-child:after {
    content: '';
  }
  footer .footer_text {
    margin: 3% 0 0;
    font-size: calc(23vw/12);
    line-height: 1.4;
    color: #878787;
  }
  footer .footer_small {
    font-size: calc(28vw/12);
    color: #878787;
  }
  footer .take {
    margin: 3% auto 0;
    padding: 0.7% 0 1%;
    border: 1px solid #878787;
    text-align: center;
    font-size: calc(28vw/12);
  }
}
@media screen and (max-width: 480px) {
  footer {
    padding: 4% 4% 3%;
  }
  footer li {
    padding: 0 3% 0 2%;
    line-height: 1.8;
  }
  footer li a {
    display: block;
    font-size: calc(34vw/12);
    color: #fff;
  }
  footer li:after {
    content: '/';
    position: absolute;
    top: -6px;
    right: 0;
  }
  footer li:last-child:after {
    content: '';
  }
  footer .footer_small {
    margin: 3% 0 0;
    font-size: calc(34vw/12);
    color: #878787;
  }
  footer .footer_text {
    margin: 3% 0 0;
    line-height: 1.4;
    color: #878787;
  }
  footer .take {
    width: 23%;
    margin: 3% auto 0;
    padding: 0.7% 0 1%;
    border: 1px solid #878787;
    text-align: center;
    font-size: calc(28vw/12);
  }
}
.slider-pro {
  font-family: 'Open Sans', Arial;
}

/* Example 1 */
#example1 .sp-thumbnail {
  width: 100%;
  padding: 8px;
  background-color: #F0F0F0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#example1 .sp-thumbnail-title {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #333;
}

#example1 .sp-thumbnail-description {
  font-size: 14px;
  color: #333;
}

@media (max-width: 860px) {
  #example1 .hide-medium-screen {
    display: none;
  }
}
@media (max-width: 640px) {
  #example1 .sp-layer {
    font-size: 12px;
  }

  #example1 .hide-small-screen {
    display: none;
  }
}
@media (max-width: 500px) {
  #example1 .sp-thumbnail {
    text-align: center;
  }

  #example1 .sp-thumbnail-title {
    font-size: 12px;
    text-transform: uppercase;
  }

  #example1 .sp-thumbnail-description {
    display: none;
  }
}
/* Example 3 */
#example3 .sp-selected-thumbnail {
  border: 4px solid #000;
}

/* Example 4 */
#example4 .sp-slides-container {
  background-color: #F4F4F4;
}

#example4 h3 {
  margin: 0 0 10px 0;
}

#example4 p {
  margin: 0 0 30px 0;
}

#example4 .sp-thumbnail-container {
  width: 200px;
  height: 130px;
  overflow: hidden;
  margin-bottom: 10px;
}

#example4 .sp-image-text {
  background: rgba(80, 80, 80, 0.5);
  color: #FFF;
  padding: 20px;
}

.links {
  text-align: center;
  margin-top: 10px;
}

/* Example 5 */
#example5 .sp-thumbnail-image-container {
  width: 100px;
  height: 80px;
  overflow: hidden;
  float: left;
}

#example5 .sp-thumbnail-image {
  height: 100%;
}

#example5 .sp-thumbnail-text {
  width: 170px;
  float: right;
  padding: 8px;
  background-color: #F0F0F0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#example5 .sp-thumbnail-title {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #333;
}

#example5 .sp-thumbnail-description {
  font-size: 14px;
  color: #333;
}

@media (max-width: 500px) {
  #example5 .sp-thumbnail {
    text-align: center;
  }

  #example5 .sp-thumbnail-image-container {
    display: none;
  }

  #example5 .sp-thumbnail-text {
    width: 120px;
  }

  #example5 .sp-thumbnail-title {
    font-size: 12px;
    text-transform: uppercase;
  }

  #example5 .sp-thumbnail-description {
    display: none;
  }
}
.sp-fade-arrows {
  opacity: 1;
}

.sp-horizontal .sp-next-arrow {
  background: url(https://goo.gl/EKJt7x) 0 0 repeat-y;
  background-size: contain;
  opacity: 0.9;
  right: 0 !important;
  left: auto !important;
  top: -197px;
  width: 132px;
  height: 472px;
}

.sp-horizontal .sp-arrows {
  top: 45%;
}

.sp-arrow:before {
  top: 44.1% !important;
}

.sp-next-arrow:before, .sp-next-arrow:after {
  background: #d5d5d5;
  width: 9% !important;
  height: 6% !important;
}

.sp-previous-arrow {
  display: none !important;
}

.sp-caption-container {
  width: 60%;
  background: red;
  text-align: center;
  margin-top: 10px;
}

.sp-slide {
  margin: 0 0 0 -5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.sp-slide a {
  background: none;
}

.rank_area_anker {
  position: absolute;
  bottom: 15%;
  left: 5%;
  width: 90%;
}

.slider-pro a {
  display: block;
  min-height: 40px;
  padding: 4% 0 4.9%;
  border-bottom: 1px solid #6e6e6e;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1.2px;
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #525252;
}
.slider-pro a:hover {
  opacity: .9;
}

.slider-pro .active {
  display: block;
  padding: 4% 0 2.8%;
  border-bottom: 4px solid #50c401;
  text-align: center;
  font-size: 34px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .spp {
    display: none;
    margin: 0 0 -5%;
    height: 0;
  }

  .sp-slide {
    margin: 0 0 0 -3%;
  }

  .slider-pro a {
    bottom: 12%;
    left: 0;
    width: 100%;
    padding: 3.5% 0;
    font-size: 31px;
  }

  .slider-pro .active {
    padding: 4% 0 0.7%;
    border-bottom: 4px solid #50c401;
    font-size: 31px;
  }

  .slider-pro {
    margin: 5px 0 15px;
  }
}
@media screen and (max-width: 680px) {
  .sp-slide {
    margin: 0 0 0 -3%;
  }

  .slider-pro a {
    bottom: 12%;
    left: 0;
    width: 100%;
    padding: 3.5% 0;
    min-height: 30px;
    font-size: 28px;
  }

  .slider-pro .active {
    padding: 4% 0 0.7%;
    border-bottom: 3px solid #50c401;
    font-size: 28px;
  }
}
@media screen and (max-width: 560px) {
  .contents {
    padding: 6.2% 0 1%;
  }

  .sp-slide {
    margin: 0 0 0 -2.2%;
  }

  .slider-pro a {
    min-height: 28px;
    bottom: 12%;
    left: 0;
    width: 100%;
    padding: 3.5% 0;
    font-size: 24px;
  }

  .slider-pro .active {
    padding: 4% 0 1.7%;
    border-bottom: 2px solid #50c401;
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .contents {
    padding: 7% 0 1%;
  }

  .sp-slide {
    margin: 0 0 0 -2%;
  }

  .slider-pro a {
    min-height: 22px;
    bottom: 12%;
    left: 0;
    width: 100%;
    padding: 3.5% 0;
    font-size: 17px;
  }

  .slider-pro .active {
    padding: 4% 0 1.7%;
    border-bottom: 2px solid #50c401;
    font-size: 17px;
  }
}
@media screen and (max-width: 414px) {
  .contents {
    padding: 6.8% 0 2%;
  }

  .sp-slide {
    margin: 0 0 0 -3.2%;
  }

  .slider-pro a {
    min-height: 19px;
    bottom: 12%;
    left: 0;
    width: 100%;
    padding: 3.5% 0;
    font-size: 17px;
  }

  .slider-pro .active {
    padding: 4% 0 1.7%;
    border-bottom: 2px solid #50c401;
    font-size: 17px;
  }
}
@media screen and (max-width: 375px) {
  .contents {
    padding: 7.3% 0 2%;
  }

  .sp-slide {
    margin: 0 0 0 -2.8%;
  }

  .slider-pro a {
    min-height: 19px;
    bottom: 12%;
    left: 0;
    width: 100%;
    padding: 3.5% 0;
    font-size: 17px;
  }

  .slider-pro .active {
    padding: 4% 0 1.7%;
    border-bottom: 2px solid #50c401;
    font-size: 17px;
  }
}
@media screen and (max-width: 320px) {
  .contents {
    padding: 7.3% 0 2%;
  }

  .sp-slide {
    margin: 0 0 0 -2.7%;
  }

  .slider-pro a {
    min-height: 19px;
    bottom: 12%;
    left: 0;
    width: 100%;
    padding: 3.5% 0;
    font-size: 14px;
  }

  .slider-pro .active {
    padding: 4% 0 1.7%;
    border-bottom: 2px solid #50c401;
    font-size: 14px;
  }
}
