*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: 'Noto Sans JP', sans-serif!important; color: #000; margin: 0 auto; background: none;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; height: auto;}

.m_i {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	margin: 30px auto 0;

	iframe {
		position: absolute;
		z-index: 5;
		left: 0;
		top: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

.fl {
	font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
}
.fd {
	font-family: 'M PLUS Rounded 1c', sans-serif !important;
}
.fs {
	font-family: 'Noto Sans JP', sans-serif!important;
}
.ko {
	font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif !important;
}

.fr {
	font-family: 'M PLUS 1p', sans-serif!important;
}

.pc {
	display: block;
}
.sp {
	display: none;
}
.ssp {
	display: block;
}

.line_w {
	.wrap_w {
		background: #2c2538;
		height: 24px;
	}
}
.pre_btn {
	a {
		position: relative;
		display: block;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/26e718fe5605c6d2e28abfe3dcc54342_67d7bf7c9b7875fe378ccc6d38ea2859.png) center top repeat-y;
		padding: 28px 0;
		border-radius: 6px;
		text-align: center;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 1.5px;
		color: #fff;

		span {
			font-size: 34px;
		}
	}
}
.pre_b_btn {
	a {
		display: block;
		background: #ddaa00;
		background-size: 100% auto;
		padding: 28px 0;
		border-radius: 6px;
		text-align: center;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 1.5px;
		color: #000;
	}
}

.c_top {
	padding: 0;
	margin: 68px 0 0;
	text-align: right;
	white-space: nowrap;
	a {
		display: inline-block;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 1.3px;
		color: #000;
	}
}
.bn {
	border: none !important;
}
.bb {
	border-bottom: 1px solid #606060 !important;
}
.pb_no {
	padding-bottom: 0 !important;
}
.pd6 {
	padding: 0 0 0 6px !important;
}

.tc {
	text-align: center !important;
	padding: 0 !important;
}
.pt50 {
	padding: 50px 0 0 !important;
}
.pb30 {
	padding: 0 0 35px !important;
}
.mb10 {
	margin: 0 0 10px 0 !important;
}
.mn {
	margin: 0 !important;
}
.mt10 {
	margin: 10px 0 0 !important;
}
.mt20 {
	margin: 20px 0 0 !important;
}
.mt30 {
	margin: 30px 0 0 !important;
}
.mt40 {
	margin: 40px 0 0 !important;
}
.mt50 {
	margin: 50px 0 0 !important;
}
.mt60 {
	margin: 60px 0 0 !important;
}
.mt70 {
	margin: 70px 0 0 !important;
}
.mt80 {
	margin: 80px 0 0 !important;
}
.mat20 {
	margin: 20px auto 0 !important;
}
.mat50 {
	margin: 50px auto 0 !important;
}
.mat70 {
	margin: 70px auto 0 !important;
}

.cl {
	color: #52d666;
}


header {
	padding: 0;
	.h_l {
		background: #000;
		padding: 12px 0 13px 22px;
		span {
			display: inline-block;
			max-width: 140px;
			line-height: 0;
		}
	}
	.h_a {
		position: relative;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/2235e38e7acbc1b86786370ee8b1cfc6_5bd0223277a3c5eee99ca26e3831f777.jpg) center top repeat;
		height: 423px;
		padding: 56px 0 0;
		margin: 0 auto;
		box-sizing: border-box;

		.h_m {
			max-width: 536px;
			margin: 0 auto 0;
			line-height: 0;
		}
	}
}

.h_text {
	background: #ff358b;
	padding: 9px 0 6px;
	text-align: center;
	box-sizing: border-box;

	.h_head {
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 1.8px;
		line-height: 1.25;
		color: #fff;
		.num {
			display: inline-block;
			margin: 0 2px;
			font-size: 35px;
		}
		.ls {
			font-size: 24px;
		}
	}
}

.c_title {
	max-width: 557px;
	margin: 29px auto 0;
	line-height: 0;
}

.c_h {
	padding: 0 0 0 17px;
	font-size: 30px;
	border-left: 11px solid #ff3f91;
	line-height: 1.3;
	letter-spacing: 1.3px;
	text-align: left;
	font-weight: bold;
	color: #000;
}

.c_hh {
	margin: 43px 0 0;
	font-size: 32px;
	line-height: 1.5;
	letter-spacing: 1.5px;
	text-align: center;
	color: #fff;

	span {
		font-size: 35px;
	}
}

.c_hh_se {
	margin: 48px 0 0;
	font-size: 54px;
	line-height: 1.5;
	letter-spacing: 2.5px;
	text-align: center;
	color: #fff;

	.num {
		font-size: 58px;
	}
	.ss {
		font-size: 42px;
	}
}

.w_fe_se {
	margin: 40px 0 0;
	font-size: 48px;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: 1.5px;
	white-space: nowrap;
	.cl {
		color: #ddaa00;
	}
	.sin {
		display: inline-block;
		margin: 0 0 8px;
		font-size: 36px;
	}
	.num {
		font-size: 52px;
	}
	.dot {
		display: inline-block;
		margin: 0 -20px;
		font-size: 72px;
		vertical-align: middle;
	}

	.fe_sec {
		font-size: 41px;
		font-weight: 800;
		letter-spacing: 1.6px;
		.bb_l {
			display: inline-block;
			border-bottom: 5px solid #ddaa00;
			line-height: 1.2;
		}
	}


	.kome1 {
		font-size: 20px;
		vertical-align: text-top;
	}
	.kome2 {
		font-size: 18px;
		vertical-align: text-top;
	}
}

.fe_th {
	display: inline-block;
	margin: 60px 0 0;
	font-size: 41px;
	font-weight: 800;
	letter-spacing: 1.6px;
	.bb_l {
		display: inline-block;
		border-bottom: 5px solid #ddaa00;
		line-height: 0.9;
	}
	.kome2 {
		font-size: 18px;
		vertical-align: text-top;
	}
}
.fe_fi {
	line-height: 1.45;
	.kome2 {
		font-size: 20px;
		vertical-align: text-top;
	}
	.sec {
		font-size: 46px;
	}
}



.c_every {
	position: relative;
	display: inline-block;
	padding: 0 30px 0 34px;
	letter-spacing: 1.8px;
	font-size: 39px;
	font-weight: 800;

	&:before {
		content: '';
		position: absolute;
		top: 8px;
		left: 0;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/7cac266581091051aefdbc6fee4f7188_3379ecf265799cb156a1df5e55775f40.png) 0 0 no-repeat;
		background-size: 25px 43px;
		width: 25px;
		height: 43px;
	}
	&:after {
		content: '';
		position: absolute;
		top: 8px;
		right: 0;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/a301903048ace318d5d6f904da079708_1f7d0a3e9ac9adf5603fcc62480ec8d9.png) 0 0 no-repeat;
		background-size: 25px 43px;
		width: 25px;
		height: 43px;
	}
	.ss {
		font-size: 34px;
	}
	.num {
		font-size: 53px;
		font-weight: 900;
		color: #ff3f91;
	}
}

.c_first {
	position: relative;
	display: inline-block;
	padding: 0 30px 0 34px;
	margin: 48px 0 0;
	letter-spacing: 1.8px;
	font-size: 32px;
	font-weight: bold;

	&:before {
		content: '';
		position: absolute;
		top: 8px;
		left: 0;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/7cac266581091051aefdbc6fee4f7188_3379ecf265799cb156a1df5e55775f40.png) 0 0 no-repeat;
		background-size: 25px 43px;
		width: 25px;
		height: 43px;
	}
	&:after {
		content: '';
		position: absolute;
		top: 8px;
		right: 0;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/a301903048ace318d5d6f904da079708_1f7d0a3e9ac9adf5603fcc62480ec8d9.png) 0 0 no-repeat;
		background-size: 25px 43px;
		width: 25px;
		height: 43px;
	}
	span {
		font-size: 48px;
		font-weight: 700;
		color: #ff3f91;
	}
}
.c_f_t {
	margin: 20px 0 0;
	font-size: 26px;
	font-weight: bold;
	line-height: 1.7;
	span {
		color: #ddaa00;
	}
}

.c_cau {
	margin: 30px 0 0;
	font-size: 18px;
	line-height: 1.3;
	color: #606060;
}
.c_cau_co {
	margin: 30px 0 50px;
	color: #ababab;
}


.line {
	background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/62d106e83d0dcef31619b35fd7ba8951_b380339c0289e275f5d82b7091e3757c.png) center top repeat-y;
	height: 4px;
	margin: 60px 0 0;
}

.contents {
	background: #fff;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
	}
	.wrap_c {
		max-width: 680px;
		margin: 0 auto;
	}

	.c_one {
		position: relative;
		display: inline-block;
		background: #ff3f91;
		margin: 0 auto;
		box-sizing: border-box;
		padding: 17px 37px;
		font-size: 38.5px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 2.1px;
		white-space: nowrap;
		color: #fff;
		&:before {
			content: ' ';
			height: 0;
			position: absolute;
			width: 0;
			border: 11px solid transparent;
			border-top-color: #ff3f91;
			top: 100%;
			left: 50%;
			margin-left: -10px;
		}
		span {
			display: inline-block;
			margin: 0 0 0 2px;
			font-size: 42px;
		}
	}

	.c_head {
		margin: 40px 0 0;
		font-size: 64px;
		font-weight: 800;
		letter-spacing: 3.2px;
		.num {
			font-size: 70px;
		}
		.ls {
			font-size: 70px;
		}
	}
	.c_item {
		display: flex;
		flex-flow: row wrap;
		margin: 35px 0 0;

		li {
			justify-content: flex-end;
			box-sizing: border-box;
			background: #efefef;
			width: 32.33%;
			margin: 1.5% 0 0 1.5%;
			border-radius: 8px;
			&:nth-child(3n+1) {
				margin: 1.5% 0 0 0;
			}
			&:nth-child(3) {
				margin: 0 0 0 1.5%;
			}
			&:nth-child(2) {
				margin: 0 0 0 1.5%;
			}
			&:nth-child(1) {
				margin: 0;
			}
		}
	}
	.ci_text {
		margin: 39px 0 0;
		font-size: 24px;
		line-height: 1.55;
		text-align: left;
		color: #000;
	}

	.c_htext {
		margin: 14px 0 0;
		font-size: 34px;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: 1.5px;
		.cll {
			color: #ddaa00;
		}
		.num {
			font-size: 42px;
			color: #ff3f91;
		}
	}

	.c_tdl {
		overflow: hidden;
		display: flex;
		flex-flow: row wrap;
		li {
			float: left;
			justify-content: flex-end;
			box-sizing: border-box;
			&:nth-child(1) {
				max-width: 266px;
				width: 40%;
				line-height: 0;
			}
			&:nth-child(2) {
				position: relative;
				float: right;
				width: 56%;
				padding: 12px 0 0;
				margin: 0 0 0 4%;
				font-size: 25px;
				line-height: 1.5;
				letter-spacing: 1.3px;
				font-weight: normal;
				text-align: left;
				.more {
					position: absolute;
					bottom: 0;
					right: 0;
					text-align: right;
					a {
						display: inline-block;
						font-weight: 700;
						font-size: 32px;
						color: #000;
					}
				}
			}
		}
	}
	.c_list {
		margin: 40px 0 0;
		dl {
			display: flex;
			align-items: center;
		}

		a {
			display: block;
			color: #000;
		}
		dd {
			width: 55%;
			line-height: 0;
		}
		dt {
			width: 41%;
			padding: 0 0 0 4%;
			font-size: 25px;
			line-height: 1.6;
			font-weight: bold;
			text-align: left;
			span {
				display: inline-block;
				background: #f0163a;
				padding: 4px 10px 6px;
				margin: 0 0 15px;
				font-size: 22px;
				font-weight: bold;
				border-radius: 4px;
				letter-spacing: 1.1px;
				line-height: 1;
				white-space: nowrap;
				color: #fff;
			}
		}
	}

	.li_se {
		margin: 50px 0 0;
	}

	.and_more {
		margin: 40px 0 0;
		text-align: right;
		a {
			display: inline-block;
			font-weight: 700;
			font-size: 32px;
			color: #000;
		}
	}

	.pre {
		max-width: 492px;
		margin: 0 auto;
	}
	.pre_h {
		margin: 36px 0 0px;
		font-size: 40px;
		font-weight: 700;
		letter-spacing: 1.3px;
	}
	.pre_item {
		overflow: hidden;
		margin: 45px 0 60px;
		li {
			float: left;
			width: 23.8%;
			margin: 1.5% 0 0 1.5%;
			&:nth-child(4n+1) {
				margin: 1.5% 0 0 0;
			}
			&:nth-child(4) {
				margin: 0 0 0 1.5%;
			}
			&:nth-child(3) {
				margin: 0 0 0 1.5%;
			}
			&:nth-child(2) {
				margin: 0 0 0 1.5%;
			}
			&:nth-child(1) {
				margin: 0;
			}
		}
	}
	.line_dot {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/60012c06046a85715e0dd3e0e2ef6852_9f642be9c64e92e16ee8a23e167a390b.png) center top repeat-y;
		height: 4px;
		margin: 60px 0 0;
	}
	.line_list {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/60012c06046a85715e0dd3e0e2ef6852_9f642be9c64e92e16ee8a23e167a390b.png) center top repeat-y;
		height: 4px;
		margin: 50px 0 0;
	}
}

.co_bg {
	background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/33bd41ca287f508f413793874812927b_4dd8529e825e22d326e76e0d9881e1e4.jpg) center top no-repeat;
	background-size: cover;
	max-width: 1920px;
	padding: 33px 0 40px;
	margin: 0 auto;
	.co_wrap {
		background: #fff;
		max-width: 712px;
		padding: 45px 0 54px;
		margin: 0 auto;
		border-radius: 8px;
		text-align: center;
	}
	.co_img {
		max-width: 555px;
		margin: 31px auto 0;
		line-height: 0;
	}
	.co_img02 {
		max-width: 662px;
		margin: 31px auto 0;
		line-height: 0;
	}

	.conf {
		max-width: 610px;
		margin: 0 auto;
		.co_h {
			margin: 40px 0 0;
			font-size: 34px;
			font-weight: 700;
		}
		.cc_list {
			margin: 30px 0 0;
			li {
				counter-increment: count;
				position: relative;
				padding: 0 0 0 45px;
				margin: 9px 0 0;
				line-height: 1.65;
				counter-reset: number;
				font-weight: bold;
				font-size: 24px;
				letter-spacing: 1.2px;
				text-align: left;
				&:before {
					content: '';
					content: counter(count);
					position: absolute;
					top: 5px;
					left: 0;
					width: 30px;
					background: #ff3f91;
					border-radius: 50%;
					text-align: center;
					font-weight: bold;
					font-size: 19px;
					color: #fff;
				}
			}
		}
		.co_line {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/9fe222fd22c9c695edec3cf1bab4e52b_c965dfb4ccfee3be05b44a563533f213.jpg) center top repeat-y;
			height: 4px;
			margin: 33px 0 0;
		}

		.co_data {
			margin: 43px 0 0;
			font-size: 18px;
			letter-spacing: 1px;
			line-height: 1.5;
			color: #000;
			span {
				display: block;
				font-size: 20px;
			}
		}
	}
}

.whats {
	background: #000;
	text-align: center;
	color: #fff;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
	}

	.w_h {
		font-weight: 800;
		font-size: 36px;
		letter-spacing: 1.8px;
		.cll {
			color: #ddaa00;
		}
	}

	.w_head {
		position: relative;
		display: inline-block;
		padding: 0 92px;
		margin: 48px 0 0;
		font-size: 48px;
		font-weight: bold;
		white-space: nowrap;
		line-height: 1.3;
		.cl {
			display: inline-block;
			margin: 0 5px;
		}
		.ss {
			font-size: 35px;
		}
		.ls {
			display: inline-block;
			margin: 0 0 0 4px;
			font-size: 58px;
		}
		.w_sec {
			font-size: 53px;

		}

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/73350da1f3f3e2509d1c998cacce1017_8f96f601e0eb49d187dcd64b61af6288.png) 0 0 no-repeat;
			background-size: 82px 82px;
			width: 82px;
			height: 82px;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/8dd9f13a4e00226db9caf1fe20e3a63e_713d27136708feec244ebd806f13dc66.png) 0 0 no-repeat;
			background-size: 82px 82px;
			width: 82px;
			height: 82px;
		}
	}
	.wh_item {
		overflow: hidden;
		margin: 37px 0 0;
		li {
			float: left;
			width: 32.33%;
			margin: 1.5% 0 0 1.5%;

			&:nth-child(3n+1){
				margin: 1.5% 0 0 0;
			}
			&:nth-child(3){
				margin: 0 0 0 1.5%;
			}
			&:nth-child(2){
				margin: 0 0 0 1.5%;
			}
			&:nth-child(1){
				margin: 0;
			}
		}
	}
	.wh_list {
		overflow: hidden;
		margin: 35px 0 0;
		li {
			float: left;
			width: 25%;
			line-height: 0;
		}
	}
	.w_fig {
		display: block;
		max-width: 680px;
		margin: 40px auto 0;
		line-height: 0;
	}
	.w_mt {
		margin: 50px 0 0;
		font-size: 34px;
		font-weight: bold;
		letter-spacing: 1.3px;
	}
	.w_img {
		max-width: 497px;
		margin: 43px auto 0;
		line-height: 0;
	}

	.m_box {
		overflow: hidden;
		padding: 0 0;
		margin: 27px auto 0;
		border-radius: 8px;
		li {
			background: #efefef;
			float: left;
			width: 47.5%;
			max-width: 321px;
			padding: 0 0 35px;
			margin: 5% 0 0 5.55%;
			border-radius: 9px;
			box-sizing: border-box;
			&:first-child {
				margin: 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 5.55%;
			}
			&:nth-child(3) {
				margin: 5% 0 0 0;
			}
			.icon {
				margin: 0 auto;
				line-height: 0;
				img {
					border-radius: 9px 9px 0 0;
				}
			}

			.c_it {
				margin: 25px 0 0;
				text-align: center;
				font-size: 27px;
				font-weight: normal;
				line-height: 1.5;
				letter-spacing: 1.4px;
				color: #666 ;
				.h_ss {
					display: block;
					font-size: 30px;
					font-weight: bold;
					color: #666;
				}
				.clr {
					color: #e6c300;
				}
				.num {
					font-size: 29px;
				}
			}
		}
	}
}

.tb_h {
	margin: 45px 0 0;
	font-size: 38px;
	font-weight: 800;
	line-height: 1.4;
	.cl {
		color: #ddaa00;
	}
}

.tb {
	margin: 40px auto 0;
	border: 2px solid #5f5f5f;
	border-collapse: separate;
	border-radius: 5px;
	border-spacing: 0;
	text-align: center;
	color: #fff;

	th {
		background: #1f2020;
		line-height: 1;
		font-weight: normal;
		border-right: 2px solid #5f5f5f;
		box-sizing: border-box;

		.pr {
			max-width: 159px;
			margin: 0 auto;
			line-height: 0;
		}

		&:nth-child(1) {
			width: 300px;
			padding: 22px 0 22px 20px;
			box-sizing: border-box;
			text-align: left;
			font-size: 19px;
			letter-spacing: 1.3px;
		}
		&:nth-child(2) {
			width: 190px;
			max-height: 88px;
			padding: 17px 0;
			line-height: 1.4;
			font-size: 20px;
			font-weight: normal;
			box-sizing: border-box;
		}
		&:nth-child(3) {
			width: 190px;
			line-height: 0.6;
			font-size: 22px;
			font-weight: normal;
			box-sizing: border-box;
		}

	}
	.f_lt {
		border-radius: 6px 0 0 0;
	}
	.f_rt {
		border-radius: 0 6px 0 0;
		border-right: none;
	}
	.f_lb {
		border-radius: 0 0 0 6px;
		border-bottom: none;
	}
	.f_rb {
		border-radius: 0 0 6px 0;
		border-bottom: none;
	}
	.ll {
		font-size: 24px!important;
		line-height: 1.2;
		.ss {
			font-size: 18px!important;
			white-space: nowrap;
		}
	}
	td {
		background: #000;
		img {
			max-width: 31px;
		}

		&:nth-child(2) {
			padding: 20px 0;
			border-right: 2px solid #5f5f5f;
		}
		&:nth-child(3) {
			padding: 20px 0;
		}
	}
	.b_no {
		border-bottom: none!important;
	}
	.line {
		img {
			max-width: 26px;
			line-height: 0;
		}
	}
	th, td {
		border-bottom: 2px solid #5f5f5f;
	}
}

.other {
	background: #fff;
	.o_bg {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/d7cab79572b8b26abb3604d6588e8b56_1c66eddf96fdeee960198815573f5e9b.png) 0 0 no-repeat;
		background-size: cover;
		max-width: 750px;
		padding: 30px 20px 30px;
		margin: 0 auto;
		box-sizing: border-box;
	}

	.wrap {
		background: #fff;
		max-width: 712px;
		padding: 30px 0 50px;
		margin: 0 auto;
		border-radius: 12px;
		text-align: center;
		box-sizing: border-box;
	}
	.co_img {
		max-width: 555px;
		margin: 25px auto 0;

	}
}

.sei {
	a {
		display: block;
	}
}
.saison {
	display: flex;
	align-items: center;
	margin: 51px 0 0;
	a {
		display: block;
	}
	dd {
		border: 2px solid #565656;
		max-width: 378px;
		box-sizing: border-box;
		line-height: 0;
	}
	dt {
		margin: 0 0 0 28px;
		line-height: 1.78;
		font-size: 23px;
		font-weight: bold;
		text-align: left;
		letter-spacing: 1.35px;
		white-space: nowrap;
		color: #000;
		.cl {
			color: #ddaa00;
		}

		.uline {
			display: inline-block;
			line-height: 1.5;
			border-bottom: 1px solid #000;
		}
	}
}

.t_cau {
	margin: 12px 0 0;
	font-size: 20px;
	text-align: right;
	line-height: 2.1;
	color: #fff;
}

.cp {
	background: #fff;
	padding: 60px 0 70px;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
	}
}

.cp_h {
	padding: 0 0 0 17px;
	font-size: 30px;
	border-left: 11px solid #ddaa03;
	line-height: 1.3;
	letter-spacing: 1.3px;
	text-align: left;
	font-weight: bold;
	color: #000;
}

.t_top {
	margin: 50px 0 64px;
	text-align: right;
	white-space: nowrap;
	a {
		display: inline-block;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 1.3px;
		color: #000;
	}
}

aside {
	background: #efefef;
	text-align: left;
	.wrap {
		max-width: 680px;
		padding: 48px 0 60px;
		margin: 0 auto 0;
	}
	.f_d {
		dt {
			margin: 50px 0 0;
			font-size: 25px;
			letter-spacing: 1.4px;
			font-weight: normal;
			color: #000;

			&:first-child {
				margin: 0;
			}
		}
		dd {
			margin: 21px 0 0;
			font-size: 24px;
			line-height: 1.45;
			letter-spacing: 1.4px;
			color: #000;
			.caution {
				display: block;
				margin: 12px 0 0;
				font-size: 20px;
			}
			.f_item {
				margin: 15px 0 10px 35px;
				li {
					margin: 6px 0 0;
					line-height: 1.4;
					font-size: 20px;
				}
			}

			a {
				color: #ddaa00;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.f_last {
			margin: 15px 0 0 0;
			li {
				position: relative;
				padding: 0 0 0 25px;
				margin: 6px 0 0;
				line-height: 1.4;
				font-size: 20px;
				&:before {
					content: '1.';
					position: absolute;
					top: 0;
					left: 0;
				}

				&:nth-child(2) {
					&:before {
						content: '2.';
					}
				}
			}
		}
	}
	.f_c {
		margin: 15px 0 0;
		line-height: 1.3;
		font-size: 20px;
	}
}

footer {
	background: #efefef;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
		padding: 55px 0 60px;
		border-top: 2px solid #000;
	}
	.copy {
		margin: 0 0 32px;
		li {
			width: 100%;
			margin: 5px 0 0 0;
			line-height: 1.3;
			font-size: 16px;
			color: #000000;
		}
	}

	.f_list {
		overflow: hidden;
		margin: 10px 0 10px;
		li {
			position: relative;
			float: left;
			margin: 0 10px 0 0;
			a {
				display: block;
				padding: 0 12px 0 0;
				font-size: 15px;
				color: #000000;
			}
			&:after {
				content: ' | ';
				position: absolute;
				top: 0;
				right: 0;
				color: #000000;
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	.f_dot {
		margin: 15px 0 0 35px;
		li {
			position: relative;
			padding: 0 0 0 38px;
			margin: 8px 0 0;
			line-height: 1.4;
			font-size: 19px;
			&:before {
				content: '・';
				position: absolute;
				top: 14px;
				left: 20px;
				font-size: 19px;
				line-height: 0;
			}
		}
	}

	small {
		display: block;
		margin: 30px 0 0;
		font-size: 16px;
		letter-spacing: 1.1px;
		text-align: left;
		color: #000000;
	}
}


@media screen and (max-width: 768px) {

	.line_w {
		max-width: 100%;
		width: 100%;
		.wrap_w {
			height: 20px;
		}
	}

	.line {
		background-size: contain;
		height: 3px;
		margin: 6.5% 0 0;
	}

	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
	.ssp {
		display: block;
	}
	.pd6 {
		padding: 0 0 0 0.7% !important;
	}
	.pt50 {
		padding: 6.5% 0 0 !important;
	}
	.pb30 {
		padding: 0 0 5% !important;
	}

	.mt10 {
		margin: 1.8% 0 0 !important;
	}
	.mt20 {
		margin: 3% 0 0 !important;
	}
	.mt30 {
		margin: 5% 0 0 !important;
	}
	.mt40 {
		margin: 6% 0 0 !important;
	}
	.mt50 {
		margin: 6.3% 0 0 !important;
	}
	.mt60 {
		margin: 8% 0 0 !important;
	}
	.mt70 {
		margin: 9% 0 0 !important;
	}
	.mt80 {
		margin: 10% 0 0 !important;
	}
	.mb10 {
		margin: 0 0 1.8% 0 !important;
	}
	.mn {
		margin: 0 !important;
	}

	.mat20 {
		margin: 3% auto 0 !important;
	}
	.mat50 {
		margin: 6.5% auto 0 !important;
	}
	.mat70 {
		margin: 9% auto 0 !important;
	}

	.m_i {
		margin: 5% auto 0;
	}

	.pre_btn {
		a {
			padding: 3.9% 0 4.2%;
			border-radius: 5px;
			font-size: calc(50vw/12);
			letter-spacing: 1.1px;
			span {
				font-size: calc(53vw/12);
			}
		}
	}

	.co_bg {
		background-size: cover;
		padding: 5% 2.6% 6%;
		.co_wrap {
			max-width: 100%;
			padding: 6.5% 0 7.5%;
			border-radius: 7px;
		}
		.co_img {
			width: 78.2%;
			margin: 5% auto 0;
		}
		.co_img02 {
			width: 93.1%;
			margin: 5% auto 0;
		}

		.conf {
			width: 86%;
			margin: 0 auto;
			.co_h {
				margin: 6% 0 0;
				font-size: calc(53vw/12);
				font-weight: 700;
			}
			.cc_list {
				margin: 5% 0 0;
				li {
					padding: 0 0 0 7.4%;
					margin: 1.5% 0 0;
					line-height: 1.65;
					font-size: calc(38vw/12);
					letter-spacing: 1.2px;
					&:before {
						content: '';
						content: counter(count);
						position: absolute;
						top: 4px;
						left: 0;
						width: 5%;
						border-radius: 50%;
						font-size: calc(30vw/12);
						font-weight: bold;
					}
				}
			}
			.co_line {
				background-size: contain;
				height: 3px;
				margin: 5% 0 0;
			}

			.co_data {
				margin: 6.3% 0 0;
				font-size: calc(28vw/12);
				letter-spacing: 0.7px;
				line-height: 1.5;
				span {
					font-size: calc(31vw/12);
				}
			}
		}
	}
	.whats {
		.wrap {
			padding: 0 4.5%;
		}

		.w_h {
			font-weight: 800;
			font-size: calc(56vw/12);
			letter-spacing: 1.3px;
		}

		.w_head {
			position: relative;
			display: inline-block;
			padding: 0 13%;
			margin: 6.5% 0 0;
			font-size: calc(75vw/12);
			line-height: 1.3;
			.cl {
				display: inline-block;
				margin: 0 0.6%;
			}
			.ss {
				font-size: calc(54vw/12);
			}
			.ls {
				display: inline-block;
				margin: 0 0 0 0.5%;
				font-size: calc(87vw/12);
			}
			.w_sec {
				font-size: calc(83vw/12);

			}

			&:before {
				bottom: 0;
				left: 0;
				background-size: 100% 100%;
				width: 15.346%;
				height: 61.2%;
			}
			&:after {
				bottom: 0;
				right: 0;
				background-size: 100% 100%;
				width: 15.346%;
				height: 61.2%;
			}
		}
		.wh_item {
			margin: 5.5% 0 0;
			li {
				width: 32.33%;
				margin: 1.5% 0 0 1.5%;

				&:nth-child(3n+1){
					margin: 1.5% 0 0 0;
				}
				&:nth-child(3){
					margin: 0 0 0 1.5%;
				}
				&:nth-child(2){
					margin: 0 0 0 1.5%;
				}
				&:nth-child(1){
					margin: 0;
				}
			}
		}
		.wh_list {
			margin: 5.5% 0 0;
			li {
			}
		}
		.w_fig {
			display: block;
			max-width: 680px;
			margin: 40px auto 0;
			line-height: 0;
		}
		.w_mt {
			margin: 50px 0 0;
			font-size: 34px;
			font-weight: bold;
			letter-spacing: 1.3px;
		}
		.w_img {
			width: 73.5%;
			margin: 6% auto 0;
		}

		.m_box {
			margin: 5% auto 0;
			border-radius: 6px;
			li {
				width: 47%;
				padding: 0 0 5.5%;
				margin: 5% 0 0 5.55%;
				border-radius: 10px;
				&:first-child {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 5.55%;
				}
				&:nth-child(3) {
					margin: 5% 0 0 0;
				}
				.icon {
					margin: 0 auto;
					line-height: 0;
					img {
						border-radius: 9px 9px 0 0;
					}
				}

				.c_it {
					margin: 8% 0 0;
					font-size: calc(42vw/12);
					line-height: 1.5;
					letter-spacing: 0.8px;
					.h_ss {
						font-size: calc(48vw/12);
					}
				}
			}
		}
	}

	.tb_h {
		margin: 6.5% 0 0;
		font-size: calc(59vw/12);
		font-weight: 800;
		line-height: 1.4;
		.cl {
			color: #ddaa00;
		}
	}
	.tb {
		max-width: 680px;
		width: 100%;
		border: 1px solid #5f5f5f;
		margin: 6.5% auto 0;
		border-radius: 5px;

		th {
			border-right: 1px solid #5f5f5f;
			border-bottom: 1px solid #5f5f5f;
			line-height: 1;
			box-sizing: border-box;
			.pr {
				width: 86.2%;
			}

			&:nth-child(1) {
				max-width: 300px;
				width: 45%;
				padding: 4% 0 4% 3.8%;
				box-sizing: border-box;
				font-size: calc(31vw/12);
				letter-spacing: 1.1px;
			}
			&:nth-child(2) {
				max-width: 190px;
				width: 27.5%;
				max-height: 100%;
				padding: 3% 0;
				line-height: 1.4;
				font-size: calc(32vw/12);
				font-weight: normal;
				border-right: 1px solid #5f5f5f;
				border-bottom: 1px solid #5f5f5f;
				box-sizing: border-box;
			}
			&:nth-child(3) {
				max-width: 190px;
				width: 27.5%;
				padding: 3% 0 3% 0;
				line-height: 0.5;
				font-size: calc(34vw/12);
				font-weight: normal;
				border-bottom: 1px solid #5f5f5f;
				box-sizing: border-box;
			}

		}
		.f_lt {
			border-radius: 5px 0 0 0;
		}
		.f_rt {
			border-radius: 0 5px 0 0;
		}
		.f_lb {
			border-radius: 0 0 0 5px;
		}
		.f_rb {
			border-radius: 0 0 5px 0;
		}
		.ll {
			font-size: calc(37vw/12)!important;
			.ss {
				font-size: calc(28vw/12)!important;
			}
		}
		td {
			border-bottom: 1px solid #5f5f5f;
			img {
				width: 17%;
			}

			&:nth-child(2) {
				padding: 3.5% 0;
				border-right: 1px solid #5f5f5f;
			}
			&:nth-child(3) {
				padding: 3.5% 0;
			}
		}

		.line {
			img {
				width: 15%;
			}
		}
	}

	.c_top {
		margin: 8% 0 0;
		a {
			display: inline-block;
			font-size: calc(50vw/12);
			letter-spacing: 0.8px;
		}
	}

	.c_title {
		width: 82.3%;
		margin: 4.4% auto 0;
	}

	.c_h {
		padding: 0 0 0 3%;
		font-size: calc(49vw/12);
		border-left: 8px solid #ff3f91;
		letter-spacing: 0.8px;
		line-height: 1.3;
	}

	header {
		.h_l {
			padding: 1.3% 0 1.3% 2.2%;
			span {
				display: inline-block;
				max-width: 18.8%;
			}
		}
		.h_a {
			position: relative;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/08e325a779cf3e15b560022b4fbbc9a5_62e683683b8d2bf6bfb0771318f47899.jpg) center center repeat;
			background-size: cover;
			height: auto;
			padding: 7.8% 0 7.9%;
			margin: 0 auto;
			box-sizing: border-box;

			.h_m {
				width: 70.2%;
				margin: 0 auto 0;
			}
		}
	}


	.h_text {
		padding: 1% 0 1.1%;
		.h_head {
			font-size: calc(50vw/12);
			letter-spacing: 1.2px;

			.num {
				display: inline-block;
				margin: 0 0.3%;
				font-size: calc(53vw/12);
			}
			.ls {
				font-size: calc(38vw/12);
			}
		}
	}

	.c_every {
		display: inline-block;
		padding: 0 5% 0 5.5%;
		letter-spacing: 1.3px;
		font-size: calc(55vw/12);
		font-weight: 800;

		&:before {
			top: 16%;
			background-size: 100% 100%;
			width: 6.23%;
			height: 81.15%;
		}
		&:after {
			top: 16%;
			background-size: 100% 100%;
			width: 6.23%;
			height: 81.15%;
		}
		.ss {
			font-size: calc(52vw/12);
		}
		.num {
			font-size: calc(83vw/12);
			font-weight: 900;
		}
	}

	.c_first {
		display: inline-block;
		padding: 0 4.4% 0 4.7%;
		margin: 6.5% 0 0;
		letter-spacing: 1.2px;
		font-size: calc(50vw/12);

		&:before {
			top: 15%;
			background-size: 100% 100%;
			width: 5.42%;
			height: 89.59%;
		}
		&:after {
			top: 15%;
			background-size: 100% 100%;
			width: 5.42%;
			height: 89.59%;
		}
		span {
			font-size: calc(75vw/12);
			font-weight: 700;
		}
	}

	.c_f_t {
		margin: 3.6% 0 0;
		font-size: calc(41vw/12);
		line-height: 1.7;
	}

	.c_hh {
		margin: 6% 0 0;
		font-size: calc(50vw/12);
		line-height: 1.5;
		letter-spacing: 1.1px;

		span {
			font-size: calc(54vw/12);
		}
	}
	.c_hh_se {
		margin: 6.5% 0 0;
		font-size: calc(85vw/12);
		line-height: 1.5;
		letter-spacing: 1.8px;

		.num {
			font-size: calc(89vw/12);
		}
		.ss {
			font-size: calc(66vw/12);
		}
	}

	.w_fe_se {
		margin: 6% 0 0;
		font-size: calc(75vw/12);
		line-height: 1.2;
		letter-spacing: 1.1px;
		white-space: nowrap;
		.sin {
			display: inline-block;
			margin: 0 0 1%;
			font-size: calc(57vw/12);
		}
		.num {
			font-size: calc(79vw/12);
		}
		.dot {
			display: inline-block;
			margin: 0 -3%;
			font-size: calc(105vw/12);
		}

		.fe_sec {
			font-size: calc(64vw/12);
			font-weight: 800;
			letter-spacing: 1.2px;
			.bb_l {
				display: inline-block;
				border-bottom: 5px solid #ddaa00;
				line-height: 1.2;
			}
		}


		.kome1 {
			font-size: calc(29vw/12);
		}
		.kome2 {
			font-size: calc(26vw/12);
		}
	}

	.fe_th {
		display: inline-block;
		margin: 8% 0 0;
		font-size: calc(64vw/12);
		font-weight: 800;
		letter-spacing: 1.2px;
		.bb_l {
			display: inline-block;
			border-bottom: 4px solid #ddaa00;
			line-height: 0.9;
		}
		.kome2 {
			font-size: calc(26vw/12);
		}
	}
	.fe_fi {
		line-height: 1.45;
		.kome2 {
			font-size: calc(26vw/12);
		}
		.sec {
			font-size: calc(72vw/12);
		}
	}


	.c_cau {
		margin: 4.5% 0 0;
		font-size: calc(28vw/12);
		line-height: 1.3;
	}
	.c_cau_co {
		margin: 4.5% 0 6.5%;
	}

	.contents {
		.wrap {
			max-width: 100%;
			margin: 0 4%;
		}
		.wrap_c {
			max-width: 680px;
			margin: 0 4.5%;
		}

		.c_one {
			display: inline-block;
			padding: 2.3% 5.3%;
			font-size: calc(61vw/12);
			letter-spacing: 1.8px;
			&:before {
				border: 9px solid transparent;
				border-top-color: #ff3f91;
				top: 100%;
				left: 50%;
				margin-left: -8px;
			}
			span {
				display: inline-block;
				margin: 0 0 0 0.2%;
				font-size: calc(64vw/12);
			}
		}

		.c_head {
			margin: 6% 0 0;
			font-size: calc(104vw/12);
			font-weight: 800;
			letter-spacing: 3.2px;
			.num {
				font-size: calc(114vw/12);
			}
			.ls {
				font-size: calc(114vw/12);
			}
		}
		.c_item {
			margin: 5.5% 0 0;

			li {
				width: 32.33%;
				margin: 1.5% 0 0 1.5%;
				border-radius: 8px;
				&:nth-child(3n+1) {
					margin: 1.5% 0 0 0;
				}
				&:nth-child(3) {
					margin: 0 0 0 1.5%;
				}
				&:nth-child(2) {
					margin: 0 0 0 1.5%;
				}
				&:nth-child(1) {
					margin: 0;
				}
			}
		}
		.ci_text {
			margin: 5.8% 0 0;
			font-size: calc(39vw/12);
			line-height: 1.55;
		}

		.c_htext {
			margin: 2.2% 0 0;
			font-size: calc(55vw/12);
			font-weight: 600;
			line-height: 1.5;
			letter-spacing: 1.2px;
			.num {
				font-size: calc(68vw/12);
			}
		}

		.c_tdl {
			li {
				&:nth-child(1) {
					width: 40%;
				}
				&:nth-child(2) {
					padding: 1.5% 0 0;
					font-size: calc(39vw/12);
					letter-spacing: 0.8px;
					.more {
						a {
							font-weight: 700;
							font-size: calc(50vw/12);
						}
					}
				}
			}
		}
		.c_list {
			margin: 5.5% 0 0;
			dt {
				font-size: calc(40vw/12);
				line-height: 1.6;
				span {
					display: inline-block;
					padding: 1.3% 3.4% 1.85%;
					margin: 0 0 2.8%;
					font-size: calc(34vw/12);
					border-radius: 4px;
					letter-spacing: 0.8px;
					line-height: 1;
				}
			}
		}

		.li_se {
			margin: 6.5% 0 0;
		}

		.and_more {
			margin: 6% 0 0;
			a {
				display: inline-block;
				font-weight: 700;
				font-size: calc(50vw/12);
			}
		}

		.pre {
			width: 69.7%;
			margin: 0 auto;
		}
		.pre_h {
			margin: 5.2% 0 0px;
			font-size: calc(62vw/12);
			font-weight: 700;
			letter-spacing: 0.9px;
		}
		.pre_item {
			margin: 6.5% 0 8%;
		}
		.line_dot {
			height: 3px;
			background-size: contain;
			margin: 6.5% 0 0;
		}
		.line_list {
			height: 3px;
			background-size: contain;
			margin: 6.5% 0 0;
		}
	}

	.other {
		.o_bg {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/d7cab79572b8b26abb3604d6588e8b56_1c66eddf96fdeee960198815573f5e9b.png) 0 0 no-repeat;
			background-size: cover;
			max-width: 100%;
			padding: 5% 4% 4.5%;
			box-sizing: border-box;
		}

		.wrap {
			max-width: 100%;
			padding: 5% 0 6.8%;
			margin: 0 auto;
			border-radius: 10px;
			box-sizing: border-box;
		}
		.co_img {
			width: 78.8%;
			margin: 3.5% auto 0;
		}
	}
	.saison {
		margin: 7.2% 0 0;
		dd {
			border: 1.5px solid #565656;
			width: 55.6%;
		}
		dt {
			width: 40.1%;
			margin: 0 0 0 4.3%;
			line-height: 1.78;
			font-size: calc(37vw/12);
			letter-spacing: 1.3px;
			white-space: nowrap;

			.uline {
				display: inline-block;
				line-height: 1.5;
				border-bottom: 1px solid #000;
			}
		}
	}

	.t_cau {
		margin: 3% 0 0;
		font-size: calc(31vw/12);
		line-height: 2.1;
	}

	.cp {
		padding: 8% 0 8%;
		.wrap {
			padding: 0 4.5%;
		}
	}

	.cp_h {
		padding: 0 0 0 3%;
		font-size: calc(49vw/12);
		border-left: 8px solid #ddaa03;
		letter-spacing: 0.8px;
		line-height: 1.3;
	}

	.t_top {
		padding: 0 0 8%;
		margin: 8% 0 0;
		a {
			display: inline-block;
			font-size: calc(48vw/12);
			letter-spacing: 0.8px;
		}
	}

	aside {
		.wrap {
			padding: 6.5% 4.5% 6.5%;
			margin: 0;
		}
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(44vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(37vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(31vw/12);
				}
				.f_item {
					margin: 2.3% 0 2% 4.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(32vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
			.f_last {
				margin: 3% 0 0 0;
				li {
					padding: 0 0 0 4%;
					margin: 0.8% 0 0;
					line-height: 1.4;
					font-size: calc(38vw/12);
				}
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(32vw/12);
		}
	}


	footer {
		.wrap {
			max-width: 100%;
			margin: 0 4.5%;
			padding: 7.5% 0 10%;
			border-top: 1px solid #000;
		}
		.copy {
			li {
				margin: 0.7% 0 0 0;
				line-height: 1.3;
				font-size: calc(26vw/12);
			}
		}

		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 2% 0 0;
				a {
					padding: 0 13px 0 0;
					font-size: calc(25vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		.f_dot {
			margin: 15px 0 0 35px;
			li {
				position: relative;
				padding: 0 0 0 38px;
				margin: 8px 0 0;
				line-height: 1.4;
				font-size: 19px;
				&:before {
					content: '・';
					position: absolute;
					top: 14px;
					left: 20px;
					font-size: 19px;
					line-height: 0;
				}
			}
		}

		small {
			margin: 5% 0 0;
			font-size: calc(28vw/12);
			letter-spacing: 0.8px;
		}
	}

	// .hana { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 1.8s 1 forwards; }
}


@media screen and (max-width: 480px) {

	.line_w {
		max-width: 100%;
		width: 100%;
		.wrap_w {
			height: 13px;
		}
	}
	.line {
		height: 2px;
		margin: 6.2% 0 0;
	}
	.pd6 {
		padding: 0 0 0 0.7% !important;
	}
	.pt50 {
		padding: 6.5% 0 0 !important;
	}
	.pb30 {
		padding: 0 0 5% !important;
	}

	.mb10 {
		margin: 0 0 2% 0 !important;
	}
	.mn {
		margin: 0 !important;
	}

	.mt10 {
		margin: 1.8% 0 0 !important;
	}

	.mt20 {
		margin: 3% 0 0 !important;
	}
	.mt30 {
		margin: 5% 0 0 !important;
	}
	.mt40 {
		margin: 6% 0 0 !important;
	}
	.mt50 {
		margin: 6.2% 0 0 !important;
	}
	.mt60 {
		margin: 8% 0 0 !important;
	}
	.mt70 {
		margin: 9% 0 0 !important;
	}
	.mt80 {
		margin: 10% 0 0 !important;
	}

	.mat20 {
		margin: 3.1% auto 0 !important;
	}
	.mat50 {
		margin: 6.5% auto 0 !important;
	}
	.mat70 {
		margin: 9% auto 0 !important;
	}

	.ssp {
		display: none;
	}

	.pre_w {
		max-width: none;
		width: 85%;
		margin: 0 auto;
	}

	.pre_btn {
		a {
			padding: 3.9% 0 4.2%;
			border-radius: 4px;
			font-size: calc(52vw/12);
			letter-spacing: 0.8px;
			span {
				font-size: calc(55vw/12);
			}
		}
	}

	.tb {
		margin: 6.5% auto 0;
		border-radius: 4px;

		th {
			.pr {
				width: 88.2%;
			}

			&:nth-child(1) {
				width: 47%;
				padding: 4% 0 4% 3.8%;
				box-sizing: border-box;
				font-size: calc(32vw/12);
				letter-spacing: 0.3px;
			}
			&:nth-child(2) {
				max-width: 190px;
				width: 26.5%;
				max-height: 100%;
				padding: 3% 0;
				line-height: 1.4;
				font-size: calc(32vw/12);
				box-sizing: border-box;
			}
			&:nth-child(3) {
				max-width: 190px;
				width: 26.5%;
				padding: 3% 0 3% 0;
				line-height: 0.5;
				font-size: calc(34vw/12);
				font-weight: normal;
				box-sizing: border-box;
			}

		}
		.f_lt {
			border-radius: 4px 0 0 0;
		}
		.f_rt {
			border-radius: 0 4px 0 0;
		}
		.f_lb {
			border-radius: 0 0 0 4px;
		}
		.f_rb {
			border-radius: 0 0 4px 0;
		}
		.ll {
			font-size: calc(38vw/12)!important;
			.ss {
				font-size: calc(29vw/12)!important;
			}
		}
		td {
			img {
				width: 18%;
			}

			&:nth-child(2) {
				padding: 3.5% 0;
			}
			&:nth-child(3) {
				padding: 3.5% 0;
			}
		}
		.line {
			img {
				width: 16%;
				padding: 0 0 4%;
			}
		}
	}

	.co_bg {
		background-size: cover;
		padding: 5% 2.8% 6%;
		.co_wrap {
			padding: 6.5% 0 7.5%;
			border-radius: 7px;
		}
		.co_img {
			width: 80.2%;
			margin: 5% auto 0;
		}
		.co_img02 {
			width: 94.8%;
			margin: 5% auto 0;
		}

		.conf {
			width: 86%;
			margin: 0 auto;
			.co_h {
				margin: 6% 0 0;
				font-size: calc(55vw/12);
				font-weight: 700;
			}
			.cc_list {
				margin: 5% 0 0;
				li {
					padding: 0 0 0 7.4%;
					margin: 1.5% 0 0;
					line-height: 1.65;
					font-size: calc(40vw/12);
					letter-spacing: 0.6px;
					&:before {
						content: '';
						content: counter(count);
						position: absolute;
						top: 2px;
						left: 0;
						width: 5%;
						border-radius: 50%;
						font-size: calc(32vw/12);
					}
				}
			}
			.co_line {
				height: 2px;
				margin: 4.5% 0 0;
			}

			.co_data {
				margin: 6.3% 0 0;
				font-size: calc(30vw/12);
				letter-spacing: 0.7px;
				line-height: 1.5;
				span {
					font-size: calc(33vw/12);
				}
			}
		}
	}
	.whats {
		.wrap {
			padding: 0 4.5%;
		}

		.w_h {
			font-weight: 800;
			font-size: calc(58vw/12);
			letter-spacing: 1.1px;
		}

		.w_head {
			position: relative;
			display: inline-block;
			padding: 0 13%;
			margin: 6.5% 0 0;
			font-size: calc(77vw/12);
			line-height: 1.3;
			.cl {
				display: inline-block;
				margin: 0 0.6%;
			}
			.ss {
				font-size: calc(56vw/12);
			}
			.ls {
				display: inline-block;
				margin: 0 0 0 0.5%;
				font-size: calc(89vw/12);
			}
			.w_sec {
				font-size: calc(85vw/12);
			}

			&:before {
				width: 15.575%;
				height: 63.1%;
			}
			&:after {
				width: 15.575%;
				height: 63.1%;
			}
		}
		.wh_item {
			margin: 5.5% 0 0;
			li {
				width: 32.33%;
				margin: 1.5% 0 0 1.5%;

				&:nth-child(3n+1){
					margin: 1.5% 0 0 0;
				}
				&:nth-child(3){
					margin: 0 0 0 1.5%;
				}
				&:nth-child(2){
					margin: 0 0 0 1.5%;
				}
				&:nth-child(1){
					margin: 0;
				}
			}
		}
		.wh_list {
			margin: 5.5% 0 0;
			li {
			}
		}
		.w_fig {
			display: block;
			max-width: 680px;
			margin: 40px auto 0;
			line-height: 0;
		}
		.w_mt {
			margin: 50px 0 0;
			font-size: 34px;
			font-weight: bold;
			letter-spacing: 1.3px;
		}
		.w_img {
			width: 75.5%;
			margin: 6% auto 0;
		}

		.m_box {
			margin: 5% auto 0;
			border-radius: 6px;
			li {
				width: 47%;
				padding: 0 0 5.5%;
				margin: 5% 0 0 5.55%;
				border-radius: 6px;
				&:first-child {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 5.55%;
				}
				&:nth-child(3) {
					margin: 5% 0 0 0;
				}
				.icon {
					margin: 0 auto;
					line-height: 0;
					img {
						border-radius: 5px 5px 0 0;
					}
				}

				.c_it {
					margin: 8% 0 0;
					font-size: calc(42vw/12);
					line-height: 1.5;
					letter-spacing: 0.8px;
					.h_ss {
						font-size: calc(48vw/12);
					}
				}
			}
		}
	}

	.tb_h {
		margin: 6.5% 0 0;
		font-size: calc(61vw/12);
		font-weight: 800;
		line-height: 1.4;
	}

	.c_top {
		margin: 8.5% 0 0;
		a {
			display: inline-block;
			font-size: calc(50vw/12);
			letter-spacing: 0.5px;
		}
	}
	.c_title {
		width: 84.3%;
		margin: 4.2% auto 0;
	}

	.c_h {
		padding: 0 0 0 3%;
		font-size: calc(54vw/12);
		border-left: 5.5px solid #ff3f91;
		letter-spacing: 0.5px;
		line-height: 1.3;
	}

	header {
		.h_l {
			padding: 1.3% 0 1.3% 2.2%;
			span {
				display: inline-block;
				max-width: 19.2%;
			}
		}
		.h_a {
			position: relative;
			padding: 7.9% 0 8.1%;
			.h_m {
				width: 72.2%;
			}
		}
	}

	.h_text {
		padding: 1% 0 1.1%;
		.h_head {
			font-size: calc(52vw/12);
			letter-spacing: 0.7px;

			.num {
				display: inline-block;
				margin: 0 0.3%;
				font-size: calc(55vw/12);
			}
			.ls {
				font-size: calc(40vw/12);
			}
		}
	}

	.c_hh {
		margin: 6% 0 0;
		font-size: calc(54vw/12);
		line-height: 1.5;
		letter-spacing: 0.7px;

		span {
			font-size: calc(56vw/12);
		}
	}
	.c_hh_se {
		margin: 6.5% 0 0;
		font-size: calc(89vw/12);
		line-height: 1.5;
		letter-spacing: 0.8px;

		.num {
			font-size: calc(93vw/12);
		}
		.ss {
			font-size: calc(70vw/12);
		}
	}

	.c_every {
		display: inline-block;
		padding: 0 5% 0 5.5%;
		letter-spacing: 1.3px;
		font-size: calc(57vw/12);
		font-weight: 800;

		&:before {
			top: 16%;
			background-size: 100% 100%;
			width: 6.23%;
			height: 86.5%;
		}
		&:after {
			top: 16%;
			background-size: 100% 100%;
			width: 6.23%;
			height: 86.15%;
		}
		.ss {
			font-size: calc(54vw/12);
		}
		.num {
			font-size: calc(86vw/12);
			font-weight: 900;
		}
	}

	.c_first {
		display: inline-block;
		padding: 0 4.5% 0 4.8%;
		margin: 6.5% 0 0;
		letter-spacing: 0.8px;
		font-size: calc(52vw/12);

		&:before {
			top: 15%;
			background-size: 100% 100%;
			width: 5.42%;
			height: 94.59%;
		}
		&:after {
			top: 15%;
			background-size: 100% 100%;
			width: 5.42%;
			height: 94.59%;
		}
		span {
			font-size: calc(77vw/12);
			font-weight: 700;
		}
	}

	.c_f_t {
		margin: 3.6% 0 0;
		font-size: calc(43vw/12);
		line-height: 1.7;
	}


	.w_fe_se {
		margin: 6% 0 0;
		font-size: calc(77vw/12);
		line-height: 1.2;
		letter-spacing: 1.1px;
		white-space: nowrap;
		.sin {
			display: inline-block;
			margin: 0 0 1%;
			font-size: calc(58vw/12);
		}
		.num {
			font-size: calc(80vw/12);
		}
		.dot {
			display: inline-block;
			margin: 0 -2.5%;
			font-size: calc(105vw/12);
		}

		.fe_sec {
			font-size: calc(64vw/12);
			font-weight: 800;
			letter-spacing: 0.8px;
			.bb_l {
				display: inline-block;
				border-bottom: 3px solid #ddaa00;
				line-height: 1.2;
			}
		}


		.kome1 {
			font-size: calc(29vw/12);
		}
		.kome2 {
			font-size: calc(26vw/12);
		}
	}

	.fe_th {
		display: inline-block;
		margin: 8% 0 0;
		font-size: calc(64vw/12);
		font-weight: 800;
		letter-spacing: 1.2px;
		.bb_l {
			display: inline-block;
			border-bottom: 4px solid #ddaa00;
			line-height: 0.9;
		}
		.kome2 {
			font-size: calc(26vw/12);
		}
	}
	.fe_fi {
		line-height: 1.45;
		.kome2 {
			font-size: calc(26vw/12);
		}
		.sec {
			font-size: calc(72vw/12);
		}
	}


	.c_cau {
		margin: 4.5% 0 0;
		font-size: calc(30vw/12);
		letter-spacing: 0.6px;
		line-height: 1.3;
	}
	.c_cau_co {
		margin: 4.5% 0 6.5%;
	}

	.contents {
		.wrap {
			max-width: 100%;
			margin: 0 4%;
		}
		.wrap_c {
			max-width: 680px;
			margin: 0 4.5%;
		}

		.c_one {
			display: inline-block;
			padding: 2.3% 5.3%;
			font-size: calc(63vw/12);
			letter-spacing: 1.2px;
			&:before {
				border: 6px solid transparent;
				border-top-color: #ff3f91;
				top: 99%;
				left: 50%;
				margin-left: -5px;
			}
			span {
				display: inline-block;
				margin: 0 0 0 0.2%;
				font-size: calc(66vw/12);
			}
		}

		.c_head {
			margin: 6% 0 0;
			font-size: calc(107vw/12);
			font-weight: 800;
			letter-spacing: 3.2px;
			.num {
				font-size: calc(117vw/12);
			}
			.ls {
				font-size: calc(117vw/12);
			}
		}
		.c_item {
			margin: 5% 0 0;

			li {
				width: 32.33%;
				margin: 1.5% 0 0 1.5%;
				border-radius: 8px;
				&:nth-child(3n+1) {
					margin: 1.5% 0 0 0;
				}
				&:nth-child(3) {
					margin: 0 0 0 1.5%;
				}
				&:nth-child(2) {
					margin: 0 0 0 1.5%;
				}
				&:nth-child(1) {
					margin: 0;
				}
			}
		}
		.ci_text {
			margin: 5.8% 0 0;
			font-size: calc(41vw/12);
			line-height: 1.55;
		}

		.c_htext {
			margin: 2.2% 0 0;
			font-size: calc(57vw/12);
			font-weight: 600;
			line-height: 1.5;
			letter-spacing: 0.8px;
			.num {
				font-size: calc(70vw/12);
			}
		}

		.c_tdl {
			li {
				&:nth-child(1) {
					width: 40%;
				}
				&:nth-child(2) {
					padding: 1.5% 0 0;
					font-size: calc(41vw/12);
					letter-spacing: 0.6px;
					.more {
						a {
							font-weight: 700;
							font-size: calc(52vw/12);
						}
					}
				}
			}
		}
		.c_list {
			margin: 5.5% 0 0;
			dt {
				font-size: calc(42vw/12);
				line-height: 1.6;
				span {
					display: inline-block;
					padding: 1.3% 3.4% 1.85%;
					margin: 0 0 2.4%;
					font-size: calc(36vw/12);
					border-radius: 3px;
					letter-spacing: 0.5px;
				}
			}
		}

		.li_se {
			margin: 6.5% 0 0;
		}

		.and_more {
			margin: 6% 0 0;
			a {
				display: inline-block;
				font-weight: 700;
				font-size: 32px;
				color: #000;
			}
		}

		.pre {
			width: 71.7%;
			margin: 0 auto;
		}
		.pre_h {
			margin: 5.2% 0 0px;
			font-size: calc(64vw/12);
			font-weight: 700;
			letter-spacing: 0.6px;
		}
		.pre_item {
			margin: 6.2% 0 7.8%;
		}
		.line_dot {
			height: 2px;
			margin: 6.2% 0 0;
		}
		.line_list {
			height: 2px;
			margin: 6.2% 0 0;
		}
	}

	.other {
		.o_bg {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/d7cab79572b8b26abb3604d6588e8b56_1c66eddf96fdeee960198815573f5e9b.png) 0 0 no-repeat;
			background-size: cover;
			max-width: 100%;
			padding: 5% 4% 4.5%;
			box-sizing: border-box;
		}

		.wrap {
			max-width: 100%;
			padding: 5% 0 6.8%;
			margin: 0 auto;
			border-radius: 10px;
			box-sizing: border-box;
		}
		.co_img {
			width: 80.8%;
			margin: 3.5% auto 0;
		}
	}
	.saison {
		margin: 7.2% 0 0;
		dd {
			border: 1px solid #565656;
			width: 55.6%;
		}
		dt {
			width: 40.1%;
			margin: 0 0 0 4.3%;
			line-height: 1.78;
			font-size: calc(37vw/12);
			letter-spacing: 1.3px;
			white-space: nowrap;

			.uline {
				display: inline-block;
				line-height: 1.5;
				border-bottom: 1px solid #000;
			}
		}
	}

	.t_cau {
		margin: 3% 0 0;
		font-size: calc(31vw/12);
		line-height: 2.1;
	}

	.cp {
		padding: 8% 0 8%;
		.wrap {
			padding: 0 4.5%;
		}
	}

	.cp_h {
		padding: 0 0 0 3%;
		font-size: calc(49vw/12);
		border-left: 8px solid #ddaa03;
		letter-spacing: 0.8px;
		line-height: 1.3;
	}

	.t_top {
		padding: 0 0 8%;
		margin: 8% 0 0;
		a {
			display: inline-block;
			font-size: calc(48vw/12);
			letter-spacing: 0.8px;
		}
	}

	aside {
		.wrap {
			padding: 6.5% 4.5% 6.5%;
		}
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(48vw/12);
				letter-spacing: 0.5px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(41vw/12);
				line-height: 1.45;
				letter-spacing: 0.5px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(35vw/12);
				}
				.f_item {
					margin: 2.3% 0 2% 4.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(36vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
			.f_last {
				margin: 3% 0 0 0;
				li {
					padding: 0 0 0 4%;
					margin: 0.8% 0 0;
					line-height: 1.4;
					font-size: calc(42vw/12);
				}
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(36vw/12);
		}
	}

	footer {
		.wrap {
			max-width: 100%;
			margin: 0 4.5%;
			padding: 7.5% 0 10%;
		}
		.copy {
			li {
				margin: 0.7% 0 0 0;
				line-height: 1.3;
				font-size: calc(26vw/12);
			}
		}

		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 2% 0 0;
				a {
					padding: 0 13px 0 0;
					font-size: calc(25vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		.f_dot {
			margin: 15px 0 0 35px;
			li {
				position: relative;
				padding: 0 0 0 38px;
				margin: 8px 0 0;
				line-height: 1.4;
				font-size: 19px;
				&:before {
					content: '・';
					position: absolute;
					top: 14px;
					left: 20px;
					font-size: 19px;
					line-height: 0;
				}
			}
		}

		small {
			margin: 5% 0 0;
			font-size: calc(28vw/12);
			letter-spacing: 0.8px;
		}
	}
}



