
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}



header {
	.header_logo {
		max-width: 154px;
		padding: 12px 0 14px 15px;
		line-height: 0;
	}
	.header_inner {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/527439/949c6a8a405aa650617eb948ab710011_02f910401be683acfe95989b0bfeec84.png) 0 0 no-repeat;
		background-size: cover;
		padding: 75px 0 75px;
	}
	.header_heading {
		max-width: 567px;
		margin: 0 auto 0;
	}
	.header_sub {
		max-width: 439px;
		margin: 30px auto 0;
	}
	.header_title {
		max-width: 654px;
		margin: 35px auto 0;
	}
}

.contents {
	.wrap {
		max-width: 768px;
		margin: 0 auto;

	}
	.c_h {
		padding: 0 0 0 12px;
		margin: 49px 0 0;
		line-height: 1.4;
		border-left: 4px solid #50c401;
		font-size: 36px;
	}
	.c_box {
		background: #232323;
		padding: 45px 25px 35px;
		margin: 25px 0 0;
		border-radius: 8px;

		figure {
			max-width: 440px;
			margin: 0 auto;
		}
		.c_text_sub {
			font-size: 28px;
			font-weight: normal;
			color: #fff;
		}
	}
	.c_box_light {
		padding: 25px 25px 28px;
	}
	.c_heading {
		margin: 23px 0 0;
		font-size: 32px;
		line-height: 1.35;
		color: #fff;
	}

	.c_item {
		margin: 9px 0 0;
		li {
			margin: 4px 0 0;
			font-size: 26px;
			line-height: 1.3;
			color: #ababab;

			&:first-child {
				margin: 0;
			}
		}
		.last_list {
			margin: 12px 0 0;
			letter-spacing: 1.2px;
			font-size: 20px;
		}
	}
	.dott {
		li {
			position: relative;
			padding: 0 0 0 30px;
			&:before {
				content: '・';
				position: absolute;
				top: -20px;
				left: -20px;
				font-size: 60px;
			}
		}
	}
	.c_text {
		margin: 17px 0 0;
		font-size: 28px;
		line-height: 1.3;
		color: #ababab;
	}

	.c_btn {
		margin: 25px 0 0;
		a {
			display: block;
			background: #51c300;
			padding: 20px 0;
			font-size: 28px;
			font-weight: bold;
			text-align: center;
			border-radius: 4px;
			color: #fff;
		}
	}

	.d_text {
		margin: 15px 0 0;
		line-height: 1.3;
		letter-spacing: 1.2px;
		font-size: 28px;
		color: #ababab;
		.icon {
			display: inline-block;
			vertical-align: top;
			font-size: 16px;
		}
		.mail {
			display: inline-block;
			padding: 0 8px 0 0;
			text-decoration: underline;
			color: #fff;
		}
	}
	.d_caution {
		margin: 12px 0 0;
		font-size: 20px;
		line-height: 1.3;
		color: #ababab;
	}
	.d_item {
		margin: 25px 0 0;
		li {
			margin: 12px 0 0;
			font-size: 20px;
			line-height: 1.2;
			color: #ababab;

			&:first-child {
				margin: 0;
			}
		}
	}
	.caution_item {
		margin: 20px 0 0;
		li {
			position: relative;
			margin: 10px 0 0;
			line-height: 1.3;
			font-size: 26px;
			color: #ababab;
		}
	}
	.c_dott {
		li {
			position: relative;
			padding: 0 0 0 30px;
			&:before {
				content: '・';
				position: absolute;
				top: -25px;
				left: -20px;
				font-size: 60px;
			}
		}
	}

	.btn {
		margin: 55px 0 0;
		a {
			position: relative;
			display: block;
			background: #232323;
			padding: 25px 25px 25px;
			border-radius: 6px;
			font-weight: bold;
			font-size: 32px;
			line-height: 1.4;
			color: #fff;
			span {
				font-size: 28px;
				color: #50c401;
			}
			&:after {
				content: '';
				position: absolute;
				top: 40%;
				right: 2.5%;
				background: url(https://bit.ly/2PRT9Ld) 0 0 no-repeat;
				background-size: 19px 34px;
				width: 19px;
				height: 34px;
			}
		}
	}

	footer {
		padding: 40px 0 50px;
		margin: 60px 0 0;
		border-top: 1px solid #797979;
		small {
			display: block;
			text-align: center;
			font-size: 18px;
			color: #ababab;
		}
	}

}



@media screen and (max-width: 768px) {
	header {
		.header_logo {
			padding: 1.5% 0 1.5% 2.2%;
			line-height: 0;
			img {
				width: 80%;
			}
		}
		.header_inner {
			padding: 10.5% 0 11%;
		}
		.header_heading {
			width: 83%;
		}
		.header_title {
			margin: 4.5% auto 0;
			width: 83%;
		}
	}
}
@media screen and (max-width: 480px) {
	header {
		.header_logo {
			padding: 1.5% 0 1.5% 2.2%;
			line-height: 0;
			img {
				width: 45%;
			}
		}
		.header_inner {
			padding: 11% 0 11%;
		}
		.header_heading {
			width: 84%;
		}
		.header_title {
			margin: 4% auto 0;
			width: 84%;
		}
	}
}

@media screen and (max-width: 414px) {
	header {
		.header_logo {
			img {
				width: 40%;
			}
		}
	}
}


@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }
.ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
.ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4s 1 forwards; }
.ani_list04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.5s 1 forwards; }

