
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}



header {
	.header_logo {
		max-width: 191px;
		padding: 12px 0 12px 4%;
		line-height: 0;
	}
	.header_inner {
		background: url(https://goo.gl/FXyFHa) 0 0 no-repeat;
		background-size: cover;
		padding: 54px 0 48px;
	}
	.header_heading {
		max-width: 552px;
		margin: 0 auto 0;
	}
	.header_title {
		max-width: 556px;
		margin: 21px auto 0;
	}
}


@media screen and (max-width: 768px) {
	header {
		.header_logo {
			padding: 1.5% 0 1.5% 2.2%;
			line-height: 0;
			img {
				width: 70%;
			}
		}
		.header_inner {
			padding: 6.9% 0 7.6%;
		}
		.header_heading {
			width: 80%;
		}
		.header_title {
			margin: 1.5% auto 0;
			width: 80%;
		}
	}
}
@media screen and (max-width: 480px) {
	header {
		.header_logo {
			padding: 1.5% 0 1.5% 2.2%;
			line-height: 0;
			img {
				width: 45%;
			}
		}
		.header_inner {
			padding: 7.2% 0 7%;
		}
		.header_heading {
			width: 78%;
		}
		.header_title {
			margin: 1.4% auto 0;
			width: 78%;
		}
	}
}

@media screen and (max-width: 414px) {
	header {
		.header_logo {
			img {
				width: 40%;
			}
		}
	}
}


@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }
.ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
.ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4s 1 forwards; }
.ani_list04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.5s 1 forwards; }




.contents {
	.contents_wrap {
		padding: 60px 0 0;
		margin: 0 auto;
		max-width: 768px;
	}
	.c_para {
		padding: 0;
	}
	.contents_head {
		background: #232323;
		padding: 22px 0;
		margin: 0 auto;
		font-size: 32px;
		border-radius: 40px;
		text-align: center;
		color: #50c401;
		span {
			font-size: 36px;
			letter-spacing: 2px;
		}
	}
	.contents_inner {
		margin: 60px 0 0;
		&:nth-of-type(1) {
			margin: 50px 0 0;
		}
		.contents_heading {
			padding: 0 0 0 14px;
			border-left: 4px solid #50c401;
			font-size: 33px;
			font-weight: bold;
			color: #fff;
		}
		.c_caution_h {
			padding: 0 0 0 20px;
			margin: 10px 0 -12px;
			line-height: 1.3;
			font-size: 28px;
			color: #ababab;
			span {
				font-size: 34px;
			}
		}
		.c_padd {
			margin: 68px 0 0;
		}
		.contents_text {
			padding: 0 0 0 14px;
			margin: 25px 0 0;
			font-size: 28px;
			line-height: 1.3;
			color: #ababab;
			span {
				display: inline-block;
				font-size: 15px;
				vertical-align: super;
				margin: 0 2px;
			}
		}
		.contents_c {
			padding: 0 0 0 14px;
			margin: 12px 0 0;
			font-size: 20px;
			color: #ababab;
			li {
				margin: 8px 0 0;
				line-height: 1.4;
				font-size: 21px;
				&:first-child {
					margin: 0;
				}
			}
		}
	}
	.contents_box {
		background: #232323;
		padding: 30px 20px 30px;
		margin: 40px 0 0;
		border-radius: 8px;

		&:first-of-type {
			margin: 25px 0 0;
		}
		.contents_b_i {
			td {
				width: 46%;
			}
			th {
				padding: 0 0 0 17px;
				margin: 0;
				font-size: 30px;
				font-weight: bold;
				line-height: 1.3;
				letter-spacing: 1.6px;
				text-align: left;
				vertical-align: middle;
			}
		}
		.c_t {
			margin: 15px 0 0;
			font-size: 28px;
			line-height: 1.2;
			span {
				color: #50c401;
			}
		}
		.app {
			padding: 0 0 0;
			margin: 22px 0 0;
			font-size: 26px;
			font-weight: normal;
			font-weight: bold;
		}
		.app_t {
			margin: 8px 0 0;
			font-size: 26px;
			line-height: 1.32;
			color: #ababab;
		}
		.app_item {
			overflow: hidden;
			margin: 22px 0 0;
			li {
				float: left;
				width: 32.6%;
				margin: 0 0 0 1%;
				&:first-child {
					margin: 0;
				}
			}
		}
		.app_hide {
			display: none;
		}

		.more {
			margin: 30px 0 0;
			a {
				display: block;
				background: #50c401;
				padding: 20px 0;
				font-weight: bold;
				font-size: 28px;
				border-radius: 6px;
				text-align: center;
				color: #fff;

			}
		}
	}
	.c_box {
		margin: 24px 0 0;
		text-align: left;
		li {
			background: #232323;
			padding: 20px 20px 24px;
			margin: 20px 0 0 0;
			border-radius: 8px;
			box-sizing: border-box;

			&:first-child {
				margin: 0;
			}
			.c_b_h {
				width: 100%;
				font-size: 28px;
			}
			.c_b_t {
				margin: 13px 0 0;
				font-size: 26px;
				line-height: 1.4;
				color: #ababab;

			}
		}
		.c_b_i {
			margin: 8px 0 0;
			li {
				padding: 0;
				margin: 8px 0 0;
				font-size: 20px;
				line-height: 1.3;
				color: #ababab;
				&:first-child {
					margin: 0;
				}
			}
		}
	}
	.c_caution {
		padding: 0 0 0 10px;
		margin: 20px 0 0;
		li {
			position: relative;
			padding: 0 0 0 5px;
			margin: 10px 0 0;
			line-height: 1.3;
			font-size: 26px;
			color: #ababab;
			&:first-child {
				margin: 0;
			}
			a {
				text-decoration: underline;
				color: #fff;
			}
			span {
				color: #fff;
			}
		}
	}
	.c_caution_icon {
		padding: 0 0 0 15px;
		margin: 20px 0 0;
		li {
			position: relative;
			padding: 0 0 0 28px;
			margin: 10px 0 0;
			line-height: 1.3;
			font-size: 26px;
			color: #ababab;
			&:first-child {
				margin: 0;
			}
			&:before {
				content: '・';
				position: absolute;
				top: 13px;
				left: -23px;
				font-size: 68px;
				line-height: 0;
				color: #ababab;
			}
			a {
				display: inline-block;
				text-decoration: underline;
				color: #fff;
			}
		}
	}
	.c_text {
		margin: 15px 0 0 13px;
		font-size: 21px;
		line-height: 1.3;
		color: #ababab;
	}


	.banner {
		margin: 45px 0 0;
		a {
			position: relative;
			display: block;
			background: #232323;
			padding: 20px 40px;
			border-radius: 8px;
			font-size: 33px;
			font-weight: bold;
			line-height: 1.3;
			color: #fff;
			span {
				font-size: 28px;
				font-weight: bold;
				color: #50c401;
			}

			&:after {
				content: '';
				position: absolute;
				top: 40%;
				right: 4%;
				background: url(https://goo.gl/wUGUeM) 0 0 no-repeat;
				background-size: 19px 34px;
				width: 19px;
				height: 34px;
			}
		}


	}
}



.footer {
	margin: 65px 0 0;
	border-top: 1px solid #ababab;

	.footer_wrap {
		max-width: 768px;
		padding: 37px 0 30px;
		margin: 0 auto;
	}
	.footer_co {
		font-size: 18px;
		line-height: 1.45;
		color: #ababab;
	}
	small {
		display: block;
		height: 80px;
		line-height: 80px;
		text-align: center;
		font-size: 18px;
		color: #ababab;
	}
}


@media screen and (max-width: 768px) {

	.contents {
		.contents_wrap {
			padding: 6% 5% 0;
		}
		.c_para {
			padding: 0 5% 0;
		}
		.contents_head {
			padding: 3.5% 0;
			font-size: calc(50vw/12);
			border-radius: 40px;
			span {
				font-size: calc(54vw/12);
				letter-spacing: 1.5px;
			}
		}
		.contents_inner {
			margin: 8% 0 0;
			&:nth-of-type(1) {
				margin: 7% 0 0;
			}
			.contents_heading {
				padding: 0 0 0 3%;
				border-left: 3px solid #50c401;
				font-size: calc(52vw/12);
			}
			.c_caution_h {
				padding: 0 0 0 3%;
				margin: 2% 0 -1.5%;
				line-height: 1;
				font-size: calc(44vw/12);
				span {
					font-size: calc(52vw/12);
				}
			}
			.c_padd {
				margin: 10% 0 0;
			}
			.contents_text {
				padding: 0 0 0 3%;
				margin: 3.5% 0 0;
				font-size: calc(44vw/12);
				line-height: 1.3;
				span {
					font-size: calc(32vw/13);
					margin: 0 0.3%;
				}
			}
			.contents_c {
				padding: 0 0 0 3%;
				margin: 3% 0 0;
				font-size: calc(34vw/12);
				li {
					margin: 2.5% 0 0;
					line-height: 1.4;
					font-size: calc(34vw/12);
				}
			}
		}
		.contents_box {
			padding: 3% 3% 4.5%;
			margin: 6% 0 0;
			border-radius: 6px;

			&:first-of-type {
				margin: 4% 0 0;
			}
			.contents_b_i {
				td {
					width: 39%;
				}
				th {
					padding: 0 0 0 3%;
					margin: 3% 0 0;
					font-size: calc(48vw/12);
					line-height: 1.1;
					letter-spacing: 1.1px;
				}
			}
			.c_t {
				margin: 4% 0 0;
				font-size: calc(47vw/12);
				line-height: 1.3;
			}
			.app {
				padding: 0 0 0 2%;
				margin: 4% 0 0;
				font-size: calc(44vw/12);
				border-left: 3px solid #50c401;

				&:first-of-type {
					margin: 5% 0 0;
				}
			}
			.app_t {
				margin: 3% 0 0;
				font-size: calc(44vw/12);
				line-height: 1.4;
			}

			.more {
				margin: 5% 0 0;
				a {
					padding: 3% 0;
					font-size: calc(44vw/12);
					border-radius: 6px;
				}
			}
		}
		.c_box {
			margin: 3.5% 0 0;
			li {
				background: #232323;
				padding: 3% 3% 3.3%;
				margin: 3% 0 0 0;
				border-radius: 7px;

				.c_b_h {
					font-size: calc(46vw/12);
				}
				.c_b_t {
					margin: 3.5% 0 0;
					font-size: calc(42vw/12);
					line-height: 1.4;
				}
			}
			.c_b_i {
				margin: 3% 0 0;
				li {
					margin: 2% 0 0;
					font-size: calc(35vw/12);
					line-height: 1.3;
					&:first-child {
						margin: 0;
					}
				}
			}
		}
		.c_caution {
			padding: 0 0 0 3%;
			margin: 3% 0 0;
			li {
				padding: 0;
				line-height: 1.3;
				font-size: calc(40vw/12);
			}
		}
		.c_caution_icon {
			padding: 0 0 0 3%;
			margin: 3% 0 0;
			li {
				position: relative;
				padding: 0 0 0 4.5%;
				margin: 2% 0 0;
				line-height: 1.3;
				font-size: calc(42vw/12);
				&:first-child {
					margin: 0;
				}
				&:before {
					top: 13px;
					left: -21px;
					font-size: 52px;
				}
				a {
					display: inline-block;
					text-decoration: underline;
					color: #fff;
				}
			}
		}
		.c_text {
			margin: 3% 0 0 3%;
			font-size: calc(36vw/12);
			line-height: 1.3;
		}


		.banner {
			margin: 9% 0 0;
			a {
				padding: 3% 6.5%;
				border-radius: 7px;
				font-size: calc(52vw/12);
				line-height: 1.3;
				span {
					font-size: calc(48vw/12);
				}
				&:after {
					top: 40%;
					right: 4%;
					background: url(https://goo.gl/wUGUeM) 0 0 no-repeat;
					background-size: 15px 27px;
					width: 15px;
					height: 27px;
				}
			}
		}
	}


	.footer {
		margin: 9% 5% 0;
		.footer_wrap {
			padding: 6% 0 4%;
		}
		.footer_co {
			font-size: calc(31vw/12);
			line-height: 1.45;
		}
		small {
			height: 60px;
			line-height: 60px;
			font-size: calc(32vw/12);
		}
	}
}

@media screen and (max-width: 480px) {
	.contents {
		.contents_wrap {
			padding: 6% 5% 0;
		}
		.c_para {
			padding: 0 5% 0;
		}
		.contents_head {
			padding: 3% 0;
			font-size: calc(53vw/12);
			border-radius: 40px;
			span {
				font-size: calc(54vw/12);
				letter-spacing: 1.5px;
			}
		}
		.contents_inner {
			margin: 8% 0 0;
			&:nth-of-type(1) {
				margin: 7% 0 0;
			}
			.contents_heading {
				padding: 0 0 0 3%;
				border-left: 2px solid #50c401;
				font-size: calc(55vw/12);
			}
			.c_caution_h {
				padding: 0 0 0 3%;
				margin: 2% 0 -1.5%;
				font-size: calc(46vw/12);
				span {
					font-size: calc(54vw/12);
				}
			}
			.c_padd {
				margin: 8% 0 0;
			}
			.contents_text {
				padding: 0 0 0 3%;
				margin: 3.5% 0 0;
				font-size: calc(47vw/12);
				line-height: 1.3;
				span {
					font-size: calc(32vw/13);
					margin: 0 0.2%;
				}

			}
			.contents_c {
				padding: 0 0 0 3%;
				margin: 3% 0 0;
				font-size: calc(37vw/12);
				li {
					margin: 2% 0 0;
					line-height: 1.4;
					font-size: calc(37vw/12);
				}
			}
		}
		.contents_box {
			padding: 3% 3% 4.5%;
			margin: 6% 0 0;
			border-radius: 6px;

			&:first-of-type {
				margin: 4% 0 0;
			}
			.contents_b_i {
				td {
					width: 40%;
				}
				th {
					margin: 3% 0 0;
					font-size: calc(51vw/12);
					line-height: 1.3;
					letter-spacing: 1.4px;
				}
			}
			.c_t {
				margin: 3% 0 0;
				font-size: calc(49vw/12);
				line-height: 1.3;
			}
			.app {
				padding: 0 0 0 2%;
				margin: 4% 0 0;
				font-size: calc(49vw/12);
				border-left: 2px solid #50c401;

				&:first-of-type {
					margin: 5% 0 0;
				}
			}
			.app_t {
				margin: 2.5% 0 0;
				font-size: calc(47vw/12);
				line-height: 1.4;
			}

			.more {
				margin: 5% 0 0;
				a {
					padding: 3% 0;
					font-size: calc(47vw/12);
					border-radius: 6px;
				}
			}
		}
		.c_box {
			margin: 3.5% 0 0;
			li {
				background: #232323;
				padding: 3% 3% 3.3%;
				margin: 3% 0 0 0;
				border-radius: 7px;

				.c_b_h {
					font-size: calc(48vw/12);
				}
				.c_b_t {
					margin: 3.5% 0 0;
					font-size: calc(44vw/12);
					line-height: 1.4;
				}
			}
			.c_b_i {
				margin: 8px 0 0;
				li {
					margin: 2% 0 0;
					font-size: calc(38vw/12);
					line-height: 1.3;
				}
			}
		}
		.c_caution {
			padding: 0 0 0 3%;
			margin: 3% 0 0;
			li {
				padding: 0;
				line-height: 1.3;
				font-size: calc(43vw/12);
			}
		}
		.c_caution_icon {
			padding: 0 0 0 3%;
			margin: 3% 0 0;
			li {
				position: relative;
				padding: 0 0 0 4.5%;
				margin: 2% 0 0;
				line-height: 1.3;
				font-size: calc(45vw/12);
				&:first-child {
					margin: 0;
				}
				&:before {
					top: 13px;
					left: -21px;
					font-size: 52px;
				}
				a {
					display: inline-block;
					text-decoration: underline;
					color: #fff;
				}
			}
		}
		.c_text {
			margin: 3% 0 0 3%;
			font-size: calc(42vw/12);
			line-height: 1.3;
		}

		.banner {
			margin: 9% 0 0;
			a {
				padding: 3% 6.5%;
				border-radius: 6px;
				font-size: calc(58vw/12);
				line-height: 1.3;
				span {
					font-size: calc(50vw/12);
				}
				&:after {
					top: 40%;
					right: 4%;
					background-size: 11px 20px;
					width: 11px;
					height: 20px;
				}
			}
		}
	}
	.c_para {
		padding: 0;
	}


	.footer {
		margin: 9% 5% 0;
		.footer_wrap {
			padding: 6% 0 3%;
		}
		.footer_co {
			font-size: calc(32vw/12);
			line-height: 1.45;
		}
		small {
			height: 40px;
			line-height: 40px;
			font-size: calc(33vw/12);
		}
	}
}

