*{margin: 0; padding:0;}
body { min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000; line-height: 1;
	li {
		list-style: none;
	}
}
a {
	color: #FFF ;
	text-decoration: none;
	transition: .5s all;
	&:hover {
		text-decoration: none;
		opacity: .6;
	}
}
img  { width: 100%; height: auto;}


.hed-top {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 29px;
	p {
		padding: 14px 0 12px 14px;
		img {
			max-width: 152px;
		}
	}
	.main-visual {
		width: 100%;
		background: url(https://bit.ly/2BxBcYU) 0 0 no-repeat;
		background-size: cover;
		padding: 0;
			img {
				display: block;
				max-width: 750px;
				margin: 0 auto;
			}
	}
}




.hed-main {
	width: 750px;
	margin: 0 auto;
	margin-bottom: 50px;
	p {
		padding: 14px 0 12px 14px;
		img {
			max-width: 152px;
		}
	}
	.main-visual {
		background: url(https://bit.ly/2FSR1z5) 0 0 no-repeat;
		background-size: cover;
		padding: 0;
			img {
				display: block;
				max-width: 750px;
				margin: 0 auto;
			}
	}
}



.premiere {
	width: 716px;
	margin: 0 auto 44px auto;
	a img {
		max-width: 716px;
	}
}


.last {
	border-bottom: none !important;
	padding-bottom: 0 !important;
}


.promo {
	padding: 36px 0 36px 0;
	a{
		color: #FFF;
		display: block;
		width: 716px;
		margin: 0 auto;
		background-color: #1a1a1a;
		border-radius: 12px;
		div {
			display: flex;
			align-items: center;
		}
		figure {
			width: 328px;
			margin-right: 12px;
			img {
				min-width: 328px;
				border-radius: 12px 0 0 12px;
			}
		}
		dl {
			dt {
				color: #51c300;
				font-size: 26px;
				font-weight: bold;
				margin-bottom: 5px;
			}
			dd {
				font-size: 26px;
				line-height: 1.4em;
			}
		}
	}
}



.module01 {
	width: 750px;
	margin: 0 auto 53px auto;
	border-bottom: solid 1px #606060;
	padding-bottom: 30px;
	ul {
		display: block;
		width: 680px;
		margin: 0 auto;
	}
	h1 {
		font-size: 36px;
		line-height: 1.4em;
		font-weight: bold;
		border-bottom: solid 1px #606060;
		padding-bottom:30px;
		width: 680px;
		margin: 0 auto 32px auto;
	}
	.main {
		border-bottom: solid 1px #606060;
		padding-bottom: 24px;
		margin-bottom: 30px;
		a {
			display: block;
			color: #FFF;
		}
		div {
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			figure {
				width: 368px;
				margin-right: 12px;
				img {
					min-width: 368px;
				}
			}
			dl {
				flex-shrink: 50;
			}
			dl dt {
				color: #51c300;
				font-size: 28px;
				font-weight: bold;
				margin-bottom: 10px;
			}
			dl dd {
				font-size: 30px;
				font-weight: bold;
				line-height: 1.4em;
			}
		}
		p {
			color: #ababab;
			font-size: 28px;
			line-height: 1.4em;
		}
	}
	.sub {
		border-bottom: solid 1px #606060;
		padding-bottom: 26px;
		margin-bottom: 30px;
		a {
			color: #FFF;
			display: flex;
			align-items: center;
		}
		figure {
			width: 226px;
			margin-right: 12px;
			img {
				min-width: 226px;
			}
		}
		dl{
			flex-shrink: 50;
		}
		dl dt {
			color: #51c300;
			font-size: 26px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		dl dd {
			font-size: 26px;
			line-height: 1.4em;
		}
	}
	.sub:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}




.module02 {
	width: 750px;
	margin: 0 auto 53px auto;
	border-bottom: solid 1px #606060;
	padding-bottom: 30px;
	ul {
		width: 680px;
		margin: 0 auto;
	}
	h1 {
		font-size: 36px;
		line-height: 1.4em;
		font-weight: bold;
		border-bottom: solid 1px #606060;
		padding-bottom:30px;
		width: 680px;
		margin: 0 auto 32px auto;
	}
	.main {
		border-bottom: solid 1px #606060;
		padding-bottom: 24px;
		margin-bottom: 30px;
		a {
			display: block;
			color: #FFF;
		}
		div {
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			figure {
				width: 368px;
				margin-right: 12px;
				img {
					min-width: 368px;
				}
			}
			dl {
				flex-shrink: 50;
			}
			dl dt {
				color: #51c300;
				font-size: 28px;
				font-weight: bold;
				margin-bottom: 10px;
			}
			dl dd {
				font-size: 30px;
				font-weight: bold;
				line-height: 1.4em;
			}
		}
		p {
			color: #ababab;
			font-size: 28px;
			line-height: 1.4em;
		}
	}
	.sub {
		border-bottom: solid 1px #606060;
		padding-bottom: 26px;
		margin-bottom: 30px;
		a {
			color: #FFF;
			display: flex;
			align-items: center;
		}
		figure {
			width: 226px;
			margin-right: 12px;
			img {
				min-width: 226px;
			}
		}
		dl {
			flex-shrink: 50;
		}
		dl dt {
			color: #51c300;
			font-size: 26px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		dl dd {
			font-size: 26px;
			line-height: 1.4em;
		}
	}
	.sub:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}



.module03 {
	width: 750px;
	margin: 0 auto 53px auto;
	border-bottom: solid 1px #606060;
	padding-bottom: 30px;
	ul {
		width: 680px;
		margin: 0 auto;
	}
	h1 {
		font-size: 36px;
		font-weight: bold;
		line-height: 1.4em;
		border-bottom: solid 1px #606060;
		padding-bottom:30px;
		width: 680px;
		margin: 0 auto 32px auto;
	}
	.main {
		border-bottom: solid 1px #606060;
		padding-bottom: 24px;
		margin-bottom: 30px;
		a {
			display: block;
			color: #FFF;
		}
		div {
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			figure {
				width: 368px;
				margin-right: 12px;
				img {
					min-width: 368px;
				}
			}
			h2 {
				flex-shrink: 50;
				font-size: 30px;
				font-weight: bold;
				line-height: 1.4em;
			}
		}
		p {
			color: #ababab;
			font-size: 28px;
			line-height: 1.4em;
		}
	}
	.sub {
		border-bottom: solid 1px #606060;
		padding-bottom: 26px;
		margin-bottom: 30px;
		a {
			color: #FFF;
			display: flex;
			align-items: center;
		}
		figure {
			width: 226px;
			margin-right: 12px;
			img {
				min-width: 226px;
			}
		}
		h2 {
			flex-shrink: 50;
			font-size: 26px;
			font-weight: normal;
			line-height: 1.4em;
		}
	}
	.sub:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}



.module04 {
	width: 750px;
	margin: 0 auto 53px auto;
	section {
		width: 716px;
		margin: 0 auto;
	}
	ul {
		padding-top: 22px;
		background-color: #1a1a1a;
		border-radius: 8px;
	}
	h1 {
		font-size: 36px;
		font-weight: bold;
		line-height: 1.4em;
		margin-bottom: 25px;
		padding-left: 20px;
	}
	.main {
		border-bottom: solid 1px #606060;
		padding: 0 20px 22px 20px;
		margin-bottom: 22px;
		a {
			color: #FFF;
			display: flex;
			align-items: center;
		}
		figure {
			width: 226px;
			margin-right: 12px;
			img {
				min-width: 226px;
			}
		}
		dl {
			flex-shrink: 50;
		}
		dl dt {
			font-size: 26px;
			font-weight: bold;
			line-height: 1.4em;
			margin-bottom: 5px;
		}
		dl dd {
			color: #ababab;
			font-size: 26px;
			line-height: 1.4em;
		}
	}
	.main:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}
}




.module05 {
	width: 750px;
	margin: 0 auto 53px auto;
	section {
		width: 716px;
		margin: 0 auto;
	}
	ul {
		padding-top: 22px;
		background-color: #1a1a1a;
		border-radius: 8px;
	}
	h1 {
		font-size: 36px;
		font-weight: bold;
		line-height: 1.4em;
		margin-bottom: 25px;
		padding-left: 20px;
	}
	.main {
		border-bottom: solid 1px #606060;
		padding: 0 20px 22px 20px;
		margin-bottom: 22px;
		a {
			color: #FFF;
			display: flex;
			align-items: center;
			color: #FFF;
		}
		figure {
			width: 226px;
			margin-right: 12px;
			img {
				min-width: 226px;
			}
		}
		p {
			flex-shrink: 50;
			font-size: 26px;
			line-height: 1.4em;
		}
	}
	.main:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}
}




.module06 {
	width: 750px;
	margin: 0 auto 53px auto;
	section {
		width: 716px;
		margin: 0 auto;
	}
	ul {
		padding-top: 22px;
		background-color: #1a1a1a;
		border-radius: 8px;
	}
	h1 {
		font-size: 36px;
		font-weight: bold;
		line-height: 1.4em;
		margin-bottom: 25px;
		padding-left: 20px;
	}
	.main {
		border-bottom: solid 1px #606060;
		padding: 0 20px 22px 20px;
		margin-bottom: 22px;
		a {
			color: #FFF;
			display: flex;
			align-items: center;
		}
		figure {
			width: 226px;
			margin-right: 12px;
			img {
				min-width: 226px;
			}
		}
		dl {
			flex-shrink: 50;
		}
		dl dt {
			color: #51c300;
			font-size: 26px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		dl dd {
			font-size: 26px;
			line-height: 1.4em;
		}
	}
	.main:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}
}





.module07 {
	width: 750px;
	margin: 0 auto 53px auto;
	section {
		width: 716px;
		margin: 0 auto;
	}
	h1 {
		font-size: 36px;
		font-weight: bold;
		line-height: 1.4em;
		margin-bottom: 25px;
		padding-left: 20px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 11px;
	}
	li {
		width: 349px;
		background-color: #1a1a1a;
		border-radius: 8px;
		margin-bottom: 21px;
		a {
			color: #FFF;
			display: block;
		}
		figure {
			width: 349px;
			img {
				border-radius: 8px 8px 0 0;
				min-width: 349px;
			}
		}
		h2 {
			padding: 15px 18px 15px 18px;
			font-size: 26px;
			font-weight: normal;
			line-height: 1.25em;
		}
	}
	aside a {
		display: block;
		color: #51c300;
		width: 680px;
		margin: 0 auto;
		padding: 27px 0 27px 0;
		border: solid 2px #51c300;
		text-align: center;
		font-size: 28px;
		font-weight: bold;
		border-radius: 6px;
	}
	aside a:hover {
		color: #51c300;
	}
}





.module08 {
	width: 750px;
	margin: 0 auto 53px auto;
	section {
		width: 716px;
		margin: 0 auto;
	}
	h1 {
		font-size: 36px;
		font-weight: bold;
		line-height: 1.4em;
		margin-bottom: 25px;
		padding-left: 20px;
	}
	.photo-wrap {
		padding: 24px 18px 32px 18px;
		background-color: #1a1a1a;
		border-radius: 8px;

	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 9px;
	}
	li {
		width: 331px;
		margin-bottom: 22px;
		a {
			color: #FFF;
		}
		img {
			min-width: 331px;
		}
	}
	aside a {
		display: block;
		color: #51c300;
		width: 680px;
		margin: 0 auto;
		padding: 27px 0 27px 0;
		border: solid 2px #51c300;
		text-align: center;
		font-size: 28px;
		font-weight: bold;
		border-radius: 6px;
	}
}






.module09 {
	width: 750px;
	margin: 0 auto 53px auto;
	section {
		width: 716px;
		margin: 0 auto;
	}
	h1 {
		font-size: 36px;
		font-weight: bold;
		line-height: 1.4em;
		margin-bottom: 25px;
		padding-left: 20px;
	}
	.photo-wrap {
		background-color: #1a1a1a;
		border-radius: 8px;
		padding-bottom: 32px;
	}
	h2 {
		font-size: 28px;
		font-weight: bold;
		line-height: 1.4em;
		padding: 18px 0 18px 16px;
		margin-bottom: 18px;
		border-bottom: solid 1px #606060;
	}
	ul {
		margin-bottom: 32px;
	}
	li {
		padding: 0 22px 18px 22px;
		margin-bottom: 18px;
		border-bottom: solid 1px #606060;
		dl {
			display: flex;
			align-items: center;
			dt {
				width: 90px;
				font-size: 26px;
				font-weight: bold;
			}
			dd {
				display: flex;
				align-items: center;
				figure {
					width: 187px;
					margin-right: 19px;
					img {
						min-width: 187px;
					}
				}
				h3 {
					flex-shrink: 50;
					font-size: 26px;
					font-weight: normal;
					line-height: 1.35em;
				}
			}
		}
	}
	li:last-child { margin-bottom: 0; }
	aside a {
		display: block;
		color: #51c300;
		width: 680px;
		margin: 0 auto;
		padding: 27px 0 27px 0;
		border: solid 2px #51c300;
		text-align: center;
		font-size: 28px;
		font-weight: bold;
		border-radius: 6px;
	}
}





.module09carousel {
	width: 716px;
	margin: 30px auto 20px auto;
	section {
		width: 100%;
	}
	h1 {
		font-size: 36px;
		font-weight: bold;
		line-height: 1.4em;
		margin-bottom: 25px;
		padding-left: 20px;
	}
	.genre-wrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.photo-wrap {
		width: 350px;
		background-color: #1a1a1a;
		border-radius: 8px;
		padding-bottom: 20px;
		margin-bottom: 24px;
		a {
			color: #FFF;
			display: block;
		}
	}
	h2 {
		font-size: 28px;
		font-weight: bold;
		line-height: 1.4em;
		padding: 16px 0 14px 12px;
		margin-bottom: 20px;
		border-bottom: solid 1px #606060;
	}
	ul {
		margin-bottom: 20px;
		border-bottom: solid 1px #606060;
		padding-bottom: 20px;
	}
	li {
		padding: 0 10px 0 15px;
		margin-bottom: 13px;
		dl {
			width: 100%;
			display: flex;
			align-items: center;
			dt {
				width: 7%;
				font-size: 26px;
				font-weight: bold;
			}
			dd {
				width: 93%;
				display: flex;
				align-items: center;
				figure {
					width: 154px;
					margin-right: 8px;
					img {
						min-width: 154px;
					}
				}
				h3 {
					word-break: break-all;
					flex-shrink: 50;
					font-size: 22px;
					font-weight: normal;
					line-height: 1.1em;
				}
			}
		}
	}
	li:last-child { margin-bottom: 0; }
	aside {
		display: block;
		color: #51c300;
		width: 315px;
		margin: 0 auto;
		padding: 26px 0 26px 0;
		border: solid 2px #51c300;
		text-align: center;
		font-size: 28px;
		font-weight: bold;
		border-radius: 6px;
	}
}



.fot-premiere {
	width: 716px;
	margin: 0 auto 45px auto;
	a img {
		max-width: 716px;
	}
}


.fot-top {
	width: 750px;
	margin: 0 auto 60px auto;
	padding: 64px 0 64px 0;
	border-bottom: solid 1px #606060;
	border-top: solid 1px #606060;
	a {
		display: block;
		color: #51c300;
		width: 420px;
		margin: 0 auto;
		padding: 26px 0 26px 0;
		border: solid 2px #51c300;
		text-align: center;
		font-size: 28px;
		font-weight: bold;
		border-radius: 6px;
	}
}



.cp-detail {
	width: 750px;
	border-bottom: solid 1px #606060;
	margin: 0 auto 40px auto;
	padding-bottom: 42px;
	section {
		width: 680px;
		margin: 0 auto;
	}
	h1 {
		font-size: 36px;
		font-weight: bold;
		line-height: 1.4em;
		margin-bottom: 35px;
	}
	.m15 {
		margin-bottom: 15px;
	}
	dl {
		dt {
			font-size: 28px;
			line-height: 1.4em;
			margin-bottom: 15px;
		}
		dd {
			color: #ababab;
			font-size: 24px;
			line-height: 1.5em;
			margin-bottom: 45px;
			p {
				font-size: 24px;
				line-height: 1.5em;
				margin-bottom: 15px;
			}
			small {
				display: block;
				font-size: 20px;
				line-height: 1.5em;
			}
			ul {
				padding-left: 35px;
			}
		}
		dd:last-child {
			margin: 0;
		}
	}
}



.video {
	width: 750px;
	background: url(https://bit.ly/2PW5lLG) 0 0 no-repeat;
	background-size: cover;
	padding: 54px 0 68px 0;
	margin: 44px auto 60px auto;
	section {
		width: 680px;
		margin: 0 auto;
		h2 {
			margin-bottom: 23px;
			img {
				max-width: 397px;
			}
		}
		dl dt {
			font-size: 32px;
			font-weight: bold;
			margin-bottom: 12px;
		}
		dl dd {
			font-size: 16px;
			margin-bottom: 20px;
		}
		aside a {
			display: block;
			color: #51c300;
			font-size: 28px;
			font-weight: bold;
			padding: 27px 0 27px 0;
			text-align: center;
			border: solid 2px #51c300;
			border-radius: 8px;
		}
	}
}


footer {
	width: 750px;
	margin: 0 auto;
	padding-bottom: 40px;
	p {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 1.5em;
		color: #919191;
	}
	.links {
		margin-bottom: 30px;
	}
	ul {
		margin-bottom: 5px;
		li {
			display: inline-block;
			color: #919191;
			a {
				font-size: 16px;
				line-height: 1.35em;
				color: #919191 !important;
			}
		}
		li:after {
			content: " \007c ";
		}
		li:last-child:after {
			content: none;
		}
	}
	small {
		display: block;
		font-size: 16px;
		color: #919191;
	}
}








@media screen and (max-width: 768px) {

.hed-top {
	width: 100%;
	margin-bottom: 4%;
	p {
		padding: 1.5% 0 1.5% 2%;
		img {
			max-width: 22%;
		}
	}
	.main-visual {
		background: url(https://bit.ly/2FSR1z5) 0 0 no-repeat;
			img {
				max-width: 100%;
			}
	}
}

.hed-main {
	width: 100%;
	margin-bottom: 7%;
	p {
		padding: 1.5% 0 1.5% 2%;
		img {
			max-width: 22%;
		}
	}
	.main-visual {
			img {
				max-width: 100%;
			}
	}
}

.premiere {
	width: 95%;
	margin: 0 auto 5% auto;
	a img {
		max-width: 100%;
	}
}

.promo {
	padding: 5% 0 5% 0;
	a{
		width: 95%;
		border-radius: 6px;
		figure {
			width: 44%;
			margin-right: 2%;
			img {
				min-width: 100%;
				border-radius: 6px 0 0 6px;
			}
		}
		dl {
			width: 54%;
			dt {
				font-size: calc(45vw/12);
				margin-bottom: 2%;
			}
			dd {
				font-size: calc(45vw/12);
				line-height: 140%;
			}
		}
	}
}

.module01 {
	width: 100%;
	margin: 0 auto 7% auto;
	padding-bottom: 4%;
	ul {
		width: 92%;
	}
	h1 {
		font-size: calc(60vw/12);
		line-height: 140%;
		padding-bottom:3.9%;
		margin: 0 auto 5% auto;
		width: 92%;
	}
	.main {
		padding-bottom: 3%;
		margin-bottom: 4.7%;
		div {
			margin-bottom: 3%;
			figure {
				width: 52%;
				margin-right: 2%;
				img {
					min-width: 100%;
				}
			}
			dl {
				width: 46%;
			}
			dl dt {
				font-size: calc(50vw/12);
				margin-bottom: 3%;
			}
			dl dd {
				font-size: calc(50vw/12);
				line-height: 140%;
			}
		}
		p {
			font-size: calc(47vw/12);
			line-height: 140%;
		}
	}
	.sub {
		padding-bottom: 4%;
		margin-bottom: 4.6%;
		figure {
			width: 35%;
			margin-right: 2%;
			img {
				min-width: 100%;
			}
		}
		dl {
			width: 63%;
		}
		dl dt {
			font-size: calc(47vw/12);
			margin-bottom: 1.5%;
		}
		dl dd {
			font-size: calc(41vw/12);
			line-height: 140%;
		}
	}
}




.module02 {
	width: 100%;
	margin: 0 auto 7% auto;
	padding-bottom: 4%;
	ul {
		width: 92%;
	}
	h1 {
		font-size: calc(60vw/12);
		line-height: 140%;
		padding-bottom:3.9%;
		margin: 0 auto 5% auto;
		width: 92%;
	}
	.main {
		padding-bottom: 3%;
		margin-bottom: 4.7%;
		div {
			margin-bottom: 3%;
			figure {
				width: 52%;
				margin-right: 2%;
				img {
					min-width: 100%;
				}
			}
			dl {
				width: 46%;
			}
			dl dt {
				font-size: calc(50vw/12);
				margin-bottom: 3%;
			}
			dl dd {
				font-size: calc(50vw/12);
				line-height: 140%;
			}
		}
		p {
			font-size: calc(47vw/12);
			line-height: 140%;
		}
	}
	.sub {
		padding-bottom: 4%;
		margin-bottom: 4.6%;
		figure {
			width: 35%;
			margin-right: 2%;
			img {
				min-width: 100%;
			}
		}
		dl {
			width: 63%;
		}
		dl dt {
			font-size: calc(47vw/12);
			margin-bottom: 1.5%;
		}
		dl dd {
			font-size: calc(41vw/12);
			line-height: 140%;
		}
	}
}



.module03 {
	width: 100%;
	margin: 0 auto 7% auto;
	padding-bottom: 4%;
	ul {
		width: 92%;
	}
	h1 {
		font-size: calc(60vw/12);
		line-height: 140%;
		padding-bottom:3.9%;
		margin: 0 auto 5% auto;
		width: 92%;
	}
	.main {
		padding-bottom: 3%;
		margin-bottom: 4.7%;
		div {
			margin-bottom: 3%;
			figure {
				width: 52%;
				margin-right: 2%;
				img {
					min-width: 100%;
				}
			}
			h2 {
				width: 46%;
				font-size: calc(50vw/12);
				margin-bottom: 3%;
				line-height: 140%;
			}
		}
		p {
			font-size: calc(47vw/12);
			line-height: 140%;
		}
	}
	.sub {
		padding-bottom: 4%;
		margin-bottom: 4.6%;
		figure {
			width: 35%;
			margin-right: 2%;
			img {
				min-width: 100%;
			}
		}
		h2 {
			width: 63%;
			font-size: calc(47vw/12);
			margin-bottom: 1.5%;
			line-height: 140%;
		}
	}
}



.module04 {
	width: 100%;
	margin: 0 auto 7% auto;
	section {
		width: 95%;
	}
	ul {
		padding-top: 4%;
		border-radius: 4px;
	}
	h1 {
		font-size: calc(60vw/12);
		line-height: 140%;
		margin-bottom: 4%;
		padding-left: 2%;
	}
	.main {
		padding: 0 2.5% 2.5% 2.5%;
		margin-bottom: 3.5%;
		figure {
			width: 35%;
			margin-right: 2%;
			img {
				min-width: 100%;
			}
		}
		dl {
			width: 63%;
		}
		dl dt {
			font-size: calc(47vw/12);
			line-height: 140%;
			margin-bottom: 1%;
		}
		dl dd {
			font-size: calc(45vw/12);
			line-height: 140%;
		}
	}
}




.module05 {
	width: 100%;
	margin: 0 auto 7% auto;
	section {
		width: 95%;
	}
	ul {
		padding-top: 4%;
		border-radius: 4px;
	}
	h1 {
		font-size: calc(60vw/12);
		line-height: 140%;
		margin-bottom: 4%;
		padding-left: 2%;
	}
	.main {
		padding: 0 2.5% 2.5% 2.5%;
		margin-bottom: 3.5%;
		figure {
			width: 35%;
			margin-right: 2%;
			img {
				min-width: 100%;
			}
		}
		p {
			width: 63%;
			font-size: calc(45vw/12);
			margin-bottom: 2%;
			line-height: 140%;
		}
	}
}




.module06 {
	width: 100%;
	margin: 0 auto 7% auto;
	section {
		width: 95%;
	}
	ul {
		padding-top: 4%;
		border-radius: 4px;
	}
	h1 {
		font-size: calc(60vw/12);
		line-height: 140%;
		margin-bottom: 4%;
		padding-left: 2%;
	}
	.main {
		padding: 0 2.5% 2.5% 2.5%;
		margin-bottom: 3.5%;
		figure {
			width: 35%;
			margin-right: 2%;
			img {
				min-width: 100%;
			}
		}
		dl {
			width: 63%;
		}
		dl dt {
			color: #51c300;
			font-size: calc(47vw/12);
			line-height: 140%;
			margin-bottom: 1%;
		}
		dl dd {
			font-size: calc(45vw/12);
			line-height: 140%;
		}
	}
}





.module07 {
	width: 100%;
	margin: 0 auto 7% auto;
	section {
		width: 95%;
	}
	h1 {
		font-size: calc(60vw/12);
		line-height: 140%;
		margin-bottom: 4%;
		padding-left: 2%;
	}
	ul {
		margin-bottom: 3%;
	}
	li {
		width: 48.7%;
		border-radius: 4px;
		margin-bottom: 3%;
		figure {
			width: 100%;
			img {
				border-radius: 4px 4px 0 0;
				min-width: 100%;
			}
		}
		h2 {
			padding: 3.5% 4% 4% 4%;
			font-size: calc(43vw/12);
			line-height: 130%;
		}
	}
	aside a {
		width: 95.5%;
		padding: 4.1% 0 4.1% 0;
		border: solid 1px #51c300;
		font-size: calc(47vw/12);
		border-radius: 4px;
	}
}





.module08 {
	width: 100%;
	margin: 0 auto 7% auto;
	section {
		width: 95%;
	}
	h1 {
		font-size: calc(60vw/12);
		line-height: 140%;
		margin-bottom: 4%;
		padding-left: 2%;
	}
	.photo-wrap {
		padding: 3.5% 2% 3.5% 2%;
		border-radius: 4px;
	}
	ul {
		margin-bottom: 1.5%;
	}
	li {
		width: 48.7%;
		margin-bottom: 3%;
		img {
			min-width: 100%;
		}
	}
	aside a {
		width: 100%;
		padding: 4.1% 0 4.1% 0;
		border: solid 1px #51c300;
		font-size: calc(47vw/12);
		border-radius: 4px;
	}
}






.module09 {
	width: 100%;
	margin: 0 auto 7% auto;
	section {
		width: 95%;
	}
	h1 {
		font-size: calc(60vw/12);
		line-height: 140%;
		margin-bottom: 4%;
		padding-left: 2%;
	}
	.photo-wrap {
		border-radius: 4px;
		padding-bottom: 4%;
	}
	h2 {
		font-size: calc(43vw/12);
		line-height: 140%;
		padding: 3% 0 3% 2%;
		margin-bottom: 3%;
	}
	ul {
		margin-bottom: 4.5%;
	}
	li {
		padding: 0 2% 2.7% 2%;
		margin-bottom: 3%;
		dl {
			dt {
				width: 8.5%;
				font-size: calc(43vw/12);
			}
			dd {
				width: 91.5%;
				figure {
					width: 33%;
					margin-right: 2%;
					img {
						min-width: 100%;
					}
				}
				h3 {
					width: 65%;
					font-size: calc(43vw/12);
					line-height: 135%;
				}
			}
		}
	}
	aside a {
		width: 95%;
		padding: 4.1% 0 4.1% 0;
		border: solid 1px #51c300;
		font-size: calc(47vw/12);
		border-radius: 4px;
	}
}




.module09carousel {
	width: 100%;
	margin: 0 auto 3.75% auto;
	padding-top: 1%;
	overflow-x: hidden;
	.genre-wrap {
		width: 95%;
		margin: 0 auto;
	}
	.photo-wrap {
		width: 48.85%;
		border-radius: 4px;
		padding-bottom: 3%;
		margin-bottom: 3.5%;
	}
	h1 {
		font-size: calc(60vw/12);
		line-height: 140%;
		margin-bottom: 4%;
		padding-left: 5%;
	}
	h2 {
		font-size: calc(43vw/12);
		line-height: 140%;
		padding: 4% 0 4% 4%;
		margin-bottom: 4%;
	}
	ul {
		padding-bottom: 5.5%;
		margin-bottom: 5.5%;
	}
	li {
		padding: 0 2% 0% 5%;
		margin-bottom: 4%;
		dl {
			dt {
				width: 8%;
				font-size: calc(43vw/12);
			}
			dd {
				width: 92%;
				figure {
					width: 53%;
					margin-right: 2%;
					img {
						min-width: 100%;
					}
				}
				h3 {
					width: 46%;
					font-size: calc(37vw/12);
					line-height: 115%;
				}
			}
		}
	}
	aside {
		width: 89%;
		padding: 7.5% 0 7.5% 0;
		border: solid 1px #51c300;
		font-size: calc(43vw/12);
		border-radius: 4px;
	}
	aside a:hover {
		color: #51c300;
	}
}






.video {
	width: 100%;
	padding: 7.5% 0 8.5% 0;
	margin: 0 0 7% 0;
	section {
		width: 90%;
		h2 {
			margin-bottom: 3.8%;
			img {
				max-width: 60%;
			}
		}
		dl dt {
			font-size: calc(50vw/12);
			margin-bottom: 1.5%;
		}
		dl dd {
			font-size: calc(20vw/12);
			margin-bottom: 3.5%;
		}
		aside a {
			font-size: calc(50vw/12);
			padding: 4.1% 0 4.1% 0;
			border: solid 1px #51c300;
			border-radius: 4px;
		}
	}
}



.fot-premiere {
	width: 95%;
	margin: 0 auto 5.5% auto;
	a img {
		max-width: 100%;
	}
}


.fot-top {
	width: 100%;
	margin: 0 auto 7% auto;
	padding: 8% 0 8% 0;
	a {
		width: 60%;
		padding: 3.5% 0 3.5% 0;
		border: solid 1px #51c300;
		font-size: calc(50vw/12);
		border-radius: 4px;
	}
}



.cp-detail {
	width: 100%;
	margin: 0 0 4.5% 0;
	padding-bottom: 5.5%;
	section {
		width: 90%;
	}
	h1 {
		font-size: calc(60vw/12);
		line-height: 145%;
		margin-bottom: 5%;
	}
	.m15 {
		margin-bottom: 2%;
	}
	dl {
		dt {
			font-size: calc(47vw/12);
			line-height: 145%;
			margin-bottom: 2%;
		}
		dd {
			font-size: calc(42vw/12);
			line-height: 145%;
			margin-bottom: 7%;
			p {
				font-size: calc(42vw/12);
				line-height: 145%;
				margin-bottom: 2%;
			}
			small {
				font-size: calc(33vw/12);
				line-height: 145%;
			}
			ul {
				padding-left: 6%;
			}
		}
	}
}



footer {
	width: 90%;
	padding-bottom: 5%;
	p {
		margin-bottom: 4%;
		font-size: calc(30vw/12);
		line-height: 140%;
	}
	.links {
		margin-bottom: 4%;
	}
	ul {
		font-size: calc(30vw/12);
		margin-bottom: 1%;
		li {
			a {
				font-size: calc(30vw/12);
				line-height: 130%;
			}
		}
		li:last-child:after {
			content: none;
		}
	}
	small {
		font-size: calc(30vw/12);
	}
}
}
