* { margin: 0; padding: 0; }

body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000; }
body li { list-style: none; }

a { -webkit-transition: .3s; transition: .3s; text-decoration: none; }
a:hover { text-decoration: none; opacity: .8; }

img { width: 100%; }

.wrap { max-width: 768px; margin: 0 auto; }

.line { height: 40px; }

.pc { display: block; }

.sp { display: none; }

header { -webkit-box-sizing: border-box; box-sizing: border-box; }
header .logo { overflow: hidden; background: #000; padding: 13px 0 14px 18px; line-height: 0; }
header .logo span { float: left; display: block; max-width: 151px; }
header .h_wrap { padding: 34px 0 0; }
header .h_wrap .h_h { max-width: 1045px; margin: 0 auto; line-height: 0; }
header .h_wrap .h_kv { max-width: 1152px; margin: 54px auto 0; line-height: 0; }

.info { background: #1a1a1a; padding: 40px 0 42px; }
.info .wrap { padding: 0; margin: 0 auto; }
.info .i_h { font-size: 21px; font-weight: normal; line-height: 1.5; letter-spacing: 1.3px; text-align: center; color: #ababab; }
.info .i_btn { background: #f40000; max-width: 480px; padding: 14px 0; margin: 34px auto 0; text-align: center; font-weight: bold; font-size: 23px; letter-spacing: 1.3px; color: #fff; }

.contents .c_hline { margin: 60px 0 38px; font-size: 28px; font-weight: bold; text-align: center; line-height: 1.5; letter-spacing: 1.4px; }
.contents .c_hline span { font-size: 44px; }
.contents .c_pic { margin: 0 0 62px; font-size: 30px; border-bottom: 1px solid #535353; letter-spacing: 1.3px; }
.contents .c_pic span { display: inline-block; background: #f0163a; padding: 11px 20px; margin: 0 25px 20px 0; border-radius: 30px; font-size: 26px; font-weight: bold; color: #fff; }
.contents .c_sec { margin: 25px 0 50px; }
.contents .bagg { display: inline-block; background: #f0163a; padding: 4px 13px; margin: 25px 0 10px 0; border-radius: 4px; font-size: 18px; letter-spacing: 1.3px; font-weight: bold; color: #fff; }
.contents .c_h { border-left: 6px solid #3a2; padding: 0 0 0 18px; line-height: 1.4; font-size: 32px; }
.contents .c_h span { letter-spacing: 1.3px; font-size: 36px; }
.contents .c_h_m { margin: 20px 0 0; }
.contents .c_t { margin: 12px 0 0; font-size: 25px; line-height: 1.3; color: #ababab; }
.contents .c_one { padding: 0 0 35px; margin: 15px 0 0; }
.contents .c_one .c_t_item li { padding: 35px 0 0; border-bottom: 1px solid #606060; }
.contents .c_one .c_t_item li:last-child { border-bottom: none; }
.contents .c_one .c_t_dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.contents .c_one .c_t_dl dd { width: 52%; line-height: 0; }
.contents .c_one .c_t_dl dt { width: 45%; padding: 0 0 0 3%; font-size: 23px; line-height: 1.35; font-weight: bold; color: #fff; }
.contents .c_one .c_t_dl dt .rank { display: block; font-size: 20px; color: #3a2; }
.contents .c_one .c_t_dl dt .rank .num { margin: 0 2px 0 0; font-size: 30px; }
.contents .c_one .c_row li { padding: 25px 0; border-bottom: 1px solid #606060; }
.contents .c_one .c_row li a { display: block; }
.contents .c_one .c_row li:first-child { border-top: 1px solid #606060; }
.contents .c_one .c_row .c_r_dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.contents .c_one .c_row .c_r_dl dd { width: 44%; line-height: 0; }
.contents .c_one .c_row .c_r_dl dt { width: 53%; padding: 0 0 0 3%; font-size: 23px; line-height: 1.35; font-weight: bold; color: #fff; }
.contents .c_one .c_row .c_r_dl dt .rank { display: block; font-size: 20px; color: #3a2; }
.contents .c_one .c_row .c_r_dl dt .rank .num { margin: 0 2px 0 0; font-size: 30px; }
.contents .c_one .c_t_text { margin: 20px 0 0; font-size: 26px; line-height: 1.4; color: #656565; }
.contents .c_one .c_t_btn { margin: 25px 0 35px; }
.contents .c_one .c_t_btn a { display: block; padding: 15px 0; text-align: center; border-radius: 6px; border: 3px solid #3a2; font-size: 30px; color: #3a2; }
.contents .c_one .c_t_btn a:hover { background: #3a2; color: #fff; opacity: 1; }
.contents .c_two { padding: 0 0 35px; margin: 15px 0 0; }
.contents .c_two .c_t_item li { padding: 35px 0 0; border-bottom: 1px solid #606060; }
.contents .c_two .c_t_item li:last-child { border-bottom: none; }
.contents .c_two .c_t_dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.contents .c_two .c_t_dl dd { width: 52%; line-height: 0; }
.contents .c_two .c_t_dl dt { width: 45%; padding: 0 0 0 3%; font-size: 23px; line-height: 1.35; font-weight: bold; color: #fff; }
.contents .c_two .c_t_dl dt .rank { display: block; font-size: 20px; color: #3a2; }
.contents .c_two .c_t_dl dt .rank .num { margin: 0 2px 0 0; font-size: 30px; }
.contents .c_two .c_row li { padding: 25px 0; border-bottom: 1px solid #606060; }
.contents .c_two .c_row li a { display: block; }
.contents .c_two .c_row li:first-child { border-top: 1px solid #606060; }
.contents .c_two .c_row .c_r_dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.contents .c_two .c_row .c_r_dl dd { width: 44%; line-height: 0; }
.contents .c_two .c_row .c_r_dl dt { width: 53%; padding: 0 0 0 3%; font-size: 23px; line-height: 1.35; font-weight: bold; color: #fff; }
.contents .c_two .c_row .c_r_dl dt .rank { display: block; font-size: 20px; color: #3a2; }
.contents .c_two .c_row .c_r_dl dt .rank .num { margin: 0 2px 0 0; font-size: 30px; }
.contents .c_two .c_t_text { margin: 20px 0 0; font-size: 26px; line-height: 1.4; color: #656565; }
.contents .c_two .c_t_btn { margin: 25px 0 35px; }
.contents .c_two .c_t_btn a { display: block; padding: 15px 0; text-align: center; border-radius: 6px; border: 3px solid #3a2; font-size: 30px; color: #3a2; }
.contents .c_two .c_t_btn a:hover { background: #3a2; color: #fff; opacity: 1; }
.contents .c_three { padding: 0 0 35px; margin: 15px 0 0; }
.contents .c_three .c_t_item li { padding: 35px 0 0; border-bottom: 1px solid #606060; }
.contents .c_three .c_t_item li:last-child { border-bottom: none; }
.contents .c_three .c_t_dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.contents .c_three .c_t_dl dd { width: 52%; line-height: 0; }
.contents .c_three .c_t_dl dt { width: 45%; padding: 0 0 0 3%; font-size: 23px; line-height: 1.35; font-weight: bold; color: #000; }
.contents .c_three .c_t_dl dt span { display: inline-block; }
.contents .c_three .c_row li { padding: 25px 0; border-bottom: 1px solid #606060; }
.contents .c_three .c_row li a { display: block; }
.contents .c_three .c_row li:first-child { border-top: 1px solid #606060; }
.contents .c_three .c_row .c_r_dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.contents .c_three .c_row .c_r_dl dd { width: 44%; line-height: 0; }
.contents .c_three .c_row .c_r_dl dt { width: 53%; padding: 0 0 0 3%; font-size: 23px; line-height: 1.35; font-weight: bold; color: #000; }
.contents .c_three .c_row .c_r_dl dt .rank { display: block; font-size: 20px; color: #3a2; }
.contents .c_three .c_row .c_r_dl dt .rank .num { margin: 0 2px 0 0; font-size: 30px; }
.contents .c_three .c_t_text { margin: 20px 0 0; font-size: 26px; line-height: 1.4; color: #656565; }
.contents .c_three .c_t_btn { margin: 25px 0 35px; }
.contents .c_three .c_t_btn a { background: #3a2; display: block; padding: 15px 0; text-align: center; border-radius: 6px; font-size: 30px; color: #fff; }
.contents .c_four { padding: 0 0 35px; margin: 15px 0 0; }
.contents .c_four .c_f_item a { display: block; }
.contents .c_four .c_f_item li { padding: 25px 0; border-bottom: 1px solid #606060; }
.contents .c_four .c_f_item li:last-child { border-bottom: none; }
.contents .c_four .c_f_item .c_f_dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.contents .c_four .c_f_item .c_f_dl dd { width: 37%; line-height: 0; }
.contents .c_four .c_f_item .c_f_dl dt { width: 59.5%; margin: 0 0 0 3.5%; font-size: 23px; line-height: 1.3; color: #656565; }
.contents .c_six { padding: 0 0 35px; margin: 15px 0 0; }
.contents .c_six .c_s_item li { padding: 25px 0; border-bottom: 1px solid #606060; }
.contents .c_six .c_s_item li:last-child { border-bottom: none; }
.contents .c_six .c_s_item li a { display: block; }
.contents .c_six .c_s_dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.contents .c_six .c_s_dl dd { width: 38%; line-height: 0; }
.contents .c_six .c_s_dl dt { width: 59%; padding: 0 0 0 3%; font-size: 23px; line-height: 1.35; font-weight: bold; color: #000; }
.contents .c_six .c_s_dl dt .rank { display: block; font-size: 20px; color: #3a2; }
.contents .c_six .c_s_dl dt .rank .num { margin: 0 2px 0 0; font-size: 30px; }
.contents .c_zwei { padding: 0 0 60px; margin: 45px 0 0; }
.contents .c_zwei figure { line-height: 0; }
.contents .c_zwei .c_z_h { margin: 10px 0 0; font-size: 18px; line-height: 1.4; letter-spacing: 1.2px; color: #666; }
.contents .c_zwei .c_z_v { margin: 32px 0 0; font-size: 32px; }
.contents .c_zwei .c_z_item { margin: 42px 0 0; }
.contents .c_zwei .c_z_item .z_ba { display: inline-block; background: #ec2840; padding: 4px 11px; margin: 0 0 0 7px; border-radius: 4px; font-size: 15px; font-weight: bold; vertical-align: bottom; letter-spacing: 2px; text-align: center; line-height: 1.2; color: #fff; }
.contents .c_zwei .c_z_item li { margin: 18px 0 0; }
.contents .c_zwei .c_z_item li .c_z_t { position: relative; padding: 0 0 0 45px; font-size: 26px; font-weight: bold; color: #666; }
.contents .c_zwei .c_z_item li .c_z_t:before { content: ''; position: absolute; top: 0; left: 0; background: #3a2; width: 27px; height: 27px; border-radius: 50%; }
.contents .c_zwei .c_z_item li dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; letter-spacing: 1.2px; line-height: 1; }
.contents .c_zwei .c_z_item li dl dt { position: relative; width: 35%; padding: 0 0 0 45px; font-size: 26px; font-weight: bold; -webkit-box-sizing: border-box; box-sizing: border-box; color: #ababab; }
.contents .c_zwei .c_z_item li dl dt:before { content: ''; position: absolute; top: 0; left: 0; background: #3a2; width: 27px; height: 27px; border-radius: 50%; }
.contents .c_zwei .c_z_item li dl dd { width: 65%; margin: 0 0 0 42px; font-size: 26px; font-weight: bold; text-align: left; color: #ababab; }
.contents .c_zwei .c_z_cau { margin: 15px 0 0 40px; font-size: 18px; font-weight: bold; color: #666; }
.contents .c_zwei .c_z_btn { margin: 42px 0 0; }
.contents .c_zwei .c_z_btn a { display: block; background: #3a2; padding: 18px 0; border-radius: 6px; text-align: center; font-size: 32px; letter-spacing: 2px; color: #fff; }
.contents .c_zwei .c_z_no { background: #c3c3c3; padding: 18px 0; margin: 42px 0 0; border-radius: 6px; text-align: center; font-size: 32px; letter-spacing: 2px; color: #fff; }
.contents .c_zwei_short { padding: 0 0 50px; margin: 30px 0 0; }
.contents .c_zwei_short .c_z_inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.contents .c_zwei_short .c_z_inner dd { width: 47%; line-height: 0; }
.contents .c_zwei_short .c_z_inner dt { width: 50%; margin: 0 0 0 3%; font-size: 28px; line-height: 1.3; color: #fff; }
.contents .c_zwei_short .c_z_v { margin: 32px 0 0; font-size: 32px; }
.contents .c_zwei_short .c_z_item { margin: 42px 0 0; }
.contents .c_zwei_short .c_z_item li { margin: 18px 0 0; }
.contents .c_zwei_short .c_z_item li .c_z_t { position: relative; padding: 0 0 0 45px; font-size: 26px; font-weight: bold; color: #666; }
.contents .c_zwei_short .c_z_item li .c_z_t:before { content: ''; position: absolute; top: 0; left: 0; background: #3a2; width: 27px; height: 27px; border-radius: 50%; }
.contents .c_zwei_short .c_z_item li dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; letter-spacing: 1.2px; line-height: 1; }
.contents .c_zwei_short .c_z_item li dl dt { position: relative; width: 35%; padding: 0 0 0 46px; font-size: 26px; font-weight: bold; -webkit-box-sizing: border-box; box-sizing: border-box; color: #ababab; }
.contents .c_zwei_short .c_z_item li dl dt:before { content: ''; position: absolute; top: 0; left: 0; background: #3a2; width: 27px; height: 27px; border-radius: 50%; }
.contents .c_zwei_short .c_z_item li dl dd { width: 65%; margin: 0 0 0 42px; font-size: 26px; font-weight: bold; text-align: left; color: #ababab; }
.contents .c_zwei_short .c_z_item .z_ba { display: inline-block; background: #ec2840; padding: 4px 11px; margin: 0 0 0 7px; border-radius: 4px; font-size: 15px; font-weight: bold; vertical-align: bottom; letter-spacing: 2px; text-align: center; line-height: 1.2; color: #fff; }
.contents .c_zwei_short .c_z_cau { margin: 15px 0 0 40px; font-size: 18px; font-weight: bold; color: #666; }
.contents .c_zwei_short .c_z_btn { margin: 42px 0 0; }
.contents .c_zwei_short .c_z_btn a { display: block; background: #3a2; padding: 18px 0; border-radius: 6px; text-align: center; font-size: 32px; letter-spacing: 2px; color: #fff; }
.contents .c_zwei_short .c_z_no { background: #c3c3c3; padding: 18px 0; margin: 42px 0 0; border-radius: 6px; text-align: center; font-size: 32px; letter-spacing: 2px; color: #fff; }
.contents .c_12th { padding: 0 0 30px; margin: 35px 0 0; }
.contents .c_12th figure { margin: 20px 0 0; line-height: 0; }
.contents .c_12th .c_12h { margin: 33px 0 0; font-size: 27px; font-weight: bold; }
.contents .c_12th .c_12t { margin: 12px 0 0 0; font-size: 25px; line-height: 1.3; color: #656565; }
.contents .c_12th .c_btn { margin: 40px 0 40px; }
.contents .c_12th .c_btn a { display: block; padding: 15px 0; text-align: center; border-radius: 6px; border: 3px solid #3a2; font-size: 30px; color: #3a2; }
.contents .c_12th .c_btn a:hover { background: #3a2; color: #fff; opacity: 1; }
.contents .c_12th .c12_item li { padding: 28px 0; border-top: 1px solid #606060; }
.contents .c_12th .c12_item li a { display: block; }
.contents .c_12th .c_dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.contents .c_12th .c_dl dd { width: 56%; }
.contents .c_12th .c_dl dt { width: 41%; padding: 0 0 0 3%; font-size: 23px; line-height: 1.35; font-weight: bold; color: #656565; }
.contents .c_seven { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; padding: 0 0 50px; margin: 35px 0 0; }
.contents .c_seven li { position: relative; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-sizing: border-box; box-sizing: border-box; width: 48%; padding: 0 0; margin: 5% 0 0 4%; }
.contents .c_seven li:nth-child(2n+1) { margin: 5% 0 0 0; }
.contents .c_seven li:nth-child(2) { margin: 0 0 0 4%; }
.contents .c_seven li:nth-child(1) { margin: 0; }
.contents .c_seven li figure { line-height: 0; }
.contents .c_seven li .c_text { padding: 20px 0 80px; font-size: 24px; line-height: 1.4; color: #fff; }
.contents .c_seven li .c_n_btn { position: absolute; bottom: 0; left: 0; width: 100%; }
.contents .c_seven li .c_n_btn a { display: block; background: #3a2; padding: 15px 0; border-radius: 4px; text-align: center; font-size: 28px; color: #fff; }
.contents .c_five { padding: 0 0 20px; }
.contents .c_five .c_f_li { border-top: 1px solid #606060; }
.contents .c_five .c_f_li:first-child { border-top: none; }
.contents .c_five .c_f_li a { display: block; padding: 25px 0; }
.contents .c_five .c_f_li dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.contents .c_five .c_f_li dd { line-height: 0; width: 50%; }
.contents .c_five .c_f_li dt { width: 47%; padding: 0 0 0 3%; font-size: 26px; line-height: 1.4; text-align: left; font-weight: bold; color: #000; }
.contents .c_item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; padding: 0 0 20px; margin: 35px 0 0; }
.contents .c_item li { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-sizing: border-box; box-sizing: border-box; background: #efefef; width: 48%; margin: 5% 0 0 4%; border-radius: 8px; }
.contents .c_item li:nth-child(2n+1) { margin: 5% 0 0 0; }
.contents .c_item li:nth-child(2) { margin: 0 0 0 4%; }
.contents .c_item li:nth-child(1) { margin: 0; }
.contents .c_item li a { display: block; border-radius: 8px; }
.contents .c_item li a figure { line-height: 0; }
.contents .c_item li a figure img { border-radius: 8px 8px 0 0; }
.contents .c_item li a .c_text { padding: 20px; font-size: 27px; line-height: 1.4; color: #656565; }
.contents .c_eight { padding: 0 0 0; }
.contents .c_eight .c_i_list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; margin: 40px 0 0; }
.contents .c_eight .c_i_list li { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; background: #1a1a1a; -webkit-box-sizing: border-box; box-sizing: border-box; width: 48.5%; margin: 3% 0 0 3%; }
.contents .c_eight .c_i_list li:nth-child(2n+1) { margin: 3% 0 0; }
.contents .c_eight .c_i_list li:nth-child(2) { margin: 0 0 0 3%; }
.contents .c_eight .c_i_list li:nth-child(1) { margin: 0; }
.contents .c_eight .c_i_list a { display: block; }
.contents .c_eight .c_i_list figure { line-height: 0; }

.c_s { padding: 0; }

.common_banner { margin: 60px 0 0; }
.common_banner .wrap { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/3517790a59412e1b865e4b03e5f42652_d459ab1abba4f465e5d442f8c76dd22a.png) center center repeat; background-size: cover; max-width: 768px; padding: 42px 76px 44px; margin: 0 auto; -webkit-box-sizing: border-box; box-sizing: border-box; }
.common_banner figure { max-width: 336px; line-height: 0; }
.common_banner .a_text { margin: 23px 0 0; font-size: 28px; letter-spacing: 1.4px; color: #fff; }
.common_banner .a_btn { margin: 32px 0 0; }
.common_banner .a_btn a { display: block; padding: 22px 0; border: 2px solid #3a2; border-radius: 6px; font-size: 26px; letter-spacing: 1.8px; text-align: center; font-weight: bold; color: #3a2; }
.common_banner .a_btn a:hover { background: #3a2; opacity: 1; color: #fff; }

footer .wrap { background: none; padding: 31px 0 40px; }
footer .copy { margin: 0 40px 30px; }
footer .copy li { width: 100%; margin: 5px 0 0 0; line-height: 1.4; margin: 10px 0 0; font-size: 16px; color: #919191; }
footer .f_list { overflow: hidden; margin: 10px 40px 0; }
footer .f_list li { position: relative; float: left; margin: 0 10px 0 0; }
footer .f_list li a { display: block; padding: 0 12px 0 0; font-size: 16px; color: #919191; }
footer .f_list li:after { content: ' | '; position: absolute; top: 0; right: 0; color: #919191; }
footer .f_list li:last-child:after { content: ''; }
footer small { display: block; margin: 30px 40px 20px; font-size: 16px; letter-spacing: 1px; text-align: left; color: #919191; }

@media screen and (max-width: 1100px) { header { -webkit-box-sizing: border-box; box-sizing: border-box; }
  header .h_wrap .h_h { width: 89%; }
  header .h_wrap .h_kv { width: 100%; margin: 6% auto 0; } }
@media screen and (max-width: 768px) { .line { height: 25px; }
  .f_line { background: #fff; height: 45px; }
  .dn { display: none; }
  .wrap { padding: 0 4.5% 0; }
  .bottom_text { padding: 0 0 6%; font-size: calc(36vw/12); }
  .b_h { width: 61%; margin: 0 auto 9%; }
  header .logo { padding: 1.6% 0 1.6% 2.5%; }
  header .logo span { width: 21%; }
  header .h_wrap { padding: 4% 0 0; }
  header .h_wrap .h_h { width: 86%; }
  header .h_wrap .h_kv { width: 100%; margin: 6% auto 0; }
  .info { padding: 5.3% 0 5.5%; }
  .info .i_h { font-size: calc(33vw/12); line-height: 1.5; letter-spacing: 1.3px; }
  .info .i_btn { width: 70%; padding: 2.5% 0; margin: 5% auto 0; font-size: calc(36vw/12); letter-spacing: 1.3px; }
  .entry { padding: 5% 0 13%; }
  .entry .e_h { font-size: calc(32vw/12); }
  .entry .e_text { margin: 6% 0 0; font-size: calc(47vw/12); letter-spacing: 1.3px; }
  .entry .e_text span { width: 3%; }
  .entry .e_btn { width: 80%; margin: 10% auto 0; }
  .entry .e_btn a { padding: 6% 0; border-radius: 5px; letter-spacing: 1.3px; font-size: calc(48vw/12); }
  .contents .c_hline { margin: 9% 0 8.5%; font-size: calc(44vw/12); line-height: 1.5; letter-spacing: 1.4px; }
  .contents .c_hline span { font-size: calc(64vw/12); }
  .contents .c_pic { margin: 0 0 8%; font-size: calc(47vw/12); border-bottom: 1px solid #535353; letter-spacing: 1.3px; }
  .contents .c_pic span { padding: 1.3% 3%; margin: 0 3% 3.8% 0; border-radius: 30px; font-size: calc(40vw/12); }
  .contents .c_sec { margin: 4% 0 7%; }
  .contents .bagg { display: inline-block; padding: 1.1% 2.5%; margin: 4% 0 1% 0; border-radius: 4px; font-size: calc(29vw/12); letter-spacing: 1.3px; white-space: nowrap; }
  .contents .c_h { border-left: 4.5px solid #3a2; padding: 0 0 0 2.6%; line-height: 1.4; font-size: calc(50vw/12); }
  .contents .c_h span { letter-spacing: 1.3px; font-size: calc(52vw/12); }
  .contents .c_h_m { margin: 3% 0 0; }
  .contents .c_t { margin: 2.5% 0 0; font-size: calc(39vw/12); line-height: 1.3; }
  .contents .c_one { padding: 0 0 2.5%; margin: 1% 0 0; }
  .contents .c_one .c_t_item li { padding: 4% 0 0; }
  .contents .c_one .c_t_dl dd { width: 52%; }
  .contents .c_one .c_t_dl dt { width: 45%; padding: 0 0 0 3%; font-size: calc(40vw/12); line-height: 1.35; }
  .contents .c_one .c_t_dl dt .rank { font-size: calc(32vw/12); }
  .contents .c_one .c_t_dl dt .rank .num { margin: 0 0.3% 0 0; font-size: calc(47vw/12); }
  .contents .c_one .c_t_text { margin: 3% 0 0; font-size: calc(45vw/12); line-height: 1.4; }
  .contents .c_one .c_t_btn { margin: 3.5% 0 5%; }
  .contents .c_one .c_t_btn a { padding: 2.3% 0; border-radius: 5px; border: 1.5px solid #3a2; font-size: calc(48vw/12); }
  .contents .c_one .c_t_btn a:hover { background: #3a2; color: #fff; opacity: 1; }
  .contents .c_one .c_row li { padding: 3.5% 0; }
  .contents .c_one .c_row li:first-child { border-top: 1px solid #606060; }
  .contents .c_one .c_row .c_r_dl dd { width: 44%; }
  .contents .c_one .c_row .c_r_dl dt { width: 53%; padding: 0 0 0 3%; font-size: 23px; line-height: 1.35; }
  .contents .c_one .c_row .c_r_dl dt .rank { font-size: calc(34vw/12); }
  .contents .c_one .c_row .c_r_dl dt .rank .num { margin: 0 0.2% 0 0; font-size: calc(46vw/12); }
  .contents .c_one .c_t_text { margin: 3% 0 0; font-size: calc(41vw/12); line-height: 1.4; }
  .contents .c_two { padding: 0 0 2.5%; margin: 1% 0 0; }
  .contents .c_two .c_t_item li { padding: 4% 0 0; }
  .contents .c_two .c_t_dl dd { width: 52%; }
  .contents .c_two .c_t_dl dt { width: 45%; padding: 0 0 0 3%; font-size: calc(40vw/12); line-height: 1.35; }
  .contents .c_two .c_t_dl dt .rank { font-size: calc(32vw/12); }
  .contents .c_two .c_t_dl dt .rank .num { margin: 0 0.3% 0 0; font-size: calc(47vw/12); }
  .contents .c_two .c_t_text { margin: 3% 0 0; font-size: calc(45vw/12); line-height: 1.4; }
  .contents .c_two .c_t_btn { margin: 3.5% 0 5%; }
  .contents .c_two .c_t_btn a { padding: 2.3% 0; border-radius: 5px; border: 1.5px solid #3a2; font-size: calc(48vw/12); }
  .contents .c_two .c_t_btn a:hover { background: #3a2; color: #fff; opacity: 1; }
  .contents .c_two .c_row li { padding: 3.5% 0; }
  .contents .c_two .c_row li:first-child { border-top: 1px solid #606060; }
  .contents .c_two .c_row .c_r_dl dd { width: 44%; }
  .contents .c_two .c_row .c_r_dl dt { width: 53%; padding: 0 0 0 3%; font-size: 23px; line-height: 1.35; }
  .contents .c_two .c_row .c_r_dl dt .rank { font-size: calc(34vw/12); }
  .contents .c_two .c_row .c_r_dl dt .rank .num { margin: 0 0.2% 0 0; font-size: calc(46vw/12); }
  .contents .c_two .c_t_text { margin: 3% 0 0; font-size: calc(41vw/12); line-height: 1.4; }
  .contents .c_four { padding: 0 0 5%; margin: 1% 0 0; }
  .contents .c_four .c_f_item li { padding: 3.5% 0; }
  .contents .c_four .c_f_item .c_f_dl dd { width: 37%; }
  .contents .c_four .c_f_item .c_f_dl dt { width: 59.5%; margin: 0 0 0 3.5%; font-size: calc(36vw/12); line-height: 1.3; }
  .contents .c_three { padding: 0 0 5%; margin: 1% 0 0; }
  .contents .c_three .c_t_item li { padding: 4% 0 0; }
  .contents .c_three .c_t_dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .contents .c_three .c_t_dl dd { width: 52%; }
  .contents .c_three .c_t_dl dt { width: 45%; padding: 0 0 0 3%; font-size: calc(36vw/12); line-height: 1.35; }
  .contents .c_three .c_row li { padding: 3.5% 0; }
  .contents .c_three .c_row li:first-child { border-top: 1px solid #606060; }
  .contents .c_three .c_row .c_r_dl dd { width: 44%; }
  .contents .c_three .c_row .c_r_dl dt { width: 53%; padding: 0 0 0 3%; font-size: 23px; line-height: 1.35; }
  .contents .c_three .c_row .c_r_dl dt .rank { font-size: calc(32vw/12); }
  .contents .c_three .c_row .c_r_dl dt .rank .num { margin: 0 0.2% 0 0; font-size: calc(47vw/12); }
  .contents .c_three .c_t_text { margin: 3% 0 0; font-size: calc(41vw/12); line-height: 1.4; }
  .contents .c_three .c_t_btn { margin: 3.5% 0 5%; }
  .contents .c_three .c_t_btn a { padding: 2.3% 0; border-radius: 5px; border: 2px solid #3a2; font-size: calc(44vw/12); }
  .contents .c_three .c_t_btn a:hover { opacity: 1; }
  .contents .c_six { padding: 0 0 5%; margin: 1% 0 0; }
  .contents .c_six .c_s_item li { padding: 3% 0; }
  .contents .c_six .c_s_dl dd { width: 38%; }
  .contents .c_six .c_s_dl dt { width: 59%; padding: 0 0 0 3%; font-size: calc(36vw/12); line-height: 1.35; }
  .contents .c_six .c_s_dl dt .rank { font-size: calc(38vw/12); }
  .contents .c_six .c_s_dl dt .rank .num { margin: 0 0.2% 0 0; font-size: calc(42vw/12); }
  .contents .c_zwei { padding: 0 0 7%; margin: 5% 0 0; }
  .contents .c_zwei figure { line-height: 0; }
  .contents .c_zwei .c_z_h { margin: 1.5% 0 0; font-size: calc(29vw/12); line-height: 1.4; letter-spacing: 1.2px; }
  .contents .c_zwei .c_z_v { margin: 5.2% 0 0; font-size: calc(51vw/12); }
  .contents .c_zwei .c_z_item { margin: 5.5% 0 0; }
  .contents .c_zwei .c_z_item .z_ba { padding: 0.8% 2.2% 0.7%; margin: 0 0 0 2%; border-radius: 3px; font-size: calc(25vw/12); letter-spacing: 2px; line-height: 1; }
  .contents .c_zwei .c_z_item li { margin: 3% 0 0; }
  .contents .c_zwei .c_z_item li .c_z_t { padding: 0 0 0 6.5%; font-size: calc(41vw/12); }
  .contents .c_zwei .c_z_item li .c_z_t:before { content: ''; position: absolute; top: 0; left: 0; width: 3.8%; height: 100%; border-radius: 50%; }
  .contents .c_zwei .c_z_item li dl { letter-spacing: 1.2px; }
  .contents .c_zwei .c_z_item li dl dt { padding: 0 0 0 6.5%; font-size: calc(43vw/12); }
  .contents .c_zwei .c_z_item li dl dt:before { top: 10%; left: 0; width: 9%; height: 80%; }
  .contents .c_zwei .c_z_item li dl dd { margin: 1% 0 0 5%; font-size: calc(40vw/12); white-space: nowrap; }
  .contents .c_zwei .c_z_cau { margin: 3% 0 0 6%; font-size: calc(31vw/12); }
  .contents .c_zwei .c_z_btn { margin: 5.5% 0 0; }
  .contents .c_zwei .c_z_btn a { padding: 2.8% 0; border-radius: 5px; font-size: calc(51vw/12); letter-spacing: 1.5px; }
  .contents .c_zwei .c_z_no { margin: 7% 0 0; padding: 2.8% 0; border-radius: 5px; font-size: calc(51vw/12); letter-spacing: 1.5px; }
  .contents .c_zwei_short { padding: 0 0 6%; margin: 3.5% 0 0; }
  .contents .c_zwei_short .c_z_inner dd { width: 47%; line-height: 0; }
  .contents .c_zwei_short .c_z_inner dt { width: 50%; margin: 0 0 0 3%; font-size: calc(44vw/12); line-height: 1.3; }
  .contents .c_zwei_short .c_z_v { margin: 5% 0 0; font-size: calc(50vw/12); }
  .contents .c_zwei_short .c_z_item { margin: 6% 0 0; }
  .contents .c_zwei_short .c_z_item li { margin: 3% 0 0; }
  .contents .c_zwei_short .c_z_item li .c_z_t { padding: 0 0 0 6%; font-size: calc(42vw/12); }
  .contents .c_zwei_short .c_z_item li .c_z_t:before { content: ''; position: absolute; top: 0; left: 0; width: 3.8%; height: 100%; border-radius: 50%; }
  .contents .c_zwei_short .c_z_item li dl { letter-spacing: 1.2px; line-height: 1; }
  .contents .c_zwei_short .c_z_item li dl dt { width: 35%; padding: 0 0 0 6%; font-size: calc(42vw/12); }
  .contents .c_zwei_short .c_z_item li dl dt:before { top: 10%; left: 0; width: 9%; height: 80%; }
  .contents .c_zwei_short .c_z_item li dl dd { margin: 0.5% 0 0 5%; width: 65%; font-size: calc(40vw/12); }
  .contents .c_zwei_short .c_z_item .z_ba { padding: 0.8% 2.2% 0.7%; margin: 0 0 0 2%; border-radius: 3px; font-size: calc(25vw/12); letter-spacing: 2px; line-height: 1; }
  .contents .c_zwei_short .c_z_btn { margin: 5% 0 0; }
  .contents .c_zwei_short .c_z_btn a { padding: 2.5% 0; border-radius: 5px; font-size: calc(49vw/12); letter-spacing: 2px; }
  .contents .c_zwei_short .c_z_no { background: #c3c3c3; padding: 18px 0; margin: 42px 0 0; border-radius: 6px; text-align: center; font-size: 32px; letter-spacing: 2px; color: #fff; }
  .contents .c_12th { padding: 0 0 3%; margin: 5% 0 0; }
  .contents .c_12th figure { margin: 3% 0 0; }
  .contents .c_12th .c_12h { margin: 4% 0 0; font-size: calc(43vw/12); }
  .contents .c_12th .c_12t { margin: 2% 0 0 0; font-size: calc(38vw/12); line-height: 1.3; }
  .contents .c_12th .c_btn { margin: 6% 0 6%; }
  .contents .c_12th .c_btn a { padding: 2.3% 0; border-radius: 5px; border: 2px solid #3a2; font-size: calc(44vw/12); }
  .contents .c_12th .c_btn a:hover { background: none; color: #3a2; }
  .contents .c_12th .c12_item li { padding: 4% 0; }
  .contents .c_12th .c_dl dt { padding: 0 0 0 3%; font-size: calc(38vw/12); line-height: 1.35; }
  .contents .c_seven { padding: 0 0 5%; margin: 5% 0 0; }
  .contents .c_seven li .c_text { padding: 5% 0 26%; font-size: calc(41vw/12); line-height: 1.4; }
  .contents .c_seven li .c_n_btn { width: 100%; }
  .contents .c_seven li .c_n_btn a { padding: 5% 0; border-radius: 3px; font-size: calc(39vw/12); }
  .contents .c_five { padding: 0 0 3%; }
  .contents .c_five .c_f_li a { padding: 3.7% 0; }
  .contents .c_five .c_f_li dd { width: 48%; }
  .contents .c_five .c_f_li dt { width: 48%; padding: 0 0 0 4%; font-size: calc(41vw/12); line-height: 1.35; }
  .contents .c_eight { padding: 0 0 0; }
  .contents .c_eight .c_i_list { margin: 6% 0 0; }
  .contents .c_eight .c_i_list li { margin: 3% 0 0 3%; }
  .contents .c_eight .c_i_list li:nth-child(2n+1) { margin: 3% 0 0; }
  .contents .c_eight .c_i_list li:nth-child(2) { margin: 0 0 0 3%; }
  .contents .c_eight .c_i_list li:nth-child(1) { margin: 0; }
  .contents .twelve { padding: 0 0 4%; }
  .contents .twelve .tw_h { line-height: 1.4; font-size: calc(50vw/12); }
  .contents .twelve .tw_t { margin: 2% 0 0; font-size: calc(38vw/12); line-height: 1.4; }
  .contents .twelve .tw_btn { margin: 6% 0 0; }
  .contents .twelve .tw_btn a { padding: 3% 0; border: 2px solid #3a2; border-radius: 5px; font-size: calc(48vw/12); }
  .contents .twelve .tw_btn a:hover { background: none; opacity: 0.8; color: #3a2; }
  .contents .twelve .large { margin: 3.5% 0 0; }
  .contents .twelve .thumb { margin: 2.5% 0 0; }
  .contents .twelve .thumb li { margin: 0 0 0 2%; }
  .contents .twelve .thumb li:first-child { margin: 0; }
  .contents .twelve .thumb li .active { border: 3px solid #3a2; }
  .contents .twelve .thumb li .active img { margin: -1.2px 0; opacity: .8; }
  .c_s { padding: 0; }
  .common_banner { margin: 8% 0 0; }
  .common_banner .wrap { padding: 6.4% 14.4% 6.5%; }
  .common_banner figure { width: 64%; }
  .common_banner .a_text { margin: 3.5% 0 0; font-size: calc(43vw/12); letter-spacing: 1.4px; }
  .common_banner .a_btn { margin: 6.2% 0 0; }
  .common_banner .a_btn a { padding: 4.5% 0; border: 1.5px solid #3a2; border-radius: 5px; font-size: calc(41vw/12); letter-spacing: 1.6px; }
  .common_banner .a_btn a:hover { background: none; opacity: .8; color: #3a2; }
  footer { padding: 0 0 3%; }
  footer .wrap { padding: 5% 0 5%; margin: 0 5%; }
  footer .copy { margin: 0 0 5%; }
  footer .copy li { margin: 0.7% 0 0 0; line-height: 1.3; font-size: calc(24vw/12); }
  footer .f_list { margin: 1.8% 0 0; }
  footer .f_list li { margin: 0 10px 0 0; }
  footer .f_list li a { padding: 0 12px 0 0; font-size: calc(26vw/12); white-space: nowrap; }
  footer .f_list li:after { content: ' | '; position: absolute; top: 0; right: 0; }
  footer .f_list li:last-child:after { content: ''; }
  footer small { margin: 5% 0 0; font-size: calc(26vw/12); letter-spacing: 1.3px; }
  .pc { display: block; }
  .sp { display: none; } }
@media screen and (max-width: 480px) { .line { height: 10px; }
  .f_line { background: #fff; height: 31px; }
  .dn { display: none; }
  .wrap { padding: 0 4.3% 0; margin: 0; }
  .pc { display: none; }
  .sp { display: block; }
  header .wrap { padding: 0; margin: 0; }
  header .logo { padding: 1.6% 0 1.6% 2.5%; }
  header .logo span { width: 21%; }
  header .logo .tag { padding: 1.9% 0 0 0; font-size: calc(39vw/12); }
  header .logo .tag span { margin: 0 0 0 -7%; font-size: calc(42vw/12); }
  .info { padding: 4.7% 0 4.9%; }
  .info .i_h { font-size: calc(37vw/12); line-height: 1.5; letter-spacing: 1.3px; }
  .info .i_btn { width: 69%; padding: 2.5% 0; margin: 5% auto 0; font-size: calc(38vw/12); letter-spacing: 1.3px; }
  .entry { padding: 5% 0 13%; }
  .entry .e_h { font-size: calc(34vw/12); }
  .entry .e_text { margin: 6% 0 0; font-size: calc(49vw/12); letter-spacing: 1.3px; }
  .entry .e_text span { width: 3%; }
  .entry .e_btn { width: 80%; margin: 10% auto 0; }
  .entry .e_btn a { padding: 6% 0; border-radius: 4px; letter-spacing: 1.3px; font-size: calc(50vw/12); }
  .contents .c_hline { margin: 7% 0 7.5%; font-size: calc(44vw/12); line-height: 1.5; letter-spacing: 1.4px; }
  .contents .c_hline span { font-size: calc(69vw/12); }
  .contents .c_pic { margin: 0 0 8%; font-size: calc(47vw/12); border-bottom: 1px solid #535353; letter-spacing: 1.3px; }
  .contents .c_pic span { padding: 1.7% 3%; margin: 0 3% 2.8% 0; border-radius: 30px; font-size: calc(40vw/12); }
  .contents .c_sec { margin: 3% 0 5%; }
  .contents .bagg { display: inline-block; padding: 0.6% 2.5%; margin: 4% 0 1% 0; border-radius: 3px; font-size: calc(31vw/12); letter-spacing: 1.3px; }
  .contents .c_h { border-left: 3px solid #3a2; padding: 0 0 0 2.6%; line-height: 1.4; font-size: calc(50vw/12); }
  .contents .c_h span { letter-spacing: 1.3px; font-size: calc(52vw/12); }
  .contents .c_h_m { margin: 3% 0 0; }
  .contents .c_t { margin: 3% 0 0; font-size: calc(41vw/12); line-height: 1.4; }
  .contents .c_one { padding: 0 0 2.5%; margin: 1% 0 0; }
  .contents .c_one .c_t_item li { padding: 4% 0 0; }
  .contents .c_one .c_t_dl dd { width: 52%; }
  .contents .c_one .c_t_dl dt { width: 45%; padding: 0 0 0 3%; font-size: calc(42vw/12); line-height: 1.35; }
  .contents .c_one .c_t_dl dt .rank { font-size: calc(34vw/12); }
  .contents .c_one .c_t_dl dt .rank .num { margin: 0 0.3% 0 0; font-size: calc(49vw/12); }
  .contents .c_one .c_t_text { margin: 3% 0 0; font-size: calc(47vw/12); line-height: 1.4; }
  .contents .c_one .c_t_btn { margin: 3.5% 0 5%; }
  .contents .c_one .c_t_btn a { padding: 2.3% 0; border-radius: 5px; border: 1.5px solid #3a2; font-size: calc(50vw/12); }
  .contents .c_one .c_t_btn a:hover { background: #3a2; color: #fff; opacity: 1; }
  .contents .c_one .c_row li { padding: 3.5% 0; }
  .contents .c_one .c_row li:first-child { border-top: 1px solid #606060; }
  .contents .c_one .c_row .c_r_dl dd { width: 44%; }
  .contents .c_one .c_row .c_r_dl dt { width: 53%; padding: 0 0 0 3%; font-size: 23px; line-height: 1.35; }
  .contents .c_one .c_row .c_r_dl dt .rank { font-size: calc(36vw/12); }
  .contents .c_one .c_row .c_r_dl dt .rank .num { margin: 0 0.2% 0 0; font-size: calc(48vw/12); }
  .contents .c_one .c_t_text { margin: 3% 0 0; font-size: calc(43vw/12); line-height: 1.4; }
  .contents .c_two { padding: 0 0 2.5%; margin: 1% 0 0; }
  .contents .c_two .c_t_item li { padding: 4% 0 0; }
  .contents .c_two .c_t_dl dd { width: 52%; }
  .contents .c_two .c_t_dl dt { width: 45%; padding: 0 0 0 3%; font-size: calc(42vw/12); line-height: 1.35; }
  .contents .c_two .c_t_dl dt .rank { font-size: calc(34vw/12); }
  .contents .c_two .c_t_dl dt .rank .num { margin: 0 0.3% 0 0; font-size: calc(49vw/12); }
  .contents .c_two .c_t_text { margin: 3% 0 0; font-size: calc(47vw/12); line-height: 1.4; }
  .contents .c_two .c_t_btn { margin: 3.5% 0 5%; }
  .contents .c_two .c_t_btn a { padding: 2.3% 0; border-radius: 5px; border: 1.5px solid #3a2; font-size: calc(50vw/12); }
  .contents .c_two .c_t_btn a:hover { background: #3a2; color: #fff; opacity: 1; }
  .contents .c_two .c_row li { padding: 3.5% 0; }
  .contents .c_two .c_row li:first-child { border-top: 1px solid #606060; }
  .contents .c_two .c_row .c_r_dl dd { width: 44%; }
  .contents .c_two .c_row .c_r_dl dt { width: 53%; padding: 0 0 0 3%; font-size: 23px; line-height: 1.35; }
  .contents .c_two .c_row .c_r_dl dt .rank { font-size: calc(36vw/12); }
  .contents .c_two .c_row .c_r_dl dt .rank .num { margin: 0 0.2% 0 0; font-size: calc(48vw/12); }
  .contents .c_two .c_t_text { margin: 3% 0 0; font-size: calc(43vw/12); line-height: 1.4; }
  .contents .c_three { padding: 0 0 2.5%; margin: 1% 0 0; }
  .contents .c_three .c_t_item li { padding: 4% 0 0; }
  .contents .c_three .c_t_dl dd { width: 52%; }
  .contents .c_three .c_t_dl dt { width: 45%; padding: 0 0 0 3%; font-size: calc(38vw/12); line-height: 1.35; }
  .contents .c_three .c_row li { padding: 3.5% 0; }
  .contents .c_three .c_row li:first-child { border-top: 1px solid #606060; }
  .contents .c_three .c_row .c_r_dl dd { width: 44%; }
  .contents .c_three .c_row .c_r_dl dt { width: 53%; padding: 0 0 0 3%; font-size: calc(42vw/12); line-height: 1.35; }
  .contents .c_three .c_row .c_r_dl dt .rank { font-size: calc(36vw/12); }
  .contents .c_three .c_row .c_r_dl dt .rank .num { margin: 0 0.2% 0 0; font-size: calc(48vw/12); }
  .contents .c_three .c_t_text { margin: 3% 0 0; font-size: calc(43vw/12); line-height: 1.4; }
  .contents .c_three .c_t_btn { margin: 3.5% 0 5%; }
  .contents .c_three .c_t_btn a { padding: 2.3% 0; border-radius: 5px; border: 1.5px solid #3a2; font-size: calc(46vw/12); }
  .contents .c_four { padding: 0 0 5%; margin: 1% 0 0; }
  .contents .c_four .c_f_item li { padding: 3.5% 0; }
  .contents .c_four .c_f_item .c_f_dl dd { width: 37%; }
  .contents .c_four .c_f_item .c_f_dl dt { width: 59.5%; margin: 0 0 0 3.5%; font-size: calc(38vw/12); line-height: 1.35; }
  .contents .c_zwei { padding: 0 0 6%; margin: 5% 0 0; }
  .contents .c_zwei figure { line-height: 0; }
  .contents .c_zwei .c_z_h { margin: 1.5% 0 0; font-size: calc(31vw/12); line-height: 1.4; letter-spacing: 1.2px; }
  .contents .c_zwei .c_z_v { margin: 5.2% 0 0; font-size: calc(53vw/12); }
  .contents .c_zwei .c_z_item { margin: 5.5% 0 0; }
  .contents .c_zwei .c_z_item .z_ba { padding: 0.8% 1.8% 0.7%; margin: 0 0 0 2%; border-radius: 3px; font-size: calc(27vw/12); letter-spacing: 1.5px; }
  .contents .c_zwei .c_z_item li { margin: 3% 0 0; }
  .contents .c_zwei .c_z_item li .c_z_t { padding: 0 0 0 6.5%; font-size: calc(43vw/12); }
  .contents .c_zwei .c_z_item li .c_z_t:before { content: ''; position: absolute; top: 0; left: 0; width: 4%; height: 100%; border-radius: 50%; }
  .contents .c_zwei .c_z_item li dl { letter-spacing: 1.2px; }
  .contents .c_zwei .c_z_item li dl dt { padding: 0 0 0 5.5%; font-size: calc(37vw/12); }
  .contents .c_zwei .c_z_item li dl dt:before { content: ''; position: absolute; top: 6%; left: 0; width: 10%; height: 100%; border-radius: 50%; }
  .contents .c_zwei .c_z_item li dl dd { margin: 0.2% 0 0 6%; font-size: calc(38vw/12); }
  .contents .c_zwei .c_z_cau { margin: 3% 0 0 5%; font-size: calc(33vw/12); }
  .contents .c_zwei .c_z_btn { margin: 5% 0 0; }
  .contents .c_zwei .c_z_btn a { padding: 2.8% 0; border-radius: 4px; font-size: calc(53vw/12); letter-spacing: 1.5px; }
  .contents .c_zwei .c_z_no { margin: 7% 0 0; padding: 2.8% 0; border-radius: 4px; font-size: calc(53vw/12); letter-spacing: 1.5px; }
  .contents .c_six { padding: 0 0 5%; margin: 1% 0 0; }
  .contents .c_six .c_s_item li { padding: 3% 0; }
  .contents .c_six .c_s_dl dd { width: 38%; }
  .contents .c_six .c_s_dl dt { width: 59%; padding: 0 0 0 3%; font-size: calc(38vw/12); line-height: 1.35; }
  .contents .c_six .c_s_dl dt .rank { font-size: calc(40vw/12); }
  .contents .c_six .c_s_dl dt .rank .num { margin: 0 0.2% 0 0; font-size: calc(44vw/12); }
  .contents .c_zwei_short { padding: 0 0 4.5%; margin: 3.5% 0 0; }
  .contents .c_zwei_short .c_z_inner dd { width: 47%; line-height: 0; }
  .contents .c_zwei_short .c_z_inner dt { width: 50%; margin: 0 0 0 3%; font-size: calc(46vw/12); line-height: 1.3; }
  .contents .c_zwei_short .c_z_v { margin: 5% 0 0; font-size: calc(52vw/12); }
  .contents .c_zwei_short .c_z_item { margin: 6% 0 0; }
  .contents .c_zwei_short .c_z_item li { margin: 3% 0 0; }
  .contents .c_zwei_short .c_z_item li .c_z_t { padding: 0 0 0 6%; font-size: calc(44vw/12); }
  .contents .c_zwei_short .c_z_item li .c_z_t:before { content: ''; position: absolute; top: 0; left: 0; width: 3.8%; height: 100%; border-radius: 50%; }
  .contents .c_zwei_short .c_z_item li dl { letter-spacing: 1.2px; line-height: 1; }
  .contents .c_zwei_short .c_z_item li dl dt { width: 35%; padding: 0 0 0 5%; font-size: calc(44vw/12); }
  .contents .c_zwei_short .c_z_item li dl dt:before { top: 10%; left: 0; width: 9%; height: 80%; }
  .contents .c_zwei_short .c_z_item li dl dd { margin: 0.5% 0 0 4%; width: 65%; font-size: calc(42vw/12); }
  .contents .c_zwei_short .c_z_item .z_ba { padding: 0.8% 1.8% 0.7%; margin: 0 0 0 2%; border-radius: 3px; font-size: calc(27vw/12); letter-spacing: 2px; line-height: 1; }
  .contents .c_zwei_short .c_z_btn { margin: 5% 0 0; }
  .contents .c_zwei_short .c_z_btn a { padding: 2.6% 0; border-radius: 3px; font-size: calc(50vw/12); letter-spacing: 2px; }
  .contents .c_zwei_short .c_z_no { background: #c3c3c3; padding: 18px 0; margin: 42px 0 0; border-radius: 5px; text-align: center; font-size: 32px; letter-spacing: 2px; color: #fff; }
  .contents .c_12th { padding: 0 0 3%; margin: 5% 0 0; }
  .contents .c_12th figure { margin: 3% 0 0; }
  .contents .c_12th .c_12h { margin: 4% 0 0; font-size: calc(47vw/12); }
  .contents .c_12th .c_12t { margin: 2% 0 0 0; font-size: calc(42vw/12); line-height: 1.3; }
  .contents .c_12th .c_btn { margin: 6% 0 6%; }
  .contents .c_12th .c_btn a { padding: 2.3% 0; border-radius: 5px; border: 1.5px solid #3a2; font-size: calc(48vw/12); }
  .contents .c_12th .c12_item li { padding: 4% 0; }
  .contents .c_12th .c_dl dt { padding: 0 0 0 3%; font-size: calc(40vw/12); line-height: 1.34; }
  .contents .c_seven { padding: 0 0 5%; margin: 5% 0 0; }
  .contents .c_seven li .c_text { padding: 5% 0 26%; font-size: calc(42vw/12); line-height: 1.4; }
  .contents .c_seven li .c_n_btn { position: absolute; bottom: 0; left: 0; width: 100%; }
  .contents .c_seven li .c_n_btn a { padding: 5% 0; border-radius: 3px; font-size: calc(39vw/12); }
  .contents .c_five { padding: 0 0 3%; }
  .contents .c_five .c_f_li a { padding: 3.7% 0; }
  .contents .c_five .c_f_li dd { width: 48%; }
  .contents .c_five .c_f_li dt { width: 48%; padding: 0 0 0 4%; font-size: calc(43vw/12); line-height: 1.35; }
  .contents .c_eight { padding: 0 0 0; }
  .contents .c_eight .c_i_list { margin: 6% 0 0; }
  .contents .c_eight .c_i_list li { margin: 3% 0 0 3%; }
  .contents .c_eight .c_i_list li:nth-child(2n+1) { margin: 3% 0 0; }
  .contents .c_eight .c_i_list li:nth-child(2) { margin: 0 0 0 3%; }
  .contents .c_eight .c_i_list li:nth-child(1) { margin: 0; }
  .contents .twelve { padding: 0 0 4%; }
  .contents .twelve .tw_h { border-left: 3px solid #9e853c; padding: 0 0 0 2.6%; margin: 3% 0 0; line-height: 1.35; font-size: calc(52vw/12); }
  .contents .twelve .tw_t { margin: 2% 0 0; font-size: calc(40vw/12); line-height: 1.4; }
  .contents .twelve .tw_btn { margin: 6% 0 0; }
  .contents .twelve .tw_btn a { padding: 3% 0; border: 1.5px solid #3a2; border-radius: 4px; font-size: calc(50vw/12); }
  .contents .twelve .large { margin: 3% 0 0; }
  .contents .twelve .thumb { margin: 2.5% 0 0; }
  .contents .twelve .thumb li { margin: 0 0 0 2%; }
  .contents .twelve .thumb li:first-child { margin: 0; }
  .contents .twelve .thumb li .active { border: 2px solid #3a2; }
  .contents .twelve .thumb li .active img { margin: -1.1px 0; opacity: .8; }
  .c_s { padding: 0; }
  .common_banner { margin: 6% 0 0; }
  .common_banner .wrap { padding: 6.4% 14.4% 6.5%; }
  .common_banner figure { width: 64%; }
  .common_banner .a_text { margin: 3.5% 0 0; font-size: calc(45vw/12); letter-spacing: 1.4px; }
  .common_banner .a_btn { margin: 6.2% 0 0; }
  .common_banner .a_btn a { padding: 4.5% 0; border: 1px solid #3a2; border-radius: 5px; font-size: calc(43vw/12); letter-spacing: 1.6px; }
  .common_banner .a_btn a:hover { background: none; opacity: .8; color: #3a2; }
  footer { padding: 0 0 3%; }
  footer .wrap { padding: 5% 0 5%; margin: 0 5%; }
  footer .copy { margin: 0 0 5%; }
  footer .copy li { margin: 0.7% 0 0 0; line-height: 1.3; font-size: calc(26vw/12); }
  footer .f_list { margin: 1.8% 0 0; }
  footer .f_list li { margin: 0 10px 0 0; }
  footer .f_list li a { padding: 0 12px 0 0; font-size: calc(28vw/12); }
  footer .f_list li:after { content: ' | '; position: absolute; top: 0; right: 0; }
  footer .f_list li:last-child:after { content: ''; }
  footer small { margin: 5% 0 0; font-size: calc(28vw/12); letter-spacing: 1.3px; } }
@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@-webkit-keyframes item_list { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }
.ani_list01 { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 1.5s 1 forwards; }

.ani_list01 { opacity: 0; }
