* { margin: 0; padding: 0; }

body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000; }
body li { list-style: none; }

a { -webkit-transition: .3s; transition: .3s; text-decoration: none; }
a:hover { text-decoration: none; opacity: .8; }

img { width: 100%; }

.wrap { max-width: 700px; margin: 0 auto; }

.line { height: 40px; }

header { -webkit-box-sizing: border-box; box-sizing: border-box; }
header .logo { overflow: hidden; background: #000; padding: 13px 0 14px 18px; line-height: 0; }
header .logo span { float: left; display: block; max-width: 151px; }
header .logo .tag { float: right; padding: 15px 18px 0 0; font-size: 23px; letter-spacing: 1.2px; }
header .logo .tag span { display: inline-block; margin: 0 0 0 -20px; font-size: 27px; }

.entry { padding: 40px 0 80px; }
.entry .wrap { max-width: 680px; margin: 0 auto; }
.entry .e_h { font-size: 20px; font-weight: normal; color: #ababab; }
.entry .e_text { margin: 40px 0 0; font-size: 31px; font-weight: bold; letter-spacing: 1.3px; color: #fff; }
.entry .e_text span { display: inline-block; width: 25px; }
.entry .e_btn { max-width: 530px; margin: 70px auto 0; }
.entry .e_btn a { display: block; background: #3a2; padding: 28px 0; text-align: center; border-radius: 5px; letter-spacing: 1.3px; font-size: 31px; font-weight: bold; color: #fff; }

.contents .c_h { padding: 0 0 0 20px; border-left: 6px solid #3a2; font-weight: bold; font-size: 31px; line-height: 1.5; }
.contents .c_h_m { margin: 35px 0 0; }
.contents .c_t_m { margin: 20px 0 0; }
.contents .movie_inner { position: relative; width: 100%; padding-top: 56.25%; margin: 40px auto 50px; }
.contents .movie_inner iframe { position: absolute; z-index: 5; left: 0; top: 0; width: 100% !important; height: 100% !important; }
.contents .c_t { line-height: 1.4; font-size: 28px; color: #979797; }
.contents .c_hp { margin: 89px 0 0; font-size: 28px; color: #979797; }
.contents .c_hp_link { margin: 12px 0 96px; }
.contents .c_hp_link a { display: inline-block; font-size: 28px; color: #33aa22; }
.contents .c_lar { padding: 0 0 60px; margin: 30px 0 0; border-bottom: 1px solid #606060; }
.contents figure { line-height: 0; }
.contents .c_title { margin: 30px 0 0; font-size: 32px; letter-spacing: 1.3px; }
.contents .c_t_t { margin: 19px 0 0; font-size: 22px; letter-spacing: 1.3px; line-height: 1.5; color: #979797; }
.contents .c_btn { margin: 36px 0 0; }
.contents .c_btn a { display: block; background: #3a2; padding: 20px 0; border-radius: 4px; text-align: center; letter-spacing: 1.3px; font-size: 30px; color: #fff; }
.contents .c_item { padding: 4px 0 0; }
.contents .c_item li { padding: 58px 0; border-bottom: 1px solid #606060; }
.contents .c_item li dl { overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.contents .c_item li dd { width: 54%; line-height: 0; }
.contents .c_item li dt { width: 41%; padding: 0 0 0 5%; line-height: 1.5; font-weight: bold; letter-spacing: 1.3px; font-size: 23px; color: #fff; }
.contents .c_item li .c_i_t { margin: 19px 0 0; font-size: 22px; letter-spacing: 1.3px; line-height: 1.5; color: #979797; }
.contents .c_official { margin: 60px 0 0; text-align: right; }
.contents .c_official a { display: block; font-size: 21px; line-height: 1.4; color: #3a2; }
.contents .c_img { padding: 60px 0 0; }
.contents .c_img .c_i_list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; margin: 40px 0 0; }
.contents .c_img .c_i_list li { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; background: #1a1a1a; -webkit-box-sizing: border-box; box-sizing: border-box; width: 48.5%; border-radius: 6px; margin: 3% 0 0 3%; }
.contents .c_img .c_i_list li:nth-child(2n+1) { margin: 3% 0 0; }
.contents .c_img .c_i_list li:nth-child(2) { margin: 0 0 0 3%; }
.contents .c_img .c_i_list li:nth-child(1) { margin: 0; }
.contents .c_img .c_i_list a { display: block; }
.contents .c_img .c_i_list figure { line-height: 0; }
.contents .c_box { padding: 60px 0 0; }
.contents .c_box .c_list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; margin: 40px 0 0; }
.contents .c_box .c_list li { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; background: #1a1a1a; -webkit-box-sizing: border-box; box-sizing: border-box; width: 48.5%; border-radius: 6px; margin: 3% 0 0 3%; }
.contents .c_box .c_list li:nth-child(2n+1) { margin: 3% 0 0; }
.contents .c_box .c_list li:nth-child(2) { margin: 0 0 0 3%; }
.contents .c_box .c_list li:nth-child(1) { margin: 0; }
.contents .c_box .c_list a { display: block; border-radius: 6px; }
.contents .c_box .c_list figure { line-height: 0; }
.contents .c_box .c_list figure img { border-radius: 6px 6px 0 0; }
.contents .c_box .c_list .c_l_t { padding: 30px 18px; line-height: 1.4; font-size: 23px; color: #fff; }
.contents .c_bt { max-width: 421px; margin: 100px auto 0; }

.c_banner { margin: 80px 0 0; }
.c_banner a { position: relative; display: block; background: #1a1a1a; padding: 20px 35px; border-radius: 6px; line-height: 1.4; font-size: 28px; color: #fff; }
.c_banner a:before { content: ''; position: absolute; top: 40%; right: 3%; background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/550207/f7a25044cace23683a73c2b7122e6389_88c93a112dd4c1a084fd2a35ecae1410.png) 0 0 no-repeat; background-size: 16px 29px; width: 16px; height: 29px; }
.c_banner a span { display: block; font-weight: bold; font-size: 26px; color: #3a2; }

.common_banner { margin: 60px 0 0; }
.common_banner .wrap { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/3517790a59412e1b865e4b03e5f42652_d459ab1abba4f465e5d442f8c76dd22a.png) center center repeat; background-size: cover; max-width: 768px; padding: 42px 76px 44px; margin: 0 auto; -webkit-box-sizing: border-box; box-sizing: border-box; }
.common_banner figure { max-width: 336px; line-height: 0; }
.common_banner .a_text { margin: 23px 0 0; font-size: 28px; letter-spacing: 1.4px; color: #fff; }
.common_banner .a_btn { margin: 32px 0 0; }
.common_banner .a_btn a { display: block; padding: 22px 0; border: 2px solid #3a2; border-radius: 6px; font-size: 26px; letter-spacing: 1.8px; text-align: center; font-weight: bold; color: #3a2; }
.common_banner .a_btn a:hover { background: #3a2; opacity: 1; color: #fff; }

footer .wrap { background: none; padding: 31px 0 40px; }
footer .copy { margin: 0 40px 30px; }
footer .copy li { width: 100%; margin: 5px 0 0 0; line-height: 1.4; margin: 10px 0 0; font-size: 16px; color: #919191; }
footer .f_list { overflow: hidden; margin: 10px 40px 0; }
footer .f_list li { position: relative; float: left; margin: 0 10px 0 0; }
footer .f_list li a { display: block; padding: 0 12px 0 0; font-size: 16px; color: #919191; }
footer .f_list li:after { content: ' | '; position: absolute; top: 0; right: 0; color: #919191; }
footer .f_list li:last-child:after { content: ''; }
footer small { display: block; margin: 30px 40px 20px; font-size: 16px; letter-spacing: 1px; text-align: left; color: #919191; }

@media screen and (max-width: 768px) { .line { height: 25px; }
  .f_line { background: #fff; height: 45px; }
  .dn { display: none; }
  .wrap { padding: 0 4.5% 0; margin: 0; }
  .bottom_text { padding: 0 0 6%; font-size: calc(36vw/12); }
  .b_h { width: 61%; margin: 0 auto 9%; }
  header .wrap { padding: 0; }
  header .logo { padding: 1.6% 0 1.6% 2.5%; }
  header .logo span { width: 21%; }
  header .logo .tag { padding: 1.9% 1.8% 0 0; font-size: calc(37vw/12); }
  .entry { padding: 5% 0 13%; }
  .entry .e_h { font-size: calc(32vw/12); }
  .entry .e_text { margin: 6% 0 0; font-size: calc(47vw/12); letter-spacing: 1.3px; }
  .entry .e_text span { width: 3%; }
  .entry .e_btn { width: 80%; margin: 10% auto 0; }
  .entry .e_btn a { padding: 6% 0; border-radius: 5px; letter-spacing: 1.3px; font-size: calc(48vw/12); }
  .contents .c_h { padding: 0 0 0 2.5%; border-left: 5px solid #3a2; font-size: calc(50vw/12); line-height: 1.45; }
  .contents .c_h_m { margin: 3.5% 0 0; }
  .contents .c_t_m { margin: 2% 0 0; }
  .contents .movie_inner { margin: 6% auto 7%; }
  .contents .c_t { line-height: 1.4; font-size: calc(44vw/12); }
  .contents .c_hp { margin: 13% 0 0; font-size: calc(44vw/12); }
  .contents .c_hp_link { margin: 2% 0 14%; }
  .contents .c_hp_link a { font-size: calc(44vw/12); }
  .contents .c_lar { padding: 0 0 9%; margin: 4.5% 0 0; }
  .contents .c_title { margin: 4.5% 0 0; font-size: calc(50vw/12); letter-spacing: 1.35px; }
  .contents .c_t_t { margin: 3% 0 0; font-size: calc(35vw/12); letter-spacing: 1.3px; line-height: 1.5; }
  .contents .c_btn { margin: 5% 0 0; }
  .contents .c_btn a { padding: 3% 0; border-radius: 4px; letter-spacing: 1.3px; font-size: calc(47vw/12); }
  .contents .c_item { padding: 0.5% 0 0; }
  .contents .c_item li { padding: 8% 0; }
  .contents .c_item li dt { line-height: 1.5; letter-spacing: 1.3px; font-size: calc(38vw/12); }
  .contents .c_item li .c_i_t { margin: 3% 0 0; font-size: calc(34vw/12); letter-spacing: 1.3px; line-height: 1.5; }
  .contents .c_official { margin: 9% 0 0; }
  .contents .c_official a { font-size: calc(33vw/12); line-height: 1.4; }
  .contents .c_img { padding: 8% 0 0; }
  .contents .c_img .c_i_list { margin: 6% 0 0; }
  .contents .c_img .c_i_list li { border-radius: 5px; margin: 3% 0 0 3%; }
  .contents .c_img .c_i_list li:nth-child(2n+1) { margin: 3% 0 0; }
  .contents .c_img .c_i_list li:nth-child(2) { margin: 0 0 0 3%; }
  .contents .c_img .c_i_list li:nth-child(1) { margin: 0; }
  .contents .c_box { padding: 8% 0 0; }
  .contents .c_box .c_list { margin: 6% 0 0; }
  .contents .c_box .c_list li { border-radius: 5px; margin: 3% 0 0 3%; }
  .contents .c_box .c_list li:nth-child(2n+1) { margin: 3% 0 0; }
  .contents .c_box .c_list li:nth-child(2) { margin: 0 0 0 3%; }
  .contents .c_box .c_list li:nth-child(1) { margin: 0; }
  .contents .c_box .c_list a { display: block; border-radius: 5px; }
  .contents .c_box .c_list figure { line-height: 0; }
  .contents .c_box .c_list figure img { border-radius: 5px 5px 0 0; }
  .contents .c_box .c_list .c_l_t { padding: 8.5% 5.5%; line-height: 1.4; font-size: calc(36vw/12); }
  .contents .c_bt { width: 63%; margin: 14.5% auto 0; }
  .c_banner { margin: 12% 0 0; }
  .c_banner a { padding: 3% 5%; border-radius: 5px; line-height: 1.45; font-size: calc(45vw/12); }
  .c_banner a:before { top: 41%; right: 3%; background-size: 13px 23px; width: 13px; height: 23px; }
  .c_banner a span { font-size: calc(40vw/12); }
  .common_banner .wrap { padding: 6.4% 14.4% 6.5%; }
  .common_banner figure { width: 64%; }
  .common_banner .a_text { margin: 3.5% 0 0; font-size: calc(43vw/12); letter-spacing: 1.4px; }
  .common_banner .a_btn { margin: 6.2% 0 0; }
  .common_banner .a_btn a { padding: 4.5% 0; border: 1.5px solid #3a2; border-radius: 5px; font-size: calc(41vw/12); letter-spacing: 1.6px; }
  .common_banner .a_btn a:hover { background: none; opacity: .8; color: #3a2; }
  footer { padding: 0 0 3%; }
  footer .wrap { padding: 5% 0 5%; margin: 0 5%; }
  footer .copy { margin: 0 0 5%; }
  footer .copy li { margin: 0.7% 0 0 0; line-height: 1.3; font-size: calc(24vw/12); }
  footer .f_list { margin: 1.8% 0 0; }
  footer .f_list li { margin: 0 10px 0 0; }
  footer .f_list li a { padding: 0 12px 0 0; font-size: calc(26vw/12); white-space: nowrap; }
  footer .f_list li:after { content: ' | '; position: absolute; top: 0; right: 0; }
  footer .f_list li:last-child:after { content: ''; }
  footer small { margin: 5% 0 0; font-size: calc(26vw/12); letter-spacing: 1.3px; } }
@media screen and (max-width: 480px) { .line { height: 10px; }
  .f_line { background: #fff; height: 31px; }
  .dn { display: none; }
  .wrap { padding: 8% 3% 0; margin: 0 3%; }
  header .wrap { padding: 0; }
  header .logo { padding: 1.6% 0 1.6% 2.5%; }
  header .logo span { width: 21%; }
  header .logo .tag { padding: 1.9% 1.8% 0 0; font-size: calc(39vw/12); }
  .entry { padding: 5% 0 13%; }
  .entry .e_h { font-size: calc(34vw/12); }
  .entry .e_text { margin: 6% 0 0; font-size: calc(49vw/12); letter-spacing: 1.3px; }
  .entry .e_text span { width: 3%; }
  .entry .e_btn { width: 80%; margin: 10% auto 0; }
  .entry .e_btn a { padding: 6% 0; border-radius: 4px; letter-spacing: 1.3px; font-size: calc(50vw/12); }
  .contents .c_h { padding: 0 0 0 2.5%; border-left: 5px solid #3a2; font-size: calc(52vw/12); line-height: 1.45; }
  .contents .c_h_m { margin: 3.5% 0 0; }
  .contents .c_t_m { margin: 2% 0 0; }
  .contents .movie_inner { margin: 6% auto 7%; }
  .contents .c_t { line-height: 1.4; font-size: calc(46vw/12); }
  .contents .c_hp { margin: 13% 0 0; font-size: calc(46vw/12); }
  .contents .c_hp_link { margin: 2% 0 14%; }
  .contents .c_hp_link a { font-size: calc(46vw/12); }
  .contents .c_lar { padding: 0 0 9%; margin: 4.5% 0 0; }
  .contents .c_title { margin: 4.5% 0 0; font-size: calc(52vw/12); letter-spacing: 1.35px; }
  .contents .c_t_t { margin: 3% 0 0; font-size: calc(37vw/12); letter-spacing: 1.3px; line-height: 1.5; }
  .contents .c_btn { margin: 5% 0 0; }
  .contents .c_btn a { padding: 3% 0; border-radius: 4px; letter-spacing: 1.3px; font-size: calc(49vw/12); }
  .contents .c_item { padding: 0.5% 0 0; }
  .contents .c_item li { padding: 8% 0; }
  .contents .c_item li dt { line-height: 1.5; letter-spacing: 1.3px; font-size: calc(40vw/12); }
  .contents .c_item li .c_i_t { margin: 3% 0 0; font-size: calc(36vw/12); letter-spacing: 1.3px; line-height: 1.5; }
  .contents .c_official { margin: 9% 0 0; }
  .contents .c_official a { font-size: calc(35vw/12); line-height: 1.4; }
  .contents .c_img { padding: 8% 0 0; }
  .contents .c_img .c_i_list { margin: 6% 0 0; }
  .contents .c_img .c_i_list li { border-radius: 5px; margin: 3% 0 0 3%; }
  .contents .c_img .c_i_list li:nth-child(2n+1) { margin: 3% 0 0; }
  .contents .c_img .c_i_list li:nth-child(2) { margin: 0 0 0 3%; }
  .contents .c_img .c_i_list li:nth-child(1) { margin: 0; }
  .contents .c_box { padding: 8% 0 0; }
  .contents .c_box .c_list { margin: 6% 0 0; }
  .contents .c_box .c_list li { border-radius: 5px; margin: 3% 0 0 3%; }
  .contents .c_box .c_list li:nth-child(2n+1) { margin: 3% 0 0; }
  .contents .c_box .c_list li:nth-child(2) { margin: 0 0 0 3%; }
  .contents .c_box .c_list li:nth-child(1) { margin: 0; }
  .contents .c_box .c_list a { display: block; border-radius: 5px; }
  .contents .c_box .c_list figure { line-height: 0; }
  .contents .c_box .c_list figure img { border-radius: 5px 5px 0 0; }
  .contents .c_box .c_list .c_l_t { padding: 8.5% 5.5%; line-height: 1.4; font-size: calc(38vw/12); }
  .contents .c_bt { width: 63%; margin: 14.5% auto 0; }
  .c_banner { margin: 12% 0 0; }
  .c_banner a { padding: 3% 5%; border-radius: 5px; line-height: 1.45; font-size: calc(47vw/12); }
  .c_banner a:before { top: 40%; right: 3%; background-size: 8px 15px; width: 8px; height: 15px; }
  .c_banner a span { font-size: calc(42vw/12); }
  .common_banner .wrap { padding: 6.4% 14.4% 6.5%; }
  .common_banner figure { width: 64%; }
  .common_banner .a_text { margin: 3.5% 0 0; font-size: calc(45vw/12); letter-spacing: 1.4px; }
  .common_banner .a_btn { margin: 6.2% 0 0; }
  .common_banner .a_btn a { padding: 4.5% 0; border: 1.5px solid #3a2; border-radius: 5px; font-size: calc(43vw/12); letter-spacing: 1.6px; }
  .common_banner .a_btn a:hover { background: none; opacity: .8; color: #3a2; }
  footer { padding: 0 0 3%; }
  footer .wrap { padding: 5% 0 5%; margin: 0 5%; }
  footer .copy { margin: 0 0 5%; }
  footer .copy li { margin: 0.7% 0 0 0; line-height: 1.3; font-size: calc(26vw/12); }
  footer .f_list { margin: 1.8% 0 0; }
  footer .f_list li { margin: 0 10px 0 0; }
  footer .f_list li a { padding: 0 12px 0 0; font-size: calc(28vw/12); }
  footer .f_list li:after { content: ' | '; position: absolute; top: 0; right: 0; }
  footer .f_list li:last-child:after { content: ''; }
  footer small { margin: 5% 0 0; font-size: calc(28vw/12); letter-spacing: 1.3px; } }
@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@-webkit-keyframes item_list { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }
.ani_list01 { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 1.5s 1 forwards; }

.ani_list01 { opacity: 0; }
