@charset "UTF-8";
* { margin: 0; padding: 0; }

body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #fff; }
body li { list-style: none; }

a { -webkit-transition: .3s; transition: .3s; text-decoration: none; }
a:hover { text-decoration: none; opacity: .8; }

img { width: 100%; }

.fd { font-family: "Kosugi Maru", sans-serif !important; font-weight: bold; }

.wrap { max-width: 750px; padding: 0 35px; margin: 0 auto; -webkit-box-sizing: border-box; box-sizing: border-box; }

.line { height: 40px; }

.pc { display: block; }

.sp { display: none; }

.fuwa { -webkit-animation-name: fuwafuwa; animation-name: fuwafuwa; -webkit-animation-duration: 6s; animation-duration: 6s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease; animation-timing-function: ease; }

.ful { -webkit-animation-name: ful; animation-name: ful; -webkit-animation-duration: 6s; animation-duration: 6s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease; animation-timing-function: ease; }

/* 上下のアニメーション */
@-webkit-keyframes ful { 0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.08); transform: scale(1.08); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }
@keyframes ful { 0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.08); transform: scale(1.08); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }
@-webkit-keyframes fuwafuwa { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  50% { -webkit-transform: translate(-5px, -20px); transform: translate(-5px, -20px); }
  100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); } }
@keyframes fuwafuwa { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  50% { -webkit-transform: translate(-5px, -20px); transform: translate(-5px, -20px); }
  100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); } }
header { -webkit-box-sizing: border-box; box-sizing: border-box; }
header .logo { overflow: hidden; background: #000; padding: 13px 0 14px 18px; line-height: 0; }
header .logo .logo_img { display: block; float: left; display: block; max-width: 151px; }
header .logo .title { display: block; float: right; padding: 16px 18px 0 0; font-size: 24px; }
header .h_wrap { position: relative; background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/811a9773ed3241828e393844fbc37974_294af167a1d45eeefd7043c1bde1ff28.png) center top no-repeat; background-size: cover; max-width: 1920px; height: 737px; padding: 0 0 0; margin: 0 auto; }
header .h_wrap .h_h { display: none; max-width: 466px; padding: 93px 0 0; margin: 0 auto 0; line-height: 0; }
header .h_wrap .h_img { display: none; position: absolute; top: 5.5%; right: 14.5%; max-width: 438px; margin: 0 auto 0; line-height: 0; }

.bagg { display: inline-block; background: #f0163a; padding: 2px 10px 4px 10px; border-radius: 5px; font-weight: bold; font-size: 24px; text-align: center; letter-spacing: 1.4px; color: #fff; }

.contents { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/8ac16999beda22720217b9faf6b9ce78_c11bd9796594d2b03c2da58d0b8d670d.png) center top no-repeat; }
.contents .c_m { max-width: 543px; margin: 44px auto 0; line-height: 0; }
.contents .chara1 { max-width: 357px; margin: 148px auto 0; line-height: 0; }
.contents .c_o { max-width: 343px; margin: 37px auto 0; line-height: 0; }
.contents .c_nineteen { padding: 0 0 30px; margin: 67px 0 0; }
.contents .c_nineteen figure { margin: 20px 0 40px; line-height: 0; }
.contents .c_nineteen .c_19h { font-size: 31px; font-weight: bold; letter-spacing: 1.3px; color: #282828; }
.contents .c_nineteen .c_19t { margin: 12px 0 0 0; font-size: 20px; line-height: 1.3; letter-spacing: 1.3px; color: #666; }
.contents .c_nineteen .c_btn { margin: 40px 0 0; }
.contents .c_nineteen .c_btn a { display: block; background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png) 0 0 repeat; background-size: 92px 92px; padding: 15px 0 28px; text-align: center; border-radius: 60px; font-size: 30px; color: #fff; }
.contents .c_nineteen .c_btn a .b01 { display: inline-block; max-width: 274px; margin: 0 auto; line-height: 0; }
.contents .c_nineteen .b_no_btn { margin: 40px 0 0; display: block; background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/05a69219b7c6cdddc9ea521b0a69e7ac_4f6576cb58d498b051511964f120cbe0.png) 0 0 repeat; background-size: 92px 92px; padding: 29px 0 30px; text-align: center; border-radius: 60px; font-size: 30px; color: #fff; }
.contents .c_nineteen .b_no_btn .b_no { display: inline-block; max-width: 368px; margin: 0 auto; line-height: 0; }
.contents .c_nineteen .c_dou { overflow: hidden; margin: 63px 0 0; }
.contents .c_nineteen .c_dou li { float: left; width: 46.5%; margin: 8% 0 0 7%; }
.contents .c_nineteen .c_dou li figure { margin: 0; line-height: 0; }
.contents .c_nineteen .c_dou li:nth-child(2n+1) { margin: 8% 0 0 0; }
.contents .c_nineteen .c_dou li:nth-child(2) { margin: 0 0 0 7%; }
.contents .c_nineteen .c_dou li:first-child { margin: 0; }
.contents .c_nineteen .c_dou li .c_dbtn { margin: 42px 0 0; }
.contents .c_nineteen .c_dou li a { display: block; background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png) 0 0 repeat; background-size: 92px 92px; padding: 31px 0; text-align: center; border-radius: 60px; font-size: 30px; color: #fff; }
.contents .c_nineteen .c_dou li a .b01 { display: inline-block; max-width: 274px; margin: 0 auto; line-height: 0; }
.contents .c_nineteen .c_dou li a .b_no { display: inline-block; max-width: 274px; margin: 0 auto; line-height: 0; }
.contents .c_nineteen .c_dou li a .l01 { display: inline-block; max-width: 274px; margin: 0 auto; line-height: 0; }
.contents .c_nineteen .c_dou li a .l02 { display: inline-block; max-width: 140px; margin: 0 auto; line-height: 0; }
.contents .c_nineteen .c_dou li a .l03 { display: inline-block; max-width: 263px; margin: 0 auto; line-height: 0; }
.contents .c_nineteen .c_dou li a .l04 { display: inline-block; max-width: 155px; margin: 0 auto; line-height: 0; }
.contents .c_nineteen .c_dou li a .l05 { display: inline-block; max-width: 231px; margin: 0 auto; line-height: 0; }

.domestic .d_wrap { position: relative; max-width: 1920px; padding: 70px 0 0; margin: 0 auto; }
.domestic .d_wrap .d_chara { position: absolute; top: 0; left: 42%; max-width: 252px; }
.domestic .d_wrap .b_wrap { position: relative; max-width: 768px; margin: 0 auto; }
.domestic .d_wrap .b_chara { position: absolute; left: 21%; bottom: 1.5%; max-width: 471px; }
.domestic .d_wrap .tp { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/013a754d5ddb8d61d89f3bcc8aad8060_3488a1deae775ca55138e8e1e8823502.png) top center no-repeat; background-size: cover; height: 356px; }
.domestic .d_wrap .tb { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/6645dcdfb9e6deb014cb593c096a7c69_e6c1b9a7ac43e4fa6b710250ef1e974e.png) top center no-repeat; background-size: cover; height: 318px; }
.domestic .d_wrap .d_inner { background-image: url("https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/6faf70302cc591087b62bad54e9e5e06_908354efa74962176b8a57d9ea73e7cd.png"), url("https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png"); background-size: contain,92px 92px; background-repeat: repeat,repeat; background-position: top center, top center; }
.domestic .d_wrap .d_inner .di_wrap { background: url("https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/6190d8212a6a8f970396e9f33406ffd0_946436505a3723dfeeecfd1ff5ce5db0.png") 0 0 no-repeat; background-size: 276px 349px; background-position: bottom 207px right 7px; max-width: 750px; margin: 0 auto; }
.domestic .d_wrap .d_inner .di_wrap .d_h { max-width: 339px; margin: 0 auto; line-height: 0; }
.domestic .d_wrap .d_inner .di_item { overflow: hidden; margin: 63px 0 0; }
.domestic .d_wrap .d_inner .di_item li { float: left; width: 46.5%; margin: 8% 0 0 7%; }
.domestic .d_wrap .d_inner .di_item li figure { margin: 0; line-height: 0; }
.domestic .d_wrap .d_inner .di_item li:nth-child(2n+1) { margin: 8% 0 0 0; }
.domestic .d_wrap .d_inner .di_item li:nth-child(2) { margin: 0 0 0 7%; }
.domestic .d_wrap .d_inner .di_item li:first-child { margin: 0; }
.domestic .d_wrap .d_inner .di_item li .c_dbtn { margin: 42px 0 0; }
.domestic .d_wrap .d_inner .di_item li a { display: block; background: #fff; padding: 31px 0; border: 1px solid #0664c5; text-align: center; border-radius: 60px; font-size: 30px; color: #fff; }
.domestic .d_wrap .d_inner .di_item li a .b01 { display: inline-block; max-width: 274px; margin: 0 auto; line-height: 0; }
.domestic .d_wrap .d_inner .di_item li a .d01 { display: inline-block; max-width: 246px; margin: 0 auto; line-height: 0; }
.domestic .d_wrap .d_inner .di_item li a .d02 { display: inline-block; max-width: 140px; margin: 0 auto; line-height: 0; }
.domestic .d_wrap .d_inner .di_item li a .d03 { display: inline-block; max-width: 140px; margin: 0 auto; line-height: 0; }
.domestic .d_wrap .d_inner .di_item li a .d04 { display: inline-block; max-width: 140px; margin: 0 auto; line-height: 0; }
.domestic .d_wrap .d_inner .di_item li a .d05 { display: inline-block; max-width: 140px; margin: 0 auto; line-height: 0; }

.kasukabe { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/bcba825f0fd55b76b1dbe377e8583cc6_e131101b78b180e129825b19813a4d6b.png) center top no-repeat; background-size: contain; }
.kasukabe .k_m { max-width: 404px; margin: 0 auto; line-height: 0; }
.kasukabe .c_nineteen { padding: 0 0 30px; margin: 70px 0 0; }
.kasukabe .c_nineteen figure { margin: 20px 0 40px; line-height: 0; }
.kasukabe .c_nineteen .c_19h { font-size: 31px; font-weight: bold; letter-spacing: 1.3px; color: #282828; }
.kasukabe .c_nineteen .c_19t { margin: 12px 0 0 0; font-size: 20px; line-height: 1.3; letter-spacing: 1.3px; color: #666; }
.kasukabe .c_nineteen .c_btn { margin: 40px 0 0; }
.kasukabe .c_nineteen .c_btn a { display: block; background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png) 0 0 repeat; background-size: 92px 92px; padding: 19px 0; text-align: center; border-radius: 60px; font-size: 30px; color: #fff; }
.kasukabe .c_nineteen .c_btn a .b01 { display: inline-block; max-width: 274px; margin: 0 auto; line-height: 0; }
.kasukabe .c_nineteen .c_dou { overflow: hidden; margin: 63px 0 0; }
.kasukabe .c_nineteen .c_dou li { float: left; width: 46.5%; margin: 8% 0 0 7%; }
.kasukabe .c_nineteen .c_dou li figure { margin: 0; line-height: 0; }
.kasukabe .c_nineteen .c_dou li:nth-child(2n+1) { margin: 8% 0 0 0; }
.kasukabe .c_nineteen .c_dou li:nth-child(2) { margin: 0 0 0 7%; }
.kasukabe .c_nineteen .c_dou li:first-child { margin: 0; }
.kasukabe .c_nineteen .c_dou li .c_dbtn { margin: 42px 0 0; }
.kasukabe .c_nineteen .c_dou li a { display: block; background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png) 0 0 repeat; background-size: 92px 92px; padding: 31px 0; text-align: center; border-radius: 60px; font-size: 30px; color: #fff; }
.kasukabe .c_nineteen .c_dou li a .b01 { display: inline-block; max-width: 274px; margin: 0 auto; line-height: 0; }
.kasukabe .c_nineteen .c_dou li a .l01 { display: inline-block; max-width: 274px; margin: 0 auto; line-height: 0; }
.kasukabe .c_nineteen .c_dou li a .l02 { display: inline-block; max-width: 140px; margin: 0 auto; line-height: 0; }
.kasukabe .c_nineteen .c_dou li a .l03 { display: inline-block; max-width: 263px; margin: 0 auto; line-height: 0; }
.kasukabe .c_nineteen .c_dou li a .l04 { display: inline-block; max-width: 155px; margin: 0 auto; line-height: 0; }
.kasukabe .c_nineteen .c_dou li a .l05 { display: inline-block; max-width: 231px; margin: 0 auto; line-height: 0; }

.isekai { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/68491ea40ee0a59f9a920d298a1a6c45_3053056bcdcb4d8be0c3f04130fcf2cd.png) center top no-repeat; }
.isekai .c_m { max-width: 583px; margin: 0 auto; line-height: 0; }
.isekai .chara1 { max-width: 418px; margin: 0 auto; line-height: 0; }
.isekai .c_o { max-width: 343px; margin: 0 auto; line-height: 0; }
.isekai .d_wrap { position: relative; max-width: 1920px; padding: 70px 0 0; margin: 0 auto; }
.isekai .d_wrap .d_chara { position: absolute; top: 0; left: 36%; max-width: 418px; }
.isekai .d_wrap .b_chara { position: absolute; left: 38%; bottom: 1.5%; max-width: 471px; }
.isekai .d_wrap .tp { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/45eaaaa5b99bc12b181a346f883ab254_d8f4f5d286bb2496114dc0dcbf8f897f.png) top center no-repeat; background-size: cover; height: 199px; }
.isekai .d_wrap .tb { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff330666c5a13644efc87d14fdfb52a_3c85101bb9b2d6aea0abd9e5aa8f7785.png) top center no-repeat; background-size: cover; height: 1047px; }
.isekai .d_wrap .d_inner { background-image: url("https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/23e7557fead6b9086cdaec9539ee806f_c896f3774ed1b92d8e92d1ad30fc237b.png"), url("https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png"); background-size: contain,92px 92px; background-repeat: repeat,repeat; background-position: top center, top center; padding: 69px 0 0; }
.isekai .d_wrap .d_inner .di_wrap { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/0cf41e74f1f920ab73e14791e33cc5b8_31c22fa4328ef502e8788d7bc3c6ba06.png) 0 0 no-repeat; background-size: 286px 446px; background-position: bottom 163px right 7px; max-width: 750px; margin: 0 auto; }
.isekai .d_wrap .d_inner .di_wrap .d_h { max-width: 404px; margin: 0 auto; line-height: 0; }
.isekai .d_wrap .d_inner .di_item { overflow: hidden; margin: 63px 0 0; }
.isekai .d_wrap .d_inner .di_item li { float: left; width: 46.5%; margin: 8% 0 0 7%; }
.isekai .d_wrap .d_inner .di_item li figure { margin: 0; line-height: 0; }
.isekai .d_wrap .d_inner .di_item li:nth-child(2n+1) { margin: 8% 0 0 0; }
.isekai .d_wrap .d_inner .di_item li:nth-child(2) { margin: 0 0 0 7%; }
.isekai .d_wrap .d_inner .di_item li:first-child { margin: 0; }
.isekai .d_wrap .d_inner .di_item li .c_dbtn { margin: 42px 0 0; }
.isekai .d_wrap .d_inner .di_item li a { display: block; background: #fff; padding: 31px 0; border: 1px solid #0664c5; text-align: center; border-radius: 60px; font-size: 30px; color: #fff; }
.isekai .d_wrap .d_inner .di_item li a .b01 { display: inline-block; max-width: 274px; margin: 0 auto; line-height: 0; }
.isekai .d_wrap .d_inner .di_item li a .d01 { display: inline-block; max-width: 246px; margin: 0 auto; line-height: 0; }
.isekai .d_wrap .d_inner .di_item li a .d02 { display: inline-block; max-width: 140px; margin: 0 auto; line-height: 0; }
.isekai .d_wrap .d_inner .di_item li a .d03 { display: inline-block; max-width: 140px; margin: 0 auto; line-height: 0; }
.isekai .d_wrap .d_inner .di_item li a .d04 { display: inline-block; max-width: 140px; margin: 0 auto; line-height: 0; }
.isekai .d_wrap .d_inner .di_item li a .d05 { display: inline-block; max-width: 140px; margin: 0 auto; line-height: 0; }

footer .wrap { max-width: 926px; margin: 3px auto 0; padding: 31px 0 40px; }
footer a { display: block; }
footer figure { max-width: 926px; margin: 0 auto; line-height: 0; }

@media screen and (max-width: 1920px) { @-webkit-keyframes ful { 0% { -webkit-transform: scale(1); transform: scale(1); }
    50% { -webkit-transform: scale(1.07); transform: scale(1.07); }
    100% { -webkit-transform: scale(1); transform: scale(1); } } @keyframes ful { 0% { -webkit-transform: scale(1); transform: scale(1); }
    50% { -webkit-transform: scale(1.07); transform: scale(1.07); }
    100% { -webkit-transform: scale(1); transform: scale(1); } }
  @-webkit-keyframes fuwafuwa { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
    50% { -webkit-transform: translate(-3px, -15px); transform: translate(-3px, -15px); }
    100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); } }
  @keyframes fuwafuwa { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
    50% { -webkit-transform: translate(-3px, -15px); transform: translate(-3px, -15px); }
    100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); } }
  header { -webkit-box-sizing: border-box; box-sizing: border-box; }
  header .logo { overflow: hidden; background: #000; padding: 13px 0 14px 18px; line-height: 0; }
  header .logo .logo_img { display: block; float: left; display: block; max-width: 151px; }
  header .h_wrap { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/811a9773ed3241828e393844fbc37974_294af167a1d45eeefd7043c1bde1ff28.png) center top no-repeat; background-size: cover; height: auto; padding: 18.6% 0 18.3%; margin: 0 auto; }
  header .h_wrap .h_h { position: absolute; top: 13.5%; left: 38%; width: 25.4%; padding: 0 0 0; margin: 0 auto 0; line-height: 0; }
  header .h_wrap .h_img { position: absolute; top: 5.5%; right: 14.5%; width: 22.9%; margin: 0 auto 0; line-height: 0; } }
@media screen and (max-width: 768px) { .h_cha { -webkit-animation-name: fuwafuwa; animation-name: fuwafuwa; -webkit-animation-duration: 6s; animation-duration: 6s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease; animation-timing-function: ease; }
  .ful { -webkit-animation-name: ful; animation-name: ful; -webkit-animation-duration: 6s; animation-duration: 6s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease; animation-timing-function: ease; }
  @-webkit-keyframes ful { 0% { -webkit-transform: scale(1); transform: scale(1); }
    50% { -webkit-transform: scale(1.06); transform: scale(1.06); }
    100% { -webkit-transform: scale(1); transform: scale(1); } }
  @keyframes ful { 0% { -webkit-transform: scale(1); transform: scale(1); }
    50% { -webkit-transform: scale(1.06); transform: scale(1.06); }
    100% { -webkit-transform: scale(1); transform: scale(1); } }
  @-webkit-keyframes fuwafuwa { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
    50% { -webkit-transform: translate(0, -17px); transform: translate(0, -17px); }
    100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); } }
  @keyframes fuwafuwa { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
    50% { -webkit-transform: translate(0, -17px); transform: translate(0, -17px); }
    100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); } }
  .pc { display: none; }
  .sp { display: block; }
  .bagg { padding: 0.8% 3%; border-radius: 4px; font-size: calc(38vw/12); }
  .wrap { padding: 0 4.6%; }
  header { -webkit-box-sizing: border-box; box-sizing: border-box; }
  header .logo { overflow: hidden; padding: 1.3% 0 1.3% 2.3%; line-height: 0; }
  header .logo .logo_img { width: 21%; }
  header .h_spwrap { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/026140f759878dd423a8eaf68e258e07_a8bfc10b62ab56cc50110b7e69f64f26.png) center top no-repeat; background-size: 100% auto; height: auto; padding: 15.1% 0 20%; margin: 0 auto; }
  header .h_spwrap .h_h { max-width: 437px; width: 58.3%; margin: 0 auto; line-height: 0; }
  header .h_spwrap .h_img { max-width: 529px; width: 70.7%; margin: 6.6% auto 0; line-height: 0; }
  header .h_spwrap .h_cha { max-width: 353px; width: 47%; margin: 2.8% 0 0 18%; line-height: 0; }
  .contents { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/0641434c4bd709eb36ad24f8583d6fa6_376e9d3b596e874eed1727f95084bc57.png) center 30px no-repeat; background-size: cover; }
  .contents .c_m { width: 80%; margin: 6.4% auto 0; }
  .contents .chara1 { width: 52.5%; margin: 21.8% auto 0; }
  .contents .c_o { width: 50.5%; margin: 5.1% auto 0; line-height: 0; }
  .contents .c_nineteen { padding: 0 0 2%; margin: 8% 0 0; }
  .contents .c_nineteen figure { margin: 3% 0 5.5%; }
  .contents .c_nineteen .c_19h { letter-spacing: 1.3px; font-size: calc(49vw/12); }
  .contents .c_nineteen .c_19t { margin: 1.8% 0 0 0; font-size: calc(32vw/12); letter-spacing: 1.3px; line-height: 1.3; }
  .contents .c_nineteen .c_btn { margin: 6% 0 0; }
  .contents .c_nineteen .c_btn a { background-size: 69px 69px; padding: 2.5% 0 3.5%; text-align: center; border-radius: 60px; font-size: calc(40vw/12); }
  .contents .c_nineteen .c_btn a .b01 { width: 40.2%; margin: 0 auto; line-height: 0; }
  .contents .c_nineteen .b_no_btn { margin: 6% 0 0; background-size: 69px 69px; padding: 3.5% 0 3.5%; text-align: center; border-radius: 60px; }
  .contents .c_nineteen .b_no_btn .b_no { width: 54.2%; margin: 0 auto; }
  .contents .c_nineteen .c_dou { overflow: hidden; margin: 9% 0 0; }
  .contents .c_nineteen .c_dou li { float: left; width: 46.5%; margin: 8% 0 0 7%; }
  .contents .c_nineteen .c_dou li figure { margin: 0; line-height: 0; }
  .contents .c_nineteen .c_dou li:nth-child(2n+1) { margin: 8% 0 0 0; }
  .contents .c_nineteen .c_dou li:nth-child(2) { margin: 0 0 0 7%; }
  .contents .c_nineteen .c_dou li:first-child { margin: 0; }
  .contents .c_nineteen .c_dou li .c_dbtn { margin: 13% 0 0; }
  .contents .c_nineteen .c_dou li a { display: block; background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png) 0 0 repeat; background-size: 69px 69px; padding: 10% 0; border-radius: 60px; }
  .contents .c_nineteen .c_dou li a .b01 { display: inline-block; max-width: 274px; margin: 0 auto; line-height: 0; }
  .contents .c_nineteen .c_dou li a .l01 { display: inline-block; width: 77.5%; margin: 0 auto; }
  .contents .c_nineteen .c_dou li a .l02 { display: inline-block; width: 44%; margin: 0 auto; }
  .contents .c_nineteen .c_dou li a .l03 { display: inline-block; width: 83%; margin: 0 auto; }
  .contents .c_nineteen .c_dou li a .l04 { display: inline-block; width: 48.9%; margin: 0 auto; }
  .contents .c_nineteen .c_dou li a .l05 { display: inline-block; width: 72.9%; margin: 0 auto; }
  .domestic .d_wrap { position: relative; max-width: 1920px; padding: 0; margin: 0 auto; }
  .domestic .d_wrap .d_chara { position: absolute; top: 0.2%; left: 34%; width: 33.6%; }
  .domestic .d_wrap .b_chara { position: absolute; left: 21%; bottom: 0.5%; width: 62.8%; }
  .domestic .d_wrap .tp { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/19687ac08fbf821a2ef5415a528f431f_49f319cef17464534692cedf0e6b91af.png) center top no-repeat; background-size: cover; padding: 20.5% 0 23.5%; height: auto; }
  .domestic .d_wrap .tb { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/c0f35f11f6f49f0e2bf06e1071cfd2e9_270a9cefa17cbb32b9abfdb8b7dfeb31.png) top center no-repeat; background-size: contain; padding: 19% 0 18%; height: auto; }
  .domestic .d_wrap .d_inner { background-image: none, url("https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png"); background-size: cover,69px 69px; background-repeat: repeat,repeat; background-position: top center, top center; }
  .domestic .d_wrap .d_inner .di_wrap { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/0b499afd1bf23de21068742284ba9e2f_4975288abdd661cb838427d8c4a2a5bb.png) 0 0 no-repeat; background-size: 32% auto; background-position: bottom 8% right 15%; max-width: 750px; padding: 0 4.3%; margin: 0 auto; max-width: none; padding: 0 4.3%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_wrap .d_h { width: 49.6%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_item { overflow: hidden; margin: 9% 0 0; }
  .domestic .d_wrap .d_inner .di_item li { float: left; width: 46.8%; margin: 8% 0 0 6.4%; }
  .domestic .d_wrap .d_inner .di_item li figure { margin: 0; line-height: 0; }
  .domestic .d_wrap .d_inner .di_item li:nth-child(2n+1) { margin: 8% 0 0 0; }
  .domestic .d_wrap .d_inner .di_item li:nth-child(2) { margin: 0 0 0 6.4%; }
  .domestic .d_wrap .d_inner .di_item li:first-child { margin: 0; }
  .domestic .d_wrap .d_inner .di_item li .c_dbtn { margin: 13% 0 0; }
  .domestic .d_wrap .d_inner .di_item li a { display: block; padding: 9.8% 0; border-radius: 60px; }
  .domestic .d_wrap .d_inner .di_item li a .b01 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_item li a .d01 { display: inline-block; width: 77.3%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_item li a .d02 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_item li a .d03 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_item li a .d04 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_item li a .d05 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .kasukabe { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/b3285791cda48cbe6d699165d325a7f2_075d513cceca3c34d0f060e908f1845d.png) center 30px no-repeat; background-size: cover; }
  .kasukabe .k_m { width: 59.2%; margin: 0 auto; }
  .kasukabe .c_nineteen { padding: 0 0 4.5%; margin: 10% 0 0; }
  .kasukabe .c_nineteen .c_dou { overflow: hidden; margin: 9% 0 0; }
  .kasukabe .c_nineteen .c_dou li { float: left; width: 46.5%; margin: 8% 0 0 7%; }
  .kasukabe .c_nineteen .c_dou li figure { margin: 0; line-height: 0; }
  .kasukabe .c_nineteen .c_dou li:nth-child(2n+1) { margin: 8% 0 0 0; }
  .kasukabe .c_nineteen .c_dou li:nth-child(2) { margin: 0 0 0 7%; }
  .kasukabe .c_nineteen .c_dou li:first-child { margin: 0; }
  .kasukabe .c_nineteen .c_dou li .c_dbtn { margin: 13% 0 0; }
  .kasukabe .c_nineteen .c_dou li a { display: block; background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png) 0 0 repeat; background-size: 69px 69px; padding: 10% 0; border-radius: 60px; }
  .kasukabe .c_nineteen .c_dou li a .b01 { display: inline-block; max-width: 274px; margin: 0 auto; line-height: 0; }
  .kasukabe .c_nineteen .c_dou li a .l01 { display: inline-block; width: 77.5%; margin: 0 auto; }
  .kasukabe .c_nineteen .c_dou li a .l02 { display: inline-block; width: 44%; margin: 0 auto; }
  .kasukabe .c_nineteen .c_dou li a .l03 { display: inline-block; width: 83%; margin: 0 auto; }
  .kasukabe .c_nineteen .c_dou li a .l04 { display: inline-block; width: 48.9%; margin: 0 auto; }
  .kasukabe .c_nineteen .c_dou li a .l05 { display: inline-block; width: 72.9%; margin: 0 auto; }
  .isekai { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/68491ea40ee0a59f9a920d298a1a6c45_3053056bcdcb4d8be0c3f04130fcf2cd.png) center top no-repeat; }
  .isekai .c_m { max-width: 583px; margin: 0 auto; line-height: 0; }
  .isekai .chara1 { max-width: 418px; margin: 0 auto; line-height: 0; }
  .isekai .c_o { max-width: 343px; margin: 0 auto; line-height: 0; }
  .isekai .d_wrap { position: relative; max-width: 1920px; padding: 0; margin: 0 auto; }
  .isekai .d_wrap .d_chara { position: absolute; top: 0; left: 25%; width: 55.7%; }
  .isekai .d_wrap .b_chara { position: absolute; left: 38%; bottom: 1.5%; max-width: 471px; }
  .isekai .d_wrap .tp { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/628068fbddf656fa6b6c7068a1b86014_d406fbfead7f1d479274ce7407e65c95.png) top center no-repeat; background-size: cover; padding: 25% 0 23%; height: auto; }
  .isekai .d_wrap .tb { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/4dc4fc4a0ee790f15abbca3dd7b257a3_1b131208c5f23801fc17ab4f3b3bb58b.png) top center no-repeat; background-size: 100% auto; padding: 57% 0 59%; height: auto; }
  .isekai .d_wrap .d_inner { background-image: none, url("https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png"); background-size: cover,46px 46px; background-repeat: no-repeat,repeat; background-position: top center, top center; padding: 3% 0 0; }
  .isekai .d_wrap .d_inner .di_wrap { max-width: none; background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/bef7580113a60584264c699110d602b0_b6990618abcfa7a0a66e73f3eccb44e1.png) 0 0 no-repeat; background-size: 32% auto; background-position: bottom 1% right 10%; max-width: 750px; margin: 0 auto; padding: 0 4.3%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_wrap .d_h { width: 49.6%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_item { overflow: hidden; margin: 9% 0 0; }
  .isekai .d_wrap .d_inner .di_item li { float: left; width: 46.8%; margin: 8% 0 0 6.4%; }
  .isekai .d_wrap .d_inner .di_item li figure { margin: 0; line-height: 0; }
  .isekai .d_wrap .d_inner .di_item li:nth-child(2n+1) { margin: 8% 0 0 0; }
  .isekai .d_wrap .d_inner .di_item li:nth-child(2) { margin: 0 0 0 6.4%; }
  .isekai .d_wrap .d_inner .di_item li:first-child { margin: 0; }
  .isekai .d_wrap .d_inner .di_item li .c_dbtn { margin: 13% 0 0; }
  .isekai .d_wrap .d_inner .di_item li a { display: block; padding: 9.8% 0; border-radius: 60px; }
  .isekai .d_wrap .d_inner .di_item li a .b01 { display: inline-block; width: 77.3%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_item li a .d01 { display: inline-block; width: 77.3%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_item li a .d02 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_item li a .d03 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_item li a .d04 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_item li a .d05 { display: inline-block; width: 43.9%; margin: 0 auto; }
  footer .wrap { margin: 3px auto 0; padding: 4% 4.5% 5%; }
  footer figure { width: 100%; margin: 0 auto; } }
@media screen and (max-width: 480px) { .h_cha { -webkit-animation-name: fuwafuwa; animation-name: fuwafuwa; -webkit-animation-duration: 5s; animation-duration: 5s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease; animation-timing-function: ease; }
  .ful { -webkit-animation-name: ful; animation-name: ful; -webkit-animation-duration: 5s; animation-duration: 5s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease; animation-timing-function: ease; }
  @-webkit-keyframes ful { 0% { -webkit-transform: scale(1); transform: scale(1); }
    50% { -webkit-transform: scale(1.04); transform: scale(1.04); }
    100% { -webkit-transform: scale(1); transform: scale(1); } }
  @keyframes ful { 0% { -webkit-transform: scale(1); transform: scale(1); }
    50% { -webkit-transform: scale(1.04); transform: scale(1.04); }
    100% { -webkit-transform: scale(1); transform: scale(1); } }
  @-webkit-keyframes fuwafuwa { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
    50% { -webkit-transform: translate(0, -9px); transform: translate(0, -9px); }
    100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); } }
  @keyframes fuwafuwa { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
    50% { -webkit-transform: translate(0, -9px); transform: translate(0, -9px); }
    100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); } }
  .bagg { padding: 0.8% 3%; border-radius: 3px; font-size: calc(29vw/12); }
  header { -webkit-box-sizing: border-box; box-sizing: border-box; }
  header .logo { overflow: hidden; padding: 1.3% 0 1.3% 2.3%; }
  header .logo .logo_img { width: 21%; }
  header .h_spwrap { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/026140f759878dd423a8eaf68e258e07_a8bfc10b62ab56cc50110b7e69f64f26.png) center top no-repeat; background-size: 100% auto; height: auto; padding: 15.1% 0 20%; margin: 0 auto; }
  header .h_spwrap .h_h { width: 58.3%; margin: 0 auto; line-height: 0; }
  header .h_spwrap .h_img { max-width: 529px; width: 70.7%; margin: 6.6% auto 0; line-height: 0; }
  header .h_spwrap .h_cha { max-width: 353px; width: 47%; margin: 2.8% 0 0 18%; line-height: 0; }
  .contents { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/0641434c4bd709eb36ad24f8583d6fa6_376e9d3b596e874eed1727f95084bc57.png) center 30px no-repeat; background-size: cover; }
  .contents .c_m { width: 80.7%; margin: 1.4% auto 0; }
  .contents .chara1 { width: 52.5%; margin: 21.8% auto 0; }
  .contents .c_o { width: 50.5%; margin: 5.1% auto 0; line-height: 0; }
  .contents .c_nineteen { padding: 0 0 2%; margin: 8% 0 0; }
  .contents .c_nineteen figure { margin: 3% 0 5.5%; }
  .contents .c_nineteen .c_19h { letter-spacing: 1.3px; font-size: calc(51vw/12); }
  .contents .c_nineteen .c_19t { margin: 1.8% 0 0 0; font-size: calc(34vw/12); letter-spacing: 1.3px; line-height: 1.3; }
  .contents .c_nineteen .c_btn { margin: 6% 0 0; }
  .contents .c_nineteen .c_btn a { background-size: 46px 46px; padding: 2.5% 0 3.5%; text-align: center; border-radius: 60px; }
  .contents .c_nineteen .c_btn a .b01 { width: 41%; margin: 0 auto; line-height: 0; }
  .contents .c_nineteen .b_no_btn { margin: 6% 0 0; background-size: 46px 46px; padding: 3.5% 0 3.5%; border-radius: 60px; }
  .contents .c_nineteen .b_no_btn .b_no { width: 55.8%; margin: 0 auto; }
  .contents .c_nineteen .c_dou { overflow: hidden; margin: 9% 0 0; }
  .contents .c_nineteen .c_dou li { float: left; width: 46.5%; margin: 8% 0 0 7%; }
  .contents .c_nineteen .c_dou li figure { margin: 0; line-height: 0; }
  .contents .c_nineteen .c_dou li:nth-child(2n+1) { margin: 8% 0 0 0; }
  .contents .c_nineteen .c_dou li:nth-child(2) { margin: 0 0 0 7%; }
  .contents .c_nineteen .c_dou li:first-child { margin: 0; }
  .contents .c_nineteen .c_dou li .c_dbtn { margin: 13% 0 0; }
  .contents .c_nineteen .c_dou li a { display: block; background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png) 0 0 repeat; background-size: 46px 46px; padding: 10% 0; border-radius: 60px; }
  .contents .c_nineteen .c_dou li a .b01 { display: inline-block; max-width: 274px; margin: 0 auto; line-height: 0; }
  .contents .c_nineteen .c_dou li a .l01 { display: inline-block; width: 77.5%; margin: 0 auto; }
  .contents .c_nineteen .c_dou li a .l02 { display: inline-block; width: 44%; margin: 0 auto; }
  .contents .c_nineteen .c_dou li a .l03 { display: inline-block; width: 83%; margin: 0 auto; }
  .contents .c_nineteen .c_dou li a .l04 { display: inline-block; width: 48.9%; margin: 0 auto; }
  .contents .c_nineteen .c_dou li a .l05 { display: inline-block; width: 72.9%; margin: 0 auto; }
  .domestic .d_wrap { position: relative; max-width: 1920px; padding: 0; margin: 0 auto; }
  .domestic .d_wrap .d_chara { position: absolute; top: 0.2%; left: 34%; width: 33.6%; }
  .domestic .d_wrap .b_chara { position: absolute; left: 21%; bottom: 0.5%; width: 62.8%; }
  .domestic .d_wrap .tp { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/19687ac08fbf821a2ef5415a528f431f_49f319cef17464534692cedf0e6b91af.png) center top no-repeat; background-size: cover; padding: 20.5% 0 23.5%; height: auto; }
  .domestic .d_wrap .tb { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/c0f35f11f6f49f0e2bf06e1071cfd2e9_270a9cefa17cbb32b9abfdb8b7dfeb31.png) top center no-repeat; background-size: contain; padding: 19% 0 18%; height: auto; }
  .domestic .d_wrap .d_inner { background-image: none, url("https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png"); background-size: cover,46px 46px; background-repeat: no-repeat,repeat; background-position: top center, top center; }
  .domestic .d_wrap .d_inner .di_wrap { max-width: none; padding: 0 4.3%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_wrap .d_h { width: 49.6%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_item { overflow: hidden; margin: 9% 0 0; }
  .domestic .d_wrap .d_inner .di_item li { float: left; width: 46.8%; margin: 8% 0 0 6.4%; }
  .domestic .d_wrap .d_inner .di_item li figure { margin: 0; line-height: 0; }
  .domestic .d_wrap .d_inner .di_item li:nth-child(2n+1) { margin: 8% 0 0 0; }
  .domestic .d_wrap .d_inner .di_item li:nth-child(2) { margin: 0 0 0 6.4%; }
  .domestic .d_wrap .d_inner .di_item li:first-child { margin: 0; }
  .domestic .d_wrap .d_inner .di_item li .c_dbtn { margin: 13% 0 0; }
  .domestic .d_wrap .d_inner .di_item li a { display: block; padding: 9.8% 0; border-radius: 60px; }
  .domestic .d_wrap .d_inner .di_item li a .b01 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_item li a .d01 { display: inline-block; width: 78.1%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_item li a .d02 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_item li a .d03 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_item li a .d04 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .domestic .d_wrap .d_inner .di_item li a .d05 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .kasukabe { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/b3285791cda48cbe6d699165d325a7f2_075d513cceca3c34d0f060e908f1845d.png) center 30px no-repeat; background-size: contain; }
  .kasukabe .k_m { width: 59.2%; margin: 0 auto; }
  .kasukabe .c_nineteen { padding: 0 0 4.5%; margin: 10% 0 0; }
  .kasukabe .c_nineteen .c_dou { overflow: hidden; margin: 9% 0 0; }
  .kasukabe .c_nineteen .c_dou li { float: left; width: 46.5%; margin: 8% 0 0 7%; }
  .kasukabe .c_nineteen .c_dou li figure { margin: 0; line-height: 0; }
  .kasukabe .c_nineteen .c_dou li:nth-child(2n+1) { margin: 8% 0 0 0; }
  .kasukabe .c_nineteen .c_dou li:nth-child(2) { margin: 0 0 0 7%; }
  .kasukabe .c_nineteen .c_dou li:first-child { margin: 0; }
  .kasukabe .c_nineteen .c_dou li .c_dbtn { margin: 13% 0 0; }
  .kasukabe .c_nineteen .c_dou li a { display: block; background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png) 0 0 repeat; background-size: 46px 46px; padding: 10% 0; border-radius: 60px; }
  .kasukabe .c_nineteen .c_dou li a .b01 { display: inline-block; max-width: 274px; margin: 0 auto; line-height: 0; }
  .kasukabe .c_nineteen .c_dou li a .l01 { display: inline-block; width: 77.5%; margin: 0 auto; }
  .kasukabe .c_nineteen .c_dou li a .l02 { display: inline-block; width: 44%; margin: 0 auto; }
  .kasukabe .c_nineteen .c_dou li a .l03 { display: inline-block; width: 83%; margin: 0 auto; }
  .kasukabe .c_nineteen .c_dou li a .l04 { display: inline-block; width: 48.9%; margin: 0 auto; }
  .kasukabe .c_nineteen .c_dou li a .l05 { display: inline-block; width: 72.9%; margin: 0 auto; }
  .isekai { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/68491ea40ee0a59f9a920d298a1a6c45_3053056bcdcb4d8be0c3f04130fcf2cd.png) center top no-repeat; }
  .isekai .c_m { max-width: 583px; margin: 0 auto; line-height: 0; }
  .isekai .chara1 { max-width: 418px; margin: 0 auto; line-height: 0; }
  .isekai .c_o { max-width: 343px; margin: 0 auto; line-height: 0; }
  .isekai .d_wrap { position: relative; max-width: 1920px; padding: 0; margin: 0 auto; }
  .isekai .d_wrap .d_chara { position: absolute; top: 0; left: 25%; width: 55.7%; }
  .isekai .d_wrap .b_chara { position: absolute; left: 38%; bottom: 1.5%; max-width: 471px; }
  .isekai .d_wrap .tp { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/628068fbddf656fa6b6c7068a1b86014_d406fbfead7f1d479274ce7407e65c95.png) top center no-repeat; background-size: 100% auto; padding: 25% 0 23%; height: auto; }
  .isekai .d_wrap .tb { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/4dc4fc4a0ee790f15abbca3dd7b257a3_1b131208c5f23801fc17ab4f3b3bb58b.png) top center no-repeat; background-size: contain; padding: 57% 0 59%; height: auto; }
  .isekai .d_wrap .d_inner { background-image: none, url("https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/463346/eff43d68885486fb8c9e16e7500e289f_5ed288152f46ea0a33baf0b2cd4b8651.png"); background-size: cover,46px 46px; background-repeat: no-repeat,repeat; background-position: top center, top center; padding: 3% 0 0; }
  .isekai .d_wrap .d_inner .di_wrap { max-width: none; padding: 0 4.3%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_wrap .d_h { width: 49.6%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_item { overflow: hidden; margin: 9% 0 0; }
  .isekai .d_wrap .d_inner .di_item li { float: left; width: 46.8%; margin: 8% 0 0 6.4%; }
  .isekai .d_wrap .d_inner .di_item li figure { margin: 0; line-height: 0; }
  .isekai .d_wrap .d_inner .di_item li:nth-child(2n+1) { margin: 8% 0 0 0; }
  .isekai .d_wrap .d_inner .di_item li:nth-child(2) { margin: 0 0 0 6.4%; }
  .isekai .d_wrap .d_inner .di_item li:first-child { margin: 0; }
  .isekai .d_wrap .d_inner .di_item li .c_dbtn { margin: 13% 0 0; }
  .isekai .d_wrap .d_inner .di_item li a { display: block; padding: 9.8% 0; border-radius: 60px; }
  .isekai .d_wrap .d_inner .di_item li a .b01 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_item li a .d01 { display: inline-block; width: 78.1%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_item li a .d02 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_item li a .d03 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_item li a .d04 { display: inline-block; width: 43.9%; margin: 0 auto; }
  .isekai .d_wrap .d_inner .di_item li a .d05 { display: inline-block; width: 43.9%; margin: 0 auto; }
  footer .wrap { margin: 3px auto 0; padding: 4% 4.5% 5%; }
  footer figure { width: 100%; margin: 0 auto; } }
@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@-webkit-keyframes item_list { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }
.ani_list01 { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 1.5s 1 forwards; }

.ani_list01 { opacity: 0; }
