body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: none; }

.contents { padding: 50px 0 0; }

@media screen and (max-width: 768px) { .contents { padding: 0 0 0; } }
@media screen and (max-width: 480px) { .contents { padding: 0 0 2%; } }
