* { margin: 0; padding: 0; }

body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #efefef; }
body li { list-style: none; }

a { -webkit-transition: .3s; transition: .3s; text-decoration: none; }
a:hover { text-decoration: none; opacity: .8; }

img { width: 100%; }

header { background: url(https://goo.gl/BqEB4H) 0 0 no-repeat; background-size: cover; }
header .header_logo { max-width: 191px; padding: 1% 0 0 4%; line-height: 0; }
header .header_heading { max-width: 685px; margin: 2% auto 0; width: 92%; }
header .header_title { width: 91%; max-width: 685px; margin: 1% auto 0; }

.header_item { overflow: hidden; width: 92%; margin: 3.5% auto 0; max-width: 840px; margin: 3% auto 0; padding: 0 0 6%; }
.header_item li { float: left; width: 24%; margin: 0 0 0 1%; line-height: 0; opacity: 0; }
.header_item li:first-child { margin: 0; }
.header_item li a { display: block; }

@media screen and (max-width: 1024px) { header .header_logo { padding: 1% 0 0 4%; line-height: 0; }
  header .header_logo img { width: 80%; }
  header .header_heading { margin: 2% auto 0; width: 100%; text-align: center; }
  header .header_heading img { width: 90%; }
  header .header_title { width: 100%; margin: 1% auto 0; text-align: center; }
  header .header_title img { width: 90%; }
  .header_item { overflow: hidden; width: 92%; margin: 3.5% auto 0; max-width: 840px; margin: 3% auto 0; padding: 0 0 6%; }
  .header_item li { float: left; width: 24%; margin: 0 0 0 1%; line-height: 0; opacity: 0; }
  .header_item li:first-child { margin: 0; } }
@media screen and (max-width: 768px) { header .header_logo { padding: 2% 0 0 4%; line-height: 0; }
  header .header_logo img { width: 75%; }
  header .header_heading { margin: 2.5% auto 0; width: 92%; }
  header .header_heading img { width: 100%; }
  header .header_title { margin: 1% auto 0; width: 92%; }
  header .header_title img { width: 100%; }
  .header_item { overflow: hidden; width: 92%; margin: 3.5% auto 0; max-width: 840px; margin: 3% auto 0; padding: 0 0 7%; }
  .header_item li { float: left; width: 24%; margin: 0 0 0 1.3%; line-height: 0; } }
@media screen and (max-width: 480px) { header .header_logo { padding: 3% 0 0 4%; line-height: 0; }
  header .header_logo img { width: 45%; }
  header .header_heading { width: 100%; margin: 2.5% auto 0; }
  header .header_heading img { width: 92%; }
  header .header_title { width: 100%; margin: 1% auto 0; }
  header .header_title img { width: 92%; }
  .header_item { overflow: hidden; width: 92%; margin: 3.5% auto 0; max-width: 840px; margin: 3% auto 0; padding: 0 0 7%; }
  .header_item li { float: left; width: 23.8%; margin: 0 0 0 1.6%; } }
@media screen and (max-width: 414px) { header .header_logo img { width: 40%; } }
@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@-webkit-keyframes item_list { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }
.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }

.ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }

.ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4s 1 forwards; }

.ani_list04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.5s 1 forwards; }

.contents { padding: 50px 0 0; }
.contents .wrap { max-width: 768px; margin: 0 auto; }
.contents .contents_item { overflow: hidden; max-width: 80%; margin: 0 auto; }
.contents .contents_item li { float: left; width: 31%; margin: 0 0 0 3.5%; }
.contents .contents_item li:nth-child(1) { margin: 0; }
.contents .contents_item li:nth-child(4) { margin: 1% 0 0 0; }
.contents .contents_item li:nth-child(5) { margin: 1% 0 0 3.5%; }
.contents .contents_item li:nth-child(6) { margin: 1% 0 0 3.5%; }
.contents .contents_box { margin: 60px 0 30px; }
.contents .contents_box .contents_heading { padding: 0 0 0 15px; font-size: 38px; border-left: 12px solid #5bdc01; line-height: 1.4; }
.contents .contents_box .contents_text { margin: 10px 0 0 25px; font-size: 28px; line-height: 1.3; color: #565656; }
.contents .contents_inner { margin: 50px 0 0; }
.contents .contents_inner .inner_img { max-width: 212px; margin: 0 auto; }
.contents .contents_inner .inner_wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; margin: 20px 0 0; }
.contents .contents_inner .inner_wrap li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; background: #fff; width: 48%; margin: 0 0 0 3%; }
.contents .contents_inner .inner_wrap li:first-child { margin: 0; }
.contents .contents_inner .inner_wrap li img { border-radius: 4px 5px 0 0; }
