* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #000;
  margin: 0 auto;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
  height: auto;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.bg_fe {
  display: inline-block;
  margin: 15px 0 -20px;
}

.line_w {
  max-width: 768px;
  margin: 0 auto;
}
.line_w .wrap_w {
  background: #efefef;
  height: 38px;
}

.mt20 {
  margin: 20px 0 0;
}

.mt30 {
  margin: 30px 0 0;
}

.mt40 {
  margin: 40px 0 0;
}

.mt50 {
  margin: 50px 0 0;
}

.mt60 {
  margin: 60px 0 0;
}

.mt70 {
  margin: 70px 0 0;
}

.wrap {
  max-width: 716px;
  margin: 0 auto;
}

header {
  padding: 0;
}
header .h_l {
  background: #000;
  padding: 13px 0 13px 22px;
}
header .h_l span {
  display: inline-block;
  max-width: 140px;
  line-height: 0;
}
header .h_a {
  overflow: hidden;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/8e1851562d8669d04488b56e3930d624_a84585cc559c326703a5b601c16fc048.png) center top repeat #000;
  background-size: cover;
  height: 422px;
  padding: 87px 0 0;
  margin: 0 auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_i {
  max-width: 713px;
  margin: 0 auto 0;
  line-height: 0;
}
header .h_t {
  max-width: 475px;
  margin: 13px auto 0;
  line-height: 0;
}

.cl {
  color: #ddaa00;
}

.contents .uitem {
  overflow: hidden;
  max-width: 680px;
  margin: 50px auto 0;
}
.contents .uitem li {
  float: left;
  max-width: 121px;
  margin: 0 0 0 18px;
  line-height: 0;
}
.contents .uitem li:first-child {
  margin: 0;
}
.contents .topic {
  overflow: hidden;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/1ece88b153a54f34961b7b09c617c48f_058217df502ae4b7a19cd2d0e27281da.png) center top no-repeat;
  background-size: cover;
  padding: 36px 0 44px;
  margin: 52px auto 0;
  text-align: center;
  border-radius: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contents .topic .t_h {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 1.3;
  color: #fff;
}
.contents .topic .t_h .num {
  display: inline-block;
  margin: 0 2px;
  font-size: 72px;
}
.contents .topic .t_h .lar {
  font-size: 59px;
}
.contents .topic .t_h .t_sec {
  font-size: 48px;
}
.contents .topic .t_t {
  display: inline-block;
  background: #ddaa00;
  padding: 7px 37px 10px;
  margin: 33px 0 0;
  border-radius: 30px;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #000;
}
.contents .topic .t_t .num {
  font-size: 42px;
}
.contents .topic .t_list {
  max-width: 680px;
  margin: 43px auto 0;
  line-height: 0;
}
.contents .da {
  max-width: 682px;
  margin: 38px auto 0;
  text-align: right;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
}
.contents .da span {
  font-size: 31px;
}
.contents .more {
  margin: 58px 25px 58px 0;
  text-align: right;
}
.contents .more a {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}
.contents .c_h {
  border-left: 9px solid #000;
  padding: 0 0 0 18px;
  line-height: 1.4;
  font-size: 32px;
  color: #000;
}
.contents .c_h span {
  letter-spacing: 1.3px;
  font-size: 36px;
}
.contents .dl_col {
  overflow: hidden;
  margin: 40px 0 0;
}
.contents .dl_col dd {
  float: left;
  width: 38.5%;
  max-width: 274px;
  line-height: 0;
}
.contents .dl_col dt {
  float: right;
  width: 58%;
}
.contents .dl_col dt .pre_bagg {
  background: #000;
  display: inline-block;
  padding: 5px 11px 6px;
  margin: 0 0 23px;
  font-weight: bold;
  letter-spacing: 2.7px;
  border-radius: 4px;
  color: #fff;
}
.contents .dl_col dt .pre_bagg span {
  color: #ddaa00;
}
.contents .dl_col dt .head {
  margin: 0 0 0;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
}
.contents .dl_col dt .c_text {
  margin: 26px 0 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.35;
  color: #666;
}
.contents .img_col {
  overflow: hidden;
  margin: 38px 0 0;
}
.contents .img_col li {
  float: left;
  width: 49%;
  margin: 0 0 0 2%;
}
.contents .img_col li:first-child {
  margin: 0;
}
.contents .col_btn {
  margin: 40px 0 0;
}
.contents .col_btn a {
  display: block;
  padding: 24px 0;
  border: 4px solid #666;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  border-radius: 6px;
  letter-spacing: 1.7px;
  color: #666;
}
.contents .col_btn a span {
  font-size: 31px;
}
.contents .col_btn a:hover {
  opacity: 1;
  background: #666;
  color: #fff;
}
.contents .tw_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 0 62px;
  margin: 40px 0 0;
}
.contents .tw_col li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 47.5%;
  padding: 0 0 11%;
  margin: 5% 0 0 5%;
}
.contents .tw_col li:nth-child(2n+1) {
  margin: 5% 0 0 0;
}
.contents .tw_col li:nth-child(2) {
  margin: 0 0 0 5%;
}
.contents .tw_col li:first-child {
  margin: 0;
}
.contents .tw_col figure {
  margin: 0 0 40px;
  line-height: 0;
}
.contents .tw_col .tw_bg {
  background: #000;
  display: inline-block;
  padding: 5px 11px 6px;
  margin: 0 0 23px;
  font-weight: bold;
  letter-spacing: 2.7px;
  border-radius: 4px;
  color: #fff;
}
.contents .tw_col .tw_bg span {
  color: #ddaa00;
}
.contents .tw_col .tw_h {
  margin: 0 0 30px;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
}
.contents .tw_col .tw_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.contents .tw_col .tw_btn a {
  display: block;
  padding: 25px 0;
  border: 4px solid #606060;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  letter-spacing: 1.3px;
  font-size: 28px;
  color: #606060;
}
.contents .tw_col .tw_btn a span {
  font-size: 32px;
}
.contents .tw_col .tw_btn a:hover {
  opacity: 1;
  background: #606060;
  color: #fff;
}
.contents .c_eight .c_e_list {
  padding: 0 0 0;
  margin: 30px 0 0;
}
.contents .c_eight .c_e_list:first-of-type {
  margin: 0;
}
.contents .c_eight .large {
  margin: 30px 0 0;
}
.contents .c_eight .thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0 0;
}
.contents .c_eight .thumb li {
  margin: 0 0 0 2%;
}
.contents .c_eight .thumb li:first-child {
  margin: 0;
}
.contents .c_eight .thumb li a {
  overflow: hidden;
  display: block;
  line-height: 0;
  -webkit-transition: none;
  transition: none;
}
.contents .c_eight .thumb li a img {
  margin: 0;
}
.contents .c_eight .thumb li .active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #ddaa00;
}
.contents .c_eight .thumb li .active img {
  margin: -2px 0;
  opacity: .8;
}
.contents .c_eight .btn {
  margin: 31px 0 0;
}
.contents .c_eight .btn a {
  display: block;
  background: #ddaa00;
  padding: 20px 0;
  border-radius: 4px;
  text-align: center;
  font-size: 32px;
  color: #fff;
}

.merit {
  background: #fff;
  padding: 60px 0 0;
  text-align: center;
}
.merit .wrap {
  max-width: 680px;
  margin: 0 auto;
}
.merit .m_h {
  max-width: 362px;
  margin: 0 auto;
  line-height: 0;
}
.merit .m_lot {
  max-width: 680px;
}
.merit .m_lot .ml_h {
  margin: 48px 0 0;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.4;
  color: #000;
}
.merit .m_lot figure {
  max-width: 680px;
  margin: 30px auto 0;
  line-height: 0;
}
.merit .m_box {
  overflow: hidden;
  padding: 0 0;
  margin: 40px 0 0;
  border-radius: 8px;
}
.merit .m_box li {
  background: #efefef;
  float: left;
  width: 47.5%;
  max-width: 321px;
  padding: 0 0 35px;
  margin: 5% 0 0 5%;
  border-radius: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.merit .m_box li:first-child {
  margin: 0;
}
.merit .m_box li:nth-child(2) {
  margin: 0 0 0 5%;
}
.merit .m_box li:nth-child(3) {
  margin: 5% 0 0 0;
}
.merit .m_box li .icon {
  margin: 0 auto;
  line-height: 0;
}
.merit .m_box li .icon img {
  border-radius: 9px 9px 0 0;
}
.merit .m_box li .c_it {
  margin: 25px 0 0;
  text-align: center;
  font-size: 27px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 1.4px;
  color: #666;
}
.merit .m_box li .c_it .h_ss {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #666;
}
.merit .m_box li .c_it .clr {
  color: #e6c300;
}
.merit .m_box li .c_it .num {
  font-size: 29px;
}

.other {
  padding: 60px 0 0;
}
.other .wrap {
  max-width: 680px;
  margin: 0 auto;
}
.other .o_h {
  padding: 0 0 0 18px;
  font-size: 32px;
  font-weight: bold;
  border-left: 9px solid #ffd500;
  line-height: 1.4;
  color: #000;
}
.other .o_h span {
  font-size: 35px;
}
.other figure {
  margin: 50px 0 0;
  line-height: 0;
}
.other figure a {
  display: block;
}

.p_top {
  margin: 60px 0 40px;
  text-align: right;
}
.p_top a {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}
.p_top span {
  font-size: 32px;
}

footer {
  background: #efefef;
}
footer .wrap {
  max-width: 710px;
  margin: 0 auto;
  padding: 40px 0 80px;
}
footer .copy {
  margin: 0 0 32px;
}
footer .copy li {
  width: 100%;
  margin: 5px 0 0 0;
  line-height: 1.3;
  font-size: 16px;
  color: #666666;
}
footer .f_list {
  overflow: hidden;
  margin: 10px 0 10px;
}
footer .f_list li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .f_list li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #666666;
}
footer .f_list li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #666666;
  line-height: 1;
}
footer .f_list li:last-child:after {
  content: '';
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #666666;
}

@media screen and (max-width: 768px) {
  .line_w .wrap_w {
    height: 26px;
  }

  .mt20 {
    margin: 3% 0 0;
  }

  .mt30 {
    margin: 5% 0 0;
  }

  .mt40 {
    margin: 6% 0 0;
  }

  .mt50 {
    margin: 7% 0 0;
  }

  .mt60 {
    margin: 8% 0 0;
  }

  .mt70 {
    margin: 9% 0 0;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .wrap {
    max-width: none;
    width: 100%;
    padding: 0 2.2%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  header .h_l {
    padding: 1.2% 0 1.3% 2.3%;
  }
  header .h_l span {
    width: 18.8%;
  }
  header .h_a {
    overflow: hidden;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/9c9a6aa85b06b4d2f1ee798b15b598fb_ae9070f0604fa3b77031e2ec9563556a.jpg) center top repeat #000;
    background-size: cover;
    height: auto;
    padding: 11.2% 0 6%;
  }
  header .h_i {
    width: 97.3%;
  }
  header .h_t {
    width: 64.7%;
    margin: 1.8% auto 0;
  }

  .contents .uitem {
    width: 93%;
    margin: 7% auto 0;
  }
  .contents .uitem li {
    width: 17.8%;
    margin: 0 0 0 2.75%;
    line-height: 0;
  }
  .contents .topic {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/1ece88b153a54f34961b7b09c617c48f_058217df502ae4b7a19cd2d0e27281da.png) center top no-repeat;
    background-size: cover;
    padding: 5.5% 0 44px;
    margin: 7% auto 0;
    border-radius: 22px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contents .topic .t_h {
    font-size: calc(63vw/12);
    letter-spacing: 1.5px;
    line-height: 1.3;
  }
  .contents .topic .t_h .num {
    display: inline-block;
    margin: 0 0.2%;
    font-size: calc(111vw/12);
  }
  .contents .topic .t_h .lar {
    font-size: calc(92vw/12);
  }
  .contents .topic .t_h .t_sec {
    font-size: calc(75vw/12);
  }
  .contents .topic .t_t {
    display: inline-block;
    padding: 1% 5% 1.6%;
    margin: 5.2% 0 0;
    border-radius: 30px;
    font-size: calc(59vw/12);
    letter-spacing: 1.3px;
  }
  .contents .topic .t_t .num {
    font-size: calc(65vw/12);
  }
  .contents .topic .t_list {
    width: 92.6%;
    margin: 6% auto 0;
  }
  .contents .da {
    width: 92.6%;
    margin: 5.8% auto 0;
    font-size: calc(42vw/12);
    letter-spacing: 2px;
  }
  .contents .da span {
    font-size: calc(46vw/12);
  }
  .contents .more {
    margin: 7.8% 4.2% 7.5% 0;
  }
  .contents .more a {
    font-size: calc(47vw/12);
  }
  .contents .c_h {
    border-left: 7px solid #000;
    padding: 0 0 0 2.5%;
    line-height: 1.4;
    font-size: calc(50vw/12);
  }
  .contents .c_h span {
    letter-spacing: 1.3px;
    font-size: calc(54vw/12);
  }
  .contents .dl_col {
    margin: 6% 0 0;
  }
  .contents .dl_col dd {
    width: 38.5%;
    max-width: 274px;
    line-height: 0;
  }
  .contents .dl_col dt {
    float: right;
    width: 58%;
  }
  .contents .dl_col dt .pre_bagg {
    display: inline-block;
    padding: 1.2% 3% 1.3%;
    margin: 0 0 4%;
    letter-spacing: 2.2px;
    border-radius: 4px;
  }
  .contents .dl_col dt .head {
    font-size: calc(49vw/12);
    line-height: 1.2;
  }
  .contents .dl_col dt .c_text {
    margin: 4.5% 0 0;
    font-size: calc(37vw/12);
    line-height: 1.35;
  }
  .contents .img_col {
    margin: 5.8% 0 0;
  }
  .contents .img_col li {
    width: 49%;
    margin: 0 0 0 2%;
  }
  .contents .img_col li:first-child {
    margin: 0;
  }
  .contents .col_btn {
    margin: 6% 0 0;
  }
  .contents .col_btn a {
    padding: 4.2% 0;
    border: 3px solid #666;
    font-size: calc(44vw/12);
    border-radius: 5px;
    letter-spacing: 1.5px;
  }
  .contents .col_btn a span {
    font-size: calc(49vw/12);
  }
  .contents .col_btn a:hover {
    opacity: 0.8;
    background: none;
    color: #666;
  }
  .contents .tw_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 0 0 8%;
    margin: 6% 0 0;
  }
  .contents .tw_col li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    width: 47.5%;
    padding: 0 0 11%;
    margin: 5% 0 0 5%;
  }
  .contents .tw_col li:nth-child(2n+1) {
    margin: 5% 0 0 0;
  }
  .contents .tw_col li:nth-child(2) {
    margin: 0 0 0 5%;
  }
  .contents .tw_col li:first-child {
    margin: 0;
  }
  .contents .tw_col figure {
    margin: 0 0 6%;
    line-height: 0;
  }
  .contents .tw_col .tw_bg {
    display: inline-block;
    padding: 1.2% 3% 1.3%;
    margin: 0 0 4%;
    letter-spacing: 2.2px;
    border-radius: 4px;
  }
  .contents .tw_col .tw_h {
    margin: 0 0 5%;
    font-size: calc(49vw/12);
    line-height: 1.2;
  }
  .contents .tw_col .tw_btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .contents .tw_col .tw_btn a {
    padding: 7.2% 0;
    border: 3px solid #606060;
    border-radius: 5px;
    letter-spacing: 1.3px;
    font-size: calc(38vw/12);
  }
  .contents .tw_col .tw_btn a span {
    font-size: calc(41vw/12);
  }
  .contents .tw_col .tw_btn a:hover {
    opacity: .8;
    background: none;
    color: #606060;
  }
  .contents .c_eight .c_e_list {
    padding: 0 0 4%;
    margin: 4% 0 0;
  }
  .contents .c_eight .c_e_list:first-of-type {
    margin: 0;
  }
  .contents .c_eight .large {
    margin: 4.5% 0 0;
  }
  .contents .c_eight .thumb {
    margin: 2.5% 0 0;
  }
  .contents .c_eight .thumb li {
    margin: 0 0 0 2%;
  }
  .contents .c_eight .thumb li:first-child {
    margin: 0;
  }
  .contents .c_eight .thumb li a {
    overflow: hidden;
    display: block;
    line-height: 0;
    -webkit-transition: none;
    transition: none;
  }
  .contents .c_eight .thumb li a img {
    margin: 0;
  }
  .contents .c_eight .thumb li .active {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid #ddaa00;
  }
  .contents .c_eight .thumb li .active img {
    margin: -1.6px 0;
    opacity: .8;
  }
  .contents .c_eight .btn {
    margin: 5% 0 0;
  }
  .contents .c_eight .btn a {
    padding: 3% 0;
    border-radius: 3px;
    font-size: calc(51vw/12);
  }

  .merit {
    padding: 8% 0 0;
  }
  .merit .wrap {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    width: 89%;
  }
  .merit .m_h {
    width: 62.6%;
    margin: 0 auto;
  }
  .merit .m_lot {
    max-width: 680px;
    border-radius: 7px;
  }
  .merit .m_lot .ml_h {
    margin: 6% 0 0;
    font-size: calc(54vw/12);
    line-height: 1.4;
  }
  .merit .m_lot figure {
    width: 100%;
    margin: 4.8% auto 0;
  }
  .merit .m_box {
    overflow: hidden;
    padding: 0;
    margin: 5.5% 0 0;
    border-radius: 9px;
  }
  .merit .m_box li {
    float: left;
    width: 47.5%;
    padding: 0 0 5.1%;
    margin: 5% 0 0 5%;
    border-radius: 0 0 7px 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .merit .m_box li:first-child {
    margin: 0;
  }
  .merit .m_box li:nth-child(2) {
    margin: 0 0 0 5%;
  }
  .merit .m_box li:nth-child(3) {
    margin: 5% 0 0 0;
  }
  .merit .m_box li .icon {
    margin: 0 auto;
    line-height: 0;
  }
  .merit .m_box li .icon img {
    border-radius: 9px 9px 0 0;
  }
  .merit .m_box li .c_it {
    margin: 7.5% 0 0;
    font-size: calc(42vw/12);
    line-height: 1.5;
    letter-spacing: 1.4px;
  }
  .merit .m_box li .c_it .h_ss {
    font-size: calc(43vw/12);
  }
  .merit .m_box li .c_it .num {
    font-size: calc(47vw/12);
  }

  .other {
    padding: 8% 0 0;
  }
  .other .wrap {
    max-width: 100%;
    width: 91%;
    padding: 0;
    border-radius: 7px;
  }
  .other .o_h {
    border-left: 6px solid #ffd500;
    padding: 0 0 0 2.6%;
    line-height: 1.4;
    font-size: calc(50vw/12);
  }
  .other .o_h span {
    letter-spacing: 1.3px;
    font-size: calc(52vw/12);
  }
  .other figure {
    margin: 7% 0 0;
  }

  .p_top {
    margin: 8% 0 6%;
  }
  .p_top a {
    display: inline-block;
    font-size: calc(48vw/12);
  }
  .p_top span {
    font-size: calc(52vw/12);
  }

  .pup_t {
    margin: 3.5% 0 0;
  }

  footer {
    padding: 2% 0 4%;
  }
  footer .wrap {
    max-width: none;
    width: 95%;
    padding: 2% 0 20%;
    margin: 0 4.5%;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(24vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(25vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 480px) {
  .line_w .wrap_w {
    height: 19px;
  }

  .mt20 {
    margin: 3% 0 0;
  }

  .mt30 {
    margin: 5% 0 0;
  }

  .mt40 {
    margin: 6% 0 0;
  }

  .mt50 {
    margin: 7% 0 0;
  }

  .mt60 {
    margin: 8% 0 0;
  }

  .mt70 {
    margin: 9% 0 0;
  }

  header .h_l {
    padding: 1.2% 0 1.3% 2.3%;
  }
  header .h_l span {
    width: 19.2%;
  }
  header .h_a {
    overflow: hidden;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/9c9a6aa85b06b4d2f1ee798b15b598fb_ae9070f0604fa3b77031e2ec9563556a.jpg) center top repeat #000;
    background-size: cover;
    height: auto;
    padding: 11.2% 0 6%;
  }
  header .h_i {
    width: 97.3%;
  }
  header .h_t {
    width: 64.7%;
    margin: 1.8% auto 0;
  }

  .contents .uitem {
    width: 93%;
    margin: 7% auto 0;
  }
  .contents .uitem li {
    width: 17.8%;
    margin: 0 0 0 2.75%;
    line-height: 0;
  }
  .contents .topic {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/1ece88b153a54f34961b7b09c617c48f_058217df502ae4b7a19cd2d0e27281da.png) center top no-repeat;
    background-size: cover;
    padding: 5.5% 0 44px;
    margin: 7% auto 0;
    border-radius: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contents .topic .t_h {
    font-size: calc(63vw/12);
    letter-spacing: 1.5px;
    line-height: 1.3;
  }
  .contents .topic .t_h .num {
    display: inline-block;
    margin: 0 0.2%;
    font-size: calc(114vw/12);
  }
  .contents .topic .t_h .lar {
    font-size: calc(95vw/12);
  }
  .contents .topic .t_h .t_sec {
    font-size: calc(78vw/12);
  }
  .contents .topic .t_t {
    display: inline-block;
    padding: 1% 5% 1.6%;
    margin: 5.2% 0 0;
    border-radius: 26px;
    font-size: calc(61vw/12);
    letter-spacing: 1.3px;
  }
  .contents .topic .t_t .num {
    font-size: calc(67vw/12);
  }
  .contents .topic .t_list {
    width: 92.6%;
    margin: 6% auto 0;
  }
  .contents .da {
    width: 92.6%;
    margin: 5.8% auto 0;
    font-size: calc(44vw/12);
    letter-spacing: 2px;
  }
  .contents .da span {
    font-size: calc(48vw/12);
  }
  .contents .more {
    margin: 7.8% 4.2% 7.5% 0;
  }
  .contents .more a {
    font-size: calc(49vw/12);
  }
  .contents .c_h {
    border-left: 7px solid #000;
    padding: 0 0 0 2.5%;
    line-height: 1.4;
    font-size: calc(52vw/12);
  }
  .contents .c_h span {
    letter-spacing: 1.3px;
    font-size: calc(56vw/12);
  }
  .contents .dl_col {
    margin: 6% 0 0;
  }
  .contents .dl_col dd {
    width: 38.5%;
    max-width: 274px;
    line-height: 0;
  }
  .contents .dl_col dt {
    float: right;
    width: 58%;
  }
  .contents .dl_col dt .pre_bagg {
    display: inline-block;
    padding: 1.2% 3% 1.3%;
    margin: 0 0 4%;
    letter-spacing: 2.2px;
    border-radius: 3px;
  }
  .contents .dl_col dt .head {
    font-size: calc(51vw/12);
    line-height: 1.2;
  }
  .contents .dl_col dt .c_text {
    margin: 4.5% 0 0;
    font-size: calc(39vw/12);
    line-height: 1.35;
  }
  .contents .img_col {
    margin: 5.8% 0 0;
  }
  .contents .img_col li {
    width: 49%;
    margin: 0 0 0 2%;
  }
  .contents .img_col li:first-child {
    margin: 0;
  }
  .contents .col_btn {
    margin: 6% 0 0;
  }
  .contents .col_btn a {
    padding: 4.2% 0;
    border: 2px solid #666;
    font-size: calc(46vw/12);
    border-radius: 4px;
    letter-spacing: 1.5px;
  }
  .contents .col_btn a span {
    font-size: calc(49vw/12);
  }
  .contents .col_btn a:hover {
    opacity: 0.8;
    background: none;
    color: #666;
  }
  .contents .tw_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 0 0 8%;
    margin: 6% 0 0;
  }
  .contents .tw_col li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    width: 47.5%;
    padding: 0 0 11%;
    margin: 5% 0 0 5%;
  }
  .contents .tw_col li:nth-child(2n+1) {
    margin: 5% 0 0 0;
  }
  .contents .tw_col li:nth-child(2) {
    margin: 0 0 0 5%;
  }
  .contents .tw_col li:first-child {
    margin: 0;
  }
  .contents .tw_col figure {
    margin: 0 0 6%;
    line-height: 0;
  }
  .contents .tw_col .tw_bg {
    display: inline-block;
    padding: 1.2% 3% 1.3%;
    margin: 0 0 4%;
    letter-spacing: 2.2px;
    border-radius: 3px;
  }
  .contents .tw_col .tw_h {
    margin: 0 0 5%;
    font-size: calc(51vw/12);
    line-height: 1.2;
  }
  .contents .tw_col .tw_btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .contents .tw_col .tw_btn a {
    padding: 7.2% 0;
    border: 2px solid #606060;
    border-radius: 4px;
    letter-spacing: 1.3px;
    font-size: calc(40vw/12);
  }
  .contents .tw_col .tw_btn a span {
    font-size: calc(43vw/12);
  }
  .contents .tw_col .tw_btn a:hover {
    opacity: .8;
    background: none;
    color: #606060;
  }
  .contents .c_eight .c_e_list {
    padding: 0 0 4%;
    margin: 4% 0 0;
  }
  .contents .c_eight .c_e_list:first-of-type {
    margin: 0;
  }
  .contents .c_eight .large {
    margin: 4.5% 0 0;
  }
  .contents .c_eight .thumb {
    margin: 2.5% 0 0;
  }
  .contents .c_eight .thumb li {
    margin: 0 0 0 2%;
  }
  .contents .c_eight .thumb li:first-child {
    margin: 0;
  }
  .contents .c_eight .thumb li a {
    overflow: hidden;
    display: block;
    line-height: 0;
    -webkit-transition: none;
    transition: none;
  }
  .contents .c_eight .thumb li a img {
    margin: 0;
  }
  .contents .c_eight .thumb li .active {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #ddaa00;
  }
  .contents .c_eight .thumb li .active img {
    margin: -1.6px 0;
    opacity: .8;
  }
  .contents .c_eight .btn {
    margin: 5% 0 0;
  }
  .contents .c_eight .btn a {
    padding: 3% 0;
    border-radius: 3px;
    font-size: calc(51vw/12);
  }

  .merit {
    padding: 8% 0 0;
  }
  .merit .wrap {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    width: 89%;
  }
  .merit .m_h {
    width: 62.6%;
    margin: 0 auto;
  }
  .merit .m_lot {
    max-width: 680px;
    border-radius: 6px;
  }
  .merit .m_lot .ml_h {
    margin: 6% 0 0;
    font-size: calc(56vw/12);
    line-height: 1.4;
  }
  .merit .m_lot figure {
    width: 100%;
    margin: 4.8% auto 0;
  }
  .merit .m_box {
    overflow: hidden;
    padding: 0;
    margin: 5.5% 0 0;
    border-radius: 8px;
  }
  .merit .m_box li {
    float: left;
    width: 47.5%;
    padding: 0 0 5.1%;
    margin: 5% 0 0 5%;
    border-radius: 0 0 6px 6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .merit .m_box li:first-child {
    margin: 0;
  }
  .merit .m_box li:nth-child(2) {
    margin: 0 0 0 5%;
  }
  .merit .m_box li:nth-child(3) {
    margin: 5% 0 0 0;
  }
  .merit .m_box li .icon {
    margin: 0 auto;
    line-height: 0;
  }
  .merit .m_box li .icon img {
    border-radius: 8px 8px 0 0;
  }
  .merit .m_box li .c_it {
    margin: 7.5% 0 0;
    font-size: calc(44vw/12);
    line-height: 1.5;
    letter-spacing: 1.4px;
  }
  .merit .m_box li .c_it .h_ss {
    font-size: calc(45vw/12);
  }
  .merit .m_box li .c_it .num {
    font-size: calc(49vw/12);
  }

  .other {
    padding: 8% 0 0;
  }
  .other .wrap {
    max-width: 100%;
    width: 91%;
    padding: 0;
    border-radius: 6px;
  }
  .other .o_h {
    border-left: 4.5px solid #ffd500;
    padding: 0 0 0 2.6%;
    line-height: 1.4;
    font-size: calc(52vw/12);
  }
  .other .o_h span {
    letter-spacing: 1.3px;
    font-size: calc(55vw/12);
  }
  .other figure {
    margin: 7% 0 0;
  }

  .p_top {
    margin: 8% 0 6%;
  }
  .p_top a {
    display: inline-block;
    font-size: calc(50vw/12);
  }
  .p_top span {
    font-size: calc(54vw/12);
  }

  .pup_t {
    margin: 3.5% 0 0;
  }

  footer {
    padding: 2% 0 5%;
  }
  footer .wrap {
    max-width: none;
    width: 95%;
    padding: 2% 0 21%;
    margin: 0 4.5%;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(28vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(29vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
    line-height: 0.5;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(30vw/12);
    letter-spacing: 1.3px;
  }
}
