@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #000;
  margin: 0 auto;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
  height: auto;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.bg_fe {
  display: inline-block;
  margin: 15px 0 -20px;
}

.line_w {
  max-width: 768px;
  margin: 0 auto;
}
.line_w .wrap_w {
  background: #efefef;
  height: 38px;
}

.mt20 {
  margin: 20px 0 0;
}

.mt30 {
  margin: 30px 0 0;
}

.mt40 {
  margin: 40px 0 0;
}

.mt50 {
  margin: 50px 0 0;
}

.mt60 {
  margin: 60px 0 0;
}

.mt70 {
  margin: 70px 0 0;
}

.wrap {
  max-width: 721px;
  margin: 0 auto;
}

header {
  padding: 0;
}
header .h_l {
  background: #000;
  padding: 13px 0 13px 22px;
}
header .h_l span {
  display: inline-block;
  max-width: 151px;
  line-height: 0;
}
header .h_a {
  position: relative;
  overflow: hidden;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/6f69eb2735128d6fd0c697c97db464ff_2589d33e5d3984dea4c676890a9757f9.png) center top repeat #000;
  padding: 25px 0 0;
  margin: 0 auto;
  text-align: center;
}
header .h_i {
  max-width: 573px;
  margin: 0 auto;
  line-height: 0;
}
header .h_box {
  background: #fff;
  padding: 25px 21px 34px;
  margin: 25px 0 0;
  border-radius: 20px;
  text-align: center;
}
header .h_box .h_bh {
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 1.3px;
  line-height: 1.3;
  color: #000;
}
header .h_box .h_bh .num {
  display: inline-block;
  margin: 0 2px;
  font-size: 43px;
}
header .h_box .h_bh .ss {
  font-size: 28px;
}
header .h_box .h_bh .cl {
  color: #a1882f;
}
header .h_box .h_bh .ls {
  display: inline-block;
  margin: 0 0 0 2px;
  font-size: 45px;
}
header .h_box .h_sec {
  position: relative;
  display: inline-block;
  padding: 0 40px 0 42px;
  line-height: 1;
}
header .h_box .h_sec:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/4021bf04d7632c498d3da33ec8a4848e_3effc8817bcdb4e06c99eb796e25f2d9.png) 0 0 no-repeat;
  background-size: 35px 56px;
  width: 35px;
  height: 56px;
}
header .h_box .h_sec:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/f42daba5dfe010209f19f4e6dd135788_59e864575feac7a9934b52dfb27c69b0.png) 0 0 no-repeat;
  background-size: 35px 56px;
  width: 35px;
  height: 56px;
}
header .h_box .h_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 48px 0 0;
}
header .h_box .h_item li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 47.5%;
  margin: 3% 0 0 5%;
}
header .h_box .h_item li:nth-child(3) {
  margin: 3% 0 0 0;
}
header .h_box .h_item li:nth-child(2) {
  margin: 0 0 0 5%;
}
header .h_box .h_item li:first-child {
  margin: 0;
}
header .h_box .h_item li a {
  display: block;
  color: #000;
}
header .h_box .h_item li .bagg {
  overflow: hidden;
  margin: 17px 0 0;
  letter-spacing: 1.4px;
}
header .h_box .h_item li .bagg .ge {
  float: left;
  display: inline-block;
  background: #000;
  padding: 6px 10px;
  margin: 0 8px 0 0;
  border-radius: 4px;
  font-size: 15px;
  text-align: center;
  color: #fff;
}
header .h_box .h_item li .bagg .date {
  float: left;
  display: inline-block;
  background: #f0163a;
  padding: 6px 10px;
  margin: 0 8px 0 0;
  border-radius: 4px;
  font-size: 15px;
  text-align: center;
  color: #fff;
}
header .h_box .h_item li .hi_t {
  margin: 8px 0 0;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 1.3;
}
header .h_box_sec {
  padding: 25px 21px 46px;
  margin: 35px 0 0;
}
header .h_box_sec .hb_l {
  max-width: 351px;
  margin: 17px auto 0;
  line-height: 0;
}
header .h_box_sec .hb_t {
  margin: 39px 0 0;
  font-size: 38px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #000;
}
header .h_box_sec figure {
  margin: 42px 0 0;
  line-height: 0;
}
header .h_box_sec .hb_plans {
  margin: 37px 0 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.1px;
  text-align: center;
  color: #000;
}
header .h_date {
  margin: 24px 0 30px;
  font-size: 20px;
  letter-spacing: 1.1px;
  text-align: center;
  color: #fff;
}

.contents {
  background: #fff;
}
.contents .wrap {
  max-width: 680px;
  margin: 0 auto;
}
.contents .c_h {
  border-left: 9px solid #a1882f;
  padding: 0 0 0 18px;
  line-height: 1.4;
  font-size: 32px;
  color: #000;
}
.contents .c_h span {
  letter-spacing: 1.3px;
  font-size: 36px;
}
.contents .weeks {
  max-width: 250px;
  padding: 48px 0 0;
  margin: 0 auto;
  line-height: 0;
}
.contents .c_bh {
  margin: 52px 0 0;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 1.3px;
  line-height: 1.4;
  text-align: center;
  color: #000;
}
.contents .c_bh .num {
  display: inline-block;
  margin: 0 2px;
  font-size: 43px;
}
.contents .c_bh .ss {
  font-size: 28px;
}
.contents .c_bh .cl {
  color: #a1882f;
}
.contents .c_bh .ls {
  display: inline-block;
  margin: 0 0 0 2px;
  font-size: 45px;
}
.contents .c_sec {
  position: relative;
  display: inline-block;
  padding: 0 40px 0 42px;
  line-height: 1;
}
.contents .c_sec:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/4021bf04d7632c498d3da33ec8a4848e_3effc8817bcdb4e06c99eb796e25f2d9.png) 0 0 no-repeat;
  background-size: 35px 56px;
  width: 35px;
  height: 56px;
}
.contents .c_sec:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/f42daba5dfe010209f19f4e6dd135788_59e864575feac7a9934b52dfb27c69b0.png) 0 0 no-repeat;
  background-size: 35px 56px;
  width: 35px;
  height: 56px;
}
.contents .c_box {
  padding: 77px 0 0;
}
.contents .c_box_sec {
  padding: 58px 0 0;
}
.contents .est {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 40px 0 0;
}
.contents .est a {
  display: block;
}
.contents .est li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 31.3%;
  margin: 6% 0 0 3%;
}
.contents .est li:nth-child(3n+1) {
  margin: 6% 0 0 0;
}
.contents .est li:nth-child(2) {
  margin: 0 0 0 3%;
}
.contents .est li:nth-child(3) {
  margin: 0 0 0 3%;
}
.contents .est li:nth-child(1) {
  margin: 0;
}
.contents .est li figure {
  line-height: 0;
}
.contents .est li .est_t {
  position: relative;
  padding: 0 0 0 25px;
  margin: 20px 0 0;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 1.3px;
  font-weight: bold;
  color: #000;
}
.contents .est li .est_t:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  background: #a1882f;
  background-size: 17px 17px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
.contents .type {
  position: relative;
  padding: 0 0 0 45px;
  font-size: 26px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
}
.contents .type:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #a1882f;
  background-size: 27px 27px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
}
.contents .rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 40px 0 0;
}
.contents .rank a {
  display: block;
}
.contents .rank li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 31.3%;
  margin: 7% 0 0 3%;
}
.contents .rank li a {
  display: block;
}
.contents .rank li dt {
  background: #a1882f;
  width: 56px;
  height: 50px;
  padding: 7px 0 0 9px;
  font-size: 33px;
  font-weight: bold;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contents .rank li dt span {
  font-size: 20px;
}
.contents .rank li:nth-child(3n+1) {
  margin: 4% 0 0 0;
}
.contents .rank li:nth-child(3n+2) {
  margin: 4% 0 0 3%;
}
.contents .rank li:nth-child(3n+3) {
  margin: 4% 0 0 3%;
}
.contents .rank li:nth-child(2) {
  margin: 0 0 0 3%;
}
.contents .rank li:nth-child(3) {
  margin: 0 0 0 3%;
}
.contents .rank li:nth-child(1) {
  margin: 0;
}
.contents .rank li figure {
  line-height: 0;
}
.contents .rank li .add {
  position: relative;
}
.contents .rank li .add:before {
  content: '無料エピソード拡大';
  position: absolute;
  top: 4px;
  left: 4px;
  display: inline-block;
  background: #f0163a;
  padding: 13px 11px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 1px;
  white-space: nowrap;
  color: #fff;
}
.contents .rank li .al_ad {
  position: relative;
}
.contents .rank li .al_ad:before {
  content: '全エピソード無料';
  position: absolute;
  top: 4px;
  left: 15px;
  display: inline-block;
  background: #f0163a;
  padding: 13px 11px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 1px;
  white-space: nowrap;
  color: #fff;
}

.sec {
  background: #efefef;
  padding: 40px 0 0;
}
.sec .s_box {
  background: #fff;
  padding: 60px 0 0;
  border-radius: 20px;
}
.sec .s_box .s_h {
  max-width: 250px;
  margin: 0 auto;
}
.sec .s_box .s_h_thr {
  max-width: 235px;
  margin: 0 auto;
}
.sec .s_box .s_head {
  margin: 33px 0 0;
  font-size: 37px;
  text-align: center;
  letter-spacing: 2.5px;
  line-height: 1.3;
  color: #000;
}
.sec .s_box .s_item {
  overflow: hidden;
  max-width: 635px;
  margin: 46px auto 0;
}
.sec .s_box .s_item li {
  float: left;
  width: 25%;
  line-height: 0;
}
.sec .s_box .s_bg {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/ee30bfc7699aebcbc72953f571cb3be0_5d641d3329ddd7dcf32eb5777a1932a1.png) center top repeat;
  background-size: 100% auto;
  padding: 58px 30px 64px;
  margin: 44px 0 0;
  border-radius: 0 0 20px 20px;
}
.sec .s_box .s_bg .s_bh {
  max-width: 458px;
  margin: 0 auto;
}
.sec .s_box .s_bg .s_bt {
  margin: 20px 0 0;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1.4px;
  color: #fff;
}
.sec .s_box .s_bg .s_bt .num {
  font-size: 40px;
}
.sec .s_box .s_bg .s_bt .cl {
  color: #e6c300;
}
.sec .s_box .s_bg .sb_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 644px;
  margin: 43px auto 0;
}
.sec .s_box .s_bg .sb_list li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16.66%;
  line-height: 0;
}

.sec_f {
  padding: 60px 0 0;
}

.thr {
  background: #efefef;
  padding: 34px 0 0;
}
.thr .t_box {
  background: #fff;
  padding: 60px 0 0;
  border-radius: 20px;
}
.thr .t_box .t_h {
  max-width: 250px;
  margin: 0 auto;
}
.thr .t_box .t_h_fou {
  max-width: 235px;
  margin: 0 auto;
}
.thr .t_box .t_i {
  overflow: hidden;
  max-width: 660px;
  padding: 0 6px 0 28px;
  margin: 60px auto 0;
}
.thr .t_box .t_i .ti_l {
  float: left;
  max-width: 318px;
}
.thr .t_box .t_i .ti_l .t_head {
  font-size: 36px;
  letter-spacing: 3.5px;
  white-space: nowrap;
}
.thr .t_box .t_i .ti_l .t_t {
  margin: 20px 0 0;
  padding: 20px 0 0;
  border-top: 1px solid #ababab;
  line-height: 1.8;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #606060;
}
.thr .t_box .t_i .t_item {
  float: right;
  overflow: hidden;
  max-width: 282px;
  margin: 0 auto 0;
}
.thr .t_box .t_i .t_item li {
  float: left;
  width: 33.3%;
  line-height: 0;
}
.thr .t_box .t_bg {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/ee30bfc7699aebcbc72953f571cb3be0_5d641d3329ddd7dcf32eb5777a1932a1.png) center top repeat;
  background-size: 100% auto;
  padding: 58px 30px 64px;
  margin: 35px 0 0;
  border-radius: 0 0 20px 20px;
}
.thr .t_box .t_bg .t_bh {
  max-width: 458px;
  margin: 0 auto;
}
.thr .t_box .t_bg .t_bt {
  margin: 20px 0 0;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1.4px;
  color: #fff;
}
.thr .t_box .t_bg .t_bt .num {
  font-size: 40px;
}
.thr .t_box .t_bg .t_bt .cl {
  color: #e6c300;
}
.thr .t_box .t_bg .tb_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 644px;
  margin: 43px auto 0;
}
.thr .t_box .t_bg .tb_list li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16.66%;
  line-height: 0;
}
.thr .t_pad {
  padding: 60px 0;
}
.thr .t_las {
  padding: 0 0 60px;
}

.p_up {
  background: #fff;
}
.p_up .w_line {
  max-width: 750px;
  height: 38px;
  margin: 0 auto;
  background: #efefef;
}
.p_up .wrap {
  max-width: 680px;
  margin: 0 auto;
}
.p_up .p_u_box {
  padding: 63px 0 59px;
  text-align: center;
}
.p_up .p_u_box:nth-of-type(2) .p_icon {
  margin: 0 auto 0;
}
.p_up .sece {
  padding: 63px 0 24px;
}
.p_up .p_h {
  position: relative;
  display: inline-block;
  padding: 0 25px 0 30px;
  margin: 0 auto;
  font-size: 23px;
  line-height: 0.7;
  letter-spacing: 1.5px;
}
.p_up .p_h:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/401232811602bd47ce9e2d330ef50f0c_c997755ebc2b831c905c31e265d3512c.png) 0 0 no-repeat;
  background-size: 21px 22px;
  width: 21px;
  height: 22px;
}
.p_up .p_h:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/ccdff6d76ac534d579a16d51c2dc22ef_9d3231e3ac80b51ad44cdc5edc290e6f.png) 0 0 no-repeat;
  background-size: 21px 22px;
  width: 21px;
  height: 22px;
}
.p_up .p_h .num {
  font-size: 26px;
}
.p_up .p_img {
  max-width: 548px;
  margin: 18px auto 0;
}
.p_up .p_icon {
  max-width: 139px;
  margin: 38px auto 0;
}
.p_up .p_ise {
  max-width: 139px;
  margin: 0 auto 0;
}
.p_up .p_text {
  margin: 17px 0 0;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 1.4;
}
.p_up .p_text .cl {
  color: #ddaa00;
}
.p_up .p_text .ss {
  display: inline-block;
  margin: 0 2px;
  font-size: 28px;
}
.p_up .p_s_t {
  margin: 17px 0 0;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 1.4;
}
.p_up .p_s_t .cl {
  color: #ddaa00;
}
.p_up .p_i {
  margin: 15px auto 0;
  line-height: 0;
}
.p_up .p_plot {
  margin: 40px 0 0;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 1.6px;
}
.p_up .p_plot .num {
  font-size: 41px;
}
.p_up .p_plot .ss {
  display: inline-block;
  margin: 0 0.15%;
  font-size: 28px;
}
.p_up .p_plot .cl {
  color: #ddaa00;
}
.p_up .p_btn {
  margin: 40px 0 0;
}
.p_up .p_btn a {
  display: block;
  padding: 22px 0;
  border: 4px solid #ddaa00;
  border-radius: 6px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.6px;
  color: #ddaa00;
}
.p_up .p_btn a:hover {
  opacity: 1;
  background: #ddaa00;
  color: #fff;
}
.p_up .c_five {
  margin: 0;
}
.p_up .c_five .c_five_li {
  padding: 41px 0;
  margin: 0;
  border-top: 1px solid #606060;
  border-radius: 0;
}
.p_up .c_five .c_five_li:first-child {
  padding: 32px 0 37px;
  border-top: none;
}
.p_up .c_five .c_five_li:nth-child(2) {
  padding: 41px 0;
}
.p_up .c_five .c_five_li a {
  display: block;
}
.p_up .c_five .c_five_li dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p_up .c_five .c_five_li dd {
  line-height: 0;
  width: 43%;
}
.p_up .c_five .c_five_li dt {
  width: 53%;
  padding: 0 0 0 4%;
  font-size: 23px;
  line-height: 1.4;
  text-align: left;
  font-weight: bold;
  color: #000;
}
.p_up .c_five .c_five_li dt span {
  display: block;
  font-size: 26px;
  color: #ddaa00;
}
.p_up .p_date {
  max-width: 306px;
  margin: 0 auto;
}
.p_up .pu_h {
  max-width: 650px;
  margin: 53px auto 0;
}

.p_top {
  margin: 60px 0 0;
  text-align: right;
}
.p_top a {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}
.p_top span {
  font-size: 32px;
}

.gen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 27px 0 0;
}
.gen li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 48.0%;
  margin: 3.5% 0 0 4%;
}
.gen li a {
  background: none;
  display: block;
  padding: 30px 0;
  font-size: 25px;
  border: 2px solid #a1882f;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #a1882f;
}
.gen li a:hover {
  opacity: 0.8;
  background: #a1882f;
  color: #fff;
}
.gen li:nth-child(2n+1) {
  margin: 3.5% 0 0;
}
.gen li:nth-child(2) {
  margin: 0 0 0 4%;
}
.gen li:nth-child(1) {
  margin: 0;
}
.gen li img {
  line-height: 0;
}
.gen .active a {
  background: #a1882f;
  color: #fff;
}

footer {
  background: #efefef;
}
footer .wrap {
  max-width: 710px;
  margin: 0 auto;
  padding: 40px 0 80px;
}
footer .copy {
  margin: 0 0 32px;
}
footer .copy li {
  width: 100%;
  margin: 5px 0 0 0;
  line-height: 1.3;
  font-size: 16px;
  color: #666666;
}
footer .f_list {
  overflow: hidden;
  margin: 10px 0 10px;
}
footer .f_list li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .f_list li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #666666;
}
footer .f_list li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #666666;
  line-height: 1;
}
footer .f_list li:last-child:after {
  content: '';
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #666666;
}

@media screen and (max-width: 768px) {
  .bg_fe {
    margin: 2.5% 0 -3%;
  }

  .line_w .wrap_w {
    height: 26px;
  }

  .mt20 {
    margin: 3% 0 0;
  }

  .mt30 {
    margin: 5% 0 0;
  }

  .mt40 {
    margin: 6% 0 0;
  }

  .mt50 {
    margin: 7% 0 0;
  }

  .mt60 {
    margin: 8% 0 0;
  }

  .mt70 {
    margin: 9% 0 0;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .wrap {
    max-width: none;
    width: 100%;
    padding: 0 2.2%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  header {
    padding: 0;
  }
  header .h_l {
    padding: 1.2% 0 1.3% 2.2%;
  }
  header .h_l span {
    display: inline-block;
    width: 21%;
  }
  header .h_a {
    position: relative;
    overflow: hidden;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/5ff1fd2e7bfc1bd2d44929d0d0dc1b27_1ab1523f618c8e89908ed840fdb365d2.png) center top repeat;
    background-size: contain;
    padding: 4.3% 0 0;
    margin: 0 auto;
  }
  header .h_i {
    width: 82%;
    margin: 0 auto;
  }
  header .h_box {
    padding: 3.6% 3% 5%;
    margin: 2.2% 0 0;
    border-radius: 18px;
  }
  header .h_box .h_bh {
    font-size: calc(59vw/12);
    letter-spacing: 1.3px;
    line-height: 1.5;
  }
  header .h_box .h_bh .num {
    display: inline-block;
    margin: 0 0.2%;
    font-size: calc(67vw/12);
  }
  header .h_box .h_bh .ss {
    font-size: calc(41vw/12);
  }
  header .h_box .h_bh .ls {
    display: inline-block;
    margin: 0 0 0 0.2%;
    font-size: calc(67vw/12);
  }
  header .h_box .h_sec {
    display: inline-block;
    padding: 0 6% 0 6.2%;
    line-height: 1;
    white-space: nowrap;
  }
  header .h_box .h_sec:before {
    content: '';
    position: absolute;
    top: 1%;
    left: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/4021bf04d7632c498d3da33ec8a4848e_3effc8817bcdb4e06c99eb796e25f2d9.png) 0 0 no-repeat;
    background-size: 100% auto;
    width: 6.06%;
    height: 134%;
  }
  header .h_box .h_sec:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/f42daba5dfe010209f19f4e6dd135788_59e864575feac7a9934b52dfb27c69b0.png) 0 0 no-repeat;
    background-size: 100% auto;
    width: 6.06%;
    height: 134%;
  }
  header .h_box .h_item {
    margin: 7% 0 0;
  }
  header .h_box .h_item li {
    width: 47.5%;
    margin: 3% 0 0 5%;
  }
  header .h_box .h_item li:nth-child(3) {
    margin: 3% 0 0 0;
  }
  header .h_box .h_item li:nth-child(2) {
    margin: 0 0 0 5%;
  }
  header .h_box .h_item li:first-child {
    margin: 0;
  }
  header .h_box .h_item li .bagg {
    overflow: hidden;
    margin: 5.5% 0 0;
    letter-spacing: 1.4px;
  }
  header .h_box .h_item li .bagg .ge {
    display: inline-block;
    padding: 2% 3.5%;
    margin: 0 3% 0 0;
    border-radius: 4px;
    font-size: calc(24vw/12);
  }
  header .h_box .h_item li .bagg .date {
    display: inline-block;
    padding: 2% 3.5%;
    margin: 0 3% 0 0;
    border-radius: 4px;
    font-size: calc(24vw/12);
  }
  header .h_box .h_item li .hi_t {
    margin: 2.5% 0 0;
    font-size: calc(37vw/12);
    letter-spacing: 1.2px;
    line-height: 1.3;
  }
  header .h_box_sec {
    padding: 3.5% 3% 5.1%;
    margin: 4% 0 0;
  }
  header .h_box_sec .hb_l {
    width: 53.5%;
    margin: 2.6% auto 0;
  }
  header .h_box_sec .hb_t {
    margin: 6% 0 0;
    font-size: calc(59vw/12);
    letter-spacing: 1.5px;
  }
  header .h_box_sec figure {
    margin: 6.3% 0 0;
  }
  header .h_box_sec .hb_plans {
    margin: 5.5% 0 0;
    font-size: calc(37vw/12);
    letter-spacing: 1.1px;
  }
  header .h_date {
    margin: 3% 0 4.5%;
    font-size: calc(30vw/12);
    letter-spacing: 1.1px;
  }

  .contents .wrap {
    max-width: 100%;
    margin: 0 auto;
  }
  .contents .cw {
    padding: 0 4.5%;
  }
  .contents .c_h {
    border-left: 7px solid #a1882f;
    padding: 0 0 0 2.5%;
    line-height: 1.4;
    font-size: calc(50vw/12);
  }
  .contents .c_h span {
    letter-spacing: 1.3px;
    font-size: calc(54vw/12);
  }
  .contents .weeks {
    width: 33.93%;
    padding: 6.5% 0 0;
    margin: 0 auto;
  }
  .contents .c_bh {
    margin: 7% 0 0;
    font-size: calc(66vw/12);
    letter-spacing: 1.3px;
    line-height: 1.4;
  }
  .contents .c_bh .num {
    display: inline-block;
    margin: 0 0.15%;
    font-size: calc(70vw/12);
  }
  .contents .c_bh .ss {
    font-size: calc(44vw/12);
  }
  .contents .c_bh .ls {
    display: inline-block;
    margin: 0 0 0 0.15%;
    font-size: calc(72vw/12);
  }
  .contents .c_sec {
    display: inline-block;
    padding: 0 6% 0 6.1%;
    line-height: 1;
    white-space: nowrap;
  }
  .contents .c_sec:before {
    content: '';
    position: absolute;
    top: 2%;
    left: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/4021bf04d7632c498d3da33ec8a4848e_3effc8817bcdb4e06c99eb796e25f2d9.png) 0 0 no-repeat;
    background-size: 100% auto;
    width: 5.5%;
    height: 134%;
  }
  .contents .c_sec:after {
    content: '';
    position: absolute;
    top: 2%;
    right: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/f42daba5dfe010209f19f4e6dd135788_59e864575feac7a9934b52dfb27c69b0.png) 0 0 no-repeat;
    background-size: 100% auto;
    width: 5.5%;
    height: 134%;
  }
  .contents .c_box {
    padding: 9.8% 0 0;
  }
  .contents .c_box_sec {
    padding: 8% 0 0;
  }
  .contents .est {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 5.4% 0 0;
  }
  .contents .est li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 31.3%;
    margin: 6% 0 0 3%;
  }
  .contents .est li:nth-child(3n+1) {
    margin: 6% 0 0 0;
  }
  .contents .est li:nth-child(2) {
    margin: 0 0 0 3%;
  }
  .contents .est li:nth-child(3) {
    margin: 0 0 0 3%;
  }
  .contents .est li:nth-child(1) {
    margin: 0;
  }
  .contents .est li .est_t {
    padding: 0 0 0 11%;
    margin: 8% 0 0;
    letter-spacing: 1.3px;
    font-size: calc(31vw/12);
  }
  .contents .est li .est_t:before {
    content: '';
    position: absolute;
    top: 10%;
    left: 0;
    background-size: 100% auto;
    width: 7%;
    height: 85%;
    border-radius: 50%;
  }
  .contents .type {
    padding: 0 0 0 6%;
    font-size: calc(43vw/12);
  }
  .contents .type:before {
    content: '';
    position: absolute;
    top: 7%;
    left: 0;
    background-size: 100% 100%;
    width: 3.7%;
    height: 100%;
  }
  .contents .rank {
    margin: 5.4% 0 0;
  }
  .contents .rank li {
    width: 31.3%;
    margin: 7% 0 0 3%;
  }
  .contents .rank li dt {
    width: 25.5%;
    height: auto;
    padding: 2.2% 0 4.7% 4%;
    font-size: calc(53vw/12);
  }
  .contents .rank li dt span {
    font-size: calc(32vw/12);
  }
  .contents .rank li:nth-child(3n+1) {
    margin: 4% 0 0 0;
  }
  .contents .rank li:nth-child(3n+2) {
    margin: 4% 0 0 3%;
  }
  .contents .rank li:nth-child(3n+3) {
    margin: 4% 0 0 3%;
  }
  .contents .rank li:nth-child(2) {
    margin: 0 0 0 3%;
  }
  .contents .rank li:nth-child(3) {
    margin: 0 0 0 3%;
  }
  .contents .rank li:nth-child(1) {
    margin: 0;
  }
  .contents .rank li .add:before {
    top: 1.5%;
    left: 5.5%;
    display: inline-block;
    padding: 6% 5.2%;
    font-size: calc(29vw/12);
    border-radius: 3px;
    letter-spacing: 1px;
    width: 79%;
  }
  .contents .rank li .al_ad:before {
    top: 1.5%;
    left: 5.5%;
    display: inline-block;
    padding: 6% 5.2%;
    font-size: calc(29vw/12);
    border-radius: 3px;
    letter-spacing: 1px;
    width: 79%;
  }

  .sec {
    padding: 6% 0 0;
  }
  .sec .s_box {
    padding: 8% 0 0;
    border-radius: 20px;
  }
  .sec .s_box .s_h {
    width: 34%;
    margin: 0 auto;
  }
  .sec .s_box .s_h_thr {
    width: 32.2%;
    margin: 0 auto;
  }
  .sec .s_box .s_head {
    margin: 4.6% 0 0;
    font-size: calc(58vw/12);
    letter-spacing: 2.5px;
    line-height: 1.3;
  }
  .sec .s_box .s_item {
    width: 86.4%;
    margin: 6.3% auto 0;
  }
  .sec .s_box .s_item li {
    width: 25%;
  }
  .sec .s_box .s_bg {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/ee30bfc7699aebcbc72953f571cb3be0_5d641d3329ddd7dcf32eb5777a1932a1.png) center top repeat;
    background-size: contain;
    padding: 8% 5% 8.5%;
    margin: 6.3% 0 0;
    border-radius: 0 0 20px 20px;
  }
  .sec .s_box .s_bg .s_bh {
    width: 69.6%;
    margin: 0 auto;
  }
  .sec .s_box .s_bg .s_bt {
    margin: 3.6% 0 0;
    font-size: calc(55vw/12);
    line-height: 1.2;
    letter-spacing: 1.4px;
  }
  .sec .s_box .s_bg .s_bt .num {
    font-size: calc(63vw/12);
  }
  .sec .s_box .s_bg .sb_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: 100%;
    margin: 6.3% auto 0;
    width: 97%;
  }
  .sec .s_box .s_bg .sb_list li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 16.66%;
    line-height: 0;
  }

  .sec_f {
    padding: 8% 0 0;
  }

  .thr {
    padding: 4.8% 0 0;
  }
  .thr .t_box {
    padding: 8% 0 0;
    border-radius: 20px;
  }
  .thr .t_box .t_h {
    width: 34.1%;
    margin: 0 auto;
  }
  .thr .t_box .t_h_fou {
    width: 32.15%;
    margin: 0 auto;
  }
  .thr .t_box .t_i {
    max-width: 100%;
    padding: 0 1% 0 4%;
    margin: 8% auto 0;
    width: 90%;
  }
  .thr .t_box .t_i .ti_l {
    width: 48.5%;
  }
  .thr .t_box .t_i .ti_l .t_head {
    font-size: calc(57vw/12);
    letter-spacing: 3.5px;
  }
  .thr .t_box .t_i .ti_l .t_t {
    margin: 6.3% 0 0;
    padding: 6.3% 0 0;
    line-height: 1.8;
    font-size: calc(28vw/12);
    letter-spacing: 1.2px;
  }
  .thr .t_box .t_i .t_item {
    width: 42.8%;
    margin: 0 auto 0;
  }
  .thr .t_box .t_i .t_item li {
    width: 33.3%;
  }
  .thr .t_box .t_bg {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/ee30bfc7699aebcbc72953f571cb3be0_5d641d3329ddd7dcf32eb5777a1932a1.png) center top repeat;
    background-size: 100% auto;
    padding: 8% 5% 8.5%;
    margin: 5.3% 0 0;
    border-radius: 0 0 20px 20px;
  }
  .thr .t_box .t_bg .t_bh {
    width: 69.6%;
    margin: 0 auto;
  }
  .thr .t_box .t_bg .t_bt {
    margin: 3.6% 0 0;
    font-size: calc(55vw/12);
    line-height: 1.2;
    letter-spacing: 1.4px;
  }
  .thr .t_box .t_bg .t_bt .num {
    font-size: calc(63vw/12);
  }
  .thr .t_box .t_bg .tb_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: 100%;
    margin: 6.3% auto 0;
    width: 97%;
  }
  .thr .t_box .t_bg .tb_list li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 16.66%;
  }
  .thr .t_pad {
    padding: 8% 0;
  }
  .thr .t_las {
    padding: 0 2.2% 7%;
  }

  .p_up .w_line {
    max-width: 100%;
    height: 28px;
    margin: 0 auto;
  }
  .p_up .wrap {
    max-width: 100%;
    width: 95%;
    margin: 0 auto;
  }
  .p_up .p_u_box {
    padding: 9% 0 8.8%;
  }
  .p_up .sece {
    padding: 9% 0 4%;
  }
  .p_up .p_h {
    display: inline-block;
    padding: 0 3.5% 0 4.2%;
    font-size: calc(39vw/12);
    line-height: 0.7;
    letter-spacing: 1.5px;
  }
  .p_up .p_h:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/401232811602bd47ce9e2d330ef50f0c_c997755ebc2b831c905c31e265d3512c.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 7.2%;
    height: 120%;
  }
  .p_up .p_h:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/ccdff6d76ac534d579a16d51c2dc22ef_9d3231e3ac80b51ad44cdc5edc290e6f.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 7.2%;
    height: 120%;
  }
  .p_up .p_h .num {
    font-size: calc(42vw/12);
  }
  .p_up .p_img {
    width: 86.7%;
    margin: 2.9% auto 0;
  }
  .p_up .p_icon {
    width: 22%;
    margin: 6% auto 0;
  }
  .p_up .p_ise {
    width: 22%;
    margin: 0 auto 0;
  }
  .p_up .p_text {
    margin: 2.7% 0 0;
    font-size: calc(71vw/12);
    letter-spacing: 1.5px;
    line-height: 1.4;
  }
  .p_up .p_text .ss {
    display: inline-block;
    margin: 0 0.15%;
    font-size: calc(52vw/12);
  }
  .p_up .p_s_t {
    margin: 3.6% 0 0;
    font-size: calc(50vw/12);
    letter-spacing: 1.5px;
    line-height: 1.4;
  }
  .p_up .p_i {
    margin: 3.6% auto 0;
  }
  .p_up .p_plot {
    margin: 6% 0 0;
    font-size: calc(67vw/12);
    letter-spacing: 1.6px;
  }
  .p_up .p_plot .num {
    font-size: calc(71vw/12);
  }
  .p_up .p_plot .ss {
    display: inline-block;
    margin: 0 0.15%;
    font-size: calc(52vw/12);
  }
  .p_up .p_btn {
    margin: 6% 0 0;
  }
  .p_up .p_btn a {
    padding: 3.1% 0;
    border: 3px solid #ddaa00;
    border-radius: 5px;
    font-size: calc(45vw/12);
  }
  .p_up .p_btn a:hover {
    opacity: .8;
    background: none;
    color: #ddaa00;
  }
  .p_up .c_five {
    margin: 4% 0 0;
  }
  .p_up .c_five .c_five_li {
    padding: 6.5% 0 6.5%;
    margin: 0;
    border-radius: 0;
  }
  .p_up .c_five .c_five_li:first-child {
    padding: 5% 0 5.5%;
  }
  .p_up .c_five .c_five_li:nth-child(2) {
    padding: 6.5% 0 6.5%;
  }
  .p_up .c_five .c_five_li dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p_up .c_five .c_five_li dd {
    line-height: 0;
    width: 45%;
  }
  .p_up .c_five .c_five_li dt {
    width: 51%;
    padding: 0 0 0 4%;
    font-size: calc(36vw/12);
    line-height: 1.4;
  }
  .p_up .c_five .c_five_li dt span {
    font-size: calc(41vw/12);
  }
  .p_up .p_date {
    width: 45%;
    margin: 0 auto;
  }
  .p_up .pu_h {
    width: 95.7%;
    margin: 8% auto 0;
  }

  .p_top {
    margin: 8% 0 0;
  }
  .p_top a {
    display: inline-block;
    font-size: calc(48vw/12);
  }
  .p_top span {
    font-size: calc(52vw/12);
  }

  .gen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 4.2% 0 0;
  }
  .gen li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 48.0%;
    margin: 3.5% 0 0 4%;
  }
  .gen li a {
    padding: 9.3% 0;
    font-size: calc(40vw/12);
    border: 1.5px solid #a1882f;
    border-radius: 6px;
  }
  .gen li a:hover {
    opacity: 0.8;
    background: none;
    color: #a1882f;
  }
  .gen li:nth-child(2n+1) {
    margin: 3.5% 0 0;
  }
  .gen li:nth-child(2) {
    margin: 0 0 0 4%;
  }
  .gen li:nth-child(1) {
    margin: 0;
  }
  .gen li img {
    line-height: 0;
  }
  .gen .active a {
    background: #a1882f;
    color: #fff;
  }

  footer {
    padding: 2% 0 4%;
  }
  footer .wrap {
    max-width: none;
    width: 95%;
    padding: 2% 0 20%;
    margin: 0 4.5%;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(24vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(25vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 480px) {
  .line_w .wrap_w {
    height: 19px;
  }

  .mt20 {
    margin: 3% 0 0;
  }

  .mt30 {
    margin: 5% 0 0;
  }

  .mt40 {
    margin: 6% 0 0;
  }

  .mt50 {
    margin: 7% 0 0;
  }

  .mt60 {
    margin: 8% 0 0;
  }

  .mt70 {
    margin: 9% 0 0;
  }

  header {
    padding: 0;
  }
  header .h_l {
    padding: 1.3% 0 1.4% 2.2%;
  }
  header .h_l span {
    display: inline-block;
    width: 21.4%;
  }
  header .h_a {
    position: relative;
    overflow: hidden;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/5ff1fd2e7bfc1bd2d44929d0d0dc1b27_1ab1523f618c8e89908ed840fdb365d2.png) center top repeat;
    background-size: contain;
    padding: 4.3% 0 0;
    margin: 0 auto;
  }
  header .h_i {
    width: 82.6%;
    margin: 0 auto;
  }
  header .h_box {
    padding: 3.6% 3% 5%;
    margin: 2.7% 0 0;
    border-radius: 12px;
  }
  header .h_box .h_bh {
    font-size: calc(61vw/12);
    letter-spacing: 1.3px;
    line-height: 1.5;
  }
  header .h_box .h_bh .num {
    display: inline-block;
    margin: 0 0.2%;
    font-size: calc(69vw/12);
  }
  header .h_box .h_bh .ss {
    font-size: calc(43vw/12);
  }
  header .h_box .h_bh .ls {
    display: inline-block;
    margin: 0 0 0 0.2%;
    font-size: calc(69vw/12);
  }
  header .h_box .h_sec {
    display: inline-block;
    padding: 0 6% 0 6.2%;
    line-height: 1;
    white-space: nowrap;
  }
  header .h_box .h_sec:before {
    content: '';
    position: absolute;
    top: 1%;
    left: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/4021bf04d7632c498d3da33ec8a4848e_3effc8817bcdb4e06c99eb796e25f2d9.png) 0 0 no-repeat;
    background-size: 100% auto;
    width: 6.06%;
    height: 134%;
  }
  header .h_box .h_sec:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/f42daba5dfe010209f19f4e6dd135788_59e864575feac7a9934b52dfb27c69b0.png) 0 0 no-repeat;
    background-size: 100% auto;
    width: 6.06%;
    height: 134%;
  }
  header .h_box .h_item {
    margin: 7% 0 0;
  }
  header .h_box .h_item li {
    width: 47.5%;
    margin: 3% 0 0 5%;
  }
  header .h_box .h_item li:nth-child(3) {
    margin: 3% 0 0 0;
  }
  header .h_box .h_item li:nth-child(2) {
    margin: 0 0 0 5%;
  }
  header .h_box .h_item li:first-child {
    margin: 0;
  }
  header .h_box .h_item li .bagg {
    overflow: hidden;
    margin: 5.5% 0 0;
    letter-spacing: 1.4px;
  }
  header .h_box .h_item li .bagg .ge {
    display: inline-block;
    padding: 1.8% 2.5%;
    margin: 0 2.5% 0 0;
    border-radius: 3px;
    font-size: calc(26vw/12);
    letter-spacing: 0.6px;
  }
  header .h_box .h_item li .bagg .date {
    display: inline-block;
    padding: 1.8% 2%;
    margin: 0 1.5% 0 0;
    border-radius: 3px;
    font-size: calc(26vw/12);
    letter-spacing: 0.5px;
  }
  header .h_box .h_item li .hi_t {
    margin: 2.5% 0 0;
    font-size: calc(39vw/12);
    letter-spacing: 1.2px;
    line-height: 1.3;
  }
  header .h_box_sec {
    padding: 3.5% 3% 5.1%;
    margin: 4% 0 0;
  }
  header .h_box_sec .hb_l {
    width: 53.5%;
    margin: 2.6% auto 0;
  }
  header .h_box_sec .hb_t {
    margin: 6% 0 0;
    font-size: calc(61vw/12);
    letter-spacing: 1.1px;
  }
  header .h_box_sec figure {
    margin: 6.3% 0 0;
  }
  header .h_box_sec .hb_plans {
    margin: 5.5% 0 0;
    font-size: calc(39vw/12);
    letter-spacing: 0.7px;
  }
  header .h_date {
    margin: 3% 0 4.5%;
    font-size: calc(32vw/12);
    letter-spacing: 1.1px;
  }

  .contents .wrap {
    margin: 0 auto;
  }
  .contents .cw {
    padding: 0 4.5%;
  }
  .contents .c_h {
    border-left: 4px solid #a1882f;
    padding: 0 0 0 2.5%;
    line-height: 1.4;
    font-size: calc(52vw/12);
  }
  .contents .c_h span {
    letter-spacing: 1.3px;
    font-size: calc(56vw/12);
  }
  .contents .weeks {
    width: 33.93%;
    padding: 6.5% 0 0;
    margin: 0 auto;
  }
  .contents .c_bh {
    margin: 7% 0 0;
    font-size: calc(69vw/12);
    letter-spacing: 1.3px;
    line-height: 1.4;
  }
  .contents .c_bh .num {
    display: inline-block;
    margin: 0 0.15%;
    font-size: calc(73vw/12);
  }
  .contents .c_bh .ss {
    font-size: calc(46vw/12);
  }
  .contents .c_bh .ls {
    display: inline-block;
    margin: 0 0 0 0.15%;
    font-size: calc(75vw/12);
  }
  .contents .c_sec {
    display: inline-block;
    padding: 0 6% 0 6.1%;
    line-height: 1;
    white-space: nowrap;
  }
  .contents .c_sec:before {
    content: '';
    position: absolute;
    top: 2%;
    left: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/4021bf04d7632c498d3da33ec8a4848e_3effc8817bcdb4e06c99eb796e25f2d9.png) 0 0 no-repeat;
    background-size: 100% auto;
    width: 5.5%;
    height: 134%;
  }
  .contents .c_sec:after {
    content: '';
    position: absolute;
    top: 2%;
    right: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/f42daba5dfe010209f19f4e6dd135788_59e864575feac7a9934b52dfb27c69b0.png) 0 0 no-repeat;
    background-size: 100% auto;
    width: 5.5%;
    height: 134%;
  }
  .contents .c_box {
    padding: 7.8% 0 0;
  }
  .contents .c_box_sec {
    padding: 5% 0 0;
  }
  .contents .est {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 5.4% 0 0;
  }
  .contents .est li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 31.3%;
    margin: 6% 0 0 3%;
  }
  .contents .est li:nth-child(3n+1) {
    margin: 6% 0 0 0;
  }
  .contents .est li:nth-child(2) {
    margin: 0 0 0 3%;
  }
  .contents .est li:nth-child(3) {
    margin: 0 0 0 3%;
  }
  .contents .est li:nth-child(1) {
    margin: 0;
  }
  .contents .est li .est_t {
    padding: 0 0 0 11%;
    margin: 8% 0 0;
    letter-spacing: 0.5px;
    font-size: calc(33vw/12);
  }
  .contents .est li .est_t:before {
    content: '';
    position: absolute;
    top: 18%;
    left: 0;
    background-size: 100% auto;
    width: 7.3%;
    height: 85%;
    border-radius: 50%;
  }
  .contents .type {
    padding: 0 0 0 6%;
    font-size: calc(45vw/12);
  }
  .contents .type:before {
    content: '';
    position: absolute;
    top: 8%;
    left: 0;
    background-size: 100% 100%;
    width: 3.7%;
    height: 100%;
  }
  .contents .rank {
    margin: 5.4% 0 0;
  }
  .contents .rank li {
    width: 31.3%;
    margin: 7% 0 0 3%;
  }
  .contents .rank li dt {
    width: 25.5%;
    height: auto;
    padding: 3.4% 0 4.7% 4%;
    font-size: calc(55vw/12);
  }
  .contents .rank li dt span {
    font-size: calc(34vw/12);
  }
  .contents .rank li:nth-child(3n+1) {
    margin: 4% 0 0 0;
  }
  .contents .rank li:nth-child(3n+2) {
    margin: 4% 0 0 3%;
  }
  .contents .rank li:nth-child(3n+3) {
    margin: 4% 0 0 3%;
  }
  .contents .rank li:nth-child(2) {
    margin: 0 0 0 3%;
  }
  .contents .rank li:nth-child(3) {
    margin: 0 0 0 3%;
  }
  .contents .rank li:nth-child(1) {
    margin: 0;
  }
  .contents .rank li .add:before {
    top: 3%;
    left: 6%;
    display: inline-block;
    padding: 6% 3.2% 5.5%;
    font-size: calc(29vw/12);
    border-radius: 2px;
    letter-spacing: 0.5px;
    width: 82%;
  }
  .contents .rank li .al_ad:before {
    top: 3%;
    left: 6%;
    display: inline-block;
    padding: 6% 3.2% 5.5%;
    font-size: calc(29vw/12);
    border-radius: 2px;
    letter-spacing: 0.5px;
    width: 82%;
  }

  .sec {
    padding: 4% 0 0;
  }
  .sec .s_box {
    padding: 8% 0 0;
    border-radius: 12px;
  }
  .sec .s_box .s_h {
    width: 34.6%;
    margin: 0 auto;
  }
  .sec .s_box .s_h_thr {
    width: 32.8%;
    margin: 0 auto;
  }
  .sec .s_box .s_head {
    margin: 4.6% 0 0;
    font-size: calc(60vw/12);
    letter-spacing: 2.5px;
    line-height: 1.3;
  }
  .sec .s_box .s_item {
    width: 86.4%;
    margin: 6.3% auto 0;
  }
  .sec .s_box .s_item li {
    width: 25%;
  }
  .sec .s_box .s_bg {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/ee30bfc7699aebcbc72953f571cb3be0_5d641d3329ddd7dcf32eb5777a1932a1.png) center top repeat;
    background-size: contain;
    padding: 8% 5% 8.5%;
    margin: 6.3% 0 0;
    border-radius: 0 0 12px 12px;
  }
  .sec .s_box .s_bg .s_bh {
    width: 69.6%;
    margin: 0 auto;
  }
  .sec .s_box .s_bg .s_bt {
    margin: 3.6% 0 0;
    font-size: calc(57vw/12);
    line-height: 1.2;
    letter-spacing: 1.4px;
  }
  .sec .s_box .s_bg .s_bt .num {
    font-size: calc(65vw/12);
  }
  .sec .s_box .s_bg .sb_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: 100%;
    margin: 6.3% auto 0;
    width: 97%;
  }
  .sec .s_box .s_bg .sb_list li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 16.66%;
    line-height: 0;
  }

  .sec_f {
    padding: 6% 0 0;
  }

  .thr {
    padding: 5.5% 0 0;
  }
  .thr .t_box {
    padding: 8% 0 0;
    border-radius: 12px;
  }
  .thr .t_box .t_h {
    width: 34.1%;
    margin: 0 auto;
  }
  .thr .t_box .t_h_fou {
    width: 32.15%;
    margin: 0 auto;
  }
  .thr .t_box .t_i {
    max-width: 100%;
    padding: 0 1% 0 4%;
    margin: 8% auto 0;
    width: 90%;
  }
  .thr .t_box .t_i .ti_l {
    width: 48.5%;
  }
  .thr .t_box .t_i .ti_l .t_head {
    font-size: calc(59vw/12);
    letter-spacing: 1.2px;
  }
  .thr .t_box .t_i .ti_l .t_t {
    margin: 6.3% 0 0;
    padding: 6.3% 0 0;
    line-height: 1.8;
    font-size: calc(28vw/12);
    letter-spacing: 0.6px;
  }
  .thr .t_box .t_i .t_item {
    width: 42.8%;
    margin: 0 auto 0;
  }
  .thr .t_box .t_i .t_item li {
    width: 33.3%;
  }
  .thr .t_box .t_bg {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/ee30bfc7699aebcbc72953f571cb3be0_5d641d3329ddd7dcf32eb5777a1932a1.png) center top repeat;
    background-size: 100% auto;
    padding: 8% 5% 8.5%;
    margin: 5.3% 0 0;
    border-radius: 0 0 12px 12px;
  }
  .thr .t_box .t_bg .t_bh {
    width: 69.6%;
    margin: 0 auto;
  }
  .thr .t_box .t_bg .t_bt {
    margin: 3.6% 0 0;
    font-size: calc(57vw/12);
    line-height: 1.2;
    letter-spacing: 1.4px;
  }
  .thr .t_box .t_bg .t_bt .num {
    font-size: calc(65vw/12);
  }
  .thr .t_box .t_bg .tb_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: 100%;
    margin: 6.3% auto 0;
    width: 97%;
  }
  .thr .t_box .t_bg .tb_list li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 16.66%;
  }
  .thr .t_pad {
    padding: 7% 0;
  }
  .thr .t_las {
    padding: 0 2.2% 6.5%;
  }

  .p_up .w_line {
    max-width: 100%;
    height: 20px;
    margin: 0 auto;
  }
  .p_up .wrap {
    max-width: 100%;
    width: 95%;
    margin: 0 auto;
  }
  .p_up .p_u_box {
    padding: 8% 0 7.8%;
  }
  .p_up .sece {
    padding: 8% 0 3%;
  }
  .p_up .p_h {
    display: inline-block;
    padding: 0 3.5% 0 4.2%;
    font-size: calc(41vw/12);
    line-height: 0.7;
    letter-spacing: 1.5px;
  }
  .p_up .p_h:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/401232811602bd47ce9e2d330ef50f0c_c997755ebc2b831c905c31e265d3512c.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 6.2%;
    height: 120%;
  }
  .p_up .p_h:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/ccdff6d76ac534d579a16d51c2dc22ef_9d3231e3ac80b51ad44cdc5edc290e6f.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 6.2%;
    height: 120%;
  }
  .p_up .p_h .num {
    font-size: calc(44vw/12);
  }
  .p_up .p_img {
    width: 87.5%;
    margin: 2.9% auto 0;
  }
  .p_up .p_icon {
    width: 22.5%;
    margin: 5% auto 0;
  }
  .p_up .p_ise {
    width: 22.5%;
    margin: 0 auto 0;
  }
  .p_up .p_text {
    margin: 2.7% 0 0;
    font-size: calc(74vw/12);
    letter-spacing: 1.5px;
    line-height: 1.4;
  }
  .p_up .p_text .ss {
    display: inline-block;
    margin: 0 0.15%;
    font-size: calc(54vw/12);
  }
  .p_up .p_s_t {
    margin: 3.6% 0 0;
    font-size: calc(52vw/12);
    letter-spacing: 1.5px;
    line-height: 1.4;
  }
  .p_up .p_i {
    margin: 3.5% auto 0;
  }
  .p_up .p_plot {
    margin: 6% 0 0;
    font-size: calc(67vw/12);
    letter-spacing: 1.6px;
  }
  .p_up .p_plot .num {
    font-size: calc(71vw/12);
  }
  .p_up .p_plot .ss {
    display: inline-block;
    margin: 0 0.15%;
    font-size: calc(52vw/12);
  }
  .p_up .p_btn {
    margin: 6% 0 0;
  }
  .p_up .p_btn a {
    padding: 3.1% 0;
    border: 2px solid #ddaa00;
    border-radius: 5px;
    font-size: calc(47vw/12);
  }
  .p_up .c_five {
    margin: 4% 0 0;
  }
  .p_up .c_five .c_five_li {
    padding: 6.5% 0 6.5%;
    margin: 0;
    border-radius: 0;
  }
  .p_up .c_five .c_five_li:first-child {
    padding: 5% 0 5.5%;
  }
  .p_up .c_five .c_five_li:nth-child(2) {
    padding: 6.5% 0 6.5%;
  }
  .p_up .c_five .c_five_li dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p_up .c_five .c_five_li dd {
    line-height: 0;
    width: 45%;
  }
  .p_up .c_five .c_five_li dt {
    width: 51%;
    padding: 0 0 0 4%;
    font-size: calc(36vw/12);
    line-height: 1.4;
  }
  .p_up .c_five .c_five_li dt span {
    font-size: calc(41vw/12);
  }
  .p_up .p_date {
    width: 45.6%;
    margin: 0 auto;
  }
  .p_up .pu_h {
    width: 96.4%;
    margin: 7% auto 0;
  }

  .p_top {
    margin: 7% 0 0;
  }
  .p_top a {
    display: inline-block;
    font-size: calc(50vw/12);
  }
  .p_top span {
    font-size: calc(54vw/12);
  }

  .gen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 5.2% 0 0;
  }
  .gen li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 48.0%;
    margin: 3.5% 0 0 4%;
  }
  .gen li a {
    padding: 9.3% 0;
    font-size: calc(42vw/12);
    border: 1px solid #a1882f;
    border-radius: 6px;
  }
  .gen li:nth-child(2n+1) {
    margin: 3.5% 0 0;
  }
  .gen li:nth-child(2) {
    margin: 0 0 0 4%;
  }
  .gen li:nth-child(1) {
    margin: 0;
  }
  .gen li img {
    line-height: 0;
  }
  .gen .active a {
    background: #a1882f;
    color: #fff;
  }

  footer {
    padding: 2% 0 5%;
  }
  footer .wrap {
    max-width: none;
    width: 95%;
    padding: 2% 0 21%;
    margin: 0 4.5%;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(28vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(29vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
    line-height: 0.5;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(30vw/12);
    letter-spacing: 1.3px;
  }
}
