
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; }

.wrap {
	width: 768px;
	margin: 0 auto;
}

header {
	.header_logo {
		max-width: 193px;
		padding: 12px 0 16px 20px;
		line-height: 0;
	}
	.header_inner {
		background: url(https://bit.ly/2QAy8Vw) center 0 repeat-x;
		background-size: contain;
		padding: 60px 0 128px;
		text-align: center;
	}
	.header_pop {
		max-width: 420px;
		margin: 0 auto 0;
	}
	.header_heading {
		max-width: 550px;
		margin: 20px auto 0;
	}
	.header_text {
		max-width: 420px;
		margin: 40px auto 0;
	}

}

@media screen and (max-width: 950px) {
	header {
		.header_logo {
			max-width: 193px;
			padding: 12px 0 16px 20px;
			line-height: 0;
		}
		.header_inner {
			padding: 5% 0 9%;
		}
		.header_pop {
			img {
				width: 70%;
			}
		}
		.header_heading {
			img {
				width: 80%;
			}
		}
		.header_text {
			img {
				width: 70%;
			}
		}
	}
}


@media screen and (max-width: 768px) {
}
.ani_list01 , .ani_list02 , .ani_list03 {
	opacity: 0;
}
@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 2.5s 1 forwards; }
.ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.2s 1 forwards; }
.ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.9s 1 forwards; }



