
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/ddf45cd7962bc5ef24c36e99456fd39f_793c71a52553a3837dc6868bec68d6ee.png);
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; }

.wrap {
	max-width: 691px;
	margin: 0 auto;
}


.fd {
	font-family: 'M PLUS Rounded 1c', sans-serif !important;
}
.fs {
	font-family: 'Noto Sans JP', sans-serif!important;
}
.ko {
	font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif !important;
}
.pc {
	display: block;
}
.sp {
	display: none;
}
.ssp {
	display: block;
}

.line_w {
	max-width: 768px;
	margin: 0 auto;
	.wrap_w {
		background: #efefef;
		height: 38px;
	}
}

.bn {
	border: none !important;
}
.bb {
	border-bottom: 1px solid #606060 !important;
}
.pb_no {
	padding-bottom: 0 !important;
}

.tc {
	text-align: center !important;
	padding: 0 !important;
}
.pb30 {
	padding: 0 0 35px !important;
}
.mb10 {
	margin: 0 0 10px 0 !important;
}
.mn {
	margin: 0 !important;
}
.mt10 {
	margin: 10px 0 0 !important;
}
.mt20 {
	margin: 20px 0 0 !important;
}
.mt30 {
	margin: 30px 0 0 !important;
}
.mt40 {
	margin: 40px 0 0 !important;
}
.mt50 {
	margin: 50px 0 0 !important;
}
.mt60 {
	margin: 60px 0 0 !important;
}
.mt70 {
	margin: 70px 0 0 !important;
}
.mt80 {
	margin: 80px 0 0 !important;
}

.pc {
	display: block;
}
.sp {
	display: none;
}

header {
	.hl {
		background: #000;
		span {
			display: inline-block;
			max-width: 140px;
			padding: 13px 0 13px 24px;
			line-height: 0;
			box-sizing: border-box;
		}
	}

	.w_h {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/e95f2c0351d8c6412ff40b00c43f7229_c98ebf5f967bbc2f5bb0f568c0c1618c.jpg) center top no-repeat;
		padding: 56px 0 56px;

		.he_h1 {
			max-width: 330px;
			margin: 0 auto;
			line-height: 0;
			a {
				display: block;
			}
		}
	}
}

.daily {
	background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/ddf45cd7962bc5ef24c36e99456fd39f_793c71a52553a3837dc6868bec68d6ee.png) 0 0 repeat;
	padding: 15px 0 0;
	.d_w {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/ffaf72b86d9565afb92ff92b408f9e68_bb9d261b4789c294fa8daba79ef9dde0.png) center top no-repeat;
		padding: 59px 0 0;
		text-align: center;

		.d_t {
			padding: 70px 0 0;
			font-size: 26px;
			letter-spacing: 1.3px;
			line-height: 1.4;
			color: #fff;
		}
		.d_h {
			margin: 55px 0 0;
			font-size: 60px;
			letter-spacing: 1.3px;
			color: #f3dd00;
		}

		.d_item {
			overflow: hidden;
			max-width: 689px;
			margin: 0 auto 0;
			li {
				float: left;
				width: 12.9%;
				margin: 0 0 0 4.5%;
				box-sizing: border-box;
				&:first-child {
					margin: 0;
				}
				a {
					display: block;
					background: #000;
					padding: 7px 0 11px;
					border: 4px solid #f3dd00;
					border-radius: 35px;
					font-size: 36px;
					font-weight: bold;
					font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
					color: #f3dd00;

					&:hover {
						opacity: 1;
						background: #f3dd00;
						color: #000;
					}
				}
			}
			.active {
				a {
					background: #f3dd00;
					color: #000;
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}

		.d_inner {
			padding: 72px 0 59px;
			text-align: left;
			figure {
				margin: 0 0 55px;
				line-height: 0;
			}
			.d_ibox {
				padding: 0;
			}
			.d_date {
				position: relative;
				display: inline-block;
				padding: 0 0 0 40px;
				letter-spacing: 1.4px;
				font-size: 26px;
				line-height: 1;
				color: #ababab;
				&:before {
					content: '';
					position: absolute;
					top: 2px;
					left: 0;
					background: #f3dd00;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					line-height: 1;
				}
			}
			.d_mc {
				margin: 20px 0 0;
				font-size: 26px;
				letter-spacing: 1.3px;
				color: #fff;
				span {
					display: block;
					margin: 12px 0 0;
					font-size: 20px;
					color: #ababab;
				}
			}
			.d_fi {
				margin: 64px 0 0;
				text-align: center;
			}
			.d_free {
				position: relative;
				display: inline-block;
				padding: 0 72px 0 80px;
				font-size: 47px;
				line-height: 1.26;
				text-shadow: 0.3px 0.3px 0 #f3dd00;
				text-align: center;
				letter-spacing: 1.2px;
				color: #f3dd00;

				&:before {
					content: '';
					position: absolute;
					top: 10px;
					left: 0;
					background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/1623178d96562f9ece002fe4504758e5_726a0f7df4bf45e148006b7f7ff5e3b8.png) no-repeat;
					background-size: 61px 101px;
					width: 61px;
					height: 101px;
				}
				&:after {
					content: '';
					position: absolute;
					top: 10px;
					right: 0;
					background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/11dedf2c9f2c39aa685d460aa7fc906f_efc3c1b93910e2b1e44cefff4991ecc9.png) no-repeat;
					background-size: 61px 101px;
					width: 61px;
					height: 101px;
				}
			}


			.d_btn {
				margin: 57px auto 0;
				a {
					display: block;
					background: #000;
					padding: 25px 0;
					text-align: center;
					border: 4px solid #f3dd00;
					font-weight: bold;
					font-size: 34px;
					letter-spacing: 1.5px;
					color: #f3dd00;
					span {
						display: inline-block;
						margin: 0 2px 0 0;
						font-size: 37px;
					}

					&:hover {
						opacity: 1;
						border: 4px solid #000;
						background: #f3dd00;
						color: #000;
					}
				}
			}
		}
	}

	.dw_s {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/45f2efd674c460e317d315d2032b977e_10bf9ac6fc9590fb98fe4716caff0849.png) center top no-repeat;
		padding: 16px 0 73px;
		text-align: center;
		.wrap {
			max-width: 684px;
			margin: 0 auto;
		}
		.dw_h {
			font-size: 60px;
			font-weight: bold;
			letter-spacing: 1.3px;
			color: #f3dd00;
		}

		.ptlogo {
			max-width: 330px;
			margin: 125px auto 0;
			line-height: 0;
		}
		.plogo {
			max-width: 269px;
			margin: 43px auto 0;
			line-height: 0;
		}

		.p_text {
			margin: 32px 0 0;
			font-size: 24px;
			line-height: 1.7;
			letter-spacing: 1.3px;
			color: #fff;
		}


		.past {
			margin: 71px 0 0;
			li {
				margin: 50px 0 0;

				&:first-child {
					margin: 0;
				}
				a {
					display: block;
				}
				.pa_dl {
					display: flex;
					align-items: center;
					background: #fff;
					border: 8px solid #f3dd00;

					dd {
						width: 46%;
						border-right: 8px solid #f3dd00;
						line-height: 0;
					}
					dt {
						width: 54%;
						border: 3px solid #000;
						font-size: 26px;
						font-weight: bold;
						text-shadow: 0.3px 0.3px 0 #000;
						text-align: left;
						line-height: 1.5;
						color: #000;
					}
					.sin {
						padding: 62px 15px 63px;
						box-sizing: border-box;
					}
					.dou {
						padding: 44px 15px 43px;
						box-sizing: border-box;
					}
					.tri {
						padding: 24px 15px 24px;
						box-sizing: border-box;
					}
				}
			}
		}

		.b_btn {
			margin: 50px auto 0;
			a {
				display: block;
				background: #000;
				padding: 25px 0;
				text-align: center;
				border: 4px solid #f3dd00;
				font-weight: bold;
				font-size: 34px;
				letter-spacing: 1.5px;
				color: #f3dd00;
				span {
					display: inline-block;
					margin: 0 2px 0 0;
					font-size: 37px;
				}

				&:hover {
					opacity: 1;
					border: 4px solid #000;
					background: #f3dd00;
					color: #000;
				}
			}
		}
		.d_item {
			padding: 0 auto 0;
			margin: 0 auto 0;
		}

		.top {
			margin: 77px 5px 0 0;
			text-align: right;
			a {
				position: relative;
				display: inline-block;
				font-size: 32px;
				letter-spacing: 1.8px;
				color: #f3dd00;
				&:after {
					position: absolute;
					content: '';
					bottom: 0;
					left: 0;
					width: 0;
					height: 1px;
					background: #f3dd00;
					-webkit-transition: all 0.3s ease 0s;
					transition: all 0.3s ease 0s;
				}
			}
		}
		.dw_s_btn {
			max-width: 710px;
			margin: 50px auto 0;
			a {
				position: relative;
				display: block;
				background: #000;
				padding: 27px 0 34px 50px ;
				border: 3px solid #f3dd00;
				border-radius: 10px;
				text-align: left;
				line-height: 1.3;
				color: #f3dd00;

				// &:hover {
				// 	opacity: 1;
				// 	background: #f3dd00;
				// 	border: 3px solid #000;
				// 	color: #000;
				// }
				&:after {
					content: '';
					position: absolute;
					right: 33px;
					top: 38%;
					background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/3ffc1c3906db235acee02b0d8fad4101_2255bd2f7d75b0127c0abe607b28da1e.png) 0 0 no-repeat;
					background-size: 16px 29px;
					width: 16px;
					height: 29px;
				}
			}

			.one {
				font-size: 26px;
				letter-spacing: 1.4px;
				font-weight: bold;

				.num {
					display: inline-block;
					margin: 0 4px 0 0;
					letter-spacing: 1.6px;
					font-size: 28px;
				}
			}

			.two {
				display: inline-block;
				text-indent: -0.4rem;
				font-size: 28px;
				color: #fff;
				.s_num {
					font-size: 32px;
					letter-spacing: 1.3px;
				}
			}
		}
	}
}
.dbot {
	padding: 54px 0 0;
}
.ges {
	background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/8d637873e5fc30c2433776ca2354e6e8_5fa59adafb0961735f8a00b5d0dcb9d6.png) center top repeat;
}
.d_guest {
	background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/1edec96c78102478ed80669dec717558_5d04ab5a5199f4ba96abc63fe20f7c68.png) center top no-repeat;
	padding: 55px 0 75px;

	.dg_h {
		margin: 0 0 50px;
		font-size: 58px;
		text-align: center;
		letter-spacing: 1.4px;
		line-height: 1.7;
		color: #000;
		.num {
			font-size: 61px;
		}
		.sec {
			display: inline-block;
			position: relative;
			padding: 0 50px 0 60px;
			line-height: 0.6;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/48debab62ad7fd6296511d2a068a28e1_7cc4d4746c9f9eaa391a68f0d4168233.png) 0 0 no-repeat;
				background-size: 39px 47px;
				width: 39px;
				height: 47px;
			}
			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/4ff1bf202139f5dcfcfe46253f1428b4_d4c82e4d48a48e10d96a70377a4aa9b8.png) 0 0 no-repeat;
				background-size: 39px 47px;
				width: 39px;
				height: 47px;
			}
		}
	}

	.dg_inner{
		max-width: 694px;
		background: #fff;
		margin: 0 auto;
		border: 6px solid #000;
		box-sizing: border-box;
		figure {
			line-height: 0;
		}
		.dg_dl {
			display: flex;
			align-items: center;
			border-bottom: 6px solid #000;
			dd {
				background: #000;
				width: 15.5%;
				padding: 20px 0 19px 0;
				font-size: 40px;
				font-weight: bold;
				text-align: center;
				border-right: 6px solid #000;
				color: #f3dd00;
				.num {
					font-size: 44px;
				}
			}
			.dou {
				padding: 36px 0 37px 0;
			}
			dt {
				background: #fff;
				width: 84.5%;
				padding: 20px 0 19px 23px;
				font-weight: bold;
				font-size: 33px;
				text-shadow: 0.3px 0.3px 0 #000;
				letter-spacing: 1.1px;
				line-height: 1.2;
				color: #000;
			}
		}
		.dg_box {
			padding: 42px 37px 54px;
		}

		.dg_t {
			line-height: 1.6;
			letter-spacing: 1.2px;
			font-size: 24px;
			font-weight: bold;
			color: #606060;
		}
		.dg_btn {
			margin: 38px auto 0;
			a {
				display: block;
				background: #000;
				padding: 25px 0;
				text-align: center;
				border: 4px solid #f3dd00;
				font-weight: bold;
				font-size: 34px;
				letter-spacing: 1.5px;
				color: #f3dd00;
				span {
					display: inline-block;
					margin: 0 2px 0 0;
					font-size: 37px;
				}

				&:hover {
					opacity: 1;
					border: 4px solid #000;
					background: #f3dd00;
					color: #000;
				}
			}
		}
	}
	.dg_i_s {
		margin: 0 0 0;
	}
}

.d_g_sec {
	background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/32dd018382c72fd808ede4fdd6c67305_3a5aa9b5c1b0b67733e5c751a6baff91.png) center top no-repeat;
	padding: 0;
}
.ls {
	padding: 72px 0 70px;
}
.more {
	background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/21c16242665644ef63de6a659a8d8ce8_47267240eaef7cbd1b85b6fd1a715075.png) center top repeat;
	background-size: cover;
	margin: 0 auto;
	padding: 73px 0 68px;
	text-align: left;
	.wrap {
		max-width: 610px;
		margin: 0 auto
	}

	.m_i {
		max-width: 385px;
		margin: 0 0 0;
	}

	.m_t {
		margin: 21px 0 0;
		font-size: 28px;
		letter-spacing: 1.5px;
		color: #fff;
	}

	.m_btn {
		margin: 33px auto 0;
		a {
			display: block;
			background: none;
			padding: 21px 0;
			border: 2px solid #f3dd00;
			border-radius: 10px;
			font-weight: bold;
			font-size: 26px;
			text-align: center;
			letter-spacing: 1.3px;
			color: #f3dd00;
			span {
				display: inline-block;
				margin: 0 2px 0 0;
				font-size: 28px;
			}

			&:hover {
				opacity: 1;
				background: rgba(0,0,0,.7);
				border: 2px solid  #f3dd00;
				color: rgba(243,221,0,.7);
			}
		}
	}
}

footer {
	background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/e95f2c0351d8c6412ff40b00c43f7229_c98ebf5f967bbc2f5bb0f568c0c1618c.jpg) center top repeat;
	padding: 50px 0 48px;
	text-align: center;
	a {
		display: inline-block;
	}
	figure {
		max-width: 372px;
		margin: 0 auto;
		line-height: 0;
	}
	small {
		display: block;
		margin: 22px 0 0;
		font-size: 22px;
		font-weight: bold;
		letter-spacing: 1.3px;
		color: #000;
	}
}



@keyframes bgiLoop {
    0% { background-position: 0 0;}
  100% { background-position: 20000px 0;}
}

@media screen and (max-width: 768px) {
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
	.ssp {
		display: block;
	}
	.pb30 {
		padding: 0 0 5% !important;
	}

	.mt10 {
		margin: 1.8% 0 0 !important;
	}
	.mt20 {
		margin: 3% 0 0 !important;
	}
	.mt30 {
		margin: 5% 0 0 !important;
	}
	.mt40 {
		margin: 6% 0 0 !important;
	}
	.mt50 {
		margin: 6.3% 0 0 !important;
	}
	.mt60 {
		margin: 8% 0 0 !important;
	}
	.mt70 {
		margin: 9% 0 0 !important;
	}
	.mt80 {
		margin: 10% 0 0 !important;
	}
	.mb10 {
		margin: 0 0 1.8% 0 !important;
	}
	.mn {
		margin: 0 !important;
	}

	.wrap {
		padding: 0 4.5%;
	}

	header {
		.hl {
			span {
				display: inline-block;
				width: 18.8%;
				padding: 1.3% 0 1.4% 2.6%;
			}
		}

		.w_h {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/e95f2c0351d8c6412ff40b00c43f7229_c98ebf5f967bbc2f5bb0f568c0c1618c.jpg) left top no-repeat;
			padding: 7.4% 0 7.4%;

			.he_h1 {
				width: 43.2%;
			}
		}
	}


	.daily {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/ddf45cd7962bc5ef24c36e99456fd39f_793c71a52553a3837dc6868bec68d6ee.png) 0 0 repeat;
		padding: 2.5% 0 0;
		.d_w {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/7fcc0dc888c5917797035f26128ee105_889277900f30fc003ce1255a1cc55c7b.png) center top no-repeat;
			background-size: cover;
			padding: 7% 0 0;
			text-align: center;

			.d_t {
				padding: 70px 0 0;
				font-size: 26px;
				letter-spacing: 1.3px;
				line-height: 1.4;
				color: #fff;
			}
			.d_h {
				margin: 55px 0 0;
				font-size: 60px;
				letter-spacing: 1.3px;
				color: #f3dd00;
			}

			.d_item {
				overflow: hidden;
				max-width: 100%;
				margin: 0 auto 0;
				li {
					float: left;
					width: 12.9%;
					margin: 0 0 0 4.5%;
					box-sizing: border-box;
					&:first-child {
						margin: 0;
					}
					a {
						padding: 8% 0 12%;
						border: 4px solid #f3dd00;
						border-radius: 35px;
						font-size: calc(57vw/12);

						&:hover {
							opacity: .8;
							background: #000;
							color: #f3dd00;
						}
					}
				}
				.active {
					a {
						background: #f3dd00;
						color: #000;
						&:hover {
							opacity: 0.8;
							background: #f3dd00;
							color: #000;
						}
					}
				}
			}

			.d_inner {
				padding: 10.5% 0 9%;
				figure {
					margin: 0 0 9%;
				}
				.d_ibox {
					padding: 0;
				}
				.d_date {
					display: inline-block;
					padding: 0 0 0 5.5%;
					letter-spacing: 1.4px;
					font-size: calc(40vw/12);
					line-height: 1;
					&:before {
						content: '';
						top: 2%;
						background-size: 100% 100%;
						width: 10%;
						height: 100%;
					}
				}
				.d_mc {
					margin: 2.7% 0 0;
					font-size: calc(41vw/12);
					letter-spacing: 1.3px;
				}
				.d_fi {
					margin: 9% 0 0;
				}
				.d_free {
					display: inline-block;
					padding: 0 10.5% 0 11.5%;
					font-size: calc(74vw/12);
					line-height: 1.26;
					text-shadow: 0.2px 0.2px 0 #f3dd00;
					letter-spacing: 1.1px;

					&:before {
						content: '';
						top: 1%;
						left: 0;
						background-size: 100% 100%;
						width: 11.5%;
						height: 100%;
					}
					&:after {
						content: '';
						position: absolute;
						top: 1%;
						right: 0;
						background-size: 100% 100%;
						width: 11.4%;
						height: 100%;
					}
				}


				.d_btn {
					margin: 8% auto 0;
					a {
						padding: 3.6% 0;
						border: 4px solid #f3dd00;
						font-size: calc(54vw/12);
						letter-spacing: 1.5px;
						span {
							display: inline-block;
							margin: 0 0.2% 0 0;
							font-size: calc(58vw/12);
						}

						&:hover {
							opacity: 0.8;
							border: 4px solid #f3dd00;
							background: #000;
							color: #f3dd00;
						}
					}
				}
			}
		}

		.dw_s {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/63887d3483fdea78bc03fca6026c38f5_d74eb4d745e1ba8ea8926d15d1732d85.png) center top no-repeat;
			background-size: cover;
			padding: 2.5% 0 9%;
			.wrap {
				max-width: 684px;
			}
			.dw_h {
				font-size: calc(94vw/12);
				letter-spacing: 1.1px;
			}

			.ptlogo {
				max-width: 48.5%;
				margin: 19% auto 0;
			}
			.plogo {
				max-width: 39.6%;
				margin: 6% auto 0;
			}

			.p_text {
				margin: 5% 0 0;
				font-size: calc(37vw/12);
				line-height: 1.7;
				letter-spacing: 1.1px;
			}

			.past {
				margin: 9% 0 0;
				li {
					margin: 7% 0 0;

					a {
						display: block;
					}
					.pa_dl {
						border: 8px solid #f3dd00;

						dd {
							width: 46%;
							border-right: 8px solid #f3dd00;
							line-height: 0;
						}
						dt {
							width: 54%;
							border: 3px solid #000;
							font-size: calc(41vw/12);
							text-shadow: 0.2px 0.2px 0 #000;
							line-height: 1.5;
						}
						.sin {
							padding: 9.4% 2.3% 9.4%;
						}
						.dou {
							padding: 6.5% 2.3% 6.5%;
						}
						.tri {
							padding: 3.6% 2.3% 3.6%;
						}
					}
				}
			}

			.b_btn {
				margin: 7% auto 0;
				a {
					padding: 3.6% 0;
					border: 4px solid #f3dd00;
					font-size: calc(53vw/12);
					letter-spacing: 1.2px;
					span {
						display: inline-block;
						margin: 0 0.2% 0 0;
						font-size: calc(57vw/12);
					}

					&:hover {
						opacity: 1;
						border: 4px solid #000;
						background: #f3dd00;
						color: #000;
					}
				}
			}
			.d_item {
				padding: 0 auto 0;
				margin: 0 auto 0;
			}

			.top {
				margin: 10% 1% 0 0;
				a {
					display: inline-block;
					font-size: calc(50vw/12);
					letter-spacing: 1.6px;
				}
			}
			.dw_s_btn {
				max-width: 710px;
				margin: 9% auto 0;
				a {
					padding: 4% 0 4.8% 7%;
					border: 3px solid #f3dd00;
					border-radius: 10px;
					line-height: 1.35;

					// &:hover {
					// 	opacity: 0.8;
					// 	background: #000;
					// 	border: 3px solid #f3dd00;
					// 	color: #f3dd00;
					// }
					&:after {
						content: '';
						position: absolute;
						right: 5%;
						top: 38%;
						background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/3ffc1c3906db235acee02b0d8fad4101_2255bd2f7d75b0127c0abe607b28da1e.png) 0 0 no-repeat;
						background-size: 13px 23px;
						width: 13px;
						height: 23px;
					}
				}

				.one {
					font-size: calc(43vw/12);
					letter-spacing: 1.4px;
					font-weight: bold;

					.num {
						display: inline-block;
						margin: 0 0.3% 0 0;
						letter-spacing: 1.6px;
						font-size: calc(46vw/12);
					}
				}

				.two {
					display: inline-block;
					text-indent: -0.4rem;
					font-size: calc(44vw/12);
					.s_num {
						font-size: calc(49vw/12);
						letter-spacing: 1.3px;
					}
				}
			}
		}
	}
	.dbot {
		padding: 7.5% 0 0;
	}
	.ges {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/8d637873e5fc30c2433776ca2354e6e8_5fa59adafb0961735f8a00b5d0dcb9d6.png) center top repeat;
		padding: 1% 0 0;
	}
	.d_guest {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/743b69bbb182af4327b17ddef5e4992e_94a999610b9093f914ad00e46a2c317a.png) center top no-repeat;
		background-size: contain;
		padding: 6.8% 0 0;

		.dg_h {
			margin: 0 0 7.5%;
			font-size: calc(91vw/12);
			letter-spacing: 1.2px;
			line-height: 1.6;
			.num {
				font-size: calc(96vw/12);
			}
			.sec {
				display: inline-block;
				padding: 0 7% 0 7.6%;
				line-height: 0.6;

				&:before {
					left: 0;
					top: -8%;
					background-size: 100% 100%;
					width: 6.3%;
					height: 129%;
				}
				&:after {
					content: '';
					position: absolute;
					right: 0;
					top: -8%;
					background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/4ff1bf202139f5dcfcfe46253f1428b4_d4c82e4d48a48e10d96a70377a4aa9b8.png) 0 0 no-repeat;
					background-size: 100% 100%;
					width: 6.3%;
					height: 129%;
				}
			}
		}

		.dg_inner{
			max-width: 694px;
			background: #fff;
			margin: 0 auto;
			border: 6px solid #000;
			box-sizing: border-box;
			.dg_dl {
				border-bottom: 6px solid #000;
				dd {
					width: 15.5%;
					padding: 2.9% 0 2.9% 0;
					font-size: calc(64vw/12);
					border-right: 6px solid #000;
					.num {
						font-size: calc(68vw/12);
					}
				}
				.dou {
					padding: 5.8% 0 5.8% 0;
				}
				dt {
					width: 84.5%;
					padding: 3% 0 3% 3.4%;
					font-size: calc(53vw/12);
					text-shadow: 0.3px 0.3px 0 #000;
					letter-spacing: 1px;
					line-height: 1.2;
				}
			}
			.dg_box {
				padding: 6% 5.4% 8%;
			}

			.dg_t {
				line-height: 1.6;
				letter-spacing: 1px;
				font-size: calc(38vw/12);
			}
			.dg_btn {
				margin: 6% auto 0;
				a {
					padding: 4% 0;
					border: 4px solid #f3dd00;
					font-size: calc(53vw/12);
					letter-spacing: 1.5px;
					span {
						display: inline-block;
						margin: 0 0.2% 0 0;
						font-size: calc(57vw/12);
					}

					&:hover {
						opacity: 0.8;
						border: 4px solid #f3dd00;
						background: #000;
						color: #f3dd00;
					}
				}
			}
		}
		.dg_i_s {
			margin: 0 0 0;
		}
	}

	.d_g_sec {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/fa80b3a8e9e96b8b2e5a4f3c76445b47_3f113e13c7e3036bebe048eb9e1a6b5d.png) center 20px no-repeat;
		background-size: cover;
		padding: 0;
	}
	.ls {
		padding: 9% 0 8.9%;
	}
	.more {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/1306b21695ccf9f864f0d8186f735959_47f5f592946ad4106614849fd77947b0.png) center top repeat;
		background-size: cover;
		padding: 9.5% 0 8.6%;
		.wrap {
			width: 80%;
			margin: 0 auto
		}

		.m_i {
			width: 63.4%;
			margin: 0 0 0;
		}

		.m_t {
			margin: 4% 0 0;
			font-size: calc(44vw/12);
			letter-spacing: 1.3px;
		}

		.m_btn {
			margin: 5.4% auto 0;
			a {
				padding: 3.5% 0;
				border: 2px solid #f3dd00;
				border-radius: 10px;
				font-size: calc(41vw/12);
				letter-spacing: 1.3px;
				span {
					display: inline-block;
					margin: 0 0.2% 0 0;
					font-size: calc(44vw/12);
				}

				&:hover {
					opacity: 1;
					background: rgba(0,0,0,.7);
					border: 2px solid  #f3dd00;
					color: rgba(243,221,0,.7);
				}
			}
		}
	}

	footer {
		background-position: left top;
		padding: 8% 0 7%;
		a {
			width: 38%;
		}
		figure {
			width: 100%;
			margin: 0 auto;
		}
		small {
			margin: 3% 0 0;
			font-size: calc(35vw/12);
			letter-spacing: 1.3px;
		}
	}
}
@media screen and (max-width: 480px) {
	.mb10 {
		margin: 0 0 2% 0 !important;
	}
	.mn {
		margin: 0 !important;
	}

	.mt10 {
		margin: 1.8% 0 0 !important;
	}

	.mt20 {
		margin: 3% 0 0 !important;
	}
	.mt30 {
		margin: 5% 0 0 !important;
	}
	.mt40 {
		margin: 6% 0 0 !important;
	}
	.mt50 {
		margin: 6.2% 0 0 !important;
	}
	.mt60 {
		margin: 8% 0 0 !important;
	}
	.mt70 {
		margin: 9% 0 0 !important;
	}
	.mt80 {
		margin: 10% 0 0 !important;
	}
	header {
		.hl {
			span {
				display: inline-block;
				width: 19.2%;
				padding: 1.3% 0 1.4% 2.6%;
			}
		}

		.w_h {
			padding: 7.4% 0 7.4%;

			.he_h1 {
				width: 44.9%;
			}
		}
	}

	.daily {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/ddf45cd7962bc5ef24c36e99456fd39f_793c71a52553a3837dc6868bec68d6ee.png) 0 0 repeat;
		padding: 2.5% 0 0;
		.d_w {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/7fcc0dc888c5917797035f26128ee105_889277900f30fc003ce1255a1cc55c7b.png) center top no-repeat;
			background-size: cover;
			padding: 8% 0 0;
			text-align: center;

			.d_t {
				padding: 70px 0 0;
				font-size: 26px;
				letter-spacing: 0.8px;
				line-height: 1.4;
				color: #fff;
			}
			.d_h {
				margin: 55px 0 0;
				font-size: 60px;
				letter-spacing: 0.8px;
				color: #f3dd00;
			}

			.d_item {
				overflow: hidden;
				max-width: 100%;
				margin: 0 auto 0;
				li {
					float: left;
					width: 12.9%;
					margin: 0 0 0 4.5%;
					box-sizing: border-box;
					&:first-child {
						margin: 0;
					}
					a {
						padding: 8.8% 0 12%;
						border: 2px solid #f3dd00;
						border-radius: 20px;
						font-size: calc(59vw/12);

						&:hover {
							opacity: .8;
							background: #000;
							color: #f3dd00;
						}
					}
				}
				.active {
					a {
						background: #f3dd00;
						color: #000;
						&:hover {
							opacity: 0.8;
							background: #f3dd00;
							color: #000;
						}
					}
				}
			}

			.d_inner {
				padding: 10.5% 0 8%;
				figure {
					margin: 0 0 9%;
				}
				.d_ibox {
					padding: 0;
				}
				.d_date {
					display: inline-block;
					padding: 0 0 0 5.5%;
					letter-spacing: 0.8px;
					font-size: calc(42vw/12);
					line-height: 1;
					&:before {
						content: '';
						top: 2%;
						background-size: 100% 100%;
						width: 10%;
						height: 100%;
					}
				}
				.d_mc {
					margin: 2.7% 0 0;
					font-size: calc(43vw/12);
					letter-spacing: 0.9px;
				}
				.d_fi {
					margin: 9% 0 0;
				}
				.d_free {
					display: inline-block;
					padding: 0 10.5% 0 11.5%;
					font-size: calc(76vw/12);
					line-height: 1.26;
					text-shadow: 0.2px 0.2px 0 #f3dd00;
					letter-spacing: 0.5px;

					&:before {
						content: '';
						top: 1%;
						left: 0;
						background-size: 100% 100%;
						width: 11.5%;
						height: 100%;
					}
					&:after {
						content: '';
						position: absolute;
						top: 1%;
						right: 0;
						background-size: 100% 100%;
						width: 11.4%;
						height: 100%;
					}
				}


				.d_btn {
					margin: 8% auto 0;
					a {
						padding: 3.7% 0;
						border: 2px solid #f3dd00;
						font-size: calc(56vw/12);
						letter-spacing: 0.9px;
						span {
							display: inline-block;
							margin: 0 0.2% 0 0;
							font-size: calc(60vw/12);
						}

						&:hover {
							border: 2px solid #f3dd00;
						}
					}
				}
			}
		}

		.dw_s {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/63887d3483fdea78bc03fca6026c38f5_d74eb4d745e1ba8ea8926d15d1732d85.png) center top no-repeat;
			background-size: cover;
			padding: 2.5% 0 9%;
			.wrap {
				max-width: 684px;
			}
			.dw_h {
				font-size: calc(96vw/12);
				letter-spacing: 0.7px;
			}

			.ptlogo {
				max-width: 49.8%;
				margin: 19% auto 0;
			}
			.plogo {
				max-width: 41.3%;
				margin: 6% auto 0;
			}

			.p_text {
				margin: 5% 0 0;
				font-size: calc(39vw/12);
				line-height: 1.7;
				letter-spacing: 0.8px;
			}

			.past {
				margin: 9% 0 0;
				li {
					margin: 7% 0 0;

					a {
						display: block;
					}
					.pa_dl {
						border: 4px solid #f3dd00;

						dd {
							width: 46%;
							border-right: 4px solid #f3dd00;
							line-height: 0;
						}
						dt {
							width: 54%;
							border: 2px solid #000;
							font-size: calc(43vw/12);
							text-shadow: none;
							line-height: 1.5;
						}
						.sin {
							padding: 9.4% 2.3% 9.4%;
						}
						.dou {
							padding: 6.3% 2.3% 6.3%;
						}
						.tri {
							padding: 3.4% 2.3% 3.4%;
						}
					}
				}
			}

			.b_btn {
				margin: 7% auto 0;
				a {
					padding: 3.6% 0;
					border: 2px solid #f3dd00;
					font-size: calc(55vw/12);
					letter-spacing: 0.9px;
					span {
						display: inline-block;
						margin: 0 0.2% 0 0;
						font-size: calc(59vw/12);
					}

					&:hover {
						opacity: 1;
						border: 2px solid #000;
						background: #f3dd00;
						color: #000;
					}
				}
			}
			.d_item {
				padding: 0 auto 0;
				margin: 0 auto 0;
			}

			.top {
				margin: 10% 1% 0 0;
				a {
					display: inline-block;
					font-size: calc(52vw/12);
					letter-spacing: 0.8px;
				}
			}
			.dw_s_btn {
				max-width: 710px;
				margin: 9% auto 0;
				a {
					padding: 4% 0 4.8% 7%;
					border: 2px solid #f3dd00;
					border-radius: 6px;
					line-height: 1.35;

					// &:hover {
					// 	opacity: 0.8;
					// 	background: #000;
					// 	border: 2px solid #f3dd00;
					// 	color: #f3dd00;
					// }
					&:after {
						content: '';
						position: absolute;
						right: 5%;
						top: 38%;
						background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/3ffc1c3906db235acee02b0d8fad4101_2255bd2f7d75b0127c0abe607b28da1e.png) 0 0 no-repeat;
						background-size: 8px 15px;
						width: 8px;
						height: 15px;
					}
				}

				.one {
					font-size: calc(45vw/12);
					letter-spacing: 0.8px;
					font-weight: bold;

					.num {
						display: inline-block;
						margin: 0 0.3% 0 0;
						letter-spacing: 0.8px;
						font-size: calc(48vw/12);
					}
				}

				.two {
					display: inline-block;
					text-indent: -0.4rem;
					font-size: calc(46vw/12);
					.s_num {
						font-size: calc(51vw/12);
						letter-spacing: 0.7px;
					}
				}
			}
		}
	}
	.dbot {
		padding: 1.5% 0 0;
	}
	.ges {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/8d637873e5fc30c2433776ca2354e6e8_5fa59adafb0961735f8a00b5d0dcb9d6.png) center top repeat;
		background-size: 25% auto;
		padding: 1% 0 0;
	}
	.d_guest {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/743b69bbb182af4327b17ddef5e4992e_94a999610b9093f914ad00e46a2c317a.png) center top no-repeat;
		background-size: contain;
		padding: 5.8% 0 0;

		.dg_h {
			margin: 0 0 10.5%;
			font-size: calc(93vw/12);
			letter-spacing: 0.6px;
			line-height: 1.8;
			.num {
				font-size: calc(102vw/12);
			}
			.sec {
				display: inline-block;
				padding: 0 7% 0 7.6%;
				line-height: 0.6;

				&:before {
					left: 0;
					top: -8%;
					background-size: 100% 100%;
					width: 6.3%;
					height: 129%;
				}
				&:after {
					content: '';
					position: absolute;
					right: 0;
					top: -8%;
					background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/4ff1bf202139f5dcfcfe46253f1428b4_d4c82e4d48a48e10d96a70377a4aa9b8.png) 0 0 no-repeat;
					background-size: 100% 100%;
					width: 6.3%;
					height: 129%;
				}
			}
		}

		.dg_inner{
			max-width: 694px;
			background: #fff;
			margin: 0 auto;
			border: 3px solid #000;
			.dg_dl {
				border-bottom: 3px solid #000;
				dd {
					width: 15.5%;
					padding: 2.9% 0 2.9% 0;
					font-size: calc(66vw/12);
					border-right: 3px solid #000;
					.num {
						font-size: calc(70vw/12);
					}
				}
				.dou {
					padding: 5.8% 0 5.8% 0;
				}
				dt {
					width: 84.5%;
					padding: 3% 0 3% 3.4%;
					font-size: calc(55vw/12);
					text-shadow: 0.3px 0.3px 0 #000;
					letter-spacing: 0.6px;
					line-height: 1.2;
				}
			}
			.dg_box {
				padding: 6% 5.4% 8%;
			}

			.dg_t {
				line-height: 1.6;
				letter-spacing: 0.7px;
				font-size: calc(40vw/12);
			}
			.dg_btn {
				margin: 6% auto 0;
				a {
					padding: 4% 0;
					border: 2px solid #f3dd00;
					font-size: calc(55vw/12);
					letter-spacing: 0.8px;
					span {
						display: inline-block;
						margin: 0 0.2% 0 0;
						font-size: calc(59vw/12);
					}

					&:hover {
						opacity: 0.8;
						border: 2px solid #f3dd00;
						background: #000;
						color: #f3dd00;
					}
				}
			}
		}
		.dg_i_s {
			margin: 0 0 0;
		}
	}

	.d_g_sec {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/fa80b3a8e9e96b8b2e5a4f3c76445b47_3f113e13c7e3036bebe048eb9e1a6b5d.png) center 12px no-repeat;
		background-size: cover;
	}
	.ls {
		padding: 9% 0 8.9%;
	}
	.more {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/1306b21695ccf9f864f0d8186f735959_47f5f592946ad4106614849fd77947b0.png) center top repeat;
		background-size: cover;
		padding: 9.5% 0 8.6%;
		.wrap {
			width: 81%;
			margin: 0 auto
		}

		.m_i {
			width: 65%;
			margin: 0 0 0;
		}

		.m_t {
			margin: 4% 0 0;
			font-size: calc(46vw/12);
			letter-spacing: 0.8px;
		}

		.m_btn {
			margin: 5.4% auto 0;
			a {
				padding: 3.5% 0;
				border: 1px solid #f3dd00;
				border-radius: 6px;
				font-size: calc(43vw/12);
				letter-spacing: 0.8px;
				span {
					display: inline-block;
					margin: 0 0.2% 0 0;
					font-size: calc(46vw/12);
				}

				&:hover {
					opacity: 1;
					background: rgba(0,0,0,.7);
					border: 1px solid  #f3dd00;
					color: rgba(243,221,0,.7);
				}
			}
		}
	}

	footer {
		padding: 8% 0 6%;
		a {
			width: 38%;
		}
		figure {
			width: 100%;
			margin: 0 auto;
		}
		small {
			margin: 3% 0 0;
			font-size: calc(38vw/12);
			letter-spacing: 1.3px;
		}
	}
}


@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }
.ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
.ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4s 1 forwards; }
.ani_list04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.5s 1 forwards; }

