@charset "UTF-8";
* { margin: 0; padding: 0; line-height: 1.3em; }

body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #efefef; background-color: #000; }
body li { list-style: none; }

a { -webkit-transition: none; transition: none; text-decoration: none; }
a:hover { text-decoration: none; opacity: .8; }

img { width: 100%; height: auto; }

.wrapper { width: 100%; max-width: 750px; margin: 0 auto; }
.wrapper header { padding: 12px; }
.wrapper header img { max-width: 162px; }

.main_visual { width: 100%; max-width: 750px; height: 332px; background: url(https://bit.ly/2DdC9Jg) no-repeat top center; background-size: cover; margin-bottom: 40px; }
.main_visual img { display: block; max-width: 675px; margin: 0 auto; }

.genre-wrap { display: block; max-width: 680px; margin: 0 auto; }
.genre-wrap h1 { font-size: 37px; color: #FFF; margin-bottom: 23px; }

.item { max-width: 680px; background-color: #1c1c1c; border-radius: 10px; margin-bottom: 28px; }
.item figure img { max-width: 680px; border-radius: 10px 10px 0 0; }
.item div { padding: 17px 22px 22px 22px; }
.item dt { font-size: 33px; font-weight: bold; color: #FFF; margin-bottom: 10px; line-height: 45px; }
.item dd { font-size: 30px; color: #989898; margin-bottom: 25px; }
.item ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 25px; }
.item ul li { display: block; width: 100%; max-width: 200px; }
.item li a { max-width: 200px; overflow: hidden; display: block; }
.item li a.active { -webkit-box-sizing: border-box; box-sizing: border-box; border: 3px solid #50c401; }
.item li a.active img { margin: -1.5px 0; opacity: .8; }
.item .detail-txt { font-size: 26px; color: #989898; line-height: 38px; margin-bottom: 20px; }
.item p a { font-size: 30px; display: block; background-color: #50c401; border-radius: 8px; padding: 25px 0 25px 0; color: #FFF; text-align: center; font-weight: bold; }

.genre-link { margin-bottom: 75px; }
.genre-link a { max-width: 680px; display: block; padding: 22px 0 22px 0; border: solid 2px #50c401; border-radius: 10px; text-align: center; color: #50c401; font-weight: bold; font-size: 32px; }

.item02 { max-width: 680px; }
.item02 ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.item02 ul li { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 30px; }
.item02 ul li a { display: block; background-color: #1c1c1c; border-radius: 10px; max-width: 330px; }
.item02 ul li a img { max-width: 330px; border-radius: 10px 10px 0 0; }
.item02 ul li a dl { padding: 11px 18px 18px 18px; }
.item02 ul li a dl dt { color: #989898; font-size: 26px; margin-bottom: 10px; }
.item02 ul li a dl dd { color: #FFF; font-size: 28px; font-weight: bold; line-height: 37px; }

.abemavideo { display: block; background: url(https://bit.ly/2SrwFiA) top center no-repeat; background-size: 100 auto; width: 100%; padding: 55px 0 67px 0; margin-bottom: 40px; }
.abemavideo section { width: 100%; max-width: 680px; margin: 0 auto; }
.abemavideo h1 { max-width: 397px; margin-bottom: 27px; }
.abemavideo .text { color: #FFF; font-size: 32px; font-weight: bold; margin-bottom: 7px; }
.abemavideo .point { color: #FFF; font-size: 16px; margin-bottom: 17px; }
.abemavideo p a { width: 100%; display: block; padding: 22px 0 22px 0; border: solid 2px #50c401; border-radius: 10px; text-align: center; color: #50c401; font-weight: bold; font-size: 33px; }

footer { width: 100%; max-width: 680px; margin: 0 auto; }
footer small { display: block; font-size: 17px; color: #919191; margin-bottom: 30px; line-height: 24px; }
footer ul { margin-bottom: 30px; }
footer ul li { display: inline; }
footer ul li a { color: #919191 !important; font-size: 17px; line-height: 25px; }
footer ul li a:after { content: '｜'; }

@media screen and (max-width: 700px) { .wrapper { width: 100%; margin: 0 auto; }
  .wrapper header { padding: 1.4% 1.4% 0.8% 1.4%; }
  .wrapper header img { max-width: 20%; }
  .main_visual { height: auto; margin-bottom: 6%; }
  .genre-wrap { width: 90%; }
  .genre-wrap h1 { font-size: calc(55vw/12); margin-bottom: 3.5%; line-height: 140%; }
  .item { border-radius: 6px; margin-bottom: 5%; }
  .item figure img { border-radius: 6px 6px 0 0; }
  .item div { padding: 2.5%; }
  .item dt { font-size: calc(55vw/12); margin-bottom: 2%; line-height: 145%; }
  .item dd { font-size: calc(47vw/12); margin-bottom: 3.5%; }
  .item ul { margin-bottom: 3.5%; }
  .item ul li { display: block; width: 31.5%; }
  .item li a.active { -webkit-box-sizing: border-box; box-sizing: border-box; border: 1.5px solid #50c401; }
  .item li a.active img { margin: -1px 0; }
  .item .detail-txt { font-size: calc(44vw/12); line-height: 145%; margin-bottom: 4%; }
  .item p a { font-size: calc(50vw/12); padding: 3.5% 0 3.5% 0; border-radius: 6px; }
  .genre-link { margin-bottom: 13%; }
  .genre-link a { border-radius: 6px; padding: 3.5% 0 3.5% 0; font-size: calc(48vw/12); }
  .item02 { width: 100%; }
  .item02 ul li { width: 48.5%; margin-bottom: 4.3%; }
  .item02 ul li a { margin-bottom: 0; border-radius: 6px; }
  .item02 ul li a dl { padding: 3% 5% 5% 5%; }
  .item02 ul li a img { border-radius: 6px 6px 0 0; }
  .item02 ul li a dl dt { font-size: calc(38vw/12); margin-bottom: 2%; }
  .item02 ul li a dl dd { font-size: calc(45vw/12); line-height: 135%; }
  .abemavideo { padding: 7% 0 7% 0; }
  .abemavideo section { width: 90%; }
  .abemavideo h1 { margin-bottom: 3.5%; }
  .abemavideo h1 img { max-width: 65%; }
  .abemavideo .text { font-size: calc(48vw/12); margin-bottom: 0.7%; }
  .abemavideo .point { font-size: calc(28vw/12); margin-bottom: 2%; }
  .abemavideo p a { font-size: calc(50vw/12); padding: 2.7% 0 2.7% 0; border-radius: 6px; }
  footer { width: 90%; }
  footer small { font-size: calc(25vw/12); margin-bottom: 5%; line-height: 140%; }
  footer ul { margin-bottom: 5%; line-height: 90%; }
  footer ul li a { font-size: calc(25vw/12); } }
@media screen and (max-width: 480px) { .item { border-radius: 4px; }
  .item figure img { border-radius: 4px 4px 0 0; }
  .item p a { border-radius: 4px; }
  .genre-link { margin-bottom: 13%; }
  .genre-link a { border-radius: 4px; padding: 3.5% 0 3.5% 0; font-size: calc(48vw/12); border: solid 1px #50c401; }
  .item02 ul { display: block; -ms-flex-wrap: none; flex-wrap: none; -webkit-box-pack: none; -ms-flex-pack: none; justify-content: none; }
  .item02 ul li { width: 100%; }
  .item02 ul li a { max-width: 100%; border-radius: 4px; }
  .item02 ul li a img { max-width: 100%; border-radius: 4px 4px 0 0; }
  .item02 p a { border-radius: 4px; }
  .abemavideo p a { border: solid 1px #50c401; } }
