* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #000;
  margin: 0 auto;
  background: #fff;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

.wrap {
  max-width: 768px;
  margin: 0 auto;
}

.a_wrap {
  max-width: 768px;
  padding: 0 34px 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.f_wrap {
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

header .h_inner {
  background: #000;
}
header .h_wrap {
  max-width: 768px;
  margin: 0 auto;
}
header .j_wrap {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/383672/294330cdfd858250eb32e3a27d1adc8a_d36e185ef4fec08659f88fb7d66704b7.png) center center no-repeat;
  max-width: 1198px;
  margin: 0 auto;
  background-size: cover;
  padding: 39px 0;
}
header .header_logo {
  max-width: 151px;
  padding: 15px 0 15px 28px;
  line-height: 0;
}
header .h_t {
  max-width: 359px;
  margin: 0 auto;
  text-align: center;
}

.contents {
  padding: 30px 0 33px;
}
.contents .wrap {
  max-width: 768px;
  margin: 0 auto;
}
.contents .c_t {
  font-size: 24px;
  letter-spacing: 1.25px;
  line-height: 1.25;
  text-align: center;
  color: #8c8c8c;
}
.contents .c_t .num {
  font-size: 28px;
}
.contents .c_t .heart {
  font-size: 27px;
  font-weight: normal;
}
.contents .c_h {
  font-size: 33px;
  letter-spacing: 1.6px;
  font-weight: bold;
}
.contents .c_h span {
  font-size: 40px;
}
.contents .c_p {
  margin: 14px 0 0;
  font-size: 24px;
  font-weight: bold;
  color: #8c8c8c;
}
.contents .c_p .num {
  font-size: 26px;
}
.contents .c_p .bagg {
  display: inline-block;
  background: #ec2840;
  padding: 3px 10px;
  margin: 0 8px 0 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: bottom;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.2;
  color: #fff;
}
.contents dl {
  padding: 33px 0 0;
}
.contents dl dt {
  font-size: 24px;
  font-weight: bold;
}
.contents dl dd {
  margin: 12px 0 0;
  font-size: 22px;
  line-height: 1.45;
  letter-spacing: 1.3px;
  font-weight: bold;
  color: #8c8c8c;
}
.contents dl dd span {
  font-size: 25px;
}
.contents .main {
  margin: 20px 0 0;
  line-height: 0;
}
.contents .large {
  margin: 25px 0 0;
}
.contents .thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0 0;
}
.contents .thumb li {
  margin: 0 0 0 2%;
}
.contents .thumb li:first-child {
  margin: 0;
}
.contents .thumb li a {
  overflow: hidden;
  display: block;
  line-height: 0;
  -webkit-transition: none;
  transition: none;
}
.contents .thumb li a img {
  margin: 0;
}
.contents .thumb li .active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #33aa22;
}
.contents .thumb li .active img {
  margin: -2.5px 0;
  opacity: .8;
}
.contents .btn {
  margin: 36px 0 0;
}
.contents .btn a {
  display: block;
  background: #33aa22;
  padding: 20px 0;
  border-radius: 4px;
  text-align: center;
  font-size: 32px;
  color: #fff;
}

.c_f {
  padding: 0 0 35px;
}
.c_f .c_t {
  margin: 38px 0 0;
}
.c_f .c_h {
  margin: 62px 0 0;
}

.line {
  background: #efefef;
  height: 35px;
}

.recommend .r_h {
  max-width: 612px;
  margin: 70px auto 84px;
  line-height: 0;
}
.recommend .r_heading {
  padding: 0 0 0 25px;
  font-size: 33px;
  letter-spacing: 1.6px;
  border-left: 6px solid #3a2;
  line-height: 1.3;
  font-weight: bold;
}
.recommend .r_heading span {
  font-size: 38px;
}
.recommend .r_inner {
  padding: 50px 0 58px;
  margin: 46px 0 0;
  border-top: 1px solid #606060;
}
.recommend .r_inner:first-of-type {
  border-top: none;
  padding: 0 0 58px;
}
.recommend .r_inner a {
  display: block;
}
.recommend .r_inner dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recommend .r_inner dl dd {
  width: 58%;
  max-width: 440px;
  line-height: 0;
}
.recommend .r_inner dl dt {
  width: 38%;
  margin: 0 0 0 4%;
}
.recommend .r_inner dl dt .r_bagg {
  display: inline-block;
  background: #ec2840;
  padding: 2.5px 14px;
  margin: 0 0 5px 0;
  border-radius: 4px;
  font-size: 18px;
  font-weight: normal;
  vertical-align: bottom;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.2;
  color: #fff;
}
.recommend .r_inner dl dt .r_text {
  font-size: 23px;
  font-weight: bold;
  line-height: 1.4;
  color: #000;
}

footer {
  background: #efefef;
  padding: 60px 0 20px;
  margin: 0 0 0;
}
footer .anchor {
  overflow: hidden;
  max-width: 768px;
  margin: 0 auto;
  text-align: right;
}
footer .anchor a {
  float: right;
  width: 50%;
  display: block;
  font-size: 27px;
  color: #33aa22;
}
footer .anchor a:hover {
  text-decoration: underline;
}
footer .anchor a span {
  font-size: 30px;
}
footer .link-reality {
  max-width: 660px;
  margin: 0 auto 68px auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
footer .link-reality a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFF;
  background-color: #e02b6c;
  border-radius: 8px;
  max-width: 660px;
  padding-right: 21px;
}
footer .link-reality a img {
  max-width: 20px;
}
footer .link-reality dl {
  padding: 30px 0 30px 22px;
}
footer .link-reality dl dt {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.4;
  white-space: nowrap;
}
footer .link-reality dl dd {
  font-size: 21px;
  line-height: 1.4;
}
footer .footer_item {
  overflow: hidden;
  margin: 10px 0 15px;
}
footer .footer_item li {
  position: relative;
  float: left;
  padding: 0 10px 0 10px;
  font-size: 17px;
  line-height: 1.5;
  color: #000;
}
footer .footer_item li:after {
  content: '/';
  position: absolute;
  top: 0;
  right: 0;
}
footer .footer_item li a {
  padding: 0 4px 0 0;
  font-size: 16px;
  color: #000;
}
footer .footer_item li a:hover {
  text-decoration: underline;
}
footer .footer_item li:last-child:after {
  content: ' ';
}
footer small {
  display: block;
  margin: 20px 0 0;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #666;
}

@media screen and (max-width: 768px) {
  .wrap {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 3.5%;
  }

  .a_wrap {
    padding: 0 4.6% 0;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  header .h_wrap {
    max-width: 768px;
    margin: 0 auto;
  }
  header .wrap {
    padding: 5.2% 0;
  }
  header .j_wrap {
    background: url(https://bit.ly/2Wehefw) 0 0 no-repeat;
    background-size: cover;
    padding: 5.4% 0;
  }
  header .header_logo {
    max-width: 160px;
    width: 80%;
    padding: 1.8% 0 2% 3.8%;
    line-height: 0;
  }
  header .h_t {
    width: 65%;
    margin: 0 auto;
    text-align: center;
  }

  .contents {
    padding: 4% 0 4.3%;
  }
  .contents .wrap {
    max-width: 100%;
    padding: 0 4%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contents .c_t {
    font-size: calc(38vw/12);
    letter-spacing: 1.2px;
    line-height: 1.25;
  }
  .contents .c_t .num {
    font-size: calc(42vw/12);
  }
  .contents .c_t .heart {
    font-size: calc(44vw/12);
    font-weight: normal;
  }
  .contents .c_h {
    font-size: calc(52vw/12);
    letter-spacing: 1.3px;
  }
  .contents .c_h span {
    font-size: calc(56vw/12);
  }
  .contents .c_p {
    margin: 2.1% 0 0;
    font-size: calc(38vw/12);
  }
  .contents .c_p .num {
    font-size: calc(42vw/12);
  }
  .contents .c_p .bagg {
    padding: 0.3% 1.5% 0.4%;
    margin: 0 2% 0 0;
    border-radius: 3px;
    font-size: calc(25vw/12);
    letter-spacing: 1.5px;
  }
  .contents dl {
    padding: 5% 0 0;
  }
  .contents dl dt {
    font-size: calc(38vw/12);
  }
  .contents dl dd {
    margin: 2% 0 0;
    font-size: calc(35vw/12);
    line-height: 1.35;
    letter-spacing: 1.2px;
  }
  .contents dl dd span {
    font-size: calc(43vw/12);
  }
  .contents .main {
    margin: 3% 0 0;
    line-height: 0;
  }
  .contents .large {
    margin: 4% 0 0;
  }
  .contents .thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2.2% 0 0;
  }
  .contents .thumb li {
    margin: 0 0 0 2%;
  }
  .contents .thumb li:first-child {
    margin: 0;
  }
  .contents .thumb li a {
    line-height: 0;
  }
  .contents .thumb li a img {
    margin: 0;
  }
  .contents .thumb li .active {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid #33aa22;
  }
  .contents .thumb li .active img {
    margin: -1.5px 0;
    opacity: .8;
  }
  .contents .btn {
    margin: 5.5% 0 0;
  }
  .contents .btn a {
    padding: 3% 0;
    border-radius: 4px;
    font-size: calc(50vw/12);
  }

  .c_f {
    padding: 0 0 5.2%;
  }
  .c_f .c_t {
    margin: 5.4% 0 0;
  }
  .c_f .c_h {
    margin: 8.1% 0 0;
  }

  .line {
    background: #efefef;
    height: 28px;
  }

  .recommend .r_h {
    width: 90%;
    margin: 8% auto 14%;
  }
  .recommend .r_heading {
    padding: 0 0 0 3%;
    font-size: calc(52vw/12);
    letter-spacing: 1.4px;
    border-left: 4.5px solid #3a2;
    line-height: 1.3;
  }
  .recommend .r_heading span {
    font-size: calc(56vw/12);
  }
  .recommend .r_inner {
    padding: 8% 0 8.2%;
    margin: 7% 0 0;
  }
  .recommend .r_inner:first-of-type {
    padding: 0 0 8.2%;
  }
  .recommend .r_inner dl dd {
    width: 56%;
    max-width: 399px;
  }
  .recommend .r_inner dl dt {
    width: 40%;
    margin: 0 0 0 4%;
  }
  .recommend .r_inner dl dt .r_bagg {
    padding: 1% 5% 1%;
    margin: 0 0 2%;
    border-radius: 3px;
    font-size: calc(32vw/12);
    letter-spacing: 1.5px;
  }
  .recommend .r_inner dl dt .r_text {
    font-size: calc(38vw/12);
    line-height: 1.4;
  }

  footer {
    padding: 8% 0 4%;
  }
  footer .h_inner {
    padding: 0 5%;
  }
  footer .wrap {
    padding: 0 5%;
  }
  footer .anchor {
    padding: 0 5%;
  }
  footer .anchor a {
    width: 40%;
    font-size: calc(42vw/12);
  }
  footer .anchor a:hover {
    text-decoration: none;
  }
  footer .anchor a span {
    font-size: calc(36vw/12);
  }
  footer .link-reality {
    width: 90%;
    margin: 0 auto 9%;
  }
  footer .link-reality a {
    border-radius: 4px;
    padding-right: 3%;
  }
  footer .link-reality a img {
    max-width: 3%;
  }
  footer .link-reality dl {
    padding: 4.5% 0 4.5% 3%;
  }
  footer .link-reality dl dt {
    font-size: calc(50vw/12);
    line-height: 1.4;
  }
  footer .link-reality dl dd {
    font-size: calc(35vw/12);
    line-height: 1.4;
  }
  footer .footer_item {
    overflow: hidden;
    padding: 0 5%;
    margin: 3.5% 0 2.5%;
  }
  footer .footer_item li {
    position: relative;
    float: left;
    padding: 0 1%;
    line-height: 1.5;
  }
  footer .footer_item li a {
    padding: 0 0.5% 0 0;
    font-size: calc(25vw/12);
    white-space: nowrap;
  }
  footer .footer_item li a:hover {
    text-decoration: none;
  }
  footer .footer_item li:after {
    top: 0;
    right: -3px;
  }
  footer .footer_item li:last-child:after {
    content: ' ';
  }
  footer small {
    margin: 4% 0 0;
    font-size: calc(23vw/12);
    letter-spacing: 0.5px;
  }
}
@media screen and (max-width: 480px) {
  .wrap {
    padding: 0 3.5%;
  }

  header .h_wrap {
    max-width: 768px;
    margin: 0 auto;
  }
  header .wrap {
    padding: 5.2% 3% 4.4%;
  }
  header .j_wrap {
    background-size: cover;
    padding: 4.5% 0;
  }
  header .header_logo {
    max-width: 95px;
    padding: 2.1% 0 2.2% 4.3%;
  }
  header .h_t {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .contents {
    padding: 4% 0 4.3%;
  }
  .contents .c_t {
    font-size: calc(39vw/12);
    letter-spacing: 1.2px;
    line-height: 1.25;
  }
  .contents .c_t .num {
    font-size: calc(44vw/12);
  }
  .contents .c_t .heart {
    font-size: calc(46vw/12);
    font-weight: normal;
  }
  .contents .c_h {
    font-size: calc(54vw/12);
    letter-spacing: 1.25px;
  }
  .contents .c_h span {
    font-size: calc(58vw/12);
  }
  .contents .c_p {
    margin: 2.1% 0 0;
    font-size: calc(40vw/12);
  }
  .contents .c_p .num {
    font-size: calc(44vw/12);
  }
  .contents .c_p .bagg {
    padding: 0.6% 1.5% 0.6%;
    margin: 0 2% 0 0;
    border-radius: 3px;
    font-size: calc(25vw/12);
    letter-spacing: 1.5px;
  }
  .contents dl {
    padding: 5% 0 0;
  }
  .contents dl dt {
    font-size: calc(40vw/12);
  }
  .contents dl dd {
    margin: 2% 0 0;
    font-size: calc(37vw/12);
    line-height: 1.35;
    letter-spacing: 1.2px;
  }
  .contents dl dd span {
    font-size: calc(45vw/12);
  }
  .contents .main {
    margin: 3% 0 0;
    line-height: 0;
  }
  .contents .large {
    margin: 4% 0 0;
  }
  .contents .thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2.2% 0 0;
  }
  .contents .thumb li {
    margin: 0 0 0 2%;
  }
  .contents .thumb li:first-child {
    margin: 0;
  }
  .contents .thumb li a {
    line-height: 0;
  }
  .contents .thumb li a img {
    margin: 0;
  }
  .contents .thumb li .active {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #33aa22;
  }
  .contents .thumb li .active img {
    margin: -1px 0;
    opacity: .8;
  }
  .contents .btn {
    margin: 4.2% 0 0;
  }
  .contents .btn a {
    padding: 3% 0;
    border-radius: 4px;
    font-size: calc(52vw/12);
  }

  .c_f {
    padding: 0 0 5.2%;
  }
  .c_f .c_t {
    margin: 5.4% 0 0;
  }
  .c_f .c_h {
    margin: 8% 0 0;
  }

  .line {
    background: #efefef;
    height: 18px;
  }

  .recommend .r_h {
    width: 90%;
    margin: 8% auto 14%;
  }
  .recommend .r_heading {
    padding: 0 0 0 3%;
    font-size: calc(52vw/12);
    letter-spacing: 1.4px;
    border-left: 4.5px solid #3a2;
    line-height: 1.3;
  }
  .recommend .r_heading span {
    font-size: calc(56vw/12);
  }
  .recommend .r_inner {
    padding: 8% 0 8.2%;
    margin: 7% 0 0;
  }
  .recommend .r_inner:first-of-type {
    padding: 0 0 8.2%;
  }
  .recommend .r_inner dl dd {
    width: 56%;
    max-width: 399px;
  }
  .recommend .r_inner dl dt {
    width: 40%;
    margin: 0 0 0 4%;
  }
  .recommend .r_inner dl dt .r_bagg {
    padding: 1% 5% 1%;
    margin: 0 0 2%;
    border-radius: 3px;
    font-size: calc(32vw/12);
    letter-spacing: 1.5px;
  }
  .recommend .r_inner dl dt .r_text {
    font-size: calc(38vw/12);
    line-height: 1.4;
  }

  footer {
    padding: 8% 0 4%;
  }
  footer .h_inner {
    padding: 0 5%;
  }
  footer .link-reality {
    margin: 0 auto 9%;
  }
  footer .link-reality a {
    border-radius: 4px;
    padding-right: 3%;
  }
  footer .link-reality a img {
    max-width: 3%;
  }
  footer .link-reality dl {
    padding: 4.5% 0 4.5% 3%;
  }
  footer .link-reality dl dt {
    font-size: calc(50vw/12);
    line-height: 1.4;
  }
  footer .link-reality dl dd {
    font-size: calc(35vw/12);
    line-height: 1.4;
  }
  footer .wrap {
    padding: 0 5%;
  }
  footer .anchor {
    padding: 0 5%;
  }
  footer .anchor a {
    width: 40%;
    font-size: calc(48vw/12);
  }
  footer .anchor a:hover {
    text-decoration: none;
  }
  footer .anchor a span {
    font-size: calc(38vw/12);
  }
  footer .footer_item {
    overflow: hidden;
    padding: 0 5%;
    margin: 3% 0 2.8%;
  }
  footer .footer_item li {
    position: relative;
    float: left;
    padding: 0 2%;
    line-height: 1.45;
  }
  footer .footer_item li a {
    padding: 0 0.5% 0 0;
    font-size: 10px;
    white-space: nowrap;
  }
  footer .footer_item li a:hover {
    text-decoration: none;
  }
  footer .footer_item li:after {
    top: 50%;
    right: -2px;
    font-size: 10px;
    line-height: 0;
  }
  footer .footer_item li:last-child:after {
    content: ' ';
  }
  footer small {
    margin: 4% 0 0;
    font-size: calc(26vw/17);
    letter-spacing: 0;
  }
}
@media screen and (max-width: 414px) {
  header .wrap {
    padding: 5.2% 0;
  }
  header .j_wrap {
    background: url(https://bit.ly/2Wehefw) center center no-repeat;
    background-size: cover;
    padding: 5.4% 0;
  }
}
