* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #fff;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

header .header_wrap {
  background: url(https://goo.gl/eApXZK) 0 0 no-repeat;
  background-size: cover;
  padding: 170px 0 170px;
}
header .header_logo {
  max-width: 191px;
  padding: 15px 0 15px 20px;
  line-height: 0;
}
header .header_heading {
  max-width: 581px;
  margin: 0 auto 0;
  width: 92%;
}
header .header_text {
  max-width: 581px;
  margin: 60px auto 0;
  font-size: 46px;
  line-height: 1.4;
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  header .header_wrap {
    padding: 21% 0 22%;
  }
  header .header_logo {
    padding: 1.2% 0 1.2% 1.5%;
  }
  header .header_logo img {
    width: 80%;
  }
  header .header_heading {
    width: 100%;
    text-align: center;
  }
  header .header_heading img {
    width: 100%;
  }
  header .header_text {
    margin: 8% auto 0;
    font-size: calc(48vw/10);
    line-height: 1.3;
    white-space: nowrap;
  }
}
@media screen and (max-width: 768px) {
  header .header_wrap {
    padding: 21% 0 16%;
  }
  header .header_logo {
    padding: 1.2% 0 1.2% 2%;
  }
  header .header_logo img {
    width: 75%;
  }
  header .header_heading {
    width: 73%;
    margin: 0 0 0 14%;
    text-align: left;
  }
  header .header_heading img {
    width: 100%;
  }
  header .header_text {
    width: 72%;
    margin: 8% auto 0;
    font-size: calc(53vw/10);
    line-height: 1.3;
    white-space: nowrap;
  }
}
@media screen and (max-width: 480px) {
  header .header_wrap {
    padding: 21% 0 17%;
  }
  header .header_logo {
    padding: 1.2% 0 1.2% 2%;
  }
  header .header_logo img {
    width: 53%;
  }
  header .header_heading {
    width: 76%;
    margin: 0 0 0 12%;
  }
  header .header_heading img {
    width: 100%;
  }
  header .header_text {
    width: 77%;
    margin: 8% auto 0;
    font-size: calc(58vw/10);
    line-height: 1.4;
    white-space: nowrap;
  }
}
@media screen and (max-width: 414px) {
  header .header_wrap {
    padding: 20% 0 18%;
  }
  header .header_logo {
    padding: 1.2% 0 1.2% 2%;
  }
  header .header_logo img {
    width: 53%;
  }
  header .header_heading {
    width: 76%;
    margin: 0 0 0 12%;
  }
  header .header_heading img {
    width: 100%;
  }
  header .header_text {
    width: 77%;
    margin: 5% auto 0;
    font-size: calc(58vw/10);
    line-height: 1.4;
    white-space: nowrap;
  }
}
@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes item_list {
  100% {
    opacity: 1;
  }
}
@keyframes item_list {
  100% {
    opacity: 1;
  }
}
.ani_list01 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 1s 1 forwards;
}

.contents {
  padding: 60px 0 0;
}
.contents:nth-of-type(1) {
  padding: 0 0 0;
  margin: 0 auto 0;
}
.contents:nth-of-type(1) .contents_wrap {
  border: none;
}
.contents .contents_wrap {
  border-top: 1px solid #979797;
  max-width: 800px;
  padding: 50px 0 0;
  margin: 60px auto 0;
}
.contents .contents_heading {
  font-weight: normal;
  font-size: 58px;
}
.contents .contents_text {
  margin: 20px 0 0;
  font-size: 32px;
  line-height: 1.4;
  color: #979797;
}
.contents .contents_inner {
  margin: 60px 0 0;
}
.contents .contents_inner li {
  margin: 30px 0 0;
}
.contents .contents_inner li:nth-child(1) {
  margin: 0;
}
.contents .contents_inner li:nth-child(1) .content_title:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  background: #7fc32e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.contents .contents_inner li:nth-child(1) .content_title:after {
  content: '1';
  position: absolute;
  top: 8px;
  left: 13px;
  font-size: 28px;
  color: #fff;
}
.contents .contents_inner li:nth-child(2) .content_title:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  background: #7fc32e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.contents .contents_inner li:nth-child(2) .content_title:after {
  content: '2';
  position: absolute;
  top: 8px;
  left: 13px;
  font-size: 28px;
  color: #fff;
}
.contents .contents_inner li:nth-child(3) .content_title:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  background: #7fc32e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.contents .contents_inner li:nth-child(3) .content_title:after {
  content: '3';
  position: absolute;
  top: 8px;
  left: 13px;
  font-size: 28px;
  color: #fff;
}
.contents .contents_inner li:nth-child(4) .content_title:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  background: #7fc32e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.contents .contents_inner li:nth-child(4) .content_title:after {
  content: '4';
  position: absolute;
  top: 8px;
  left: 13px;
  font-size: 28px;
  color: #fff;
}
.contents .contents_inner li .content_title {
  position: relative;
  padding: 0 0 0 48px;
  font-size: 30px;
  font-weight: normal;
}
.contents .contents_inner li .content_title span {
  display: block;
  margin: 10px 0 0;
  line-height: 1.4;
  font-size: 26px;
  color: #979797;
}
.contents .contents_inner li .content_title .span_inner {
  margin: 10px 0 10px;
  font-size: 28px;
  color: #fff;
}
.contents .contents_inner li figure {
  margin: 10px auto 0;
  text-align: center;
}
.contents .contents_inner li figure img {
  width: 60%;
}
.contents .content_item {
  overflow: hidden;
  margin: 30px 0 0;
}
.contents .content_item dd {
  float: left;
  width: 32.5%;
  margin: 0 0 0 1.2%;
}
.contents .content_item dd:nth-child(1) {
  margin: 0;
}
.contents .content_item dd:nth-child(4) {
  margin: 1.2% 0 0;
}
.contents .content_item dd:nth-child(5) {
  margin: 1.2% 0 0 1.2%;
}
.contents .content_item dd:nth-child(6) {
  margin: 1.2% 0 0 1.2%;
}
.contents .content_item dd img {
  border-radius: 4px;
}

.howto {
  padding: 0 0 0;
}
.howto .howto_wrap {
  max-width: 800px;
  padding: 80px 0 0;
  margin: 60px auto 0;
  border-top: 1px solid #979797;
}
.howto .howto_heading {
  text-align: center;
  font-size: 45px;
  font-weight: normal;
}
.howto .howto_inner {
  margin: 80px 10px 0;
}
.howto .howto_inner li {
  padding: 0 0 0;
}
.howto .howto_inner .howto_title {
  padding: 0 0 0 30px;
  border-left: 8px solid #7fc32e;
  font-size: 35px;
  line-height: 1.4;
  font-weight: normal;
}
.howto .howto_inner figure {
  max-width: 640px;
  margin: 20px auto 0;
  text-align: center;
}

footer {
  margin: 60px 0 0;
}
footer .footer_wrap {
  max-width: 800px;
  padding: 35px 0 115px;
  margin: 0 auto 0;
  border-top: 1px solid #979797;
  text-align: center;
}
footer .footer_wrap small {
  font-size: 19px;
  color: #979797;
}

@media screen and (max-width: 768px) {
  .contents {
    padding: 4% 5% 0;
  }
  .contents:nth-of-type(1) {
    padding: 0 5% 0;
    margin: 0 auto 0;
  }
  .contents .contents_wrap {
    padding: 5% 0 0;
    margin: 5% auto 0;
  }
  .contents .contents_heading {
    font-size: calc(78vw/12);
  }
  .contents .contents_text {
    margin: 4% 0 0;
    font-size: calc(46vw/12);
    line-height: 1.5;
  }
  .contents .contents_inner {
    margin: 10% 0 0;
  }
  .contents .contents_inner li {
    margin: 4% 0 0;
  }
  .contents .contents_inner li:nth-child(1) {
    margin: 0;
  }
  .contents .contents_inner li:nth-child(1) .content_title:before {
    top: -4px;
    left: 0;
    width: 40px;
    height: 40px;
  }
  .contents .contents_inner li:nth-child(1) .content_title:after {
    top: 0;
    left: 12px;
    font-size: calc(46vw/12);
  }
  .contents .contents_inner li:nth-child(2) .content_title:before {
    top: -4px;
    left: 0;
    width: 40px;
    height: 40px;
  }
  .contents .contents_inner li:nth-child(2) .content_title:after {
    top: 0;
    left: 12px;
    font-size: calc(46vw/12);
  }
  .contents .contents_inner li:nth-child(3) .content_title:before {
    top: -4px;
    left: 0;
    width: 40px;
    height: 40px;
  }
  .contents .contents_inner li:nth-child(3) .content_title:after {
    top: 0;
    left: 12px;
    font-size: calc(46vw/12);
  }
  .contents .contents_inner li:nth-child(4) .content_title:before {
    top: -4px;
    left: 0;
    width: 40px;
    height: 40px;
  }
  .contents .contents_inner li:nth-child(4) .content_title:after {
    top: 0;
    left: 12px;
    font-size: calc(46vw/12);
  }
  .contents .contents_inner li .content_title {
    padding: 0 0 0 9%;
    font-size: calc(45vw/12);
  }
  .contents .contents_inner li .content_title span {
    margin: 4% 0 0;
    line-height: 1.5;
    font-size: calc(38vw/12);
  }
  .contents .contents_inner li .content_title .span_inner {
    margin: 2% 0 2%;
    font-size: calc(42vw/12);
  }
  .contents .contents_inner li figure {
    margin: 4% auto 0;
  }
  .contents .contents_inner li figure img {
    width: 60%;
  }
  .contents .content_item {
    overflow: hidden;
    margin: 5% 0 0;
  }
  .contents .content_item dd {
    float: left;
    width: 32.5%;
    margin: 0 0 0 1.2%;
  }
  .contents .content_item dd:nth-child(1) {
    margin: 0;
  }
  .contents .content_item dd:nth-child(4) {
    margin: 1.2% 0 0;
  }
  .contents .content_item dd:nth-child(5) {
    margin: 1.2% 0 0 1.2%;
  }
  .contents .content_item dd:nth-child(6) {
    margin: 1.2% 0 0 1.2%;
  }
  .contents .content_item dd img {
    border-radius: 6px;
  }

  .howto {
    padding: 0 5% 0;
  }
  .howto .howto_wrap {
    padding: 8% 0 0;
    margin: 6% auto 0;
  }
  .howto .howto_heading {
    text-align: center;
    font-size: calc(55vw/12);
    font-weight: normal;
  }
  .howto .howto_inner {
    margin: 8% 4% 0;
  }
  .howto .howto_inner li {
    padding: 0 0 0;
  }
  .howto .howto_inner .howto_title {
    padding: 0 0 0 5%;
    border-left: 5px solid #7fc32e;
    font-size: calc(50vw/12);
    line-height: 1.5;
  }
  .howto .howto_inner figure {
    margin: 5% auto 0;
    text-align: center;
  }

  footer {
    padding: 0 5%;
    margin: 8% 0 0;
  }
  footer .footer_wrap {
    padding: 5% 0 18%;
    margin: 0 auto 0;
    border-top: 1px solid #979797;
    text-align: center;
  }
  footer .footer_wrap small {
    font-size: calc(32vw/12);
    color: #979797;
  }
}
.fix_wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.fixed_btn {
  max-width: 800px;
  margin: 0 auto;
}
.fixed_btn a {
  position: relative;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  padding: 25px 0;
  font-size: 34px;
  text-align: center;
  font-weight: bold;
  color: #7fc32e;
}
.fixed_btn a:after {
  content: '';
  position: absolute;
  top: 39%;
  right: 0;
  background: url(https://goo.gl/J7YZw7) 0 0 no-repeat;
  background-size: 16px 27px;
  width: 16px;
  height: 27px;
}

@media screen and (max-width: 768px) {
  .fixed_btn {
    margin: 0 auto;
  }
  .fixed_btn a {
    padding: 4% 0;
    font-size: calc(57vw/12);
  }
  .fixed_btn a:after {
    top: 39%;
    right: 5%;
    background-size: 16px 27px;
    width: 16px;
    height: 27px;
  }
}
