@media screen and (max-width: 768px) {
  body[data-page-num="4151938"] .blog-title__text .u-txt-clr {
    white-space: normal;
  }
  body[data-page-num="4151938"] .blog-item__text {
    line-height: 1.45;
  }
  body[data-page-num="4151938"] .u-txt-clr {
    font-size: calc(24vw/10);
  }
}
@media screen and (max-width: 480px) {
  body[data-page-num="4151938"] .blog-item--index0 .blog-list--grid .blog-item {
    padding: 0 0 40px !important;
  }
  body[data-page-num="4151938"] .blog-title__text .u-txt-clr {
    white-space: normal;
  }
  body[data-page-num="4151938"] .blog-item__text {
    line-height: 1.4;
  }
  body[data-page-num="4151938"] .u-txt-clr {
    font-size: calc(45vw/12);
  }
  body[data-page-num="4151938"] .blog-list--grid .blog-item {
    padding: 40px 0 !important;
  }
}
