.block__outer .heading-lv2 {
  font-family: "Noto Sans JP", sans-serif !important;
  margin: 0 auto;
}


a:focus, *:focus { outline:none; }
a:hover {
    text-decoration: none;
    opacity: 1;
}

.placeholder__outer {
	transition: none !important;
}

_:-ms-lang(x)::-ms-backdrop,
.grid:nth-child(3) .column .img {
    width: 121px;
}
_:-ms-lang(x)::-ms-backdrop,
a:focus, *:focus {
    noFocusLine: expression(this.onFocus=this.blur());
}

.img__item--action:before {
	transition: none !important;
}

.grid {
  padding: 0;
}
.grid:nth-of-type(1) .block__outer:nth-child(1) {
  display: block;
}
.grid:nth-of-type(1) .block__outer:nth-child(2) {
  display: none;
}
.grid:nth-of-type(2) .block__outer {
  background: #efefef;
  margin: 0;
  padding: 12px 0 20px;
}
.grid:nth-child(3) {
  max-width: 680px;
  margin: 0 auto;
}
.grid:nth-child(3) .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 47px 0 0;
}
.grid:nth-child(3) .column .img {
  max-width: 121px;
}

.grid:nth-child(3) .column .img a {
	cursor: pointer;
	transition: .3s;
	text-decoration: none;
}
.grid:nth-child(3) .column .img a:hover {
	text-decoration: none;
	opacity: .8;
}

.grid:last-child {
  background: #efefef;
  margin: 60px 0 0;
}
.grid:last-child .blog-body__text :last-child, .grid:last-child .txt :last-child {
  max-width: 680px;
  margin: 0 auto;
  padding: 60px 0 100px;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #666;
}

.blog-body__text h4, .txt h4 {
	margin: 0 auto;
  font-weight: normal !important;
  font-family: "Noto Sans JP", sans-serif !important;
  margin: 0 auto;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
  text-align: center;

  letter-spacing: 1.5px;
  color: #000;
}

.img__item--action:hover:before {
  background: none !important;
}

@media screen and (max-width: 1024px) {
  .blog-body__text h4, .txt h4 {
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: 1.2px;
  }
}
@media screen and (max-width: 896px) {
  .blog-body__text h4, .txt h4 {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 1.2px;
  }
}
@media screen and (max-width: 768px) {

    _:-ms-lang(x)::-ms-backdrop,
    .grid:nth-child(3) .column .img {
        width: 100%;
    }
    _:-ms-lang(x)::-ms-backdrop,
    .grid:nth-child(3) .column .block__outer {
    margin: 0 0 0 2.5%;
    width: 18%;
    }

  .pn {
    padding: 0 !important;
  }

  .pb30 {
    padding: 0 0 5% !important;
  }

  .mt20 {
    margin: 3% 0 0 !important;
  }

  .mt30 {
    margin: 5% 0 0 !important;
  }

  .mt40 {
    margin: 6% 0 0 !important;
  }

  .mt50 {
    margin: 6.3% 0 0 !important;
  }

  .mt60 {
    margin: 8% 0 0 !important;
  }

  .mt70 {
    margin: 9% 0 0 !important;
  }

  .mb10 {
    margin: 0 0 1.8% 0 !important;
  }

  .mn {
    margin: 0 !important;
  }

  .grid {
    padding: 0;
  }
  .grid:nth-of-type(1) .block__outer:nth-child(1) {
    display: none;
  }
  .grid:nth-of-type(1) .block__outer:nth-child(2) {
    display: block;
  }
  .grid:nth-of-type(2) .block__outer {
    padding: 1% 0 2%;
    margin: 0 !important;
  }
  .grid:nth-child(3) {
    max-width: none;
    padding: 0 4.5%;
    margin: 0 auto;
  }
  .grid:nth-child(3) .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 7.2% 0 0;
  }
  .grid:nth-child(3) .column .img {
    max-width: 121px;
  }
  .grid:nth-child(3) .column .block__outer {
    margin: 0 0 0 2.5%;
  }
  .grid:nth-child(3) .column .block__outer:first-of-type {
    margin: 0;
  }
  .grid:last-child {
    margin: 7% 0 0;
  }
  .grid:last-child .blog-body__text :last-child, .grid:last-child .txt :last-child {
    max-width: none;
    margin: 0 auto;
    padding: 8% 0 12%;
    font-size: calc(28vw/12);
    letter-spacing: 1px;
  }

  .blog-body__text h4, .txt h4 {
    font-weight: normal !important;
    font-family: "Noto Sans JP", sans-serif !important;
    margin: 0 auto;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 1.5px;
    color: #000;
  }
}
@media screen and (max-width: 736px) {
  .blog-body__text h4, .txt h4 {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 1.2px;
  }
}
@media screen and (max-width: 667px) {
  .blog-body__text h4, .txt h4 {
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 1.2px;
  }
}
@media screen and (max-width: 480px) {
  .blog-body__text h4, .txt h4 {
    font-size: calc(31vw/12);
    line-height: 1.6;
    letter-spacing: 0.6px;
  }
}
