.grid {
  padding: 0;
}
.grid:nth-of-type(1) .block__outer:nth-child(1) {
  display: block;
}
.grid:nth-of-type(1) .block__outer:nth-child(2) {
  display: none;
}
.grid:nth-of-type(2) .block__outer {
  background: #efefef;
  margin: -19px 0 0;
  padding: 30px 0;
}
.grid:nth-child(3) {
  max-width: 680px;
  margin: 0 auto;
}
.grid:nth-child(3) .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 47px 0 0;
}
.grid:nth-child(3) .column .img {
  max-width: 121px;
}

.blog-body__text h4, .txt h4 {
  font-weight: normal !important;
  font-family: "Noto Sans JP", sans-serif !important;
  margin: 0 auto;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 1.5px;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .blog-body__text h4, .txt h4 {
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: 1.2px;
  }
}
@media screen and (max-width: 896px) {
  .blog-body__text h4, .txt h4 {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 1.2px;
  }
}
@media screen and (max-width: 768px) {
  .blog-body__text h4, .txt h4 {
    font-size: calc(31vw/12);
    line-height: 1.63;
    letter-spacing: 1.2px;
    white-space: nowrap;
  }

  .grid {
    padding: 0;
  }
  .grid:nth-of-type(1) .block__outer:nth-child(1) {
    display: none;
  }
  .grid:nth-of-type(1) .block__outer:nth-child(2) {
    display: block;
  }
  .grid:nth-of-type(1) .block__outer:nth-child(3) {
    padding: 5% 0;
    margin: -4.8% 0 0 !important;
  }
  .grid:nth-child(2) {
    max-width: 680px;
    margin: 0 auto;
  }
  .grid:nth-child(2) .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 7% 0 0;
  }
  .grid:nth-child(2) .column .img {
    max-width: 121px;
  }

  .blog-body__text h4, .txt h4 {
    font-weight: normal !important;
    font-family: "Noto Sans JP", sans-serif !important;
    margin: 0 auto;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 1.5px;
    color: #000;
  }
}
@media screen and (max-width: 736px) {
  .blog-body__text h4, .txt h4 {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 1.2px;
  }
}
@media screen and (max-width: 667px) {
  .blog-body__text h4, .txt h4 {
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 1.2px;
  }
}
@media screen and (max-width: 480px) {
  .blog-body__text h4, .txt h4 {
    font-size: calc(31vw/12);
    line-height: 1.6;
    letter-spacing: 0.6px;
  }
}
