@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: "Noto Sans JP", sans-serif !important;
  color: #fff;
  margin: 0 auto;
  background: none;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
  height: auto;
}

.fl {
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
}

.fd {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

.fs {
  font-family: "Noto Sans JP", sans-serif !important;
}

.ko {
  font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif !important;
}

.fr {
  font-family: "M PLUS 1p", sans-serif !important;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.ssp {
  display: block;
}

.line_w {
  max-width: 750px;
  margin: 0 auto;
}
.line_w .wrap_w {
  background: #efefef;
  height: 33px;
}

.pre_btn a {
  display: block;
  background: #ddaa00;
  padding: 26px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #000;
}
.pre_btn a span {
  font-size: 34px;
}

.c_top {
  padding: 0 0 30px;
  margin: 40px 0 0;
  text-align: right;
  white-space: nowrap;
}
.c_top a {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #000;
}

.bn {
  border: none !important;
}

.bb {
  border-bottom: 1px solid #606060 !important;
}

.pb_no {
  padding-bottom: 0 !important;
}

.tc {
  text-align: center !important;
  padding: 0 !important;
}

.pb30 {
  padding: 0 0 35px !important;
}

.mb10 {
  margin: 0 0 10px 0 !important;
}

.mn {
  margin: 0 !important;
}

.mt10 {
  margin: 10px 0 0 !important;
}

.mt20 {
  margin: 20px 0 0 !important;
}

.mt30 {
  margin: 30px 0 0 !important;
}

.mt40 {
  margin: 40px 0 0 !important;
}

.mt50 {
  margin: 50px 0 0 !important;
}

.mt60 {
  margin: 60px 0 0 !important;
}

.mt70 {
  margin: 70px 0 0 !important;
}

.mat20 {
  margin: 20px auto 0 !important;
}

.mat70 {
  margin: 70px auto 0 !important;
}

.cl {
  color: #ddaa00;
}

.wrap {
  max-width: 680px;
  margin: 0 auto;
}

.bagg {
  display: inline-block;
  background: #f0163a;
  padding: 4px 10px 2px;
  margin: 0 0 5px 0;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  line-height: 1.1;
  color: #fff;
}

.line_W {
  background: #efefef;
  height: 35px;
  max-width: 750px;
  margin: 0 auto;
}

.movie {
  margin: 55px 0 20px;
}
.movie .movie_inner {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: 18px auto 0;
}
.movie .movie_inner iframe {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

header {
  background: #000;
}
header .logo {
  max-width: 140px;
  line-height: 0;
  padding: 12px 0 13px 24px;
}
header .h_h {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/b110ba168710b35eb542339931f10c54_6ffdb5216e8a730afae5e45c6cee6ee0.jpg) center center repeat;
  height: 516px;
  padding: 19px 0 0;
  margin: 0 auto 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_h h2 {
  max-width: 601px;
  margin: 0 auto 0;
  line-height: 0;
}
header .h_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 724px;
  margin: 53px auto 0;
}
header .h_item li {
  margin: 0 0 0 8px;
}
header .h_item li:first-child {
  margin: 0;
}

.info {
  background: #eeeeee;
  padding: 42px 0;
  text-align: center;
}
.info .i_h {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 1.3px;
  color: #606060;
}

.contents {
  background: #000;
  text-align: center;
}
.contents .c_box {
  padding: 0 0 40px;
  border-bottom: 1px solid #606060;
}
.contents .c_date {
  display: inline-block;
  background: #f3f3f3;
  padding: 11px 41px;
  margin: 56px 0 0;
  border-radius: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.6px;
  color: #000;
}
.contents .chh {
  max-width: 655px;
  margin: 32px auto 0;
  line-height: 0;
}
.contents .chh_se {
  max-width: 655px;
  margin: 0 auto 0;
  line-height: 0;
}
.contents .c_h {
  border-left: 11px solid #ddaa00;
  padding: 0 0 0 18px;
  line-height: 1.3;
  font-size: 40px;
  text-align: left;
}
.contents .c_h span {
  letter-spacing: 1.3px;
  font-size: 36px;
}
.contents .ch_date {
  position: relative;
  padding: 0 0 0 34px;
  margin: 25px 0 0 27px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  text-align: left;
}
.contents .ch_date:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 50%;
  background: #ddaa00;
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
}
.contents .c_t {
  margin: 26px 0 0 0;
  font-size: 26px;
  text-align: left;
  line-height: 1.4;
  color: #ababab;
}
.contents figure {
  margin: 37px 0 0;
  line-height: 0;
}
.contents .t_top {
  margin: 85px 0 77px;
  text-align: right;
  white-space: nowrap;
}
.contents .t_top a {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #000;
}
.contents .cb_item {
  max-width: 624px;
  margin: 14px auto 0;
}
.contents .cb_item li {
  padding: 60px 0 0;
}
.contents .cb_item li:nth-child(1) {
  padding: 0;
}
.contents .c_dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contents .c_dl dd {
  max-width: 288px;
  width: 49%;
  line-height: 0;
}
.contents .c_dl dt {
  width: 45%;
  margin: 0 0 0 6%;
  font-size: 29px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
}
.contents .c_dl dt .dl_date {
  position: relative;
  padding: 0 0 0 28px;
  margin: 15px 0 0 0;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 1.3px;
  text-align: left;
}
.contents .c_dl dt .dl_date:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 50%;
  background: #ddaa00;
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
}
.contents .more {
  margin: 54px 0 0;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.8px;
  line-height: 1.4;
  color: #ddaa00;
}
.contents .more .num {
  font-size: 49px;
}
.contents .more .big {
  font-size: 48px;
}
.contents .more .sec {
  display: block;
  font-size: 24px;
  letter-spacing: 1.4px;
  color: #fff;
}
.contents .c_bh {
  max-width: 530px;
  margin: 53px auto 0;
  line-height: 0;
}
.contents .c_b_list {
  max-width: 750px;
  margin: 0 auto;
}
.contents .c_btn {
  margin: 47px 0 0;
}
.contents .c_btn a {
  display: block;
  background: #ddaa00;
  padding: 22px 0;
  text-align: center;
  border-radius: 6px;
  font-size: 30px;
  letter-spacing: 2px;
  color: #fff;
}
.contents .c_back {
  margin: 10px 0 70px;
  text-align: right;
}
.contents .c_back a {
  font-size: 30px;
  font-weight: bold;
  color: #ddaa00;
}

footer {
  background: #000;
}
footer .wrap {
  padding: 57px 0 50px;
}
footer .f_list {
  overflow: hidden;
  margin: 10px 0 0;
}
footer .f_list li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .f_list li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #666;
}
footer .f_list li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #666;
}
footer .f_list li:last-child:after {
  content: '';
}
footer .copy {
  margin: 0 0 40px;
}
footer .copy li {
  display: inline-block;
  position: relative;
  padding: 0 23px 0 0;
  margin: 5px 0 0 0;
  line-height: 1.5;
  font-size: 26px;
  color: #666;
}
footer .copy li:after {
  content: '/';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 3px 0 0;
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #666;
}

@media screen and (max-width: 768px) {
  .bagg {
    padding: 1.2% 3% 0.8%;
    margin: 0 0 1% 0;
    border-radius: 3px;
    font-size: calc(26vw/12);
  }

  .movie {
    margin: 6% 0 4%;
  }
  .movie .movie_inner {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin: 3% auto 0;
  }

  .line_W {
    height: 27px;
  }

  .wrap {
    padding: 0 4.5%;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .ssp {
    display: block;
  }

  .pb30 {
    padding: 0 0 5% !important;
  }

  .mt10 {
    margin: 1.8% 0 0 !important;
  }

  .mt20 {
    margin: 3% 0 0 !important;
  }

  .mt30 {
    margin: 5% 0 0 !important;
  }

  .mt40 {
    margin: 6% 0 0 !important;
  }

  .mt50 {
    margin: 6.3% 0 0 !important;
  }

  .mt60 {
    margin: 8% 0 0 !important;
  }

  .mt70 {
    margin: 9% 0 0 !important;
  }

  .mb10 {
    margin: 0 0 1.8% 0 !important;
  }

  .mn {
    margin: 0 !important;
  }

  .mat20 {
    margin: 3% auto 0 !important;
  }

  .mat70 {
    margin: 9% auto 0 !important;
  }

  .wrap {
    padding: 0 4.5%;
  }

  .m_i {
    margin: 5% auto 0;
  }

  .pre_btn a {
    padding: 3.7% 0;
    border-radius: 5px;
    font-size: calc(50vw/12);
    letter-spacing: 1.1px;
  }

  .c_top {
    padding: 0 0 3%;
    margin: 6% 0 0;
  }
  .c_top a {
    display: inline-block;
    font-size: calc(46vw/12);
    letter-spacing: 0.5px;
  }

  header .logo {
    padding: 1.28% 0 1.35% 2.7%;
    width: 18.8%;
  }
  header .h_h {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/c66be66c2a1b37e8dec79f0013b0b155_6f3aa8cb8bb4074c0d5d875190918bd3.jpg) center center no-repeat;
    background-size: cover;
    height: auto;
    padding: 2.2% 0 3%;
    margin: 0 auto 0;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .h_h h2 {
    width: 78.7%;
    padding: 0;
    margin: 0 auto;
  }
  header .h_item {
    max-width: 100%;
    margin: 7% 2% 0;
  }
  header .h_item li {
    margin: 0 0 0 1.2%;
  }

  .info {
    padding: 5.7% 0;
  }
  .info .i_h {
    font-size: calc(38vw/12);
    font-weight: bold;
    letter-spacing: 1.3px;
    color: #606060;
  }

  .contents .c_box {
    padding: 0 0 6%;
  }
  .contents .c_date {
    display: inline-block;
    padding: 1.8% 6%;
    margin: 7.5% 0 0;
    border-radius: 30px;
    font-size: calc(38vw/12);
    letter-spacing: 1.2px;
  }
  .contents .chh {
    width: 96.5%;
    margin: 4.5% auto 0;
  }
  .contents .chh_se {
    width: 96.5%;
    margin: 0 auto 0;
  }
  .contents .c_h {
    border-left: 9px solid #ddaa00;
    padding: 0 0 0 3%;
    line-height: 1.3;
    font-size: calc(56vw/12);
  }
  .contents .c_h span {
    letter-spacing: 1.3px;
    font-size: calc(58vw/12);
  }
  .contents .ch_date {
    padding: 0 0 0 5%;
    margin: 4.5% 0 0 4.5%;
    font-size: calc(38vw/12);
    line-height: 1.3;
  }
  .contents .ch_date:before {
    top: 22%;
    background-size: 100% 100%;
    width: 3.39%;
    height: 71%;
  }
  .contents .c_t {
    margin: 4.5% 0 0 0;
    font-size: calc(41vw/12);
    line-height: 1.4;
  }
  .contents figure {
    margin: 37px 0 0;
    line-height: 0;
  }
  .contents .t_top {
    margin: 13% 0 11%;
  }
  .contents .t_top a {
    display: inline-block;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
  }
  .contents .cb_item {
    max-width: 100%;
    margin: 3% 5.5% 0;
  }
  .contents .cb_item li {
    padding: 8% 0 0;
  }
  .contents .c_dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contents .c_dl dd {
    width: 48%;
    line-height: 0;
  }
  .contents .c_dl dt {
    width: 46%;
    margin: 0 0 0 6%;
    font-size: calc(43vw/12);
    letter-spacing: 0.8px;
    line-height: 1.5;
  }
  .contents .c_dl dt .dl_date {
    padding: 0 0 0 11%;
    margin: 5.5% 0 0 0;
    font-size: calc(36vw/12);
    line-height: 1.3;
    letter-spacing: 0.8px;
  }
  .contents .c_dl dt .dl_date:before {
    content: '';
    position: absolute;
    top: 18%;
    border-radius: 50%;
    background: #ddaa00;
    background-size: 100% 100%;
    width: 7.905%;
    height: 75.9%;
  }
  .contents .more {
    margin: 7.5% 0 0;
    font-size: calc(53vw/12);
    letter-spacing: 1.3px;
    line-height: 1.4;
  }
  .contents .more .num {
    font-size: calc(77vw/12);
  }
  .contents .more .big {
    font-size: calc(75vw/12);
  }
  .contents .more .sec {
    font-size: calc(48vw/12);
    letter-spacing: 0.8px;
  }
  .contents .c_bh {
    width: 78.2%;
    margin: 8% auto 0;
  }
  .contents .c_b_list {
    max-width: 750px;
    margin: 0 auto;
  }
  .contents .c_btn {
    margin: 47px 0 0;
  }
  .contents .c_btn a {
    display: block;
    background: #ddaa00;
    padding: 22px 0;
    text-align: center;
    border-radius: 6px;
    font-size: 30px;
    letter-spacing: 2px;
    color: #fff;
  }
  .contents .c_back {
    margin: 10px 0 70px;
    text-align: right;
  }
  .contents .c_back a {
    font-size: 30px;
    font-weight: bold;
    color: #ddaa00;
  }

  footer {
    padding: 6% 0 3%;
  }
  footer .wrap {
    padding: 0 0 5%;
    margin: 0 5%;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    padding: 0 2.5% 0 0;
    margin: 1% 0 0 0;
    line-height: 1.5;
    font-size: calc(40vw/12);
  }
  footer .copy li:after {
    padding: 0 2% 0 0;
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 10px 0 0;
  }
  footer .f_list li a {
    padding: 0 12px 0 0;
    font-size: calc(25vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 480px) {
  .bagg {
    padding: 1.4% 3% 0.8%;
    margin: 0 0 1% 0;
    border-radius: 3px;
    font-size: calc(26vw/12);
  }

  .line_W {
    height: 18px;
  }

  .pb30 {
    padding: 0 0 5% !important;
  }

  .mb10 {
    margin: 0 0 2% 0 !important;
  }

  .mn {
    margin: 0 !important;
  }

  .mt10 {
    margin: 1.8% 0 0 !important;
  }

  .mt20 {
    margin: 3% 0 0 !important;
  }

  .mt30 {
    margin: 5% 0 0 !important;
  }

  .mt40 {
    margin: 6% 0 0 !important;
  }

  .mt50 {
    margin: 6.2% 0 0 !important;
  }

  .mt60 {
    margin: 8% 0 0 !important;
  }

  .mt70 {
    margin: 9% 0 0 !important;
  }

  .mat20 {
    margin: 3.1% auto 0 !important;
  }

  .mat70 {
    margin: 9% auto 0 !important;
  }

  .ssp {
    display: none;
  }

  header .logo {
    padding: 1.28% 0 1.35% 2.7%;
    width: 19.2%;
  }
  header .h_h {
    background-size: cover;
    height: auto;
    padding: 2.2% 0 7%;
  }
  header .h_h h2 {
    width: 75%;
    padding: 0;
    margin: 0 auto;
  }

  .contents .c_h {
    border-left: 3px solid #ddaa00;
    padding: 0 0 0 2.3%;
    line-height: 1.4;
    font-size: calc(52vw/12);
  }
  .contents .c_h span {
    letter-spacing: 1.3px;
    font-size: calc(54vw/12);
  }
  .contents .ch100 {
    margin: 9% 0 0;
  }
  .contents .c_t {
    margin: 4.4% 0 0 3.3%;
    font-size: calc(37vw/12);
    line-height: 1.45;
  }
  .contents figure {
    margin: 5.1% 0 0;
  }
  .contents .c_dl {
    margin: 5.6% 0 0;
  }
  .contents .c_dl dd {
    width: 22%;
  }
  .contents .c_dl dt {
    width: 75%;
    margin: 0 0 0 3%;
  }
  .contents .c_dl dt span {
    font-size: calc(38vw/12);
    letter-spacing: 1.2px;
  }
  .contents .c_dl dt .cd_h {
    padding: 0 0 2.2%;
    margin: 2% 0 0;
    font-size: calc(54vw/12);
    letter-spacing: 1.4px;
  }
  .contents .c_dl dt .cd_t {
    margin: 3.6% 0 0;
    font-size: calc(38vw/12);
    letter-spacing: 1.2px;
  }
  .contents .c_btn {
    margin: 7% 0 0;
  }
  .contents .c_btn a {
    padding: 3.1% 0;
    border-radius: 4px;
    font-size: calc(49vw/12);
    letter-spacing: 2px;
  }
  .contents .c_back {
    margin: 2% 0 7%;
  }
  .contents .c_back a {
    font-size: calc(47vw/12);
  }

  .cb .wrap {
    padding: 5.5% 10% 6%;
  }
  .cb figure {
    width: 55%;
  }
  .cb .a_text {
    margin: 3.5% 0 0;
    font-size: calc(47vw/12);
    letter-spacing: 1.4px;
  }
  .cb .a_btn {
    margin: 5.8% 0 0;
  }
  .cb .a_btn a {
    padding: 3.5% 0;
    border: 1px solid #ddaa00;
    border-radius: 3px;
    font-size: calc(47vw/12);
    letter-spacing: 1.5px;
  }

  footer {
    padding: 6% 0 3%;
  }
  footer .wrap {
    padding: 0 0 5%;
    margin: 0 5%;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    padding: 0 2.5% 0 0;
    margin: 1% 0 0 0;
    line-height: 1.5;
    font-size: calc(42vw/12);
  }
  footer .copy li:after {
    padding: 0 2% 0 0;
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 10px 0 0;
  }
  footer .f_list li a {
    padding: 0 12px 0 0;
    font-size: calc(27vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(28vw/12);
    letter-spacing: 1.3px;
  }
}
