* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: "Noto Sans JP", sans-serif !important;
  color: #000;
  margin: 0 auto;
  background: none;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
  height: auto;
}

.rank_fix {
  background: #290730;
  z-index: 10001;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.rank_fix .wrap {
  max-width: 768px;
  padding: 27px 0 25px;
  margin: 0 auto;
  -webkit-box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.4);
}
.rank_fix .sf_list {
  overflow: hidden;
  max-width: 730px;
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.rank_fix .sf_list li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 125px;
  height: 91px;
  margin: 0 0 0 3.1%;
  text-align: center;
  border-radius: 4px;
  border: 3px solid #f1d365;
  box-sizing: border-box;
}
.rank_fix .sf_list li figure {
  margin: 0 auto;
  line-height: 0;
}
.rank_fix .sf_list li a {
  display: block;
  padding: 26px 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.rank_fix .sf_list li:nth-child(1) {
  margin: 0;
}
.rank_fix .sf_list li:nth-child(1) figure {
  width: 87px;
}
.rank_fix .sf_list li:nth-child(1) a {
  padding: 20px 13px;
}
.rank_fix .sf_list li:nth-child(2) figure {
  width: 101px;
}
.rank_fix .sf_list li:nth-child(2) a {
  padding: 32px 8px;
}
.rank_fix .sf_list li:nth-child(3) figure {
  width: 84px;
}
.rank_fix .sf_list li:nth-child(3) a {
  padding: 17px 18px;
}
.rank_fix .sf_list li:nth-child(4) figure {
  width: 107px;
}
.rank_fix .sf_list li:nth-child(4) a {
  padding: 31px 6px;
}
.rank_fix .sf_list li:nth-child(5) figure {
  width: 104px;
}
.rank_fix .sf_list li:nth-child(5) a {
  padding: 17px 8px;
}
.rank_fix .sf_list .active {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/bdca13f37d6785d982e1e9063f731a48_ffcfc4a16e0e77b46e68892766a2552a.png) center center no-repeat;
  border: none !important;
}

@media screen and (max-width: 768px) {
  .rank_fix .wrap {
    max-width: 100%;
    padding: 4.2% 3% 3.5%;
    margin: 0 auto;
    -webkit-box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.4);
            box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.4);
  }
  .rank_fix .sf_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: 100%;
  }
  .rank_fix .sf_list li {
    width: 18%;
    height: auto;
    margin: 0 0 0 2.5%;
    border-radius: 3px;
    border: 2px solid #f1d365;
  }
  .rank_fix .sf_list li a {
    padding: 11.26% 0;
  }
  .rank_fix .sf_list li:nth-child(1) {
    margin: 0;
  }
  .rank_fix .sf_list li:nth-child(1) figure {
    width: 100%;
    max-width: 87px;
  }
  .rank_fix .sf_list li:nth-child(1) a {
    padding: 22.26% 14%;
  }
  .rank_fix .sf_list li:nth-child(2) figure {
    width: 100%;
    max-width: 101px;
  }
  .rank_fix .sf_list li:nth-child(2) a {
    padding: 26.26% 9.5%;
  }
  .rank_fix .sf_list li:nth-child(3) figure {
    width: 100%;
    max-width: 84px;
  }
  .rank_fix .sf_list li:nth-child(3) a {
    padding: 13.5% 16%;
  }
  .rank_fix .sf_list li:nth-child(4) figure {
    width: 100%;
    max-width: 107px;
  }
  .rank_fix .sf_list li:nth-child(4) a {
    padding: 25.5% 8%;
  }
  .rank_fix .sf_list li:nth-child(5) figure {
    width: 100%;
    max-width: 104px;
  }
  .rank_fix .sf_list li:nth-child(5) a {
    padding: 13.5% 8%;
  }
  .rank_fix .sf_list .active {
    border: none !important;
    background-size: cover;
  }
  .rank_fix .sf_list .at01 figure {
    margin: 0 16%;
  }
  .rank_fix .sf_list .at02 figure {
    margin: 0 11.22%;
  }
  .rank_fix .sf_list .at03 figure {
    margin: 0 17.4%;
  }
  .rank_fix .sf_list .at04 figure {
    margin: 0 8.4%;
  }
  .rank_fix .sf_list .at05 figure {
    margin: 0 9.4%;
  }
}
@media screen and (max-width: 480px) {
  .rank_fix .wrap {
    max-width: 100%;
    padding: 4.2% 3% 3.5%;
    margin: 0 auto;
    -webkit-box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.4);
            box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.4);
  }
  .rank_fix .sf_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: 100%;
  }
  .rank_fix .sf_list li {
    width: 18%;
    height: auto;
    margin: 0 0 0 2.5%;
    border-radius: 3px;
    border: 2px solid #f1d365;
  }
  .rank_fix .sf_list li a {
    padding: 11.26% 0;
  }
  .rank_fix .sf_list li:nth-child(1) {
    margin: 0;
  }
  .rank_fix .sf_list li:nth-child(1) figure {
    width: 100%;
    max-width: 87px;
  }
  .rank_fix .sf_list li:nth-child(1) a {
    padding: 22.26% 14%;
  }
  .rank_fix .sf_list li:nth-child(2) figure {
    width: 100%;
    max-width: 101px;
  }
  .rank_fix .sf_list li:nth-child(2) a {
    padding: 26.26% 9.5%;
  }
  .rank_fix .sf_list li:nth-child(3) figure {
    width: 100%;
    max-width: 84px;
  }
  .rank_fix .sf_list li:nth-child(3) a {
    padding: 13.5% 16%;
  }
  .rank_fix .sf_list li:nth-child(4) figure {
    width: 100%;
    max-width: 107px;
  }
  .rank_fix .sf_list li:nth-child(4) a {
    padding: 25.5% 8%;
  }
  .rank_fix .sf_list li:nth-child(5) figure {
    width: 100%;
    max-width: 104px;
  }
  .rank_fix .sf_list li:nth-child(5) a {
    padding: 13.5% 8%;
  }
  .rank_fix .sf_list .active {
    border: none !important;
    background-size: cover;
  }
  .rank_fix .sf_list .at01 figure {
    margin: 0 16%;
  }
  .rank_fix .sf_list .at02 figure {
    margin: 0 11.22%;
  }
  .rank_fix .sf_list .at03 figure {
    margin: 0 14.4%;
  }
  .rank_fix .sf_list .at04 figure {
    margin: 0 6.4%;
  }
  .rank_fix .sf_list .at05 figure {
    margin: 0 7.4%;
  }
}
