@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: "Noto Sans JP", sans-serif !important;
  color: #000;
  margin: 0 auto;
  background: none;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
  height: auto;
}

.m_i {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: 30px auto 0;
}
.m_i iframe {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.fd {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

.fs {
  font-family: "Noto Sans JP", sans-serif !important;
}

.fm {
  font-family: "Sawarabi Mincho" !important;
}

.ko {
  font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif !important;
}

.fl {
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
}

.tenfixed {
  background: #fff;
  z-index: 10001;
  position: fixed;
  right: 15px;
  bottom: 20px;
  max-width: 283px;
  padding: 27px 26px 25px;
  -webkit-box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tenfixed .wrap {
  max-width: none;
}
.tenfixed a {
  display: block;
}
.tenfixed a figure {
  max-width: 228px;
  margin: 0 auto;
  line-height: 0;
}

.fd {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

.fs {
  font-family: "Noto Sans JP", sans-serif !important;
}

.ko {
  font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif !important;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.ssp {
  display: block;
}

.line_w {
  max-width: 750px;
  margin: 0 auto;
}
.line_w .wrap_w {
  background: #efefef;
  height: 33px;
}

.bn {
  border: none !important;
}

.bb {
  border-bottom: 1px solid #606060 !important;
}

.pb_no {
  padding-bottom: 0 !important;
}

.tc {
  text-align: center !important;
  padding: 0 !important;
}

.pb30 {
  padding: 0 0 35px !important;
}

.mb10 {
  margin: 0 0 10px 0 !important;
}

.mn {
  margin: 0 !important;
}

.mt10 {
  margin: 10px 0 0 !important;
}

.mt20 {
  margin: 20px 0 0 !important;
}

.mt30 {
  margin: 30px 0 0 !important;
}

.mt40 {
  margin: 40px 0 0 !important;
}

.mt50 {
  margin: 50px 0 0 !important;
}

.mt60 {
  margin: 60px 0 0 !important;
}

.mt70 {
  margin: 70px 0 0 !important;
}

.mat20 {
  margin: 20px auto 0 !important;
}

.mat50 {
  margin: 50px auto 0 !important;
}

.mat70 {
  margin: 70px auto 0 !important;
}

.pre_w {
  max-width: 680px;
  margin: 0 auto;
}

.cl {
  color: #f9516a;
}

.cl_se {
  color: #46aad3;
}

.cl_th {
  color: #e7901f;
}

.cl_fo {
  color: #d34646;
}

.pc {
  display: block;
}

.ai01 {
  opacity: 0;
}

.pre_btn a {
  display: block;
  background: none;
  padding: 23px 0;
  border-radius: 6px;
  border: 4px solid #f9516a;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #f9516a;
}
.pre_btn a:hover {
  background: #f9516a;
  opacity: 1;
  color: #fff;
}

.pre_02 a {
  border: 4px solid #46aad3;
  color: #46aad3;
}
.pre_02 a:hover {
  background: #46aad3;
  opacity: 1;
  color: #fff;
}

.pre_03 a {
  border: 4px solid #e7901f;
  color: #e7901f;
}
.pre_03 a:hover {
  background: #e7901f;
  opacity: 1;
  color: #fff;
}

.pre_04 a {
  border: 4px solid #d34646;
  color: #d34646;
}
.pre_04 a:hover {
  background: #d34646;
  opacity: 1;
  color: #fff;
}

.pre_b_btn a {
  display: block;
  background: #ddaa00;
  padding: 23px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #000;
}

.pre_no {
  background: #efefef;
  padding: 23px 0;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  border-radius: 5px;
  color: #afafaf;
}

.c_ph {
  position: relative;
  padding: 0 0 0 34px;
  margin: 72px 0 0 0;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #000;
}
.c_ph:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  background: #f9516a;
  background-size: 28px 28px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.c_ph_kn {
  font-size: 30px;
}

header {
  padding: 0;
}
header .h_l {
  background: #000;
  padding: 10px 0 13px 22px;
}
header .h_l span {
  display: inline-block;
  max-width: 140px;
  line-height: 0;
}
header .h_a {
  overflow: hidden;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/06f17258a350c0ae401799e43f8f79b6_3e2eb4a8109d0ba3d663caffe74b385e.jpg) center top;
  height: 423px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_a .h_inner {
  position: relative;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_a .h_i {
  position: relative;
  max-width: 802px;
  padding: 12px 0 0;
  margin: 0 auto 0;
  text-align: center;
}
header .h_a .h_i .h_m {
  max-width: 802px;
  margin: 0 auto;
  line-height: 0;
}
header .h_a .h_i .h_item {
  overflow: hidden;
  max-width: 704px;
  margin: 9px auto 0;
}
header .h_a .h_i .h_item li {
  float: left;
  width: 22.7%;
  margin: 0 0 0 1.8%;
  border: 3px solid #f4af55;
  line-height: 0;
}
header .h_a .h_i .h_item li:first-child {
  margin: 0;
}
header .h_a .h_i .h_main {
  max-width: 377px;
  margin: 0 auto;
  line-height: 0;
}
header .h_a .h_i .h_t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0 0 322px;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
header .h_a .h_i .h_t span {
  display: inline-block;
  margin: 0 0 0 3px;
  font-size: 19px;
}
header .h_line {
  background: #fbf7ee;
  padding: 43px 0 42px;
}
header .h_line .h_bh {
  text-align: center;
  font-size: 23px;
  font-weight: normal;
  letter-spacing: 1.2px;
  line-height: 1.6;
}
header .h_line .h_bh span {
  font-weight: bold;
}

.c_top {
  padding: 0 0 30px;
  margin: 40px 0 0;
  text-align: right;
  white-space: nowrap;
}
.c_top a {
  display: inline-block;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #000;
}

.contents .wrap {
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
}
.contents .wbt {
  margin: 74px auto 0;
  border-top: 1px solid #606060;
  text-align: left;
}
.contents .l_wrap {
  max-width: 750px;
  margin: 0 auto;
}
.contents .l_wrap .large {
  margin: 20px 0 0;
  line-height: 0;
}
.contents .ch_b {
  max-width: 750px;
  margin: 0 auto;
}
.contents .c_hl {
  max-width: 495px;
  margin: 32px auto 0;
  line-height: 0;
}
.contents .c_hl_03 {
  max-width: 627px;
  margin: 43px auto 0;
}
.contents .c_hl_03_02 {
  max-width: 621px;
  margin: 72px auto 0;
  line-height: 0;
}
.contents .ff_l_se {
  position: relative;
  display: block;
  padding: 0;
  margin: 10px 0 0;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.6;
  white-space: nowrap;
  text-align: center;
}
.contents .ff_l_se .ss {
  display: inline-block;
  margin: 0 3px;
  font-size: 35px;
}
.contents .ff_l {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 10px 0 0;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
}
.contents .ff_l .ss {
  display: inline-block;
  margin: 0 3px;
  font-size: 35px;
}
.contents .c_h {
  padding: 0 0 0 20px;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  border-left: 11px solid #f9516a;
  line-height: 1.3;
  color: #000;
}
.contents .ch02 {
  border-left: 11px solid #46aad3;
}
.contents .ch03 {
  border-left: 11px solid #e7901f;
}
.contents .ch03b {
  border-left: 11px solid #e7901f;
}
.contents .ch04 {
  border-left: 11px solid #d34646;
}
.contents .c_ih {
  padding: 67px 0 0;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.65;
  text-shadow: 0.3px 0.3px 0 #000;
}
.contents .c_ih .ss {
  font-size: 28px;
}
.contents .c_ih .sin {
  display: block;
  font-size: 35px;
}
.contents .c_ih .sin .icl {
  color: #e2b742 !important;
  text-shadow: 0.3px 0.3px 0 #e2b742;
}
.contents .c_ih .bob {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(65%, #e2b742));
  background: linear-gradient(transparent 65%, #e2b742 65%);
  padding: 0 0 5px;
  line-height: 0.8;
}
.contents .cl_fig {
  max-width: 680px;
  margin: 46px auto 0;
  line-height: 0;
}
.contents .cp_fig {
  max-width: 449px;
  margin: 80px auto 0;
  line-height: 0;
}
.contents .cp_t {
  margin: 15px 0 0;
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.65;
  text-shadow: 0.3px 0.3px 0 #000;
}
.contents .b_black {
  display: inline-block;
  background: #000;
  padding: 5px 12px;
  margin: 32px 0 0 32px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 4px;
  color: #fff;
  line-height: 1;
}
.contents .b_black span {
  color: #ddaa00;
}
.contents .date {
  position: relative;
  padding: 1px 0 0 30px;
  margin: 27px 0 0 30px;
  font-size: 25px;
  text-align: left;
  color: #000;
}
.contents .date:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  background: #000;
  background-size: 22px 22px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
.contents .date .rbagg {
  display: inline-block;
  background: #f0163a;
  padding: 5px 12px;
  margin: 0 0 0 25px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 4px;
  color: #fff;
  line-height: 1;
}
.contents .date .gbagg {
  display: inline-block;
  background: #000;
  padding: 5px 12px;
  margin: 0 0 0 25px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 4px;
  color: #fff;
  line-height: 1;
}
.contents .date .gbagg .scl {
  color: #ddaa00;
}
.contents .c_ht {
  margin: 45px 0 0;
  font-size: 24px;
  line-height: 1.55;
  text-align: left;
}
.contents .cn_btn {
  margin: 44px 0 0;
}
.contents .cn_btn a {
  display: block;
  background: none;
  padding: 25px 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  border: 4px solid #ef0072;
  border-radius: 5px;
  color: #ef0072;
}
.contents .cn_btn a:hover {
  opacity: 1;
  background: #ef0072;
  color: #fff;
}
.contents .near {
  margin: 73px 0 0;
  text-align: left;
}
.contents .near .n_dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contents .near .n_dl dd {
  width: 57%;
  border: 2px solid #969696;
  line-height: 0;
}
.contents .near .n_dl dt {
  width: 39.5%;
  margin: 0 0 0 3.5%;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1.3px;
}
.contents .near .n_dl dt .nbagg {
  display: inline-block;
  background: #f0163a;
  padding: 5px 10px;
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
  border-radius: 4px;
  color: #fff;
  line-height: 1;
}
.contents .near .n_t {
  margin: 40px 0 0;
  font-size: 22px;
  line-height: 1.8;
  letter-spacing: 1.3px;
  color: #606060;
}
.contents .near .n_h {
  margin: 40px 0 0;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
.contents .near .n_no {
  background: #efefef;
  padding: 25px 0;
  margin: 44px 0 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  color: #afafaf;
}
.contents .near .n_btn {
  margin: 44px 0 0;
}
.contents .near .n_btn a {
  display: block;
  background: none;
  padding: 25px 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  border: 4px solid #ef0072;
  border-radius: 5px;
  color: #ef0072;
}
.contents .near .n_btn a:hover {
  opacity: 1;
  background: #ef0072;
  color: #fff;
}
.contents .c_three {
  margin: 4px 0 0;
}
.contents .c_three .c_titem li {
  padding: 48px 0;
  border-bottom: 1px solid #606060;
}
.contents .c_three .c_titem a {
  display: block;
}
.contents .c_three .c_tdl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contents .c_three .c_tdl dd {
  width: 54%;
  line-height: 0;
}
.contents .c_three .c_tdl dt {
  width: 42.5%;
  padding: 0 0 0 3.5%;
  font-size: 23px;
  line-height: 1.75;
  font-weight: bold;
  text-align: left;
  color: #000;
}
.contents .c_three .c_tdl dt .bagg {
  display: inline-block;
  background: #f0163a;
  padding: 5px 10px;
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
  border-radius: 4px;
  color: #fff;
  line-height: 1;
}
.contents .c_three .c_ttext {
  margin: 26px 0 0;
  font-size: 25px;
  line-height: 1.6;
  color: #ababab;
}
.contents .c_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 60px 0 0;
  text-align: left;
}
.contents .c_item li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #eeeeee;
  width: 47.6%;
  margin: 5% 0 0 4.7%;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
}
.contents .c_item li:nth-child(2n+1) {
  margin: 5% 0 0 0;
}
.contents .c_item li:nth-child(2) {
  margin: 0 0 0 4.7%;
}
.contents .c_item li:nth-child(1) {
  margin: 0;
}
.contents .c_item li a {
  display: block;
}
.contents .c_item li figure {
  line-height: 0;
}
.contents .c_item li .title {
  background: #eeeeee;
  padding: 20px 20px 25px;
  border-radius: 0 0 8px 8px;
}
.contents .c_item li .bagg {
  display: inline-block;
  background: #f0163a;
  padding: 4px 14px;
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 4px;
  color: #fff;
}
.contents .c_item li .tt {
  font-size: 24px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif !important;
  line-height: 1.4;
  color: #666;
}
.contents .b_list {
  overflow: hidden;
  margin: 31px 0 0;
}
.contents .b_list li {
  float: left;
  padding: 7px 8px 5px;
  margin: 0 0 0 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  line-height: 1;
  letter-spacing: 1.1px;
  color: #fff;
}
.contents .b_list li:nth-child(1) {
  margin: 0;
}
.contents .b_list .saku {
  position: relative;
  display: inline-block;
  background: #46aad3;
  padding: 7px 12px 5px 45px;
}
.contents .b_list .saku:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 12px;
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/64bc0a5b3b21bf01eb4bb8933138b535_400679cb58da58d172ef5641021d7b7e.png) no-repeat;
  background-size: 23px 23px;
  width: 23px;
  height: 23px;
}
.contents .b_list .ga {
  background: #d34646;
}
.contents .b_list .min {
  background: #606060;
}
.contents .b_list .rea {
  background: #e02b6c;
}
.contents .b_list .vara {
  background: #e3a600;
}
.contents .b_list .dra {
  background: #3c33f4;
}
.contents .b_list .kpo {
  background: #00c791;
}
.contents .b_list .han {
  background: #e20dea;
}
.contents .b_list .ani {
  background: #f77c22;
}
.contents .b_list .mov {
  background: #7300e9;
}
.contents .b_list .cry {
  background: #14b6eb;
}
.contents .b_list .cry {
  background: #14b6eb;
}
.contents .c_list {
  overflow: hidden;
  margin: 23px 0 0;
}
.contents .c_list li {
  float: left;
  width: auto !important;
  padding: 7px 8px 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  line-height: 1;
  letter-spacing: 1.1px;
  color: #fff;
  white-space: nowrap;
}
.contents .c_list .min {
  background: #606060;
  margin: 0 100px 15px 0 !important;
}
.contents .c_list .rea {
  background: #e02b6c;
  margin: 0 !important;
}
.contents .c_list .cry {
  background: #14b6eb;
  margin: 0 0 0 20px !important;
}
.contents .c_list .mn {
  margin: 0 !important;
}
.contents .c_movie .t_i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 31px 0 0;
}
.contents .c_movie .t_i li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 31%;
  margin: 3.4% 0 0 3.4%;
}
.contents .c_movie .t_i li:nth-child(3) {
  margin: 0 0 0 3.4%;
}
.contents .c_movie .t_i li:nth-child(2) {
  margin: 0 0 0 3.4%;
}
.contents .c_movie .t_i li:nth-child(1) {
  margin: 0;
}
.contents .c_movie .t_i li img {
  line-height: 0;
}
.contents .c_movie .cm_btn {
  margin: 29px 0 0;
}
.contents .c_movie .cm_btn a {
  display: block;
  background: none;
  padding: 26px 0;
  border-radius: 6px;
  border: 4px solid #f9516a;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #f9516a;
}
.contents .c_movie .cm_btn a:hover {
  opacity: 1;
  background: #f9516a;
  color: #fff;
}
.contents .tw_bt {
  margin: 68px 0 0;
  padding: 40px 0 0;
  border-top: 1px solid #606060;
}
.contents .c_twenty .t_i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 31px 0 0;
}
.contents .c_twenty .t_i li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 31%;
  margin: 6.4% 0 0 3.4%;
}
.contents .c_twenty .t_i li:nth-child(3n+1) {
  margin: 6.4% 0 0;
}
.contents .c_twenty .t_i li:nth-child(3) {
  margin: 0 0 0 3.4%;
}
.contents .c_twenty .t_i li:nth-child(2) {
  margin: 0 0 0 3.4%;
}
.contents .c_twenty .t_i li:nth-child(1) {
  margin: 0;
}
.contents .c_twenty .t_i li img {
  line-height: 0;
}
.contents .c_twenty .t_i li a {
  display: block;
}
.contents .c_twenty .c_btn {
  margin: 38px 0 0;
}
.contents .c_twenty .c_btn a {
  display: block;
  background: #e5c200;
  padding: 18px 0;
  border-radius: 6px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}
.contents .cb_l {
  max-width: 700px;
  margin: 18px auto 0;
}
.contents .cb_l .cb_lh {
  max-width: 194px;
  margin: 0 0 0 -7px;
  line-height: 0;
}
.contents .cb_h {
  margin: 2px auto 0;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2.5px;
  color: #fff;
}
.contents .cb_h span {
  display: inline-block;
  background: #00a4b9;
  padding: 11px 16px 10px 23px;
}
.contents .cb_h .dou {
  display: inline-block;
  padding: 10px 29px 14px 21px;
  margin: 0 0 0 76px;
}
.contents .more {
  padding: 13px 0 46px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.8px;
  color: #00a4b9;
}

.lot {
  padding: 40px 0 47px;
  background: #fff;
}
.lot .wrap {
  max-width: 680px;
  margin: 0 auto;
}
.lot .l_p {
  max-width: 362px;
  margin: 0 auto 0;
}
.lot .m_list {
  overflow: hidden;
  max-width: 680px;
  margin: 36px auto 0;
}
.lot .m_list li {
  float: left;
  width: 32.3%;
  margin: 1.5% 0 0 1.5%;
}
.lot .m_list li:nth-child(3n+1) {
  margin: 1.5% 0 0;
}
.lot .m_list li:nth-child(3) {
  margin: 0 0 0 1.5%;
}
.lot .m_list li:nth-child(2) {
  margin: 0 0 0 1.5%;
}
.lot .m_list li:first-child {
  margin: 0;
}
.lot .llist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 56px 0 0;
}
.lot .llist li {
  width: 32%;
  margin: 0.5% 0 0 2%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 0;
}
.lot .llist li:nth-child(2) {
  margin: 0 0 0 2%;
}
.lot .llist li:nth-child(3) {
  margin: 0 0 0 2%;
}
.lot .llist li:nth-child(1) {
  margin: 0;
}
.lot .llist li:nth-child(4) {
  margin: 0.5% 0 0 0;
}
.lot .l_item {
  overflow: hidden;
  padding: 0;
  margin: 45px 0 0;
  border-radius: 8px;
}
.lot .l_item li {
  background: #efefef;
  float: left;
  width: 47.5%;
  max-width: 321px;
  padding: 0 0 35px;
  margin: 5% 0 0 5.5%;
  border-radius: 0 0 8px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.lot .l_item li:first-child {
  margin: 0;
}
.lot .l_item li:nth-child(2) {
  margin: 0 0 0 5.5%;
}
.lot .l_item li:nth-child(3) {
  margin: 5% 0 0 0;
}
.lot .l_item li .icon {
  margin: 0 auto;
  line-height: 0;
}
.lot .l_item li .icon img {
  border-radius: 9px 9px 0 0;
}
.lot .l_item li .c_it {
  margin: 25px 0 0;
  text-align: center;
  font-size: 27px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 1.4px;
  color: #666;
}
.lot .l_item li .c_it .h_ss {
  display: block;
  font-size: 29px;
  font-weight: bold;
  text-shadow: 0.3px 0.3px 0 #666;
  color: #666;
}
.lot .l_item li .c_it .clr {
  color: #e6c300;
}
.lot .l_item li .c_it .num {
  font-size: 29px;
}

aside {
  background: #eee;
  padding: 1px 0 0;
}
aside .wrap {
  max-width: 680px;
  padding: 0 0 36px;
  margin: 0 auto 0;
}
aside .f_d dt {
  margin: 60px 0 0;
  font-size: 26px;
  letter-spacing: 1.4px;
  font-weight: normal;
  color: #000;
}
aside .f_d dd {
  margin: 21px 0 0;
  font-size: 24px;
  line-height: 1.45;
  letter-spacing: 1.4px;
  color: #666;
}
aside .f_d dd .caution {
  display: block;
  margin: 12px 0 0;
  font-size: 20px;
}
aside .f_d dd .f_item {
  margin: 15px 0 10px 35px;
}
aside .f_d dd .f_item li {
  margin: 6px 0 0;
  line-height: 1.4;
  font-size: 20px;
}
aside .f_d dd .f_dot {
  margin: 15px 0 0 35px;
}
aside .f_d dd .f_dot li {
  position: relative;
  padding: 0 0 0 38px;
  margin: 8px 0 0;
  line-height: 1.4;
  font-size: 19px;
}
aside .f_d dd .f_dot li:before {
  content: '・';
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 19px;
  line-height: 0;
}
aside .f_d dd a {
  color: #a1882f;
  text-decoration: underline;
}
aside .f_d dd a:hover {
  text-decoration: none;
}
aside .f_d .f_last {
  margin: 15px 0 0 0;
}
aside .f_d .f_last li {
  position: relative;
  padding: 0 0 0 25px;
  margin: 6px 0 0;
  line-height: 1.4;
  font-size: 20px;
}
aside .f_d .f_last li:before {
  content: '1.';
  position: absolute;
  top: 0;
  left: 0;
}
aside .f_d .f_last li:nth-child(2):before {
  content: '2.';
}
aside .f_c {
  margin: 15px 0 0;
  line-height: 1.3;
  font-size: 20px;
}

.t_top {
  margin: 57px 0 23px;
  text-align: right;
  white-space: nowrap;
}
.t_top a {
  display: inline-block;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #000;
}

footer {
  background: #efefef;
}
footer .wrap {
  max-width: 680px;
  margin: 0 auto;
  padding: 40px 0 80px;
}
footer .copy {
  margin: 0 0 32px;
}
footer .copy li {
  width: 100%;
  margin: 5px 0 0 0;
  line-height: 1.3;
  font-size: 16px;
  color: #919191;
}
footer .f_list {
  overflow: hidden;
  margin: 10px 0 10px;
}
footer .f_list li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .f_list li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #919191;
}
footer .f_list li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #919191;
  line-height: 1;
}
footer .f_list li:last-child:after {
  content: '';
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #919191;
}

@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes item_i {
  100% {
    opacity: 0.9;
  }
}
@keyframes item_i {
  100% {
    opacity: 0.9;
  }
}
.h01 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 1.7s 1 forwards;
}

.h02 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 1.7s 1 forwards;
}

.h03 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 0.8s 1 forwards;
}

.h04 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 1s 1 forwards;
}

.h05 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 2s 1 forwards;
}

.h06 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 2s 1 forwards;
}

.h_impact {
  -webkit-animation: item_i 0.5s ease 1s 1 forwards;
  animation: item_i 1s ease 2.8s 1 forwards;
}

@media screen and (max-width: 768px) {
  .line_w {
    max-width: 100%;
    width: 100%;
  }
  .line_w .wrap_w {
    height: 28px;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .ssp {
    display: block;
  }

  .pb30 {
    padding: 0 0 5% !important;
  }

  .mt10 {
    margin: 1.8% 0 0 !important;
  }

  .mt20 {
    margin: 3% 0 0 !important;
  }

  .mt30 {
    margin: 5% 0 0 !important;
  }

  .mt40 {
    margin: 6% 0 0 !important;
  }

  .mt50 {
    margin: 6.3% 0 0 !important;
  }

  .mt60 {
    margin: 8% 0 0 !important;
  }

  .mt70 {
    margin: 9% 0 0 !important;
  }

  .mb10 {
    margin: 0 0 1.8% 0 !important;
  }

  .mn {
    margin: 0 !important;
  }

  .mat20 {
    margin: 3% auto 0 !important;
  }

  .mat50 {
    margin: 6.5% auto 0 !important;
  }

  .mat70 {
    margin: 9% auto 0 !important;
  }

  .wrap {
    padding: 0 4.5%;
  }

  .m_i {
    margin: 5% auto 0;
  }

  .pre_btn a {
    padding: 3.5% 0;
    border-radius: 5px;
    border: 3px solid #f9516a;
    font-size: calc(50vw/12);
    letter-spacing: 1.1px;
  }
  .pre_btn a:hover {
    opacity: 0.8;
    background: none;
    color: #f9516a;
  }

  .pre_02 a {
    border: 3px solid #46aad3;
  }
  .pre_02 a:hover {
    opacity: 0.8;
    background: none;
    color: #46aad3;
  }

  .pre_03 a {
    border: 3px solid #e7901f;
  }
  .pre_03 a:hover {
    opacity: 0.8;
    background: none;
    color: #e7901f;
  }

  .pre_04 a {
    border: 3px solid #d34646;
  }
  .pre_04 a:hover {
    opacity: 0.8;
    background: none;
    color: #d34646;
  }

  .pre_b_btn a {
    padding: 3.9% 0;
    border-radius: 5px;
    font-size: calc(49vw/12);
    letter-spacing: 1.1px;
  }

  .pre_no {
    padding: 3.5% 0;
    border-radius: 4px;
    border: 3px solid #f9516a;
    font-size: calc(50vw/12);
    letter-spacing: 1.1px;
  }

  .c_ph {
    padding: 0 0 0 5%;
    margin: 10% 0 0 0;
    font-size: calc(50vw/12);
  }
  .c_ph:before {
    content: '';
    top: 14%;
    background-size: 100% 100%;
    width: 4%;
    height: 87%;
  }

  .c_ph_kn {
    font-size: calc(44vw/12);
  }
  .c_ph_kn:before {
    top: 14%;
    background-size: 100% 100%;
    width: 3.5%;
    height: 87%;
  }

  .c_top {
    padding: 0 0 5%;
    margin: 6% 0 0;
  }
  .c_top a {
    display: inline-block;
    font-size: calc(52vw/12);
    letter-spacing: 0.5px;
  }

  .m_lot {
    padding: 0;
    margin: 6% 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .m_fig {
    max-width: 100% !important;
    margin: 5% auto 0;
  }

  header {
    padding: 0;
  }
  header .h_l {
    background: #000;
    padding: 1.3% 0 1.3% 2.3%;
  }
  header .h_l span {
    display: inline-block;
    max-width: 18.8%;
  }
  header .h_a {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/e1344ae32996f3cccfba070b71337578_d260207dc2ac5a74c416b8f9fcf59a65.jpg) center top;
    background-size: cover;
    height: auto;
    padding: 1.6% 0 2.3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .h_a .h_i {
    max-width: 802px;
    padding: 0;
    margin: 0 auto 0;
  }
  header .h_a .h_i .h_m {
    max-width: 696px;
    width: 90.8%;
    margin: 0 auto;
  }
  header .h_a .h_i .h_item {
    width: 92%;
    margin: 1.3% auto 0;
  }
  header .h_a .h_i .h_item li {
    width: 22.7%;
    margin: 0 0 0 1.8%;
    border: 2px solid #f4af55;
  }
  header .h_a .h_i .h_item li:first-child {
    margin: 0;
  }
  header .h_a .h_i .h_main {
    max-width: 377px;
    margin: 0 auto;
    line-height: 0;
  }
  header .h_a .h_i .h_t {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px 0 0 322px;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 1.2px;
  }
  header .h_a .h_i .h_t span {
    display: inline-block;
    margin: 0 0 0 3px;
    font-size: 19px;
  }
  header .h_line {
    padding: 5.3% 0 5.2%;
  }
  header .h_line .h_bh {
    font-size: calc(36vw/12);
    letter-spacing: 1px;
    line-height: 1.6;
  }

  .contents .wrap {
    max-width: 100%;
    padding: 0 4.5%;
    margin: 0 auto;
  }
  .contents .wbt {
    margin: 7.5% 4.5% 0;
    padding: 0;
  }
  .contents .c_mimg {
    width: 66.3%;
    margin: 8% auto 0;
  }
  .contents .c_bimg {
    width: 71.5%;
    margin: 8% auto 0;
  }
  .contents .ff_l_se {
    margin: 1.6% 0 0;
    font-size: calc(41vw/12);
    letter-spacing: 0.5px;
    line-height: 1.4;
  }
  .contents .ff_l_se .ss {
    display: inline-block;
    margin: 0 0.6%;
    font-size: calc(44vw/12);
  }
  .contents .ff_l {
    display: inline-block;
    margin: 1.6% 0 0;
    font-size: calc(41vw/12);
    letter-spacing: 0.5px;
    line-height: 1.4;
  }
  .contents .ff_l .ss {
    display: inline-block;
    margin: 0 0.6%;
    font-size: calc(44vw/12);
  }
  .contents .l_wrap {
    max-width: 100%;
  }
  .contents .l_wrap .large {
    margin: 3.8% 0 0;
  }
  .contents .ch_b {
    max-width: 100%;
  }
  .contents .c_hl {
    width: 70.9%;
    margin: 4.5% auto 0;
  }
  .contents .c_hl_03 {
    width: 90%;
    margin: 6% auto 0;
  }
  .contents .c_hl_03_02 {
    width: 89.4%;
    margin: 9% auto 0;
  }
  .contents .c_h {
    padding: 0 0 0 3%;
    font-size: calc(51vw/12);
    border-left: 9px solid #f9516a;
    line-height: 1.3;
  }
  .contents .ch02 {
    border-left: 9px solid #46aad3;
  }
  .contents .ch03 {
    border-left: 9px solid #e7901f;
  }
  .contents .ch04 {
    border-left: 9px solid #d34646;
  }
  .contents .c_ih {
    padding: 10% 0 0;
    font-size: calc(68vw/12);
    letter-spacing: 1.5px;
    line-height: 1.65;
    text-shadow: 0.2px 0.2px 0 #000;
  }
  .contents .c_ih .ss {
    font-size: calc(42vw/12);
  }
  .contents .c_ih .sin {
    font-size: calc(58vw/12);
  }
  .contents .c_ih .sin .icl {
    color: #e2b742 !important;
    text-shadow: 0.2px 0.2px 0 #e2b742;
  }
  .contents .c_ih .bob {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(65%, #e2b742));
    background: linear-gradient(transparent 65%, #e2b742 65%);
    padding: 0 0 0.8%;
    line-height: 0.8;
  }
  .contents .b_black {
    display: inline-block;
    padding: 1% 1.9%;
    margin: 5% 0 0 5%;
    font-size: calc(31vw/12);
    letter-spacing: 1.1px;
    border-radius: 4px;
    line-height: 1;
  }
  .contents .date {
    padding: 0.4% 0 0 4.5%;
    margin: 3% 0 0 4.2%;
    font-size: calc(39vw/12);
  }
  .contents .date:before {
    top: 22%;
    background-size: 100% 100%;
    border-radius: 50%;
    width: 3%;
    height: 62%;
  }
  .contents .date .rbagg {
    display: inline-block;
    padding: 1% 1.9%;
    margin: 0 0 0 3%;
    font-size: calc(31vw/12);
    letter-spacing: 1.5px;
    border-radius: 4px;
    line-height: 1;
  }
  .contents .date .gbagg {
    display: inline-block;
    padding: 1% 1.9%;
    margin: 0 0 0 3%;
    font-size: calc(31vw/12);
    letter-spacing: 1.5px;
    border-radius: 4px;
    line-height: 1;
  }
  .contents .cl_fig {
    max-width: 100%;
    margin: 6.5% auto 0;
  }
  .contents .cp_fig {
    width: 68.6%;
    margin: 12% auto 0;
  }
  .contents .cp_t {
    margin: 2.5% 0 0;
    font-size: calc(68vw/12);
    letter-spacing: 1.2px;
    line-height: 1.65;
    text-shadow: 0.2px 0.2px 0 #000;
  }
  .contents .c_ht {
    margin: 6.5% 0 0;
    font-size: calc(37vw/12);
    line-height: 1.55;
  }
  .contents .cn_btn {
    margin: 6.5% 0 0;
  }
  .contents .cn_btn a {
    padding: 3.6% 0;
    font-size: calc(56vw/12);
    border: 3px solid #ef0072;
    border-radius: 4px;
  }
  .contents .cn_btn a:hover {
    opacity: 0.8;
    background: none;
    color: #ef0072;
  }
  .contents .c_three {
    margin: 1% 0 0;
  }
  .contents .c_three .c_titem li {
    padding: 7% 0;
  }
  .contents .c_three .c_tdl dd {
    width: 54%;
  }
  .contents .c_three .c_tdl dt {
    width: 42.5%;
    padding: 0 0 0 3.5%;
    font-size: calc(38vw/12);
    line-height: 1.6;
  }
  .contents .c_three .c_tdl dt .bagg {
    display: inline-block;
    padding: 2% 3.5%;
    margin: 0 0 3%;
    font-size: calc(37vw/12);
    letter-spacing: 0.8px;
    border-radius: 3px;
  }
  .contents .c_three .c_ttext {
    margin: 4% 0 0;
    font-size: calc(42vw/12);
    line-height: 1.6;
  }
  .contents .c_item {
    margin: 8% 0 0;
  }
  .contents .c_item li {
    width: 47.6%;
    margin: 5% 0 0 4.7%;
    border-radius: 0 0 7px 7px;
  }
  .contents .c_item li:nth-child(2) {
    margin: 0 0 0 4.7%;
  }
  .contents .c_item li:nth-child(1) {
    margin: 0;
  }
  .contents .c_item li figure {
    line-height: 0;
  }
  .contents .c_item li .title {
    padding: 6% 6% 8%;
    border-radius: 0 0 7px 7px;
  }
  .contents .c_item li .bagg {
    padding: 1.3% 4.6%;
    margin: 0 0 3.5%;
    font-size: calc(31vw/12);
    letter-spacing: 2px;
    border-radius: 4px;
  }
  .contents .c_item li .tt {
    font-size: calc(37vw/12);
    line-height: 1.4;
  }
  .contents .b_list {
    margin: 4.6% 0 0;
  }
  .contents .b_list li {
    padding: 1% 1.3% 0.7%;
    margin: 0 0 0 2%;
    font-size: calc(32vw/12);
    border-radius: 4px;
    letter-spacing: 0.8px;
  }
  .contents .b_list .saku {
    display: inline-block;
    padding: 1% 2% 0.7% 6.5%;
  }
  .contents .b_list .saku:before {
    top: 13%;
    left: 4%;
    background-size: 100% 100%;
    width: 6.7%;
    height: 72%;
  }
  .contents .c_list {
    margin: 11% 0 0;
  }
  .contents .c_list li {
    width: auto !important;
    padding: 3% 4% 1.8%;
    font-size: calc(32vw/12);
    border-radius: 4px;
    letter-spacing: 0.3px;
  }
  .contents .c_list .min {
    margin: 0 45% 7% 0 !important;
  }
  .contents .c_list .cry {
    margin: 0 0 0 9.5% !important;
  }
  .contents .c_list .mn {
    margin: 0 !important;
  }
  .contents .c_movie .t_i {
    margin: 5% 0 0;
  }
  .contents .c_movie .t_i li {
    margin: 3.4% 0 0 3.4%;
  }
  .contents .c_movie .t_i li:nth-child(3) {
    margin: 0 0 0 3.4%;
  }
  .contents .c_movie .t_i li:nth-child(2) {
    margin: 0 0 0 3.4%;
  }
  .contents .c_movie .t_i li:nth-child(1) {
    margin: 0;
  }
  .contents .c_movie .cm_btn {
    margin: 13% 0 0;
  }
  .contents .c_movie .cm_btn a {
    padding: 11% 0;
    border-radius: 5px;
    border: 3px solid #f9516a;
    font-size: calc(50vw/12);
  }
  .contents .c_movie .cm_btn a:hover {
    opacity: 0.8;
    background: none;
    color: #f9516a;
  }
  .contents .tw_bt {
    margin: 11% 0 0;
    padding: 7% 0 0;
  }
  .contents .c_twenty .t_i {
    margin: 5% 0 0;
  }
  .contents .c_twenty .t_i li {
    width: 30.3%;
    margin: 3.4% 0 0 3.4%;
  }
  .contents .c_twenty .t_i li:nth-child(3n+1) {
    margin: 3.4% 0 0;
  }
  .contents .c_twenty .t_i li:nth-child(3) {
    margin: 0 0 0 3.4%;
  }
  .contents .c_twenty .t_i li:nth-child(2) {
    margin: 0 0 0 3.4%;
  }
  .contents .c_twenty .t_i li:nth-child(1) {
    margin: 0;
  }
  .contents .c_twenty .t_i li img {
    line-height: 0;
  }
  .contents .c_twenty .c_btn {
    margin: 3% 0 0;
  }
  .contents .c_twenty .c_btn a {
    padding: 3% 0;
    border-radius: 5px;
    font-size: calc(39vw/12);
  }

  .lot {
    padding: 9% 0 4.6%;
  }
  .lot .l_p {
    width: 53.4%;
  }
  .lot .m_list {
    overflow: hidden;
    max-width: 680px;
    margin: 5% auto 0;
  }
  .lot .m_list li {
    float: left;
    width: 32.3%;
    margin: 1.5% 0 0 1.5%;
  }
  .lot .m_list li:nth-child(3n+1) {
    margin: 1.5% 0 0;
  }
  .lot .m_list li:nth-child(3) {
    margin: 0 0 0 1.5%;
  }
  .lot .m_list li:nth-child(2) {
    margin: 0 0 0 1.5%;
  }
  .lot .m_list li:first-child {
    margin: 0;
  }
  .lot .llist {
    margin: 7.5% 0 0;
  }
  .lot .llist li {
    width: 32%;
    margin: 0.5% 0 0 2%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 0;
  }
  .lot .llist li:nth-child(2) {
    margin: 0 0 0 2%;
  }
  .lot .llist li:nth-child(3) {
    margin: 0 0 0 2%;
  }
  .lot .llist li:nth-child(1) {
    margin: 0;
  }
  .lot .llist li:nth-child(4) {
    margin: 0.5% 0 0 0;
  }
  .lot .l_item {
    padding: 0;
    margin: 6.2% 0 0;
    border-radius: 7px;
  }
  .lot .l_item li {
    float: left;
    width: 47.5%;
    padding: 0 0 5%;
    margin: 5% 0 0 5%;
    border-radius: 0 0 9px 9px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lot .l_item li:first-child {
    margin: 0;
  }
  .lot .l_item li:nth-child(2) {
    margin: 0 0 0 5%;
  }
  .lot .l_item li:nth-child(3) {
    margin: 5% 0 0 0;
  }
  .lot .l_item li .icon {
    margin: 0 auto;
    line-height: 0;
  }
  .lot .l_item li .icon img {
    border-radius: 9px 9px 0 0;
  }
  .lot .l_item li .c_it {
    margin: 7.5% 0 0;
    font-size: calc(42vw/12);
    line-height: 1.5;
    letter-spacing: 1.4px;
  }
  .lot .l_item li .c_it .h_ss {
    text-shadow: 0.3px 0.3px 0 #666;
    font-size: calc(43vw/12);
  }
  .lot .l_item li .c_it .num {
    font-size: calc(47vw/12);
  }

  aside {
    padding: 0 0 4%;
  }
  aside .wrap {
    padding: 2% 0 0;
    margin: 0 5.5% 0;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(41vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(37vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(31vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 2% 4.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }
  aside .f_d dd .f_dot {
    margin: 2.3% 0 0 5.2%;
  }
  aside .f_d dd .f_dot li {
    padding: 0 0 0 4%;
    margin: 1.4% 0 0;
    line-height: 1.4;
    font-size: 15px;
  }
  aside .f_d dd .f_dot li:before {
    top: 11px;
    left: 0%;
    font-size: 15px;
    line-height: 0;
  }
  aside .f_d dd a:hover {
    text-decoration: underline;
  }
  aside .f_d .dd_last {
    line-height: 1.2;
  }
  aside .f_d .f_last {
    margin: 3% 0 0 0;
  }
  aside .f_d .f_last li {
    padding: 0 0 0 4%;
    margin: 0.8% 0 0;
    line-height: 1.4;
    font-size: calc(38vw/12);
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }

  .t_top {
    margin: 6% 0 4%;
  }
  .t_top a {
    display: inline-block;
    font-size: calc(50vw/12);
    letter-spacing: 1px;
  }

  footer {
    padding: 2% 0 4%;
  }
  footer .wrap {
    padding: 5% 0 6%;
    margin: 0 4.5%;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(24vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(25vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 480px) {
  .line_w {
    max-width: 100%;
    width: 100%;
  }
  .line_w .wrap_w {
    height: 19px;
  }

  .pb30 {
    padding: 0 0 5% !important;
  }

  .mb10 {
    margin: 0 0 2% 0 !important;
  }

  .mn {
    margin: 0 !important;
  }

  .mt10 {
    margin: 1.8% 0 0 !important;
  }

  .mt20 {
    margin: 3% 0 0 !important;
  }

  .mt30 {
    margin: 5% 0 0 !important;
  }

  .mt40 {
    margin: 6% 0 0 !important;
  }

  .mt50 {
    margin: 6.2% 0 0 !important;
  }

  .mt60 {
    margin: 8% 0 0 !important;
  }

  .mt70 {
    margin: 9% 0 0 !important;
  }

  .mat20 {
    margin: 3.1% auto 0 !important;
  }

  .mat50 {
    margin: 6.5% auto 0 !important;
  }

  .mat70 {
    margin: 9% auto 0 !important;
  }

  .ssp {
    display: none;
  }

  .pre_w {
    max-width: none;
    width: 85%;
    margin: 0 auto;
  }

  .pre_btn a {
    padding: 3.5% 0;
    border-radius: 3px;
    border: 2px solid #f9516a;
    font-size: calc(52vw/12);
    letter-spacing: 0.2px;
  }

  .pre_02 a {
    border: 2px solid #46aad3;
  }

  .pre_03 a {
    border: 2px solid #e7901f;
  }

  .pre_04 a {
    border: 2px solid #d34646;
  }

  .pre_b_btn a {
    padding: 3.9% 0;
    border-radius: 4px;
    font-size: calc(51vw/12);
    letter-spacing: 0.5px;
  }

  .pre_no {
    padding: 3.8% 0;
    border-radius: 3px;
    border: 2px solid #f9516a;
    font-size: calc(51vw/12);
    letter-spacing: 0.5px;
  }

  .c_ph {
    padding: 0 0 0 5%;
    margin: 10% 0 0 0;
    font-size: calc(52vw/12);
  }
  .c_ph:before {
    content: '';
    top: 14%;
    background-size: 100% 100%;
    width: 4%;
    height: 87%;
  }

  .c_ph_kn {
    font-size: calc(46vw/12);
  }
  .c_ph_kn:before {
    top: 14%;
    background-size: 100% 100%;
    width: 3.5%;
    height: 87%;
  }

  .c_top {
    padding: 0 0 5%;
    margin: 6% 0 0;
  }
  .c_top a {
    display: inline-block;
    font-size: calc(54vw/12);
    letter-spacing: 0.2px;
  }

  .m_lot {
    padding: 0;
    margin: 6% 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .m_fig {
    max-width: 100% !important;
    margin: 5% auto 0;
  }

  header {
    padding: 0;
  }
  header .h_l {
    padding: 1.3% 0 1.3% 2.3%;
  }
  header .h_l span {
    display: inline-block;
    max-width: 19.2%;
  }
  header .h_a {
    padding: 1.6% 0 2.3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .h_a .h_i {
    margin: 0 auto 0;
  }
  header .h_a .h_i .h_m {
    width: 92.8%;
    margin: 0 auto;
  }
  header .h_a .h_i .h_item {
    width: 93%;
    margin: 2% auto 0;
  }
  header .h_a .h_i .h_item li {
    width: 22.4%;
    margin: 0 0 0 1.8%;
    border: 2px solid #f4af55;
  }
  header .h_a .h_i .h_item li:first-child {
    margin: 0;
  }
  header .h_line {
    padding: 5.3% 0 5.2%;
  }
  header .h_line .h_bh {
    font-size: calc(38vw/12);
    letter-spacing: 0.5px;
    line-height: 1.6;
  }

  .contents .wrap {
    padding: 0 4.5%;
    margin: 0 auto;
  }
  .contents .wbt {
    margin: 7.5% 4.5% 0;
    padding: 0;
  }
  .contents .c_mimg {
    width: 68.3%;
    margin: 8% auto 0;
  }
  .contents .c_bimg {
    width: 73.5%;
    margin: 8% auto 0;
  }
  .contents .ff_l_se {
    margin: 1.6% 0 0;
    font-size: calc(42vw/12);
    letter-spacing: -0.5px;
    line-height: 1.4;
  }
  .contents .ff_l_se .ss {
    display: inline-block;
    margin: 0 0.6%;
    font-size: calc(46vw/12);
  }
  .contents .ff_l {
    display: inline-block;
    margin: 1.6% 0 0;
    font-size: calc(42vw/12);
    letter-spacing: -0.5px;
    line-height: 1.4;
  }
  .contents .ff_l .ss {
    display: inline-block;
    margin: 0 0.6%;
    font-size: calc(46vw/12);
  }
  .contents .l_wrap .large {
    margin: 3.8% 0 0;
  }
  .contents .c_hl {
    width: 72.9%;
    margin: 4.5% auto 0;
  }
  .contents .c_hl_03 {
    width: 92%;
    margin: 6% auto 0;
  }
  .contents .c_hl_03_02 {
    width: 91.4%;
    margin: 9% auto 0;
  }
  .contents .c_h {
    padding: 0 0 0 3%;
    font-size: calc(53vw/12);
    border-left: 5.5px solid #f9516a;
    line-height: 1.2;
  }
  .contents .ch02 {
    border-left: 5.5px solid #46aad3;
  }
  .contents .ch03 {
    border-left: 5.5px solid #e7901f;
  }
  .contents .ch04 {
    border-left: 5.5px solid #d34646;
  }
  .contents .c_ih {
    padding: 10% 0 0;
    font-size: calc(70vw/12);
    letter-spacing: 1px;
    line-height: 1.65;
    text-shadow: 0.2px 0.2px 0 #000;
  }
  .contents .c_ih .ss {
    font-size: calc(44vw/12);
  }
  .contents .c_ih .sin {
    font-size: calc(60vw/12);
  }
  .contents .c_ih .sin .icl {
    color: #e2b742 !important;
    text-shadow: 0.2px 0.2px 0 #e2b742;
  }
  .contents .c_ih .bob {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(65%, #e2b742));
    background: linear-gradient(transparent 65%, #e2b742 65%);
    padding: 0 0 0.8%;
    line-height: 0.8;
  }
  .contents .b_black {
    display: inline-block;
    padding: 1% 1.9%;
    margin: 5% 0 0 5%;
    font-size: calc(33vw/12);
    letter-spacing: 0.5px;
    border-radius: 4px;
    line-height: 1;
  }
  .contents .date {
    padding: 0.4% 0 0 4.5%;
    margin: 3% 0 0 4.2%;
    font-size: calc(41vw/12);
  }
  .contents .date:before {
    top: 22%;
    background-size: 100% 100%;
    width: 3%;
    height: 62%;
  }
  .contents .date .rbagg {
    display: inline-block;
    padding: 1% 1.9%;
    margin: 0 0 0 3%;
    font-size: calc(33vw/12);
    letter-spacing: 0.7px;
    border-radius: 3px;
    line-height: 1;
  }
  .contents .date .gbagg {
    display: inline-block;
    padding: 1% 1.9%;
    margin: 0 0 0 3%;
    font-size: calc(33vw/12);
    letter-spacing: 0.7px;
    border-radius: 3px;
    line-height: 1;
  }
  .contents .cl_fig {
    margin: 6.5% auto 0;
  }
  .contents .cp_fig {
    width: 70.6%;
    margin: 12% auto 0;
  }
  .contents .cp_t {
    margin: 2.5% 0 0;
    font-size: calc(70vw/12);
    letter-spacing: 0.6px;
    line-height: 1.65;
    text-shadow: 0.2px 0.2px 0 #000;
  }
  .contents .c_ht {
    margin: 6.5% 0 0;
    font-size: calc(39vw/12);
    line-height: 1.55;
  }
  .contents .cn_btn {
    margin: 6.5% 0 0;
  }
  .contents .cn_btn a {
    padding: 3.6% 0;
    font-size: calc(58vw/12);
    border: 2px solid #ef0072;
    border-radius: 3px;
  }
  .contents .cn_btn a:hover {
    opacity: 0.8;
    background: none;
    color: #ef0072;
  }
  .contents .c_three {
    margin: 1% 0 0;
  }
  .contents .c_three .c_titem li {
    padding: 7% 0;
  }
  .contents .c_three .c_tdl dd {
    width: 54%;
  }
  .contents .c_three .c_tdl dt {
    width: 42.5%;
    padding: 0 0 0 3.5%;
    font-size: calc(40vw/12);
    line-height: 1.6;
  }
  .contents .c_three .c_tdl dt .bagg {
    display: inline-block;
    padding: 2% 3.5%;
    margin: 0 0 3%;
    font-size: calc(39vw/12);
    letter-spacing: 0.4px;
    border-radius: 3px;
  }
  .contents .c_three .c_ttext {
    margin: 4% 0 0;
    font-size: calc(44vw/12);
    line-height: 1.6;
  }
  .contents .c_item {
    margin: 8% 0 0;
  }
  .contents .c_item li {
    width: 47.6%;
    margin: 5% 0 0 4.7%;
    border-radius: 0 0 5px 5px;
  }
  .contents .c_item li:nth-child(2) {
    margin: 0 0 0 4.7%;
  }
  .contents .c_item li:nth-child(1) {
    margin: 0;
  }
  .contents .c_item li figure {
    line-height: 0;
  }
  .contents .c_item li .title {
    padding: 6% 6% 8%;
    border-radius: 0 0 5px 5px;
  }
  .contents .c_item li .bagg {
    padding: 1.3% 4.6%;
    margin: 0 0 3.5%;
    font-size: calc(32vw/12);
    letter-spacing: 0.8px;
    border-radius: 3px;
  }
  .contents .c_item li .tt {
    font-size: calc(38vw/12);
    line-height: 1.4;
  }
  .contents .c_movie .t_i {
    margin: 5% 0 0;
  }
  .contents .c_movie .t_i li {
    width: 30.3%;
    margin: 3.4% 0 0 3.4%;
  }
  .contents .c_movie .t_i li:nth-child(3) {
    margin: 0 0 0 3.4%;
  }
  .contents .c_movie .t_i li:nth-child(2) {
    margin: 0 0 0 3.4%;
  }
  .contents .c_movie .t_i li:nth-child(1) {
    margin: 0;
  }
  .contents .c_movie .cm_btn {
    margin: 13% 0 0;
  }
  .contents .c_movie .cm_btn a {
    padding: 11% 0;
    border-radius: 4px;
    border: 2px solid #f9516a;
    font-size: calc(52vw/12);
  }
  .contents .c_movie .cm_btn a:hover {
    opacity: 0.8;
    background: none;
    color: #f9516a;
  }
  .contents .tw_bt {
    margin: 10% 0 0;
    padding: 6% 0 0;
  }
  .contents .c_twenty .t_i {
    margin: 5% 0 0;
  }
  .contents .c_twenty .t_i li {
    width: 30.3%;
    margin: 3.4% 0 0 3.4%;
  }
  .contents .c_twenty .t_i li:nth-child(3n+1) {
    margin: 3.4% 0 0;
  }
  .contents .c_twenty .t_i li:nth-child(3) {
    margin: 0 0 0 3.4%;
  }
  .contents .c_twenty .t_i li:nth-child(2) {
    margin: 0 0 0 3.4%;
  }
  .contents .c_twenty .t_i li:nth-child(1) {
    margin: 0;
  }
  .contents .c_twenty .t_i li img {
    line-height: 0;
  }
  .contents .c_twenty .c_btn {
    margin: 3% 0 0;
  }
  .contents .c_twenty .c_btn a {
    padding: 3% 0;
    border-radius: 4px;
    font-size: calc(41vw/12);
  }

  .lot {
    padding: 9% 0 4.6%;
  }
  .lot .l_p {
    width: 55.4%;
  }
  .lot .m_list {
    overflow: hidden;
    margin: 5% auto 0;
  }
  .lot .m_list li {
    float: left;
    width: 32.3%;
    margin: 1.5% 0 0 1.5%;
  }
  .lot .m_list li:nth-child(3n+1) {
    margin: 1.5% 0 0;
  }
  .lot .m_list li:nth-child(3) {
    margin: 0 0 0 1.5%;
  }
  .lot .m_list li:nth-child(2) {
    margin: 0 0 0 1.5%;
  }
  .lot .m_list li:first-child {
    margin: 0;
  }
  .lot .llist {
    margin: 7.5% 0 0;
  }
  .lot .llist li {
    width: 32%;
    margin: 0.5% 0 0 2%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 0;
  }
  .lot .llist li:nth-child(2) {
    margin: 0 0 0 2%;
  }
  .lot .llist li:nth-child(3) {
    margin: 0 0 0 2%;
  }
  .lot .llist li:nth-child(1) {
    margin: 0;
  }
  .lot .llist li:nth-child(4) {
    margin: 0.5% 0 0 0;
  }
  .lot .l_item {
    padding: 0;
    margin: 6.2% 0 0;
    border-radius: 4px;
  }
  .lot .l_item li {
    float: left;
    width: 47.5%;
    padding: 0 0 5%;
    margin: 5% 0 0 5%;
    border-radius: 0 0 5px 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lot .l_item li:first-child {
    margin: 0;
  }
  .lot .l_item li:nth-child(2) {
    margin: 0 0 0 5%;
  }
  .lot .l_item li:nth-child(3) {
    margin: 5% 0 0 0;
  }
  .lot .l_item li .icon {
    margin: 0 auto;
    line-height: 0;
  }
  .lot .l_item li .icon img {
    border-radius: 5px 5px 0 0;
  }
  .lot .l_item li .c_it {
    margin: 7.5% 0 0;
    font-size: calc(44vw/12);
    line-height: 1.5;
    letter-spacing: 0.7px;
  }
  .lot .l_item li .c_it .h_ss {
    text-shadow: 0.3px 0.3px 0 #666;
    font-size: calc(45vw/12);
  }
  .lot .l_item li .c_it .num {
    font-size: calc(49vw/12);
  }

  aside {
    padding: 0 0 4%;
  }
  aside .wrap {
    padding: 2% 0 0;
    margin: 0 5% 0;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(45vw/12);
    letter-spacing: 0.4px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(41vw/12);
    line-height: 1.45;
    letter-spacing: 0.4px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(35vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 2% 4.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(36vw/12);
  }
  aside .f_d dd .f_dot {
    margin: 2.3% 0 0 5.2%;
  }
  aside .f_d dd .f_dot li {
    padding: 0 0 0 3.5%;
    margin: 1.4% 0 0;
    line-height: 1.4;
    font-size: 12px;
  }
  aside .f_d dd .f_dot li:before {
    top: 8px;
    left: 0%;
    font-size: 12px;
    line-height: 0;
  }
  aside .f_d dd a:hover {
    text-decoration: underline;
  }
  aside .f_d .dd_last {
    line-height: 1.2;
  }
  aside .f_d .f_last {
    margin: 3% 0 0 0;
  }
  aside .f_d .f_last li {
    padding: 0 0 0 4%;
    margin: 0.8% 0 0;
    line-height: 1.4;
    font-size: calc(42vw/12);
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(36vw/12);
  }

  .t_top {
    margin: 6% 0 4%;
  }
  .t_top a {
    display: inline-block;
    font-size: calc(51vw/12);
    letter-spacing: 0.4px;
  }

  footer {
    padding: 2% 0 4%;
  }
  footer .wrap {
    padding: 5% 0 6%;
    margin: 0 4.5%;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(26vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(26vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    line-height: 0.5;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(27vw/12);
    letter-spacing: 0.8px;
  }
}
