
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #efefee;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}



.header {
	background: #000;
	.header_nav {

	}
	.header_item {
		overflow: hidden;
		padding: 2.5px 0 2.5px 12px;
		li {
			float: left;
			padding: 4px 0 0;
			margin: 0 0 0 8px;

			a {
				display: block;
				padding: 10px 7px;
				border-radius: 4px;
				font-size: 19px;
				font-weight: bold;
				color: #fff;
				&:hover {
					background: #212121;
					opacity:1;
				}
			}
			&:first-child {
				padding: 0;
				margin: 0;
				a {
					&:hover {
						background: none;
						opacity: .8;
					}
				}
			}
			img {
				max-width: 117px;
			}
		}
	}
}


.contents {
	padding: 46px 0 0;
	.wrap {
		max-width: 992px;
		margin: 0 auto;
	}
	.c_h {
		font-weight: bold;
		font-size: 39px;
	}
	.c_item {
		overflow: hidden;
		margin: 18px 0 0;
		li {
			float: left;
			background: #50c401;
			padding: 9px 17px;
			margin: 0 0 0 10px;
			border-radius: 25px;
			font-size: 15px;
			color: #fff;


			&:first-child {
				margin: 0 ;
			}
		}
	}

	.cp {
		overflow: hidden;
		padding: 0;
		margin: 46px 0 0;
		.day {
			display: block;
			float: left;
			width: 4%;
			max-width: 36px;
			background: #50c401;
			padding: 20px 0 7.6%;
			border-right: 4px solid #efefee;
			text-align: center;
			font-size: 20px;
			vertical-align: top;
			color: #fff;
		}

		.cp_wrap {
			display: block;
			float: left;
			width: 95%;
		}
		.c_tr {
			overflow: hidden;
			.t_d {
				float: left;
				background: #fff;
				width: 24.5%;
				vertical-align: top;
				border-top: 4px solid #efefee;
				border-left: 4px solid #efefee;


				a {
					display: block;
					padding: 18px 18px 22px;
					color: #000;
					figure {
						text-align: center;
					}
					img {
						max-width: 200px;
					}
				}
				.date {
					margin: 10px 0 0;
					font-weight: bold;
					font-size: 18px;
					letter-spacing: 1.2px;
					color: #919191;
				}
				.text {
					margin: 7px 0 0;
					font-weight: bold;
					font-size: 19px;
					line-height: 1.25;
				}
			}
			&:nth-of-type(1) {
				.t_d {
					&:nth-child(1) {
						border-top: 0px solid #efefee;
						border-left: 0px solid #efefee;
					}
					&:nth-child(2) {
						border-top: 0px solid #efefee;
					}
					&:nth-child(3) {
						border-top: 0px solid #efefee;
					}
					&:nth-child(4) {
						border-top: 0px solid #efefee;
					}
					&:nth-child(5) {
						border-left: 0px solid #efefee;
					}
					&:nth-child(9) {
						border-left: 0px solid #efefee;
					}
				}
			}
		}
	}
}
.contents_sec {
	padding: 0;
	.cp {
		margin: 20px auto 0;
	}
}


.banner {
	background: url(https://bit.ly/2pOMHpm) 0 0 no-repeat;
	padding: 20px;
	margin: 30px 0 0;

	.b_wrap {
		overflow: hidden;

		.b_item {
			overflow: hidden;
			float: left;
			width: 55%;
			li {
				float: left;
				width: 31%;
				margin: 0 0 0 2%;

				&:first-child {
					margin: 0;
				}
			}
		}
		.b_text {
			float: right;
			width: 44%;
			padding: 5px 0 0;
			font-size: 25px;
			font-weight: bold;
			line-height: 1.4;
			color: #fff;
			span {
				font-size: 20px;
				color: #50c401;
			}
		}

	}
}


@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}

@media screen and (max-width: 414px) {

}


@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }
.ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
.ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4s 1 forwards; }
.ani_list04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.5s 1 forwards; }



