
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #efefef;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; }



header {
	background: url(https://bit.ly/2BxBcYU) 0 0 no-repeat;
	background-size: cover;
	.header_logo {
		max-width: 191px;
		padding: 1% 0 0 4%;
		line-height: 0;
	}
	.header_heading {
		max-width: 685px;
		margin: 2% auto 0;
		width: 92%;
	}
	.header_title {
		width: 91%;
		max-width: 685px;
		margin: 1% auto 0;
	}
}
.header_item {
	overflow: hidden;
	width: 92%;
	margin: 3.5% auto 0;
	max-width: 840px;
	margin: 3% auto 0;
	padding: 0 0 6%;
	li {
		float: left;
		width: 24%;
		margin: 0 0 0 1%;
		line-height: 0;
		opacity: 0;
		&:first-child {
			margin: 0;
		}
		a {
			display: block;
		}
	}
}

@media screen and (max-width: 1024px) {
	header {
		.header_logo {
			padding: 1% 0 0 4%;
			line-height: 0;
			img {
				width: 80%;
			}
		}
		.header_heading {
			margin: 2% auto 0;
			width: 100%;
			text-align: center;
			img {
				width: 90%;
			}
		}
		.header_title {
			width: 100%;
			margin: 1% auto 0;
			text-align: center;
			img {
				width: 90%;
			}
		}
	}
	.header_item {
		overflow: hidden;
		width: 92%;
		margin: 3.5% auto 0;
		max-width: 840px;
		margin: 3% auto 0;
		padding: 0 0 6%;
		li {
			float: left;
			width: 24%;
			margin: 0 0 0 1%;
			line-height: 0;
			opacity: 0;
			&:first-child {
				margin: 0;
			}
		}
	}
}


@media screen and (max-width: 768px) {
	header {
		background: url(https://bit.ly/2U3Vpy9) 0 0 no-repeat;
		.header_logo {
			padding: 2% 0 0 4%;
			line-height: 0;
			img {
				width: 75%;
			}
		}
		.header_heading {
			margin: 2.5% auto 0;
			width: 92%;
			img {
				width: 100%;
			}
		}
		.header_title {
			margin: 1% auto 0;
			width: 92%;
			img {
				width: 100%;
			}
		}
	}
	.header_item {
		overflow: hidden;
		width: 92%;
		margin: 3.5% auto 0;
		max-width: 840px;
		margin: 3% auto 0;
		padding: 0 0 7%;
		li {
			float: left;
			width: 24%;
			margin: 0 0 0 1.3%;
			line-height: 0;
		}
	}
}
@media screen and (max-width: 480px) {
	header {
		.header_logo {
			padding: 3% 0 0 4%;
			line-height: 0;
			img {
				width: 45%;
			}
		}
		.header_heading {
			width: 100%;
			margin: 2.5% auto 0;
			img {
				width: 92%;
			}
		}
		.header_title {
			width: 100%;
			margin: 1% auto 0;
			img {
				width: 92%;
			}
		}
	}
	.header_item {
		overflow: hidden;
		width: 92%;
		margin: 3.5% auto 0;
		max-width: 840px;
		margin: 3% auto 0;
		padding: 0 0 7%;
		li {
			float: left;
			width: 23.8%;
			margin: 0 0 0 1.6%;
		}
	}
}

@media screen and (max-width: 414px) {
	header {
		.header_logo {
			img {
				width: 40%;
			}
		}
	}
}


@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }
.ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
.ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4s 1 forwards; }
.ani_list04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.5s 1 forwards; }



@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}

