
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}



header {
	.header_logo {
		max-width: 191px;
		padding: 1% 0 1% 1.5%;
		line-height: 0;
	}
	.header_wrap {
		background: url(https://bit.ly/2qeOXXo) 0 0 no-repeat;
		background-size: cover;
		padding: 54px 0 54px;
	}
	.header_sub {
		font-size: 33px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 6.5px;
		line-height: 1.1;
		span {
				font-size: 38px;
			}
	}
	.num_push {
		background: #fff;
		max-width: 382px;
		padding: 5px 0 8px;
		margin: 15px auto 0;
		border-radius: 39px;
		font-size: 42px;
		font-weight: bold;
		letter-spacing: 6.5px;
		text-align: center;
		color: #000;
		span {
			letter-spacing: 1.5px;
			font-size: 62px;
		}

	}
	.header_heading {
		max-width: 620px;
		margin: 56px auto 0;
	}
	.header_date {
		width: 100%;
		max-width: 637px;
		padding: 14px 0;
		margin: 44px auto 0;
		border: 2px solid #fff;
		border-radius: 40px;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 1.3px;
		text-align: center;
	}
}


@media screen and (max-width: 768px) {

	header {
		.header_logo {
			padding: 1% 0 1% 1.5%;
			img {
				width: 75%;
			}
		}
		.header_wrap {
			padding: 7% 0 7%;
		}
		.header_sub {
			font-size: calc(54vw/12);
			letter-spacing: 5.5px;
			line-height: 1.1;
			span {
				font-size: calc(64vw/12);
			}
		}
		.num_push {
			width: 51%;
			padding: 0.7% 0 1.1%;
			margin: 1.8% auto 0;
			border-radius: 39px;
			font-size: calc(64vw/12);;
			font-weight: bold;
			letter-spacing: 6.5px;
			text-align: center;
			color: #000;
			span {
				letter-spacing: 1.5px;
				font-size: (100vw/12);
			}

		}
		.header_heading {
			width: 83%;
			margin: 6% auto 0;
		}
		.header_date {
			width: 83%;
			padding: 2% 0;
			margin: 6% auto 0;
			border: 2px solid #fff;
			border-radius: 40px;
			font-size: calc(49vw/12);
			letter-spacing: 1.2px;
		}
	}
}
@media screen and (max-width: 480px) {
	header {
		.header_logo {
			padding: 1.5% 0 1.5% 1.5%;
			img {
				width: 52%;
			}
		}
		.header_wrap {
			padding: 6.5% 0 7%;
		}
		.header_sub {
			font-size: calc(57vw/12);
			letter-spacing: 3.5px;
			line-height: 1.1;
			span {
				font-size: calc(67vw/12);
			}
		}
		.num_push {
			width: 51%;
			padding: 0.7% 0 1.1%;
			margin: 1.8% auto 0;
			border-radius: 39px;
			font-size: calc(64vw/12);
			font-weight: bold;
			letter-spacing: 1.5px;
			text-align: center;
			color: #000;
			span {
				letter-spacing: 0.5px;
				font-size: calc(103vw/12);
			}

		}
		.header_heading {
			width: 85%;
			margin: 6% auto 0;
		}
		.header_date {
			width: 85%;
			padding: 2% 0;
			margin: 6% auto 0;
			border: 1px solid #fff;
			border-radius: 40px;
			font-size: calc(50vw/12);
			letter-spacing: 0.8px;
		}
	}
}

@media screen and (max-width: 414px) {
	header {
		.header_logo {
			img {
				width: 45%;
			}
		}
	}
}













// @-webkit-keyframes item_sp { 100% { opacity: 1; } }
// @keyframes item_list { 100% { opacity: 1; } }

// .ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 1.5s 1 forwards; }
// .ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 2s 1 forwards; }
// .ani_list01 , .ani_list02 {
// 	opacity: 0;
// }



.content_wrap {
	background: #000;
	padding: 0 0 0;
	.wrap {
		max-width: 768px;
		padding: 62px 0 0;
		margin: 0 auto;
	}
	.camp_heading {
		padding: 0 0 0 20px;
		margin: 40px 0 0;
		border-left: 6px solid #50c401;
		font-size: 36px;
		letter-spacing: 1.2px;
		line-height: 1.3;
		font-weight: bold;
		&:nth-of-type(1) {
			margin: 0;
		}
	}
	.camp_text {
		margin: 33px 0 0 ;
		font-size: 28px;
		line-height: 1.45;
		color: #989898;
	}
	.camp_caution {
		margin: 20px 0 0;
		line-height: 1.3;
		font-size: 22px;
		letter-spacing: 1.2px;
		color: #989898;
	}
	.camp_text_f {
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 1.3px;
		color: #fff;
	}
	.camp_next {
		margin: 51px 0 0;
	}

	.camp_entry {
		margin: 50px 0 0;
		a {
			display: block;
			background: #50c401;
			max-width: 706px;
			padding: 25px 0;
			margin: 0 auto;
			border-radius: 6px;
			text-align: center;
			font-size: 32px;
			font-weight: bold;
			color: #fff;
		}
	}

	.gift_box {
		background: #252525;
		padding: 40px 30px;
		margin: 32px 0 0;
		border-radius: 6px;
		color: #fff;

		.g_h {
			font-size: 28px;
			font-weight: bold;
		}
		.g_item {
			overflow: hidden;
			margin: 25px 0 0;
			li {
				position: relative;
				float: left;
				padding: 0 48px 0 0;
				font-size: 26px;
				&:after {
					content: '＞';
					position: absolute;
					top: 0;
					right: 5px;
				}
				&:last-child:after {
					content: '';
				}
			}

		}
		.gift_inner {
			padding: 190px 0;
		}
	}

	.content_item {
		overflow: hidden;
		margin: 38px 0 0;
		li {
			float: left;
			width: 32%;
			margin: 0 0 0 2%;
			&:first-child {
				margin: 0
			}
			&:nth-child(4) {
				margin: 2% 0 0 0;
			}
			&:nth-child(5) {
				margin: 2% 0 0 2%;
			}
			&:nth-child(6) {
				margin: 2% 0 0 2%;
			}

			img {
				border-radius: 6px;
			}
		}
	}
	.function {
		display: flex;
		flex-flow: row wrap;
		margin: 35px 0 0;
		li {
			display: flex;
			flex-flow: row wrap;
			background: #252525;
			width: 49%;
			padding: 50px 20px 20px;
			margin: 0 0 0 2%;
			border-radius: 6px;
			text-align: center;
			box-sizing: border-box;
			&:first-child {
				margin: 0;
			}

			figure {
				width: 50%;
				margin: 0 auto;
				img {
					max-width: 80px;
				}
			}
			.round {
				margin: 0 auto 1%;
				img {
					max-width: 88px;
				}
			}

			.fuction_heading {
				margin: 30px auto 0;
				font-weight: bold;
				font-size: 28px;

			}
			.function_text {
				margin: 10px 0 0;
				font-size: 26px;
				line-height: 1.4;
			}
		}
	}
}

.content_w_sec {
	margin: 23px 0 0;
}
.content_entry {
	background: url(https://bit.ly/2DdSDBd) 0 0  no-repeat;
	background-size: cover;
	padding: 85px 0 75px;
	margin: 60px 0 0;
	.content_e_wrap {
		max-width: 768px;
		margin: 0 auto;
	}
	.content_e_heading {
		padding: 0 0 0 27px;
		margin: 0 auto;
		font-size: 35px;
		border-left: 6px solid #50c401;
		line-height: 1.35;
		letter-spacing: 2.5px;
		color: #fff;
	}
	.content_e_btn {
		margin: 50px 0 0;
		a {
			display: block;
			background: #50c401;
			max-width: 706px;
			padding: 25px 0;
			margin: 0 auto;
			border-radius: 6px;
			text-align: center;
			font-size: 32px;
			font-weight: bold;
			color: #fff;
		}
	}
}


.caution {
	.wrap {
		max-width: 768px;
		padding: 51px 0 70px;
		margin: 0 auto;
	}
	dl {
		padding: 0 0 41px;
		border-bottom: 2px solid #919191;

	}
	.caution_heading {
		font-size: 16px;
		font-weight: bold;
	}
	.caution_mar {
		margin: 23px 0 0;
	}
	.caution_list {
		margin: 10px 0 0;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 1.3px;
		color: #919191;
		&:first-child {
			margin: 0;
		}
	}
	.tarm {
		overflow: hidden;
		padding: 40px 0 0;
		li {
			float: left;
			line-height: 1.4;
			a {
				position: relative;
				display: block;
				padding: 0 21px 0 3px;
				font-size: 16px;
				color: #919191;

				&:before {
					content: '|';
					position: absolute;
					top: -2px;
					right: 7px;
					color: #919191;
				}

			}
			.ls {
				&:before {
					content: ' ';
				}
			}
		}
	}
	small {
		display: block;
		padding: 28px 0 0;
		font-size: 16px;
		color: #919191;
	}
}


@media screen and (max-width: 768px) {
	.content_wrap {
		padding: 0 0 0;
		.wrap {
			padding: 7% 5% 0;
		}
		.camp_heading {
			padding: 0 0 0 3%;
			margin: 10% 0 0;
			border-left: 5px solid #50c401;
			font-size: calc(54vw/12);
			line-height: 1.4;
		}
		.camp_text {
			margin: 6% 0 0 ;
			font-size: calc(44vw/12);
			line-height: 1.4;
			color: #989898;
		}
		.camp_caution {
			margin: 3% 0 0;
			font-size: calc(34vw/12);
			line-height: 1.2;
			letter-spacing: 1.2px;
		}
		.camp_text_f {
			font-size: calc(45vw/12);
			font-weight: bold;
			letter-spacing: 1.3px;
			color: #fff;
		}
		.camp_next {
			margin: 7% 0 0;
		}

		.camp_entry {
			margin: 8% 0 0;
			a {
				width: 91%;
				padding: 3.7% 0;
				border-radius: 8px;
				font-size: calc(52vw/12);
			}
		}



		.content_item {
			margin: 5.5% 0 0;
			li {
				img {
					border-radius: 7px;
				}
			}
		}

		.function {
			margin: 5% 0 0;
			li {
				padding: 7.5% 2% 4%;
				margin: 0 0 0 2%;
				border-radius: 8px;

				figure {
					width: 50%;
					margin: 0 auto;
					img {
						max-width: 80px;
					}
				}
				.round {
					margin: 0 auto 2.5%;
					img {
						max-width: 88px;
					}
				}

				.fuction_heading {
					margin: 11% auto 0;
					font-size: calc(41vw/12);

				}
				.function_text {
					margin: 3% auto 0;
					font-size: calc(40vw/12);
					line-height: 1.4;
				}
			}
		}
	}
	.content_w_sec {
		margin: 5% 0 0;
	}

	.content_entry {
		padding: 12% 0 10%;
		margin: 10% 0 0;
		.content_e_wrap {
			max-width: 768px;
			margin: 0 auto;
		}
		.content_e_heading {
			width: 92%;
			margin: 0 0 0 4.5%;
			padding: 0 0 0 3%;
			font-size: calc(49vw/12);
			line-height: 1.35;
			letter-spacing: 1.5px;
		}
		.content_e_btn {
			margin: 7% 0 0;
			a {
				padding: 3.2% 0;
				width: 81%;
				border-radius: 8px;
				font-size: calc(51vw/12);
			}
		}
	}



	.caution {
		.wrap {
			padding: 7% 5% 5%;
		}
		dl {
			padding: 0 0 6%;
			border-bottom: 1.5px solid #919191;

		}
		.caution_heading {
			font-size: calc(25vw/12);
		}
		.caution_mar {
			margin: 23px 0 0;
		}
		.caution_list {
			margin: 1.5% 0 0;
			font-size: calc(25vw/12);
			line-height: 1.4;
			letter-spacing: 1.2px;
		}
		.tarm {
			padding: 5% 0 0;
			li {
				float: left;
				line-height: 1.4;
				a {
					padding: 0 19px 0 3px;
					font-size: calc(26vw/12);

					&:before {
						content: '|';
						position: absolute;
						top: -2px;
						right: 7px;
						color: #919191;
					}

				}

				&:nth-child(3) {
					a {
						&:before {
							content: ' ';
						}
					}
				}
				.ls {
					&:before {
						content: ' ';
					}
				}
			}
		}
		small {
			padding: 0;
			margin: 6% 0 0;
			font-size: calc(26vw/12);
		}
	}
}


@media screen and (max-width: 480px) {
	.content_wrap {
		padding: 0 0 0;
		.wrap {
			padding: 7% 5% 0;
		}
		.camp_heading {
			padding: 0 0 0 3%;
			margin: 10% 0 0;
			border-left: 3px solid #50c401;
			font-size: calc(57vw/12);
			line-height: 1.4;
		}
		.camp_text {
			margin: 6% 0 0 ;
			font-size: calc(47vw/12);
			line-height: 1.4;
			color: #989898;
		}
		.camp_caution {
			margin: 3% 0 0;
			font-size: calc(37vw/12);
			line-height: 1.2;
			letter-spacing: 1px;
		}
		.camp_text_f {
			font-size: calc(48vw/12);
			font-weight: bold;
			letter-spacing: 1.3px;
			color: #fff;
		}
		.camp_next {
			margin: 7% 0 0;
		}

		.camp_entry {
			margin: 8% 0 0;
			a {
				width: 91%;
				padding: 3.7% 0;
				border-radius: 4px;
				font-size: calc(55vw/12);
			}
		}

		.content_item {
			margin: 5.5% 0 0;
			li {
				img {
					border-radius: 7px;
				}
			}
		}
		.function {
			margin: 5% 0 0;
			li {
				padding: 7.5% 3% 4%;
				margin: 0 0 0 2%;
				border-radius: 8px;

				figure {
					width: 50%;
					margin: 0 auto;
					img {
						max-width: 80px;
						width: 63%;
					}
				}
				.round {
					margin: 3% auto 0;
					img {
						margin: 2% 0 0;
						width: 71%;
					}
				}

				.fuction_heading {
					margin: 11% auto 0;
					font-size: calc(41vw/12);

				}
				.function_text {
					margin: 3% auto 0;
					font-size: calc(40vw/12);
					line-height: 1.4;
				}
			}
		}
	}
	.content_w_sec {
		margin: 5% 0 0;
	}

	.content_entry {
		padding: 11% 0 10%;
		margin: 10% 0 0;
		.content_e_wrap {
			max-width: 768px;
			margin: 0 auto;
		}

		.content_e_heading {
			width: 92%;
			margin: 0 0 0 4.5%;
			padding: 0 0 0 3%;
			border-left: 3px solid #50c401;
			font-size: calc(51vw/12);
			line-height: 1.4;
			letter-spacing: 0.9px;
		}
		.content_e_btn {
			margin: 7% 0 0;
			a {
				padding: 3.2% 0;
				width: 84%;
				border-radius: 5px;
				font-size: calc(54vw/12);
			}
		}
	}



	.caution {
		.wrap {
			padding: 7% 4.5% 6%;
		}
		dl {
			padding: 0 0 6%;
			border-bottom: 1px solid #919191;

		}
		.caution_heading {
			font-size: calc(28vw/12);
		}
		.caution_mar {
			margin: 23px 0 0;
		}
		.caution_list {
			margin: 1.5% 0 0;
			font-size: calc(28vw/12);
			line-height: 1.4;
			letter-spacing: 1.2px;
		}
		.tarm {
			padding: 5% 0 0;
			li {
				float: left;
				line-height: 1.4;
				a {
					padding: 0 19px 0 3px;
					font-size: calc(29vw/12);

					&:before {
						content: '|';
						position: absolute;
						top: -2px;
						right: 7px;
						color: #919191;
					}

				}

				&:nth-child(3) {
					a {
						&:before {
							content: ' ';
						}
					}
				}
				.ls {
					&:before {
						content: ' ';
					}
				}
			}
		}
		small {
			padding: 0;
			margin: 6% 0 0;
			font-size: calc(26vw/12);
		}
	}
}
