
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}

header {
	.header_logo {
		max-width: 191px;
		padding: 1% 0 1% 1.5%;
		line-height: 0;
	}
	.header_wrap {
		max-width: 1128px;
		background: url(https://goo.gl/xCTU6w) center 0 no-repeat;
		background-size: cover;
		padding: 76px 0 86px;
		margin: 0 auto;
	}
	.header_sub {
		text-align: center;
		letter-spacing: 2px;
		font-size: 36px;
		font-weight: normal;
		line-height: 1.1;
		.gen {
			font-size: 50px;
			color: #e6c300;
		}
		.num {
			font-size: 57px;
		}

	}
	.header_heading {
		max-width: 571px;
		margin: 22px auto 0;
	}
}


@media screen and (max-width: 768px) {
	header {
		.header_logo {
			padding: 1% 0 1% 1.5%;
			img {
				width: 75%;
			}
		}
		.header_wrap {
			background: url(https://goo.gl/P6LYkC) 0 center no-repeat;
			background-size: cover;
			padding: 10.5% 0 10.5%;
		}
		.header_sub {
			letter-spacing: .5px;
			font-size: calc(61vw/12);
			line-height: 1.1;
			.gen {
				font-size: calc(80vw/12);
				color: #e6c300;
			}
			.num {
				font-size: calc(92vw/12);
			}

		}
		.header_heading {
			width: 82%;
			margin: 0 auto;
			max-width: 637px;
			margin: 2.5% auto 0;
			img {
				width: 100%;
			}
		}
	}
}
@media screen and (max-width: 480px) {


	header {
		.header_logo {
			padding: 1.2% 0 1.2% 1.5%;
			img {
				width: 55%;
			}
		}
		.header_wrap {
			padding: 11.5% 0 11%;
		}
		.header_sub {
			letter-spacing: .5px;
			font-size: calc(57vw/12);
			line-height: 1.1;
			.gen {
				font-size: calc(80vw/12);
				color: #e6c300;
			}
			.num {
				font-size: calc(92vw/12);
			}

		}
		.header_heading {
			width: 76%;
			margin: 0 auto;
			max-width: 637px;
			margin: 2.5% auto 0;
			img {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 414px) {
	header {
		.header_logo {
			img {
				width: 50%;
			}
		}
	}
}


// @-webkit-keyframes item_sp { 100% { opacity: 1; } }
// @keyframes item_list { 100% { opacity: 1; } }

// .ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 1.5s 1 forwards; }
// .ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 2s 1 forwards; }
// .ani_list01 , .ani_list02 {
// 	opacity: 0;
// }



.content_wrap {
	background: #000;
	padding: 0 0 0;
	.wrap {
		max-width: 680px;
		padding: 70px 0 0;
		margin: 0 auto;
	}
	.wrap_sec {
		padding: 40px 0 0;
	}
	.wrap_inner {
		video {
			width: 100%;
			border-radius: 6px 6px 0 0;
		}

	}
	.movie_text {
		background: #232323;
		padding: 27px 0;
		margin: -2px 0 0;
		border-radius: 0 0 6px 6px;
		font-size: 26px;
		text-align: center;
		color: #fff;
	}
	.camp_heading {
		padding: 0 0 0 20px;
		border-left: 8px solid #50c401;
		font-size: 38px;
		font-weight: normal;
	}
	.camp_para {
		margin: 80px 0 0;
	}
	.wrap_item {
		li {
			position: relative;
			padding: 0 0 0 52px;
			&:before {
				content: '';
				position: absolute;
				top: -2px;
				left: 0;
				background: #50c401;
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
			&:after {
				content: '1';
				position: absolute;
				top: 3px;
				left: 12px;
				font-size: 28px;
				color: #fff;
			}
			&:nth-child(2):before {
				content: '';
				position: absolute;
				top: -2px;
				left: 0;
				background: #50c401;
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
			&:nth-child(2):after {
				content: '2';
				position: absolute;
				top: 3px;
				left: 12px;
				font-size: 28px;
				color: #fff;
			}
			&:nth-child(3):before {
				content: '';
				position: absolute;
				top: -2px;
				left: 0;
				background: #50c401;
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
			&:nth-child(3):after {
				content: '3';
				position: absolute;
				top: 3px;
				left: 12px;
				font-size: 28px;
				color: #fff;
			}
		}

		.camp_num {
			font-size: 32px;
			padding: 0 0 0 0;
			margin: 64px 0 0;
		}
		.camp_box {
			margin: 20px 0 0;
			.camp_b_t {
				font-size: 28px;
				line-height: 1.4;
				color: #979797;
			}
			figure {
				margin: 36px 0 0;
			}
		}
	}
	.camp_text {
		margin: 28px 0 0 ;
		font-size: 28px;
		line-height: 1.4;
		color: #989898;
	}
	.camp_inner {
		padding: 60px 0 40px;
		.camp_img {
			display: flex;
			flex-flow: row wrap;

			li {
				justify-content: flex-end;
				box-sizing: border-box;
				width: 32%;
				margin: 1.5% 0 0 1.5%;
				img {
					border-radius: 7px;
				}
				&:nth-child(4) {
					margin: 1.5% 0 0 0;
				}

				&:nth-child(3) {
					margin: 0 0 0 1.5%;
				}
				&:nth-child(2) {
					margin: 0 0 0 1.5%;
				}
				&:nth-child(1) {
					margin: 0;
				}
			}
		}
		.camp_caution {
			margin: 30px 0 0;
			font-size: 20px;
			color: #6a6a6a;
		}
	}

	.camp_entry {
		margin: 40px 0 0;
		a {
			display: block;
			background: #50c401;
			max-width: 528px;
			padding: 25px 0;
			margin: 0 auto;
			border-radius: 6px;
			text-align: center;
			font-size: 32px;
			font-weight: bold;
			color: #fff;
		}
	}
	.camp_box_i {
		background: #232323;
		padding: 56px 50px 34px;
		margin: 55px 0 0;
		border-radius: 6px;
		text-align: center;

		.camp_box_h {
			margin: -8px 0 0;
			font-size: 30px;
		}
		.camp_box_t {
			margin: 23px 0 0;
			line-height: 1.4;
			font-size: 26px;
		}
	}
	.more {
		margin: 35px 0 0;
		font-size: 28px;
		line-height: 1.4;
		color: #979797;
	}
	.camp_e_btn {
		margin: 60px 0 0;
		a {
			display: block;
			background: #50c401;
			padding: 33px 0;
			border-radius: 8px;
			font-size: 32px;
			font-weight: bold;
			text-align: center;
			color: #fff;
		}
	}
}
.movie {
	padding:0 0 5%;
	.movie_wrap_block {
		max-width: 680px;
		margin: 0 auto;
		.movie_inner {
			position: relative;
			width: 100%;
			padding-top: 56.25%;
			margin: 60px auto 0;
		}
		.movie_inner_frame, iframe {
			position: absolute;
			z-index: 5;
			left: 0;
			top: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
}


footer {
	margin: 70px 0 0;
	height: 80px;
	line-height: 80px;
	text-align: center;
	small {
		font-size: 20px;
		letter-spacing: 1.5px;

	}
}


@media screen and (max-width: 768px) {
	.content_wrap {
		padding: 0 0 0;
		.wrap {
			padding: 8% 5% 0;
		}
		.wrap_sec {
			padding: 3% 5% 0;
		}
		.wrap_inner {
			video {
				border-radius: 6px 6px 0 0;
			}
		}
		.movie_text {
			padding: 4% 0;;
			margin: -2px 0 0;
			border-radius: 0 0 6px 6px;
			font-size: calc(47vw/13);
		}
		.camp_heading {
			padding: 0 0 0 3%;
			border-left: 6px solid #50c401;
			font-size: calc(64vw/13);
		}
		.camp_para {
			margin: 12% 0 0;
		}
		.wrap_item {
			li {
				padding: 0 0 0 43px;
				&:before {
					top: 2px;
					left: 0;
					width: 30px;
					height: 30px;
					border-radius: 50%;
				}
				&:after {
					content: '1';
					top: 4px;
					left: 9px;
					font-size: 23px;
				}
				&:nth-child(2):before {
					top: 2px;
					left: 0;
					width: 30px;
					height: 30px;
					border-radius: 50%;
				}
				&:nth-child(2):after {
					content: '2';
					top: 4px;
					left: 9px;
					font-size: 23px;
				}
				&:nth-child(3):before {
					top: 2px;
					left: 0;
					width: 30px;
					height: 30px;
					border-radius: 50%;
				}
				&:nth-child(3):after {
					content: '3';
					top: 4px;
					left: 9px;
					font-size: 23px;
				}
			}

			.camp_num {
				margin: 10% 0 0;
				font-size: calc(56vw/13);
			}
			.camp_box {
				margin: 3% 0 0;
				.camp_b_t {
					font-size: calc(50vw/13);
					line-height: 1.4;
				}
				figure {
					margin: 6% 0 0;
				}
			}
		}
		.camp_text {
			margin: 4.5% 0 0;
			font-size: calc(49vw/13);
			line-height: 1.4;
		}
		.camp_inner {
			padding: 9.5% 0 6%;
			.camp_img {
				display: flex;
				flex-flow: row wrap;

				li {
					justify-content: flex-end;
					box-sizing: border-box;
					width: 32%;
					margin: 1.5% 0 0 1.5%;
					img {
						border-radius: 7px;
					}
					&:nth-child(4) {
						margin: 1.5% 0 0 0;
					}

					&:nth-child(3) {
						margin: 0 0 0 1.5%;
					}
					&:nth-child(2) {
						margin: 0 0 0 1.5%;
					}
					&:nth-child(1) {
						margin: 0;
					}
				}
			}
			.camp_caution {
				margin: 5% 0 0;
				font-size: calc(37vw/13);
			}
		}

		.camp_entry {
			margin: 40px 0 0;
			a {
				display: block;
				background: #50c401;
				max-width: 528px;
				padding: 25px 0;
				margin: 0 auto;
				border-radius: 6px;
				text-align: center;
				font-size: 32px;
				font-weight: bold;
				color: #fff;
			}
		}
		.camp_box_i {
			padding: 8.2% 7.5% 5%;
			margin: 8.5% 0 0;
			border-radius: 6px;

			.camp_box_h {
				margin: -2% 0 0;
				font-size: calc(52vw/13);
			}
			.camp_box_t {
				margin: 4% 0 0;;
				line-height: 1.4;
				font-size: calc(42vw/13);
			}
		}
		.more {
			margin: 5% 0 0;
			font-size: calc(49vw/13);
			line-height: 1.4;
		}
		.camp_e_btn {
			margin: 9% 0 0;
			a {
				padding: 5% 0;
				font-size: calc(56vw/13);
				border-radius: 6px;
			}
		}
	}
	.movie {
		padding:0 0 5%;
		.movie_wrap_block {
			margin: 0 5%;
			.movie_inner {
				margin: 8% auto 0;
			}
		}
	}

	footer {
		margin: 9% 0 0;
		height: 70px;
		line-height: 70px;
		small {
			font-size: calc(38vw/13);
		}
	}
}

@media screen and (max-width: 560px) {
	.content_wrap {
		.wrap_item {
			li {
				padding: 0 0 0 33px;
				&:before {
					top: 0px;
					left: 0;
					width: 25px;
					height: 25px;
					border-radius: 50%;
				}
				&:after {
					top: 1px;
					left: 6px;
					font-size: 21px;
				}
				&:nth-child(2):before {
					top: 0px;
					left: 0;
					width: 25px;
					height: 25px;
					border-radius: 50%;
				}
				&:nth-child(2):after {
					top: 1px;
					left: 7px;
					font-size: 21px;
				}
				&:nth-child(3):before {
					top: 0px;
					left: 0;
					width: 25px;
					height: 25px;
					border-radius: 50%;
				}
				&:nth-child(3):after {
					top: 1px;
					left: 7px;
					font-size: 21px;
				}
			}
		}
	}
}


@media screen and (max-width: 480px) {
	.content_wrap {
		padding: 0 0 0;
		.wrap {
			padding: 8% 5% 0;
		}
		.wrap_sec {
			padding: 3% 5% 0;
		}
		.wrap_inner {
			video {
				border-radius: 6px 6px 0 0;
			}
		}
		.movie_text {
			padding: 4% 0;;
			margin: -2px 0 0;
			border-radius: 0 0 6px 6px;
			font-size: calc(47vw/13);
		}
		.camp_heading {
			padding: 0 0 0 2.5%;
			border-left: 4px solid #50c401;
			font-size: calc(74vw/13);
		}
		.camp_para {
			margin: 12% 0 0;
		}
		.wrap_item {
			li {
				padding: 0 0 0 28px;
				&:before {
					top: -1px;
					left: -1px;
					width: 22px;
					height: 22px;
					border-radius: 50%;
				}
				&:after {
					top: 0px;
					left: 5px;
					font-size: 18px;
				}
				&:nth-child(2):before {
					top: -1px;
					left: 0;
					width: 22px;
					height: 22px;
					border-radius: 50%;
				}
				&:nth-child(2):after {
					top: 0px;
					left: 7px;
					font-size: 18px;
				}
			}

			.camp_num {
				margin: 10% 0 0;
				font-size: calc(60vw/13);
			}
			.camp_box {
				margin: 3% 0 0;
				.camp_b_t {
					font-size: calc(59vw/13);
					line-height: 1.4;
				}
				figure {
					margin: 6% 0 0;
				}
			}
		}
		.camp_text {
			margin: 4.5% 0 0;
			font-size: calc(56vw/13);
			line-height: 1.4;
		}
		.camp_inner {
			padding: 9.5% 0 6%;
			.camp_img {
				display: flex;
				flex-flow: row wrap;

				li {
					justify-content: flex-end;
					box-sizing: border-box;
					width: 32%;
					margin: 1.5% 0 0 1.5%;
					img {
						border-radius: 6px;
					}
					&:nth-child(4) {
						margin: 1.5% 0 0 0;
					}

					&:nth-child(3) {
						margin: 0 0 0 1.5%;
					}
					&:nth-child(2) {
						margin: 0 0 0 1.5%;
					}
					&:nth-child(1) {
						margin: 0;
					}
				}
			}
			.camp_caution {
				margin: 5% 0 0;
				font-size: calc(37vw/13);
			}
		}

		.camp_entry {
			margin: 40px 0 0;
			a {
				display: block;
				background: #50c401;
				max-width: 528px;
				padding: 24px 0;
				margin: 0 auto;
				border-radius: 6px;
				text-align: center;
				font-size: 32px;
				font-weight: bold;
				color: #fff;
			}
		}
		.camp_box_i {
			padding: 7.5% 7.5% 5%;
			margin: 5.8% 0 0;
			border-radius: 6px;
			img {
				width: 80%;
			}

			.camp_box_h {
				margin: 1% 0 0;
				font-size: calc(52vw/13);
			}
			.camp_box_t {
				margin: 4% 0 0;;
				line-height: 1.4;
				font-size: calc(44vw/13);
			}
		}
		.more {
			margin: 5% 0 0;
			font-size: calc(49vw/13);
			line-height: 1.4;
		}
		.camp_e_btn {
			margin: 8% 0 0;
			a {
				padding: 4% 0;
				font-size: calc(54vw/13);
				border-radius: 6px;
			}
		}
	}
	.movie {
		padding:0 0 2%;
			.movie_wrap_block {
			margin: 0 5%;
			.movie_inner {
				margin: 4% auto 0;
			}
		}
	}
	footer {
		margin: 6% 0 0;
		height: 60px;
		line-height: 60px;
		small {
			font-size: calc(38vw/13);
		}
	}
}

@media screen and (max-width: 414px) {
	.content_wrap {
		.wrap_item {
			li {
				padding: 0 0 0 28px;
				&:before {
					top: -1px;
					left: -1px;
					width: 22px;
					height: 22px;
					border-radius: 50%;
				}
				&:after {
					top: 0px;
					left: 5px;
					font-size: 18px;
				}
				&:nth-child(2):before {
					top: -1px;
					left: 0;
					width: 22px;
					height: 22px;
					border-radius: 50%;
				}
				&:nth-child(2):after {
					top: 0px;
					left: 7px;
					font-size: 18px;
				}

				&:nth-child(3):before {
					top: -1px;
					left: 0;
					width: 22px;
					height: 22px;
					border-radius: 50%;
				}
				&:nth-child(3):after {
					top: 0px;
					left: 7px;
					font-size: 18px;
				}
			}
		}
	}
}


@media screen and (max-width: 375px) {
	.content_wrap {
		.wrap_item {
			li {
				padding: 0 0 0 26px;
				&:before {
					top: -1px;
					left: -1px;
					width: 20px;
					height: 20px;
					border-radius: 50%;
				}
				&:after {
					top: 0px;
					left: 4px;
					font-size: 16px;
				}
				&:nth-child(2):before {
					top: -1px;
					left: 0;
					width: 20px;
					height: 20px;
					border-radius: 50%;
				}
				&:nth-child(2):after {
					top: 0px;
					left: 5px;
					font-size: 16px;
				}
			}
		}
	}
}


@media screen and (max-width: 320px) {

}
