
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}

.wrap {
	max-width: 768px;
	margin: 0 auto;
}

header {
	.header_logo {
		max-width: 191px;
		padding: 1% 0 1% 1.5%;
		line-height: 0;
	}
	.h_a {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/7a4357d9cc1ca92188cfba1b30391059_9ae5978028ff522e51a3c6926ac1b589.png) center center repeat;
		background-size: cover;
		padding: 116px 0 56px;
		.wrap {
			overflow: hidden;
			max-width: 768px;
			margin: 0 auto;
			.h_m {
				max-width: 569px;
				margin: 0 auto;
			}
			.h_p {
				float: left;
				max-width: 589px;
				width: 100%;
				margin: 15px 0 0 78px;
				padding: 13px 0;
				border: 3px solid #fff;
				border-radius: 8px;
				text-align: center;
				font-size: 25px;
				font-weight: bold;
				letter-spacing: 2.8px;
				span {
					font-size: 29px;
				}
			}
		}
	}
}

.info {
	background: #efefef;
	padding: 50px 0 40px;
	.i_t {
		font-weight: bold;
		font-size: 23px;
		text-align: center;
		color: #000;
	}
	.i_h {
		max-width: 555px;
		margin: 30px auto 0;
		line-height: 0;
	}
	.i_txt {
		max-width: 473px;
		margin: 30px auto 0;
		line-height: 0;
	}
	.i_btn {
		margin: 65px auto 0;

		a {
			display: block;
			background: #a1882f;
			padding: 25px 0;
			border-radius: 8px;
			font-size: 28px;
			text-align: center;
			font-weight: bold;
			color: #fff;

			span {
				display: inline-block;
				margin: 0 5px 0 2px;
				font-size: 32px;
			}
		}
	}
}

.contents {
	background: #fff;
	padding: 60px 0 60px;
	.c_h {
		border-left: 6px solid #9e853c;
		padding: 0 0 0 18px;
		line-height: 1.5;
		font-size: 32px;
		span {

			letter-spacing: 1.3px;
			font-size: 36px;

		}
	}
}

@media screen and (max-width: 768px) {
	header {
		.header_logo {
			max-width: 191px;
			padding: 1% 0 1% 1.5%;
			line-height: 0;
		}
		.h_a {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/ce0dce3f99c4ecd72e21c7c4eb947c0e_1e079074c40f533d07e11a20f27e2cbc.png) center center repeat;
			background-size: cover;
			padding: 116px 0 56px;
		}
	}
}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 414px) {

}













@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 1.5s 1 forwards; }
.ani_list01 {
	opacity: 0;
}


