
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #fff;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}

.wrap {
	max-width: 768px;
	margin: 0 auto;
}
.pop_w {
		display: block;
	}
.pop {
	display: inline-block;
	background: #ec2840;
	padding: 3px 14px;
	margin: 0 0 12px;
	border-radius: 4px;
	letter-spacing: 1.3px;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
}
.dn {
	display: none;
}
header {
	box-sizing: border-box;
	.header_logo {
		background: #000;
		padding: 13px 0 14px 22px;
		line-height: 0;
		span {
			display: block;
			max-width: 151px;
		}

	}
	.h_a {
		position: relative;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/57fd75380afebe30d3619e5828a9ed23_8d7c59055ed5acd4e859f939ef2f687a.png) center center repeat;
		background-size: cover;
		height: 240px;
		padding: 45px 0 0;
		box-sizing: border-box;
		.wrap {
			overflow: hidden;
			max-width: 768px;
			margin: 0 auto;
			.h_t {
				position: absolute;
				top: 12px;
				left: 15px;
				max-width: 67px;
			}
			.h_m {
				max-width: 421px;
				margin: 0 auto 0;
			}
		}
	}
}

.info {
	background: #efefef;
	padding: 50px 0 40px;
	.i_t {
		font-weight: bold;
		font-size: 23px;
		text-align: center;
		color: #000;
		span {
			display: inline-block;
			margin: 0 2px 0 0;
			font-size: 27px;
		}
	}
	.i_h {
		max-width: 623px;
		margin: 30px auto 0;
		line-height: 0;
	}
	.i_txt {
		max-width: 565px;
		margin: 30px auto 0;
		line-height: 0;
	}
	.i_btn {
		max-width: 681px;
		margin: 66px auto 0;

		a {
			display: block;
			background: #a1882f;
			padding: 25px 0;
			border-radius: 8px;
			font-size: 28px;
			text-align: center;
			font-weight: bold;
			color: #fff;

			span {
				display: inline-block;
				margin: 0 5px 0 2px;
				font-size: 32px;
			}
		}
	}
}

.contents {
	background: #fff;
	padding: 60px 0 0;
	.c_h {
		border-left: 6px solid #9e853c;
		padding: 0 0 0 18px;
		line-height: 1.4;
		font-size: 32px;
		span {
			letter-spacing: 1.3px;
			font-size: 36px;
		}
	}

	.c_h_m {
		margin: 20px 0 0;
	}

	.c_t {
		margin: 12px 0 0;
		font-size: 25px;
		line-height: 1.3;
		color: #6b6b6b;
	}

	.c_seven {
		display: flex;
		flex-flow: row wrap;
		padding: 0 0 60px;
		margin: 35px 0 0;
		li {
			justify-content: flex-end;
			box-sizing: border-box;
			background: #efefef;
			width: 48%;
			margin: 5% 0 0 4%;
			border-radius: 8px;
			&:nth-child(2n+1) {
				margin: 5% 0 0 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 4%;
			}
			&:nth-child(1) {
				margin: 0;
			}
			a {
				display: block;
				border-radius: 8px;
				figure {
					line-height: 0;
					img {
						border-radius: 8px 8px 0 0;
					}
				}
				.c_text {
					padding: 20px;
					font-size: 27px;
					line-height: 1.4;
					color: #666;
				}
			}
		}
	}
	.c_five {
		padding: 0 0 20px;
		.c_f_li {
			border-top: 1px solid #606060;

			&:first-child {
				border-top: none;
			}

			a {
				display: block;
				padding: 25px 0;
			}
			dl {
				display: flex;
				align-items: center;
			}
			dd {
				line-height: 0;
				width: 50%;
			}
			dt {
				width: 47%;
				padding: 0 0 0 3%;
				font-size: 26px;
				line-height: 1.4;
				text-align: left;
				font-weight: bold;
				color: #000;
			}
		}
	}
	.c_item {
		display: flex;
		flex-flow: row wrap;
		padding: 0 0 20px;
		margin: 35px 0 0;

		li {
			justify-content: flex-end;
			box-sizing: border-box;
			background: #efefef;
			width: 48%;
			margin: 5% 0 0 4%;
			border-radius: 8px;
			&:nth-child(2n+1) {
				margin: 5% 0 0 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 4%;
			}
			&:nth-child(1) {
				margin: 0;
			}
			a {
				display: block;
				border-radius: 8px;
				figure {
					line-height: 0;
					img {
						border-radius: 8px 8px 0 0;
					}
				}
				.c_text {
					padding: 20px;
					font-size: 27px;
					line-height: 1.4;
					color: #666;
				}
			}
		}
	}
}
.contents_sec {
	padding: 0;
}

.genre {
	background: #fff;
	padding: 45px 0 45px;
	.g_h {
		font-size: 32px;
	}
	.g_item {
		overflow: hidden;
		margin: 38px 0 0;
		li {
			float: left;
			width: 48.5%;
			margin: 0 0 0 3%;

			&:nth-child(2n+1) {
				margin: 3% 0 0 0;
			}
			&:nth-child(2n+2) {
				margin: 3% 0 0 3%;
			}
			&:nth-child(1) {
				margin: 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 3%;
			}
			a {
				display: block;
				padding: 25px 0;
				border: 2px solid #a1882f;
				border-radius: 6px;
				text-align: center;
				font-size: 28px;
				font-weight: bold;
				letter-spacing: 1.3px;
				color: #a1882f;
				&:hover {
					background: #a1882f;
					color: #fff;
				}
			}
		}
	}
}

.more {
	background: #fff;
	padding: 60px 0 60px;
	.m_h {
		border-left: 6px solid #9e853c;
		padding: 0 0 0 20px;
		line-height: 1.4;
		letter-spacing: 1.2px;
		font-size: 35px;
		.m_sp {
			display: block;
			font-size: 26px;
			.m_i_s {
				color: #9e853c;
			}
		}
	}
	.m_item {
		display: flex;
		flex-flow: row wrap;
		margin: 58px 0 0;
		li {
			justify-content: flex-end;
			box-sizing: border-box;
			background: #efefef;
			width: 48.5%;
			padding: 61px 26px 29px;
			margin: 0 0 0 3%;
			border-radius: 12px;

			&:first-child {
				margin: 0;
			}

			.m_inner {
				overflow: hidden;
				margin: 0 0 0 39px;
				li {
					float: left;
					width: 48.5%;
					padding: 0;
					box-sizing: unset;
				}
				.fs {
					max-width: 110px;
				}
				.se {
					margin: 10px 0 0 39px;
					max-width: 98px;
				}
			}
			.m_right {
				max-width: 79px;
				margin: 3px auto 0;
			}
			.m_text {
				padding: 0 15px;
				margin: 47px 0 0;
				text-align: center;
				font-size: 21px;
				font-weight: bold;
				line-height: 1.45;
				color: #666;
			}
		}
	}
}

aside {
	background: #efefef;
	padding: 17px 0 66px;
	.wrap {
		max-width: 768px;
		margin: 0 auto;
	}
	.f_d {
		dt {
			margin: 40px 0 0;
			font-size: 28px;
			letter-spacing: 1.4px;
			font-weight: 600;
			color: #666;
		}
		dd {
			margin: 25px 0 0;
			font-size: 24px;
			line-height: 1.45;
			letter-spacing: 1.4px;
			color: #666;
			.caution {
				display: block;
				margin: 12px 0 0;
				font-size: 20px;
			}
			.f_item {
				margin: 15px 0 0 35px;
				li {
					margin: 6px 0 0;
					line-height: 1.4;
					font-size: 20px;
				}
			}
			a {
				color: #a1882f;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.dd_last {
			line-height: 1.2;
		}
	}
	.f_c {
		margin: 15px 0 0;
		line-height: 1.3;
		font-size: 20px;
	}
}


footer {
	background: #efefef;
	padding: 35px 0 40px;
	border-top: 1px solid #606060;
	.copy {
		margin: 0 0 40px;
		li {
			margin: 5px 0 0 0;
			line-height: 1.3;
			font-size: 16px;
			color: #666666;
		}
	}
	.footer_item {
		overflow: hidden;
		margin: 10px 0 0;
		li {
			position: relative;
			float: left;
			margin: 0 10px 0 0;
			a {
				display: block;
				padding: 0 12px 0 0;
				font-size: 15px;
				color: #666666;
			}
			&:after {
				content: ' | ';
				position: absolute;
				top: 0;
				right: 0;
				color: #666666;
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	small {
		display: block;
		margin: 30px 0 0;
		font-size: 16px;
		letter-spacing: 1.3px;
		color: #666666;
	}
}

.line {
	background: #efefef;
	height: 35px;
}
.f_line {
	background: #fff;
	height: 63px;
}

@media screen and (max-width: 768px) {
	.wrap {
		padding: 0 5%;
	}
	.line {
		height: 28px;
	}
	.f_line {
		background: #fff;
		height: 45px;
	}
	.pop_w {
		display: block;
	}
	.pop {
		display: inline-block;
		padding: 1% 5%;
		margin: 0 0 2%;
		border-radius: 4px;
		letter-spacing: 1.3px;
		font-size: calc(25vw/12);
		white-space: nowrap;
		text-align: center;
		width: auto;
	}
	.dn {
		display: none;
	}

	header {
		.header_logo {
			padding: 1.6% 0 1.6% 2.5%;
			span {
				width: 21%;
			}
		}
		.h_a {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/a238b64bacba2cb0369c93137fdbbd77_b174e35c0e5395b4e92481f43b7eb5a0.png) center center repeat;
			background-size: cover;
			height: auto;
			padding: 6% 0 5.1%;
			.wrap {
				.h_t {
					top:  5.2%;
					left: 2%;
					width: 9.4%;
				}
				.h_m {
					width: 62%;
				}
			}
		}
	}

	.info {
		padding: 7.5% 0 5%;
		.i_t {
			font-size: calc(36vw/12);
			span {
				margin: 0 0.5% 0 0;
				font-size: calc(39vw/12);
			}
		}
		.i_h {
			width: 90%;
			margin: 4% auto 0;
		}
		.i_txt {
			width: 82%;
			margin: 4% auto 0;
		}
		.i_btn {
			margin: 9% auto 0;
			a {
				padding: 3.6% 0;
				border-radius: 7px;
				font-size: calc(43vw/12);

				span {
					margin: 0 0.8% 0 0.2%;
					font-size: calc(45vw/12);
				}
			}
		}
	}

	.contents {
		padding: 8% 0 0;
		.c_h {
			border-left: 4.5px solid #9e853c;
			padding: 0 0 0 2.6%;
			line-height: 1.4;
			font-size: calc(50vw/12);
			span {
				letter-spacing: 1.3px;
				font-size: calc(52vw/12);
			}
		}

		.c_h_m {
			margin: 3% 0 0;
		}
		.c_t {
			margin: 2% 0 0;
			font-size: calc(39vw/12);
			line-height: 1.3;
		}

		.c_seven {
			padding: 0 0 7%;
			margin: 5% 0 0;
			li {
				border-radius: 7px;
				a {
					border-radius: 7px;
					figure {
						img {
							border-radius: 7px 7px 0 0;
						}
					}
					.c_text {
						padding: 6.5%;
						font-size: calc(42vw/12);
						line-height: 1.4;
						font-weight: bold;
					}
				}
			}
		}
		.c_five {
			padding: 0 0 3%;
			.c_f_li {
				a {
					padding: 3.7% 0;
				}
				dd {
					width: 48%;
				}
				dt {
					width: 48%;
					padding: 0 0 0 4%;
					font-size: calc(41vw/12);
					line-height: 1.35;
				}
			}
		}
	}
	.contents_sec {
		padding: 0;
	}


	.genre {
		padding: 4% 0 5%;
		.g_h {
			font-size: calc(50vw/12);
		}
		.g_item {
			margin: 6% 0 0;
			li {
				float: left;
				width: 48%;
				margin: 0 0 0 4%;

				&:nth-child(2n+1) {
					margin: 4% 0 0 0;
				}
				&:nth-child(2n+2) {
					margin: 4% 0 0 4%;
				}
				&:nth-child(1) {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 4%;
				}
				a {
					padding: 8% 0;
					border: 2px solid #a1882f;
					border-radius: 5px;
					font-size: calc(44vw/12);
					letter-spacing: 1.3px;
					&:hover {
						background:none;
						color:#a1882f;
					}
				}
			}
		}
	}
	.more {
		padding: 7.5% 0 7.5%;
		.m_h {
			border-left: 4.5px solid #9e853c;
			padding: 0 0 0 2.7%;
			line-height: 1.35;
			letter-spacing: 1.1px;
			font-size: calc(54vw/12);
			.m_sp {
				font-size: calc(41vw/12);
				.m_i_s {
				}
			}
		}
		.m_item {
			margin: 8% 0 0;
			li {
				padding: 9% 4% 4.1%;
				margin: 0 0 0 3%;
				border-radius: 10px;

				&:first-child {
					margin: 0;
				}

				.m_inner {
					overflow: hidden;
					margin: 0 0 0 5%;
					li {
						width: 48.5%;
						padding: 0;
						box-sizing: unset;
					}
					.fs {
						width: 43%;
					}
					.se {
						margin: 4% 0 0 13%;
						width: 38%;
					}
				}
				.m_right {
					width: 30.5%;
					margin: 1% auto 0;
				}
				.m_text {
					padding: 0;
					margin: 6% 0 0;
					font-size: calc(32vw/12);
					line-height: 1.4;
				}
			}
		}
	}

	aside {
		padding: 2% 0 9%;
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(44vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(37vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(31vw/12);
				}
				.f_item {
					margin: 2.3% 0 0 5.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(32vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(32vw/12);
		}
	}

	footer {
		padding: 5% 0 5%;
		.wrap {
			padding: 0 5% 0;
		}
		.copy {
			margin: 0 0 6%;
			li {
				margin: 1% 0 0 0;
				line-height: 1.3;
				font-size: calc(25vw/12);
			}
		}
		.footer_item {
			margin: 1.8% 0 0;
			li {
				margin: 0 10px 0 0;
				a {
					padding: 0 12px 0 0;
					font-size: 13px;
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(26vw/12);
			letter-spacing: 1.3px;
		}
	}
}
@media screen and (max-width: 480px) {

	.line {
		height: 17px;
	}
	.f_line {
		background: #fff;
		height: 31px;
	}
	.pop_w {
		display: block;
	}
	.pop {
		display: inline-block;
		padding: 1% 5%;
		margin: 0 0 2%;
		border-radius: 4px;
		letter-spacing: 1.3px;
		font-size: calc(25vw/12);
		white-space: nowrap;
		text-align: center;
	}
	.dn {
		display: none;
	}

	header {
		.header_logo {
			span {
			}
		}
		.h_a {
			padding: 6% 0 5.1%;
			.wrap {
				.h_t {
					top:  5.2%;
					left: 2%;
					width: 9.4%;
				}
				.h_m {
					width: 63%;
				}
			}
		}
	}

	.info {
		padding: 7.5% 0 5%;
		.i_t {
			font-size: calc(38vw/12);
			letter-spacing: 1.2px;
			span {
				margin: 0 0.5% 0 0;
				font-size: calc(41vw/12);
			}
		}
		.i_h {
			width: 94%;
			margin: 4% auto 0;
		}
		.i_txt {
			width: 84%;
			margin: 4% auto 0;
		}
		.i_btn {
			margin: 9% auto 0;
			a {
				padding: 3.6% 0;
				border-radius: 3px;
				font-size: calc(45vw/12);

				span {
					margin: 0 0.8% 0 0.2%;
					font-size: calc(47vw/12);
				}
			}
		}
	}

	.contents {
		padding: 8% 0 0;
		.c_h {
			border-left: 3px solid #9e853c;
			padding: 0 0 0 2.6%;
			line-height: 1.4;
			font-size: calc(50vw/12);
			span {
				letter-spacing: 1.3px;
				font-size: calc(52vw/12);
			}
		}

		.c_h_m {
			margin: 3% 0 0;
		}
		.c_t {
			margin: 2% 0 0;
			font-size: calc(41vw/12);
			line-height: 1.3;
		}

		.c_seven {
			padding: 0 0 7%;
			margin: 5% 0 0;
			li {
				border-radius: 4px;
				a {
					border-radius: 4px;
					figure {
						img {
							border-radius: 4px 4px 0 0;
						}
					}
					.c_text {
						padding: 5.5%;
						font-size: calc(44vw/12);
						line-height: 1.3;
					}
				}
			}
		}
		.c_five {
			padding: 0 0 3%;
			.c_f_li {
				a {
					padding: 3.7% 0;
				}
				dd {
					width: 48%;
				}
				dt {
					width: 48%;
					padding: 0 0 0 4%;
					font-size: calc(43vw/12);
					line-height: 1.35;
				}
			}
		}
	}
	.contents_sec {
		padding: 0;
	}

	.genre {
		padding: 3% 0 5%;
		.g_h {
			font-size: calc(52vw/12);
		}
		.g_item {
			margin: 6% 0 0;
			li {
				float: left;
				width: 48%;
				margin: 0 0 0 4%;

				&:nth-child(2n+1) {
					margin: 4% 0 0 0;
				}
				&:nth-child(2n+2) {
					margin: 4% 0 0 4%;
				}
				&:nth-child(1) {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 4%;
				}
				a {
					padding: 8% 0;
					border: 1px solid #a1882f;
					border-radius: 4px;
					font-size: calc(46vw/12);
					letter-spacing: 1.2px;
					&:hover {
						background:none;
						color:#a1882f;
					}
				}
			}
		}
	}

	.more {
		padding: 7.5% 0 7.5%;
		.m_h {
			border-left: 3px solid #9e853c;
			padding: 0 0 0 2.7%;
			line-height: 1.3;
			letter-spacing: 1px;
			font-size: calc(58vw/12);
			.m_sp {
				font-size: calc(45vw/12);
				.m_i_s {
				}
			}
		}
		.m_item {
			margin: 8% 0 0;
			li {
				padding: 9% 4% 4.1%;
				margin: 0 0 0 3%;
				border-radius: 6px;

				&:first-child {
					margin: 0;
				}

				.m_inner {
					overflow: hidden;
					margin: 0 0 0 5%;
					li {
						width: 48.5%;
						padding: 0;
						box-sizing: unset;
					}
					.fs {
						width: 43%;
					}
					.se {
						margin: 5% 0 0 13%;
						width: 38%;
					}
				}
				.m_right {
					width: 28.5%;
					margin: 2% auto 0;
				}
				.m_text {
					padding: 0;
					margin: 13% 0 0;
					font-size: calc(34vw/12);
					line-height: 1.5;
				}
			}
		}
	}

	aside {
		padding: 2% 0 9%;
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(46vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(39vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(33vw/12);
				}
				.f_item {
					margin: 2.3% 0 0 5.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(34vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.3;
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(34vw/12);
		}
	}

	footer {
		padding: 4.5% 0 4.5%;
		.wrap {
			padding: 0 5% 0;
		}
		.copy {
			margin: 0 0 6%;
			li {
				margin: 1% 0 0 0;
				line-height: 1.3;
				font-size: calc(27vw/12);
			}
		}
		.footer_item {
			margin: 1.8% 0 0;
			li {
				margin: 0 8px 0 0;
				a {
					padding: 0 10px 0 0;
					font-size: 10px;
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(28vw/12);
			letter-spacing: 0.5px;
		}
	}

}
@media screen and (max-width: 414px) {

}













@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 1.5s 1 forwards; }
.ani_list01 {
	opacity: 0;
}


