
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif !important; color: #fff; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}

.wrap {
	max-width: 768px;
	margin: 0 auto;
}

header {
	.logo {
		max-width: 151px;
		padding: 12px 0 13px 22px;
		line-height: 0;
	}

	.h_wrap {
		position: relative;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/b6f012da16fee4e23e7326c678ddf44b_67f42e4c0f8f46a4cdd5d18c1be3c4df.png) center center no-repeat;
		background-size: cover;
		padding: 39px 0 0;
		height: 351px;
		box-sizing: border-box;
		.h_sub {
			max-width: 296px;
			margin: 0 auto 0;
			line-height: 0;
		}
		.h_title {
			max-width: 645px;
			margin: 29px auto 0;
			line-height: 0;
		}
		.h_text {
			margin: 24px auto 0;
			text-align: center;
			font-size: 16px;
			line-height: 1.4;
			letter-spacing: 1.8px;
			span {
				display: block;
			}
		}
	}
}

.h_heading {
	padding: 0 0 0 13px;
	line-height: 1.5;
	letter-spacing: 1.3px;
	border-left: 6px solid #e5c200;
	font-size: 29px;
}
.c_tit {
	padding: 0 0 0 28px;
	margin: 18px 0 0;
	line-height: 1.5;
	font-weight: normal;
	font-size: 25px;
	letter-spacing: 1.3px;
	color: #ababab;
	.c_color {
		color: #e5c200;
	}
}
.h_inner {
	background: #1a1a1a;
	padding: 42px 18px 42px;
	margin: 41px 0 0;
	border-radius: 8px;
	.h_btn {
		margin: 28px 0 0;
		a {
			display: block;
			background: #e5c200;
			padding: 22px 0;
			border-radius: 8px;
			text-align: center;
			font-weight: bold;
			font-size: 29px;
			letter-spacing: 1.2px;
			color: #000;
			span {
				display: inline-block;
				margin: 0 3px 0 0;
				font-size: 32px;
			}
		}
	}
}
.h_b_btn {
	margin: 58px 0 0;
	a {
		display: block;
		background: #e5c200;
		padding: 26px 0;
		border-radius: 8px;
		text-align: center;
		font-weight: bold;
		font-size: 29px;
		letter-spacing: 1.2px;
		color: #000;
		span {
			display: inline-block;
			margin: 0 3px 0 0;
			font-size: 32px;
		}
	}
}

.contents {
	padding: 39px 0 60px;
	.c_h {
		padding: 0 0 0 12px;
		border-left: 5px solid #e5c200;
		font-size: 34px;
		font-weight: normal;
		line-height: 1.3;
		span {
			display: inline-block;
			margin: 0 3px 0 0;
			font-size: 37px;
			line-height: 1;
		}
	}
	.c_box {
		margin: 30px 0 0;
		li {
			background: #202121;
			padding: 30px 16.5px 35px;
			max-width: 768px;
			margin: 18px auto 0;
			border-radius: 10px;
			.icon {
				position: relative;
				background: #ddbd1a;
				max-width: 91px;
				margin: 0 auto;
				box-sizing: border-box;
				padding: 4px 0 7px;
				border-radius: 30px;
				font-size: 12.5px;
				font-weight: bold;
				text-align: center;
				white-space: nowrap;
				color: #202121;
				&:before {
					content: ' ';
					height: 0;
					position: absolute;
					width: 0;
					border: 7px solid transparent;
					border-top-color: #ddbd1a;
					top: 100%;
					left: 53%;
					margin-left: -10px;
				}
				span {
					display: inline-block;
					margin: 0 0 0 5px;
					font-size: 18px;

				}
			}

			&:first-child {
				margin: 0;
			}

			.c_ih {
				margin: 20px auto 0;
				font-size: 34px;
				text-align: center;
				line-height: 1.35;
				letter-spacing: 1.3px;
			}
			.pic {
				margin: 28px auto 0;
				max-width: 644px;
			}

			.caution {
				margin: 15px 0 0;
				text-align: center;
				font-size: 13px;
				line-height: 1.3;
				color: #777;
			}
		}
	}
	.c_sec {
		margin: 54px 0 0;
		font-weight: normal;
		line-height: 1.3;
		.c_sdl {
			background: #1a1a1a;
			border-radius: 8px;
			display: flex;
			align-items: center;
			dd {
				line-height: 0;
				max-width: 221px;
				width: 29%;
			}
			dt {
				width: 71%;
				padding: 0 0 0 3%;
				.c_s_h {
					margin: 0 0 15px;
					font-size: 30px;
					font-weight: bold;
					letter-spacing: 1.5px;
				}
				.c_s_t {
					font-size: 22px;
					line-height: 1.3;
					letter-spacing: 1.2px;
					.cs_s {
						display: inline-block;
						letter-spacing: -2px;
						color: #e5c200;
						.num {
							font-size: 26px;
						}
					}
				}
			}
		}
		.c_s_date {
			margin: 42px 0 0;
			letter-spacing: 1.2px;
			font-size: 20px;
			text-align: center;
			span {
				font-size: 22px;
			}
		}
		.c_s_btn {
			margin: 35px 0 0;
			a {
				display: block;
				background: #e5c200;
				padding: 22px 0;
				border-radius: 8px;
				text-align: center;
				font-weight: bold;
				font-size: 29px;
				letter-spacing: 1.2px;
				color: #000;
				span {
					display: inline-block;
					margin: 0 3px 0 0;
					font-size: 32px;
				}
			}
		}
	}

	.c_tx {
		margin: 58px 0 0;
		font-size: 28px;
		line-height: 1.5;
		color: #979797;
	}
	.c_btn {
		margin: 60px 0 0;
		a {
			display: block;
			background: #33aa22;
			padding: 25px 0;
			font-size: 32px;
			border-radius: 6px;
			text-align: center;
			color: #fff;
		}
	}
}
aside {
	background: #000;
	.wrap {
		max-width: 768px;
		padding: 17px 0 66px;
		margin: 0 auto;
		border-top: 2px solid #404040;
	}
	.f_d {
		dt {
			margin: 40px 0 0;
			font-size: 28px;
			letter-spacing: 1.4px;
			font-weight: normal;
			color: #fff;
		}
		dd {
			margin: 25px 0 0;
			font-size: 24px;
			line-height: 1.45;
			letter-spacing: 1.4px;
			color: #ababab;
			.caution {
				display: block;
				margin: 12px 0 0;
				font-size: 20px;
			}
			.f_item {
				margin: 15px 0 0 35px;
				li {
					margin: 6px 0 0;
					line-height: 1.4;
					font-size: 20px;
				}
			}
			a {
				color: #3a2;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.dd_last {
			line-height: 1.2;
		}
	}
	.f_c {
		margin: 15px 0 0;
		line-height: 1.3;
		font-size: 20px;
	}
}

footer {
	background: #000;
	.wrap {
		padding: 35px 0 50px;
		border-top: 1px solid #606060;
	}
	.f_list {
		overflow: hidden;
		margin: 10px 0 0;
		li {
			position: relative;
			float: left;
			margin: 0 10px 0 0;
			a {
				display: block;
				padding: 0 12px 0 0;
				font-size: 15px;
				color: #919191;
			}
			&:after {
				content: ' | ';
				position: absolute;
				top: 0;
				right: 0;
				color: #919191;
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	small {
		display: block;
		margin: 30px 0 0;
		font-size: 16px;
		letter-spacing: 1.3px;
		color: #919191;
	}
}

@media screen and (max-width: 768px) {

	.wrap {
		padding: 0 4%;
		margin: 0 auto;
	}

	header {
		.logo {
			width: 21%;
			padding: 1.2% 0 1.3% 2.8%;
			line-height: 0;
		}

		.h_wrap {
			background: url(https://bit.ly/2ZbcasI) top center no-repeat;
			background-size: cover;
			padding: 5.3% 0 4.5%;
			height: auto;

			.h_h {
				top: 1.5%;
				left: 2%;
				width: 13%;
			}
			.h_sub {
				width: 42%;
				margin: 0 auto 0;
			}
			.h_title {
				width: 77%;
				margin: 3% auto 0;
			}
			.h_sub {
				width: 42%;
				margin: 0 auto 0;
				line-height: 0;
			}
			.h_title {
				width: 92%;
				margin: 4.1% auto 0;
				line-height: 0;
			}
			.h_text {
				margin: 2.8% auto 0;
				font-size: calc(30vw/12);
				line-height: 1.5;
				letter-spacing: 1.8px;
			}
		}
	}
	.h_heading {
		padding: 0 0 0 2.5%;
		line-height: 1.5;
		border-left: 4.5px solid #e5c200;
		font-size: calc(45vw/12);
	}
	.c_tit {
		padding: 0 0 0 3.5%;
		margin: 2.2% 0 0;
		line-height: 1.5;
		font-size: calc(35vw/12);
		letter-spacing: 1.2px;
	}

	.h_inner {
		padding: 6% 2.3% 6.3% 2.6%;
		margin: 6% 0 0;
		border-radius: 6px;
		.h_btn {
			margin: 3.8% 0 0;
			a {
				padding: 4% 0;
				border-radius: 6px;
				font-size: calc(45vw/12);
				letter-spacing: 1.2px;
			}
		}
	}
	.h_b_btn {
		margin: 6% 0 0;
		a {
			padding: 4% 0;
			border-radius: 6px;
			font-size: calc(45vw/12);
			letter-spacing: 1.2px;
		}
	}

	.contents {
		padding: 6% 0 9%;
		.c_h {
			padding: 0 0 0 2.5%;
			border-left: 4px solid #e5c200;
			font-size: calc(53vw/12);
			line-height: 1.3;
			span {
				margin: 0 0.6% 0 0;
				font-size: calc(56vw/12);
			}
		}
		.c_box {
			margin: 4% 0 0;
			li {
				padding: 4.4% 2.4% 4.3%;
				margin: 3% 0 0;
				margin: 2.6% auto 0;
				border-radius: 9px;
				.icon {
					width: 16%;
					margin: 0 auto;
					box-sizing: border-box;
					padding: 0.8% 0 1.2%;
					border-radius: 30px;
					font-size: calc(21vw/12);
					letter-spacing: 0.6px;
					&:before {
						content: ' ';
						height: 0;
						position: absolute;
						width: 0;
						border: 7px solid transparent;
						border-top-color: #ddbd1a;
						top: 100%;
						left: 53%;
						margin-left: -10px;
					}
					span {
						display: inline-block;
						margin: 0 0 0 2.5%;
						font-size: calc(29vw/12);
					}
				}

				&:first-child {
					margin: 0;
				}

				.c_ih {
					margin: 3.3% auto 0;
					font-size: calc(54vw/12);
					line-height: 1.3;
					letter-spacing: 1.3px;
				}
				.pic {
					margin: 3.8% auto 0;
				}

				.caution {
					margin: 2% 0 0;
					font-size: calc(21vw/12);
					line-height: 1.3;
				}
			}
		}
		.c_sec {
			margin: 8% 0 0;
			line-height: 1.3;
			.c_sdl {
				border-radius: 7px;
				dd {
					width: 33%;
				}
				dt {
					width: 67%;
					padding: 0 0 0 3%;
					.c_s_h {
						margin: 0 0 3%;
						font-size: calc(47vw/12);
						letter-spacing: 1.6px;
					}
					.c_s_t {
						font-size: calc(35vw/12);
						line-height: 1.3;
						letter-spacing: 1.2px;
						.cs_s {
							letter-spacing: -2px;
							.num {
								font-size: calc(39vw/12);
							}
						}
					}
				}
			}
			.c_s_date {
				margin: 5.5% 0 0;
				letter-spacing: 1.2px;
				font-size: calc(28vw/12);
				span {
					font-size: calc(28vw/12);
				}
			}
			.c_s_btn {
				margin: 5% 0 0;
				a {
					padding:
					3.5% 0;
					border-radius: 7px;
					font-size: calc(38vw/12);
					letter-spacing: 1.2px;
					span {
						margin: 0 0.2% 0 0;
						font-size: calc(42vw/12);
					}
				}
			}
		}

		.c_tx {
			margin: 9% 0 0;
			font-size: calc(46vw/12);
			line-height: 1.5;
		}
		.c_btn {
			margin: 9% 0 0;
			a {
				padding: 5% 0;
				font-size: calc(52vw/12);
				font-weight: bold;
				border-radius: 5px;
				letter-spacing: 1.3px;
			}
		}
	}

	aside {
		.wrap {
			padding: 2% 0 9%;
			margin: 0 4%;
			border-top: 1px solid #404040;
		}
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(44vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(37vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(31vw/12);
				}
				.f_item {
					margin: 2.3% 0 0 5.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(32vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: none;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(32vw/12);
		}
	}


	footer {
		.wrap {
			padding: 5% 0 7%;
			margin: 0 5%;
		}
		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 10px 0 0;
				a {
					padding: 0 12px 0 0;
					font-size: 13px;
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(26vw/12);
			letter-spacing: 1.3px;
		}
	}
}
@media screen and (max-width: 480px) {

	.wrap {
		padding: 0 4.8%;
		margin: 0 auto;
	}

	header {
		.logo {
			width: 21%;
			padding: 1.2% 0 1.3% 2.8%;
			line-height: 0;
		}
		.h_box {
			padding: 0 2.5% 0;
		}
		.h_wrap {
			padding: 11% 0 10.5%;
			.h_h {
				top: 1.5%;
				left: 2%;
				width: 13%;
			}
			.h_sub {
				width: 31%;
				margin: 0 auto 0;
			}
			.h_title {
				width: 77%;
				margin: 3% auto 0;
			}
		}
	}

	.h_heading {
		padding: 0 0 0 3%;
		line-height: 1.5;
		border-left: 3px solid #e5c200;
		font-size: calc(47vw/12);
	}
	.c_tit {
		padding: 0 0 0 5%;
		margin: 2.8% 0 0;
		line-height: 1.4;
		font-size: calc(41vw/12);
		letter-spacing: 1.2px;
		.c_color {
			text-indent: -1.8%;
			font-size: calc(42vw/12);
		}
		.c_ore {
			margin: 0 0 0 0.8%;
		}
	}

	.h_inner {
		padding: 6.3% 2.4% 6.8%;
		margin: 8.5% 0 0;
		border-radius: 4px;

		.h_btn {
			margin: 3.5% 0 0;
			a {
				padding: 4.3% 0;
				border-radius: 4px;
				font-size: calc(47vw/12);
				letter-spacing: 1.15px;
				span {
					margin: 0 0.2% 0 0;
					font-size: calc(49vw/12);
				}
			}
		}
		.h_c {
			margin: 2.9% 0 0;
			letter-spacing: 1.2px;
			font-size: calc(36vw/12);
			span {
				font-size: calc(36vw/12);
			}
		}
	}
	.h_b_btn {
		margin: 6% 0 0;
		a {
			padding: 4% 0;
			border-radius: 6px;
			font-size: calc(47vw/12);
			letter-spacing: 1.2px;
		}
	}

	.contents {
		padding: 8% 0 9%;
		.c_h {
			padding: 0 0 0 2.5%;
			border-left: 2.5px solid #e5c200;
			font-size: calc(58vw/12);
			line-height: 1.3;
			span {
				margin: 0 0.6% 0 0;
				font-size: calc(60vw/12);
			}
		}
		.c_box {
			margin: 4% 0 0;
			li {
				padding: 4.4% 2.4% 4.3%;
				margin: 3% 0 0;
				margin: 2.6% auto 0;
				border-radius: 6px;
				.icon {
					width: 18%;
					margin: 0 auto;
					padding: 0.8% 0 1%;
					border-radius: 30px;
					font-size: calc(25vw/12);
					letter-spacing: 0.6px;
					&:before {
						content: ' ';
						height: 0;
						position: absolute;
						width: 0;
						border: 5px solid transparent;
						border-top-color: #ddbd1a;
						top: 100%;
						left: 58%;
						margin-left: -10px;
					}
					span {
						margin: 0 0 0 2.5%;
						font-size: calc(32vw/12);
					}
				}

				&:first-child {
					margin: 0;
				}

				.c_ih {
					margin: 3% auto 0;
					font-size: calc(56vw/12);
					line-height: 1.4;
					letter-spacing: 1.35px;
				}
				.pic {
					margin: 3.8% auto 0;
				}
				.pic02 {
				}
				.pic02 {
				}

				.caution {
					margin: 2.5% 0 0;
					font-size: calc(25vw/12);
					line-height: 1.3;
				}
			}
		}
		.c_sec {
			margin: 8% 0 0;
			line-height: 1.3;
			.c_sdl {
				border-radius: 5px;
				dd {
					width: 33%;
				}
				dt {
					width: 67%;
					padding: 0 0 0 3%;
					.c_s_h {
						margin: 0 0 3%;
						font-size: calc(49vw/12);
						letter-spacing: 1.6px;
					}
					.c_s_t {
						font-size: calc(37vw/12);
						line-height: 1.3;
						letter-spacing: 1.2px;
						.cs_s {
							letter-spacing: -2px;
							.num {
								font-size: calc(41vw/12);
							}
						}
					}
				}
			}
			.c_s_date {
				margin: 5.5% 0 0;
				letter-spacing: 1.2px;
				font-size: calc(30vw/12);
				span {
					font-size: calc(31vw/12);
				}
			}
			.c_s_btn {
				margin: 5% 0 0;
				a {
					padding:
					3.5% 0;
					border-radius: 5px;
					font-size: calc(40vw/12);
					letter-spacing: 1.2px;
					span {
						margin: 0 0.2% 0 0;
						font-size: calc(44vw/12);
					}
				}
			}
		}

		.c_tx {
			margin: 9% 0 0;
			font-size: calc(49vw/12);
			line-height: 1.5;
		}
		.c_btn {
			margin: 9% 0 0;
			a {
				padding: 5% 0;
				font-size: calc(55vw/12);
				font-weight: bold;
				border-radius: 5px;
				letter-spacing: 1.3px;
			}
		}
	}

	aside {
		.wrap {
			padding: 2% 0 9%;
			margin: 0 4%;
		}
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(46vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(39vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(33vw/12);
				}
				.f_item {
					margin: 2.3% 0 0 5.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(34vw/12);
					}
				}
			}
			.dd_last {
				line-height: 1.3;
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(34vw/12);
		}
	}


	footer {

		.wrap {
			padding: 5% 0 7%;
			margin: 0 5%;
		}
		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 8px 0 0;
				a {
					padding: 0 10px 0 0;
					font-size: 10px;
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(28vw/12);
			letter-spacing: 0.5px;
		}
	}
}









@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 1.5s 1 forwards; }
.ani_list01 {
	opacity: 0;
}
