
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; }


.wrap{
	max-width: 768px;
	padding: 0 33px;
	margin: 0 auto;
}

header {
	.h_wrap {
		.h_box {
			.h_img {
				margin: 16px auto 0;
			}
			.h_txt {
				max-width: 329px;
				margin: 20px auto 0;
			}
		}
	}
}


@media screen and (max-width: 768px) {
	header {
		.h_wrap {
			.h_box {
				padding: 5.5% 0 4.6%;
				.h_img {
					margin: 3.5% auto 0;
				}
				.h_txt {
					width: 66%;
					margin: 1.6% auto 0;
				}
			}

		}
	}
}
@media screen and (max-width: 480px) {
	header {
		.h_wrap {
			.h_box {
				padding: 5.5% 0 4.6%;
				.h_img {
					margin: 3.5% auto 0;
				}
				.h_txt {
					width: 66%;
					margin: 1.6% auto 0;
				}
			}
		}
	}
}



.hi {
	opacity: 0;
}
@keyframes item_sp { 100% { opacity: 1; } }
.a01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
.a02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.9s 1 forwards; }
.a03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.3s 1 forwards; }
.a04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.7s 1 forwards; }



@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}

