
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #eee;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}

.wrap {
	max-width: 681px;
	margin: 0 auto;
}
.line {
	background: #efefef;
	height: 35px;
}

.b_n {
	border: none!important;
}
.b_l {
	padding: 0 0 65px!important;
}

.dn {
	display: none;
}
header {
	box-sizing: border-box;
	border-top: 15px solid #138745;
	.logo {
		background: #000;
		padding: 13px 0 13px 22px;
		line-height: 0;
		span {
			display: block;
			max-width: 151px;
		}

	}
	.h_wrap {
		position: relative;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/ba4ab4ae9a93c5b15dadfd2429515916_05f070689ada8b52b6238d2f282856f9.png)  center top repeat-x #e5e5e5;
		background-size: cover;
		height: 376px;
		max-width: 1920px;
		margin: 0 auto;
		padding: 64px 0 0;
		box-sizing: border-box;
		.h_i {
			max-width: 887px;
			margin: 0 auto;
		}
	}
}

.info {
	background: #fff;
	padding: 63px 0 45px;
	.wrap {
		max-width: 768px;
	}
	.i_h {
		font-weight: bold;
		font-size: 31px;
		text-align: center;
		span {
			font-size: 35px;
		}
	}
	.i_t {
		margin: 35px 0 0;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		line-height: 1.55;
	}
	.mw_b {
		max-width: 680px;
		margin: 50px auto 0;
	}
	.m_i {
		position: relative;
		width: 100%;
		padding-top: 56.25%;
		margin: 18px auto 0;

		iframe {
			position: absolute;
			z-index: 5;
			left: 0;
			top: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}

	.i_btn {
		max-width: 680px;
		margin: 37px auto 0;
		a {
			display: block;
			background: #138745;
			padding: 26px 0;
			border-radius: 40px;
			font-size: 26px;
			font-weight: bold;
			text-align: center;
			letter-spacing: 1.3px;
			color: #fff;
		}
	}
}

.more {
	background: #eee;
	padding: 48px 0 64px;
	.m_h {
		text-align: center;
		font-size: 26px;
		font-weight: bold;
		line-height: 1.5;
		letter-spacing: 1.3px;
		span {
			font-size: 29px;
		}
	}
	.m_btn {
		margin: 35px 0 0;
		a {
			display: block;
			padding: 15px 0;
			border-radius: 30px;
			border: 3px solid #138745;
			font-size: 30px;
			font-weight: bold;
			text-align: center;
			letter-spacing: 2.2px;
			color: #138745;

			&:hover {
				background: #138745;
				color: #fff;
				opacity: 1;
			}
		}

	}
}

.contents {
	background: #eee;
	padding: 60px 0 0;
	.c_h {
		line-height: 1.4;
		font-size: 32px;
		text-align: center;
		span {
			letter-spacing: 1.3px;
			font-size: 36px;
		}
	}
	.c_sub {
		margin: 40px 0 0;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
	}

	.c_e {
		border-left: 9px solid #138745;
		padding: 0 0 0 18px;
		line-height: 1.4;
		font-size: 32px;
		span {
			letter-spacing: 1.3px;
			font-size: 36px;
		}
	}
	.ce_sec {
		margin: 55px 0 0;
	}

	.c_h_m {
		margin: 20px 0 0;
	}

	.c_t {
		margin: 12px 0 0;
		font-size: 25px;
		line-height: 1.3;
		color: #666;
	}
	.c_i {
		padding: 60px 0 60px;
		border-bottom: 1px solid #606060;

		&:first-of-type {
			border-top: none;
		}
	}
	.date {
		display: inline-block;
		background: #d7000f;
		padding: 5px 30px 8px;
		border-radius: 30px;
		font-size: 25px;
		font-weight: bold;
		letter-spacing: 1.4px;
		color: #fff;
		span {
			font-size: 28px;
		}
	}
	.c_item {
		display:flex;
		justify-content: space-between;
		margin: 42px 0 0;
	}
	.team {
		margin: 42px 0 0;
		font-size: 18px;
		letter-spacing: 1.3px;
		line-height: 1.3;
		text-align: center;
		font-weight: bold;
		color: #666;
	}
	.team_list {
		overflow: hidden;
		margin: 42px 0 0;
		text-align: left;
		li {
			position: relative;
			float: left;
			padding: 0 13px 0 6px;
			letter-spacing: 1.3px;
			line-height: 1.3;
			text-align: left;
			font-weight: bold;
			font-size: 18px;
			color: #666;
			&:after {
				content: '/';
				position: absolute;
				right: 0;
				top: 0;
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	.c_btn {
		max-width: 680px;
		margin: 37px auto 0;
		a {
			display: block;
			background: #138745;
			padding: 24px 0;
			border-radius: 40px;
			font-size: 26px;
			font-weight: bold;
			text-align: center;
			letter-spacing: 1.3px;
			color: #fff;
		}
	}
	.c_sit_t {
		display: flex;
		flex-flow: row wrap;
		padding: 0 0 50px;
		margin: 35px 0 0;
		li {
			justify-content: flex-end;
			box-sizing: border-box;
			background: #eee;
			width: 48%;
			margin: 5% 0 0 4%;
			border-radius: 0 0 6px 6px;
			&:nth-child(2n+1) {
				margin: 5% 0 0 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 4%;
			}
			&:nth-child(1) {
				margin: 0;
			}
			a {
				display: block;
				figure {
					line-height: 0;
					img {
					}
				}
				.c_text {
					padding: 23px;
					font-weight: bold;
					font-size: 23px;
					line-height: 1.4;
					color: #666;
				}
			}
		}
	}

	.c_six {
		display: flex;
		flex-flow: row wrap;
		padding: 0 0 50px;
		margin: 35px 0 0;
		li {
			position: relative;
			justify-content: flex-end;
			box-sizing: border-box;
			width: 48%;
			padding: 0 0 100px;
			margin: 5% 0 0 4%;
			border-radius: 0 0 6px 6px;
			&:nth-child(2n+1) {
				margin: 5% 0 0 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 4%;
			}
			&:nth-child(1) {
				margin: 0;
			}
			figure {
				line-height: 0;
				img {
				}
			}
			.c_text {
				padding: 20px 0 0;
				font-size: 23px;
				line-height: 1.4;
				font-weight: bold;
				color: #000;
			}
			.cs_btn {
				position: absolute;
				left: 0;
				bottom: 5px;
				width: 100%;
				a {
					display: block;
					width: 100%;
					background: #138745;
					padding: 16px 0;
					text-align: center;
					border-radius: 30px;
					font-size: 30px;
					color: #fff;

				}
			}
		}
	}

	.c_eight {
		.c_e_list {
			padding: 0 0 30px;
			margin: 30px 0 0;
			&:first-of-type {
				margin: 0;
			}
		}
		.large {
			margin: 30px 0 0;
		}
		.thumb {
			// overflow: hidden;
			display:flex;
			justify-content:space-between;
			margin: 15px 0 0;
			li {
				margin: 0 0 0 2%;
				&:first-child {
					margin: 0;
				}
				a {
					overflow: hidden;
					display: block;
					line-height:0;
					transition: none;
					img {
						margin: 0;
					}

				}
				.active {
					box-sizing: border-box;
					border: 4px solid #138745;
					img {
						margin: -2px 0;
						opacity: .8;

					}
				}
			}
		}
		.btn {
			margin: 31px 0 0;
			a {
				display: block;
				background: #138745;
				padding: 20px 0;
				border-radius: 30px;
				text-align: center;
				font-size: 32px;
				color: #fff;
			}
		}
	}


	.c_nineteen {
		padding: 0 0 30px;
		margin: 0 0 0;
		border-bottom: 1px solid #606060;
		.bagg {
			display: inline-block;
			background: #f0163a;
			padding: 5px 18px;
			margin: 0 0 5px 0;
			border-radius: 3px;
			font-size: 16px;
			letter-spacing: 1.4px;
			text-align: center;
			color: #fff;
		}

		figure {
			margin: 0 0 45px;
			line-height: 0;
		}
		.c_19t {
			margin: 12px 0 0 0;
			font-size: 22px;
			font-weight: bold;
			line-height: 1.3;
			color: #606060;
		}
		.c_19cen {
			text-align: center;
		}

		.c_btn {
			margin: 30px 0 0;
			a {
				display: block;
				background: #138745;
				padding: 17px 0;
				text-align: center;
				border-radius: 30px;
				font-size: 30px;
				color: #fff;
			}
		}
		.c19_item {
			li {
				padding: 35px 0;
				border-top: 1px solid #606060;
				a {
					display: block;
				}

				&:first-child {
					border-top: none;
				}
			}
		}
	}
	.ls_btn {
		margin: 15px 0 0;
		a {
			display: block;
			padding: 15px 0;
			border-radius: 30px;
			border: 3px solid #138745;
			font-size: 30px;
			font-weight: bold;
			text-align: center;
			letter-spacing: 2.2px;
			color: #138745;
			span {
				font-size: 33px;
			}

			&:hover {
				background: #138745;
				color: #fff;
				opacity: 1;
			}
		}
	}
}
.c_s {
	padding: 0;
}
.cbl {
	background: #fff;
}
.cbl_ls {
	padding: 60px 0 60px;
}

.point {
	background: #eee;
	padding: 75px 0 61px;
	.p_h {
		max-width: 665px;
		margin: 0 auto;
	}
}


.banner {
	.b_wrap {
		background: #1a1a1a;
		padding: 30px 35px 42px;
		box-sizing: border-box;

	}
	.b_h {
		font-size: 32px;
		font-weight: normal;
		span {
			display: inline-block;
			color: #138745;
		}
	}
	.b_t {
		margin: 19px 0 0;
		font-size: 24px;
		line-height: 1.5;
	}
	.b_btn {
		margin: 30px 0 0;
		a {
			display: block;
			background: #138745;
			padding: 30px 0;
			border-radius: 6px;
			font-weight: bold;
			text-align: center;
			font-size: 28px;
			letter-spacing: 1.3px;
			color: #fff;
		}

	}
}

.gline {
	background: #fff;
	padding: 0 0 45px;
	.g_w {
		background: #efefef;
		height: 35px;
		max-width: 768px;
		margin: 0 auto;
	}
}

.genre {
	background: #fff;
	padding: 0 0 58px;
	.wrap {
		padding: 20px 0 0;
	}

	.g_h {
		font-size: 32px;
	}
	.g_item {
		overflow: hidden;
		margin: 38px 0 0;
		li {
			float: left;
			width: 48.5%;
			margin: 0 0 0 3%;

			&:nth-child(2n+1) {
				margin: 3% 0 0 0;
			}
			&:nth-child(2n+2) {
				margin: 3% 0 0 3%;
			}
			&:nth-child(1) {
				margin: 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 3%;
			}
			a {
				display: block;
				padding: 25px 0;
				border: 2px solid #138745;
				border-radius: 6px;
				text-align: center;
				font-size: 28px;
				font-weight: bold;
				letter-spacing: 1.3px;
				color: #138745;
				&:hover {
					background: #138745;
					color: #fff;
					opacity: 1;
				}
			}
		}
	}
}
.bline {
	height: 62px;
	background: #fff;
}

aside {
	background: #efefef;
	padding: 17px 0 66px;
	.wrap {
		max-width: 730px;
		margin: 0 auto;
	}
	.f_d {
		padding: 2px 0 0;
		dt {
			margin: 40px 0 0;
			font-size: 26px;
			letter-spacing: 1.4px;
			font-weight: bold;
			color: #666;
		}
		dd {
			margin: 25px 0 0;
			font-size: 24px;
			line-height: 1.45;
			letter-spacing: 1.4px;
			color: #666;
			.caution {
				display: block;
				margin: 12px 0 0;
				font-size: 20px;
			}
			.f_item {
				margin: 15px 0 0 35px;
				li {
					margin: 6px 0 0;
					line-height: 1.4;
					font-size: 20px;
				}
			}
			a {
				color: #138745;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.dd_last {
			line-height: 1.2;
		}
	}
	.f_c {
		margin: 15px 0 0;
		line-height: 1.3;
		font-size: 20px;
	}
}

footer {
	background: #efefef;
	border-bottom: 1px solid #138745;

	.wrap {
		max-width: 730px;
		margin: 0 auto;
		padding: 20px 0 40px;
	}

	.copy {
		margin: 27px 0 40px;
		li {
			width: 100%;
			margin: 5px 10px 0 0;
			line-height: 1.3;
			font-size: 16px;
			color: #666;
		}
	}

	.f_list {
		overflow: hidden;
		margin: 10px 0 0;
		li {
			position: relative;
			float: left;
			margin: 0 10px 0 0;
			a {
				display: block;
				padding: 0 12px 0 0;
				font-size: 15px;
				color: #666;
			}
			&:after {
				content: ' | ';
				position: absolute;
				top: 0;
				right: 0;
				color: #666;
			}
			&:last-child:after {
				content: '';
			}
		}
	}

	small {
		display: block;
		margin: 30px 0 0;
		font-size: 16px;
		letter-spacing: 1px;
		text-align: left;
		color: #666;
	}
}

@media screen and (max-width: 936px) {

	header {
		.h_wrap {
			position: relative;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/ba4ab4ae9a93c5b15dadfd2429515916_05f070689ada8b52b6238d2f282856f9.png)  85px top repeat-x #e5e5e5;
			background-size: cover;
			height: auto;
			max-width: 1920px;
			margin: 0 auto;
			padding: 56px 0 57px;
			box-sizing: border-box;
			.h_i {
				width: 77%;
				margin: 0 auto;
			}
		}
	}
}


@media screen and (max-width: 768px) {
	.bline {
		height: 45px;
	}
	.wrap {
		max-width: none;
		padding: 0 2%;
	}
	.line {
		height: 28px;
	}
	.f_line {
		background: #fff;
		height: 45px;
	}

	.dn {
		display: none;
	}
	.b_l {
		padding: 0 0 8.4%!important;
	}

	header {
		border-top: 11px solid #138745;
		.logo {
			padding: 1.6% 0 1.6% 2.5%;
			span {
				width: 21%;
			}
		}
		.h_wrap {
			position: relative;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/5a4ebd6d031f823142068d67ddd061df_1b1fb441fa0d7b7e5fc512160ede02c7.png) center center no-repeat;
			background-size: cover;
			height: auto;
			max-width: 1920px;
			margin: 0 auto;
			padding: 9.5% 0 10.4%;
			.h_i {
				width: 79%;
				margin: 0 auto;
			}
		}
	}


	.info {
		padding: 8% 0 4%;
		.i_h {
			font-size: calc(50vw/12);
			span {
				font-size: calc(53vw/12);
			}
		}
		.i_t {
			margin: 5% 0 0;
			font-size: calc(36vw/12);
			line-height: 1.55;
		}
		.mw_b {
			margin: 7% auto 0;
		}
		.m_i {
			width: 100%;
			padding-top: 56.25%;
			margin: 18px auto 0;

			iframe {
				position: absolute;
				z-index: 5;
				left: 0;
				top: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}

		.i_btn {
			margin: 6% auto 0;
			a {
				padding: 2.5% 0;
				border-radius: 40px;
				font-size: calc(43vw/12);
				letter-spacing: 1.3px;
			}
		}
	}
	.more {
		padding: 6.5% 0 8%;
		.m_h {
			font-size: calc(42vw/12);
			line-height: 1.5;
			letter-spacing: 1.3px;
			span {
				font-size: calc(45vw/12);
			}
		}
		.m_btn {
			margin: 5% 0 0;
			a {
				padding: 2.5% 0;
				border-radius: 40px;
				border: 2px solid #138745;
				font-size: calc(50vw/12);
				letter-spacing: 1.6px;

				&:hover {
					background: none;
					color: #138745;
				}
			}
		}
	}

	.contents {
		padding: 5% 0 0;

		.c_h {
			font-size: calc(62vw/12);
			letter-spacing: 1.3px;
			span {
				font-size: calc(65vw/12);
			}
		}
		.c_sub {
			margin: 4.5% 0 0;
			font-size: calc(38vw/12);
		}
		.ce_sec {
			margin: 7% 0 0;
		}

		.c_h_m {
			margin: 3% 0 0;
		}
		.c_t {
			margin: 2% 0 0;
			font-size: calc(39vw/12);
			line-height: 1.3;
		}
		.c_e {
			border-left: 7px solid #138745;
			padding: 0 0 0 2.6%;
			line-height: 1.4;
			font-size: calc(50vw/12);
			span {
				letter-spacing: 1.3px;
				font-size: calc(52vw/12);
			}
		}

		.c_i {
			padding: 8% 0;
		}
		.date {
			padding: 0.8% 4.2% 1%;
			border-radius: 30px;
			font-size: calc(42vw/12);
			letter-spacing: 1.4px;
			span {
				font-size: calc(45vw/12);
			}
		}
		.c_item {
			display:flex;
			justify-content: space-between;
			margin: 5.5% 0 0;
		}
		.team {
			margin: 5.5% 0 0;
			font-size: calc(30vw/12);
			letter-spacing: 1.3px;
			line-height: 1.3;
		}
		.c_btn {
			max-width: none;
			margin: 5% auto 0;
			a {
				padding: 3.5% 0;
				border-radius: 40px;
				font-size: calc(42vw/12);
				letter-spacing: 1.3px;
			}
		}
		.c_sit_t {
			padding: 0 0 6%;
			margin: 4% 0 0;
			li {
				width: 48%;
				margin: 5% 0 0 4%;
				border-radius: 0 0 5px 5px;
				a {
					figure {
						line-height: 0;
						img {
						}
					}
					.c_text {
						padding: 6%;
						font-size: calc(42vw/12);
						line-height: 1.4;
					}
				}
			}
		}

		.c_six {
			padding: 0 0 6%;
			margin: 4% 0 0;
			li {
				width: 48%;
				padding: 0 0 11%;
				margin: 5% 0 0 4%;
				border-radius: 0 0 6px 6px;
				.c_text {
					padding: 6%;
					font-size: calc(42vw/12);
					line-height: 1.4;
				}
				.cs_btn {
					bottom: 1%;
					width: 100%;
					a {
						padding: 4.2% 0;
						border-radius: 30px;
						font-size: calc(48vw/12);
					}
				}
			}
		}

		.c_eight {
			.c_e_list {
				padding: 0 0 4%;
				margin: 4% 0 0;
				&:first-of-type {
					margin: 0;
				}
			}
			.large {
				margin: 4.5% 0 0;
			}
			.thumb {
				margin: 2.5% 0 0;
				li {
					margin: 0 0 0 2%;
					&:first-child {
						margin: 0;
					}
					a {
						overflow: hidden;
						display: block;
						line-height:0;
						transition: none;
						img {
							margin: 0;
						}
					}
					.active {
						box-sizing: border-box;
						border: 3px solid #138745;
						img {
							margin: -1.6px 0;
							opacity: .8;
						}
					}
				}
			}
			.btn {
				margin: 5% 0 0;
				a {
					padding: 3% 0;
					border-radius: 30px;
					font-size: calc(51vw/12);
				}
			}
		}
		.ls_btn {
			margin: 0;
			a {
				padding: 2.5% 0;
				border-radius: 30px;
				border: 2px solid #138745;
				font-size: calc(52vw/12);
				letter-spacing: 1.6px;
				span {
					font-size: calc(54vw/12);
				}

				&:hover {
					background: #138745;
					color: #fff;
					opacity: 1;
				}
			}
		}


		.c_nineteen {
			padding: 0 0 4%;
			margin: 2.5% 0 0;
			.bagg {
				padding: 0.8% 2.5%;
				margin: 0 0 1% 0;
				font-size: calc(26vw/12);
				letter-spacing: 1.4px;
			}

			figure {
				margin: 0 0 4%;
			}
			.c_19t {
				margin: 2.5% 0 0 0;
				font-size: calc(42vw/12);
				line-height: 1.3;
			}

			.c_btn {
				margin: 6% 0 0;
				a {
					padding: 3% 0;
					border-radius: 40px;
					font-size: calc(40vw/12);
				}
			}
			.c19_item {
				li {
					padding: 3% 0;
				}
			}
		}

	}
	.c_s {
		padding: 0;
	}
	.cbl_ls {
		padding: 8% 0 7%;
	}

	.point {
		padding: 10% 0 7%;
		.p_h {
			width: 93%;
			margin: 0 auto;
		}
	}



	.banner {
		.b_wrap {
			padding: 4% 4.5% 5.8%;
		}
		.b_h {
			font-size: calc(50vw/12);
		}
		.b_t {
			margin: 3.2% 0 0;
			font-size: calc(38vw/12);
			line-height: 1.45;
		}
		.b_btn {
			margin: 4.8% 0 0;
			a {
				padding: 3.5% 0;
				border-radius: 5px;
				font-size: calc(44vw/12);
				letter-spacing: 1.3px;
			}
		}
	}
	.gline {
		background: #fff;
		padding: 0 0 3%;
		.g_w {
			height: 28px;
			margin: 0 auto;
		}
	}
	.genre {
		padding: 2% 0 6%;
		.wrap {
			padding: 3% 0 0;
			margin: 0 5%;
		}

		.g_h {
			font-size: calc(50vw/12);
		}
		.g_item {
			margin: 6% 0 0;
			li {
				float: left;
				width: 48%;
				margin: 0 0 0 4%;

				&:nth-child(2n+1) {
					margin: 4% 0 0 0;
				}
				&:nth-child(2n+2) {
					margin: 4% 0 0 4%;
				}
				&:nth-child(1) {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 4%;
				}
				a {
					padding: 8% 0;
					border: 2px solid #138745;
					border-radius: 5px;
					font-size: calc(44vw/12);
					letter-spacing: 1.3px;
					&:hover {
						background:none;
						color:#138745;
					}
				}
			}
		}
	}

	aside {
		padding: 2% 0 2%;
		.wrap {
			padding: 0 5%;
		}
		.f_d {
			padding: 0.2% 0 0;
			dt {
				margin: 6.5% 0 0;
				font-size: calc(41vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(35vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(31vw/12);
				}
				.f_item {
					margin: 2.3% 0 0 5.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(32vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(32vw/12);
		}
	}

	footer {
		padding: 4% 0 3%;
		.wrap {
			padding: 0 0 5%;
			margin: 0 5%;
		}
		.copy {
			margin: 4% 0 6%;
			li {
				margin: 0.7% 1.5% 0 0;
				line-height: 1.3;
				font-size: calc(24vw/12);
			}
		}
		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 10px 0 0;
				a {
					padding: 0 12px 0 0;
					font-size: calc(28vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(26vw/12);
			letter-spacing: 1.3px;
		}
	}
}
@media screen and (max-width: 480px) {
	.bline {
		height: 31px;
	}
	.line {
		height: 17px;
	}
	.f_line {
		background: #fff;
		height: 31px;
	}

	.dn {
		display: none;
	}
	.wrap {
		padding: 0 2%;
	}

	.b_l {
		padding: 0 0 7.4%!important;
	}


	header {
		border-top: 7px solid #138745;
		.logo {
			padding: 1.6% 0 1.6% 2.5%;
			span {
				width: 21%;
			}
		}
		.h_wrap {
			position: relative;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/5a4ebd6d031f823142068d67ddd061df_1b1fb441fa0d7b7e5fc512160ede02c7.png) center center no-repeat;
			background-size: cover;
			height: auto;
			max-width: 1920px;
			margin: 0 auto;
			padding: 9.5% 0 10.4%;
			.h_i {
				width: 79%;
				margin: 0 auto;
			}
		}
	}

	.info {
		padding: 8% 0 3%;
		.i_h {
			font-size: calc(52vw/12);
			span {
				font-size: calc(55vw/12);
			}
		}
		.i_t {
			margin: 5% 0 0;
			font-size: calc(39vw/12);
			line-height: 1.55;
		}
		.mw_b {
			margin: 7% auto 0;
		}
		.m_i {
			width: 100%;
			padding-top: 56.25%;
			margin: 18px auto 0;

			iframe {
				position: absolute;
				z-index: 5;
				left: 0;
				top: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}

		.i_btn {
			margin: 6% auto 0;
			a {
				padding: 3% 0;
				border-radius: 40px;
				font-size: calc(45vw/12);
				letter-spacing: 1.3px;
			}
		}
	}

	.more {
		padding: 4.5% 0 6%;
		.m_h {
			font-size: calc(38vw/12);
			line-height: 1.5;
			letter-spacing: 1.3px;
			span {
				font-size: calc(40vw/12);
			}
		}
		.m_btn {
			margin: 5% 0 0;
			a {
				padding: 2.5% 0;
				border-radius: 40px;
				border: 1.5px solid #138745;
				font-size: calc(52vw/12);
				letter-spacing: 1.4px;
			}
		}
	}


	.contents {
		padding: 4% 0 0;
		.c_h {
			font-size: calc(65vw/12);
			letter-spacing: 1.3px;
			span {
				font-size: calc(68vw/12);
			}
		}
		.c_sub {
			margin: 4% 0 0;
			font-size: calc(40vw/12);
		}
		.ce_sec {
			margin: 7% 0 0;
		}

		.c_h_m {
			margin: 3% 0 0;
		}
		.c_t {
			margin: 2% 0 0;
			font-size: calc(41vw/12);
			line-height: 1.3;
		}

		.c_e {
			border-left: 4px solid #138745;
			padding: 0 0 0 2.6%;
			line-height: 1.4;
			font-size: calc(52vw/12);
			span {
				letter-spacing: 1.3px;
				font-size: calc(54vw/12);
			}
		}

		.c_sit_t {
			padding: 0 0 6%;
			margin: 5% 0 0;
			li {
				width: 48%;
				margin: 5% 0 0 4%;
				border-radius: 0 0 4px 4px;
				a {
					figure {
						line-height: 0;
						img {
						}
					}
					.c_text {
						padding: 6%;
						font-size: calc(44vw/12);
						line-height: 1.4;
					}
				}
			}
		}

		.c_six {
			padding: 0 0 6%;
			margin: 4% 0 0;
			li {
				width: 48%;
				padding: 0 0 11%;
				margin: 5% 0 0 4%;
				border-radius: 0 0 6px 6px;
				.c_text {
					padding: 6%;
					font-size: calc(42vw/12);
					line-height: 1.4;
				}
				.cs_btn {
					bottom: 1%;
					width: 100%;
					a {
						padding: 4.2% 0;
						border-radius: 30px;
						font-size: calc(48vw/12);
					}
				}
			}
		}


		.c_eight {
			.c_e_list {
				padding: 0 0 4%;
				margin: 4% 0 0;
				&:first-of-type {
					margin: 0;
				}
			}
			.large {
				margin: 4.5% 0 0;
			}
			.thumb {
				margin: 2.5% 0 0;
				li {
					margin: 0 0 0 2%;
					&:first-child {
						margin: 0;
					}
					a {
						overflow: hidden;
						display: block;
						line-height:0;
						transition: none;
						img {
							margin: 0;
						}
					}
					.active {
						box-sizing: border-box;
						border: 2px solid #138745;
						img {
							margin: -1.2px 0;
							opacity: .8;
						}
					}
				}
			}
			.btn {
				margin: 5% 0 0;
				a {
					padding: 3% 0;
					border-radius: 30px;
					font-size: calc(53vw/12);
				}
			}
		}

		.ls_btn {
			margin: 0;
			a {
				padding: 2.5% 0;
				border-radius: 30px;
				border: 1.5px solid #138745;
				font-size: calc(55vw/12);
				letter-spacing: 1.6px;
				span {
					font-size: calc(58vw/12);
				}

				&:hover {
					background: #138745;
					color: #fff;
					opacity: 1;
				}
			}
		}


		.c_nineteen {
			padding: 0 0 4%;
			margin: 2.5% 0 0;
			.bagg {
				padding: 0.8% 2.5%;
				margin: 0 0 0.5% 0;
				font-size: calc(28vw/12);
				letter-spacing: 1.4px;
			}

			figure {
				margin: 0 0 4%;
			}
			.c_19h {
				margin: 2.2% 0 0;
				font-size: calc(44vw/12);
			}
			.c_19t {
				margin: 2.5% 0 0 0;
				font-size: calc(44vw/12);
				line-height: 1.3;
			}
			.c_btn {
				margin: 6% 0 0;
				a {
					padding: 3% 0;
					border-radius: 35px;
					font-size: calc(42vw/12);
				}
			}
			.c19_item {
				li {
					padding: 2% 0;
				}
			}
		}
	}
	.c_s {
		padding: 0;
	}

	.cbl_ls {
		padding: 7% 0 6%;
	}

	.point {
		padding: 7% 0 4%;
		.p_h {
			width: 93%;
			margin: 0 auto;
		}
	}

	.banner {
		.b_wrap {
			padding: 4% 4.5% 5.8%;
		}
		.b_h {
			font-size: calc(52vw/12);
		}
		.b_t {
			margin: 3.2% 0 0;
			font-size: calc(40vw/12);
			line-height: 1.5;
		}
		.b_btn {
			margin: 4.8% 0 0;
			a {
				padding: 3.5% 0;
				border-radius: 5px;
				font-size: calc(44vw/12);
				letter-spacing: 1.3px;
			}
		}
	}
	.gline {
		padding: 0 0 3%;
		.g_w {
			height: 17px;
		}
	}

	.genre {
		padding: 1% 0 7%;
		.wrap {
			padding: 3% 0 0;
			margin: 0 5%;
		}
		.g_h {
			font-size: calc(52vw/12);
		}
		.g_item {
			margin: 6% 0 0;
			li {
				float: left;
				width: 48%;
				margin: 0 0 0 4%;

				&:nth-child(2n+1) {
					margin: 4% 0 0 0;
				}
				&:nth-child(2n+2) {
					margin: 4% 0 0 4%;
				}
				&:nth-child(1) {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 4%;
				}
				a {
					padding: 8% 0;
					border: 1px solid #138745;
					border-radius: 4px;
					font-size: calc(46vw/12);
					letter-spacing: 1.2px;
					&:hover {
						background:none;
						color:#138745;
					}
				}
			}
		}
	}

	aside {
		padding: 2% 0 4%;
		.f_d {
			padding: 0.2% 0 0;
			dt {
				margin: 6.5% 0 0;
				font-size: calc(46vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(39vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(33vw/12);
				}
				.f_item {
					margin: 2.3% 0 0 5.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(34vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.3;
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(34vw/12);
		}
	}

	footer {
		padding: 4.5% 0 4.5%;
		.wrap {
			padding: 0 0 5%;
			margin: 0 5%
		}
		.copy {
			margin: 4% 0 6%;
			li {
				margin: 1% 0 0 0;
				line-height: 1.3;
				font-size: calc(28vw/12);
			}
		}
		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 8px 0 0;
				a {
					padding: 0 5px 0 0;
					font-size: calc(30vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(28vw/12);
			letter-spacing: 0.5px;
		}
	}

}
@media screen and (max-width: 414px) {

}













@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 1.5s 1 forwards; }
.ani_list01 {
	opacity: 0;
}


