
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #fff;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; }


.wrap{
	max-width: 768px;
	margin: 0 auto;
}

header {
	.logo {
		background: #000;
		padding: 13px 0 15px 20px;
		span {
			display: block;
			max-width:  151px;
		}
	}
	.h_wrap {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/f76da0b7b0e5df1cd9e191c9d28e6377_d88bef6b946964c34d7e1ff3b52327e2.png) center center repeat;

		.h_box {
			max-width: 768px;
			padding: 33px 0 35px;
			margin: 0 auto;
			.h_h {
				max-width: 647px;
				margin: 0 auto;
			}
		}
		.h_btn {
			max-width: 647px;
			padding: 12px 0;
			margin: 27px auto 0;
			border: 3px solid #fff;
			border-radius: 30px;
			text-align: center;
			letter-spacing: 1.4px;
			font-weight: bold;
			font-size: 28px;
			color: #fff;
		}
	}
}

.cp {
	padding: 60px 0 60px;
	background: #efefef;
	.c_img {
		max-width: 527px;
		margin: 0 auto;
	}
	h2 {
		max-width: 575px;
		margin: 20px auto 0;
	}
	.c_date{
		margin: 24px 0 0;
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		span {
			font-size: 27px;
		}
	}
}

.entry {
	background: #fff;
	padding: 50px 0 70px;
	.e_item {
		margin: 8px 0 0 18px;
		li {
			position: relative;
			padding: 21px 0 0 50px;
			font-size: 24px;
			counter-increment: count;

			&:before {
				content: counter(count);
				position: absolute;
				left: 0;
				top: 15px;
				background: #a1882f;
				background-repeat: no-repeat;
				width: 37px;
				height: 37px;
				line-height: 35px;
				border-radius: 50%;
				font-weight: bold;
				text-align: center;
				color: #fff;
			}
		}
	}
}
.e_h {
	padding: 0 0 0 12px;
	line-height: 1.5;
	border-left: 6px solid #a1882f;
	letter-spacing: 1.3px;
	font-size: 30px;
}
.eh_sec {
	margin: 64px 0 0;
}

.contents {
	margin: 47px 0 0;

	.c_wrap {
		margin: 37px 0 0;
		li {
			padding: 29px 0 27px;
			border-top: 1px solid #606060;
		}
	}
	.c_present {
		overflow: hidden;
		dd {
			float: left;
			width: 53%;
			line-height: 0;
		}
		dt {
			float: left;
			width: 44%;
			padding: 0 0 0 3%;
			.prog {
				font-weight: bold;
				font-size: 19px;
				line-height: 1.4;
				color: #666;
			}

			.t_h {
				margin: 9px 0 0;
				font-weight: bold;
				font-size: 25px;
				line-height: 1.4;
				letter-spacing: 1px;
			}
			.numb {
				display: inline-block;
				background: #a1882f;
				padding: 5px 20px;
				margin: 12px 0 0;
				border-radius: 15px;
				font-weight: bold;
				font-size: 22px;
				letter-spacing: 1.3px;
				color: #fff;
			}
			.caution {
				margin: 18px 0 0;
				font-size: 18px;
				line-height: 1.3;
				color: #8c8c8c;
			}
		}
	}
	.c_btn {
		margin: 55px 0 0;
		a {
			display: block;
			background: none;
			border-radius: 6px;
			border: 2px solid #a1882f;
			padding: 21px 0;
			text-align: center;
			border-radius: 6px;
			font-size: 27px;
			font-weight: bold;
			letter-spacing: 1.3px;
			color: #a1882f;
		}
	}
	.c_more {
		margin: 30px 0 0;
		text-align: right;
		a {
			display: inline-block;
			font-weight: bold;
			font-size: 30px;
			letter-spacing: 1.2px;
			color: #a1882f;
		}
	}
}
.contents_sec {
	margin: 0;
	.c_wrap {
		margin: 0;
	}
}

.line {
	background: #efefef;
	height: 35px;
}
.line_nex {
	margin: 30px 0 0;
}

.genre {
	padding: 55px 0 40px;
	.g_h {
		font-size: 32px;
		span {
			display: block;
			margin: 12px 0 0;
			font-weight: bold;
			font-size: 20px;
			letter-spacing: 1.3px;
			color: #666;
		}
	}
	.g_item {
		overflow: hidden;
		margin: 40px 0 0;
		li {
			float: left;
			width: 48.5%;
			margin: 0 0 0 3%;

			&:nth-child(2n+1) {
				margin: 3% 0 0 0;
			}
			&:nth-child(2n+2) {
				margin: 3% 0 0 3%;
			}
			&:nth-child(1) {
				margin: 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 3%;
			}
			a {
				display: block;
				padding: 25px 0;
				border: 2px solid #a1882f;
				border-radius: 6px;
				text-align: center;
				font-size: 28px;
				font-weight: bold;
				letter-spacing: 1.3px;
				color: #a1882f;
				&:hover {
					background: #a1882f;
					color: #fff;
				}
			}
		}
	}
}


.banner_b {
	padding: 40px 0;
	margin: 0 0 20px;
	.wrap {
		max-width: 768px;
		margin: 0 auto;
		.b_b_btn {
			max-width: 768px;
			margin: 0 auto;
			border-radius: 6px;
			a {
				position: relative;
				display: block;
				position: relative;
				padding: 20px;
				border: 2px solid #a1882f;
				border-radius: 6px;
				font-size: 24px;
				font-weight: bold;
				line-height: 1.3;
				color: #a1882f;
				&:after {
					content: '';
					position: absolute;
					top: 36%;
					right: 3%;
					background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/6fe05918a664f995862ae966e4c71d70_c18662eadd5bc503225a72cdb45338e0.png) 0 0 no-repeat;
					background-size: 20px 34px;
					width: 20px;
					height: 34px;
				}

				span {
					display: block;
					font-size: 19px;
					color: #000;
				}
			}
		}
	}
}

aside {
	background: #efefef;
	padding: 17px 0 66px;
	.wrap {
		max-width: 768px;
		margin: 0 auto;
	}
	.f_d {
		dt {
			margin: 40px 0 0;
			font-size: 28px;
			letter-spacing: 1.4px;
			font-weight: 600;
			color: #666;
		}
		dd {
			margin: 25px 0 0;
			font-size: 24px;
			line-height: 1.45;
			letter-spacing: 1.4px;
			color: #666;
			.caution {
				display: block;
				margin: 12px 0 0;
				font-size: 20px;
			}
			.f_item {
				margin: 15px 0 0 35px;
				li {
					margin: 6px 0 0;
					line-height: 1.4;
					font-size: 20px;
				}
			}
			a {
				color: #a1882f;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.dd_last {
			line-height: 1.2;
		}
	}
	.f_c {
		margin: 15px 0 0;
		line-height: 1.3;
		font-size: 20px;
	}
}
footer {
	background: #efefef;
	padding: 35px 0 180px;
	border-top: 1px solid #606060;
	.copy {
		overflow: hidden;
		margin: 0 0 40px;
		li {
			float: left;
			margin: 5px 0 0;
			line-height: 1.3;
			font-size: 16px;
			color: #666666;
		}
	}
	.f_list {
		overflow: hidden;
		margin: 10px 0 0;
		li {
			position: relative;
			float: left;
			margin: 0 10px 0 0;
			a {
				display: block;
				padding: 0 12px 0 0;
				font-size: 15px;
				color: #666666;
			}
			&:after {
				content: ' | ';
				position: absolute;
				top: 0;
				right: 0;
				color: #666666;
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	small {
		display: block;
		margin: 30px 0 0;
		font-size: 16px;
		letter-spacing: 1.3px;
		color: #666666;
	}
}


@media screen and (max-width: 768px) {
	.wrap {
		padding: 0 5%;
	}
	header {
		.logo {
			padding: 1.53% 0 1.58% 2.5%;
			line-height: 0;

			span {
				line-height: 0;
				width: 21%;
			}
		}

		.h_wrap {
			background: url(https://bit.ly/2HX9qKv) center center no-repeat;
			background-size: cover;
			.h_box {
				padding: 4.6% 0 4.4%;
				.h_h {
					width: 85%;
				}
			}
			.h_btn {
				width: 85%;
				padding: 1.5% 0;
				margin: 4% auto 0;
				border: 3px solid #fff;
				border-radius: 30px;
				letter-spacing: 1.6px;
				font-size: calc(44vw/12);
			}
		}
	}
	.cp {
		padding: 8% 0 8%;
		.c_img {
			width: 71%;
		}
		h2 {
			width: 77%;
			margin: 3.2% auto 0;
		}
		.c_date{
			margin: 3.5% 0 0;
			font-size: calc(38vw/12);
			span {
				font-size: calc(40vw/12);
			}
		}
	}
	.entry {
		padding: 7% 0 8%;
		.e_item {
			margin: 2% 0 0 2%;
			li {
				position: relative;
				padding: 2.6% 0 0 8%;
				font-size: 24px;
				line-height: 1.3;
				counter-increment: count;

				&:before {
					content: counter(count);
					position: absolute;
					left: 0;
					top: 15px;
					background: #a1882f;
					width: 34px;
					height: 34px;
					line-height: 33px;
				}
			}
		}
	}
	.e_h {
		padding: 0 0 0 2%;
		line-height: 1.5;
		border-left: 4.5px solid #a1882f;
		letter-spacing: 1.2px;
		font-size: calc(47vw/12);
	}
	.eh_sec {
		margin: 6% 0 0;
	}
	.contents {
		margin: 6.3% 0 0;

		.c_wrap {
			margin: 4.2% 0 0;
			li {
				padding: 3.6% 0 3.4%;
			}
		}
		.c_present {
			overflow: hidden;
			dd {
				float: left;
				width: 57%;
				line-height: 0;
			}
			dt {
				float: left;
				width: 39%;
				padding: 0 0 0 4%;
				.prog {
					font-size: calc(30vw/12);
					line-height: 1.35;
				}

				.t_h {
					font-size: calc(39vw/12);
					line-height: 1.3;
					letter-spacing: 1.3px;
				}
				.numb {
					padding: 2% 8%;
					margin: 4.5% 0 0;
					border-radius: 16px;
					font-size: calc(36vw/12);
				}
				.caution {
					margin: 6.5% 0 0;
					font-size: calc(28vw/12);
					line-height: 1.3;
				}
			}
		}
		.c_btn {
			margin: 6% 0 0;
			a {
				padding: 2.8% 0;
				border-radius: 5px;
				font-size: calc(46vw/12);
				letter-spacing: 1.3px;
			}
		}
		.c_more {
			margin: 2% 0 0;
			a {
				font-size: calc(49vw/12);
				letter-spacing: 1.2px;
			}
		}
	}
	.contents_sec {
		margin: 0;
		.c_wrap {
			margin: 0;
		}
	}

	.line {
		height: 28px;
	}
	.line_nex {
		margin: 5% 0 0;
	}

	.genre {
		padding: 8% 0 5%;
		.g_h {
			font-size: calc(50vw/12);
			span {
				margin: 2.2% 0 0;
				font-size: calc(32vw/12);
				letter-spacing: 1.3px;
			}
		}
		.g_item {
			margin: 6% 0 0;
			li {
				float: left;
				width: 48%;
				margin: 0 0 0 4%;

				&:nth-child(2n+1) {
					margin: 4% 0 0 0;
				}
				&:nth-child(2n+2) {
					margin: 4% 0 0 4%;
				}
				&:nth-child(1) {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 4%;
				}
				a {
					padding: 8% 0;
					border: 2px solid #a1882f;
					border-radius: 5px;
					font-size: calc(44vw/12);
					letter-spacing: 1.3px;
					&:hover {
						background:none;
						color:#a1882f;
					}
				}
			}
		}
	}

	.banner_b {
		padding: 4% 0;
		margin: 0 0 3%;

		.wrap {
			.b_b_btn {
				border-radius: 5px;
				a {
					padding: 3.8%;
					font-size: calc(39vw/12);
					line-height: 1.3;
					&:after {
						top: 36%;
						right: 3%;
						background-size: 16px 27px;
						width: 16px;
						height: 27px;
					}
					span {
						font-size: calc(31vw/12);
					}
				}
			}
		}
	}
	aside {
		padding: 2% 0 9%;
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(44vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(37vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(31vw/12);
				}
				.f_item {
					margin: 2.3% 0 0 5.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(32vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(32vw/12);
		}
	}

	footer {
		padding: 5% 0 20%;
		.wrap {
			padding: 0 5% 0;
		}
		.copy {
			margin: 0 0 6%;
			li {
				margin: 1% 0 0;
				line-height: 1.3;
				font-size: calc(25vw/12);
			}
		}
		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 10px 0 0;
				a {
					padding: 0 12px 0 0;
					font-size: 13px;
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(26vw/12);
			letter-spacing: 1.3px;
		}
	}

}
@media screen and (max-width: 480px) {
	.wrap {
		padding: 0 5%;
	}
	header {
		.logo {
			padding: 1.53% 0 1.58% 2.5%;
			span {
				width: 21%;
			}
		}

		.h_wrap {
			.h_box {
				padding: 5% 0 5.1%;
				.h_h {
					width: 86%;
				}
			}
			.h_btn {
				width: 85%;
				padding: 1.5% 0;
				margin: 4% auto 0;
				border: 1.5px solid #fff;
				border-radius: 30px;
				letter-spacing: 1.7px;
				font-size: calc(44vw/12);
			}
		}
	}
	.cp {
		padding: 6.5% 0 6.8%;
		.c_img {
			width: 73%;
		}
		h2 {
			width: 84%;
			margin: 2% auto 0;
		}
		.c_date{
			margin: 2.5% 0 0;
			font-size: calc(40vw/12);
			span {
				font-size: calc(42vw/12);
			}
		}
	}
	.entry {
		padding: 7% 0 8%;
		.e_item {
			margin: 2% 0 0 2%;
			li {
				position: relative;
				padding: 2.6% 0 0 8%;
				font-size: 24px;
				line-height: 1.3;
				counter-increment: count;

				&:before {
					content: counter(count);
					position: absolute;
					left: 0;
					top: 15px;
					background: #a1882f;
					width: 34px;
					height: 34px;
					line-height: 33px;
				}
			}
		}
	}
	.e_h {
		padding: 0 0 0 2%;
		line-height: 1.5;
		border-left: 4.5px solid #a1882f;
		letter-spacing: 1.2px;
		font-size: calc(42vw/12);
	}
	.eh_sec {
		margin: 7% 0 0;
	}
	.contents {
		margin: 6.3% 0 0;

		.c_wrap {
			margin: 4.2% 0 0;
			li {
				padding: 3.6% 0 3.4%;
			}
		}
		.c_present {
			overflow: hidden;
			dd {
				float: left;
				width: 57%;
				line-height: 0;
			}
			dt {
				float: left;
				width: 39%;
				padding: 0 0 0 4%;
				.prog {
					font-size: calc(30vw/12);
					line-height: 1.35;
				}

				.t_h {
					font-size: calc(39vw/12);
					line-height: 1.3;
					letter-spacing: 1.3px;
				}
				.numb {
					padding: 2% 8%;
					margin: 4.5% 0 0;
					border-radius: 16px;
					font-size: calc(36vw/12);
				}
				.caution {
					margin: 6.5% 0 0;
					font-size: calc(28vw/12);
					line-height: 1.3;
				}
			}
		}
		.c_btn {
			margin: 6% 0 0;
			a {
				padding: 2.8% 0;
				border-radius: 5px;
				font-size: calc(46vw/12);
				letter-spacing: 1.3px;
			}
		}
		.c_more {
			margin: 2% 0 0;
			a {
				font-size: calc(49vw/12);
				letter-spacing: 1.2px;
			}
		}
	}
	.contents_sec {
		margin: 0;
		.c_wrap {
			margin: 0;
		}
	}

	.line {
		height: 17px;
	}
	.line_nex {
		margin: 4% 0 0;
	}

	.genre {
		padding: 6% 0 5%;
		.g_h {
			font-size: calc(52vw/12);
			span {
				margin: 2.2% 0 0;
				font-size: calc(34vw/12);
				letter-spacing: 1.3px;
			}
		}
		.g_item {
			margin: 6% 0 0;
			li {
				float: left;
				width: 48%;
				margin: 0 0 0 4%;

				&:nth-child(2n+1) {
					margin: 4% 0 0 0;
				}
				&:nth-child(2n+2) {
					margin: 4% 0 0 4%;
				}
				&:nth-child(1) {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 4%;
				}
				a {
					padding: 8% 0;
					border: 1px solid #a1882f;
					border-radius: 4px;
					font-size: calc(46vw/12);
					letter-spacing: 1.2px;
					&:hover {
						background:none;
						color:#a1882f;
					}
				}
			}
		}
	}

	.banner_b {
		padding: 3.5% 0;
		margin: 0 0 3%;

		.wrap {
			.b_b_btn {
				border-radius: 5px;
				a {
					padding: 3.8%;
					font-size: calc(44vw/12);
					border: 1px solid #a1882f;
					line-height: 1.35;
					&:after {
						top: 37%;
						right: 3%;
						background-size: 10px 17px;
						width: 10px;
						height: 17px;
					}
					span {
						font-size: calc(33vw/12);
					}
				}
			}
		}
	}
	aside {
		padding: 2% 0 9%;
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(46vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(39vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(33vw/12);
				}
				.f_item {
					margin: 2.3% 0 0 5.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(34vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.3;
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(34vw/12);
		}
	}

	footer {
		padding: 4.5% 0 22%;
		.wrap {
			padding: 0 5% 0;
		}
		.copy {
			margin: 0 0 6%;
			li {
				margin: 1% 0 0;
				line-height: 1.3;
				font-size: calc(27vw/12);
			}
		}
		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 8px 0 0;
				a {
					padding: 0 10px 0 0;
					font-size: 10px;
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(28vw/12);
			letter-spacing: 0.5px;
		}
	}

}



.hi {
	opacity: 0;
}
@keyframes item_sp { 100% { opacity: 1; } }
.a01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
.a02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.9s 1 forwards; }
.a03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.3s 1 forwards; }
.a04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.7s 1 forwards; }



@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}

