





.blog-article__header {
	max-width: 840px;
	margin: 0 auto;
}

.blog-article__content {
	max-width: 840px;
	margin: 0 auto;
}
.blog-article__footer {
	max-width: 840px;
	margin: 0 auto;
}
.complementary-outer {
	max-width: 840px;
	margin: 0 auto;
}

.ogp  {
	display: none;
}

























