* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #8c8c8c;
  margin: 0 auto;
  background: #ffffff;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

.wrap {
  max-width: 768px;
  margin: 0 auto;
}

header {
  background: #000;
}
header .header_logo {
  max-width: 193px;
  padding: 12px 0 16px 20px;
  line-height: 0;
}
header .header_inner {
  background: url(https://bit.ly/2QAy8Vw) center 0 repeat-x;
  background-size: contain;
  padding: 60px 0 128px;
  text-align: center;
}
header .header_pop {
  max-width: 420px;
  margin: 0 auto 0;
}
header .header_heading {
  max-width: 550px;
  margin: 20px auto 0;
}
header .header_text {
  max-width: 420px;
  margin: 40px auto 0;
}

@media screen and (max-width: 950px) {
  header .header_logo {
    max-width: 140px;
    padding: 12px 0 16px 20px;
  }
  header .header_inner {
    padding: 5% 0 10.3%;
  }
  header .header_pop {
    width: 43%;
  }
  header .header_heading {
    margin: 1.5% auto 0;
    width: 50%;
  }
  header .header_text {
    margin: 3.5% auto 0;
    width: 44%;
  }
}
@media screen and (max-width: 650px) {
  header .header_logo {
    max-width: 120px;
    padding: 1.2% 0 1.4% 2%;
  }
  header .header_inner {
    padding: 5% 0 10.3%;
  }
  header .header_pop {
    width: 60%;
  }
  header .header_heading {
    margin: 1.5% auto 0;
    width: 65%;
  }
  header .header_text {
    width: 60%;
  }
}
.ani_list01, .ani_list02, .ani_list03 {
  opacity: 0;
}

@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes item_list {
  100% {
    opacity: 1;
  }
}
@keyframes item_list {
  100% {
    opacity: 1;
  }
}
.ani_list01 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 2.5s 1 forwards;
}

.ani_list02 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 3.2s 1 forwards;
}

.ani_list03 {
  -webkit-animation: item_sp 0.5s ease 1s 1 forwards;
  animation: item_sp 1s ease 3.9s 1 forwards;
}
