
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; height: auto;}



.fl {
	font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
}
.fd {
	font-family: 'M PLUS Rounded 1c', sans-serif !important;
}
.fs {
	font-family: 'Noto Sans JP', sans-serif!important;
}
.ko {
	font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif !important;
}
.pc {
	display: block;
}
.sp {
	display: none;
}
.ssp {
	display: block;
}

.line_w {
	max-width: 768px;
	margin: 0 auto;
	.wrap_w {
		background: #efefef;
		height: 38px;
	}
}

.bn {
	border: none !important;
}
.bb {
	border-bottom: 1px solid #606060 !important;
}
.pb_no {
	padding-bottom: 0 !important;
}

.tc {
	text-align: center !important;
	padding: 0 !important;
}
.pb30 {
	padding: 0 0 35px !important;
}
.mb10 {
	margin: 0 0 10px 0 !important;
}
.mn {
	margin: 0 !important;
}
.mt10 {
	margin: 10px 0 0 !important;
}
.mt20 {
	margin: 20px 0 0 !important;
}
.mt30 {
	margin: 30px 0 0 !important;
}
.mt40 {
	margin: 40px 0 0 !important;
}
.mt50 {
	margin: 50px 0 0 !important;
}
.mt60 {
	margin: 60px 0 0 !important;
}
.mt70 {
	margin: 70px 0 0 !important;
}
.mt80 {
	margin: 80px 0 0 !important;
}

.pc {
	display: block;
}
.sp {
	display: none;
}
.cl {
	color: #e6a900;
}

header {
	padding: 0;
	.h_l {
		max-width: 140px;
		padding: 12px 0 12px 24px;
		line-height: 0;
	}
	.h_a {
		position: relative;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/3bb3ea4594602963c2cbaad5ba2c6f9c_357b82186d0422242437f00ea3aaca1c.png) center top no-repeat;
		height: 1050px;
		padding: 0 0 0;
		margin: 0 auto;
	}
	.h_w {
		padding: 35px 0 0;
	}

	.h_m {
		max-width: 680px;
		margin: 0 auto 0;
		line-height: 0;
	}
	.h_t {
		max-width: 709px;
		margin: 40px auto 0;
		line-height: 0;
	}
	.h_b {
		margin: 27px 0 0;
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 1.6px;
		span {
			display: inline-block;
			margin: 0 2px 0 0;
			font-size: 39px;
		}
	}
	.case {
		position: relative;
		max-width: 680px;
		padding: 31px 0 46px;
		margin: 60px auto 0;
		border: 3px solid #fff;
		border-radius: 20px;
		.c_cen {
			position: absolute;
			top: -4px;
			left: 25%;
			background: #000;
			padding: 0 25px;
			line-height: 0.3;
			font-size: 26px;
			font-weight: bold;
			letter-spacing: 3.6px;
		}

		.t_item {
			counter-reset: number 0;
			padding: 0 0 20px;
			margin: 0 32px 0;
			border-bottom: 1px solid #ababab;
			li {
				counter-increment: count;
				position: relative;
				padding: 0 0 0 45px;
				margin: 11px 0 0;
				line-height: 1.51;
				counter-reset: number;
				font-size: 24px;
				letter-spacing: 1.2px;
				span {
					display: inline-block;
					margin: 0 0.2%;
					letter-spacing: 2px;
					font-size: calc(40vw/12);
				}

				&:before {
					content: '';
					content: counter(count);
					position: absolute;
					top: 2px;
					left: 8px;
					border-radius: 50%;
					text-align: center;
					font-weight: bold;
					font-size: 23px;
					font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
					z-index: 30;
					color: #000;
				}
				&:after {
					content: '　';
					position: absolute;
					top: 6px;
					left: 0;
					background: #fff;
					width: 30px;
					height: 30px;
					z-index: 20;
					border-radius: 50%;
				}
			}
		}
		.t_cau {
			margin: 25px 0 0;
			font-size: 16px;
			letter-spacing: 1.3px;
			text-align: center;
		}
		.t_date {
			margin: 18px 0 0;
			font-size: 20px;
			letter-spacing: 1.3px;
			text-align: center;
		}
	}
	.h_btn {
		max-width: 680px;
		margin: 42px auto 0;
		a {
			display: block;
			background: #ddaa00;
			padding: 26px 0;
			border-radius: 6px;
			text-align: center;
			font-size: 28px;
			font-weight: bold;
			letter-spacing: 1.3px;
			color: #000;
		}
	}
	.h_date {
		margin: 22px auto 0;
		text-align: center;
		font-size: 20px;
		letter-spacing: 1.3px;
		span {
			font-size: 22px;
		}
	}
}



.i_m {
	margin: 81px 0 0;
}

.p_top {
	margin: 56px 0 20px;
	text-align: right;
	a {
		display: inline-block;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 1.1px;
		color: #fff;

		span {
			font-size: 34px;
		}
	}
}

.contents {
	margin: 0;
	.wrap {
		max-width: 715px;
		margin: 0 auto;
	}
	.merit {
		max-width: 680px;
		margin: 0 auto;
	}
	.m_wp {
		padding: 62px 0 0;
		margin: 52px auto 0;
	}
	.c_h {
		padding: 0 0 0 18px;
		border-left: 5px solid #e5c200;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 1.8px;
		line-height: 1.4;
		color: #fff;
		span {
			font-size: 34px;
		}
	}
	.c_s_h {
		max-width: 489px;
		margin: 60px auto 60px;
		line-height: 0;
	}

	.c_re {
		background: #1f2020;
		padding: 39px 20px 40px;
		margin: 36px 0 0;
		text-align: center;
		border-radius: 8px;
		font-size: 28px;
		font-weight: bold;
		letter-spacing: 1.3px;
		span {
			font-size: 31px;
		}
		figure {
			margin: 40px 0 0;
		}
		.c_cau {
			margin: 20px 0 0;
			font-size: 14px;
			color: #ababab;

		}
	}

	.c_lob {
		background: #1f2020;
		padding: 39px 20px 40px;
		border-radius: 15px;
		.cb_text{
			padding: 0;
			margin: 27px 0 0;
			text-align: center;
			font-size: 17px;
			line-height: 1.4;
			letter-spacing: 0.5px;
			color: #ababab;
		}
		.icon {
			background: #ddaa00;
			width: 284px;
			margin: 0 auto 0;
			padding: 12px 0;
			border-radius: 30px;
			font-size: 26px;
			font-weight: bold;
			text-indent: 0.8rem;
			letter-spacing: 1.3px;
			text-align: center;
			color: #000;
		}
		.c_img {
			max-width: 290px;
			margin: 38px auto 0;
		}

		.c_ih {
			margin: 38px auto 0;
			text-align: center;
			line-height: 1.6;
			letter-spacing: 1.3px;
			font-size: 32px;
		}

		.c_it {
			margin: 31px 0 0;
			text-align: center;
			font-size: 27px;
			line-height: 1.5;
			letter-spacing: 1.4px;
			font-weight: bold;
			.clr {
				color: #e6c300;
			}
			.num {
				font-size: 29px;
			}
		}

		.pic {
			margin: 32px auto 0;
			max-width: 644px;
			line-height: 0;
		}
		.copy_c {
			max-width: 644px;
			margin: 5px auto 0;
			font-size: 10px;
			text-align: right;
			color: #777;
		}

		.caution {
			margin: 10px 0 0;
			text-align: center;
			font-size: 13px;
			line-height: 1.5;
			color: #ababab ;
		}
		.ch_btn {
			margin: 6% auto 0;
			a {
				display: block;
				background: #ddaa00;
				padding: 26px 0;
				border-radius: 6px;
				text-align: center;
				letter-spacing: 1.4px;
				font-size: 28px;
				font-weight: bold;
				color: #fff;
			}
		}
		.ch_caution {
			margin: 25px 0 0;
			text-align: center;
			font-size: 13px;
			color: #ababab;
		}
	}


	.c_btn {
		margin: 38px 0 0;
		a {
			display: block;
			background: #e5c200;
			padding: 18px 0;
			border-radius: 6px;
			text-align: center;
			font-size: 25px;
			font-weight: bold;
			color: #000;
		}
	}
	.c_wrap {
		padding: 62px 0 0;
		margin: 62px 0 0;
		border-top: 1px solid #404040;
	}
	.w_c {
		margin: 62px 0 0;
	}
	.cw_l {
		margin: 62px 0 0;
	}
	.ch_m {
		margin: 60px 0 0;
	}
	.c_t {
		padding: 30px 0 0 16px;
		font-size: 26px;
		line-height: 1.3;
		letter-spacing: 1.2px;
		color: #ababab;
	}
	.c_inner {
		padding: 62px 0 0;
		margin: 62px 0 0;
		border-top: 1px solid #606060;
	}
	.c_p {
		max-width: 427px;
		margin: 60px auto 0;
	}
	.c_box {
		overflow: hidden;
		margin: 60px 0 0;
		border-radius: 8px;
		li {
			background: #202121;
			float: left;
			width: 47.5%;
			max-width: 321px;
			padding: 0 0 35px;
			margin: 5% 0 0 5%;
			border-radius: 0 0 8px 8px;
			box-sizing: border-box;
			&:first-child {
				margin: 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 5%;
			}
			&:nth-child(3) {
				margin: 5% 0 0 0;
			}
			.icon {
				margin: 0 auto;
				line-height: 0;
			}

			.c_it {
				margin: 25px 0 0;
				text-align: center;
				font-size: 26px;
				font-weight: normal;
				line-height: 1.5;
				letter-spacing: 1.4px;
				font-family: 'Noto Sans JP', sans-serif!important;
				color: #ababab;
				.h_ss {
					font-size: 27px;
					font-weight: bold;
					color: #fff;
					font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
				}
				.clr {
					color: #e6c300;
				}
				.num {
					display: inline-block;
					margin: 0 10px 0 0;
					font-size: 30px;
					font-weight: bold;
					color: #fff;
				}
			}
		}
		.ch_btn {
			margin: 6% auto 0;
			a {
				display: block;
				background: #e5c200;
				padding: 26px 0;
				border-radius: 6px;
				text-align: center;
				font-size: 28px;
				font-weight: bold;
				color: #000;
			}
		}
	}
}

.p_up {
	background: #fff;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
	}
	.p_u_box {
		padding: 63px 0 0;
		text-align: center;

		&:nth-of-type(2) {
			.p_icon {
				margin: 0 auto 0;
			}
		}
	}
	.sece {
		padding: 49px 0 0;
	}
	.thri {
		padding: 63px 0 0;
	}
	.p_h {
		position: relative;
		display: inline-block;
		padding: 0 25px 0 30px;
		margin: 0 auto;
		font-size: 24px;
		line-height: 0.7;
		letter-spacing: 1.5px;
		&:before {
			content: '';
			position: absolute;
			top: -4px;
			left: 0;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/200ff3fa83d7d83f32fc93923870144e_02e0faa2c7a459e0c3591002fb86f154.png) 0 0 no-repeat;
			background-size: 18px 30px;
			width: 18px;
			height: 30px;
		}

		&:after {
			content: '';
			position: absolute;
			top: -4px;
			right: 0;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/55ca0c51da555f48c1c75c5fd7f4e0af_52a5edc7d03df877f11a9d308102eb9a.png) 0 0 no-repeat;
			background-size: 18px 30px;
			width: 18px;
			height: 30px;
		}
		.num {
			font-size: 27px;
			letter-spacing: 1.5px;
		}
	}
	.p_img {
		max-width: 532px;
		margin: 31px auto 0;
	}

	.pu_i {
		background: #1a1a1a;
		padding: 40px 18px 45px;
		border-radius: 8px;
	}
	.p_icon {
		max-width: 139px;
		margin: 0 auto 0;
	}
	.p_ise {
		max-width: 139px;
		margin: 0 auto 0;
	}
	.p_text {
		margin: 17px 0 0;
		font-size: 40px;
		font-weight: bold;
		letter-spacing: 1.5px;
		line-height: 1.4;
		.cl {
			color: #ddaa00;
		}
		.ss {
			display: inline-block;
			margin: 0 2px;
			font-size: 28px;
		}
	}
	.p_s_t {
		margin: 17px 0 0;
		font-size: 40px;
		font-weight: bold;
		font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
		letter-spacing: 1.5px;
		line-height: 1.4;
		.cl {
			color: #ddaa00;
		}
		.sin {
			font-size: 38px;
		}
	}
	.p_i {
		margin: 15px auto 0;
		line-height: 0;
	}
	.p_plot {
		margin: 40px 0 0;
		font-size: 38px;
		font-weight: bold;
		letter-spacing: 1.6px;
		.num {
			font-size: 41px;
		}
		.ss {
			display: inline-block;
			margin: 0 0.15%;
			font-size: 28px;
		}
		.cl {
			color: #ddaa00;
		}
	}
	.c_five {
		margin: 0;
		.c_five_li {
			padding: 45px 0;
			margin: 0;
			border-radius: 0;

			&:first-child {
				padding: 61px 0 0;
				border-top: none;
			}
			&:nth-child(2) {
				padding: 47px 0 0;
			}

			a {
				display: block;
			}
			dl {
				display: flex;
				align-items: center;
			}
			dd {
				line-height: 0;
				width: 48%;
			}
			dt {
				width: 48%;
				padding: 0 0 0 4%;
				font-size: 23px;
				line-height: 1.4;
				text-align: left;
				font-weight: bold;
				color: #fff;
				span {
					display: block;
					font-size: 26px;
					color: #ddaa00;
				}
			}
		}
		.f_btn {
			margin: 27px 0 0;
			a {
				display: block;
				padding: 23px 0;
				border: 4px solid #ddaa00;
				border-radius: 6px;
				text-align: center;
				font-size: 26px;
				font-weight: bold;
				letter-spacing: 1.6px;
				color: #ddaa00;

				&:hover {
					opacity: 1;
					background: #ddaa00;
					color: #fff;
				}
			}
		}
	}

	.c_twenty {
		.t_i {
			display: flex;
			flex-flow: row wrap;
			margin: 50px 0 0;
			li {
				justify-content: flex-end;
				box-sizing: border-box;
				width: 30.8%;
				margin: 2.8% 0 0 3.7%;

				&:nth-child(3n+1) {
					margin: 2.8% 0 0;
				}

				&:nth-child(3) {
					margin: 0 0 0 3.7%;
				}
				&:nth-child(2) {
					margin: 0 0 0 3.7%;
				}
				&:nth-child(1) {
					margin: 0;
				}
				img {
					line-height: 0;
				}
			}
		}
		.c_btn {
			margin: 38px auto 0;
			max-width: 654px;
			a {
				display: block;
				background: #e5c200;
				padding: 18px 0;
				border-radius: 6px;
				text-align: center;
				font-size: 25px;
				font-weight: bold;
				color: #000;
			}
		}
	}

	.p_date {
		max-width: 306px;
		margin: 0 auto;
	}
	.pu_h {
		max-width: 650px;
		margin: 53px auto 0;
	}
}


.banner {
	background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/cfe68a9f7e85bb668d92cf1a5f729de4_feed16fb6c80b7d81363735070b90600.png) center top no-repeat;
	padding: 37px 0 42px;

	.b_m {
		max-width: 680px;
		margin: 0 auto 0;
		line-height: 0;
	}
	.b_t {
		max-width: 709px;
		margin: 40px auto 0;
		line-height: 0;
	}
	.b_b {
		margin: 32px 0 0;
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 1.6px;
		span {
			display: inline-block;
			margin: 0 2px 0 0;
			font-size: 39px;
		}
	}
	.b_btn {
		max-width: 680px;
		margin: 29px auto 0;
		a {
			display: block;
			background: #ddaa00;
			padding: 26px 0;
			border-radius: 6px;
			text-align: center;
			font-size: 28px;
			font-weight: bold;
			letter-spacing: 1.3px;
			color: #000;
		}
	}
}


aside {
	.wrap {
		max-width: 680px;
		padding: 0 0 26px;
		margin: 13px auto 0;
		border-top: 2px solid #404040;
	}
	.f_d {
		dt {
			margin: 60px 0 0;
			font-size: 28px;
			letter-spacing: 1.4px;
			font-weight: normal;
			color: #fff;
		}
		dd {
			margin: 21px 0 0;
			font-size: 24px;
			line-height: 1.45;
			letter-spacing: 1.4px;
			color: #ababab;
			.caution {
				display: block;
				margin: 12px 0 0;
				font-size: 20px;
			}
			.f_item {
				margin: 15px 0 10px 35px;
				li {
					margin: 6px 0 0;
					line-height: 1.4;
					font-size: 20px;
				}
			}

			a {
				color: #a1882f;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.f_c {
		margin: 15px 0 0;
		line-height: 1.3;
		font-size: 20px;
	}
}

footer {
	background: #000;
	.wrap {
		max-width: 710px;
		margin: 0 auto;
		padding: 40px 0 80px;
		border-top: 2px solid #404040;
	}
	.copy {
		margin: 0 0 32px;
		li {
			width: 100%;
			margin: 5px 0 0 0;
			line-height: 1.3;
			font-size: 16px;
			color: #919191;
		}
	}

	.f_list {
		overflow: hidden;
		margin: 10px 0 10px;
		li {
			position: relative;
			float: left;
			margin: 0 10px 0 0;
			a {
				display: block;
				padding: 0 12px 0 0;
				font-size: 15px;
				color: #919191;
			}
			&:after {
				content: ' | ';
				position: absolute;
				top: 0;
				right: 0;
				color: #919191;
				line-height: 1;
			}
			&:last-child:after {
				content: '';
			}
		}
	}

	small {
		display: block;
		margin: 30px 0 0;
		font-size: 16px;
		letter-spacing: 1px;
		text-align: left;
		color: #919191;
	}
}

// .hana {
// 	opacity: 0;
// }

// @-webkit-keyframes item_sp { 100% { opacity: 1; } }
// @keyframes item_list { 100% { opacity: 1; } }

// .hana { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 2.2s 1 forwards; }




@media screen and (max-width: 768px) {

	.line_w {
		.wrap_w {
			height: 28px;
		}
	}

	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
	.ssp {
		display: block;
	}
	.pb30 {
		padding: 0 0 5% !important;
	}

	.mt10 {
		margin: 1.8% 0 0 !important;
	}
	.mt20 {
		margin: 3% 0 0 !important;
	}
	.mt30 {
		margin: 5% 0 0 !important;
	}
	.mt40 {
		margin: 6% 0 0 !important;
	}
	.mt50 {
		margin: 6.3% 0 0 !important;
	}
	.mt60 {
		margin: 8% 0 0 !important;
	}
	.mt70 {
		margin: 9% 0 0 !important;
	}
	.mt80 {
		margin: 10% 0 0 !important;
	}
	.mb10 {
		margin: 0 0 1.8% 0 !important;
	}
	.mn {
		margin: 0 !important;
	}

	.wrap {
		padding: 0 4.5%;
	}

	header {
		padding: 0;
		.h_l {
			width: 18.8%;
			padding: 1.2% 0 1.2% 2.3%;
		}
		.h_a {
			position: relative;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/39d3c8aedffd4f26600b6e963c942477_249241fa4d35b4267e3cd4b18150b048.png) center top no-repeat;
			background-size: cover;
			height: auto;
			padding: 4.6% 0 7%;
			margin: 0 auto;
		}
		.h_w {
			padding: 0;
		}

		.h_m {
			width: 88.6%;
		}
		.h_t {
			width: 92.6%;
			margin: 6% auto 0;
		}
		.h_b {
			margin: 3.5% 0 0;
			font-size: calc(56vw/12);
			letter-spacing: 1.5px;
			span {
				display: inline-block;
				margin: 0 0.2% 0 0;
				font-size: calc(59vw/12);
			}
		}
		.case {
			position: relative;
			width: 88.6%;
			padding: 5.1% 0 6.5%;
			margin: 8% auto 0;
			border: 3px solid #fff;
			border-radius: 20px;
			.c_cen {
				top: -1%;
				left: 25%;
				padding: 0 4.5%;
				line-height: 0.3;
				font-size: calc(40vw/12);
				letter-spacing: 3.6px;
			}

			.t_item {
				counter-reset: number 0;
				padding: 0 0 4%;
				margin: 0 5% 0;
				li {
					padding: 0 0 0 7.5%;
					margin: 1.5% 0 0;
					line-height: 1.51;
					font-size: calc(37vw/12);
					letter-spacing: 1.2px;
					span {
						display: inline-block;
						margin: 0 0.2%;
						letter-spacing: 2px;
						font-size: calc(40vw/12);
					}

					&:before {
						top: 3.5%;
						left: 1.3%;
						border-radius: 50%;
						font-size: calc(36vw/12);
						z-index: 30;
					}
					&:after {
						top: 8%;
						left: 0;
						background: #fff;
						width: 5%;
						height: 43%;
						z-index: 20;
						border-radius: 50%;
					}

					&:nth-child(2) {
						&:before {
							top: 4%;
						}
						&:after {
							top: 8%;
							left: 0;
							width: 5%;
							height: 43%;
						}
					}
					&:nth-child(3) {
						&:after {
							top: 8%;
							left: 0;
							width: 5%;
							height: 87%;
						}
					}
				}
			}
			.t_cau {
				margin: 4% 0 0;
				font-size: calc(25vw/12);
				letter-spacing: 1.1px;
			}
			.t_date {
				margin: 2.6% 0 0;
				font-size: calc(31vw/12);
				letter-spacing: 1.1px;
			}
		}
		.h_btn {
			width: 88.6%;
			margin: 5.5% auto 0;
			a {
				padding: 3.8% 0;
				border-radius: 6px;
				font-size: calc(45vw/12);
				letter-spacing: 1.1px;
			}
		}
		.h_date {
			margin: 22px auto 0;
			text-align: center;
			font-size: 20px;
			letter-spacing: 1.3px;
			span {
				font-size: 22px;
			}
		}
	}

	.p_up {
		.wrap {
			max-width: 100%;
			padding: 0 2.8%;
			margin: 0 auto;
		}
		.p_u_box {
			padding: 9% 0 0;
			text-align: center;

			&:nth-of-type(2) {
				.p_icon {
					margin: 0 auto 0;
				}
			}
		}
		.sece {
			padding: 7% 0 0;
		}
		.thri {
			padding: 5% 0 0;
		}
		.p_h {
			position: relative;
			display: inline-block;
			padding: 0 4.5% 0 5.5%;
			font-size: calc(37vw/12);
			line-height: 0.7;
			letter-spacing: 1.3px;
			&:before {
				content: '';
				position: absolute;
				top: -10%;
				left: 0;
				background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/200ff3fa83d7d83f32fc93923870144e_02e0faa2c7a459e0c3591002fb86f154.png) 0 0 no-repeat;
				background-size: 100% 100%;
				width: 5.8%;
				height: 160%;
			}

			&:after {
				content: '';
				position: absolute;
				top: -10%;
				right: 0;
				background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/55ca0c51da555f48c1c75c5fd7f4e0af_52a5edc7d03df877f11a9d308102eb9a.png) 0 0 no-repeat;
				background-size: 100% 100%;
				width: 5.8%;
				height: 160%;
			}
			.num {
				font-size: calc(40vw/12);
				letter-spacing: 1.4px;
			}
		}
		.p_img {
			width: 78.3%;
			margin: 4.8% auto 0;;
		}

		.pu_i {
			padding: 6% 2.9% 6.5%;
		}
		.p_icon {
			width: 21.8%;
		}
		.p_ise {
			width: 21.8%;
		}
		.p_text {
			margin: 2.8% 0 0;
			font-size: calc(62vw/12);
			letter-spacing: 1.3px;
			line-height: 1.4;

			.cl {
				color: #ddaa00;
			}
			.ss {
				display: inline-block;
				margin: 0 2px;
				font-size: 28px;
			}
		}
		.p_s_t {
			margin: 2% 0 0;
			font-size: calc(62vw/12);
			letter-spacing: 1.3px;
			line-height: 1.4;
			.sin {
				font-size: calc(59vw/12);
			}
		}
		.c_five {
			margin: 5% 0 0;
			.c_five_li {
				padding: 6.5% 0 0;
				margin: 0;
				border-radius: 0;

				&:first-child {
					padding: 4% 0 0;
				}
				&:nth-child(2) {
					padding: 7.2% 0 0;
				}
				dl {
					display: flex;
					align-items: center;
				}
				dd {
					line-height: 0;
					width: 46%;
				}
				dt {
					width: 50%;
					padding: 0 0 0 4%;
					font-size: calc(36vw/12);
					line-height: 1.4;
					span {
						font-size: calc(41vw/12);
					}
				}
			}
			.f_btn {
				margin: 3.8% 0 0;
				a {
					padding: 3.6% 0;
					border: 4px solid #ddaa00;
					border-radius: 6px;
					font-size: calc(44vw/12);
					letter-spacing: 1.4px;

					&:hover {
						opacity: 1;
						background: none;
						color: #ddaa00;
					}
				}
			}
		}

		.c_twenty {
			.t_i {
				margin: 8% 0 0;
			}
			.c_btn {
				margin: 3% 0 0;
				a {
					padding: 3% 0;
					border-radius: 5px;
					font-size: calc(39vw/12);
				}
			}
		}

		.p_date {
			max-width: 306px;
			margin: 0 auto;
		}
		.pu_h {
			max-width: 650px;
			margin: 53px auto 0;
		}
	}

	.banner {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/cfe68a9f7e85bb668d92cf1a5f729de4_feed16fb6c80b7d81363735070b90600.png) center top no-repeat;
		background-size: cover;
		padding: 4% 0 5.8%;
		.wrap {
			padding: 0 2.5%;
		}

		.b_m {
			width: 97.4%;
		}
		.b_t {
			width: 100%;
			margin: 6% auto 0;
		}
		.b_b {
			margin: 3.5% 0 0;
			font-size: calc(56vw/12);
			letter-spacing: 1.5px;
			span {
				display: inline-block;
				margin: 0 0.2% 0 0;
				font-size: calc(59vw/12);
			}
		}

		.b_btn {
			max-width: 100%;
			padding: 0 3%;
			margin: 4.5% auto 0;
			a {
				padding: 3.8% 0;
				border-radius: 6px;
				font-size: calc(44vw/12);
				letter-spacing: 1.3px;
			}
		}
	}

	.p_top {
		margin: 6.5% 0 2.5%;
		a {
			display: inline-block;
			font-size: calc(53vw/12);
			span {
				font-size: calc(56vw/12);
			}
		}
	}

	.contents {
		margin: 0;
		.wrap {
			max-width: 100%;
			width: 94%;
			padding: 0;
			margin: 0 auto;
		}
		.cw_l {
			margin: 2.5% 0 0;
		}
		.c_h {
			padding: 0 0 0 2.5%;
			border-left: 3px solid #e5c200;
			font-size: calc(45vw/12);
			letter-spacing: 1.8px;
			line-height: 1.4;
			span {
				font-size: calc(48vw/12);
			}
		}
		.c_s_h {
			width: 68.4%;
			margin: 8% auto 8%;
			line-height: 0;
		}

		.c_re {
			padding: 6% 3% 5%;
			margin: 6% 2.8% 0;
			border-radius: 8px;
			font-size: calc(44vw/12);
			letter-spacing: 1.1px;
			span {
				font-size: calc(47vw/12);
			}
			figure {
				margin: 6% 0 0;
			}
			.c_cau {
				margin: 4% 0 0;
				font-size: calc(34vw/12);
			}
		}

		.c_lob {
			padding: 5.5% 4.5% 6%;
			border-radius: 12px;
			.cb_text{
				margin: 4% 0 0;
				font-size: calc(27vw/12);
				line-height: 1.4;
				letter-spacing: 0.5px;
			}
			.icon {
				width: 47%;
				margin: 0 auto 0;
				padding: 1.9% 0;
				border-radius: 30px;
				font-size: calc(41vw/12);
				text-indent: 0.5rem;
				letter-spacing: 1.1px;
			}
			.c_it {
				margin: 4.8% 0 0;
				font-size: calc(42vw/12);
				line-height: 1.4;
				letter-spacing: 1.2px;
				.clr {
					color: #e6c300;
				}
				.num {
					font-size: calc(45vw/12);
				}
			}

			.pic {
				margin: 5% auto 0;
				width: 99%;
			}
		}

		.c_btn {
			margin: 3% 0 0;
			a {
				padding: 3% 0;
				border-radius: 5px;
				font-size: calc(39vw/12);
			}
		}
		.ch_m {
			margin: 9% 0 0;
		}
		.c_t {
			padding: 4% 0 0 2.3%;
			font-size: calc(41vw/12);
			line-height: 1.3;
			letter-spacing: 1.2px;
		}
		.c_inner {
			padding: 9% 0 0;
			margin: 9% 0 0;
		}
		.c_p {
			width: 61.7%;
			margin: 8% auto 0;
		}
		.c_box {
			margin: 8% 2.9% 0;
			border-radius: 7px;
			li {
				width: 47.5%;
				padding: 0 0 5%;
				margin: 5% 0 0 5%;
				border-radius: 0 0 7px 7px;
				box-sizing: border-box;

				&:first-child {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 5%;
				}
				&:nth-child(3) {
					margin: 5% 0 0 0;
				}
				.icon {
					margin: 0 auto;
					line-height: 0;
				}

				.c_it {
					margin: 7.5% 0 0;
					font-size: calc(42vw/12);
					line-height: 1.5;
					letter-spacing: 1.4px;
					.h_ss {
						font-size: calc(42vw/12);
					}
					.num {
						margin: 0 2% 0 0;
						font-size: calc(46vw/12);
					}
				}
			}
			.ch_btn {
				margin: 6% auto 0;
				a {
					display: block;
					background: #e5c200;
					padding: 26px 0;
					border-radius: 6px;
					text-align: center;
					font-size: 28px;
					font-weight: bold;
					color: #000;
				}
			}
		}
	}

	aside {
		padding: 0 0 2%;

		.wrap {
			max-width: 100%;
			padding: 0 0 2%;
			margin: 2% 4.5% 0;
		}
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(44vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(37vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(31vw/12);
				}
				.f_item {
					margin: 2.3% 0 2% 4.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(32vw/12);
						line-height: 1;
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(32vw/12);
		}
	}

	footer {
		padding: 2% 0 4%;
		.wrap {
			padding: 2% 0 3%;
			margin: 0 4.5%;
			border-top: 1px solid #404040;
		}
		.copy {
			margin: 0 0 6%;
			li {
				margin: 0.7% 0 0 0;
				line-height: 1.3;
				font-size: calc(24vw/12);
			}
		}

		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 2% 0 0;
				a {
					padding: 0 13px 0 0;
					font-size: calc(25vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
					line-height: 1;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(26vw/12);
			letter-spacing: 1.3px;
		}
	}
	// .hana { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 1.8s 1 forwards; }
}


@media screen and (max-width: 480px) {
	.line_w {
		.wrap_w {
			height: 19px;
		}
	}
	.mb10 {
		margin: 0 0 2% 0 !important;
	}
	.mn {
		margin: 0 !important;
	}

	.mt10 {
		margin: 1.8% 0 0 !important;
	}

	.mt20 {
		margin: 3% 0 0 !important;
	}
	.mt30 {
		margin: 5% 0 0 !important;
	}
	.mt40 {
		margin: 6% 0 0 !important;
	}
	.mt50 {
		margin: 6.2% 0 0 !important;
	}
	.mt60 {
		margin: 8% 0 0 !important;
	}
	.mt70 {
		margin: 9% 0 0 !important;
	}
	.mt80 {
		margin: 10% 0 0 !important;
	}

	header {
		padding: 0;
		.h_l {
			width: 19.2%;
			padding: 1.2% 0 1.2% 2.3%;
		}
		.h_a {
			padding: 4.6% 0 7%;
		}
		.h_w {
			padding: 0;
		}

		.h_m {
			width: 90%;
		}
		.h_t {
			width: 94%;
			margin: 5.5% auto 0;
		}
		.h_b {
			margin: 2.6% 0 0;
			font-size: calc(58vw/12);
			letter-spacing: 0.8px;
			span {
				display: inline-block;
				margin: 0 0.2% 0 0;
				font-size: calc(61vw/12);
			}
		}
		.case {
			position: relative;
			width: 88.6%;
			padding: 5.1% 0 6.5%;
			margin: 8% auto 0;
			border: 1.5px solid #fff;
			border-radius: 10px;
			.c_cen {
				top: -1.5%;
				left: 23%;
				padding: 0 2.8%;
				line-height: 0.4;
				font-size: calc(45vw/12);
				letter-spacing: 1px;
			}

			.t_item {
				counter-reset: number 0;
				padding: 0 0 4%;
				margin: 0 5% 0;
				li {
					padding: 0 0 0 7.5%;
					margin: 1.5% 0 0;
					line-height: 1.51;
					font-size: calc(39vw/12);
					letter-spacing: 0.8px;
					span {
						display: inline-block;
						margin: 0 0.2%;
						letter-spacing: 1.2px;
						font-size: calc(42vw/12);
					}

					&:before {
						top: 3.5%;
						left: 1.3%;
						border-radius: 50%;
						font-size: calc(38vw/12);
						z-index: 30;
					}
					&:after {
						top: 8%;
						left: 0;
						background: #fff;
						width: 5.1%;
						height: 43%;
						z-index: 20;
						border-radius: 50%;
					}

					&:nth-child(2) {
						&:before {
							top: 7%;
						}
						&:after {
							top: 8%;
							left: 0;
							width: 5.1%;
							height: 43%;
						}
					}
					&:nth-child(3) {
						&:after {
							top: 8%;
							left: 0;
							width: 5.1%;
							height: 87%;
						}
					}
				}
			}
			.t_cau {
				margin: 4% 0 0;
				font-size: calc(26vw/12);
				letter-spacing: 0.5px;
				white-space: nowrap;
			}
			.t_date {
				margin: 2.6% 0 0;
				font-size: calc(33vw/12);
				letter-spacing: 0.7px;
			}
		}
		.h_btn {
			width: 88.6%;
			margin: 5.5% auto 0;
			a {
				padding: 3.8% 0;
				border-radius: 4px;
				font-size: calc(49vw/12);
				letter-spacing: 0.8px;
			}
		}
		.h_date {
			margin: 22px auto 0;
			text-align: center;
			font-size: 20px;
			letter-spacing: 0.8px;
			span {
				font-size: 22px;
			}
		}
	}
	.p_up {
		.wrap {
			max-width: 100%;
			padding: 0 2.8%;
			margin: 0 auto;
		}
		.p_u_box {
			padding: 9% 0 0;
			text-align: center;

			&:nth-of-type(2) {
				.p_icon {
					margin: 0 auto 0;
				}
			}
		}
		.sece {
			padding: 7% 0 0;
		}
		.thri {
			padding: 1% 0 0;
		}
		.p_h {
			position: relative;
			display: inline-block;
			padding: 0 4.5% 0 5.5%;
			font-size: calc(39vw/12);
			line-height: 0.7;
			letter-spacing: 0.8px;
			&:before {
				content: '';
				position: absolute;
				top: -10%;
				left: 0;
				background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/200ff3fa83d7d83f32fc93923870144e_02e0faa2c7a459e0c3591002fb86f154.png) 0 0 no-repeat;
				background-size: 100% 100%;
				width: 5.8%;
				height: 160%;
			}

			&:after {
				content: '';
				position: absolute;
				top: -10%;
				right: 0;
				background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/55ca0c51da555f48c1c75c5fd7f4e0af_52a5edc7d03df877f11a9d308102eb9a.png) 0 0 no-repeat;
				background-size: 100% 100%;
				width: 5.8%;
				height: 160%;
			}
			.num {
				font-size: calc(42vw/12);
				letter-spacing: 0.7px;
			}
		}
		.p_img {
			width: 78.3%;
			margin: 4.8% auto 0;;
		}

		.pu_i {
			padding: 6% 2.9% 6.5%;
		}
		.p_icon {
			width: 21.8%;
		}
		.p_ise {
			width: 21.8%;
		}
		.p_text {
			margin: 2.8% 0 0;
			font-size: calc(64vw/12);
			letter-spacing: 0.8px;
			line-height: 1.4;

			.cl {
				color: #ddaa00;
			}
			.ss {
				display: inline-block;
				margin: 0 2px;
				font-size: 28px;
			}
		}
		.p_s_t {
			margin: 3% 0 0;
			font-size: calc(64vw/12);
			letter-spacing: 0.8px;
			line-height: 1.4;
			.sin {
				font-size: calc(61vw/12);
			}
		}
		.c_five {
			margin: 5% 0 0;
			.c_five_li {
				padding: 6.5% 0 0;
				margin: 0;
				border-radius: 0;

				&:first-child {
					padding: 4% 0 0;
				}
				&:nth-child(2) {
					padding: 7.2% 0 0;
				}
				dl {
					display: flex;
					align-items: center;
				}
				dd {
					line-height: 0;
					width: 46%;
				}
				dt {
					width: 50%;
					padding: 0 0 0 4%;
					font-size: calc(38vw/12);
					line-height: 1.4;
					span {
						font-size: calc(43vw/12);
					}
				}
			}
			.f_btn {
				margin: 3.8% 0 0;
				a {
					padding: 3.6% 0;
					border: 2px solid #ddaa00;
					border-radius: 4px;
					font-size: calc(46vw/12);
					letter-spacing: 0.8px;

					&:hover {
						opacity: 1;
						background: none;
						color: #ddaa00;
					}
				}
			}
		}

		.c_twenty {
			.t_i {
				margin: 8% 0 0;
			}
			.c_btn {
				margin: 3% 0 0;
				a {
					padding: 3% 0;
					border-radius: 3px;
					font-size: calc(41vw/12);
				}
			}
		}

		.p_date {
			max-width: 306px;
			margin: 0 auto;
		}
		.pu_h {
			max-width: 650px;
			margin: 53px auto 0;
		}
	}

	.banner {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/cfe68a9f7e85bb668d92cf1a5f729de4_feed16fb6c80b7d81363735070b90600.png) center top no-repeat;
		background-size: cover;
		padding: 4% 0 5.8%;
		.wrap {
			padding: 0 2.5%;
		}

		.b_m {
			width: 97.4%;
		}
		.b_t {
			width: 100%;
			margin: 6% auto 0;
		}
		.b_b {
			margin: 3.5% 0 0;
			font-size: calc(58vw/12);
			letter-spacing: 0.8px;
			span {
				display: inline-block;
				margin: 0 0.2% 0 0;
				font-size: calc(61vw/12);
			}
		}

		.b_btn {
			max-width: 100%;
			padding: 0 3%;
			margin: 4.5% auto 0;
			a {
				padding: 3.8% 0;
				border-radius: 4px;
				font-size: calc(46vw/12);
				letter-spacing: 0.7px;
			}
		}
	}

	.p_top {
		margin: 6.5% 0 0.5%;
		a {
			display: inline-block;
			font-size: calc(55vw/12);
			span {
				font-size: calc(58vw/12);
			}
		}
	}

	.contents {
		margin: 0;
		.wrap {
			max-width: 100%;
			width: 94%;
			padding: 0;
			margin: 0 auto;
		}
		.cw_l {
			margin: 2.5% 0 0;
		}
		.c_h {
			padding: 0 0 0 2.5%;
			border-left: 3px solid #e5c200;
			font-size: calc(47vw/12);
			letter-spacing: 1.1px;
			line-height: 1.4;
			span {
				font-size: calc(50vw/12);
			}
		}
		.c_s_h {
			width: 68.4%;
			margin: 8% auto 8%;
			line-height: 0;
		}

		.c_re {
			padding: 6% 3% 5%;
			margin: 6% 2.8% 0;
			border-radius: 4px;
			font-size: calc(46vw/12);
			letter-spacing: 0.8px;
			span {
				font-size: calc(49vw/12);
			}
			figure {
				margin: 6% 0 0;
			}
			.c_cau {
				margin: 4% 0 0;
				font-size: calc(36vw/12);
			}
		}

		.c_lob {
			padding: 5.5% 4.5% 6%;
			border-radius: 8px;
			.cb_text{
				margin: 4% 0 0;
				font-size: calc(28vw/12);
				line-height: 1.4;
				letter-spacing: 0.5px;
			}
			.icon {
				width: 47%;
				margin: 0 auto 0;
				padding: 1.9% 0;
				border-radius: 30px;
				font-size: calc(43vw/12);
				text-indent: 0.5rem;
				letter-spacing: 0.7px;
			}
			.c_it {
				margin: 4.8% 0 0;
				font-size: calc(44vw/12);
				line-height: 1.4;
				letter-spacing: 0.7px;
				.num {
					font-size: calc(48vw/12);
				}
			}

			.pic {
				margin: 5% auto 0;
				width: 99%;
			}
		}

		.c_btn {
			margin: 3% 0 0;
			a {
				padding: 3% 0;
				border-radius: 2.5px;
				font-size: calc(41vw/12);
			}
		}
		.ch_m {
			margin: 9% 0 0;
		}
		.c_t {
			padding: 4% 0 0 2.3%;
			font-size: calc(43vw/12);
			line-height: 1.3;
			letter-spacing: 0.7px;
		}
		.c_inner {
			padding: 9% 0 0;
			margin: 9% 0 0;
		}
		.c_p {
			width: 61.7%;
			margin: 8% auto 0;
		}
		.c_box {
			margin: 8% 2.9% 0;
			border-radius: 3.5px;
			li {
				width: 47.5%;
				padding: 0 0 5%;
				margin: 5% 0 0 5%;
				border-radius: 0 0 4px 4px;
				box-sizing: border-box;

				&:first-child {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 5%;
				}
				&:nth-child(3) {
					margin: 5% 0 0 0;
				}
				.icon {
					margin: 0 auto;
					line-height: 0;
				}

				.c_it {
					margin: 7.5% 0 0;
					font-size: calc(44vw/12);
					line-height: 1.5;
					letter-spacing: 0.8px;
					.h_ss {
						font-size: calc(44vw/12);
					}
					.num {
						margin: 0 2% 0 0;
						font-size: calc(48vw/12);
					}
				}
			}
		}
	}


	aside {
		padding: 0 0 2%;

		.wrap {
			padding: 0 0 2%;
			margin: 0 4.5% 0;
			border-top: 1px solid #404040;
		}
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(46vw/12);
				letter-spacing: 0.8px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(41vw/12);
				line-height: 1.45;
				letter-spacing: 0.7px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(35vw/12);
				}
				.f_item {
					margin: 2.3% 0 2% 4.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(36vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(36vw/12);
		}
	}

	footer {
		padding: 2% 0 5%;
		.wrap {
			padding: 2% 0 3%;
			margin: 0 4.5%;
			border-top: 1px solid #404040;
		}
		.copy {
			margin: 0 0 6%;
			li {
				margin: 0.7% 0 0 0;
				line-height: 1.3;
				font-size: calc(28vw/12);
			}
		}

		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 2% 0 0;
				a {
					padding: 0 13px 0 0;
					font-size: calc(29vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
					line-height: 0.5;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(30vw/12);
			letter-spacing: 0.8px;
		}
	}
}



