*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: 'Noto Sans JP', sans-serif!important; color: #fff; margin: 0 auto; background: none;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; height: auto;}

.m_i {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	margin: 30px auto 0;

	iframe {
		position: absolute;
		z-index: 5;
		left: 0;
		top: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

.fl {
	font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
}
.fd {
	font-family: 'M PLUS Rounded 1c', sans-serif !important;
}
.fs {
	font-family: 'Noto Sans JP', sans-serif!important;
}
.ko {
	font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif !important;
}

.fr {
	font-family: 'M PLUS 1p', sans-serif!important;
}

.pc {
	display: block;
}
.sp {
	display: none;
}
.ssp {
	display: block;
}

.line_w {
	max-width: 750px;
	margin: 0 auto;
	.wrap_w {
		background: #efefef;
		height: 33px;
	}
}
.pre_btn {
	a {
		display: block;
		background: #ddaa00;
		padding: 26px 0;
		border-radius: 6px;
		text-align: center;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 1.5px;
		color: #000;
		span {
			font-size: 34px;
		}
	}
}

.c_top {
	padding: 0 0 30px;
	margin: 40px 0 0;
	text-align: right;
	white-space: nowrap;
	a {
		display: inline-block;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 1.3px;
		color: #000;
	}
}
.bn {
	border: none !important;
}
.bb {
	border-bottom: 1px solid #606060 !important;
}
.pb_no {
	padding-bottom: 0 !important;
}

.tc {
	text-align: center !important;
	padding: 0 !important;
}
.pb30 {
	padding: 0 0 35px !important;
}
.mb10 {
	margin: 0 0 10px 0 !important;
}
.mn {
	margin: 0 !important;
}
.mt10 {
	margin: 10px 0 0 !important;
}
.mt20 {
	margin: 20px 0 0 !important;
}
.mt30 {
	margin: 30px 0 0 !important;
}
.mt40 {
	margin: 40px 0 0 !important;
}
.mt50 {
	margin: 50px 0 0 !important;
}
.mt60 {
	margin: 60px 0 0 !important;
}
.mt70 {
	margin: 70px 0 0 !important;
}
.mat20 {
	margin: 20px auto 0 !important;
}
.mat70 {
	margin: 70px auto 0 !important;
}

.cl {
	color: #ddaa00;
}

.c_h {
	padding: 0 0 0 17px;
	font-size: 30px;
	border-left: 11px solid #ddaa00;
	line-height: 1.3;
	text-align: left;
}

.c_ldl {
	display: flex;
	align-items: center;
	margin: 55px 0 0;
	dd {
		width: 38%;
	}
	dt {
		width: 57%;
		margin: 0px 0 0 5%;
		text-align: left;
		font-size: 25px;
		line-height: 1.8;
		letter-spacing: 1.3px;
		color: #000;
	}
}

.wrap {
	max-width: 715px;
	margin: 0 auto;
}

header {
	padding: 0;
	.h_l {
		background: #000;
		padding: 12px 0 13px 22px;
		span {
			display: inline-block;
			max-width: 140px;
			line-height: 0;
		}
	}
	.h_a {
		position: relative;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/c65a248046857a8b2d7226f794b208b1_1fc8b38c82f876f37aa35acffd1b53fc.jpg) center top no-repeat;
		background-size: cover;
		height: 444px;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.h_wrap {
		position: relative;
		max-width: 688px;
		padding: 55px 0 0;
		margin: 0 auto;
	}
	.h_bal {
		position: absolute;
		top: 10px;
		right: 0;
		max-width: 133px;

	}

	.h_m {
		max-width: 584px;
		margin: 0 auto 0;
		line-height: 0;
	}
}

.c_hh {
	padding: 60px 0 0;
	font-size: 46px;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
	line-height: 1.5;

	.chbb {
		display: inline-block;
		border-bottom: 5px solid #ddaa00;
		line-height: 1.2;
	}


	.ss {
		font-size: 32px;
	}
}

.c_hh_se {
	margin: 48px 0 0;
	font-weight: bold;
	text-align: center;
	font-size: 54px;
	text-shadow: 0.3px 0.3px 0 #000;
	line-height: 1.5;
	.sin {
		display: block;
		font-size: 33px;
		letter-spacing: 3px;
	}
	.sec {
		letter-spacing: 4px;
		font-size: 56px;
	}
	.ls {
		display: inline-block;
		font-size: 59px;
	}

	.chbb {
		display: inline-block;
		border-bottom: 5px solid #ddaa00;
		line-height: 1.05;
	}
	.ss {
		font-size: 40px;
	}
}

.time {
	background: #000;
	padding: 23px 0 57px;
	text-align: center;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
	}
	.t_date {
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 5.5px;
		color: #fff;
	}
	.t_box {
		text-align: center;
		.timer {
			display: block;
			align-items: center;
			margin: 35px 0 0;
			font-size: 23px;
			font-weight: bold;
			text-align: center;
			letter-spacing: 1.3px;
			span {
				display: inline-block;
				width: 68px;
				background: #212121;
				padding: 8px 0 10px;
				margin: 0 12px;
				border-radius: 6px;
				font-weight: bold;
				font-size: 35px;
				text-align: center;
				letter-spacing: 2.3px;
				line-height: 1;
				color: #ddaa00;
				box-sizing: border-box;
			}
			i {
				font-style: inherit;
			}
		}
	}
	.cc_t {
		text-align: center;
		letter-spacing: 1.5px;
		font-weight: bold;
		font-size: 18px;
	}
	.ti_w {
		max-width: 716px;
		margin: 0 auto;
	}
	.t_inner {
		background: #1a1a1a;
		padding: 41px 18px 54px;
		margin: 56px 0 0;
		border-radius: 14px;

		.ss {
			font-size: 32px;
		}
		.ti_h {
			font-size: 56px;
			font-weight: bold;
			letter-spacing: 3px;
			text-align: center;
			line-height: 1.5;
			.sin {
				display: block;
				font-size: 32px;
				letter-spacing: 4px;
				font-weight: bold;
			}
			.num {
				font-size: 36px;
			}
			.brb {
				display: inline-block;
				border-bottom: 5px solid #ddaa00;
				line-height: 1.4;
			}
		}
		figure {
			max-width: 680px;
			margin: 60px auto 0;
			line-height: 0;
		}
	}
	.conditions {
		position: relative;
		padding: 35px 35px 50px;
		margin: 30px 0 0;
		border: 3px solid #fff;
		border-radius: 20px;

		.cc_ball {
			position: absolute;
			top: -86px;
			right: -6px;
			width: 145px;
		}

		.cc_h {
			position: absolute;
			top: -15px;
			left: 25%;
			display: inline-block;
			background: #000;
			padding: 0 17px;
			font-size: 25px;
			letter-spacing: 2px;
		}
		.cc_le {
			margin: 0 0 25px;
			text-align: left;
			letter-spacing: 1.2px;
			line-height: 1.4;
			font-weight: normal;
			font-size: 20px;
		}
		.cc_list {
			li {
				counter-increment: count;
				position: relative;
				padding: 0 0 0 45px;
				margin: 9px 0 0;
				line-height: 1.65;
				counter-reset: number;
				font-weight: normal;
				font-size: 24px;
				letter-spacing: 1.2px;
				text-align: left;
				&:before {
					content: '';
					content: counter(count);
					position: absolute;
					top: 5px;
					left: 0;
					width: 30px;
					background: #fff;
					border-radius: 50%;
					text-align: center;
					font-weight: bold;
					font-size: 19px;
					color: #000;
				}
			}
		}
		.cc_cau {
			padding: 28px 0 0;
			margin: 25px 0 0;
			text-align: center;
			border-top: 1px solid #a0a0a0;
			letter-spacing: 1.2px;
			font-size: 17px;
		}
	}
	.c_box {
		background: #1a1a1a;
		padding: 51px 18px 56px;
		margin: 67px auto 0;
		border-radius: 8px;
		max-width: 768px;
		.cb_text{
			margin: 51px 0 0;
			text-align: center;
			font-size: 17px;
			line-height: 1.4;
			letter-spacing: 0.5px;
			color: #ababab;
		}

		.i_he {
			margin: 38px auto 0;
			text-align: center;
			line-height: 1.6;
			letter-spacing: 1.3px;
			font-size: 32px;
		}
		.i_lt {
			margin: 38px auto 0;
			letter-spacing: 1.35px;
			font-size: 24px;
			line-height: 1.3;
			color: #ababab;
			.i_list {
				margin: 15px 0 0;
				li {
					position: relative;
					border: none;
					padding: 0 0 0 45px;
					line-height: 1.3;
					font-size: 24px;
					&:before {
						content: '・';
						position: absolute;
						top: 14px;
						left: 0;
						font-size: 50px;
						line-height: 0;
					}
				}
			}
		}

		.icon {
			max-width: 240px;
			margin: 0 auto;
			line-height: 0;
		}
		.c_img {
			max-width: 290px;
			margin: 38px auto 0;
		}

		.c_ih {
			margin: 38px auto 0;
			text-align: center;
			line-height: 1.6;
			letter-spacing: 1.3px;
			font-size: 32px;
		}

		.c_it {
			margin: 0;
			text-align: center;
			font-size: 27px;
			line-height: 1.3;
			letter-spacing: 1.4px;
			font-weight: bold;
			.clr {
				color: #ddaa00;
			}
			.num {
				font-size: 29px;
			}
		}

		.pic {
			margin: 68px auto 0;
			max-width: 644px;
			line-height: 0;
		}
		.copy_c {
			max-width: 644px;
			margin: 5px auto 0;
			font-size: 10px;
			text-align: right;
			color: #777;
		}

		.caution {
			margin: 10px 0 0;
			text-align: center;
			font-size: 13px;
			line-height: 1.5;
			color: #ababab ;
		}
		.ch_btn {
			margin: 6% auto 0;
			a {
				display: block;
				background: #ddaa00;
				padding: 26px 0;
				border-radius: 6px;
				text-align: center;
				letter-spacing: 1.4px;
				font-size: 28px;
				font-weight: bold;
				color: #fff;
			}
		}
		.ch_caution {
			margin: 25px 0 0;
			text-align: center;
			font-size: 13px;
			color: #ababab;
		}
		.ch_date {
			margin: 22px 0 0;
			text-align: center;
			letter-spacing: 1.8px;
			font-size: 16px;
			span {
				font-size: 19px;
			}
		}
	}
}
.t_sec {
	padding: 0 0 57px;
}
.w_cau {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 1.3;
	text-align: center;
	color: #606060;
}

.whats {
	background: #fff;
	padding: 62px 0 0;
	text-align: center;
	color: #000;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
	}
	.w_h {
		max-width: 541px;
		margin: 0 auto;
		line-height: 0;
	}
	.w_t {
		margin: 49px 0 0;
		font-size: 26px;
		font-weight: bold;
		line-height: 1.4;
		letter-spacing: 1.2px;
	}

	.w_tse {
		margin: 30px 0 0;
		font-size: 26px;
		font-weight: bold;
		letter-spacing: 1.1px;
		line-height: 1.4;
	}
	.w_head {
		position: relative;
		display: inline-block;
		padding: 0 92px;
		margin: 45px 0 0;
		font-size: 48px;
		font-weight: bold;
		text-shadow: 0.3px 0.3px 0 #000;
		line-height: 1.3;
		.cl {
			display: inline-block;
			margin: 0 5px;
			text-shadow: 0.3px 0.3px 0 #ddaa00;
		}
		.ss {
			font-size: 35px;
		}
		.w_sec {
			font-size: 53px;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/fdd7ca9bf22e7134c61f8792db40ac8c_3cde0b9a8122a779bab8874c28599a0c.png) 0 0 no-repeat;
			background-size: 82px 82px;
			width: 82px;
			height: 82px;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/95362beedfebe5b4193ecc259335b7fc_0e9394640980f1c5c46d05791db254eb.png) 0 0 no-repeat;
			background-size: 82px 82px;
			width: 82px;
			height: 82px;
		}
	}
	.w_h_po1 {
		position: relative;
		display: inline-block;
		padding: 0 72px;
		margin: 65px 0 0;
		font-size: 48px;
		font-weight: bold;
		text-shadow: 0.3px 0.3px 0 #000;
		line-height: 1.3;
		.cl {
			display: inline-block;
			margin: 0 5px;
			text-shadow: 0.3px 0.3px 0 #ddaa00;
		}
		.ss {
			font-size: 35px;
		}
		.sec {
			font-size: 52px;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/fdd7ca9bf22e7134c61f8792db40ac8c_3cde0b9a8122a779bab8874c28599a0c.png) 0 0 no-repeat;
			background-size: 82px 82px;
			width: 82px;
			height: 82px;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/95362beedfebe5b4193ecc259335b7fc_0e9394640980f1c5c46d05791db254eb.png) 0 0 no-repeat;
			background-size: 82px 82px;
			width: 82px;
			height: 82px;
		}
	}
	.w_fig {
		display: block;
		max-width: 680px;
		margin: 40px auto 0;
		line-height: 0;
	}
	.w_mt {
		margin: 50px 0 0;
		font-size: 34px;
		font-weight: bold;
		letter-spacing: 1.3px;
	}
	.w_img {
		max-width: 497px;
		margin: 66px auto 0;
		line-height: 0;
	}

	.m_box {
		overflow: hidden;
		padding: 0 0;
		margin: 69px auto 0;
		border-radius: 8px;
		li {
			background: #efefef;
			float: left;
			width: 47.5%;
			max-width: 321px;
			padding: 0 0 35px;
			margin: 5% 0 0 5.55%;
			border-radius: 9px;
			box-sizing: border-box;
			&:first-child {
				margin: 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 5.55%;
			}
			&:nth-child(3) {
				margin: 5% 0 0 0;
			}
			.icon {
				margin: 0 auto;
				line-height: 0;
				img {
					border-radius: 9px 9px 0 0;
				}
			}

			.c_it {
				margin: 25px 0 0;
				text-align: center;
				font-size: 27px;
				font-weight: normal;
				line-height: 1.5;
				letter-spacing: 1.4px;
				color: #666 ;
				.h_ss {
					display: block;
					font-size: 30px;
					font-weight: bold;
					color: #666;
				}
				.clr {
					color: #e6c300;
				}
				.num {
					font-size: 29px;
				}
			}
		}
	}
}


.w_po {
	display: inline-block;
	position: relative;
	background: #ddaa00;
	padding: 8px 33px 7px;
	margin: 42px auto 0;
	border-radius: 50px;
	font-size: 31px;
	font-weight: bold;
	letter-spacing: 1.3px;
	color: #000;

	&:before {
		content: "";
		position: absolute;
		right: 0;
		bottom: -14px;
		left: 0;
		width: 0px;
		height: 0px;
		margin: auto;
		border-style: solid;
		border-color: #ddaa00 transparent transparent transparent;
		border-width: 15px 10px 0 10px;
	}
	.num {
		font-size: 43px;
	}
}
.w_lg {
	max-width: 449px;
	margin: 60px auto 0;
	line-height: 0;
}
.w_fe {
	margin: 30px 0 0;
	font-size: 41px;
	letter-spacing: 1.3px;
	font-weight: bold;
	text-shadow: 0.2px 0.2px 0 #000;
	.ss {
		display: inline-block;
		margin: 0 3px;
		font-size: 36px;
	}
	.line {
		background:linear-gradient(transparent 80%, #ddaa00 80%);
	}
}

.w_fe_se {
	margin: 24px 0 0;
	font-size: 48px;
	font-weight: bold;
	text-shadow: 0.3px 0.3px 0 #000;
	line-height: 1.45;
	letter-spacing: 1.3px;
	.cl {
		text-shadow: 0.3px 0.3px 0 #ddaa00;
	}
	.num {
		font-size: 52px;
	}
	.dot {
		display: inline-block;
		margin: 0 -20px;
		font-size: 72px;
		vertical-align: middle;
	}
	.bb_l {
		display: inline-block;
		border-bottom: 5px solid #ddaa00;
		line-height: 1.2;
	}
	.fe_sec {
		font-size: 41px;
	}
	.fe_th {
		font-size: 38px;
	}
}
.ref {
	line-height: 1.7;
}

.w_fe_th {
	margin: 0;
	font-size: 41px;
	font-weight: bold;
	text-shadow: 0.3px 0.3px 0 #000;
	line-height: 1.4;
	letter-spacing: 1.6px;
	white-space: nowrap;
	color: #fff;
	.cl {
		text-shadow: 0.3px 0.3px 0 #ddaa00;
	}
}

.contents {
	background: #fff;
	padding: 0 0 60px;
	color: #000;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
	}
	.c_three {
		margin: 65px 0 0;

		.c_titem {
			li {
				padding: 48px 0;
				border-bottom: 1px solid #606060;

				&:first-child {
					padding: 0 0 48px;
				}
				a {
					display: block;
				}
			}
		}
		.c_tdl {
			display: flex;
			align-items: center;
			dd {
				width: 53%;
				line-height: 0;
			}
			dt {
				width: 43.5%;
				padding: 0 0 0 3.5%;
				font-size: 24px;
				line-height: 1.75;
				font-weight: bold;
				letter-spacing: 1.1px;
				text-align: left;
				color: #000;
				.bagg {
					display: inline-block;
					background: #f0163a;
					padding: 5px 10px;
					margin: 0 0 10px;
					font-weight: bold;
					font-size: 22px;
					letter-spacing: 2px;
					border-radius: 4px;
					color: #000;
					line-height: 1;
				}
			}
		}
		.c_ttext {
			margin: 26px 0 0;
			font-size: 25px;
			line-height: 1.6;
			color: #ababab;
		}

		.c_tbtn {
			margin: 42px 0 0;
			a {
				display: block;
				background: none;
				padding: 26px 0;
				text-align: center;
				border: 4px solid #ddaa00;
				border-radius: 6px;
				font-weight: bold;
				font-size: 30px;
				color: #ddaa00;
				&:hover {
					opacity: 1;
					background: #ddaa00;
					color: #000;
				}
			}
		}
		.c_no {
			margin: 42px 0 0;
			display: block;
			background: #ccc;
			padding: 26px 0;
			text-align: center;
			border-radius: 6px;
			font-weight: bold;
			font-size: 30px;
			color: #ddaa00;
			&:hover {
				opacity: 1;
				background: #ddaa00;
				color: #000;
			}
		}
	}
}

.more {
	background: #000;
	padding: 66px 0 0;
	text-align: center;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
	}
	.m_table {
		max-width: 680px;
		margin: 48px auto 0;
		line-height: 0;
	}
	.m_cau {
		margin: 20px 0 0;
		line-height: 1.3;
		font-size: 19px;
		letter-spacing: 1px;
		text-align: right;
		color: #ababab;
	}
}

.m_wrap {
	max-width: 715px;
	margin: 0 auto;

	.m_wbox {
		position: relative;
		background: #1f2020;
		padding: 68px 15px 45px;
		margin: 40px 0 0;
		border-radius: 8px;
		.mw_bal {
			position: absolute;
			top: 25px;
			right: 18px;
			max-width: 133px;

		}
		figure {
			max-width: 584px;
			margin: 0 auto;
			line-height: 0;
		}
		.m_bcau {
			margin: 46px 0 0;
			line-height: 1.3;
			font-size: 18px;
			letter-spacing: 1px;
			color: #ababab;
		}
		.date {
			margin: 20px 0 0;
			font-size: 18px;
			letter-spacing: 1.5px;
			color: #fff;
		}
	}
}

.sei {
	a {
		display: block;
	}
}
.saison {
	display: flex;
	align-items: center;
	margin: 51px 0 0;
	a {
		display: block;
	}
	dd {
		border: 2px solid #565656;
		max-width: 378px;
		box-sizing: border-box;
	}
	dt {
		margin: 0 0 0 28px;
		line-height: 1.78;
		font-size: 23px;
		font-weight: bold;
		text-align: left;
		letter-spacing: 1.3px;
		color: #fff;

	}
}

.e_fig {
	max-width: 680px;
	margin: 48px auto 0;
	line-height: 0;
}

.e_item {
	display: flex;
	flex-flow: row wrap;
	margin: 48px 0 0;
	li {
		justify-content: flex-end;
		box-sizing: border-box;
		width: 25%;
		line-height: 0;
	}
}

.c_inn {
	padding: 60px 0 60px;
}
.c_inn_fst {
	padding: 60px 0 0;
}
.c_inn_sec {
	padding: 0 0 60px;
}
.bt {
	border-top: 1px solid #000;
}

.p_h {
	padding: 0 0 0 15px;
	border-left: 11px solid #ddaa00;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 1.2px;
	line-height: 1.3;
	text-align: left;
	color: #000;
}

.t_top {
	margin: 57px 0 23px;
	text-align: right;
	white-space: nowrap;
	a {
		display: inline-block;
		font-size: 34px;
		font-weight: bold;
		letter-spacing: 1.3px;
		color: #fff;
	}
}

aside {
	text-align: left;
	.wrap {
		max-width: 680px;
		padding: 0 0 60px;
		margin: 90px auto 0;
	}
	.f_d {
		dt {
			margin: 60px 0 0;
			font-size: 25px;
			letter-spacing: 1.4px;
			font-weight: normal;
			color: #fff;
		}
		dd {
			margin: 21px 0 0;
			font-size: 24px;
			line-height: 1.45;
			letter-spacing: 1.4px;
			color: #ababab;
			.caution {
				display: block;
				margin: 12px 0 0;
				font-size: 20px;
			}
			.f_item {
				margin: 15px 0 10px 35px;
				li {
					margin: 6px 0 0;
					line-height: 1.4;
					font-size: 20px;
				}
			}

			a {
				color: #ddaa00;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.f_last {
			margin: 15px 0 0 0;
			li {
				position: relative;
				padding: 0 0 0 25px;
				margin: 6px 0 0;
				line-height: 1.4;
				font-size: 20px;
				&:before {
					content: '1.';
					position: absolute;
					top: 0;
					left: 0;
				}

				&:nth-child(2) {
					&:before {
						content: '2.';
					}
				}
			}
		}
	}
	.f_c {
		margin: 15px 0 0;
		line-height: 1.3;
		font-size: 20px;
	}
}

footer {
	background: #000;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
		padding: 60px 0 120px;
		border-top: 2px solid #404040;
	}
	.copy {
		margin: 0 0 32px;
		li {
			width: 100%;
			margin: 5px 0 0 0;
			line-height: 1.3;
			font-size: 16px;
			color: #919191;
		}
	}

	.f_list {
		overflow: hidden;
		margin: 10px 0 10px;
		li {
			position: relative;
			float: left;
			margin: 0 10px 0 0;
			a {
				display: block;
				padding: 0 12px 0 0;
				font-size: 15px;
				color: #919191;
			}
			&:after {
				content: ' | ';
				position: absolute;
				top: 0;
				right: 0;
				color: #919191;
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	.f_dot {
		margin: 15px 0 0 35px;
		li {
			position: relative;
			padding: 0 0 0 38px;
			margin: 8px 0 0;
			line-height: 1.4;
			font-size: 19px;
			&:before {
				content: '・';
				position: absolute;
				top: 14px;
				left: 20px;
				font-size: 19px;
				line-height: 0;
			}
		}
	}

	small {
		display: block;
		margin: 30px 0 0;
		font-size: 16px;
		letter-spacing: 1px;
		text-align: left;
		color: #919191;
	}
}

// .hana {
// 	opacity: 0;
// }

// @-webkit-keyframes item_sp { 100% { opacity: 1; } }
// @keyframes item_list { 100% { opacity: 1; } }

// .hana { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 2.2s 1 forwards; }




@media screen and (max-width: 768px) {

	.line_w {
		max-width: 100%;
		width: 100%;
		.wrap_w {
			height: 28px;
		}
	}

	.c_h {
		padding: 0 0 0 3%;
		font-size: calc(49vw/12);
		border-left: 8px solid #ddaa00;
		line-height: 1.3;
	}

	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
	.ssp {
		display: block;
	}
	.pb30 {
		padding: 0 0 5% !important;
	}

	.mt10 {
		margin: 1.8% 0 0 !important;
	}
	.mt20 {
		margin: 3% 0 0 !important;
	}
	.mt30 {
		margin: 5% 0 0 !important;
	}
	.mt40 {
		margin: 6% 0 0 !important;
	}
	.mt50 {
		margin: 6.3% 0 0 !important;
	}
	.mt60 {
		margin: 8% 0 0 !important;
	}
	.mt70 {
		margin: 9% 0 0 !important;
	}
	.mb10 {
		margin: 0 0 1.8% 0 !important;
	}
	.mn {
		margin: 0 !important;
	}

	.mat20 {
		margin: 3% auto 0 !important;
	}
	.mat70 {
		margin: 9% auto 0 !important;
	}

	.wrap {
		padding: 0 4.5%;
	}

	.m_i {
		margin: 5% auto 0;
	}

	.pre_btn {
		a {
			padding: 3.7% 0;
			border-radius: 5px;
			font-size: calc(50vw/12);
			letter-spacing: 1.1px;
		}
	}

	.c_top {
		padding: 0 0 3%;
		margin: 6% 0 0;
		a {
			display: inline-block;
			font-size: calc(46vw/12);
			letter-spacing: 0.5px;
		}
	}

	.c_ldl {
		margin: 8% 0 0;
		dt {
			margin: 0 0 0 5%;
			font-size: calc(39vw/12);
			line-height: 1.8;
			letter-spacing: 1px;
		}
	}


	header {
		.h_l {
			padding: 1.3% 0 1.3% 2.2%;
			span {
				display: inline-block;
				max-width: 18.8%;
			}
		}
		.h_a {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/4dfcded4839ff9360d09ccecb03f4939_6496e46ac89c22e59572e580385d649a.jpg) center top no-repeat;
			background-size: cover;
			height: auto;
			padding: 0.3% 0 7%;
		}
		.h_wrap {
			max-width: 100%;
			padding: 6.7% 0 0;
			margin: 0 4.7%;
		}
		.h_bal {
			top: 3%;
			width: 19.8%;

		}

		.h_m {
			width: 84.2%;
		}
	}

	.time {
		padding: 4.3% 0 5.5%;
		.wrap {
			max-width: 100%;
			margin: 0 auto;
		}
		.t_date {
			font-size: calc(32vw/12);
			letter-spacing: 4px;
		}

		.t_box {

			.timer {
				margin: 5% 0 0;
				font-size: calc(33vw/12);
				letter-spacing: 1.2px;
				span {
					display: inline-block;
					width: 10.6%;
					padding: 1.1% 0 1.2%;
					margin: 0 1.5%;
					border-radius: 5px;
					font-size: calc(55vw/12);
					letter-spacing: 0.6px;
				}
			}
		}

		.cc_t {
			letter-spacing: 1.3px;
			font-size: calc(30vw/12);
		}
		.ti_w {
			max-width: 100%;
			margin: 0 2.5%;
		}
		.t_inner {
			padding: 6% 2.4% 7.5%;
			margin: 7% 0 0;
			border-radius: 12px;

			.ss {
				font-size: 32px;
			}
			.ti_h {
				font-size:  calc(88vw/12);
				letter-spacing: 2.4px;
				line-height: 1.5;
				.sin {
					font-size: calc(50vw/12);
					letter-spacing: 3px;
				}
				.num {
					font-size: calc(54vw/12);
				}
				.brb {
					display: inline-block;
					border-bottom: 4px solid #ddaa00;
					line-height: 1.2;
				}
			}
			figure {
				max-width: 100%;
				margin: 8% auto 0;
			}
		}



		.c_box {
			padding: 7% 2.5% 9%;
			margin: 8.5% auto 0;
			border-radius: 6px;
			.cb_text{
				margin: 51px 0 0;
				text-align: center;
				font-size: 17px;
				line-height: 1.4;
				letter-spacing: 0.2px;
				color: #ababab;
			}

			.icon {
				max-width: 240px;
				margin: 0 auto;
				line-height: 0;
			}

			.c_it {
				margin: 0;
				font-size: calc(42vw/12);
				line-height: 1.63;
				letter-spacing: 1.4px;
			}

			.pic {
				margin: 7% auto 0;
				width: 97.1%;
			}
		}

		.c_box {

			.cb_text{
				margin: 8% 0 0;
				font-size: calc(26vw/12);
				line-height: 1.4;
				letter-spacing: 0.2px;
			}
			li {
				padding: 6.5% 2.5% 10.5%;
				max-width: 768px;
				margin: 0 auto 0;
				border-top: 1px solid #404040;
				&:nth-child(2) {
					padding: 3% 0 6.5%;
				}
				.i_he {
					margin: 6% auto 0;
					line-height: 1.6;
					letter-spacing: 1.3px;
					font-size: calc(50vw/12);
				}
				.i_lt {
					margin: 5% auto 0;
					letter-spacing: 1.35px;
					font-size: calc(39vw/12);
					line-height: 1.3;
					.i_list {
						margin: 3% 0 0;
						li {
							padding: 0 0 0 29px;
							margin: 3% 0 0 0;
							line-height: 1.3;
							font-size: 18px;
							&:before {
								top: 11px;
								left: -5px;
								font-size: 33px;
								line-height: 0;
							}
							&:first-child {
								margin: 0;
							}
							&:first-child:before {
								top: 11px;
							}
						}
					}
				}
				.icon {
					width: 38%;
					margin: 0 auto;
				}
				.c_img {
					width: 47%;
					margin: 7% auto 0;
				}


				.c_ih {
					width: 47%;
					margin: 6% auto 0;
					line-height: 1.6;
					letter-spacing: 1.3px;
					font-size: 32px;
				}

				.c_it {
					margin: 0 0 0;
					font-size: calc(42vw/12);
					line-height: 1.6;
					letter-spacing: 1.4px;
					white-space: nowrap;
					.num {
						font-size: calc(44vw/12);
					}
				}
				.c_pre {
					margin: 4.2% 0 0;
					font-size: calc(42vw/12);
					line-height: 1.35;
					letter-spacing: 1.5px;
					.sng {
						font-size: calc(52vw/12);
					}
					.num {
						font-size: calc(58vw/12);
					}
					.num_s {
						font-size: calc(43vw/12);
					}
				}
				.c_sec_ih {
					width: 91%;
					margin: 7% auto 0;
				}
				.c_sec_it {
					margin: 4.3% 0 0;
					font-size: calc(51vw/12);
					line-height: 1.4;
					letter-spacing: 1.4px;
					.num {
						font-size: calc(55vw/12);
					}
				}

				.pic {
					margin: 9% auto 0;
					width: 100%;
				}
				.pic.tperiod {
					margin: 8.4% auto 0;
				}

				.caution {
					margin: 2% 0 0;
					font-size: calc(20vw/12);
					line-height: 1.5;
				}
			}
			.ch_btn {
				margin: 6% auto 0;
				a {
					padding: 3.8% 0;
					border-radius: 5px;
					font-size: calc(45vw/12);
				}
			}
			.ch_caution {
				margin: 4% 0 0;
				font-size: calc(21vw/12);
			}
			.ch_date {
				margin: 3% 0 0;
				letter-spacing: 1.8px;
				font-size: calc(26vw/12);
				span {
					font-size: calc(29vw/12);
				}
			}
		}
		.conditions {
			padding: 5.5% 5.1% 7%;
			margin: 5% 0 0;
			border: 2px solid #fff;
			border-radius: 18px;
			.cc_h {
				position: absolute;
				top: -3.1%;
				left: 25%;
				display: inline-block;
				background: #000;
				padding: 0 2.6%;
				font-size: calc(39vw/12);
				letter-spacing: 2px;
			}
			.cc_ball {
				position: absolute;
				top: -18%;
				right: -1%;
				width: 21%;
				max-width: 145px;
			}
			.cc_le {
				margin: 0 0 4%;
				letter-spacing: 0.8px;
				line-height: 1.4;
				font-size: calc(32vw/12);
			}
			.cc_list {
				li {
					padding: 0 0 0 7.4%;
					margin: 1.5% 0 0;
					line-height: 1.65;
					font-size: calc(38vw/12);
					letter-spacing: 1.2px;
					&:before {
						content: '';
						content: counter(count);
						position: absolute;
						top: 4px;
						left: 0;
						width: 5%;
						border-radius: 50%;
						font-size: calc(30vw/12);
						font-weight: bold;
					}
				}
			}
			.cc_cau {
				padding: 5% 0 0;
				margin: 4.3% 0 0;
				letter-spacing: 0.8px;
				font-size: calc(27vw/12);
			}
		}
	}

	.t_sec {
		padding: 0 0 7.5%;
	}

	.w_cau {
		font-size: calc(27vw/12);
		letter-spacing: 0.6px;
		line-height: 1.3;
	}

	.whats {
		padding: 8% 0 0;
		.wrap {
			max-width: 680px;
			margin: 0 auto;
		}
		.w_h {
			width: 79.8%;
		}
		.w_t {
			margin: 7% 0 0;
			font-size: calc(41vw/12);
			line-height: 1.4;
			letter-spacing: 0.8px;
		}
		.w_tse {
			margin: 5% 0 0;
			font-size: calc(40vw/12);
			line-height: 1.4;
			letter-spacing: 0.5px;
		}

		.w_head {
			display: inline-block;
			padding: 0 15%;
			margin: 6% 0 0;
			font-size: calc(75vw/12);
			text-shadow: 0.2px 0.2px 0 #000;
			line-height: 1.3;
			letter-spacing: 1.6px;
			white-space: nowrap;
			.cl {
				display: inline-block;
				margin: 0 1%;
				text-shadow: 0.2px 0.2px 0 #ddaa00;
			}
			.ss {
				font-size: calc(54vw/12);
			}
			.w_sec {
				font-size: calc(79vw/12);
			}

			&:before {
				background-size: 100% 100%;
				width: 15.047%;
				height: 64.573%;

			}
			&:after {
				background-size: 100% 100%;
				width: 15.047%;
				height: 64.573%;
			}
		}
		.w_h_po1 {
			display: inline-block;
			padding: 0 10%;
			margin: 6% 0 0;
			font-size: calc(75vw/12);
			text-shadow: 0.2px 0.2px 0 #000;
			line-height: 1.3;
			white-space: nowrap;
			.cl {
				display: inline-block;
				margin: 0 1%;
				text-shadow: 0.2px 0.2px 0 #ddaa00;
			}
			.ss {
				font-size: calc(54vw/12);
			}
			.sec {
				font-size: calc(81vw/12);
			}

			&:before {
				background-size: 100% 100%;
				width: 13.4%;
				height: 66.13%;
			}
			&:after {
				background-size: 100% 100%;
				width: 13.4%;
				height: 66.13%;
			}
		}
		.w_fig {
			max-width: 680px;
			margin: 6% auto 0;
		}
		.w_mt {
			margin: 7% 0 0;
			font-size: calc(53vw/12);
			letter-spacing: 0.8px;
		}
		.w_img {
			width: 73.2%;
			margin: 9% auto 0;
		}

		.m_box {
			margin: 9% auto 0;
			border-radius: 6px;
			li {
				width: 47%;
				padding: 0 0 5.5%;
				margin: 5% 0 0 5.55%;
				border-radius: 6px;
				&:first-child {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 5.55%;
				}
				&:nth-child(3) {
					margin: 5% 0 0 0;
				}
				.icon {
					margin: 0 auto;
					line-height: 0;
					img {
						border-radius: 9px 9px 0 0;
					}
				}

				.c_it {
					margin: 8% 0 0;
					font-size: calc(42vw/12);
					line-height: 1.5;
					letter-spacing: 0.8px;
					.h_ss {
						font-size: calc(48vw/12);
					}
				}
			}
		}
	}

	.w_po {
		display: inline-block;
		padding: 1.2% 5% 1.1%;
		margin: 6% auto 0;
		border-radius: 50px;
		font-size: calc(49vw/12);
		letter-spacing: 0.8px;

		&:before {
			bottom: -22%;
			border-width: 14px 9px 0 9px;
		}
		.num {
			font-size: calc(66vw/12);
		}
	}
	.w_lg {
		width: 67%;
		margin: 8% auto 0;
	}
	.w_fe {
		margin: 5% 0 0;
		font-size: calc(64vw/12);
		letter-spacing: 0.8px;
		text-shadow: 0.2px 0.2px 0 #000;
		.ss {
			display: inline-block;
			margin: 0 0.5%;
			font-size: calc(55vw/12);
		}
		.line {
			background:linear-gradient(transparent 80%, #ddaa00 80%);
		}
	}

	.w_fe_se {
		margin: 4.3% 0 0;
		font-size: calc(74vw/12);
		text-shadow: 0.2px 0.2px 0 #000;
		line-height: 1.45;
		letter-spacing: 0.8px;
		white-space: nowrap;
		.cl {
			text-shadow: 0.2px 0.2px 0 #ddaa00;
		}
		.num {
			font-size: calc(80vw/12);
		}
		.dot {
			display: inline-block;
			margin: 0 -3.4%;
			font-size: calc(109vw/12);
		}
		.bb_l {
			display: inline-block;
			border-bottom: 4px solid #ddaa00;
			line-height: 1.1;
		}
		.fe_sec {
			font-size: calc(64vw/12);
		}
		.fe_th {
			font-size: calc(54vw/12);
		}
	}
	.w_fe_th {
		font-size: calc(64vw/12);
		text-shadow: 0.2px 0.2px 0 #000;
		line-height: 1.4;
		letter-spacing: 0.8px;
		white-space: nowrap;
		.cl {
			text-shadow: 0.2px 0.2px 0 #ddaa00;
		}
	}

	.c_hh {
		padding: 8.2% 0 0;
		font-size: calc(72vw/12);
		letter-spacing: 2.5px;
		line-height: 1.5;

		.chbb {
			display: inline-block;
			border-bottom: 4px solid #ddaa00;
			line-height: 1.2;
		}

		.ss {
			font-size: calc(52vw/12);
		}
	}

	.c_hh_se {
		margin: 7% 0 0;
		text-shadow: 0.2px 0.2px 0 #000;
		letter-spacing: 1.8px;
		font-size: calc(85vw/12);
		line-height: 1.5;
		.sin {
			font-size: calc(72vw/12);
			letter-spacing: 2.5px;
		}
		.sec {
			letter-spacing: 4px;
			font-size: calc(85vw/12);
		}
		.ls {
			display: inline-block;
			font-size: calc(92vw/12);
		}

		.chbb {
			display: inline-block;
			border-bottom: 4px solid #ddaa00;
			line-height: 1.1;
		}

		.ss {
			font-size: calc(62vw/12);
		}
	}

	.contents {
		padding: 0 0 7%;
		.ewrap {
			max-width: 100%;
			margin: 0 auto;
			padding: 0 2.5%;
		}




		.c_three {
			margin: 9.45% 0 0;

			.c_titem {
				li {
					padding: 5.5% 0;

					&:first-child {
						padding: 0 0 5.5%;
					}
				}

			}
			.c_tdl {
				dd {
					width: 57%;
				}
				dt {
					width: 39.5%;
					padding: 0 0 0 3.5%;
					font-size: calc(36vw/12);
					letter-spacing: 0.5px;
					line-height: 1.75;
					.bagg {
						display: inline-block;
						padding: 2% 3.5%;
						margin: 0 0 3%;
						font-size: calc(35vw/12);
						letter-spacing: 2px;
						border-radius: 4px;
					}
				}
			}
			.c_ttext {
				margin: 4% 0 0;
				font-size: calc(40vw/12);
				line-height: 1.6;
			}

			.c_tbtn {
				margin: 4% 0 0;
				a {
					padding: 3.8% 0;
					border: 3px solid #ddaa00;
					border-radius: 5px;
					font-size: calc(48vw/12);
					&:hover {
						opacity: 0.8;
						background: none;
						color: #ddaa00;
					}
				}
			}
			.c_no {
				margin: 4% 0 0;
				padding: 3.8% 0;
				border: 3px solid #ddaa00;
				border-radius: 5px;
				font-size: calc(48vw/12);
				&:hover {
					opacity: 0.8;
					background: none;
					color: #ddaa00;
				}
			}
		}
	}
	.c_inn {
		padding: 8% 0 8%;
	}
	.c_inn_fst {
		padding: 8% 0 0;
	}
	.c_inn_sec {
		padding: 0 0 8%;
	}
	.p_h {
		padding: 0 0 0 2.5%;
		border-left: 8px solid #ddaa00;
		font-size: calc(49vw/12);
		letter-spacing: 1.1px;
		line-height: 1.3;
	}

	.more {
		padding: 8% 0 0;
		.m_table {
			margin: 6.5% auto 0;
		}
		.m_cau {
			margin: 4% 0 0;
			line-height: 1.3;
			font-size: calc(30vw/12);
			letter-spacing: 0.8px;
		}
	}

	.m_wrap {
		max-width: 100%;
		margin: 0 2.5%;

		.m_wbox {
			background: #1f2020;
			padding: 8% 2.5% 6.2%;
			margin: 6% 0 0;
			border-radius: 6px;
			.mw_bal {
				top: 3.5%;
				right: 2.5%;
				width: 19.8%;
			}
			figure {
				width: 84.6%;
			}
			.m_bcau {
				margin: 3.5% 0 0;
				line-height: 1.3;
				font-size: calc(28vw/12);
				letter-spacing: 0.5px;
			}
			.date {
				margin: 3.5% 0 0;
				font-size: calc(29vw/12);
				letter-spacing: 0.8px;
			}
		}
	}

	.saison {
		margin: 7.2% 0 0;
		dd {
			border: 1.5px solid #565656;
			width: 55.6%;
		}
		dt {
			width: 40.1%;
			margin: 0 0 0 4.3%;
			line-height: 1.78;
			font-size: calc(37vw/12);
			letter-spacing: 1.3px;
			white-space: nowrap;
		}
	}

	.e_fig {
		max-width: 100%;
		margin: 6.5% auto 0;
	}

	.t_top {
		margin: 11% 0 10%;
		a {
			display: inline-block;
			font-size: calc(50vw/12);
			letter-spacing: 1px;
		}
	}

	aside {
		padding: 0 0 4%;

		.wrap {
			padding: 0 4.5%;
			margin: 0;
		}
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(44vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(37vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(31vw/12);
				}
				.f_item {
					margin: 2.3% 0 2% 4.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(32vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
			.f_last {
				margin: 3% 0 0 0;
				li {
					padding: 0 0 0 4%;
					margin: 0.8% 0 0;
					line-height: 1.4;
					font-size: calc(38vw/12);
				}
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(32vw/12);
		}
	}

	footer {
		padding: 4% 0 3%;
		.wrap {
			padding: 4% 0 5%;
			margin: 0 5%;
			border-top: 1px solid #404040;
		}
		.copy {
			margin: 0 0 6%;
			li {
				margin: 0.7% 0 0 0;
				line-height: 1.3;
				font-size: calc(24vw/12);
			}
		}

		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 2% 0 0;
				a {
					padding: 0 13px 0 0;
					font-size: calc(25vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		.f_dot {
			margin: 2.3% 0 0 5.2%;
			li {
				padding: 0 0 0 4%;
				margin: 1.4% 0 0;
				line-height: 1.4;
				font-size: 15px;
				&:before {
					top: 11px;
					left: 0%;
					font-size: 15px;
					line-height: 0;
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(26vw/12);
			letter-spacing: 1.3px;
		}
	}
	// .hana { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 1.8s 1 forwards; }
}


@media screen and (max-width: 480px) {
	.c_h {
		padding: 0 0 0 3%;
		font-size: calc(54vw/12);
		border-left: 5.5px solid #ddaa00;
		line-height: 1.3;
	}
	.line_w {
		max-width: 100%;
		width: 100%;
		.wrap_w {
			height: 19px;
		}
	}
	.pb30 {
		padding: 0 0 5% !important;
	}

	.mb10 {
		margin: 0 0 2% 0 !important;
	}
	.mn {
		margin: 0 !important;
	}

	.mt10 {
		margin: 1.8% 0 0 !important;
	}

	.mt20 {
		margin: 3% 0 0 !important;
	}
	.mt30 {
		margin: 5% 0 0 !important;
	}
	.mt40 {
		margin: 6% 0 0 !important;
	}
	.mt50 {
		margin: 6.2% 0 0 !important;
	}
	.mt60 {
		margin: 8% 0 0 !important;
	}
	.mt70 {
		margin: 9% 0 0 !important;
	}

	.mat20 {
		margin: 3.1% auto 0 !important;
	}
	.mat70 {
		margin: 9% auto 0 !important;
	}

	.ssp {
		display: none;
	}

	.pre_w {
		max-width: none;
		width: 85%;
		margin: 0 auto;
	}

	.pre_btn {
		a {
			padding: 3.7% 0;
			border-radius: 4px;
			font-size: calc(52vw/12);
			letter-spacing: 0.8px;
		}
	}

	.c_top {
		padding: 0 0 3%;
		margin: 6% 0 0;
		a {
			display: inline-block;
			font-size: calc(47vw/12);
			letter-spacing: 0.5px;
		}
	}

	.c_ldl {
		margin: 8% 0 0;
		dt {
			margin: 0 0 0 5%;
			font-size: calc(41vw/12);
			line-height: 1.4;
			letter-spacing: 0.2px;
		}
	}

	header {
		.h_l {
			padding: 1.3% 0 1.3% 2.2%;
			span {
				display: inline-block;
				max-width: 19.2%;
			}
		}
		.h_a {
			padding: 0.3% 0 7%;
		}
		.h_wrap {
			padding: 6.7% 0 0;
			margin: 0 4.7%;
		}
		.h_bal {
			top: 4%;
			width: 19.8%;
		}

		.h_m {
			width: 86.2%;
		}
	}

	.time {
		padding: 4.3% 0 5.5%;
		.wrap {
			max-width: 100%;
			margin: 0 auto;
		}
		.t_box {
			.timer {
				font-size: calc(35vw/12);
				letter-spacing: 1.3px;
				span {
					display: inline-block;
					width: 10%;
					padding: 1.2% 0 1.3%;
					margin: 0 1.2%;
					border-radius: 4px;
					font-size: calc(57vw/12);
					letter-spacing: 0.3px;
				}
			}
		}

		.cc_t {
			letter-spacing: 0.5px;
			font-size: calc(30vw/12);
		}
		.t_inner {
			padding: 6% 2.4% 7.5%;
			margin: 7% 0 0;
			border-radius: 7px;

			.ti_h {
				font-size:  calc(90vw/12);
				letter-spacing: 1.5px;
				line-height: 1.5;
				.sin {
					font-size: calc(53vw/12);
					letter-spacing: 1.8px;
				}
				.num {
					font-size: calc(56vw/12);
				}
				.brb {
					display: inline-block;
					border-bottom: 3px solid #ddaa00;
					line-height: 1.4;
				}
			}
			figure {
				max-width: 100%;
				margin: 8% auto 0;
			}
		}
		.t_date {
			font-size: calc(34vw/12);
			letter-spacing: 4px;
		}
		.c_box {
			padding: 7% 2.5% 9%;
			margin: 8.5% auto 0;
			border-radius: 4px;
			.cb_text{
				margin: 51px 0 0;
				text-align: center;
				font-size: 17px;
				line-height: 1.4;
				letter-spacing: -0.5px;
				color: #ababab;
			}

			.icon {
				max-width: 240px;
				margin: 0 auto;
				line-height: 0;
			}

			.c_it {
				margin: 0;
				font-size: calc(44vw/12);
				line-height: 1.63;
				letter-spacing: 1.4px;
			}

			.pic {
				margin: 7% auto 0;
				width: 98.1%;
			}
		}

		.c_box {

			.cb_text{
				margin: 8% 0 0;
				font-size: calc(28vw/12);
				line-height: 1.4;
				letter-spacing: -0.5px;
			}
			li {
				padding: 6.5% 2.5% 10.5%;
				max-width: 768px;
				margin: 0 auto 0;
				&:nth-child(2) {
					padding: 3% 0 6.5%;
				}
				.i_he {
					margin: 6% auto 0;
					line-height: 1.6;
					letter-spacing: 1.3px;
					font-size: calc(52vw/12);
				}
				.i_lt {
					margin: 5% auto 0;
					letter-spacing: 1.35px;
					font-size: calc(41vw/12);
					line-height: 1.3;
					.i_list {
						margin: 3% 0 0;
						li {
							padding: 0 0 0 29px;
							margin: 3% 0 0 0;
							line-height: 1.3;
							font-size: 18px;
							&:before {
								top: 11px;
								left: -5px;
								font-size: 33px;
								line-height: 0;
							}
							&:first-child {
								margin: 0;
							}
							&:first-child:before {
								top: 11px;
							}
						}
					}
				}
				.icon {
					width: 38%;
					margin: 0 auto;
				}
				.c_img {
					width: 47%;
					margin: 7% auto 0;
				}


				.c_ih {
					width: 47%;
					margin: 6% auto 0;
					line-height: 1.6;
					letter-spacing: 1.3px;
					font-size: 32px;
				}

				.c_it {
					margin: 0 0 0;
					font-size: calc(44vw/12);
					line-height: 1.6;
					letter-spacing: 1.4px;
					white-space: nowrap;
					.num {
						font-size: calc(46vw/12);
					}
				}
				.c_pre {
					margin: 4.2% 0 0;
					font-size: calc(44vw/12);
					line-height: 1.35;
					letter-spacing: 1.5px;
					.sng {
						font-size: calc(54vw/12);
					}
					.num {
						font-size: calc(60vw/12);
					}
					.num_s {
						font-size: calc(45vw/12);
					}
				}
				.c_sec_ih {
					width: 91%;
					margin: 7% auto 0;
				}
				.c_sec_it {
					margin: 4.3% 0 0;
					font-size: calc(53vw/12);
					line-height: 1.4;
					letter-spacing: 1.4px;
					.num {
						font-size: calc(57vw/12);
					}
				}

				.pic {
					margin: 9% auto 0;
					width: 100%;
				}
				.pic.tperiod {
					margin: 8.4% auto 0;
				}

				.caution {
					margin: 2% 0 0;
					font-size: calc(22vw/12);
					line-height: 1.5;
				}
			}
			.ch_btn {
				margin: 6% auto 0;
				a {
					padding: 3.8% 0;
					border-radius: 4px;
					font-size: calc(47vw/12);
				}
			}
			.ch_caution {
				margin: 4% 0 0;
				font-size: calc(23vw/12);
			}
			.ch_date {
				margin: 3% 0 0;
				letter-spacing: 1.8px;
				font-size: calc(28vw/12);
				span {
					font-size: calc(31vw/12);
				}
			}
		}
		.conditions {
			padding: 5.5% 5.1% 7%;
			margin: 4.5% 0 0;
			border: 1.5px solid #fff;
			border-radius: 10px;
			.cc_h {
				position: absolute;
				top: -3.1%;
				left: 25%;
				display: inline-block;
				background: #000;
				padding: 0 2.6%;
				font-size: calc(41vw/12);
				letter-spacing: 2px;
			}
			.cc_ball {
				position: absolute;
				top: -18%;
				right: -1%;
				width: 21%;
				max-width: 145px;
			}
			.cc_le {
				margin: 0 0 4%;
				letter-spacing: 0.3px;
				line-height: 1.4;
				font-size: calc(34vw/12);
			}
			.cc_list {
				li {
					padding: 0 0 0 7.4%;
					margin: 1.5% 0 0;
					line-height: 1.65;
					font-size: calc(39vw/12);
					letter-spacing: 1.2px;
					&:before {
						content: '';
						content: counter(count);
						position: absolute;
						top: 4px;
						left: 0;
						width: 5%;
						border-radius: 50%;
						font-size: calc(32vw/12);
						font-weight: bold;
					}
				}
			}
			.cc_cau {
				padding: 5% 0 0;
				margin: 4.3% 0 0;
				letter-spacing: 0.8px;
				font-size: calc(29vw/12);
			}
		}
	}
	.t_sec {
		padding: 0 0 7.5%;
	}

	.w_cau {
		font-size: calc(29vw/12);
		letter-spacing: 0.6px;
		line-height: 1.3;
	}

	.whats {
		padding: 8% 0 0;
		.wrap {
			max-width: 680px;
			margin: 0 auto;
		}
		.w_h {
			width: 81.8%;
		}
		.w_t {
			margin: 7% 0 0;
			font-size: calc(43vw/12);
			line-height: 1.4;
			letter-spacing: 0.2px;
		}
		.w_tse {
			margin: 5% 0 0;
			font-size: calc(42vw/12);
			line-height: 1.4;
			letter-spacing: -0.5px;
		}
		.w_head {
			display: inline-block;
			padding: 0 15%;
			margin: 6% 0 0;
			font-size: calc(77vw/12);
			text-shadow: 0.2px 0.2px 0 #000;
			line-height: 1.3;
			white-space: nowrap;
			.cl {
				display: inline-block;
				margin: 0 1%;
				text-shadow: 0.2px 0.2px 0 #ddaa00;
			}
			.ss {
				font-size: calc(56vw/12);
			}
			.w_sec {
				font-size: calc(81vw/12);
			}

			&:before {
				background-size: 100% 100%;
				width: 15.047%;
				height: 64.573%;
			}
			&:after {
				background-size: 100% 100%;
				width: 15.047%;
				height: 64.573%;
			}
		}
		.w_h_po1 {
			display: inline-block;
			padding: 0 10%;
			margin: 6% 0 0;
			font-size: calc(77vw/12);
			text-shadow: 0.2px 0.2px 0 #000;
			line-height: 1.3;
			white-space: nowrap;
			.cl {
				display: inline-block;
				margin: 0 1%;
				text-shadow: 0.2px 0.2px 0 #ddaa00;
			}
			.ss {
				font-size: calc(56vw/12);
			}
			.sec {
				font-size: calc(82vw/12);
			}

			&:before {
				background-size: 100% 100%;
				width: 13.4%;
				height: 66.13%;
			}
			&:after {
				background-size: 100% 100%;
				width: 13.4%;
				height: 66.13%;
			}
		}
		.w_fig {
			margin: 6% auto 0;
		}
		.w_mt {
			margin: 7% 0 0;
			font-size: calc(55vw/12);
			letter-spacing: 0.8px;
		}
		.w_img {
			width: 75.2%;
			margin: 9% auto 0;
		}

		.m_box {
			margin: 9% auto 0;
			border-radius: 4px;
			li {
				width: 47%;
				padding: 0 0 5.5%;
				margin: 5% 0 0 5.55%;
				border-radius: 4px;
				&:first-child {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 5.55%;
				}
				&:nth-child(3) {
					margin: 5% 0 0 0;
				}
				.icon {
					margin: 0 auto;
					line-height: 0;
					img {
						border-radius: 5px 5px 0 0;
					}
				}

				.c_it {
					margin: 8% 0 0;
					font-size: calc(44vw/12);
					line-height: 1.5;
					letter-spacing: 0.8px;
					.h_ss {
						font-size: calc(50vw/12);
					}
				}
			}
		}
	}

	.w_po {
		display: inline-block;
		padding: 1.2% 5% 1.1%;
		margin: 6% auto 0;
		border-radius: 50px;
		font-size: calc(50vw/12);
		letter-spacing: 0.8px;

		&:before {
			bottom: -22%;
			border-width: 10px 6px 0 6px;
		}
		.num {
			font-size: calc(68vw/12);
		}
	}
	.w_lg {
		width: 69%;
		margin: 8% auto 0;
	}
	.w_fe {
		margin: 5% 0 0;
		font-size: calc(66vw/12);
		letter-spacing: 0.8px;
		text-shadow: 0.2px 0.2px 0 #000;
		.ss {
			display: inline-block;
			margin: 0 0.5%;
			font-size: calc(57vw/12);
		}
		.line {
			background:linear-gradient(transparent 80%, #ddaa00 80%);
		}
	}

	.w_fe_se {
		margin: 4.3% 0 0;
		font-size: calc(76vw/12);
		text-shadow: 0.2px 0.2px 0 #000;
		line-height: 1.45;
		letter-spacing: 0.8px;
		white-space: nowrap;
		.cl {
			text-shadow: 0.2px 0.2px 0 #ddaa00;
		}
		.num {
			font-size: calc(81vw/12);
		}
		.dot {
			display: inline-block;
			margin: 0 -3.4%;
			font-size: calc(112vw/12);
		}
		.bb_l {
			display: inline-block;
			border-bottom: 3px solid #ddaa00;
			line-height: 1.1;
		}
		.fe_sec {
			font-size: calc(66vw/12);
		}
		.fe_th {
			font-size: calc(54vw/12);
		}
	}
	.w_fe_th {
		font-size: calc(66vw/12);
		text-shadow: 0.2px 0.2px 0 #000;
		line-height: 1.4;
		letter-spacing: 0.8px;
		white-space: nowrap;
		.cl {
			text-shadow: 0.2px 0.2px 0 #ddaa00;
		}
	}

	.c_hh {
		padding: 8.2% 0 0;
		font-size: calc(74vw/12);
		letter-spacing: 1.5px;
		line-height: 1.5;

		.chbb {
			display: inline-block;
			border-bottom: 3px solid #ddaa00;
			line-height: 1.2;
		}
		.ss {
			font-size: calc(54vw/12);
		}
	}

	.c_hh_se {
		margin: 7% 0 0;
		text-shadow: 0.2px 0.2px 0 #000;
		letter-spacing: 1.5px;
		font-size: calc(87vw/12);
		line-height: 1.5;
		.sin {
			font-size: calc(74vw/12);
			letter-spacing: 2.5px;
		}
		.sec {
			letter-spacing: 4px;
			font-size: calc(87vw/12);
		}
		.ls {
			display: inline-block;
			font-size: calc(95vw/12);
		}

		.chbb {
			display: inline-block;
			border-bottom: 2px solid #ddaa00;
			line-height: 1.1;
		}

		.ss {
			font-size: calc(62vw/12);
		}
	}

	.contents {
		padding: 0 0 7%;
		.ewrap {
			max-width: 100%;
			margin: 0 auto;
			padding: 0 2.5%;
		}

		.c_three {
			margin: 9.45% 0 0;

			.c_titem {
				li {
					padding: 5.5% 0;

					&:first-child {
						padding: 0 0 5.5%;
					}
				}

			}
			.c_tdl {
				dd {
					width: 57%;
				}
				dt {
					width: 39.5%;
					padding: 0 0 0 3.5%;
					font-size: calc(38vw/12);
					letter-spacing: -0.5px;
					line-height: 1.75;
					.bagg {
						display: inline-block;
						padding: 2% 3.5%;
						margin: 0 0 3%;
						font-size: calc(37vw/12);
						letter-spacing: 2px;
						border-radius: 3px;
					}
				}
			}
			.c_ttext {
				margin: 4% 0 0;
				font-size: calc(42vw/12);
				line-height: 1.6;
			}

			.c_tbtn {
				margin: 4% 0 0;
				a {
					padding: 3.8% 0;
					border: 3px solid #ddaa00;
					border-radius: 4px;
					font-size: calc(49vw/12);
					&:hover {
						opacity: 0.8;
						background: none;
						color: #ddaa00;
					}
				}
			}
			.c_no {
				margin: 4% 0 0;
				padding: 3.8% 0;
				border: 3px solid #ddaa00;
				border-radius: 4px;
				font-size: calc(49vw/12);
				&:hover {
					opacity: 0.8;
					background: none;
					color: #ddaa00;
				}
			}
		}
	}
	.c_inn {
		padding: 8% 0 8%;
	}
	.c_inn_fst {
		padding: 8% 0 0;
	}
	.c_inn_sec {
		padding: 0 0 8%;
	}
	.p_h {
		padding: 0 0 0 2.5%;
		border-left: 8px solid #ddaa00;
		font-size: calc(51vw/12);
		letter-spacing: 1.1px;
		line-height: 1.3;
	}

	.more {
		padding: 8% 0 0;
		.m_table {
			margin: 6.5% auto 0;
		}
		.m_cau {
			margin: 4% 0 0;
			line-height: 1.3;
			font-size: calc(32vw/12);
			letter-spacing: 0.8px;
		}
	}

	.m_wrap {
		max-width: 100%;
		margin: 0 2.5%;

		.m_wbox {
			background: #1f2020;
			padding: 8% 2.5% 6.2%;
			margin: 6% 0 0;
			border-radius: 3px;
			figure {
				width: 87.2%;
			}
			.m_bcau {
				margin: 3.5% 0 0;
				line-height: 1.3;
				font-size: calc(30vw/12);
				letter-spacing: 0.1px;
			}
			.date {
				margin: 3.5% 0 0;
				font-size: calc(30vw/12);
				letter-spacing: 0.2px;
			}
		}
	}

	.saison {
		margin: 7.2% 0 0;
		dd {
			border: 1.5px solid #565656;
			width: 55.6%;
		}
		dt {
			width: 40.1%;
			margin: 0 0 0 4.3%;
			line-height: 1.78;
			font-size: calc(39vw/12);
			letter-spacing: 1.3px;
			white-space: nowrap;
		}
	}

	.e_fig {
		max-width: 100%;
		margin: 6.5% auto 0;
	}

	.p_h {
		padding: 0 0 0 2.5%;
		border-left: 5.5px solid #ddaa00;
		font-size: calc(53vw/12);
		letter-spacing: 0.5px;
		line-height: 1.3;
	}


	.t_top {
		margin: 9% 0 7%;
		a {
			display: inline-block;
			font-size: calc(52vw/12);
			letter-spacing: 0.5px;
		}
	}

	aside {
		padding: 0 0 4%;

		.wrap {
			padding: 0 4.5% 0;
		}
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(48vw/12);
				letter-spacing: 0.5px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(41vw/12);
				line-height: 1.45;
				letter-spacing: 0.5px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(35vw/12);
				}
				.f_item {
					margin: 2.3% 0 2% 4.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(36vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
			.f_last {
				margin: 3% 0 0 0;
				li {
					padding: 0 0 0 4%;
					margin: 0.8% 0 0;
					line-height: 1.4;
					font-size: calc(42vw/12);
				}
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(36vw/12);
		}
	}

	footer {
		padding: 4% 0 3%;
		.wrap {
			padding: 4% 0 5%;
			margin: 0 5%;
		}
		.copy {
			margin: 0 0 6%;
			li {
				margin: 0.7% 0 0 0;
				line-height: 1.3;
				font-size: calc(26vw/12);
			}
		}

		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 2% 0 0;
				a {
					padding: 0 13px 0 0;
					font-size: calc(27vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		.f_dot {
			margin: 2.3% 0 0 5.2%;
			li {
				padding: 0 0 0 3.5%;
				margin: 1.4% 0 0;
				line-height: 1.4;
				font-size: 12px;
				&:before {
					top: 8px;
					left: 0%;
					font-size: 12px;
					line-height: 0;
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(28vw/12);
			letter-spacing: 1.3px;
		}
	}
}



