
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; height: auto;}


.pc {
	display: block;
}

.sp {
	display: none;
}

header {
	padding: 0 0 53px;
	margin: 0 auto 0;
	.h_l {
		max-width: 151px;
		padding: 10px 0 10px 20px;
		line-height: 0;
	}
	.h_a {
		position: relative;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/0883fa30c9d6b6025df1a119e59c1a15_6ef7633192354e969fa43827811b898f.png) top center no-repeat #000;
		background-size: cover;
		min-height: 1010px;
		padding: 25px 0 0;
		margin: 0 auto;
		.hana {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/696e53780ad089aca44db1b01d615251_fe77ba31b543778ffa36913828bac8fe.png) top center no-repeat;
			background-size: auto;
			min-height: 545px;
			width: 100%;
			margin: 0 auto;
			z-index: 1;
		}
	}
	.h_w {
		padding: 55px 0 0;
		z-index: 100;
	}

	.h_m {
		max-width: 297px;
		margin: 0 auto 0;
	}
	.h_t {
		max-width: 591px;
		margin: 25px auto 0;
	}
	.h_main {
		max-width: 595px;
		margin: 19px auto 0;
	}
	.h_present {
		background: #1f2020;
		max-width: 553px;
		padding: 40px 0 40px;
		margin: 80px auto 0;
		letter-spacing: 1.3px;
		border-radius: 8px;
		.h_p_h {
			background: #e5c200;
			max-width: 230px;
			padding: 3px 0 6px;
			margin: 0 auto;
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			border-radius: 30px;
			color: #000;
			span {
				font-size: 23px;
			}
		}
		.h_p_t {
			margin: 15px 0 0;
			font-size: 32px;
			line-height: 1.4;
			text-align: center;
			.num {
				font-size: 35px;
				letter-spacing: 1.8px;
			}
			.hpt_c {
				display: inline-block;
				margin: 0 0 0 15px;
				color: #e6c300;
			}
		}
		figure {
			max-width: 215px;
			margin: 50px auto 0;
			line-height: 0;
		}
	}
	.h_btn {
		max-width: 680px;
		margin: 45px auto 0;
		a {
			display: block;
			background: #e5c200;
			padding: 27px 0;
			text-align: center;
			font-size: 28px;
			font-weight: bold;
			letter-spacing: 1.3px;
			border-radius: 6px;
			color: #000;
		}
	}
	.h_date {
		margin: 15px auto 0;
		display: block;
		text-align: center;
		font-size: 20px;
		letter-spacing: 1.3px;
		color: #fff;
		span {
			font-size: 23px;
		}
	}
}


.contents {
	margin: 0;
	.wrap {
		max-width: 715px;
		margin: 0 auto;
	}
	.c_list {
		background: #1f2020;
		padding: 60px 15px 47px;
		border-radius: 8px;
		li {
			padding: 50px 0 50px;
			border-top: 2px solid #404040;

			&:first-child {
				padding: 0 0 67px;
				border-top: none;
			}
			&:last-child {
				padding: 70px 0 0;
			}
		}
		.c_p {
			max-width: 104px;
			margin: 0 auto;
		}
		.c_h {
			max-width: 302px;
			margin: 40px auto 0;
		}
		.c_t {
			margin: 30px 0 0;
			text-align: center;
			line-height: 1.3;
			letter-spacing: 1.3px;
			font-size: 27px;
			.clr {
				color: #e5c200;
			}
			.num {
				font-size: 30px;
			}
		}
		.chart {
			max-width: 644px;
			margin: 40px auto 0;
			line-height: 0;
		}

		.c_p_h {
			max-width: 230px;
			background: #e5c200;
			padding: 3px 0 6px;
			margin: 37px auto 0;
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			border-radius: 30px;
			color: #000;
			span {
				font-size: 23px;
			}
		}
		.c_p_t {
			margin: 15px 0 0;
			font-size: 32px;
			line-height: 1.4;
			text-align: center;
			.num {
				font-size: 35px;
				letter-spacing: 1.8px;
			}
			.hpt_c {
				display: inline-block;
				margin: 0 0 0 15px;
				color: #e6c300;
			}
		}
		.c_amazon {
			max-width: 215px;
			margin: 30px auto 0;
			line-height: 0;
		}
		.c_btn {
			max-width: 680px;
			margin: 45px auto 0;
			a {
				display: block;
				background: #e5c200;
				padding: 27px 0;
				text-align: center;
				font-size: 28px;
				font-weight: bold;
				letter-spacing: 1.3px;
				border-radius: 6px;
				color: #000;
			}
		}
		.c_date {
			margin: 18px auto 0;
			display: block;
			text-align: center;
			font-size: 20px;
			letter-spacing: 1.3px;
			color: #fff;
			span {
				font-size: 23px;
			}
		}
	}
}

.point {
	.wrap {
		max-width: 680px;
		margin: 0 auto;
	}
	.ch {
		padding: 0 0 0 15px;
		margin: 59px 0 42px;
		border-left: 6px solid #e5c200;
		line-height: 1.3;
		font-weight:bold;
		font-size: 32px;
		span {
			display: inline-block;
			margin: 0 5px 0 0;
			font-size: 35px;
			font-weight:bold;
		}
	}
	.c_box {
		margin: 30px 0 0;
		li {
			background: #1a1a1a;
			padding: 30px 16.5px 55px;
			margin: 18px auto 0;
			border-radius: 8px;
			.icon {
				position: relative;
				background: #ddbc1a;
				max-width: 91px;
				margin: 0 auto;
				box-sizing: border-box;
				padding: 4px 0 7px;
				border-radius: 30px;
				font-size: 12.5px;
				font-weight: bold;
				text-align: center;
				white-space: nowrap;
				color: #1f2020;
				&:before {
					content: ' ';
					height: 0;
					position: absolute;
					width: 0;
					border: 7px solid transparent;
					border-top-color: #ddbc1a;
					top: 100%;
					left: 53%;
					margin-left: -10px;
				}
				span {
					display: inline-block;
					margin: 0 0 0 5px;
					font-size: 18px;

				}
			}

			&:first-child {
				margin: 0;
			}

			.c_ih {
				margin: 20px auto 0;
				font-size: 34px;
				text-align: center;
				line-height: 1.35;
				letter-spacing: 1.3px;
				span {
					font-size: 37px;
				}
			}
			.pic {
				margin: 28px auto 0;
				max-width: 644px;
				line-height: 0;
			}
			.copy_c {
				max-width: 644px;
				margin: 5px auto 0;
				font-size: 10px;
				text-align: right;
				color: #777;
			}

			.caution {
				margin: 15px 0 0;
				text-align: center;
				font-size: 13px;
				line-height: 1.3;
				color: #777;
			}
		}
	}
}
.genre {
	.wrap {
		max-width: 680px;
		padding: 0 0 50px;
		margin: 59px auto 0;
		border-bottom: 1px solid #606060;
	}
	.ch {
		padding: 0 0 0 15px;
		border-left: 6px solid #e5c200;
		line-height: 1.4;
		font-weight:bold;
		font-size: 32px;
		span {
			display: inline-block;
			margin: 0 5px 0 0;
			font-size: 35px;
			font-weight:bold;
		}
	}
	.ct {
		padding: 0 0 0 25px;
		margin: 22px 0 0;
		line-height: 1.4;
		font-size: 26px;
		color: #ababab;
		span {
			display: inline-block;
			margin: 0 5px 0 0;
			font-size: 28px;
		}
	}
	.g_list {
		display: flex;
		flex-flow: row wrap;
		margin: 41px 0 0;
		li {
			justify-content: flex-end;
			box-sizing: border-box;
			width: 47.5%;
			margin: 5% 0 0 5%;
			a {
				display: block;
			}
			figure {
				line-height: 0;
			}

			&:nth-child(2n+1) {
				margin: 5% 0 0 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 5%;
			}
			&:nth-child(1) {
				margin: 0;
			}
		}
	}
	.g_btn {
		max-width: 680px;
		margin: 65px auto 0;
		a {
			display: block;
			background: #e5c200;
			padding: 27px 0;
			text-align: center;
			font-size: 28px;
			font-weight: bold;
			letter-spacing: 1.3px;
			border-radius: 6px;
			color: #000;
		}
	}
	.g_date {
		margin: 18px auto 0;
		display: block;
		text-align: center;
		font-size: 20px;
		letter-spacing: 1.3px;
		color: #fff;
		span {
			font-size: 23px;
		}
	}
}
.g_single {
	.wrap {
		padding: 0 0 50px;
		border-top: 1px solid #606060;
		.ch {
			margin: 59px 0 0;
		}
	}
}

.info {
	.wrap {
		max-width: 718px;
		padding: 0 0 30px;
		margin: 59px auto 0;
	}
	.iw {
		margin: 87px auto 0;
		padding: 0 0 63px;
	}
	.iw_box {
		background: #1a1a1a;
		padding: 35px 15px 40px;
		border-radius: 8px;
	}
	.i_h {
		padding: 0 0 0 15px;
		border-left: 6px solid #e5c200;
		line-height: 1.4;
		font-weight:normal;
		font-size: 23px;
		letter-spacing: 1.1px;
		.color {
			color: #e5c200;
		}
		.mr {
			display: inline-block;
			margin: 0 0 0 3px;
		}
		.ih_s {
			font-weight: bold;
			font-size: 29px;
			white-space: nowrap;
		}
		.num {
			font-size: 32px;
		}
	}
	.i_btn {
		max-width: 680px;
		margin: 33px auto 0;
		a {
			display: block;
			background: #e5c200;
			padding: 27px 0;
			text-align: center;
			font-size: 28px;
			font-weight: bold;
			letter-spacing: 1.3px;
			border-radius: 6px;
			color: #000;
		}
	}
	.i_date {
		margin: 18px auto 0;
		display: block;
		text-align: center;
		font-size: 20px;
		letter-spacing: 1.3px;
		color: #fff;
		span {
			font-size: 23px;
		}
	}
}

aside {
	background: #000;
	.wrap {
		border-top: 2px solid #606060;
		padding: 17px 0 36px;
		max-width: 680px;
		margin: 0 auto;
	}
	.f_d {
		dt {
			margin: 40px 0 0;
			font-size: 28px;
			letter-spacing: 1.4px;
			font-weight: normal;
			color: #fff;
		}
		dd {
			margin: 21px 0 0;
			font-size: 24px;
			line-height: 1.45;
			letter-spacing: 1.4px;
			color: #ababab;
			.caution {
				display: block;
				margin: 12px 0 0;
				font-size: 20px;
			}
			.f_item {
				margin: 15px 0 10px 35px;
				li {
					margin: 6px 0 0;
					line-height: 1.4;
					font-size: 20px;
				}
			}

			a {
				color: #a1882f;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.f_last {
			margin: 15px 0 0 0;
			li {
				position: relative;
				padding: 0 0 0 25px;
				margin: 6px 0 0;
				line-height: 1.4;
				font-size: 20px;
				&:before {
					content: '①';
					position: absolute;
					top: 0;
					left: 0;
				}

				&:nth-child(2) {
					&:before {
						content: '②';
					}
				}
			}
		}
	}
	.f_c {
		margin: 15px 0 0;
		line-height: 1.3;
		font-size: 20px;
	}
}

footer {
	background: #000;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
		padding: 60px 0 120px;
		border-top: 2px solid #404040;
	}
	.copy {
		margin: 0 0 32px;
		li {
			width: 100%;
			margin: 5px 0 0 0;
			line-height: 1.3;
			font-size: 16px;
			color: #919191;
		}
	}

	.f_list {
		overflow: hidden;
		margin: 10px 0 10px;
		li {
			position: relative;
			float: left;
			margin: 0 10px 0 0;
			a {
				display: block;
				padding: 0 12px 0 0;
				font-size: 15px;
				color: #919191;
			}
			&:after {
				content: ' | ';
				position: absolute;
				top: 0;
				right: 0;
				color: #919191;
			}
			&:last-child:after {
				content: '';
			}
		}
	}

	small {
		display: block;
		margin: 30px 0 0;
		font-size: 16px;
		letter-spacing: 1px;
		text-align: left;
		color: #919191;
	}
}

// .hana {
// 	opacity: 0;
// }

// @-webkit-keyframes item_sp { 100% { opacity: 1; } }
// @keyframes item_list { 100% { opacity: 1; } }

// .hana { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 2.2s 1 forwards; }




@media screen and (max-width: 768px) {
	.pc {
		display: none;
	}

	.sp {
		display: block;
	}
	header {
		padding: 0 0 7%;
		.h_l {
			width: 21%;
			padding: 1.2% 0 1.2% 2.2%;
		}
		.h_a {
			position: relative;
			background: url(https://bit.ly/2y3ctuk) top center no-repeat #000;
			background-size: cover;
			min-height: auto;
			padding: 4% 0 0;
			margin: 0 auto;
			.hana {
				position: absolute;
				top: 0;
				left: 0;
				background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/89b9390ee05c2319b57bbeb7e6c00fc6_313e4e71858f39ff28bec04784af7c5f.png) top center no-repeat;
				background-size: contain;
				min-height: 454px;
				width: 100%;
				margin: 0 auto;
				z-index: 1;
			}
		}
		.h_w {
			padding: 3% 0 0;
			z-index: 100;
		}

		.h_m {
			width: 39%;
		}
		.h_t {
			width: 68%;
			margin: 2.4% auto 0;
		}
		.h_main {
			width: 69%;
			margin: 2.4% auto 0;
		}
		.h_present {
			width: 74%;
			padding: 5.2% 0 5.2%;
			margin: 10.5% auto 0;
			letter-spacing: 1.3px;
			border-radius: 6px;
			.h_p_h {
				width: 41%;
				padding: 0.8% 0 1.4%;
				font-size: calc(32vw/12);
				border-radius: 30px;
				span {
					font-size: calc(35vw/12);
				}
			}
			.h_p_t {
				margin: 2.5% 0 0;
				font-size: calc(51vw/12);
				line-height: 1.4;
				.num {
					font-size: calc(53vw/12);
					letter-spacing: 1.8px;
				}
				.hpt_c {
					margin: 0 0 0 2.5%;
				}
			}
			figure {
				width: 39%;
				margin: 9% auto 0;
			}
		}
		.h_btn {
			width: 91%;
			margin: 6% auto 0;
			a {
				padding: 4% 0;
				font-size: calc(44vw/12);
				letter-spacing: 1.3px;
				border-radius: 5px;
			}
		}
		.h_date {
			margin: 2% auto 0;
			font-size: calc(31vw/12);
			letter-spacing: 1.3px;
			span {
				font-size: calc(35vw/12);
			}
		}
	}

	.contents {
		margin: 0;
		.wrap {
			padding: 0 2.4%;
			margin: 0 auto;
		}
		.c_list {
			padding: 8.3% 2.2% 7%;
			border-radius: 6px;
			li {
				padding: 9% 0 9%;
				border-top: 2px solid #404040;

				&:first-child {
					padding: 0 0 9%;
					border-top: none;
				}
				&:last-child {
					padding: 9.8% 0 0;
				}
			}
			.c_p {
				width: 16%;
				margin: 0 auto;
			}
			.c_h {
				width: 45%;
				margin: 6% auto 0;
			}
			.c_t {
				margin: 4.5% 0 0;
				line-height: 1.3;
				letter-spacing: 1.3px;
				font-size: calc(43vw/12);
				.num {
					font-size: calc(46vw/12);
				}
			}
			.chart {
				width: 95%;
				margin: 6% auto 0;
			}

			.c_p_h {
				width: 41%;
				padding: 0.8% 0 1.4%;
				margin: 6.5% auto 0;
				font-size: calc(32vw/12);
				border-radius: 30px;
				span {
					font-size: calc(35vw/12);
				}
			}
			.c_p_t {
				margin: 2.5% 0 0;
				font-size: calc(51vw/12);
				line-height: 1.4;
				.num {
					font-size: calc(54vw/12);
					letter-spacing: 1.8px;
				}
				.hpt_c {
					margin: 0 0 0 2.5%;
				}
			}
			figure {
				width: 39%;
				margin: 9% auto 0;
			}

			.c_amazon {
				width: 32%;
				margin: 4% auto 0;
			}
			.c_btn {
				width: 100%;
				margin: 6.6% auto 0;
				a {
					padding: 3.7% 0;
					font-size: calc(45vw/12);
					letter-spacing: 1.3px;
					border-radius: 5px;
				}
			}
			.c_date {
				margin: 2.8% auto 0;
				font-size: calc(32vw/12);
				letter-spacing: 1.3px;
				span {
					font-size: calc(36vw/12);
				}
			}
		}
	}

	.genre {
		.wrap {
			width: 91%;
			padding: 0 0 7%;
			margin: 8% auto 0;
		}
		.ch {
			padding: 0 0 0 2.3%;
			border-left: 4.5px solid #e5c200;
			line-height: 1.4;
			font-size: calc(50vw/12);
			span {
				margin: 0 0.8% 0 0;
				font-size: calc(53vw/12);
			}
		}
		.ct {
			padding: 0 0 0 3%;
			margin: 3% 0 0;
			line-height: 1.4;
			font-size: calc(41vw/12);
			span {
				margin: 0 0.8% 0 0;
				font-size: calc(44vw/12);
			}
		}
		.g_list {
			margin: 6% 0 0;
			li {
				width: 47.5%;
				margin: 5% 0 0 5%;
			}
		}
		.g_btn {
			width: 100%;
			margin: 9% auto 0;
			a {
				padding: 4% 0;
				font-size: calc(44vw/12);
				letter-spacing: 1.3px;
				border-radius: 5px;
			}
		}
		.g_date {
			margin: 2.5% auto 0;
			font-size: calc(32vw/12);
			letter-spacing: 1.3px;
			span {
				font-size: calc(36vw/12);
			}
		}
	}
	.g_single {
		.wrap {
			padding: 0 0 7%;
			.ch {
				margin: 9.5% 0 0;
			}
		}
	}

	.info {
		.wrap {
			width: 96%;
			padding: 0 0 4%;
			margin: 8% auto 0;
		}
		.iw {
			margin: 11% auto 0;
			padding: 0 0 1.5%;
		}
		.iw_box {
			padding: 5% 2% 6.3%;
			border-radius: 6px;
		}
		.i_h {
			padding: 0 0 0 2.5%;
			border-left: 4.5px solid #e5c200;
			line-height: 1.4;
			font-size: calc(37vw/12);
			letter-spacing: 1.1px;
			.mr {
				margin: 0 0 0 1%;
			}
			.ih_s {
				text-indent: -1%;
				font-size: calc(47vw/12);
			}
			.num {
				display: inline-block;
				font-size: calc(52vw/12);
			}
		}
		.i_btn {
			width: 100%;
			margin: 5% auto 0;
			a {
				padding: 4% 0;
				font-size: calc(43vw/12);
				letter-spacing: 1.3px;
				border-radius: 4px;
			}
		}
		.i_date {
			margin: 2.4% auto 0;
			font-size: calc(32vw/12);
			letter-spacing: 1.3px;
			span {
				font-size: calc(35vw/12);
			}
		}
	}

	.point {
		.wrap {
			width: 91%;
		}
		.ch {
			padding: 0 0 0 2.5%;
			margin: 9% 0 6.2%;
			border-left: 4.5px solid #e5c200;
			line-height: 1.3;
			font-size: calc(55vw/12);
			span {
				margin: 0 0.8% 0 0;
				font-size: calc(58vw/12);
			}
		}
		.c_box {
			margin: 4% 0 0;
			li {
				padding: 4.4% 2.2% 7%;
				margin: 3% 0 0;
				margin: 2.6% auto 0;
				border-radius: 6px;
				.icon {
					width: 16%;
					margin: 0 auto;
					box-sizing: border-box;
					padding: 0.8% 0 1.2%;
					border-radius: 30px;
					font-size: calc(21vw/12);
					letter-spacing: 0.6px;
					&:before {
						content: ' ';
						height: 0;
						position: absolute;
						width: 0;
						border: 7px solid transparent;
						border-top-color: #ddbc1a;
						top: 100%;
						left: 53%;
						margin-left: -10px;
					}
					span {
						display: inline-block;
						margin: 0 0 0 2.5%;
						font-size: calc(29vw/12);
					}
				}

				&:first-child {
					margin: 0;
				}

				.c_ih {
					margin: 3.3% auto 0;
					font-size: calc(54vw/12);
					line-height: 1.3;
					letter-spacing: 1.3px;
					span {
						font-size: calc(58vw/12);
					}
				}
				.pic {
					margin: 3.8% auto 0;
				}
				.copy_c {
					margin: 1% auto 0;
					font-size: calc(17vw/12);
				}

				.caution {
					margin: 2% 0 0;
					font-size: calc(21vw/12);
					line-height: 1.3;
				}
			}
		}
	}

	aside {
		padding: 0 0 5%;

		.wrap {
			padding: 2% 0 0;
			margin: 7% 4% 0;
			border-top: 1px solid #606060;
		}
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(44vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(37vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(31vw/12);
				}
				.f_item {
					margin: 2.3% 0 2% 4.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(32vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
			.f_last {
				margin: 3% 0 0 0;
				li {
					padding: 0 0 0 4%;
					margin: 0.8% 0 0;
					line-height: 1.4;
					font-size: calc(38vw/12);
				}
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(32vw/12);
		}
	}

	footer {
		padding: 4% 0 3%;
		.wrap {
			padding: 7% 0 10%;
			margin: 0 5%;
			border-top: 1px solid #404040;
		}
		.copy {
			margin: 0 0 6%;
			li {
				margin: 0.7% 0 0 0;
				line-height: 1.3;
				font-size: calc(24vw/12);
			}
		}

		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 2% 0 0;
				a {
					padding: 0 13px 0 0;
					font-size: calc(25vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(26vw/12);
			letter-spacing: 1.3px;
		}
	}
	// .hana { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 1.8s 1 forwards; }
}


@media screen and (max-width: 480px) {

	header {
		padding: 0 0 7%;
		.h_l {
			width: 21%;
			padding: 1.2% 0 1.2% 2.2%;
		}
		.h_a {
			position: relative;
			background: url(https://bit.ly/2y3ctuk) top center no-repeat #000;
			background-size: cover;
			min-height: auto;
			padding: 3.5% 0 0;
			margin: 0 auto;
			.hana {
				position: absolute;
				top: 0;
				left: 0;
				background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/89b9390ee05c2319b57bbeb7e6c00fc6_313e4e71858f39ff28bec04784af7c5f.png) top center no-repeat;
				background-size: contain;
				min-height: auto;
				width: 100%;
				padding: 35% 0;
				margin: 0 auto;
				z-index: 1;
			}
		}
		.h_w {
			padding: 3% 0 0;
			z-index: 100;
		}

		.h_m {
			width: 40%;
		}
		.h_t {
			width: 71%;
			margin: 2.5% auto 0;
		}
		.h_main {
			width: 69%;
			margin: 2.4% auto 0;
		}
		.h_present {
			width: 74%;
			padding: 5.2% 0 5.2%;
			margin: 6.5% auto 0;
			letter-spacing: 1.3px;
			border-radius: 4px;
			.h_p_h {
				width: 41%;
				padding: 0.8% 0 1.4%;
				font-size: calc(34vw/12);
				border-radius: 30px;
				span {
					font-size: calc(37vw/12);
				}
			}
			.h_p_t {
				margin: 2.5% 0 0;
				font-size: calc(53vw/12);
				line-height: 1.4;
				.num {
					font-size: calc(55vw/12);
					letter-spacing: 1.8px;
				}
				.hpt_c {
					margin: 0 0 0 2.5%;
				}
			}
			figure {
				width: 40%;
				margin: 7% auto 0;
			}
		}
		.h_btn {
			width: 91%;
			margin: 5% auto 0;
			a {
				padding: 4% 0;
				font-size: calc(46vw/12);
				letter-spacing: 1.3px;
				border-radius: 4px;
			}
		}
		.h_date {
			margin: 2% auto 0;
			font-size: calc(33vw/12);
			letter-spacing: 1.3px;
			span {
				font-size: calc(37vw/12);
			}
		}
	}

	.contents {
		margin: 0;
		.wrap {
			padding: 0 2.4%;
			margin: 0 auto;
		}
		.c_list {
			padding: 7.3% 2.2% 7%;
			border-radius: 4px;
			li {
				padding: 9% 0 9%;
				border-top: 1px solid #404040;

				&:first-child {
					padding: 0 0 9%;
					border-top: none;
				}
				&:last-child {
					padding: 9.8% 0 0;
				}
			}
			.c_p {
				width: 16%;
				margin: 0 auto;
			}
			.c_h {
				width: 49%;
				margin: 4.5% auto 0;
			}
			.c_t {
				margin: 4.5% 0 0;
				line-height: 1.3;
				letter-spacing: 1.3px;
				font-size: calc(45vw/12);
				.num {
					font-size: calc(48vw/12);
				}
			}
			.chart {
				width: 95%;
				margin: 6% auto 0;
			}

			.c_p_h {
				width: 41%;
				padding: 0.8% 0 1.4%;
				margin: 7.5% auto 0;
				font-size: calc(34vw/12);
				border-radius: 30px;
				span {
					font-size: calc(37vw/12);
				}
			}
			.c_p_t {
				margin: 2.5% 0 0;
				font-size: calc(53vw/12);
				line-height: 1.4;
				.num {
					font-size: calc(57vw/12);
					letter-spacing: 1.8px;
				}
				.hpt_c {
					margin: 0 0 0 2.5%;
				}
			}
			figure {
				width: 39%;
				margin: 9% auto 0;
			}

			.c_amazon {
				width: 32%;
				margin: 4% auto 0;
			}
			.c_btn {
				width: 100%;
				margin: 6.6% auto 0;
				a {
					padding: 3.7% 0;
					font-size: calc(47vw/12);
					letter-spacing: 1.3px;
					border-radius: 4px;
				}
			}
			.c_date {
				margin: 2.8% auto 0;
				font-size: calc(34vw/12);
				letter-spacing: 1.3px;
				span {
					font-size: calc(38vw/12);
				}
			}
		}
	}

	.genre {
		.wrap {
			width: 91%;
			padding: 0 0 7%;
			margin: 8% auto 0;
		}
		.ch {
			padding: 0 0 0 2.3%;
			border-left: 3px solid #e5c200;
			line-height: 1.4;
			font-size: calc(52vw/12);
			span {
				margin: 0 0.8% 0 0;
				font-size: calc(55vw/12);
			}
		}
		.ct {
			padding: 0 0 0 3%;
			margin: 3% 0 0;
			line-height: 1.4;
			font-size: calc(43vw/12);
			span {
				margin: 0 0.8% 0 0;
				font-size: calc(46vw/12);
			}
		}
		.g_list {
			margin: 6% 0 0;
			li {
				width: 47.5%;
				margin: 5% 0 0 5%;
			}
		}
		.g_btn {
			width: 100%;
			margin: 9% auto 0;
			a {
				padding: 4% 0;
				font-size: calc(46vw/12);
				letter-spacing: 1.3px;
				border-radius: 4px;
			}
		}
		.g_date {
			margin: 2.5% auto 0;
			font-size: calc(34vw/12);
			letter-spacing: 1.3px;
			span {
				font-size: calc(38vw/12);
			}
		}
	}
	.g_single {
		.wrap {
			padding: 0 0 7%;
			.ch {
				margin: 9.5% 0 0;
			}
		}
	}

	.info {
		.wrap {
			width: 96%;
			padding: 0 0 4%;
			margin: 8% auto 0;
		}
		.iw {
			margin: 11% auto 0;
			padding: 0 0 1.5%;
		}
		.iw_box {
			padding: 5% 2% 6.3%;
			border-radius: 4px;
		}
		.i_h {
			padding: 0 0 0 2.5%;
			border-left: 3px solid #e5c200;
			line-height: 1.4;
			font-size: calc(39vw/12);
			letter-spacing: 1.1px;
			.mr {
				margin: 0 0 0 1.7%;
			}
			.ih_s {
				text-indent: -1%;
				font-size: calc(49vw/12);
			}
			.num {
				display: inline-block;
				font-size: calc(54vw/12);
			}
		}
		.i_btn {
			width: 100%;
			margin: 5% auto 0;
			a {
				padding: 4% 0;
				font-size: calc(45vw/12);
				letter-spacing: 1.3px;
				border-radius: 4px;
			}
		}
		.i_date {
			margin: 2.4% auto 0;
			font-size: calc(34vw/12);
			letter-spacing: 1.3px;
			span {
				font-size: calc(37vw/12);
			}
		}
	}

	.point {
		.wrap {
			width: 91%;
		}
		.ch {
			padding: 0 0 0 2.5%;
			margin: 9% 0 6.2%;
			border-left: 4.5px solid #e5c200;
			line-height: 1.3;
			font-size: calc(57vw/12);
			span {
				margin: 0 0.8% 0 0;
				font-size: calc(60vw/12);
			}
		}
		.c_box {
			margin: 4% 0 0;
			li {
				padding: 4.4% 2.2% 7%;
				margin: 3% 0 0;
				margin: 2.6% auto 0;
				border-radius: 4px;
				.icon {
					width: 19%;
					margin: 0 auto;
					box-sizing: border-box;
					padding: 0.8% 0 1.2%;
					border-radius: 30px;
					font-size: calc(23vw/12);
					letter-spacing: 0.6px;
					&:before {
						content: ' ';
						height: 0;
						position: absolute;
						width: 0;
						border: 7px solid transparent;
						border-top-color: #ddbc1a;
						top: 100%;
						left: 53%;
						margin-left: -10px;
					}
					span {
						display: inline-block;
						margin: 0 0 0 2.5%;
						font-size: calc(31vw/12);
					}
				}

				&:first-child {
					margin: 0;
				}

				.c_ih {
					margin: 3.3% auto 0;
					font-size: calc(55vw/12);
					line-height: 1.3;
					letter-spacing: 1.3px;
					span {
						font-size: calc(60vw/12);
					}
				}
				.pic {
					margin: 3.8% auto 0;
				}
				.copy_c {
					margin: 1% auto 0;
					font-size: calc(19vw/12);
				}

				.caution {
					margin: 2% 0 0;
					font-size: calc(23vw/12);
					line-height: 1.3;
				}
			}
		}
	}

	aside {
		padding: 0 0 5%;
		.wrap {
			padding: 2% 0 0;
			margin: 7% 4% 0;
			border-top: 1px solid #606060;
		}
		.f_d {
			dt {
				margin: 6.5% 0 0;
				font-size: calc(46vw/12);
				letter-spacing: 1.3px;
			}
			dd {
				margin: 3.7% 0 0;
				font-size: calc(39vw/12);
				line-height: 1.45;
				letter-spacing: 1.3px;
				.caution {
					margin: 2% 0 0;
					font-size: calc(33vw/12);
				}
				.f_item {
					margin: 2.3% 0 2% 4.2%;
					li {
						margin: 1% 0 0;
						line-height: 1.4;
						font-size: calc(34vw/12);
					}
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.dd_last {
				line-height: 1.2;
			}
			.f_last {
				margin: 3% 0 0 0;
				li {
					padding: 0 0 0 4%;
					margin: 0.8% 0 0;
					line-height: 1.4;
					font-size: calc(40vw/12);
				}
			}
		}
		.f_c {
			margin: 2.5% 0 0;
			line-height: 1.4;
			font-size: calc(34vw/12);
		}
	}

	footer {
		padding: 4% 0 3%;
		.wrap {
			padding: 7% 0 10%;
			margin: 0 5%;
			border-top: 1px solid #404040;
		}
		.copy {
			margin: 0 0 6%;
			li {
				margin: 0.7% 0 0 0;
				line-height: 1.3;
				font-size: calc(26vw/12);
			}
		}

		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 2% 0 0;
				a {
					padding: 0 13px 0 0;
					font-size: calc(27vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(28vw/12);
			letter-spacing: 1.3px;
		}
	}
}



