body * {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #fff;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  display: block;
  -webkit-transition: .8s;
  transition: .8s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .5;
}

img {
  width: 100%;
}

header {
  margin: 0 0 40px;
}
header .logo {
  background: #000;
  padding: 13px 0 14px 18px;
  line-height: 0;
}
header .logo span {
  display: block;
  max-width: 151px;
}
header .h_wrap {
  background: url(https://bit.ly/2BP9PKj) center center no-repeat;
  background-size: cover;
  padding: 59px 0 0;
  height: 216px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_wrap .h_t {
  max-width: 558px;
  margin: 0 auto;
  line-height: 0;
}

.week {
  max-width: 750px;
  margin: 0 auto 52px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', Arial;
}
.week ul {
  border-bottom: solid 1px #6e6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.week li {
  width: 14.28%;
  padding-bottom: 4px;
  text-align: center;
}
.week li a {
  color: #525252;
  font-size: 40px;
  font-weight: bold;
}
.week .active {
  border-bottom: solid 4px #50c300;
}
.week .active a {
  color: #FFF;
}

.main {
  width: 750px;
  margin: 0 auto 48px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main section {
  width: 660px;
}
.main h1 {
  display: block;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  width: 90px;
}
.main h1 span {
  font-size: 26px;
  font-weight: bold;
}
.main li {
  margin-bottom: 48px;
}
.main li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
}
.main li a figure {
  width: 270px;
  margin-right: 24px;
}
.main li a figure img {
  min-width: 270px;
}
.main li a div {
  width: 100%;
  -ms-flex-negative: 50;
      flex-shrink: 50;
}
.main li a h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: normal;
}
.main li a h2 .title {
  display: block;
  font-size: 28px;
  font-weight: normal;
}
.main li a h2 .tag {
  display: block;
  font-size: 20px;
  padding: 3px 8px 3px 8px;
  background-color: #f0173a;
  border-radius: 4px;
}
.main li a .video {
  color: #51c300;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4em;
}
.main li a .detail-txt {
  font-size: 26px;
  line-height: 1.4em;
}
.main li:last-child {
  margin-bottom: 0;
}

article:nth-of-type(5) {
  margin: 0 auto 65px auto;
}

.other-link {
  width: 702px;
  margin: 0 auto 64px auto;
}
.other-link a {
  color: #FFF;
  background-color: #212121;
  border-radius: 8px;
  width: 702px;
}
.other-link a p {
  padding: 20px 33px 20px 44px;
  font-size: 28px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.other-link a p img {
  max-width: 16px;
}
.other-link a p span {
  line-height: 1.4em;
}
.other-link a p span b {
  font-weight: bold;
  color: #51c300;
  font-size: 26px;
  margin-bottom: 8px;
  line-height: 1.4em;
}

.video-promos {
  width: 750px;
  background: url(https://bit.ly/2PW5lLG) 0 0 no-repeat;
  background-size: cover;
  padding: 44px 0 44px 0;
  margin: 0 auto 26px auto;
}
.video-promos section {
  width: 680px;
  margin: 0 auto;
}
.video-promos section h2 {
  margin-bottom: 15px;
}
.video-promos section h2 img {
  max-width: 336px;
}
.video-promos section p {
  font-size: 32px;
  margin-bottom: 30px;
}
.video-promos section aside a {
  display: block;
  color: #51c300;
  font-size: 28px;
  font-weight: bold;
  padding: 25px 0 25px 0;
  text-align: center;
  border: solid 2px #51c300;
  border-radius: 8px;
}

footer {
  width: 750px;
  margin: 0 auto;
  padding-bottom: 40px;
}
footer p {
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 1.5em;
  color: #919191;
}
footer .links {
  margin-bottom: 24px;
}
footer ul {
  margin-bottom: 5px;
}
footer ul li {
  display: inline-block;
  color: #919191;
}
footer ul li a {
  display: inline-block;
  font-size: 16px;
  line-height: 1.35em;
  color: #919191 !important;
}
footer ul li:after {
  content: " \007c ";
}
footer ul li:last-child:after {
  content: none;
}
footer small {
  display: block;
  font-size: 16px;
  color: #919191;
}

@media screen and (max-width: 768px) {
  header {
    margin: 0 0 5%;
  }
  header .logo {
    padding: 1.7% 0 1.8% 2.2%;
  }
  header .logo span {
    width: 21%;
  }
  header .h_wrap {
    background: url(https://goo.gl/zfGwFA) center center no-repeat;
    background-size: cover;
    padding: 8% 0 7.4%;
    height: auto;
  }
  header .h_wrap .h_t {
    width: 78%;
  }

  .week {
    width: 100%;
    max-width: none;
    margin: 0 auto 6.5% auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .week li {
    padding-bottom: 1%;
  }
  .week li a {
    font-size: calc(65vw/12);
  }
  .week .active {
    border-bottom: solid 2px #50c300;
  }
}
@media screen and (max-width: 480px) {
  .line {
    height: 17px;
    margin: 2% auto 4%;
  }

  .f_line {
    background: #fff;
    height: 31px;
  }

  .dn {
    display: none;
  }

  .z_ba_span {
    padding: 1.5% 6.5% 1.5%;
    margin: 0 0 0 2%;
    border-radius: 3px;
    font-size: calc(28vw/12);
    letter-spacing: 2px;
  }

  header .logo {
    padding: 1.6% 0 1.8% 2.5%;
  }
  header .logo span {
    width: 21%;
  }
  header .h_wrap {
    padding: 0;
  }
  header .h_wrap .h_h {
    width: 50%;
    padding: 21% 2% 22.7% 0;
    margin: 0 auto;
    line-height: 0;
  }
  header .h_wrap .h_t {
    padding: 1.9% 0 1.8%;
  }
  header .h_wrap .h_t figure {
    width: 87%;
  }
  header .h_wrap .h_a figure {
    width: 21%;
  }
  header .h_wrap .h_asi figure {
    width: 15%;
  }
  header .h_wrap .h_sho figure, header .h_wrap .h_mar figure, header .h_wrap .h_f figure {
    width: 15%;
  }
  header .h_wrap .h_v figure {
    width: 33%;
  }
  header .h_wrap .h_r {
    padding: 1.6% 0 1.6%;
  }
  header .h_w_ani {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/cbce002f09c2876959f63cc02d35449a_98f17b4d0bb5a79038294185a790faa8.png) left top repeat;
    background-size: 6% auto;
  }
  header .h_w_ani .h_ani {
    background: url(https://bit.ly/2KbyQG0) center center no-repeat;
    background-size: cover;
  }
  header .h_w_ani .h_h {
    width: 49%;
    padding: 21.5% 1.2% 22.9% 0;
    line-height: 0;
  }
  header .h_w_ani .h_t {
    margin: -1px 0 0;
  }
  header .h_w_ani .h_t figure {
    width: 85%;
    line-height: 0;
  }

  .c_heading {
    padding: 5.3% 0 5.5%;
  }
  .c_heading .c_h_h {
    width: 48%;
    padding: 1.3% 0;
    font-size: calc(38vw/12);
    letter-spacing: 1.3px;
  }
  .c_heading .c_h_t {
    margin: 3.2% 0 0;
    font-size: calc(38vw/12);
  }
  .c_heading .c_h_p {
    width: 93%;
    margin: 3% auto 0;
  }
  .c_heading .c_i_h {
    width: 82%;
    margin: 4.4% auto 0;
  }
  .c_heading .c_h_bt {
    margin: 7% auto 3%;
  }
  .c_heading .c_h_bt a {
    padding: 3.6% 0;
    border-radius: 5px;
    font-size: calc(46vw/12);
    letter-spacing: 1.3px;
  }

  .contents {
    padding: 6% 0 0;
  }
  .contents .c_ge {
    padding: 0.8% 3.5%;
    margin: 2% 0 4%;
    border: 1px solid #cfa64d;
    border-radius: 30px;
    font-size: calc(28vw/12);
    letter-spacing: 1.1px;
  }
  .contents .c_h {
    border-left: 3px solid #cfa64d;
    padding: 0 0 0 2.6%;
    line-height: 1.4;
    font-size: calc(50vw/12);
  }
  .contents .c_h span {
    letter-spacing: 1.3px;
    font-size: calc(52vw/12);
  }
  .contents .c_h_m {
    margin: 3% 0 0;
  }
  .contents .c_t {
    margin: 2% 0 0;
    font-size: calc(41vw/12);
    line-height: 1.3;
  }
  .contents .c_zwei {
    padding: 0 0 8%;
    margin: 7% 0 0;
  }
  .contents .c_zwei figure {
    line-height: 0;
  }
  .contents .c_zwei .c_z_h {
    margin: 1.5% 0 0;
    font-size: calc(31vw/12);
    line-height: 1.4;
    letter-spacing: 1.2px;
  }
  .contents .c_zwei .c_z_v {
    margin: 5.2% 0 0;
    font-size: calc(53vw/12);
  }
  .contents .c_zwei .c_z_item {
    margin: 5.5% 0 0;
  }
  .contents .c_zwei .c_z_item .z_ba {
    padding: 1.5% 6.3% 1.7%;
    margin: 0 0 0 2%;
    border-radius: 3px;
    font-size: calc(29vw/12);
    letter-spacing: 2px;
  }
  .contents .c_zwei .c_z_item .z_ba_single {
    padding: 0.5% 2.2% 0.7%;
  }
  .contents .c_zwei .c_z_item li {
    margin: 3% 0 0;
  }
  .contents .c_zwei .c_z_item li .c_z_t {
    padding: 0 0 0 6.5%;
    font-size: calc(45vw/12);
  }
  .contents .c_zwei .c_z_item li .c_z_t:before {
    content: '';
    position: absolute;
    top: 7%;
    left: 0;
    width: 4%;
    height: 100%;
    border-radius: 50%;
  }
  .contents .c_zwei .c_z_item li dl {
    letter-spacing: 1.2px;
  }
  .contents .c_zwei .c_z_item li dl dt {
    width: 30%;
    padding: 0 0 0 6.5%;
    font-size: calc(43vw/12);
  }
  .contents .c_zwei .c_z_item li dl dt:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 12%;
    height: 100%;
    border-radius: 50%;
  }
  .contents .c_zwei .c_z_item li dl dd {
    font-size: calc(43vw/12);
  }
  .contents .c_zwei .c_z_btn {
    margin: 7% 0 0;
  }
  .contents .c_zwei .c_z_btn a {
    padding: 2.8% 0;
    border-radius: 4px;
    font-size: calc(53vw/12);
    letter-spacing: 1.5px;
  }
  .contents .c_one {
    padding: 0 0 2.5%;
    margin: 1% 0 0;
  }
  .contents .c_one .c_t_item li {
    padding: 4% 0 0;
  }
  .contents .c_one .c_t_dl dd {
    width: 52%;
  }
  .contents .c_one .c_t_dl dt {
    width: 45%;
    padding: 0 0 0 3%;
    font-size: calc(42vw/12);
    line-height: 1.35;
  }
  .contents .c_one .c_t_dl dt .rank {
    font-size: calc(34vw/12);
  }
  .contents .c_one .c_t_dl dt .rank .num {
    margin: 0 0.3% 0 0;
    font-size: calc(49vw/12);
  }
  .contents .c_one .c_t_text {
    margin: 3% 0 0;
    font-size: calc(47vw/12);
    line-height: 1.4;
  }
  .contents .c_one .c_t_btn {
    margin: 3.5% 0 5%;
  }
  .contents .c_one .c_t_btn a {
    padding: 2.3% 0;
    border-radius: 5px;
    border: 1.5px solid #cfa64d;
    font-size: calc(50vw/12);
  }
  .contents .c_one .c_t_btn a:hover {
    background: #cfa64d;
    color: #fff;
    opacity: 1;
  }
  .contents .c_one .c_row li {
    padding: 3.5% 0;
  }
  .contents .c_one .c_row li:first-child {
    border-top: 1px solid #606060;
  }
  .contents .c_one .c_row .c_r_dl dd {
    width: 44%;
  }
  .contents .c_one .c_row .c_r_dl dt {
    width: 53%;
    padding: 0 0 0 3%;
    font-size: calc(38vw/12);
    line-height: 1.35;
  }
  .contents .c_one .c_row .c_r_dl dt .rank {
    font-size: calc(36vw/12);
  }
  .contents .c_one .c_row .c_r_dl dt .rank .num {
    margin: 0 0.2% 0 0;
    font-size: calc(49vw/12);
  }
  .contents .c_one .c_t_text {
    margin: 3% 0 0;
    font-size: calc(43vw/12);
    line-height: 1.4;
  }
  .contents .c_two {
    padding: 0 0 2.5%;
    margin: 1% 0 0;
  }
  .contents .c_two .c_t_item li {
    padding: 4% 0 0;
  }
  .contents .c_two .c_t_dl dd {
    width: 52%;
  }
  .contents .c_two .c_t_dl dt {
    width: 45%;
    padding: 0 0 0 3%;
    font-size: calc(42vw/12);
    line-height: 1.35;
  }
  .contents .c_two .c_t_dl dt .rank {
    font-size: calc(34vw/12);
  }
  .contents .c_two .c_t_dl dt .rank .num {
    margin: 0 0.3% 0 0;
    font-size: calc(49vw/12);
  }
  .contents .c_two .c_t_text {
    margin: 3% 0 0;
    font-size: calc(47vw/12);
    line-height: 1.4;
  }
  .contents .c_two .c_t_btn {
    margin: 3.5% 0 5%;
  }
  .contents .c_two .c_t_btn a {
    padding: 2.3% 0;
    border-radius: 5px;
    border: 1.5px solid #cfa64d;
    font-size: calc(50vw/12);
  }
  .contents .c_two .c_t_btn a:hover {
    background: #cfa64d;
    color: #fff;
    opacity: 1;
  }
  .contents .c_two .c_row li {
    padding: 3.5% 0;
  }
  .contents .c_two .c_row li:first-child {
    border-top: 1px solid #606060;
  }
  .contents .c_two .c_row .c_r_dl dd {
    width: 44%;
  }
  .contents .c_two .c_row .c_r_dl dt {
    width: 53%;
    padding: 0 0 0 3%;
    font-size: 23px;
    line-height: 1.35;
  }
  .contents .c_two .c_row .c_r_dl dt .rank {
    font-size: calc(36vw/12);
  }
  .contents .c_two .c_row .c_r_dl dt .rank .num {
    margin: 0 0.2% 0 0;
    font-size: calc(48vw/12);
  }
  .contents .c_two .c_t_text {
    margin: 3% 0 0;
    font-size: calc(43vw/12);
    line-height: 1.4;
  }
  .contents .c_three {
    padding: 0 0 1.5%;
    margin: 1% 0 0;
  }
  .contents .c_three .c_t_item li {
    padding: 4% 0 0;
  }
  .contents .c_three .c_t_dl dd {
    width: 52%;
  }
  .contents .c_three .c_t_dl dt {
    width: 45%;
    padding: 0 0 0 3%;
    font-size: calc(38vw/12);
    line-height: 1.35;
  }
  .contents .c_three .c_row li {
    padding: 3.5% 0;
  }
  .contents .c_three .c_row li:first-child {
    border-top: 1px solid #606060;
  }
  .contents .c_three .c_row .c_thr_dl dd {
    width: 44%;
  }
  .contents .c_three .c_row .c_thr_dl dt {
    width: 53%;
    padding: 0 0 0 3%;
    font-size: calc(42vw/12);
    line-height: 1.35;
  }
  .contents .c_three .c_row .c_thr_dl dt .rank {
    font-size: calc(36vw/12);
  }
  .contents .c_three .c_row .c_thr_dl dt .rank .num {
    margin: 0 0.2% 0 0;
    font-size: calc(48vw/12);
  }
  .contents .c_three .c_t_text {
    margin: 3% 0 0;
    font-size: calc(43vw/12);
    line-height: 1.4;
  }
  .contents .c_three .c_t_btn {
    margin: 3.5% 0 5%;
  }
  .contents .c_three .c_t_btn a {
    padding: 2.3% 0;
    border-radius: 5px;
    border: 1.5px solid #cfa64d;
    font-size: calc(46vw/12);
  }
  .contents .c_four {
    padding: 0 0 5%;
    margin: 1% 0 0;
  }
  .contents .c_four .c_f_item li {
    padding: 3.5% 0;
  }
  .contents .c_four .c_f_item .c_f_dl dd {
    width: 37%;
  }
  .contents .c_four .c_f_item .c_f_dl dt {
    width: 59.5%;
    margin: 0 0 0 3.5%;
    font-size: calc(38vw/12);
    line-height: 1.35;
  }
  .contents .c_six {
    padding: 0 0 5%;
    margin: 1% 0 0;
  }
  .contents .c_six .c_s_item li {
    padding: 3% 0;
  }
  .contents .c_six .c_s_dl dd {
    width: 38%;
  }
  .contents .c_six .c_s_dl dt {
    width: 59%;
    padding: 0 0 0 3%;
    font-size: calc(38vw/12);
    line-height: 1.35;
  }
  .contents .c_six .c_s_dl dt .rank {
    font-size: calc(40vw/12);
  }
  .contents .c_six .c_s_dl dt .rank .num {
    margin: 0 0.2% 0 0;
    font-size: calc(44vw/12);
  }
  .contents .c_12th {
    padding: 0 0 3%;
    margin: 5% 0 0;
  }
  .contents .c_12th figure {
    margin: 3% 0 0;
  }
  .contents .c_12th .c_12h {
    margin: 4% 0 0;
    font-size: calc(47vw/12);
  }
  .contents .c_12th .c_12t {
    margin: 2% 0 0 0;
    font-size: calc(42vw/12);
    line-height: 1.3;
  }
  .contents .c_12th .c_btn {
    margin: 6% 0 6%;
  }
  .contents .c_12th .c_btn a {
    padding: 2.3% 0;
    border-radius: 5px;
    border: 1.5px solid #cfa64d;
    font-size: calc(48vw/12);
  }
  .contents .c_12th .c12_item li {
    padding: 4% 0;
  }
  .contents .c_12th .c_dl dt {
    padding: 0 0 0 3%;
    font-size: calc(40vw/12);
    line-height: 1.35;
  }
  .contents .c_seven {
    padding: 0 0 5%;
    margin: 5% 0 0;
  }
  .contents .c_seven li {
    border-radius: 4px;
  }
  .contents .c_seven li a {
    border-radius: 4px;
  }
  .contents .c_seven li a figure img {
    border-radius: 4px 4px 0 0;
  }
  .contents .c_seven li a .c_text {
    padding: 5.5%;
    font-size: calc(44vw/12);
    line-height: 1.3;
  }
  .contents .c_five {
    padding: 0 0 3%;
  }
  .contents .c_five .c_f_li a {
    padding: 3.7% 0;
  }
  .contents .c_five .c_f_li dd {
    width: 48%;
  }
  .contents .c_five .c_f_li dt {
    width: 48%;
    padding: 0 0 0 4%;
    font-size: calc(43vw/12);
    line-height: 1.35;
  }

  .c_s {
    padding: 0;
  }

  .banner .b_wrap {
    padding: 4% 4.5% 5.8%;
  }
  .banner .b_h {
    font-size: calc(52vw/12);
  }
  .banner .b_t {
    margin: 3.2% 0 0;
    font-size: calc(40vw/12);
    line-height: 1.5;
  }
  .banner .b_btn {
    margin: 4.8% 0 0;
  }
  .banner .b_btn a {
    padding: 3.5% 0;
    border-radius: 5px;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
  }

  aside {
    padding: 2% 0 5%;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(46vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(39vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(31vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 0 5.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }
  aside .f_d dd a:hover {
    text-decoration: underline;
  }
  aside .f_d .dd_last {
    line-height: 1.2;
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(34vw/12);
  }

  .genre {
    padding: 0 0 8.5%;
  }
  .genre .wrap {
    padding: 0;
    margin: 0 5%;
  }
  .genre .g_h {
    font-size: calc(52vw/12);
    padding: 4% 0 0;
  }
  .genre .g_item {
    margin: 6% 0 0;
  }
  .genre .g_item li a {
    padding: 4% 0;
    border: 1px solid #cfa64d;
    border-radius: 4px;
    font-size: calc(46vw/12);
    letter-spacing: 1.3px;
  }
  .genre .g_item li a:hover {
    background: none;
    color: #cfa64d;
  }
  .genre .g_btn {
    margin: 9% 0 0;
  }
  .genre .g_btn a {
    display: block;
    padding: 3.1%;
    font-size: calc(39vw/12);
    line-height: 1.4;
    border-radius: 5px;
    border: 1px solid #cfa64d;
    color: #cfa64d;
  }
  .genre .g_btn a:before {
    top: 38%;
    right: 2.5%;
    background-size: 10px 17px;
    width: 10px;
    height: 17px;
  }
  .genre .g_btn a .gt {
    font-size: calc(32vw/12);
  }
  .genre .g_btn a .gnum {
    font-size: calc(45vw/12);
  }

  footer {
    padding: 4% 0 6%;
  }
  footer .wrap {
    padding: 0;
    margin: 0 5%;
  }
  footer .copy {
    margin: 0 0 4%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(26vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 2% 0 0;
  }
  footer .f_list li a {
    padding: 0 13px 0 0;
    font-size: calc(27vw/12);
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
    font-size: calc(27vw/12);
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(28vw/12);
    letter-spacing: 0px;
  }
}
