body * {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #fff;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  display: block;
  -webkit-transition: .8s;
  transition: .8s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .5;
}

img {
  width: 100%;
  height: auto;
}

header {
  margin: 0 0 40px;
}
header .logo {
  background: #000;
  padding: 13px 0 14px 18px;
  line-height: 0;
}
header .logo span {
  display: block;
  max-width: 151px;
}
header .h_wrap {
  background: url(https://bit.ly/2BP9PKj) center center no-repeat;
  background-size: cover;
  padding: 59px 0 0;
  height: 216px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_wrap .h_t {
  max-width: 558px;
  margin: 0 auto;
  line-height: 0;
}
header div {
  background: none;
  background-size: auto;
}
header div img {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.week {
  max-width: 750px;
  margin: 0 auto 52px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', Arial;
}
.week ul {
  border-bottom: solid 1px #6e6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.week li {
  width: 14.28%;
  padding-bottom: 4px;
  text-align: center;
}
.week li a {
  color: #525252;
  font-size: 40px;
  font-weight: bold;
}
.week .active {
  border-bottom: solid 4px #50c300;
}
.week .active a {
  color: #FFF;
}

@media screen and (max-width: 768px) {
  header {
    margin: 0 0 5%;
  }
  header .logo {
    padding: 1.7% 0 1.8% 2.2%;
  }
  header .logo span {
    width: 21%;
  }
  header .h_wrap {
    background: url(https://goo.gl/zfGwFA) center center no-repeat;
    background-size: cover;
    padding: 8% 0 7.4%;
    height: auto;
  }
  header .h_wrap .h_t {
    width: 78%;
  }

  .week {
    width: 100%;
    max-width: none;
    margin: 0 auto 6.5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .week li {
    padding-bottom: 1%;
  }
  .week li a {
    font-size: calc(65vw/12);
  }
  .week .active {
    border-bottom: solid 2px #50c300;
  }
}
