@charset "UTF-8";

* {
	padding:0;
	margin: 0;
	line-height: 1;
	color: #3a352a;
}
body {
	font-family: "Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,Meiryo,メイリオ,sans-serif";
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%;}


header {

}
.wrap_header {
	position: relative;
	width: 960px;

	.img1 {
		position: absolute;
		left: 20%;
		top: 20%;
		max-width:200px;
		img {
			width: 80%;
		}
	}
	.img2{
		max-width:200px;
		position: absolute;
		left: 40%;
		top: 20%;
	}
	.img3{
		position: absolute;
		left: 16.5%;
		bottom: -1%;
		img {
			max-width: 564px;
		}
	}
	.base {
		width: 80%;
		margin: 0 auto;
		max-height: 400px;
		img{
			width: 65%;
		}
	}
}


