
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #fff;
	li {
		list-style: none;
	}
}
body {
	overflow-y: hidden;
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; }

.wrap {
	max-width: 768px;
	margin: 0 auto;
}
.a_wrap {
	max-width: 768px;
	padding: 0 34px 0;
	margin: 0 auto;
	box-sizing: border-box;
}
.f_wrap {
	max-width: 768px;
	margin: 0 auto;
	box-sizing: border-box;
}
.pc {
	display: block;
}
.sp {
	display: none;
}
header {
	.h_inner {
		background: #000;
	}
	.h_wrap {
		max-width: 768px;
		margin: 0 auto;
	}
	.j_wrap {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/383675/8acabcec8215af887ee7264d6c73b965_444d9b0b6a9951626d158d53a162361e.jpg) center center no-repeat;
		max-width: 1920px;
		margin: 0 auto;
		background-size: cover;
		padding: 143px 0;
	}
	.header_logo {
		max-width: 191px;
		padding: 17px 0 17px 38px;
		line-height: 0;
	}
	.h_t {
		max-width: 613px;
		margin: 0 auto;
		text-align: center;

	}
}
.contents {
	padding: 30px 0 33px;
	.c_t {
		font-size: 24px;
		letter-spacing: 1.25px;
		line-height: 1.25;
		text-align: center;
		color: #8c8c8c;
		.num {
			font-size: 28px;
		}
		.heart {
			font-size: 27px;
			font-weight: normal;
		}
	}
	.c_h {
		font-size: 33px;
		letter-spacing: 1.6px;
		font-weight: bold;
		span {
			font-size: 40px;
		}
	}
	.c_p {
		margin: 14px 0 0;
		font-size: 24px;
		font-weight: bold;
		color: #8c8c8c;
		span {
			font-size: 26px;
		}
	}
	dl {
		padding: 33px 0 0;
		dt {
			font-size: 24px;
			font-weight: bold;
		}
		dd {
			margin: 12px 0 0;
			font-size: 22px;
			line-height: 1.45;
			letter-spacing: 1.3px;
			font-weight: bold;
			color: #8c8c8c;
			span {
				font-size: 25px;
			}
		}
	}
	.main {
		margin: 20px 0 0;
		line-height: 0;
	}
	.large {
		margin: 25px 0 0;
	}
	.thumb {
		// overflow: hidden;
		display:flex;
		justify-content:space-between;
		margin: 15px 0 0;
		li {
			margin: 0 0 0 2%;
			&:first-child {
				margin: 0;
			}
			a {
				overflow: hidden;
				display: block;
				line-height:0;
				transition: none;
				img {
					margin: 0;
				}

			}
			.active {
				box-sizing: border-box;
				border: 4px solid #33aa22;
				img {
					margin: -2px 0;
					opacity: .8;

				}
			}
		}
	}
	.btn {
		margin: 36px 0 0;
		a {
			display: block;
			background: #33aa22;
			padding: 20px 0;
			border-radius: 4px;
			text-align: center;
			font-size: 32px;
			color: #fff;
		}
	}
}
.c_f {
	padding: 0 0 35px;
	.c_t {
		margin: 38px 0 0;
	}
	.c_h {
		margin: 62px 0 0;
	}
}
.line {
	background: #efefef;
	height: 35px;
}



footer {
	background: #efefef;
	padding: 60px 0 20px;
	margin: 0 0 0;
	.anchor {
		overflow: hidden;
		max-width: 768px;
		margin: 0 auto;
		text-align: right;
		a {
			float: right;
			width: 50%;
			display: block;
			font-size: 27px;
			color: #33aa22;
			&:hover {
				text-decoration: underline;
			}
			span {
				font-size: 30px;
			}
		}
	}
	.link-reality {
		max-width: 660px;
		margin: 0 auto 68px auto;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: #FFF;
			background-color: #e02b6c;
			border-radius: 8px;
			max-width: 660px;
			padding-right: 21px;
			img {
				max-width: 20px;
			}
		}
		dl {
			padding: 30px 0 30px 22px;
			dt {
				font-size: 30px;
				font-weight: 600;
				line-height: 1.4;
				white-space: nowrap;
			}
			dd {
				font-size: 21px;
				line-height: 1.4;
			}
		}
	}

	.footer_item {
		overflow: hidden;
		margin: 10px 0 15px;
		li {
			position: relative;
			float: left;
			padding: 0 10px 0 10px;
			font-size: 17px;
			line-height: 1.5;
			color: #000;
			&:after {
				content: '/';
				position: absolute;
				top: 0;
				right: 0;
			}
			a {
				padding: 0 4px 0 0;
				font-size: 16px;
				color: #000;

				&:hover {
					text-decoration: underline;
				}
			}
			&:last-child {
				&:after {
					content: ' ';
				}
			}
		}
	}
	small {
		display: block;
		margin: 20px 0 0;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.5px;
		color: #666;
	}
}


@media screen and (max-width: 768px) {
	.wrap {
		padding: 0 5%;
	}
	.a_wrap {
		padding: 0 4.6% 0;
	}
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}


	header {
		.h_inner {
		}
		.h_wrap {
			max-width: 768px;
			margin: 0 auto;
		}

		.wrap {
			padding: 5.2% 0;
		}
		.j_wrap {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/383675/387e1b8f58880ca1e3449936ca20c34e_dd13eeb41bbfdf9fab04ad3a2f560641.jpg) 0 0 no-repeat;
			background-size: cover;
			padding: 11.8% 0;
		}
		.header_logo {
			max-width: 160px;
			width: 80%;
			padding: 1.8% 0 2% 3.8%;
			line-height: 0;
		}
		.h_t {
			width: 85%;
			margin: 0 auto;
			text-align: center;

		}
	}
	.contents {
		padding: 4% 0 4.3%;
		.c_t {
			font-size: calc(38vw/12);
			letter-spacing: 1.2px;
			line-height: 1.25;
			.num {
				font-size: calc(42vw/12);
			}
			.heart {
				font-size: calc(44vw/12);
				font-weight: normal;
			}
		}
		.c_h {
			font-size: calc(52vw/12);
			letter-spacing: 1.3px;
			span {
				font-size: calc(56vw/12);;
			}
		}
		.c_p {
			margin: 2.1% 0 0;
			font-size: calc(38vw/12);
			span {
				font-size: calc(42vw/12);
			}
		}
		dl {
			padding: 5% 0 0;
			dt {
				font-size: calc(38vw/12);
			}
			dd {
				margin: 2% 0 0;
				font-size: calc(35vw/12);
				line-height: 1.35;
				letter-spacing: 1.2px;
				span {
					font-size: calc(43vw/12);
				}
			}
		}
		.main {
			margin: 3% 0 0;
			line-height: 0;
		}
		.large {
			margin: 4% 0 0;
		}
		.thumb {
			// overflow: hidden;
			display:flex;
			justify-content:space-between;
			margin: 2.2% 0 0;
			li {
				margin: 0 0 0 2%;
				&:first-child {
					margin: 0;
				}
				a {
					line-height:0;
					img {
						margin: 0;
					}

				}
				.active {
					box-sizing: border-box;
					border: 3px solid #33aa22;
					img {
						margin: -1.5px 0;
						opacity: .8;

					}
				}
			}
		}
		.btn {
			margin: 5.5% 0 0;
			a {
				padding: 3% 0;
				border-radius: 4px;
				font-size: calc(50vw/12);
			}
		}
	}
	.c_f {
		padding: 0 0 5.2%;
		.c_t {
			margin: 5.4% 0 0;
		}
		.c_h {
			margin: 8.1% 0 0;
		}
	}
	.line {
		background: #efefef;
		height: 28px;
	}



	footer {
		padding: 8% 0 4%;
		.h_inner {
			padding: 0 5%;
		}
		.wrap {
			padding: 0 5%;
		}
		.anchor {
			padding: 0 5%;
			a {
				width: 40%;
				font-size: calc(42vw/12);
				&:hover {
					text-decoration: none;
				}
				span {
					font-size: calc(36vw/12);
				}
			}
		}
		.link-reality {
			width: 90%;
			margin: 0 auto 9%;
			a {
				border-radius: 4px;
				padding-right: 3%;
				img {
					max-width: 3%;
				}
			}
			dl {
				padding: 4.5% 0 4.5% 3%;
				dt {
					font-size: calc(50vw/12);
					line-height: 1.4;
				}
				dd {
					font-size: calc(35vw/12);
					line-height: 1.4;
				}
			}
		}
		.footer_item {
			overflow: hidden;
			padding: 0 5%;
			margin: 3.5% 0 2.5%;
			li {
				position: relative;
				float: left;
				padding: 0 1%;
				line-height: 1.5;
				a {
					padding: 0 0.5% 0 0;
					font-size: calc(25vw/12);
					white-space: nowrap;
					&:hover {
						text-decoration: none;
					}
				}
				&:after {
					top: 0;
					right: -3px;
				}
				&:last-child {
					&:after {
						content: ' ';
					}
				}
			}
		}
		small {
			margin: 4% 0 0;
			font-size: calc(23vw/12);
			letter-spacing: 0.5px;
		}
	}
}
@media screen and (max-width: 480px) {
	header {
		.h_inner {
		}
		.h_wrap {
			max-width: 768px;
			margin: 0 auto;
		}
		.wrap {
			padding: 5.2% 0 4.4%;
		}
		.j_wrap {
			background-size: cover;
			padding: 11.3% 0;
		}
		.header_logo {
			max-width: 95px;
			padding: 2.1% 0 2.2% 4.3%;
		}
		.h_t {
			width: 83%;
			margin: 0 auto;
			text-align: center;

		}
	}
	.contents {
		padding: 4% 0 4.3%;
		.c_t {
			font-size: calc(39vw/12);
			letter-spacing: 1.2px;
			line-height: 1.25;
			.num {
				font-size: calc(44vw/12);
			}
			.heart {
				font-size: calc(46vw/12);
				font-weight: normal;
			}
		}
		.c_h {
			font-size: calc(54vw/12);
			letter-spacing: 1.25px;
			span {
				font-size: calc(58vw/12);
			}
		}
		.c_p {
			margin: 2.1% 0 0;
			font-size: calc(40vw/12);
			span {
				font-size: calc(44vw/12);
			}
		}
		dl {
			padding: 5% 0 0;
			dt {
				font-size: calc(40vw/12);
			}
			dd {
				margin: 2% 0 0;
				font-size: calc(37vw/12);
				line-height: 1.35;
				letter-spacing: 1.2px;
				span {
					font-size: calc(45vw/12);
				}
			}
		}
		.main {
			margin: 3% 0 0;
			line-height: 0;
		}
		.large {
			margin: 4% 0 0;
		}
		.thumb {
			display:flex;
			justify-content:space-between;
			margin: 2.2% 0 0;
			li {
				margin: 0 0 0 2%;
				&:first-child {
					margin: 0;
				}
				a {
					line-height:0;
					img {
						margin: 0;
					}

				}
				.active {
					box-sizing: border-box;
					border: 2px solid #33aa22;
					img {
						margin: -1px 0;
						opacity: .8;

					}
				}
			}
		}
		.btn {
			margin: 4.2% 0 0;
			a {
				padding: 3% 0;
				border-radius: 4px;
				font-size: calc(52vw/12);
			}
		}
	}
	.c_f {
		padding: 0 0 5.2%;
		.c_t {
			margin: 5.4% 0 0;
		}
		.c_h {
			margin: 8% 0 0;
		}
	}
	.line {
		background: #efefef;
		height: 18px;
	}



	footer {
		padding: 8% 0 4%;
		.h_inner {
			padding: 0 5%;
		}
		.link-reality {
			margin: 0 auto 9%;
			a {
				border-radius: 4px;
				padding-right: 3%;
				img {
					max-width: 3%;
				}
			}
			dl {
				padding: 4.5% 0 4.5% 3%;
				dt {
					font-size: calc(50vw/12);
					line-height: 1.4;
				}
				dd {
					font-size: calc(35vw/12);
					line-height: 1.4;
				}
			}
		}
		.wrap {
			padding: 0 5%;
		}
		.anchor {
			padding: 0 5%;
			a {
				width: 40%;
				font-size: calc(48vw/12);
				&:hover {
					text-decoration: none;
				}
				span {
					font-size: calc(38vw/12);
				}
			}
		}
		.footer_item {
			overflow: hidden;
			padding: 0 5%;
			margin: 3% 0 2.8%;
			li {
				position: relative;
				float: left;
				padding: 0 2%;
				line-height: 1.45;
				a {
					padding: 0 0.5% 0 0;
					font-size: 10px;
					white-space: nowrap;
					&:hover {
						text-decoration: none;
					}
				}
				&:after {
					top: 50%;
					right: -2px;
					font-size: 10px;
					line-height: 0;
				}
				&:last-child {
					&:after {
						content: ' ';
					}
				}
			}
		}
		small {
			margin: 4% 0 0;
			font-size: calc(26vw/17);
			letter-spacing: 0;
		}
	}

}


@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }
.ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
.ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4s 1 forwards; }
.ani_list04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.5s 1 forwards; }



