*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: 'Noto Sans JP', sans-serif!important; color: #fff; margin: 0 auto; background: #fff;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; height: auto;}

.m_i {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	margin: 30px auto 0;

	iframe {
		position: absolute;
		z-index: 5;
		left: 0;
		top: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

.fl {
	font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
}
.fd {
	font-family: 'M PLUS Rounded 1c', sans-serif !important;
}
.fs {
	font-family: 'Noto Sans JP', sans-serif!important;
}
.ko {
	font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif !important;
}

.fr {
	font-family: 'M PLUS 1p', sans-serif!important;
}

.pc {
	display: block;
}
.sp {
	display: none;
}
.ssp {
	display: block;
}

.line_w {
	max-width: 750px;
	margin: 0 auto;
	.wrap_w {
		background: #efefef;
		height: 33px;
	}
}
.pre_btn {
	a {
		display: block;
		background: #fbd72b;
		background-size: 100% auto;
		padding: 28px 0;
		border-radius: 6px;
		text-align: center;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 1.5px;
		color: #000;
		span {
			font-size: 34px;
		}
	}
}
.pre_b_btn {
	a {
		display: block;
		background: #ddaa00;
		background-size: 100% auto;
		padding: 28px 0;
		border-radius: 6px;
		text-align: center;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 1.5px;
		color: #000;
	}
}

.c_no_btn {
	display: block;
	background: #2b030e;
	background-size: 100% auto;
	padding: 28px 0;
	border-radius: 6px;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 1.5px;
	color: #ababab;
}

.c_top {
	padding: 0 0 30px;
	margin: 40px 0 0;
	text-align: right;
	white-space: nowrap;
	a {
		display: inline-block;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 1.3px;
		color: #000;
	}
}
.bn {
	border: none !important;
}
.bb {
	border-bottom: 1px solid #606060 !important;
}
.pb_no {
	padding-bottom: 0 !important;
}

.tc {
	text-align: center !important;
	padding: 0 !important;
}
.pb30 {
	padding: 0 0 35px !important;
}
.mb10 {
	margin: 0 0 10px 0 !important;
}
.mn {
	margin: 0 !important;
}
.mt10 {
	margin: 10px 0 0 !important;
}
.mt20 {
	margin: 20px 0 0 !important;
}
.mt30 {
	margin: 30px 0 0 !important;
}
.mt40 {
	margin: 40px 0 0 !important;
}
.mt50 {
	margin: 50px 0 0 !important;
}
.mt60 {
	margin: 60px 0 0 !important;
}
.mt70 {
	margin: 70px 0 0 !important;
}
.mt80 {
	margin: 80px 0 0 !important;
}
.mat20 {
	margin: 20px auto 0 !important;
}
.mat50 {
	margin: 50px auto 0 !important;
}
.mat70 {
	margin: 70px auto 0 !important;
}

.cl {
	color: #f1d365;
}


header {
	padding: 0;
	.h_l {
		background: #000;
		padding: 12px 0 13px 22px;
		span {
			display: inline-block;
			max-width: 140px;
			line-height: 0;
		}
	}
	.h_a {
		position: relative;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/78507856ad9f8a926f844060ecf5dcc7_d316ba2a362bb9256f24906e73cb5f5b.jpg) center top no-repeat;
		background-size: cover;
		height: 421px;
		padding: 54px 0 0;
		margin: 0 auto;
		box-sizing: border-box;
	}

	.h_m {
		max-width: 458px;
		margin: 0 auto 0;
		line-height: 0;
	}
}

.h_text {
	background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/5377776bdacdfacc513e895e78ee0050_3933ac1615abfb0c27fff33df7a00acd.jpg) center center no-repeat;
	height: 54px;
	padding: 11px 0;
	text-align: center;
	box-sizing: border-box;

	.h_head {
		font-size: 28px;
		font-weight: bold;
		letter-spacing: 1.6px;
		color: #000;
	}
}


.daily {
	background: #fff;
	.l_wrap {
		max-width: 750px;
		margin: 0 auto 0;
		padding: 48px 0 48px;
		text-align: center;
	}
	.d_date {
		display: inline-block;
		background: #f80000;
		padding: 15px 32px;
		margin: 0 auto 0;
		text-align: center;
		letter-spacing: 1.3px;
		border-radius: 50px;
		font-size: 28px;
		font-weight: bold;
		color: #fff;
	}
	.days {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		padding: 0 18px;
		margin: 27px 0 0;
		border-bottom: 2px solid #e62e00;
		li {
			margin: 0 0 0 0;

			&:nth-child(1) {
			}
			a {
				display: block;
				padding: 5px 12px;
				font-size: 41px;
				font-weight: bold;
				letter-spacing: 2.5px;
				line-height: 1.35;
				color: #aaaaaa;

			}
			.active {
				border-bottom: 5px solid #f80000 ;
				color: #f80000 ;
			}
		}
	}
}


.line {
	background: #f80000;
	padding: 17px 0 11px;

	.l_box {
		border-top: 4px solid #ffce00;
		text-align: center;

	}
	.lb_line {
		position: relative;
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/96ea008a070ca397882b6688a89996f6_faaa5754e91ec89f2ea43834e4ad685b.png) center 18px no-repeat;
		padding: 13px 0 33px;
	}
	.lb_bb {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/7e919611c2af57730e092580c7fa067e_b13c016dea80a1ebf851650b838b637b.png) center center repeat;
		background-size: auto;
		height: 49px;
		margin: -20px 0 0;
	}
	.wrap {
		max-width: 700px;
		margin: 0 auto;
		.l_h {
			padding: 31px 0 0;
			font-size: 40px;
			font-weight: bold;
			letter-spacing: 1.4px;
			line-height: 1;
		}
	}

	.l_i {
		background: #fff;
		padding: 50px 18px 60px;
		border-radius: 6px;

		.l_date {
			display: inline-block;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/e5f4cafca60c8ce3cfb66af235aa678c_f10f855e63235339905e4cd83c481f66.png) center center no-repeat;
			background-size: 293px 62px;
			padding: 15px 58px;
			font-size: 32px;
			font-weight: bold;
			text-align: center;
			letter-spacing: 1.3px;
			color: #000;
		}
	}
	.l_item {
		display:flex;
		justify-content: space-between;
		margin: 50px 0 0;
		li {
			margin: 0 0 0 25px;

			&:first-child {
				margin: 0;
			}
		}
		.free {
			position: relative;


			&:before {
				content: '全話無料!';
				display: inline-block;
				position: absolute;
				top: 8px;
				left: 28%;
				background: #f0163a;
				padding: 4px 8px;
				border-radius: 6px;
				font-weight: bold;
				font-size: 20px;
				letter-spacing: 1.5px;
				color: #fff;
			}
		}
	}
}

.c_h {
	display: inline-block;
	background: #870c21;
	padding: 10px 29px 10px 29px;
	font-size: 24px;
	line-height: 1.3;
	text-align: left;
	letter-spacing: 1.3px;
	white-space: nowrap;
	color: #fff;
}


.c_hh {
	max-width: 680px;
	padding: 25px 0 0px;
	margin: 50px auto 0;
	border-top: 2px solid #f1d365;
	border-bottom: 2px solid #f1d365;
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: 1.5px;
	text-align: center;
	color: #fff;

	span {
		font-size: 80px;
	}
}

.chh_ss {
	span {
		font-size: 44px;
	}
}
.chh_sin {
	margin: 41px auto 45px;
	padding: 26px 0 16px;
	span {
		font-size: 50px;
	}
}
.chh_wani {
	margin: 40px auto 45px;
	padding: 26px 0 16px;
	span {
		font-size: 50px;
	}
}
.c_hh_l {
	letter-spacing: 1.1px;
}
.c_hh_no {
	margin: 33px auto 0;
}
.chh_b {
	padding: 21px 0 12px;
	margin: 50px auto 60px;
	font-size: 40px;
	line-height: 1.55;
	color: #f1d365;
	.num {
		font-size: 43px;
	}

	span {
		font-size: 60px;
	}
}

.contents {
	background: #fff;
	color: #000;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
	}
	.c_wrap {
		max-width: 750px;
		margin: 0 auto;
	}

	.c_box {
		background: #460718;
		padding: 59px 0 0;
		margin: 21px 0 0;

		.cb_inner {
			padding: 32px 35px 55px;
		}
	}

	.c_no_cau {
		margin: 51px 0 0;
	}
	.c_box_se {
		padding: 14px 0 0;
		margin: 51px 0 0;
	}

	.c_fig {
		padding: 45px 0 0;
		line-height: 0;
	}
	.c_th {
		display: block;
		margin: 40px 0 0;
		font-size: 33px;
		letter-spacing: 1.3px;
	}
	.c_date {
		position: relative;
		padding: 0 0 0 40px;
		margin: 34px 0 0;
		font-size: 24px;
		letter-spacing: 1.3px;
		&:before {
			content: '';
			position: absolute;
			top: 4px;
			left: 0;
			background: #000;
			background-size: 22px 22px;
			width: 22px;
			height: 22px;
			border-radius: 50%;
		}
	}

	.c_bagg {
		margin: 32px 0 0;
		li {
			display: inline-block;
			background: #f01639;
			padding: 5px 8px;
			margin: 0 0 0 15px;
			border-radius: 4px;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 1.3px;
			color: #fff;

			&:first-child {
				margin: 0;
			}
		}
		.pr {
			background: #000;
			.cl {
				color: #ddaa00;
			}
		}
	}
	.c_text {
		margin: 18px 0 0;
		letter-spacing: 1.3px;
		line-height: 1.6;
		font-size: 24px;
		color: #666;
	}

	.c_tdl {
		display: flex;
		align-items: center;
		dd {
			max-width: 266px;
			width: 40%;
			line-height: 0;
		}
		dt {
			width: 55.5%;
			padding: 0 0 0 4.5%;
			font-size: 27px;
			line-height: 1.8;
			letter-spacing: 1.1px;
			font-weight: normal;
			text-align: left;
			color: #fff;
			.bagg_p {
				display: inline-block;
				background: #000;
				padding: 4px 10px;
				margin: 0 0 18px;
				font-weight: bold;
				font-size: 20px;
				letter-spacing: 2px;
				border-radius: 4px;
				color: #fff;
				white-space: nowrap;
				line-height: 1;
				.bcl {
					color: #ddaa00;
				}
			}
			.dt_t {
				margin: 20px 0 0;
				padding: 20px 0 0;
				border-top: 1px solid #fff;
				font-weight: bold;
				font-size: 32px;
				line-height: 1.6;
			}
		}
	}

	.c_cau {
		padding: 19px 33px 0 0;
		font-size: 18px;
		text-align: right;
		letter-spacing: 1.4px;
		color: #fefefe;
	}
}

.o_box {
	max-width: 680px;
	margin: 0 auto;
	.o_h {
		padding: 0 0 0 17px;
		margin: 80px 0 0;
		font-size: 30px;
		border-left: 11px solid #ddaa00;
		line-height: 1.3;
		text-align: left;
	}
	.o_img {
		line-height: 0;
	}
	.o_text {
		margin: 50px 0 0;
		font-size: 24px;
		letter-spacing: 1.3px;

	}
}

.other {
	background: #000;
	padding: 0 0 55px;
	.wrap {
		max-width: 750px;
		margin: 0 auto;
		.c_h_b {
			display: inline-block;
			background: #460718;
			padding: 10px 29px 10px 29px;
			font-size: 32px;
			line-height: 1.3;
			text-align: left;
			letter-spacing: 1.3px;
			white-space: nowrap;
			color: #fff;
		}
		.c_h_sec {
			background: #3b0c43;
		}
		.o_item {
			display:flex;
			justify-content: space-between;
			max-width: 680px;
			margin: 56px auto 0;
			li {
				margin: 0 0 0 22px;
				a {
					display: block;
					width: 212px;
					padding: 20px 0;
					border: 3px solid #eed362;
					border-radius: 4px;
					box-sizing: border-box;
					text-align: center;
					font-weight: bold;
					font-size: 31px;
					letter-spacing: 1.8px;
					text-emphasis: 0.3px 0.3px 0 #eed362;
					white-space: nowrap;
					color: #eed362;
					.ss {
						display: inline-block;
						margin: 0 0 0 2px;
						font-size: 26px;
					}
					.ll {
						font-size: 43px;
						letter-spacing: 1.5px;
					}

					&:hover {
						opacity: 1;
						background: #eed362;
						color: #000;
					}
				}
				&:nth-child(1) {
					margin: 0;
				}

			}
			.active {
				a {
					background: #eed362;
					color: #000;
				}
			}
		}
		.o_sec {
			overflow: hidden;
			max-width: 680px;
			margin: 56px auto 0;
			li {
				float: left;
				display: flex;
				align-items: center;
				width: 31%;
				margin: 25px 0 0 22px;
				a {
					display: block;
					width: 212px;
					height: 92px;
					padding: 8px 0 0;
					border: 3px solid #eed362;
					border-radius: 4px;
					box-sizing: border-box;
					text-align: center;
					font-weight: bold;
					font-size: 31px;
					letter-spacing: 1.8px;
					text-emphasis: 0.3px 0.3px 0 #eed362;
					white-space: nowrap;
					color: #eed362;
					.sin {

					}
					.sec {
						display: inline-block;
						margin: 0 0 0 2px;
						font-size: 31px;
						line-height: 1.3;
					}
					.ll {
						font-size: 43px;
						letter-spacing: 1.5px;
					}

					&:hover {
						opacity: 1;
						background: #eed362;
						color: #000;
					}
				}
				.sin {
					padding: 25px 0 0;
				}
				.sin_mid {
					padding: 30px 0 0;
					.ml {
						font-size: 30px;
					}
					.tl {
						font-size: 33px;
					}
				}

				&:nth-child(3n+1) {
					margin: 25px 0 0 0;
				}
				&:nth-child(1) {
					margin: 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 22px;
				}
				&:nth-child(3) {
					margin: 0 0 0 22px;
				}
			}
			.active {
				a {
					background: #eed362;
					color: #000;
				}
			}
		}
	}
}

.t_top {
	margin: 0 0 64px;
	text-align: right;
	white-space: nowrap;
	a {
		display: inline-block;
		font-size: 34px;
		font-weight: bold;
		letter-spacing: 1.3px;
		color: #fff;
	}
}


footer {
	background: #1b030a;
	.wrap {
		max-width: 680px;
		margin: 0 auto;
		padding: 55px 0 180px;
	}
	.copy {
		padding: 50px 0 0;
		margin: 0 0 32px;
		border-top: 2px solid #efefef;
		li {
			width: 100%;
			margin: 5px 0 0 0;
			line-height: 1.3;
			font-size: 16px;
			color: #efefef;
		}
	}

	.f_list {
		overflow: hidden;
		margin: 10px 0 10px;
		li {
			position: relative;
			float: left;
			margin: 0 10px 0 0;
			a {
				display: block;
				padding: 0 12px 0 0;
				font-size: 15px;
				color: #efefef;
			}
			&:after {
				content: ' | ';
				position: absolute;
				top: 0;
				right: 0;
				color: #efefef;
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	.f_dot {
		margin: 15px 0 0 35px;
		li {
			position: relative;
			padding: 0 0 0 38px;
			margin: 8px 0 0;
			line-height: 1.4;
			font-size: 19px;
			&:before {
				content: '・';
				position: absolute;
				top: 14px;
				left: 20px;
				font-size: 19px;
				line-height: 0;
			}
		}
	}

	small {
		display: block;
		margin: 30px 0 0;
		font-size: 16px;
		letter-spacing: 1.1px;
		text-align: left;
		color: #efefef;
	}
}

// .hana {
// 	opacity: 0;
// }

// @-webkit-keyframes item_sp { 100% { opacity: 1; } }
// @keyframes item_list { 100% { opacity: 1; } }

// .hana { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 2.2s 1 forwards; }




@media screen and (max-width: 768px) {

	.line_w {
		max-width: 100%;
		width: 100%;
		.wrap_w {
			height: 28px;
		}
	}

	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
	.ssp {
		display: block;
	}
	.pb30 {
		padding: 0 0 5% !important;
	}

	.mt10 {
		margin: 1.8% 0 0 !important;
	}
	.mt20 {
		margin: 3% 0 0 !important;
	}
	.mt30 {
		margin: 5% 0 0 !important;
	}
	.mt40 {
		margin: 6% 0 0 !important;
	}
	.mt50 {
		margin: 6.3% 0 0 !important;
	}
	.mt60 {
		margin: 8% 0 0 !important;
	}
	.mt70 {
		margin: 9% 0 0 !important;
	}
	.mt80 {
		margin: 10% 0 0 !important;
	}
	.mb10 {
		margin: 0 0 1.8% 0 !important;
	}
	.mn {
		margin: 0 !important;
	}

	.mat20 {
		margin: 3% auto 0 !important;
	}
	.mat50 {
		margin: 6.5% auto 0 !important;
	}
	.mat70 {
		margin: 9% auto 0 !important;
	}

	.m_i {
		margin: 5% auto 0;
	}

	.pre_btn {
		a {
			padding: 3.9% 0;
			border-radius: 4px;
			font-size: calc(50vw/12);
			letter-spacing: 0.8px;
		}
	}
	.pre_b_btn {
		a {
			padding: 3.9% 0;
			border-radius: 4px;
			font-size: calc(50vw/12);
			letter-spacing: 0.8px;
		}
	}

	.c_no_btn {
		padding: 3.9% 0;
		border-radius: 4px;
		font-size: calc(50vw/12);
		letter-spacing: 0.8px;
	}

	.c_top {
		padding: 0 0 3%;
		margin: 6% 0 0;
		a {
			display: inline-block;
			font-size: calc(46vw/12);
			letter-spacing: 0.5px;
		}
	}


	header {
		padding: 0;

		.h_l {
			padding: 1.3% 0 1.3% 2.2%;
			span {
				display: inline-block;
				max-width: 18.8%;
			}
		}
		.h_a {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/a64575e4f65b5d626dce71c14501e27f_3ddd88d2438196351e8ec7bec4f4747c.jpg) center top no-repeat;
			background-size: cover;
			height: auto;
			padding: 7.1% 0 12.9%;
		}

		.h_m {
			width: 59.9%;
			margin: 0 auto 0;
		}
	}


	.h_text {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/1c0029eb8933a5d285c7c9d50e5dc63e_c399cf37247076fced34d7aa624c3d37.jpg) center center no-repeat;
		background-size: cover;
 		height: auto;
		padding: 1.8% 0;
		text-align: center;
		box-sizing: border-box;

		.h_head {
			font-size: calc(44vw/12);
			letter-spacing: 1.2px;
		}
	}

	.daily {
		.l_wrap {
			max-width: 100%;
			margin: 0 auto 0;
			padding: 6.5% 0 6.5%;
			text-align: center;
		}
		.d_date {
			display: inline-block;
			padding: 2% 4%;
			letter-spacing: 1.3px;
			border-radius: 50px;
			font-size: calc(44vw/12);
		}


		.days {
			overflow: hidden;
			padding: 0 4.4% 0 3%;
			margin: 4.3% 0 0;
			border-bottom: 2px solid #e62e00;
			li {
				margin: 0 0 0;

				&:nth-child(1) {
				}
				a {
					display: inline-block;
					padding: 5% 7%;
					margin: 0 0 0;
					font-size: calc(59vw/12);
					line-height: 1.35;
					letter-spacing: 3px;

				}
				.num_l {
					padding: 2% 0 0;
				}
				.active {
					padding: 2% 12% 7%;
					margin: 3% 0 0;
					border-bottom: 5px solid #e62e00;
				}
			}
		}
	}
	.line {
		padding: 2.25% 0 0.7%;

		.l_box {
			background-size: 100% auto;
			border-top: 3px solid #ffce00;
		}
		.lb_line {
			position: relative;
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/96ea008a070ca397882b6688a89996f6_faaa5754e91ec89f2ea43834e4ad685b.png) center 9px no-repeat;
			background-size: contain;
			padding: 2.2% 0 4.5%;
			margin: 0 2.2%;


		}
		.lb_bb {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/49f0ab0e95c3db17b4cb6732e8f292a8_65b8ea7c513856b3e35df878d3dab1c5.png) center center no-repeat;
			background-size: 100% auto;
			width: 100%;
			height: auto;
			padding: 4% 0;
			margin: -4% 0 0;
		}
		.wrap {
			max-width: 100%;
			.l_h {
				padding: 4% 0 0;
				font-size: calc(66vw/12);
				letter-spacing: 1.4px;
				line-height: 1;
			}
		}
	}

	.c_h {
		display: inline-block;
		padding: 1.7% 4.5% 1.7% 4.5%;
		font-size: calc(37vw/12);
		line-height: 1.3;
		letter-spacing: 0.8px;
	}

	.c_hh {
		max-width: 100%;
		padding: 2.8% 0 0px;
		margin: 7% 0 0;
		border-top: 2px solid #f1d365;
		border-bottom: 2px solid #f1d365;
		font-size: calc(38vw/12);
		line-height: 1.5;
		letter-spacing: 1.1px;

		span {
			font-size: calc(127vw/12);
		}
	}
	.chh_ss {
		span {
			font-size: calc(76vw/12);
		}
	}
	.chh_sin {
		margin: 4% auto 6.7%;
		padding: 4.5% 0 2.8%;
		span {
			font-size: calc(65vw/12);
		}
	}
	.chh_wani {
		margin: 7% auto 6%;
		padding: 4.2% 0 2.8%;
		span {
			font-size: calc(81vw/12);
		}
	}
	.c_hh_l {
		font-size: calc(37vw/12);
		letter-spacing: 0.6px;
	}
	.c_hh_no {
		margin: 5% 0 0;
	}
	.chh_b {
		padding: 2.8% 0 1%;
		margin: 8% 0 2%;
		font-size: calc(63vw/12);
		line-height: 1.68;
		.num {
			font-size: calc(68vw/12);
		}
		span {
			font-size: calc(93vw/12);
		}
	}

	.contents {
		.wrap {
			max-width: 100%;
			margin: 0 4.5%;
		}
		.c_wrap {
			max-width: 100%;
			margin: 0 auto;
		}

		.c_box {
			padding: 7.8% 0 0;
			margin: 4% 0 0;

			.cb_inner {
				padding: 4.2% 4.5% 6.8%;
			}
		}
		.c_no_cau {
			margin: 7% 0 0;
		}
		.c_box_se {
			padding: 2.7% 0 0;
			margin: 7% 0 0;
		}

		.c_tdl {
			display: flex;
			align-items: center;
			dd {
				max-width: 266px;
				width: 40%;
				line-height: 0;
			}
			dt {
				width: 55.5%;
				padding: 0 0 0 4.5%;
				font-size: calc(42vw/12);
				line-height: 1.8;
				letter-spacing: 0.8px;
				.bagg_p {
					display: inline-block;
					padding: 1.3% 2.5%;
					margin: 0 0 3.5%;
					font-size: calc(32vw/12);
					letter-spacing: 1.5px;
					border-radius: 4px;
				}
				.dt_t {
					margin:4.8% 0 0;
					padding: 4.8% 0 0;
					font-size: calc(50vw/12);
				}
			}
		}
		.c_cau {
			padding: 3% 4.5% 0 0;
			font-size: calc(28vw/12);
			letter-spacing: 0.9px;
		}
	}

	.o_box {
		max-width: 100%;
		margin: 0 4.5%;
		.o_h {
			padding: 0 0 0 2.5%;
			margin: 11% 0 0;
			font-size: calc(47vw/12);
			border-left: 9px solid #ddaa00;
			line-height: 1.3;
		}
		.o_text {
			margin: 7% 0 0;
			font-size: calc(36vw/12);
			letter-spacing: 1.3px;

		}
	}

	.other {
		background: #000;
		padding: 0 0 7%;
		.wrap {
			max-width: 100%;
			margin: 0 auto;
			.c_h_b {
				display: inline-block;
				padding: 1.2% 2.5% 1.2% 4.5%;
				font-size: calc(50vw/12);
				line-height: 1.3;
				letter-spacing: 0.8px;
			}
			.o_item {
				max-width: 100%;
				margin: 7.5% 4.5% 0;
				li {
					width: 33%;
					margin: 0 0 0 3.8%;
					a {
						width: 100%;
						padding: 9.6% 0;
						border: 3px solid #eed362;
						border-radius: 4px;
						font-size: calc(42vw/12);
						letter-spacing: 1.2px;
						text-emphasis: 0.3px 0.3px 0 #eed362;
						.ss {
							display: inline-block;
							margin: 0 0 0 0.8%;
							font-size: calc(40vw/12);
						}
						.ll {
							font-size: calc(67vw/12);
							letter-spacing: 1.2px;
						}

						&:hover {
							opacity: 0.8;
							background: #000;
							color: #eed362;
						}
					}
					&:nth-child(1) {
						margin: 0;
					}

				}
				.active {
					a {
						background: #eed362;
						color: #000;
					}
				}
			}
			.o_sec {
				overflow: hidden;
				max-width: 100%;
				margin: 8% 4.5% 0;

				li {
					margin: 3.7% 0 0 3.45%;
					a {
						display: block;
						width: 100%;
						max-width: 212px;
						height: auto;
						padding: 3.935% 0 3.46%;
						border: 3px solid #eed362;
						border-radius: 4px;
						box-sizing: border-box;
						font-size: calc(49vw/12);
						letter-spacing: 1.8px;
						text-emphasis: 0.3px 0.3px 0 #eed362;
						white-space: nowrap;
						color: #eed362;
						.sec {
							display: inline-block;
							margin: 0;
							font-size: calc(48vw/12);
							line-height: 1.3;
						}
						.ll {
							font-size: calc(64vw/12);
							letter-spacing: 1.2px;
						}

						&:hover {
							opacity: 1;
							background: #eed362;
							color: #000;
						}
					}
					.sin {
						padding: 13.1% 0 8.135%;
					}

					&:nth-child(3n+1) {
						margin: 3.7% 0 0 0;
					}
					&:nth-child(1) {
						margin: 0;
					}
					&:nth-child(2) {
						margin: 0 0 0 3.5%;
					}
					&:nth-child(3) {
						margin: 0 0 0 3.5%;
					}
				}
				.sin_mid {
					padding: 14.3% 0 10.165% !important;
					.ml {
						font-size: calc(48vw/12) !important;
					}
					.tl {
						font-size: calc(52vw/12) !important;
					}
				}
				.active {
					a {
						opacity: 0.8;
						background: #000;
						color: #eed362;
					}
				}
			}
		}
	}

	.t_top {
		margin: 0 0 8.7%;
		a {
			display: inline-block;
			font-size: calc(48vw/12);
			letter-spacing: 0.8px;
		}
	}


	footer {
		.wrap {
			max-width: 100%;
			margin: 0 4.5%;
			padding: 7.5% 0 25%;
		}
		.copy {
			padding: 7% 0 0;
			margin: 0 0 5.5%;
			border-top: 1.5px solid #efefef;
			li {
				margin: 0.7% 0 0 0;
				line-height: 1.3;
				font-size: calc(26vw/12);
			}
		}

		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 2% 0 0;
				a {
					padding: 0 13px 0 0;
					font-size: calc(25vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		.f_dot {
			margin: 15px 0 0 35px;
			li {
				position: relative;
				padding: 0 0 0 38px;
				margin: 8px 0 0;
				line-height: 1.4;
				font-size: 19px;
				&:before {
					content: '・';
					position: absolute;
					top: 14px;
					left: 20px;
					font-size: 19px;
					line-height: 0;
				}
			}
		}

		small {
			margin: 5% 0 0;
			font-size: calc(28vw/12);
			letter-spacing: 0.8px;
		}
	}

	// .hana { -webkit-animation: item_sp 0.5s ease 2s 1 forwards; animation: item_sp 1s ease 1.8s 1 forwards; }
}


@media screen and (max-width: 480px) {

	.line_w {
		max-width: 100%;
		width: 100%;
		.wrap_w {
			height: 19px;
		}
	}
	.pb30 {
		padding: 0 0 5% !important;
	}

	.mb10 {
		margin: 0 0 2% 0 !important;
	}
	.mn {
		margin: 0 !important;
	}

	.mt10 {
		margin: 1.8% 0 0 !important;
	}

	.mt20 {
		margin: 3% 0 0 !important;
	}
	.mt30 {
		margin: 5% 0 0 !important;
	}
	.mt40 {
		margin: 6% 0 0 !important;
	}
	.mt50 {
		margin: 6.2% 0 0 !important;
	}
	.mt60 {
		margin: 8% 0 0 !important;
	}
	.mt70 {
		margin: 9% 0 0 !important;
	}
	.mt80 {
		margin: 10% 0 0 !important;
	}

	.mat20 {
		margin: 3.1% auto 0 !important;
	}
	.mat50 {
		margin: 6.5% auto 0 !important;
	}
	.mat70 {
		margin: 9% auto 0 !important;
	}

	.ssp {
		display: none;
	}

	.pre_w {
		max-width: none;
		width: 85%;
		margin: 0 auto;
	}

	.pre_btn {
		a {
			padding: 3.7% 0;
			border-radius: 4px;
			font-size: calc(52vw/12);
			letter-spacing: 0.8px;
		}
	}
	.c_no_btn {
		padding: 3.7% 0;
		border-radius: 4px;
		font-size: calc(52vw/12);
		letter-spacing: 0.8px;
	}

	.c_top {
		padding: 0 0 3%;
		margin: 6% 0 0;
		a {
			display: inline-block;
			font-size: calc(47vw/12);
			letter-spacing: 0.5px;
		}
	}


	header {
		padding: 0;

		.h_l {
			padding: 1.3% 0 1.3% 2.2%;
			span {
				display: inline-block;
				max-width: 19.2%;
			}
		}
		.h_a {
			padding: 7.1% 0 12.9%;
		}

		.h_m {
			width: 61.9%;
			margin: 0 auto 0;
		}
	}


	.h_text {
		padding: 2.5% 0;

		.h_head {
			font-size: calc(46vw/12);
			letter-spacing: 0.2px;
		}
	}

	.daily {
		.l_wrap {
			padding: 5.5% 0 6.5%;
		}
		.d_date {
			display: inline-block;
			padding: 2.2% 4%;
			letter-spacing: 1.3px;
			border-radius: 50px;
			font-size: calc(46vw/12);
		}


		.days {
			overflow: hidden;
			padding: 0 4.4% 0 2.3%;
			margin: 4.3% 0 0;
			border-bottom: 1px solid #e62e00;
			li {
				a {
					display: inline-block;
					padding: 5% 7%;
					margin: 0 0 0;
					font-size: calc(62vw/12);
					line-height: 1.35;
					letter-spacing: 2px;

				}
				.num_l {
					padding: 2% 0 0;
				}
				.active {
					padding: 2% 12% 7%;
					margin: 4% 0 0;
					border-bottom: 3px solid #e62e00;
				}
			}
		}
	}
	.line {
		padding: 2.25% 0 0.7%;

		.l_box {
			background-size: 100% auto;
			border-top: 2px solid #ffce00;
		}
		.lb_line {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/96ea008a070ca397882b6688a89996f6_faaa5754e91ec89f2ea43834e4ad685b.png) center 8px no-repeat;
			background-size: contain;
			padding: 4.2% 0 4.1%;
			margin: 0 2.2%;


		}
		.lb_bb {
			background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/49f0ab0e95c3db17b4cb6732e8f292a8_65b8ea7c513856b3e35df878d3dab1c5.png) center center no-repeat;
			background-size: 100% auto;
			width: 100%;
			height: auto;
			padding: 4% 0;
			margin: -4% 0 0;
		}
		.wrap {
			max-width: 100%;
			.l_h {
				padding: 2% 0 0;
				font-size: calc(68vw/12);
				letter-spacing: 0.8px;
				line-height: 1;
			}
		}
	}


	.c_h {
		display: inline-block;
		padding: 1.7% 4.5% 1.7% 4.5%;
		font-size: calc(39vw/12);
		line-height: 1.3;
		letter-spacing: 0.3px;
	}

	.c_hh {
		max-width: 100%;
		padding: 2.8% 0 0px;
		margin: 7% 0 0;
		border-top: 1px solid #f1d365;
		border-bottom: 1px solid #f1d365;
		font-size: calc(40vw/12);
		line-height: 1.5;
		letter-spacing: 0.4px;
		span {
			font-size: calc(130vw/12);
		}
	}
	.chh_ss {
		span {
			font-size: calc(76vw/12);
		}
	}
	.chh_sin {
		margin: 2% auto 6.7%;
		padding: 4.5% 0 2.8%;
		span {
			font-size: calc(67vw/12);
		}
	}
	.chh_wani {
		margin: 7% auto 6%;
		padding: 4.2% 0 2.8%;
		span {
			font-size: calc(83vw/12);
		}
	}
	.c_hh_l {
		font-size: calc(39vw/12);
		letter-spacing: -0.4px;
	}
	.c_hh_no {
		margin: 5% 0 0;
	}
	.chh_b {
		padding: 2.8% 0 1%;
		margin: 8% 0 2%;
		font-size: calc(65vw/12);
		line-height: 1.68;
		.num {
			font-size: calc(70vw/12);
		}
		span {
			font-size: calc(96vw/12);
		}
	}

	.contents {
		.wrap {
			margin: 0 4.5%;
		}
		.c_wrap {
			margin: 0 auto;
		}

		.c_box {
			padding: 7.8% 0 0;
			margin: 4% 0 0;

			.cb_inner {
				padding: 4.2% 4.5% 6.8%;
			}
		}
		.c_no_cau {
			margin: 7% 0 0;
		}
		.c_box_se {
			padding: 2.7% 0 0;
			margin: 7% 0 0;
		}

		.c_tdl {
			dd {
				width: 40%;
			}
			dt {
				width: 55.5%;
				padding: 0 0 0 4.5%;
				font-size: calc(44vw/12);
				line-height: 1.8;
				letter-spacing: 0.3px;
				.bagg_p {
					display: inline-block;
					padding: 1.3% 2.5%;
					margin: 0 0 3.5%;
					font-size: calc(34vw/12);
					letter-spacing: 0.8px;
					border-radius: 3px;
				}
				.dt_t {
					margin:4.8% 0 0;
					padding: 4.8% 0 0;
					font-size: calc(48vw/12);
				}
			}
		}
		.c_cau {
			padding: 3% 4.5% 0 0;
			font-size: calc(30vw/12);
			letter-spacing: 0.4px;
		}
	}

	.o_box {
		max-width: 100%;
		margin: 0 4.5%;
		.o_h {
			padding: 0 0 0 2.5%;
			margin: 11% 0 0;
			font-size: calc(49vw/12);
			border-left: 5.5px solid #ddaa00;
			line-height: 1.3;
		}
		.o_text {
			margin: 7% 0 0;
			font-size: calc(38vw/12);
			letter-spacing: 0.6px;

		}
	}

	.other {
		background: #000;
		padding: 0 0 7%;
		.wrap {
			margin: 0 auto;
			.c_h_b {
				display: inline-block;
				padding: 1.2% 2.5% 1.2% 4.5%;
				font-size: calc(52vw/12);
				line-height: 1.3;
				letter-spacing: 0.3px;
			}
			.o_item {
				max-width: 100%;
				margin: 7.5% 4.5% 0;
				li {
					width: 33%;
					margin: 0 0 0 3.8%;
					a {
						width: 100%;
						padding: 9.6% 0;
						border: 2px solid #eed362;
						border-radius: 3px;
						font-size: calc(44vw/12);
						letter-spacing: 0.6px;
						text-emphasis: 0.3px 0.3px 0 #eed362;
						.ss {
							display: inline-block;
							margin: 0 0 0 0.8%;
							font-size: calc(42vw/12);
						}
						.ll {
							font-size: calc(69vw/12);
							letter-spacing: 0.5px;
						}
					}
					&:nth-child(1) {
						margin: 0;
					}

				}
			}
			.o_sec {
				max-width: 100%;
				margin: 8% 4.5% 0;

				li {
					margin: 3.7% 0 0 3.45%;
					a {
						display: block;
						width: 100%;
						max-width: 212px;
						height: auto;
						padding: 3.935% 0 3.46%;
						border: 2px solid #eed362;
						border-radius: 3px;
						box-sizing: border-box;
						font-size: calc(51vw/12);
						letter-spacing: 1.8px;
						text-emphasis: 0.2px 0.2px 0 #eed362;
						.sec {
							display: inline-block;
							font-size: calc(50vw/12);
							line-height: 1.3;
						}
						.ll {
							font-size: calc(64vw/12);
							letter-spacing: 0.6px;
						}

					}
					.sin {
						padding: 13.1% 0 8.445%;
					}

					&:nth-child(3n+1) {
						margin: 3.7% 0 0 0;
					}
					&:nth-child(1) {
						margin: 0;
					}
					&:nth-child(2) {
						margin: 0 0 0 3.5%;
					}
					&:nth-child(3) {
						margin: 0 0 0 3.5%;
					}
				}
				.sin_mid {
					padding: 14.3% 0 11.01% !important;
					.ml {
						font-size: calc(50vw/12) !important;
					}
					.tl {
						font-size: calc(57vw/12) !important;
					}
				}
			}
		}
	}

	.t_top {
		margin: 0 0 8.7%;
		a {
			display: inline-block;
			font-size: calc(50vw/12);
			letter-spacing: 0.3px;
		}
	}


	footer {
		.wrap {
			max-width: 100%;
			margin: 0 4.5%;
			padding: 7.5% 0 25%;
		}
		.copy {
			padding: 7% 0 0;
			margin: 0 0 5.5%;
			border-top: 1px solid #efefef;
			li {
				margin: 0.7% 0 0 0;
				line-height: 1.3;
				font-size: calc(26vw/12);
			}
		}

		.f_list {
			margin: 1.8% 0 0;
			li {
				margin: 0 2% 0 0;
				a {
					padding: 0 13px 0 0;
					font-size: calc(25vw/12);
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}

		small {
			margin: 5% 0 0;
			font-size: calc(29vw/12);
			letter-spacing: 0.3px;
		}
	}
}



