@charset "UTF-8";
* { margin: 0; padding: 0; }

body { min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000; line-height: 1; }
body li { list-style: none; }

a { color: #FFF; text-decoration: none; -webkit-transition: .5s all; transition: .5s all; }
a:hover { text-decoration: none; opacity: .6 all; }

img { width: 100%; height: auto; }

header { width: 750px; margin: 0 auto; margin-bottom: 50px; }
header p { padding: 14px 0 12px 14px; }
header p img { max-width: 152px; }
header .main-visual { background: url(https://bit.ly/2FSR1z5) 0 0 no-repeat; background-size: cover; padding: 0; }
header .main-visual img { display: block; max-width: 750px; margin: 0 auto; }

.premiere { width: 716px; margin: 0 auto 36px auto; }
.premiere a img { max-width: 716px; }

.module01 { width: 750px; margin: 0 auto 53px auto; border-bottom: solid 1px #606060; }
.module01 section { width: 680px; margin: 0 auto; }
.module01 h1 { font-size: 36px; font-weight: bold; border-bottom: solid 1px #606060; padding-bottom: 36px; margin-bottom: 32px; }
.module01 .main { border-bottom: solid 1px #606060; padding-bottom: 24px; margin-bottom: 30px; }
.module01 .main .last { border-bottom: none; padding-bottom: 0; }
.module01 .main a { display: block; color: #FFF; }
.module01 .main div { margin-bottom: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.module01 .main div figure { width: 368px; margin-right: 12px; }
.module01 .main div figure img { min-width: 368px; }
.module01 .main div dl dt { color: #51c300; font-size: 28px; font-weight: bold; margin-bottom: 10px; }
.module01 .main div dl dd { font-size: 30px; font-weight: bold; line-height: 1.4em; }
.module01 .main p { color: #ababab; font-size: 28px; line-height: 1.4em; }
.module01 .sub { border-bottom: solid 1px #606060; padding-bottom: 26px; margin-bottom: 30px; }
.module01 .sub a { color: #FFF; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.module01 .sub figure { width: 226px; margin-right: 12px; }
.module01 .sub figure img { min-width: 226px; }
.module01 .sub dl dt { color: #51c300; font-size: 26px; font-weight: bold; margin-bottom: 10px; }
.module01 .sub dl dd { font-size: 26px; line-height: 1.4em; }
.module01 .sub:last-child { border-bottom: none; margin-bottom: 0; }

.module02 { width: 750px; margin: 0 auto 53px auto; border-bottom: solid 1px #606060; }
.module02 section { width: 680px; margin: 0 auto; }
.module02 h1 { font-size: 36px; font-weight: bold; border-bottom: solid 1px #606060; padding-bottom: 36px; margin-bottom: 32px; }
.module02 .main { border-bottom: solid 1px #606060; padding-bottom: 24px; margin-bottom: 30px; }
.module02 .main a { display: block; color: #FFF; }
.module02 .main div { margin-bottom: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.module02 .main div figure { width: 368px; margin-right: 12px; }
.module02 .main div figure img { min-width: 368px; }
.module02 .main div dl dt { color: #51c300; font-size: 28px; font-weight: bold; margin-bottom: 10px; }
.module02 .main div dl dd { font-size: 30px; font-weight: bold; line-height: 1.4em; }
.module02 .main p { color: #ababab; font-size: 28px; line-height: 1.4em; }
.module02 .sub { border-bottom: solid 1px #606060; padding-bottom: 26px; margin-bottom: 30px; }
.module02 .sub a { color: #FFF; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.module02 .sub figure { width: 226px; margin-right: 12px; }
.module02 .sub figure img { min-width: 226px; }
.module02 .sub dl dt { color: #51c300; font-size: 26px; font-weight: bold; margin-bottom: 10px; }
.module02 .sub dl dd { font-size: 26px; line-height: 1.4em; }
.module02 .sub:last-child { border-bottom: none; margin-bottom: 0; }

.module03 { width: 750px; margin: 0 auto 53px auto; border-bottom: solid 1px #606060; }
.module03 section { width: 680px; margin: 0 auto; }
.module03 h1 { font-size: 36px; font-weight: bold; border-bottom: solid 1px #606060; padding-bottom: 36px; margin-bottom: 32px; }
.module03 .main { border-bottom: solid 1px #606060; padding-bottom: 24px; margin-bottom: 30px; }
.module03 .main a { display: block; color: #FFF; }
.module03 .main div { margin-bottom: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.module03 .main div figure { width: 368px; margin-right: 12px; }
.module03 .main div figure img { min-width: 368px; }
.module03 .main div h2 { font-size: 30px; font-weight: bold; line-height: 1.4em; }
.module03 .main p { color: #ababab; font-size: 28px; line-height: 1.4em; }
.module03 .sub { border-bottom: solid 1px #606060; padding-bottom: 26px; margin-bottom: 30px; }
.module03 .sub a { color: #FFF; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.module03 .sub figure { width: 226px; margin-right: 12px; }
.module03 .sub figure img { min-width: 226px; }
.module03 .sub h2 { font-size: 26px; font-weight: normal; line-height: 1.4em; }
.module03 .sub:last-child { border-bottom: none; margin-bottom: 0; }

.module04 { width: 750px; margin: 0 auto 53px auto; }
.module04 section { width: 716px; margin: 0 auto; }
.module04 ul { padding-top: 22px; background-color: #1a1a1a; border-radius: 8px; }
.module04 h1 { font-size: 36px; font-weight: bold; margin-bottom: 32px; padding-left: 20px; }
.module04 .main { border-bottom: solid 1px #606060; padding: 0 20px 22px 20px; margin-bottom: 22px; }
.module04 .main a { color: #FFF; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.module04 .main figure { width: 226px; margin-right: 12px; }
.module04 .main figure img { min-width: 226px; }
.module04 .main dl dt { font-size: 26px; font-weight: bold; margin-bottom: 10px; }
.module04 .main dl dd { color: #ababab; font-size: 26px; line-height: 1.4em; }
.module04 .main:last-child { border-bottom: none; margin-bottom: 0; }

.module05 { width: 750px; margin: 0 auto 53px auto; }
.module05 section { width: 716px; margin: 0 auto; }
.module05 ul { padding-top: 22px; background-color: #1a1a1a; border-radius: 8px; }
.module05 h1 { font-size: 36px; font-weight: bold; margin-bottom: 32px; padding-left: 20px; }
.module05 .main { border-bottom: solid 1px #606060; padding: 0 20px 22px 20px; margin-bottom: 22px; }
.module05 .main a { color: #FFF; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #FFF; }
.module05 .main figure { width: 226px; margin-right: 12px; }
.module05 .main figure img { min-width: 226px; }
.module05 .main p { font-size: 26px; line-height: 1.4em; }
.module05 .main:last-child { border-bottom: none; margin-bottom: 0; }

.module06 { width: 750px; margin: 0 auto 53px auto; }
.module06 section { width: 716px; margin: 0 auto; }
.module06 ul { padding-top: 22px; background-color: #1a1a1a; border-radius: 8px; }
.module06 h1 { font-size: 36px; font-weight: bold; margin-bottom: 32px; padding-left: 20px; }
.module06 .main { border-bottom: solid 1px #606060; padding: 0 20px 22px 20px; margin-bottom: 22px; }
.module06 .main a { color: #FFF; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.module06 .main figure { width: 226px; margin-right: 12px; }
.module06 .main figure img { min-width: 226px; }
.module06 .main dl dt { color: #51c300; font-size: 26px; font-weight: bold; margin-bottom: 10px; }
.module06 .main dl dd { font-size: 26px; line-height: 1.4em; }
.module06 .main:last-child { border-bottom: none; margin-bottom: 0; }

.module07 { width: 750px; margin: 0 auto 53px auto; }
.module07 section { width: 716px; margin: 0 auto; }
.module07 h1 { font-size: 36px; font-weight: bold; margin-bottom: 32px; padding-left: 20px; }
.module07 ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 11px; }
.module07 li { width: 349px; background-color: #1a1a1a; border-radius: 8px; margin-bottom: 21px; }
.module07 li a { color: #FFF; }
.module07 li figure { width: 349px; }
.module07 li figure img { border-radius: 8px 8px 0 0; min-width: 349px; }
.module07 li h2 { padding: 15px 18px 15px 18px; font-size: 26px; font-weight: normal; line-height: 1.25em; }
.module07 aside a { display: block; color: #51c300; width: 680px; margin: 0 auto; padding: 27px 0 27px 0; border: solid 2px #51c300; text-align: center; font-size: 28px; font-weight: bold; border-radius: 6px; }
.module07 aside a:hover { color: #51c300; }

.module08 { width: 750px; margin: 0 auto 53px auto; }
.module08 section { width: 716px; margin: 0 auto; }
.module08 h1 { font-size: 36px; font-weight: bold; margin-bottom: 32px; padding-left: 20px; }
.module08 .photo-wrap { padding: 24px 18px 32px 18px; background-color: #1a1a1a; border-radius: 8px; }
.module08 ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 9px; }
.module08 li { width: 331px; margin-bottom: 22px; }
.module08 li a { color: #FFF; }
.module08 li img { min-width: 331px; }
.module08 aside a { display: block; color: #51c300; width: 680px; margin: 0 auto; padding: 27px 0 27px 0; border: solid 2px #51c300; text-align: center; font-size: 28px; font-weight: bold; border-radius: 6px; }

.module09 { width: 750px; margin: 0 auto 53px auto; }
.module09 section { width: 716px; margin: 0 auto; }
.module09 h1 { font-size: 36px; font-weight: bold; margin-bottom: 32px; padding-left: 20px; }
.module09 .photo-wrap { background-color: #1a1a1a; border-radius: 8px; padding-bottom: 32px; }
.module09 h2 { font-size: 28px; font-weight: bold; line-height: 1.4em; padding: 18px 0 18px 16px; margin-bottom: 18px; border-bottom: solid 1px #606060; }
.module09 ul { margin-bottom: 32px; }
.module09 li { padding: 0 22px 18px 22px; margin-bottom: 18px; border-bottom: solid 1px #606060; }
.module09 li dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.module09 li dl dt { width: 90px; font-size: 26px; font-weight: bold; }
.module09 li dl dd { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.module09 li dl dd figure { width: 187px; margin-right: 19px; }
.module09 li dl dd figure img { min-width: 187px; }
.module09 li dl dd h3 { font-size: 26px; font-weight: normal; line-height: 1.35em; }
.module09 li:last-child { margin-bottom: 0; }
.module09 aside a { display: block; color: #51c300; width: 680px; margin: 0 auto; padding: 27px 0 27px 0; border: solid 2px #51c300; text-align: center; font-size: 28px; font-weight: bold; border-radius: 6px; }

.module09carousel { width: 750px; margin: 0 auto 0 auto; }
.module09carousel section { width: 100%; }
.module09carousel h1 { font-size: 36px; font-weight: bold; margin-bottom: 32px; padding-left: 20px; }
.module09carousel .photo-wrap { width: 530px; background-color: #1a1a1a; border-radius: 8px; padding-bottom: 32px; }
.module09carousel .photo-wrap a { color: #FFF; }
.module09carousel .sp-slide { margin: 0 0 0 -12.5%; }
.module09carousel .sp-mask { min-height: 680px; }
.module09carousel .sp-arrows { display: none; }
.module09carousel h2 { font-size: 28px; font-weight: bold; line-height: 1.4em; padding: 18px 0 18px 16px; margin-bottom: 18px; border-bottom: solid 1px #606060; }
.module09carousel ul { margin-bottom: 32px; }
.module09carousel li { padding: 0 18px 18px 18px; margin-bottom: 18px; border-bottom: solid 1px #606060; }
.module09carousel li dl { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.module09carousel li dl dt { width: 11%; font-size: 26px; font-weight: bold; }
.module09carousel li dl dd { width: 89%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.module09carousel li dl dd figure { width: 187px; margin-right: 10px; }
.module09carousel li dl dd figure img { min-width: 187px; }
.module09carousel li dl dd h3 { font-size: 24px; font-weight: normal; line-height: 1.35em; }
.module09carousel li:last-child { margin-bottom: 0; }
.module09carousel aside { display: block; color: #51c300; width: 494px; margin: 0 auto; padding: 27px 0 27px 0; border: solid 2px #51c300; text-align: center; font-size: 28px; font-weight: bold; border-radius: 6px; }

.video { width: 750px; margin: 0 auto; background: url(https://bit.ly/2PW5lLG) 0 0 no-repeat; background-size: cover; padding: 54px 0 68px 0; margin-bottom: 60px; }
.video section { width: 680px; margin: 0 auto; }
.video section h2 { margin-bottom: 23px; }
.video section h2 img { max-width: 397px; }
.video section dl dt { font-size: 32px; font-weight: bold; margin-bottom: 12px; }
.video section dl dd { font-size: 16px; margin-bottom: 20px; }
.video section aside a { display: block; color: #51c300; font-size: 28px; font-weight: bold; padding: 27px 0 27px 0; text-align: center; border: solid 2px #51c300; border-radius: 8px; }

footer { width: 750px; margin: 0 auto; padding-bottom: 40px; }
footer p { margin-bottom: 30px; font-size: 16px; line-height: 1.35em; color: #919191; }
footer .links { margin-bottom: 30px; }
footer ul { margin-bottom: 5px; }
footer ul li { display: inline-block; color: #919191; }
footer ul li a { font-size: 16px; line-height: 1.35em; color: #919191 !important; }
footer ul li:after { content: " ｜ "; }
footer ul li:last-child:after { content: none; }
footer small { display: block; font-size: 16px; color: #919191; }

@media screen and (max-width: 768px) { header { width: 100%; margin-bottom: 7%; }
  header p { padding: 1.5% 0 1.5% 2%; }
  header p img { max-width: 22%; }
  header .main-visual img { max-width: 100%; }
  .premiere { width: 95%; margin: 0 auto 5% auto; }
  .premiere a img { max-width: 100%; }
  .module01 { width: 100%; margin: 0 auto 7% auto; }
  .module01 section { width: 92%; }
  .module01 h1 { font-size: calc(60vw/12); padding-bottom: 4.9%; margin-bottom: 5%; }
  .module01 .main { padding-bottom: 3%; margin-bottom: 4.7%; }
  .module01 .main div { margin-bottom: 3%; }
  .module01 .main div figure { width: 52%; margin-right: 2%; }
  .module01 .main div figure img { min-width: 100%; }
  .module01 .main div dl { width: 46%; }
  .module01 .main div dl dt { font-size: calc(50vw/12); margin-bottom: 3%; }
  .module01 .main div dl dd { font-size: calc(50vw/12); line-height: 140%; }
  .module01 .main p { font-size: calc(47vw/12); line-height: 140%; }
  .module01 .sub { padding-bottom: 4%; margin-bottom: 4.6%; }
  .module01 .sub figure { width: 35%; margin-right: 2%; }
  .module01 .sub figure img { min-width: 100%; }
  .module01 .sub dl { width: 63%; }
  .module01 .sub dl dt { font-size: calc(47vw/12); margin-bottom: 1.5%; }
  .module01 .sub dl dd { font-size: calc(41vw/12); line-height: 140%; }
  .module02 { width: 100%; margin: 0 auto 7% auto; }
  .module02 section { width: 92%; }
  .module02 h1 { font-size: calc(60vw/12); padding-bottom: 4.9%; margin-bottom: 5%; }
  .module02 .main { padding-bottom: 3%; margin-bottom: 4.7%; }
  .module02 .main div { margin-bottom: 3%; }
  .module02 .main div figure { width: 52%; margin-right: 2%; }
  .module02 .main div figure img { min-width: 100%; }
  .module02 .main div dl { width: 46%; }
  .module02 .main div dl dt { font-size: calc(50vw/12); margin-bottom: 3%; }
  .module02 .main div dl dd { font-size: calc(50vw/12); line-height: 140%; }
  .module02 .main p { font-size: calc(47vw/12); line-height: 140%; }
  .module02 .sub { padding-bottom: 4%; margin-bottom: 4.6%; }
  .module02 .sub figure { width: 35%; margin-right: 2%; }
  .module02 .sub figure img { min-width: 100%; }
  .module02 .sub dl { width: 63%; }
  .module02 .sub dl dt { font-size: calc(47vw/12); margin-bottom: 1.5%; }
  .module02 .sub dl dd { font-size: calc(41vw/12); line-height: 140%; }
  .module03 { width: 100%; margin: 0 auto 7% auto; }
  .module03 section { width: 92%; }
  .module03 h1 { font-size: calc(60vw/12); padding-bottom: 4.9%; margin-bottom: 5%; }
  .module03 .main { padding-bottom: 3%; margin-bottom: 4.7%; }
  .module03 .main div { margin-bottom: 3%; }
  .module03 .main div figure { width: 52%; margin-right: 2%; }
  .module03 .main div figure img { min-width: 100%; }
  .module03 .main div h2 { width: 46%; font-size: calc(50vw/12); margin-bottom: 3%; line-height: 140%; }
  .module03 .main p { font-size: calc(47vw/12); line-height: 140%; }
  .module03 .sub { padding-bottom: 4%; margin-bottom: 4.6%; }
  .module03 .sub figure { width: 35%; margin-right: 2%; }
  .module03 .sub figure img { min-width: 100%; }
  .module03 .sub h2 { width: 63%; font-size: calc(47vw/12); margin-bottom: 1.5%; line-height: 140%; }
  .module04 { width: 100%; margin: 0 auto 7% auto; }
  .module04 section { width: 95%; }
  .module04 ul { padding-top: 4%; border-radius: 4px; }
  .module04 h1 { font-size: calc(60vw/12); margin-bottom: 5%; padding-left: 2%; }
  .module04 .main { padding: 0 2.5% 2.5% 2.5%; margin-bottom: 3.5%; }
  .module04 .main figure { width: 35%; margin-right: 2%; }
  .module04 .main figure img { min-width: 100%; }
  .module04 .main dl { width: 63%; }
  .module04 .main dl dt { font-size: calc(47vw/12); margin-bottom: 2%; }
  .module04 .main dl dd { font-size: calc(45vw/12); line-height: 140%; }
  .module05 { width: 100%; margin: 0 auto 7% auto; }
  .module05 section { width: 95%; }
  .module05 ul { padding-top: 4%; border-radius: 4px; }
  .module05 h1 { font-size: calc(60vw/12); margin-bottom: 5%; padding-left: 2%; }
  .module05 .main { padding: 0 2.5% 2.5% 2.5%; margin-bottom: 3.5%; }
  .module05 .main figure { width: 35%; margin-right: 2%; }
  .module05 .main figure img { min-width: 100%; }
  .module05 .main p { width: 63%; font-size: calc(45vw/12); margin-bottom: 2%; line-height: 140%; }
  .module06 { width: 100%; margin: 0 auto 7% auto; }
  .module06 section { width: 95%; }
  .module06 ul { padding-top: 4%; border-radius: 4px; }
  .module06 h1 { font-size: calc(60vw/12); margin-bottom: 5%; padding-left: 2%; }
  .module06 .main { padding: 0 2.5% 2.5% 2.5%; margin-bottom: 3.5%; }
  .module06 .main figure { width: 35%; margin-right: 2%; }
  .module06 .main figure img { min-width: 100%; }
  .module06 .main dl { width: 63%; }
  .module06 .main dl dt { color: #51c300; font-size: calc(47vw/12); margin-bottom: 2%; }
  .module06 .main dl dd { font-size: calc(45vw/12); line-height: 140%; }
  .module07 { width: 100%; margin: 0 auto 7% auto; }
  .module07 section { width: 95%; }
  .module07 h1 { font-size: calc(60vw/12); margin-bottom: 5%; padding-left: 2%; }
  .module07 ul { margin-bottom: 3%; }
  .module07 li { width: 48.7%; border-radius: 4px; margin-bottom: 3%; }
  .module07 li figure { width: 100%; }
  .module07 li figure img { border-radius: 4px 4px 0 0; min-width: 100%; }
  .module07 li h2 { padding: 3.5% 4% 4% 4%; font-size: calc(43vw/12); line-height: 130%; }
  .module07 aside a { width: 95.5%; padding: 4.1% 0 4.1% 0; border: solid 1px #51c300; font-size: calc(47vw/12); border-radius: 4px; }
  .module08 { width: 100%; margin: 0 auto 7% auto; }
  .module08 section { width: 95%; }
  .module08 h1 { font-size: calc(60vw/12); margin-bottom: 5%; padding-left: 2%; }
  .module08 .photo-wrap { padding: 3.5% 2% 3.5% 2%; border-radius: 4px; }
  .module08 ul { margin-bottom: 1.5%; }
  .module08 li { width: 48.7%; margin-bottom: 3%; }
  .module08 li img { min-width: 100%; }
  .module08 aside a { width: 100%; padding: 4.1% 0 4.1% 0; border: solid 1px #51c300; font-size: calc(47vw/12); border-radius: 4px; }
  .module09 { width: 100%; margin: 0 auto 7% auto; }
  .module09 section { width: 95%; }
  .module09 h1 { font-size: calc(60vw/12); margin-bottom: 5%; padding-left: 2%; }
  .module09 .photo-wrap { border-radius: 4px; padding-bottom: 4%; }
  .module09 h2 { font-size: calc(43vw/12); line-height: 140%; padding: 3% 0 3% 2%; margin-bottom: 3%; }
  .module09 ul { margin-bottom: 4.5%; }
  .module09 li { padding: 0 2% 2.7% 2%; margin-bottom: 3%; }
  .module09 li dl dt { width: 8.5%; font-size: calc(43vw/12); }
  .module09 li dl dd { width: 91.5%; }
  .module09 li dl dd figure { width: 33%; margin-right: 2%; }
  .module09 li dl dd figure img { min-width: 100%; }
  .module09 li dl dd h3 { width: 65%; font-size: calc(43vw/12); line-height: 135%; }
  .module09 aside a { width: 95%; padding: 4.1% 0 4.1% 0; border: solid 1px #51c300; font-size: calc(47vw/12); border-radius: 4px; }
  .module09carousel { width: 100%; margin: 0 auto 0 auto; padding-top: 1%; overflow-x: hidden; }
  .module09carousel h1 { font-size: calc(60vw/12); margin-bottom: 5%; padding-left: 5%; }
  .module09carousel .slider-pro { padding-left: 2%; }
  .module09carousel .photo-wrap { border-radius: 4px; padding-bottom: 4%; }
  .module09carousel .sp-slide { margin: 0 0 0 -14%; }
  .module09carousel .sp-mask { min-height: 650px; }
  .module09carousel h2 { font-size: calc(43vw/12); line-height: 140%; padding: 4% 0 4% 4%; margin-bottom: 3%; }
  .module09carousel ul { margin-bottom: 5.5%; }
  .module09carousel li { padding: 0 2% 2.7% 2%; margin-bottom: 3%; }
  .module09carousel li dl dt { width: 12%; font-size: calc(43vw/12); }
  .module09carousel li dl dd { width: 91.5%; }
  .module09carousel li dl dd figure { width: 42%; margin-right: 2%; }
  .module09carousel li dl dd figure img { min-width: 100%; }
  .module09carousel li dl dd h3 { width: 56%; font-size: calc(40vw/12); line-height: 135%; }
  .module09carousel aside { width: 93%; padding: 5% 0 5% 0; border: solid 1px #51c300; font-size: calc(47vw/12); border-radius: 4px; }
  .module09carousel aside a:hover { color: #51c300; }
  .video { width: 100%; padding: 7.5% 0 10% 0; margin-bottom: 7%; }
  .video section { width: 90%; }
  .video section h2 { margin-bottom: 3.8%; }
  .video section h2 img { max-width: 60%; }
  .video section dl dt { font-size: calc(50vw/12); margin-bottom: 1.5%; }
  .video section dl dd { font-size: calc(20vw/12); margin-bottom: 3.5%; }
  .video section aside a { font-size: calc(50vw/12); padding: 4.1% 0 4.1% 0; border: solid 1px #51c300; border-radius: 4px; }
  footer { width: 90%; padding-bottom: 5%; }
  footer p { margin-bottom: 4%; font-size: calc(30vw/12); line-height: 140%; }
  footer .links { margin-bottom: 4%; }
  footer ul { font-size: calc(30vw/12); margin-bottom: 1%; }
  footer ul li a { font-size: calc(30vw/12); line-height: 130%; }
  footer ul li:after { content: "｜"; }
  footer ul li:last-child:after { content: none; }
  footer small { font-size: calc(30vw/12); } }
@media screen and (max-width: 700px) { .module09carousel .sp-mask { min-height: 620px; } }
@media screen and (max-width: 650px) { .module09carousel .sp-mask { min-height: 560px; } }
@media screen and (max-width: 600px) { .module09carousel .sp-mask { min-height: 530px; } }
@media screen and (max-width: 550px) { .module09carousel .sp-mask { min-height: 500px; } }
@media screen and (max-width: 480px) { .module09carousel .sp-slide { margin: 0 0 0 -8%; }
  .module09carousel .sp-mask { min-height: 480px; } }
@media screen and (max-width: 414px) { .module09carousel .sp-mask { min-height: 420px; } }
@media screen and (max-width: 375px) { .module09carousel .sp-mask { min-height: 380px; } }
@media screen and (max-width: 320px) { .module09carousel .sp-mask { min-height: 300px; } }
@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@-webkit-keyframes item_list { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }
.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }

.ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }

.ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4s 1 forwards; }

.ani_list04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.5s 1 forwards; }
