@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #fff;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

header .header_logo {
  max-width: 191px;
  padding: 1% 0 1% 1.5%;
  line-height: 0;
}
header .header_wrap {
  background: url(https://bit.ly/2qeOXXo) 0 0 no-repeat;
  background-size: cover;
  padding: 24px 0 54px;
}
header .header_sub {
  max-width: 429px;
  margin: 0 auto;
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 6.5px;
  line-height: 1.1;
}
header .header_sub span {
  font-size: 38px;
}
header .num_push {
  background: #fff;
  max-width: 382px;
  padding: 5px 0 8px;
  margin: 15px auto 0;
  border-radius: 39px;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 6.5px;
  text-align: center;
  color: #000;
}
header .num_push span {
  letter-spacing: 1.5px;
  font-size: 62px;
}
header .header_heading {
  max-width: 620px;
  margin: 25px auto 0;
}
header .header_date {
  width: 100%;
  max-width: 637px;
  padding: 14px 0;
  margin: 44px auto 0;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header .header_logo {
    padding: 1% 0 1% 1.5%;
  }
  header .header_logo img {
    width: 75%;
  }
  header .header_wrap {
    padding: 4% 0 7%;
  }
  header .header_sub {
    font-size: calc(54vw/12);
    letter-spacing: 5.5px;
    line-height: 1.1;
  }
  header .header_sub img {
    width: 85%;
  }
  header .num_push {
    width: 51%;
    padding: 0.7% 0 1.1%;
    margin: 1.8% auto 0;
    border-radius: 39px;
    font-size: calc(64vw/12);
    font-weight: bold;
    letter-spacing: 6.5px;
    text-align: center;
    color: #000;
  }
  header .num_push span {
    letter-spacing: 1.5px;
    font-size: 8.33333vw;
  }
  header .header_heading {
    width: 82%;
    margin: 3% auto 0;
  }
  header .header_date {
    width: 82%;
    padding: 2% 0;
    margin: 7% auto 0;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: calc(49vw/12);
    letter-spacing: 1.2px;
  }
}
@media screen and (max-width: 480px) {
  header .header_logo {
    padding: 1.5% 0 1.5% 1.5%;
  }
  header .header_logo img {
    width: 52%;
  }
  header .header_wrap {
    padding: 4.5% 0 7%;
  }
  header .header_sub {
    font-size: calc(57vw/12);
    letter-spacing: 3.5px;
    line-height: 1.1;
  }
  header .header_sub img {
    width: 54%;
  }
  header .num_push {
    width: 51%;
    padding: 0.7% 0 1.1%;
    margin: 1.8% auto 0;
    border-radius: 39px;
    font-size: calc(64vw/12);
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
    color: #000;
  }
  header .num_push span {
    letter-spacing: 0.5px;
    font-size: calc(103vw/12);
  }
  header .header_heading {
    width: 83%;
    margin: 3% auto 0;
  }
  header .header_date {
    width: 83%;
    padding: 3% 0;
    margin: 6% auto 0;
    border: 1px solid #fff;
    border-radius: 40px;
    font-size: calc(51vw/12);
    letter-spacing: 0.8px;
  }
}
@media screen and (max-width: 414px) {
  header .header_logo img {
    width: 45%;
  }
}
@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes item_list {
  100% {
    opacity: 1;
  }
}
@keyframes item_list {
  100% {
    opacity: 1;
  }
}
.ani_list01 {
  -webkit-animation: item_sp 0.5s ease 2s 1 forwards;
  animation: item_sp 1s ease 1.5s 1 forwards;
}

.ani_list01 {
  opacity: 0;
}

.content_wrap {
  background: #000;
  padding: 0 0 0;
}
.content_wrap .wrap {
  max-width: 768px;
  padding: 62px 0 0;
  margin: 0 auto;
}
.content_wrap .camp_heading {
  padding: 0 0 0 20px;
  margin: 40px 0 0;
  border-left: 6px solid #50c401;
  font-size: 36px;
  letter-spacing: 1.2px;
  line-height: 1.3;
  font-weight: bold;
}
.content_wrap .camp_heading:nth-of-type(1) {
  margin: 0;
}
.content_wrap .camp_text {
  margin: 33px 0 0;
  font-size: 28px;
  line-height: 1.45;
  color: #989898;
}
.content_wrap .camp_caution {
  margin: 20px 0 0;
  line-height: 1.3;
  font-size: 22px;
  letter-spacing: 1.2px;
  color: #989898;
}
.content_wrap .camp_text_f {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #fff;
}
.content_wrap .camp_next {
  margin: 51px 0 0;
}
.content_wrap .camp_entry {
  margin: 50px 0 0;
}
.content_wrap .camp_entry a {
  display: block;
  background: #50c401;
  max-width: 706px;
  padding: 25px 0;
  margin: 0 auto;
  border-radius: 6px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}
.content_wrap .gift_box {
  background: #252525;
  padding: 40px 30px;
  margin: 32px 0 0;
  border-radius: 6px;
  color: #fff;
}
.content_wrap .gift_box .g_h {
  font-size: 28px;
  font-weight: bold;
}
.content_wrap .gift_box .g_item {
  overflow: hidden;
  margin: 25px 0 0;
}
.content_wrap .gift_box .g_item li {
  position: relative;
  float: left;
  padding: 0 48px 0 0;
  font-size: 26px;
}
.content_wrap .gift_box .g_item li:after {
  content: '＞';
  position: absolute;
  top: 0;
  right: 5px;
}
.content_wrap .gift_box .g_item li:last-child:after {
  content: '';
}
.content_wrap .gift_box .gift_inner {
  padding: 190px 0;
}
.content_wrap .content_item {
  overflow: hidden;
  margin: 38px 0 0;
}
.content_wrap .content_item li {
  float: left;
  width: 32%;
  margin: 0 0 0 2%;
}
.content_wrap .content_item li:first-child {
  margin: 0;
}
.content_wrap .content_item li:nth-child(4) {
  margin: 2% 0 0 0;
}
.content_wrap .content_item li:nth-child(5) {
  margin: 2% 0 0 2%;
}
.content_wrap .content_item li:nth-child(6) {
  margin: 2% 0 0 2%;
}
.content_wrap .content_item li img {
  border-radius: 6px;
}
.content_wrap .function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 35px 0 0;
}
.content_wrap .function li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #252525;
  width: 49%;
  padding: 50px 20px 20px;
  margin: 0 0 0 2%;
  border-radius: 6px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content_wrap .function li:first-child {
  margin: 0;
}
.content_wrap .function li figure {
  width: 50%;
  margin: 0 auto;
}
.content_wrap .function li figure img {
  max-width: 80px;
}
.content_wrap .function li .round {
  margin: 0 auto 1%;
}
.content_wrap .function li .round img {
  max-width: 88px;
}
.content_wrap .function li .fuction_heading {
  margin: 30px auto 0;
  font-weight: bold;
  font-size: 28px;
}
.content_wrap .function li .function_text {
  margin: 10px 0 0;
  font-size: 26px;
  line-height: 1.4;
}

.content_w_sec {
  margin: 23px 0 0;
}

.content_entry {
  background: url(https://bit.ly/2DdSDBd) 0 0 no-repeat;
  background-size: cover;
  padding: 85px 0 75px;
  margin: 60px 0 0;
}
.content_entry .content_e_wrap {
  max-width: 768px;
  margin: 0 auto;
}
.content_entry .content_e_heading {
  padding: 0 0 0 27px;
  margin: 0 auto;
  font-size: 35px;
  border-left: 6px solid #50c401;
  line-height: 1.35;
  letter-spacing: 2.5px;
  color: #fff;
}
.content_entry .content_e_btn {
  margin: 50px 0 0;
}
.content_entry .content_e_btn a {
  display: block;
  background: #50c401;
  max-width: 706px;
  padding: 25px 0;
  margin: 0 auto;
  border-radius: 6px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.caution .wrap {
  max-width: 768px;
  padding: 51px 0 70px;
  margin: 0 auto;
}
.caution dl {
  padding: 0 0 41px;
  border-bottom: 2px solid #919191;
}
.caution .caution_heading {
  font-size: 16px;
  font-weight: bold;
}
.caution .caution_mar {
  margin: 23px 0 0;
}
.caution .caution_list {
  margin: 10px 0 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.3px;
  color: #919191;
}
.caution .caution_list:first-child {
  margin: 0;
}
.caution .tarm {
  overflow: hidden;
  padding: 40px 0 0;
}
.caution .tarm li {
  float: left;
  line-height: 1.4;
}
.caution .tarm li a {
  position: relative;
  display: block;
  padding: 0 21px 0 3px;
  font-size: 16px;
  color: #919191;
}
.caution .tarm li a:before {
  content: '|';
  position: absolute;
  top: -2px;
  right: 7px;
  color: #919191;
}
.caution .tarm li .ls:before {
  content: ' ';
}
.caution small {
  display: block;
  padding: 28px 0 0;
  font-size: 16px;
  color: #919191;
}

@media screen and (max-width: 768px) {
  .content_wrap {
    padding: 0 0 0;
  }
  .content_wrap .wrap {
    padding: 7% 5% 0;
  }
  .content_wrap .camp_heading {
    padding: 0 0 0 3%;
    margin: 10% 0 0;
    border-left: 5px solid #50c401;
    font-size: calc(54vw/12);
    line-height: 1.4;
  }
  .content_wrap .camp_text {
    margin: 6% 0 0;
    font-size: calc(44vw/12);
    line-height: 1.4;
    color: #989898;
  }
  .content_wrap .camp_caution {
    margin: 3% 0 0;
    font-size: calc(34vw/12);
    line-height: 1.2;
    letter-spacing: 1.2px;
  }
  .content_wrap .camp_text_f {
    font-size: calc(45vw/12);
    font-weight: bold;
    letter-spacing: 1.3px;
    color: #fff;
  }
  .content_wrap .camp_next {
    margin: 7% 0 0;
  }
  .content_wrap .camp_entry {
    margin: 8% 0 0;
  }
  .content_wrap .camp_entry a {
    width: 91%;
    padding: 3.7% 0;
    border-radius: 8px;
    font-size: calc(52vw/12);
  }
  .content_wrap .content_item {
    margin: 5.5% 0 0;
  }
  .content_wrap .content_item li img {
    border-radius: 5px;
  }
  .content_wrap .function {
    margin: 5% 0 0;
  }
  .content_wrap .function li {
    padding: 7.5% 2% 4%;
    margin: 0 0 0 2%;
    border-radius: 8px;
  }
  .content_wrap .function li figure {
    width: 50%;
    margin: 0 auto;
  }
  .content_wrap .function li figure img {
    max-width: 80px;
  }
  .content_wrap .function li .round {
    margin: 0 auto 2.5%;
  }
  .content_wrap .function li .round img {
    max-width: 88px;
  }
  .content_wrap .function li .fuction_heading {
    margin: 11% auto 0;
    font-size: calc(41vw/12);
  }
  .content_wrap .function li .function_text {
    margin: 3% auto 0;
    font-size: calc(40vw/12);
    line-height: 1.4;
  }

  .content_w_sec {
    margin: 5% 0 0;
  }

  .content_entry {
    padding: 12% 0 10%;
    margin: 10% 0 0;
  }
  .content_entry .content_e_wrap {
    max-width: 768px;
    margin: 0 auto;
  }
  .content_entry .content_e_heading {
    width: 92%;
    margin: 0 0 0 4.5%;
    padding: 0 0 0 3%;
    font-size: calc(49vw/12);
    line-height: 1.35;
    letter-spacing: 1.5px;
  }
  .content_entry .content_e_btn {
    margin: 7% 0 0;
  }
  .content_entry .content_e_btn a {
    padding: 3.2% 0;
    width: 81%;
    border-radius: 8px;
    font-size: calc(54vw/12);
  }

  .caution .wrap {
    padding: 7% 4.5% 5%;
  }
  .caution dl {
    padding: 0 0 6%;
    border-bottom: 1.5px solid #919191;
  }
  .caution .caution_heading {
    font-size: calc(25vw/12);
  }
  .caution .caution_mar {
    margin: 23px 0 0;
  }
  .caution .caution_list {
    margin: 1.5% 0 0;
    font-size: calc(25vw/12);
    line-height: 1.4;
    letter-spacing: 1.2px;
  }
  .caution .tarm {
    padding: 5% 0 0;
  }
  .caution .tarm li {
    float: left;
    line-height: 1.4;
  }
  .caution .tarm li a {
    padding: 0 19px 0 3px;
    font-size: calc(26vw/12);
  }
  .caution .tarm li a:before {
    content: '|';
    position: absolute;
    top: -2px;
    right: 7px;
    color: #919191;
  }
  .caution .tarm li:nth-child(3) a:before {
    content: ' ';
  }
  .caution .tarm li .ls:before {
    content: ' ';
  }
  .caution small {
    padding: 0;
    margin: 6% 0 0;
    font-size: calc(26vw/12);
  }
}
@media screen and (max-width: 480px) {
  .content_wrap {
    padding: 0 0 0;
  }
  .content_wrap .wrap {
    padding: 7% 4% 0;
  }
  .content_wrap .camp_heading {
    padding: 0 0 0 3%;
    margin: 10% 0 0;
    border-left: 3px solid #50c401;
    font-size: calc(57vw/12);
    line-height: 1.4;
  }
  .content_wrap .camp_text {
    margin: 6% 0 0;
    font-size: calc(47vw/12);
    line-height: 1.45;
    color: #989898;
  }
  .content_wrap .camp_caution {
    margin: 3% 0 0;
    font-size: calc(37vw/12);
    line-height: 1.28;
    letter-spacing: 1px;
  }
  .content_wrap .camp_text_f {
    font-size: calc(48vw/12);
    font-weight: bold;
    letter-spacing: 1.3px;
    color: #fff;
  }
  .content_wrap .camp_next {
    margin: 7% 0 0;
  }
  .content_wrap .camp_entry {
    margin: 8% 0 0;
  }
  .content_wrap .camp_entry a {
    width: 91%;
    padding: 3.7% 0;
    border-radius: 4px;
    font-size: calc(55vw/12);
  }
  .content_wrap .content_item {
    margin: 5.5% 0 0;
  }
  .content_wrap .content_item li img {
    border-radius: 4px;
  }
  .content_wrap .function {
    margin: 5% 0 0;
  }
  .content_wrap .function li {
    padding: 7.5% 3% 4%;
    margin: 0 0 0 2%;
    border-radius: 8px;
  }
  .content_wrap .function li figure {
    width: 50%;
    margin: 0 auto;
  }
  .content_wrap .function li figure img {
    max-width: 80px;
    width: 63%;
  }
  .content_wrap .function li .round {
    margin: 1% auto 1.2%;
  }
  .content_wrap .function li .round img {
    margin: 0 0 0;
    width: 71%;
  }
  .content_wrap .function li .fuction_heading {
    margin: 11% auto 0;
    font-size: calc(41vw/12);
  }
  .content_wrap .function li .function_text {
    margin: 3% auto 0;
    font-size: calc(40vw/12);
    line-height: 1.4;
  }

  .content_w_sec {
    margin: 5% 0 0;
  }

  .content_entry {
    padding: 11% 0 10%;
    margin: 10% 0 0;
  }
  .content_entry .content_e_wrap {
    max-width: 768px;
    margin: 0 auto;
  }
  .content_entry .content_e_heading {
    width: 92%;
    margin: 0 0 0 4.5%;
    padding: 0 0 0 3%;
    border-left: 3px solid #50c401;
    font-size: calc(51vw/12);
    line-height: 1.4;
    letter-spacing: 0.9px;
  }
  .content_entry .content_e_btn {
    margin: 7% 0 0;
  }
  .content_entry .content_e_btn a {
    padding: 3.2% 0;
    width: 84%;
    border-radius: 5px;
    font-size: calc(54vw/12);
  }

  .caution .wrap {
    padding: 7% 4% 6%;
  }
  .caution dl {
    padding: 0 0 6%;
    border-bottom: 1px solid #919191;
  }
  .caution .caution_heading {
    font-size: calc(28vw/12);
  }
  .caution .caution_mar {
    margin: 23px 0 0;
  }
  .caution .caution_list {
    margin: 1.5% 0 0;
    font-size: calc(28vw/12);
    line-height: 1.4;
    letter-spacing: 1.1px;
  }
  .caution .tarm {
    padding: 5% 0 0;
  }
  .caution .tarm li {
    float: left;
    line-height: 1.4;
  }
  .caution .tarm li a {
    padding: 0 19px 0 3px;
    font-size: calc(29vw/12);
  }
  .caution .tarm li a:before {
    content: '|';
    position: absolute;
    top: -2px;
    right: 7px;
    color: #919191;
  }
  .caution .tarm li:nth-child(3) a:before {
    content: ' ';
  }
  .caution .tarm li .ls:before {
    content: ' ';
  }
  .caution small {
    padding: 0;
    margin: 6% 0 0;
    font-size: calc(26vw/12);
  }
}
