@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif !important;
  color: #fff;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

.wrap {
  max-width: 768px;
  margin: 0 auto;
}

header .logo {
  max-width: 151px;
  padding: 12px 0 13px 22px;
  line-height: 0;
}
header .h_wrap {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/4ef393c3cab7b50470f9ca6f94c77057_c57232342707452345b132faee39c27e.png) center top no-repeat;
  background-size: 1920px auto;
  padding: 50px 0 0;
  height: 785px;
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
header .h_wrap .h_sub {
  max-width: 260px;
  margin: 0 auto 0;
  line-height: 0;
}
header .h_wrap .h_title {
  max-width: 483px;
  margin: 19px auto 0;
  line-height: 0;
}
header .h_wrap .h_text {
  margin: 24px auto 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 1.8px;
}
header .h_wrap .h_text span {
  display: block;
}

.h_inner {
  max-width: 680px;
  background: #1f2020;
  padding: 38px 18px 39px;
  margin: 48px auto 0;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.h_inner .h_heading {
  padding: 0;
  line-height: 1.5;
  letter-spacing: 1.2px;
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
}
.h_inner .c_tit {
  max-width: 644px;
  margin: 30px auto 0;
  text-align: center;
  color: #ababab;
}
.h_inner .c_tit .c_color {
  color: #e5c200;
}

.entry {
  margin: 15px 0 0;
  border-radius: 8px;
}
.entry .wrap {
  background: #1a1a1a;
  max-width: 715px;
  padding: 45px 18px 36px;
  border-radius: 6px;
  margin: 0 auto;
}
.entry .e_h {
  padding: 0 0 0 14px;
  border-left: 5px solid #e5c200;
  line-height: 1.4;
  font-weight: normal;
  letter-spacing: 1.4px;
  font-size: 23px;
}
.entry .e_h .e_c {
  color: #e5c200;
}
.entry .e_h .e_sec {
  display: inline-block;
  text-indent: -4px;
  font-weight: bold;
  font-size: 31px;
}
.entry .e_h .e_sec .e_la {
  display: inline-block;
  margin: 0 4px;
}
.entry .e_h .e_sec .e_en {
  margin: 0 -4px 0 0;
}
.entry .e_btn {
  margin: 30px 0 0;
}
.entry .e_btn a {
  display: block;
  background: #e5c200;
  padding: 28px 0;
  text-align: center;
  border-radius: 4px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #000;
}
.entry .e_cp {
  margin: 21px 0 0;
  font-size: 20px;
  text-align: center;
}
.entry .e_cp span {
  font-size: 23px;
}

.e_s {
  margin: 60px 0 0;
}

.contents {
  margin: 95px 0 0;
}
.contents .wrap {
  max-width: 730px;
  margin: 0 auto;
}
.contents .c_h {
  padding: 0 0 0 17px;
  margin: 63px 0 0;
  border-left: 5px solid #e5c200;
  font-size: 34px;
  font-weight: normal;
  line-height: 1.1;
  letter-spacing: 1.35px;
  color: #fff;
}
.contents .c_h span {
  display: inline-block;
  margin: 0 3px 0 0;
  font-size: 37px;
}
.contents .c_main li {
  background: #202121;
  padding: 58px 16.5px 62px;
  max-width: 768px;
  margin: 0 auto 0;
  border-radius: 10px;
}
.contents .c_main li .c_ih {
  font-size: 34px;
  text-align: center;
  line-height: 1.35;
  letter-spacing: 1.3px;
  font-weight: normal;
}
.contents .c_main li .pic {
  margin: 40px auto 0;
  max-width: 644px;
}
.contents .c_main li .caution {
  margin: 8px 0 0;
  text-align: center;
  font-size: 13px;
  line-height: 1.3;
  color: #777;
}
.contents .c_main li .c_p {
  margin: 38px 0 0;
  font-size: 34px;
  text-align: center;
  font-weight: normal;
}
.contents .c_box {
  margin: 52px 0 0;
}
.contents .c_box li {
  background: #202121;
  padding: 30px 16.5px 35px;
  max-width: 768px;
  margin: 18px auto 0;
  border-radius: 10px;
}
.contents .c_box li .icon {
  position: relative;
  background: #ddbd1a;
  max-width: 91px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 0 7px;
  border-radius: 30px;
  font-size: 12.5px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  color: #1f2020;
}
.contents .c_box li .icon:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 7px solid transparent;
  border-top-color: #ddbd1a;
  top: 100%;
  left: 53%;
  margin-left: -10px;
}
.contents .c_box li .icon span {
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 18px;
}
.contents .c_box li .c_ih {
  margin: 20px auto 0;
  font-size: 34px;
  text-align: center;
  line-height: 1.35;
  letter-spacing: 1.3px;
  font-weight: normal;
  color: #fff;
}
.contents .c_box li .pic {
  margin: 28px auto 0;
  max-width: 644px;
}
.contents .c_box li .caution {
  margin: 15px 0 0;
  text-align: center;
  font-size: 13px;
  line-height: 1.3;
  color: #777;
}
.contents .c_sec {
  padding: 0 0 0 12px;
  margin: 35px 0 0;
  border-left: 5px solid #e5c200;
  font-size: 34px;
  font-weight: normal;
  line-height: 1.3;
}
.contents .c_b_i {
  background: #232323;
  padding: 56px 50px 34px;
  margin: 35px 0 0;
  border-radius: 6px;
  text-align: center;
}
.contents .c_b_i .c_b_h {
  margin: -8px 0 0;
  font-size: 30px;
}
.contents .c_b_i .c_b_t {
  margin: 23px 0 0;
  line-height: 1.4;
  font-size: 26px;
}
.contents .c_tx {
  margin: 55px 0 0;
  font-size: 28px;
  line-height: 1.5;
  color: #979797;
}
.contents .c_btn {
  margin: 62px 0 0;
}
.contents .c_btn a {
  display: block;
  padding: 32px 0;
  font-size: 32px;
  border-radius: 8px;
  border: 2px solid #e5c200;
  text-align: center;
  color: #e5c200;
}

aside {
  background: #000;
  margin: 70px 0 0;
}
aside .wrap {
  max-width: 768px;
  padding: 17px 0 66px;
  margin: 0 auto;
  border-top: 2px solid #404040;
}
aside .f_d dt {
  margin: 40px 0 0;
  font-size: 28px;
  letter-spacing: 1.4px;
  font-weight: normal;
  color: #fff;
}
aside .f_d dd {
  margin: 25px 0 0;
  font-size: 24px;
  line-height: 1.45;
  letter-spacing: 1.4px;
  color: #ababab;
}
aside .f_d dd .caution {
  display: block;
  margin: 12px 0 0;
  font-size: 20px;
}
aside .f_d dd .f_item {
  margin: 15px 0 0 35px;
}
aside .f_d dd .f_item li {
  margin: 6px 0 0;
  line-height: 1.4;
  font-size: 20px;
}
aside .f_d dd a {
  color: #e5c200;
  text-decoration: underline;
}
aside .f_d dd a:hover {
  text-decoration: none;
}
aside .f_d .dd_last {
  line-height: 1.2;
}
aside .f_c {
  margin: 15px 0 0;
  line-height: 1.3;
  font-size: 20px;
}

footer {
  background: #000;
}
footer .wrap {
  padding: 35px 0 50px;
  border-top: 1px solid #606060;
}
footer .f_list {
  overflow: hidden;
  margin: 10px 0 0;
}
footer .f_list li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .f_list li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #919191;
}
footer .f_list li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #919191;
}
footer .f_list li:last-child:after {
  content: '';
}
footer .copy {
  margin: 0 0 40px;
}
footer .copy li {
  width: 100%;
  margin: 5px 0 0 0;
  line-height: 1.3;
  font-size: 15px;
  color: #656565;
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1.3px;
  color: #919191;
}

@media screen and (max-width: 768px) {
  .wrap {
    padding: 0 4%;
    margin: 0 auto;
  }

  header .logo {
    width: 21%;
    padding: 1.2% 0 1.3% 2.8%;
    line-height: 0;
  }
  header .wrap {
    padding: 0 2.7%;
  }
  header .h_wrap {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/cf7f49d2963ad92f18984487de762547_606e9cb1701dc2528a1d64600a5b121a.png) center top no-repeat;
    background-size: cover;
    padding: 5.3% 0 4.2%;
    height: auto;
  }
  header .h_wrap .h_h {
    top: 1.5%;
    left: 2%;
    width: 13%;
  }
  header .h_wrap .h_sub {
    width: 37%;
    margin: 0 auto 0;
  }
  header .h_wrap .h_title {
    width: 69%;
    margin: 4% auto 0;
  }

  .h_inner {
    padding: 5% 2.3% 6.3% 2.2%;
    margin: 7.2% auto 0;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .h_inner .h_heading {
    padding: 0;
    line-height: 1.5;
    font-size: calc(42vw/12);
  }
  .h_inner .c_tit {
    padding: 0 0 0 0;
    margin: 4.2% 0 0;
    line-height: 1;
  }

  .entry {
    padding: 0 2%;
    margin: 1.5% 0 0;
    border-radius: 6px;
  }
  .entry .wrap {
    padding: 6% 2.5% 5%;
    border-radius: 6px;
  }
  .entry .e_h {
    padding: 0 0 0 2.5%;
    line-height: 1.4;
    letter-spacing: 1.4px;
    font-size: calc(36vw/12);
  }
  .entry .e_h .e_sec {
    text-indent: -4px;
    font-size: calc(45vw/12);
    white-space: nowrap;
  }
  .entry .e_h .e_sec .e_la {
    margin: 0 0.3%;
  }
  .entry .e_h .e_sec .e_en {
    margin: 0 -3% 0 0;
  }
  .entry .e_btn {
    margin: 5% 0 0;
  }
  .entry .e_btn a {
    padding: 3.7% 0;
    border-radius: 4px;
    font-size: calc(44vw/12);
    letter-spacing: 1.2px;
  }
  .entry .e_cp {
    margin: 4% 0 0;
    font-size: calc(34vw/12);
  }
  .entry .e_cp span {
    font-size: calc(38vw/12);
  }

  .e_s {
    margin: 8% 0 0;
  }

  .contents {
    margin: 12% 0 0;
  }
  .contents .c_h {
    padding: 0 0 0 2%;
    margin: 7% 0 0;
    border-left: 4px solid #e5c200;
    font-size: calc(53vw/12);
    line-height: 1.3;
  }
  .contents .c_h span {
    margin: 0 0.6% 0 0;
    font-size: calc(56vw/12);
  }
  .contents .c_main li {
    padding: 10.4% 2.4% 9%;
    border-radius: 9px;
  }
  .contents .c_main li .c_ih {
    font-size: calc(54vw/12);
    line-height: 1.3;
    letter-spacing: 1.3px;
  }
  .contents .c_main li .pic {
    margin: 5% auto 0;
    max-width: 644px;
  }
  .contents .c_main li .caution {
    margin: 4.5% 0 0;
    font-size: calc(21vw/12);
    line-height: 1.3;
  }
  .contents .c_main li .c_p {
    margin: 5.5% 0 0;
    font-size: calc(54vw/12);
  }
  .contents .c_box {
    margin: 4% 0 0;
  }
  .contents .c_box li {
    padding: 4.4% 2.4% 4.3%;
    margin: 3% 0 0;
    margin: 2.6% auto 0;
    border-radius: 9px;
  }
  .contents .c_box li .icon {
    width: 16%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.8% 0 1.2%;
    border-radius: 30px;
    font-size: calc(21vw/12);
    letter-spacing: 0.6px;
  }
  .contents .c_box li .icon:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 7px solid transparent;
    border-top-color: #ddbd1a;
    top: 100%;
    left: 53%;
    margin-left: -10px;
  }
  .contents .c_box li .icon span {
    display: inline-block;
    margin: 0 0 0 2.5%;
    font-size: calc(29vw/12);
  }
  .contents .c_box li:first-child {
    margin: 0;
  }
  .contents .c_box li .c_ih {
    margin: 3.3% auto 0;
    font-size: calc(54vw/12);
    line-height: 1.3;
    letter-spacing: 1.3px;
  }
  .contents .c_box li .pic {
    margin: 3.8% auto 0;
  }
  .contents .c_box li .caution {
    margin: 2% 0 0;
    font-size: calc(21vw/12);
    line-height: 1.3;
  }
  .contents .c_sec {
    padding: 0 0 0 2%;
    margin: 6% 0 0;
    border-left: 4px solid #e5c200;
    font-size: calc(55vw/12);
    line-height: 1.3;
  }
  .contents .c_b_i {
    padding: 8.2% 7.5% 5%;
    margin: 6.5% 0 0;
    border-radius: 6px;
  }
  .contents .c_b_i .c_b_h {
    margin: -2% 0 0;
    font-size: calc(52vw/13);
  }
  .contents .c_b_i .c_b_t {
    margin: 4% 0 0;
    line-height: 1.4;
    font-size: calc(42vw/13);
  }
  .contents .c_tx {
    margin: 9% 0 0;
    font-size: calc(46vw/12);
    line-height: 1.5;
  }
  .contents .c_btn {
    margin: 9% 0 0;
  }
  .contents .c_btn a {
    padding: 5% 0;
    font-size: calc(52vw/12);
    font-weight: bold;
    border: 1.5px solid #e5c200;
    border-radius: 7px;
    letter-spacing: 1.3px;
  }

  aside {
    margin: 8% 0 0;
  }
  aside .wrap {
    padding: 2% 0 9%;
    margin: 0 4%;
    border-top: 1px solid #404040;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(37vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(31vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 0 5.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }
  aside .f_d dd a:hover {
    text-decoration: none;
  }
  aside .f_d .dd_last {
    line-height: 1.2;
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }

  footer .wrap {
    padding: 5% 0 7%;
    margin: 0 5%;
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 10px 0 0;
  }
  footer .f_list li a {
    padding: 0 12px 0 0;
    font-size: 13px;
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.7% 0 0 0;
    line-height: 1.3;
    font-size: calc(24vw/12);
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 480px) {
  .wrap {
    padding: 0 4.8%;
    margin: 0 auto;
  }

  header .logo {
    width: 21%;
    padding: 1.2% 0 1.3% 2.8%;
    line-height: 0;
  }
  header .wrap {
    padding: 0 2.5%;
  }
  header .h_wrap {
    padding: 5.3% 0 4.2%;
  }
  header .h_wrap .h_h {
    top: 1.5%;
    left: 2%;
    width: 13%;
  }
  header .h_wrap .h_sub {
    width: 37%;
    margin: 0 auto 0;
  }
  header .h_wrap .h_title {
    width: 69%;
    margin: 4% auto 0;
  }

  .h_heading {
    padding: 0 0 0;
    line-height: 1.5;
    font-size: calc(44vw/12);
  }

  .c_tit {
    padding: 0 0 0 0;
    margin: 2.2% 0 0;
    line-height: 1.5;
    font-size: calc(35vw/12);
    letter-spacing: 1.2px;
  }

  .h_inner {
    padding: 6% 3.3% 6% 3.2%;
    margin: 6.8% auto 0;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .h_inner .h_btn {
    margin: 3.8% 0 0;
  }
  .h_inner .h_btn a {
    padding: 4% 0;
    border-radius: 6px;
    font-size: calc(45vw/12);
    letter-spacing: 1.2px;
  }

  .entry {
    padding: 0 2%;
    margin: 1.5% 0 0;
    border-radius: 4px;
  }
  .entry .wrap {
    padding: 6% 2.5% 5%;
    border-radius: 4px;
  }
  .entry .e_h {
    padding: 0 0 0 2.5%;
    line-height: 1.4;
    border-left: 2.5px solid #e5c200;
    letter-spacing: 1.2px;
    font-size: calc(38vw/12);
  }
  .entry .e_h .e_sec {
    text-indent: -0.5%;
    font-size: calc(46vw/12);
    white-space: nowrap;
  }
  .entry .e_h .e_sec .e_la {
    margin: 0 0.5%;
  }
  .entry .e_h .e_sec .e_en {
    margin: 0 -2% 0 0;
  }
  .entry .e_btn {
    margin: 5% 0 0;
  }
  .entry .e_btn a {
    padding: 3.7% 0;
    border-radius: 3px;
    font-size: calc(46vw/12);
    font-weight: bold;
    letter-spacing: 1.2px;
  }
  .entry .e_cp {
    margin: 4% 0 0;
    font-size: calc(36vw/12);
  }
  .entry .e_cp span {
    font-size: calc(40vw/12);
  }

  .e_s {
    margin: 8% 0 0;
  }

  .contents {
    margin: 11% 0 0;
  }
  .contents .c_h {
    padding: 0 0 0 2.5%;
    margin: 7% 0 0;
    border-left: 2.5px solid #e5c200;
    font-size: calc(58vw/12);
    line-height: 1.2;
  }
  .contents .c_h span {
    margin: 0 0.6% 0 0;
    font-size: calc(60vw/12);
  }
  .contents .c_main li {
    padding: 10.4% 2.4% 10%;
    border-radius: 9px;
  }
  .contents .c_main li .c_ih {
    font-size: calc(56vw/12);
    line-height: 1.3;
    letter-spacing: 1.3px;
  }
  .contents .c_main li .pic {
    margin: 5% auto 0;
    max-width: 644px;
  }
  .contents .c_main li .caution {
    margin: 0.5% 0 0;
    font-size: calc(23vw/12);
    line-height: 1.3;
  }
  .contents .c_main li .c_p {
    margin: 4.5% 0 0;
    font-size: calc(56vw/12);
  }
  .contents .c_box {
    margin: 6% 0 0;
  }
  .contents .c_box li {
    padding: 4.4% 2.4% 4.3%;
    margin: 3% 0 0;
    margin: 2.6% auto 0;
    border-radius: 7px;
  }
  .contents .c_box li .icon {
    width: 18%;
    margin: 0 auto;
    padding: 0.8% 0 1%;
    border-radius: 30px;
    font-size: calc(25vw/12);
    letter-spacing: 0.6px;
  }
  .contents .c_box li .icon:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #ddbd1a;
    top: 100%;
    left: 58%;
    margin-left: -10px;
  }
  .contents .c_box li .icon span {
    margin: 0 0 0 2.5%;
    font-size: calc(32vw/12);
  }
  .contents .c_box li:first-child {
    margin: 0;
  }
  .contents .c_box li .c_ih {
    margin: 3% auto 0;
    font-size: calc(56vw/12);
    line-height: 1.4;
    letter-spacing: 1.35px;
  }
  .contents .c_box li .pic {
    margin: 3.8% auto 0;
  }
  .contents .c_box li .caution {
    margin: 2.5% 0 0;
    font-size: calc(25vw/12);
    line-height: 1.3;
  }
  .contents .c_sec {
    padding: 0 0 0 2.5%;
    margin: 5% 0 0;
    border-left: 4px solid #e5c200;
    font-size: calc(58vw/12);
    line-height: 1.3;
  }
  .contents .c_b_i {
    padding: 8.2% 7.5% 5%;
    margin: 6% 0 0;
    border-radius: 5px;
  }
  .contents .c_b_i .c_b_h {
    margin: -2% 0 0;
    font-size: calc(55vw/13);
  }
  .contents .c_b_i .c_b_t {
    margin: 4% 0 0;
    line-height: 1.4;
    font-size: calc(45vw/13);
  }
  .contents .c_tx {
    margin: 9% 0 0;
    font-size: calc(49vw/12);
    line-height: 1.5;
  }
  .contents .c_btn {
    margin: 9% 0 0;
  }
  .contents .c_btn a {
    padding: 5% 0;
    font-size: calc(55vw/12);
    font-weight: bold;
    border: 1px solid #e5c200;
    border-radius: 6px;
    letter-spacing: 1.3px;
  }

  aside {
    margin: 7% 0 0;
  }
  aside .wrap {
    padding: 2% 0 9%;
    margin: 0 4%;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(46vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(39vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(33vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 0 5.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(34vw/12);
  }
  aside .f_d .dd_last {
    line-height: 1.3;
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(34vw/12);
  }

  footer .wrap {
    padding: 5% 0 7%;
    margin: 0 5%;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 1% 0 0 0;
    line-height: 1.3;
    font-size: calc(33vw/12);
  }
  footer .f_list {
    margin: 1.8% 0 0;
  }
  footer .f_list li {
    margin: 0 8px 0 0;
  }
  footer .f_list li a {
    padding: 0 10px 0 0;
    font-size: 10px;
    white-space: nowrap;
  }
  footer .f_list li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .f_list li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(28vw/12);
    letter-spacing: 0.5px;
  }
}
@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes item_list {
  100% {
    opacity: 1;
  }
}
@keyframes item_list {
  100% {
    opacity: 1;
  }
}
.ani_list01 {
  -webkit-animation: item_sp 0.5s ease 2s 1 forwards;
  animation: item_sp 1s ease 1.5s 1 forwards;
}

.ani_list01 {
  opacity: 0;
}
