* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #fff;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

.wrap {
  max-width: 768px;
  margin: 0 auto;
}

header .header_logo {
  max-width: 153px;
  padding: 13px 0 11px 17px;
  line-height: 0;
}
header .header_area {
  background: url(https://bit.ly/2BxBcYU) center center no-repeat;
  background-size: cover;
}
header .header_wrap {
  padding: 68px 0 67px;
}
header .header_wrap .h_m {
  max-width: 327px;
  margin: 0 auto;
}
header .header_wrap .h_t {
  max-width: 537px;
  margin: 33px auto 0;
}
header .header_wrap .h_logo {
  max-width: 409px;
  margin: 50px auto 0;
}

.contents .c_inner {
  padding: 60px 0;
  border-bottom: 1px solid #606060;
}
.contents .c_inner figure {
  line-height: 0;
}
.contents .c_inner .c_h {
  margin: 20px 0 0;
  font-size: 28px;
}
.contents .c_inner .c_text {
  margin: 20px 0 0;
  font-size: 22px;
  line-height: 1.4;
  color: #8c8c8c;
}
.contents .c_inner .c_btn {
  margin: 20px 0 0;
}
.contents .c_inner .c_btn a {
  display: block;
  background: #33aa22;
  border-radius: 4px;
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.contents .c_tb {
  margin: 20px 0 0;
}
.contents .c_tb a {
  display: block;
}
.contents .c_tb table {
  padding: 25px 0 25px;
  border-bottom: 1px solid #606060;
}
.contents .c_tb table td {
  width: 35%;
  line-height: 0;
}
.contents .c_tb table th {
  padding: 0 0 0 3%;
  font-size: 22px;
  text-align: left;
  font-weight: normal;
  line-height: 1.5;
  color: #fff;
}
.contents .c_tb .last_table {
  border-bottom: none;
}
.contents .more .more_wrap {
  max-width: 768px;
  padding: 60px 0 58px;
  margin: 0 auto;
  border-top: 1px solid #606060;
}
.contents .more .m_btn {
  max-width: 681px;
  margin: 0 auto;
}
.contents .more .m_btn a {
  display: block;
  padding: 25px 0;
  border: 3px solid #33aa22;
  border-radius: 4px;
  text-align: center;
  font-size: 29px;
  color: #33aa22;
}
.contents .premium {
  padding: 56px 0 42px;
  border-top: 1px solid #606060;
}
.contents .premium .p_h {
  padding: 0 0 0 25px;
  line-height: 1.1;
  border-left: 10px solid #3a2;
  font-size: 33px;
  letter-spacing: 1.3px;
}
.contents .premium .p_h span {
  display: block;
  margin: 0 0 18px;
  font-weight: normal;
  font-size: 28px;
}
.contents .premium table {
  width: 100%;
  margin: 34px 0 0;
  border: 1px solid #333;
  border-spacing: 0;
  border-radius: 6px;
}
.contents .premium table th {
  background: #1a1a1a;
  padding: 24px 0 24px 25px;
  font-weight: bold;
  text-align: left;
  border: 1px solid #333;
  font-size: 20px;
}
.contents .premium table .nst {
  width: 33%;
  padding: 14px 0;
  text-align: center;
  font-size: 20px;
}
.contents .premium table .nst_fi {
  border-radius: 4px 0 0 0;
}
.contents .premium table .nst_h {
  border-radius: 0 4px 0 0;
  line-height: 1.5;
}
.contents .premium table .head {
  border: 1px solid #333;
  font-weight: normal;
}
.contents .premium table .head_thr {
  border-radius: 0 0 0 4px;
  padding: 33px 0 33px 25px;
}
.contents .premium table .head_las {
  border-radius: 0 0 4px 0;
}
.contents .premium table td {
  border: 1px solid #333;
  padding: 24px 0;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
.contents .premium table td img {
  max-width: 31px;
}
.contents .premium table td span {
  display: inline-block;
  font-size: 14px;
}
.contents .premium .try {
  max-width: 339px;
  margin: 35px auto 0;
  line-height: 0;
}
.contents .premium .try_btn {
  max-width: 681px;
  margin: 36px auto 0;
}
.contents .premium .try_btn a {
  display: block;
  background: #3a2;
  padding: 25px;
  border-radius: 4px;
  text-align: center;
  font-size: 28px;
  color: #fff;
}
.contents .gotop {
  border-top: 1px solid #606060;
}
.contents .gotop .g_btn {
  max-width: 681px;
  margin: 0 auto;
  padding: 60px 0;
}
.contents .gotop .g_btn a {
  display: block;
  padding: 25px 0;
  border: 3px solid #33aa22;
  border-radius: 4px;
  text-align: center;
  font-size: 29px;
  color: #33aa22;
}
.contents .gotop .g_btn a:hover {
  background: #3a2;
  opacity: 1;
  color: #fff;
}

footer {
  border-top: 1px solid #606060;
  padding: 45px 0 44px;
}
footer .copy {
  overflow: hidden;
  margin: 10px 0 35px;
}
footer .copy li {
  float: left;
  margin: 6px 0 0 12px;
  font-size: 16px;
  color: #919191;
}
footer .footer_item {
  overflow: hidden;
  margin: 13px 0 0 12px;
}
footer .footer_item li {
  position: relative;
  padding: 0 5px 0 0;
  float: left;
}
footer .footer_item li a {
  padding: 0 4px 0 0;
  font-size: 16px;
  color: #919191;
}
footer small {
  display: block;
  margin: 32px 0 0 12px;
  font-size: 16px;
  color: #919191;
}

@media screen and (max-width: 768px) {
  .wrap {
    padding: 0 5% 0;
  }

  header .header_logo {
    width: 20%;
    padding: 1.6% 0 1.6% 2.5%;
  }
  header .header_area {
    background: url(https://bit.ly/2U3Vpy9) center center no-repeat;
    background-size: cover;
  }
  header .header_wrap {
    padding: 9.6% 0 9.8%;
  }
  header .header_wrap .h_m {
    width: 49%;
  }
  header .header_wrap .h_t {
    width: 81%;
    margin: 4.5% auto 0;
  }
  header .header_wrap .h_logo {
    width: 59%;
    margin: 8% auto 0;
  }

  .contents .c_inner {
    padding: 9% 0;
  }
  .contents .c_inner .c_h {
    margin: 3% 0 0;
    font-size: calc(45vw/12);
  }
  .contents .c_inner .c_text {
    margin: 3% 0 0;
    font-size: calc(35vw/12);
    line-height: 1.35;
  }
  .contents .c_inner .c_btn {
    margin: 3% 0 0;
  }
  .contents .c_inner .c_btn a {
    border-radius: 4px;
    padding: 3% 0;
    font-size: calc(46vw/12);
  }
  .contents .c_tb {
    margin: 3% 0 0;
  }
  .contents .c_tb table {
    padding: 4% 0;
  }
  .contents .c_tb table td {
    width: 33%;
  }
  .contents .c_tb table th {
    padding: 0 0 0 3%;
    font-size: calc(35vw/12);
    line-height: 1.4;
  }
  .contents .more .more_wrap {
    padding: 7.9% 0;
  }
  .contents .more .m_btn {
    width: 91%;
  }
  .contents .more .m_btn a {
    padding: 3.7% 0;
    border: 2px solid #33aa22;
    border-radius: 4px;
    font-size: calc(46vw/12);
  }
  .contents .premium {
    padding: 7.5% 5% 5.5%;
    border-top: 1px solid #606060;
  }
  .contents .premium .p_h {
    padding: 0 0 0 3.8%;
    line-height: 1.2;
    border-left: 7px solid #3a2;
    font-size: calc(51vw/12);
    letter-spacing: 1.3px;
  }
  .contents .premium .p_h span {
    margin: 0 0 1.8%;
    font-size: calc(44vw/12);
  }
  .contents .premium table {
    margin: 5% 0 0;
    border-radius: 6px;
  }
  .contents .premium table th {
    padding: 3% 0 3% 3.1%;
    font-size: calc(31vw/12);
  }
  .contents .premium table .nst {
    padding: 2.3% 0;
    font-size: calc(32vw/12);
  }
  .contents .premium table .nst_fi {
    border-radius: 4px 0 0 0;
  }
  .contents .premium table .nst_h {
    border-radius: 0 4px 0 0;
    line-height: 1.4;
  }
  .contents .premium table .head_thr {
    border-radius: 0 0 0 4px;
    padding: 5% 0 5% 3.1%;
  }
  .contents .premium table .head_las {
    border-radius: 0 0 4px 0;
  }
  .contents .premium table td {
    padding: 3.7% 0;
    font-size: calc(31vw/12);
  }
  .contents .premium table td img {
    max-width: 16%;
  }
  .contents .premium table td span {
    display: inline-block;
    font-size: calc(22vw/12);
  }
  .contents .premium .try {
    width: 52%;
    margin: 5% auto 0;
  }
  .contents .premium .try_btn {
    margin: 5% auto 0;
  }
  .contents .premium .try_btn a {
    padding: 3.8% 0;
    border-radius: 4px;
    font-size: calc(44vw/12);
  }
  .contents .gotop .g_btn {
    padding: 9% 0;
  }
  .contents .gotop .g_btn a {
    padding: 3.7% 0;
    border: 2px solid #33aa22;
    border-radius: 4px;
    font-size: calc(46vw/12);
  }

  footer {
    padding: 4.2% 0 6%;
  }
  footer .footer_wrap {
    padding: 0 5% 0;
  }
  footer .copy {
    margin: 2% 0 4%;
  }
  footer .copy li {
    margin: 1% 0 0;
    font-size: calc(25vw/12);
    color: #919191;
  }
  footer .footer_item {
    margin: 2% 0 0;
  }
  footer .footer_item li {
    padding: 0 1.1% 0 0;
  }
  footer .footer_item li a {
    padding: 0 1% 0 0;
    font-size: calc(25vw/12);
    white-space: nowrap;
  }
  footer small {
    display: block;
    margin: 4% 0 0;
    font-size: calc(26vw/12);
  }
}
@media screen and (max-width: 480px) {
  .wrap {
    padding: 0 5% 0;
  }

  header .header_logo {
    width: 20%;
    padding: 1.9% 0 1.9% 2.6%;
  }
  header .header_wrap {
    padding: 9.6% 0 9.8%;
  }
  header .header_wrap .h_m {
    width: 49%;
  }
  header .header_wrap .h_t {
    width: 81%;
    margin: 4.5% auto 0;
  }
  header .header_wrap .h_logo {
    width: 59%;
    margin: 8% auto 0;
  }

  .contents .c_inner {
    padding: 8% 0;
  }
  .contents .c_inner .c_h {
    margin: 3.3% 0 0;
    font-size: calc(47vw/12);
  }
  .contents .c_inner .c_text {
    margin: 3.3% 0 0;
    font-size: calc(37vw/12);
    line-height: 1.4;
  }
  .contents .c_inner .c_btn {
    margin: 3.3% 0 0;
  }
  .contents .c_inner .c_btn a {
    border-radius: 4px;
    padding: 3% 0;
    font-size: calc(48vw/12);
  }
  .contents .c_tb {
    margin: 3% 0 0;
  }
  .contents .c_tb table {
    padding: 4% 0;
  }
  .contents .c_tb table td {
    width: 33%;
  }
  .contents .c_tb table th {
    padding: 0 0 0 3%;
    font-size: calc(37vw/12);
    line-height: 1.4;
  }
  .contents .more .more_wrap {
    padding: 7.9% 0;
  }
  .contents .more .m_btn {
    width: 91%;
  }
  .contents .more .m_btn a {
    padding: 3.7% 0;
    border: 1.5px solid #33aa22;
    border-radius: 4px;
    font-size: calc(48vw/12);
  }
  .contents .premium {
    padding: 7.5% 5% 5.5%;
    border-top: 1px solid #606060;
  }
  .contents .premium .p_h {
    padding: 0 0 0 3.8%;
    line-height: 1.2;
    border-left: 5px solid #3a2;
    font-size: calc(53vw/12);
    letter-spacing: 1.3px;
  }
  .contents .premium .p_h span {
    margin: 0 0 2%;
    font-size: calc(46vw/12);
  }
  .contents .premium table {
    margin: 5% 0 0;
    border-radius: 6px;
    border: none;
  }
  .contents .premium table th {
    padding: 3% 0 3% 3.1%;
    font-size: calc(33vw/12);
    border: 0.5px solid #333;
  }
  .contents .premium table .nst {
    padding: 2.3% 0;
    font-size: calc(34vw/12);
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    border-bottom: none;
    border-right: none;
  }
  .contents .premium table .nst:last-of-type {
    border-right: 1px solid #333;
  }
  .contents .premium table .head {
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    border-bottom: none;
    border-right: none;
  }
  .contents .premium table .nst_fi {
    border-radius: 4px 0 0 0;
  }
  .contents .premium table .nst_h {
    border-radius: 0 4px 0 0;
    line-height: 1.4;
  }
  .contents .premium table .head_thr {
    border-radius: 0 0 0 4px;
    padding: 5% 0 5% 3.1%;
    border-bottom: 1px solid #333;
  }
  .contents .premium table .head_las {
    border-radius: 0 0 4px 0;
  }
  .contents .premium table td {
    padding: 3.7% 0;
    font-size: calc(36vw/12);
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    border-bottom: none;
    border-right: none;
  }
  .contents .premium table td img {
    max-width: 16%;
  }
  .contents .premium table td span {
    display: inline-block;
    font-size: calc(24vw/12);
  }
  .contents .premium table td:last-of-type {
    border-right: 1px solid #333;
  }
  .contents .premium table .lst {
    border-bottom: 1px solid #333;
  }
  .contents .premium .try {
    margin: 5% auto 0;
  }
  .contents .premium .try_btn {
    margin: 5% auto 0;
  }
  .contents .premium .try_btn a {
    padding: 3.8% 0;
    border-radius: 4px;
    font-size: calc(46vw/12);
  }
  .contents .gotop .g_btn {
    padding: 9% 0;
  }
  .contents .gotop .g_btn a {
    padding: 3.7% 0;
    border: 1.5px solid #33aa22;
    border-radius: 4px;
    font-size: calc(48vw/12);
  }
  .contents .gotop .g_btn a:hover {
    background: none;
    color: #33aa22;
  }

  footer {
    padding: 3.2% 0 6%;
  }
  footer .copy {
    margin: 2% 0 4%;
  }
  footer .copy li {
    margin: 1% 0 0;
    font-size: calc(30vw/12);
    white-space: nowrap;
  }
  footer .footer_item {
    margin: 1% 0 0;
  }
  footer .footer_item li {
    padding: 0 1% 0 0;
  }
  footer .footer_item li a {
    padding: 0 1% 0 0;
    font-size: calc(30vw/12);
    white-space: nowrap;
  }
  footer small {
    margin: 4% 0 0;
    font-size: calc(30vw/12);
  }
}
