* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #000;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

.wrap {
  max-width: 681px;
  margin: 0 auto;
}

header .header_logo {
  max-width: 191px;
  padding: 1% 0 1% 1.5%;
  line-height: 0;
}
header .h_a {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/7a4357d9cc1ca92188cfba1b30391059_9ae5978028ff522e51a3c6926ac1b589.png) center center repeat;
  background-size: cover;
  padding: 116px 0 56px;
}
header .h_a .wrap {
  overflow: hidden;
  max-width: 768px;
  margin: 0 auto;
}
header .h_a .wrap .h_m {
  max-width: 560px;
  margin: 0 auto;
}
header .h_a .wrap .h_p {
  float: left;
  max-width: 583px;
  width: 100%;
  margin: 20px 0 0 78px;
  padding: 13px 0;
  border: 3px solid #fff;
  border-radius: 8px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #fff;
}
header .h_a .wrap .h_p span {
  font-size: 29px;
}

.info {
  background: #efefef;
  padding: 50px 0 40px;
}
.info .i_t {
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  color: #000;
}
.info .i_t span {
  display: inline-block;
  margin: 0 2px 0 0;
  font-size: 27px;
}
.info .i_h {
  max-width: 555px;
  margin: 30px auto 0;
  line-height: 0;
}
.info .i_txt {
  max-width: 473px;
  margin: 30px auto 0;
  line-height: 0;
}
.info .i_btn {
  max-width: 681px;
  margin: 65px auto 0;
}
.info .i_btn a {
  display: block;
  background: #a1882f;
  padding: 25px 0;
  border-radius: 8px;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.info .i_btn a span {
  display: inline-block;
  margin: 0 5px 0 2px;
  font-size: 32px;
}

.contents {
  background: #fff;
  padding: 60px 0 60px;
}
.contents .c_h {
  border-left: 6px solid #9e853c;
  padding: 0 0 0 18px;
  line-height: 1.4;
  font-size: 32px;
}
.contents .c_h span {
  letter-spacing: 1.3px;
  font-size: 36px;
}
.contents .c_h_m {
  margin: 20px 0 0;
}
.contents .c_seven {
  padding: 0 0 20px;
  margin: 15px 0 0;
}
.contents .c_seven .c_ib {
  padding: 25px 0;
  margin: 0 0 0;
  border-bottom: 1px solid #606060;
}
.contents .c_seven .c_ib:last-child {
  border: none;
}
.contents .c_seven .c_ib a {
  overflow: hidden;
  display: block;
  color: #000;
}
.contents .c_seven .c_ib dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contents .c_seven .c_ib dd {
  line-height: 0;
}
.contents .c_seven .c_ib dt {
  padding: 0 0 0 2%;
  font-size: 26px;
  line-height: 1.4;
  text-align: left;
}
.contents .c_seven .c_ib .c_a_t {
  margin: 15px 0 0;
  line-height: 1.35;
  font-size: 26px;
  color: #666666;
}
.contents .c_five {
  padding: 0 0 20px;
}
.contents .c_five .c_f_li {
  border-top: 1px solid #606060;
}
.contents .c_five .c_f_li:first-child {
  border-top: none;
}
.contents .c_five .c_f_li a {
  display: block;
  padding: 25px 0;
}
.contents .c_five .c_f_li dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contents .c_five .c_f_li dd {
  line-height: 0;
  width: 50%;
}
.contents .c_five .c_f_li dt {
  width: 47%;
  padding: 0 0 0 3%;
  font-size: 26px;
  line-height: 1.4;
  text-align: left;
  font-weight: bold;
  color: #000;
}
.contents .c_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 0 20px;
  margin: 35px 0 0;
}
.contents .c_item li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #efefef;
  width: 48%;
  margin: 5% 0 0 4%;
  border-radius: 8px;
}
.contents .c_item li:nth-child(2n+1) {
  margin: 5% 0 0 0;
}
.contents .c_item li:nth-child(2) {
  margin: 0 0 0 4%;
}
.contents .c_item li:nth-child(1) {
  margin: 0;
}
.contents .c_item li a {
  display: block;
  border-radius: 8px;
}
.contents .c_item li a figure {
  line-height: 0;
}
.contents .c_item li a figure img {
  border-radius: 8px 8px 0 0;
}
.contents .c_item li a .c_text {
  padding: 20px;
  font-size: 27px;
  line-height: 1.4;
  color: #666;
}

@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes item_list {
  100% {
    opacity: 1;
  }
}
@keyframes item_list {
  100% {
    opacity: 1;
  }
}
.ani_list01 {
  -webkit-animation: item_sp 0.5s ease 2s 1 forwards;
  animation: item_sp 1s ease 1.5s 1 forwards;
}

.ani_list01 {
  opacity: 0;
}
