* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #000;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

.wrap {
  max-width: 768px;
  margin: 0 auto;
}

header .header_logo {
  background: #000;
  padding: 13px 0 14px 22px;
  line-height: 0;
}
header .header_logo span {
  display: block;
  max-width: 151px;
}
header .h_a {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/7a4357d9cc1ca92188cfba1b30391059_9ae5978028ff522e51a3c6926ac1b589.png) center center repeat;
  background-size: cover;
  padding: 59px 0 56px;
}
header .h_a .wrap {
  overflow: hidden;
  max-width: 768px;
  margin: 0 auto;
}
header .h_a .wrap .h_t {
  max-width: 355px;
  margin: 0 auto;
}
header .h_a .wrap .h_m {
  max-width: 426px;
  margin: 27px auto 0;
}
header .h_a .wrap .h_icon {
  max-width: 211px;
  margin: 27px auto 0;
}
header .h_a .wrap .h_p {
  float: left;
  max-width: 583px;
  width: 100%;
  margin: 26px 0 0 78px;
  padding: 13px 0;
  border: 3px solid #fff;
  border-radius: 8px;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 3.5px;
  color: #fff;
}
header .h_a .wrap .h_p span {
  font-size: 29px;
}

.info {
  background: #efefef;
  padding: 50px 0 40px;
}
.info .i_t {
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  color: #000;
}
.info .i_t span {
  display: inline-block;
  margin: 0 2px 0 0;
  font-size: 27px;
}
.info .i_h {
  max-width: 623px;
  margin: 30px auto 0;
  line-height: 0;
}
.info .i_txt {
  max-width: 473px;
  margin: 30px auto 0;
  line-height: 0;
}
.info .i_btn {
  max-width: 681px;
  margin: 66px auto 0;
}
.info .i_btn a {
  display: block;
  background: #a1882f;
  padding: 25px 0;
  border-radius: 8px;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.info .i_btn a span {
  display: inline-block;
  margin: 0 5px 0 2px;
  font-size: 32px;
}

.contents {
  background: #fff;
  padding: 60px 0 0;
}
.contents .c_h {
  border-left: 6px solid #9e853c;
  padding: 0 0 0 18px;
  line-height: 1.4;
  font-size: 32px;
}
.contents .c_h span {
  letter-spacing: 1.3px;
  font-size: 36px;
}
.contents .c_h_m {
  margin: 20px 0 0;
}
.contents .c_t {
  margin: 12px 0 0 25px;
  font-size: 25px;
  line-height: 1.3;
  color: #6b6b6b;
}
.contents .c_seven {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 0 20px;
  margin: 35px 0 0;
}
.contents .c_seven li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #efefef;
  width: 48%;
  margin: 5% 0 0 4%;
  border-radius: 8px;
}
.contents .c_seven li:nth-child(2n+1) {
  margin: 5% 0 0 0;
}
.contents .c_seven li:nth-child(2) {
  margin: 0 0 0 4%;
}
.contents .c_seven li:nth-child(1) {
  margin: 0;
}
.contents .c_seven li a {
  display: block;
  border-radius: 8px;
}
.contents .c_seven li a figure {
  line-height: 0;
}
.contents .c_seven li a figure img {
  border-radius: 8px 8px 0 0;
}
.contents .c_seven li a .c_text {
  padding: 20px;
  font-size: 27px;
  line-height: 1.4;
  color: #666;
}
.contents .c_five {
  padding: 0 0 20px;
}
.contents .c_five .c_f_li {
  border-top: 1px solid #606060;
}
.contents .c_five .c_f_li:first-child {
  border-top: none;
}
.contents .c_five .c_f_li a {
  display: block;
  padding: 25px 0;
}
.contents .c_five .c_f_li dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contents .c_five .c_f_li dd {
  line-height: 0;
  width: 50%;
}
.contents .c_five .c_f_li dt {
  width: 47%;
  padding: 0 0 0 3%;
  font-size: 26px;
  line-height: 1.4;
  text-align: left;
  font-weight: bold;
  color: #000;
}
.contents .c_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 0 20px;
  margin: 35px 0 0;
}
.contents .c_item li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #efefef;
  width: 48%;
  margin: 5% 0 0 4%;
  border-radius: 8px;
}
.contents .c_item li:nth-child(2n+1) {
  margin: 5% 0 0 0;
}
.contents .c_item li:nth-child(2) {
  margin: 0 0 0 4%;
}
.contents .c_item li:nth-child(1) {
  margin: 0;
}
.contents .c_item li a {
  display: block;
  border-radius: 8px;
}
.contents .c_item li a figure {
  line-height: 0;
}
.contents .c_item li a figure img {
  border-radius: 8px 8px 0 0;
}
.contents .c_item li a .c_text {
  padding: 20px;
  font-size: 27px;
  line-height: 1.4;
  color: #666;
}

.contents_sec {
  padding: 0;
}

.genre {
  background: #fff;
  padding: 45px 0 45px;
}
.genre .g_h {
  font-size: 32px;
}
.genre .g_item {
  overflow: hidden;
  margin: 38px 0 0;
}
.genre .g_item li {
  float: left;
  width: 48.5%;
  margin: 0 0 0 3%;
}
.genre .g_item li:nth-child(2n+1) {
  margin: 3% 0 0 0;
}
.genre .g_item li:nth-child(2n+2) {
  margin: 3% 0 0 3%;
}
.genre .g_item li:nth-child(1) {
  margin: 0;
}
.genre .g_item li:nth-child(2) {
  margin: 0 0 0 3%;
}
.genre .g_item li a {
  display: block;
  padding: 25px 0;
  border: 2px solid #a1882f;
  border-radius: 6px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #a1882f;
}
.genre .g_item li a:hover {
  background: #a1882f;
  color: #fff;
}

.more {
  background: #fff;
  padding: 60px 0 60px;
}
.more .m_h {
  border-left: 6px solid #9e853c;
  padding: 0 0 0 20px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  font-size: 35px;
}
.more .m_h .m_sp {
  display: block;
  font-size: 26px;
}
.more .m_h .m_sp .m_i_s {
  color: #9e853c;
}
.more .m_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 58px 0 0;
}
.more .m_item li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #efefef;
  width: 48.5%;
  padding: 61px 26px 29px;
  margin: 0 0 0 3%;
  border-radius: 12px;
}
.more .m_item li:first-child {
  margin: 0;
}
.more .m_item li .m_inner {
  overflow: hidden;
  margin: 0 0 0 39px;
}
.more .m_item li .m_inner li {
  float: left;
  width: 48.5%;
  padding: 0;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}
.more .m_item li .m_inner .fs {
  max-width: 110px;
}
.more .m_item li .m_inner .se {
  margin: 10px 0 0 39px;
  max-width: 98px;
}
.more .m_item li .m_right {
  max-width: 79px;
  margin: 3px auto 0;
}
.more .m_item li .m_text {
  padding: 0 15px;
  margin: 47px 0 0;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.45;
  color: #666;
}

aside {
  background: #efefef;
  padding: 17px 0 66px;
}
aside .wrap {
  max-width: 768px;
  margin: 0 auto;
}
aside .f_d dt {
  margin: 40px 0 0;
  font-size: 28px;
  letter-spacing: 1.4px;
  font-weight: 600;
  color: #666;
}
aside .f_d dd {
  margin: 25px 0 0;
  font-size: 24px;
  line-height: 1.45;
  letter-spacing: 1.4px;
  color: #666;
}
aside .f_d dd .caution {
  display: block;
  margin: 12px 0 0;
  font-size: 20px;
}
aside .f_d dd .f_item {
  margin: 15px 0 0 35px;
}
aside .f_d dd .f_item li {
  margin: 6px 0 0;
  line-height: 1.4;
  font-size: 20px;
}
aside .f_d dd a {
  color: #a1882f;
  text-decoration: underline;
}
aside .f_d dd a:hover {
  text-decoration: none;
}
aside .f_d .dd_last {
  line-height: 1.2;
}
aside .f_c {
  margin: 15px 0 0;
  line-height: 1.3;
  font-size: 20px;
}

footer {
  background: #efefef;
  padding: 35px 0 40px;
  border-top: 1px solid #606060;
}
footer .copy {
  margin: 0 0 40px;
}
footer .copy li {
  margin: 5px 0 0 0;
  line-height: 1.3;
  font-size: 16px;
  color: #666666;
}
footer .footer_item {
  overflow: hidden;
  margin: 10px 0 0;
}
footer .footer_item li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .footer_item li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #666666;
}
footer .footer_item li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #666666;
}
footer .footer_item li:last-child:after {
  content: '';
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1.3px;
  color: #666666;
}

.line {
  background: #efefef;
  height: 35px;
}

.f_line {
  background: #fff;
  height: 63px;
}

@media screen and (max-width: 768px) {
  .wrap {
    padding: 0 5%;
  }

  .line {
    height: 28px;
  }

  .f_line {
    background: #fff;
    height: 45px;
  }

  header .header_logo {
    padding: 1.6% 0 1.6% 2.5%;
  }
  header .header_logo span {
    width: 21%;
  }
  header .h_a {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/15b015a277365ef0f6bcda850ccbca61_41f9d33131155db464e5c9af403df164.png) center center repeat;
    background-size: cover;
    padding: 7% 0 7%;
  }
  header .h_a .wrap {
    overflow: hidden;
    max-width: 768px;
    margin: 0 auto;
  }
  header .h_a .wrap .h_t {
    width: 55%;
    margin: 0 auto;
  }
  header .h_a .wrap .h_m {
    width: 87%;
    margin: 5.5% auto 0;
    padding: 0 0 0 2.2%;
  }
  header .h_a .wrap .h_p {
    float: none;
    width: 88%;
    margin: 5.5% auto 0;
    padding: 2% 0;
    border: 2px solid #fff;
    border-radius: 7px;
    font-size: calc(42vw/12);
    letter-spacing: 2.5px;
  }
  header .h_a .wrap .h_p span {
    font-size: calc(44vw/12);
  }

  .info {
    padding: 7.5% 0 5%;
  }
  .info .i_t {
    font-size: calc(36vw/12);
  }
  .info .i_t span {
    margin: 0 0.5% 0 0;
    font-size: calc(39vw/12);
  }
  .info .i_h {
    width: 84%;
    margin: 4% auto 0;
  }
  .info .i_txt {
    width: 64%;
    margin: 4% auto 0;
  }
  .info .i_btn {
    margin: 9% auto 0;
  }
  .info .i_btn a {
    padding: 3.6% 0;
    border-radius: 7px;
    font-size: calc(43vw/12);
  }
  .info .i_btn a span {
    margin: 0 0.8% 0 0.2%;
    font-size: calc(45vw/12);
  }

  .contents {
    padding: 8% 0 0;
  }
  .contents .c_h {
    border-left: 4.5px solid #9e853c;
    padding: 0 0 0 2.6%;
    line-height: 1.4;
    font-size: calc(50vw/12);
  }
  .contents .c_h span {
    letter-spacing: 1.3px;
    font-size: calc(52vw/12);
  }
  .contents .c_h_m {
    margin: 3% 0 0;
  }
  .contents .c_t {
    margin: 2% 0 0 3.3%;
    font-size: calc(39vw/12);
    line-height: 1.3;
  }
  .contents .c_seven {
    padding: 0 0 3%;
    margin: 5% 0 0;
  }
  .contents .c_seven li {
    border-radius: 7px;
  }
  .contents .c_seven li a {
    border-radius: 7px;
  }
  .contents .c_seven li a figure img {
    border-radius: 7px 7px 0 0;
  }
  .contents .c_seven li a .c_text {
    padding: 6.5%;
    font-size: calc(42vw/12);
    line-height: 1.4;
    font-weight: bold;
  }
  .contents .c_five {
    padding: 0 0 3%;
  }
  .contents .c_five .c_f_li a {
    padding: 3.7% 0;
  }
  .contents .c_five .c_f_li dd {
    width: 48%;
  }
  .contents .c_five .c_f_li dt {
    width: 48%;
    padding: 0 0 0 4%;
    font-size: calc(41vw/12);
    line-height: 1.35;
  }

  .contents_sec {
    padding: 0;
  }

  .genre {
    padding: 4% 0 5%;
  }
  .genre .g_h {
    font-size: calc(50vw/12);
  }
  .genre .g_item {
    margin: 6% 0 0;
  }
  .genre .g_item li {
    float: left;
    width: 48%;
    margin: 0 0 0 4%;
  }
  .genre .g_item li:nth-child(2n+1) {
    margin: 4% 0 0 0;
  }
  .genre .g_item li:nth-child(2n+2) {
    margin: 4% 0 0 4%;
  }
  .genre .g_item li:nth-child(1) {
    margin: 0;
  }
  .genre .g_item li:nth-child(2) {
    margin: 0 0 0 4%;
  }
  .genre .g_item li a {
    padding: 8% 0;
    border: 2px solid #a1882f;
    border-radius: 5px;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
  }
  .genre .g_item li a:hover {
    background: none;
    color: #a1882f;
  }

  .more {
    padding: 7.5% 0 7.5%;
  }
  .more .m_h {
    border-left: 4.5px solid #9e853c;
    padding: 0 0 0 2.7%;
    line-height: 1.35;
    letter-spacing: 1.1px;
    font-size: calc(54vw/12);
  }
  .more .m_h .m_sp {
    font-size: calc(41vw/12);
  }
  .more .m_item {
    margin: 8% 0 0;
  }
  .more .m_item li {
    padding: 9% 4% 4.1%;
    margin: 0 0 0 3%;
    border-radius: 10px;
  }
  .more .m_item li:first-child {
    margin: 0;
  }
  .more .m_item li .m_inner {
    overflow: hidden;
    margin: 0 0 0 5%;
  }
  .more .m_item li .m_inner li {
    width: 48.5%;
    padding: 0;
    -webkit-box-sizing: unset;
            box-sizing: unset;
  }
  .more .m_item li .m_inner .fs {
    width: 43%;
  }
  .more .m_item li .m_inner .se {
    margin: 4% 0 0 13%;
    width: 38%;
  }
  .more .m_item li .m_right {
    width: 30.5%;
    margin: 1% auto 0;
  }
  .more .m_item li .m_text {
    padding: 0;
    margin: 6% 0 0;
    font-size: calc(32vw/12);
    line-height: 1.4;
  }

  aside {
    padding: 2% 0 9%;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(44vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(37vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(31vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 0 5.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }
  aside .f_d dd a:hover {
    text-decoration: underline;
  }
  aside .f_d .dd_last {
    line-height: 1.2;
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(32vw/12);
  }

  footer {
    padding: 5% 0 5%;
  }
  footer .wrap {
    padding: 0 5% 0;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 1% 0 0 0;
    line-height: 1.3;
    font-size: calc(25vw/12);
  }
  footer .footer_item {
    margin: 1.8% 0 0;
  }
  footer .footer_item li {
    margin: 0 10px 0 0;
  }
  footer .footer_item li a {
    padding: 0 12px 0 0;
    font-size: 13px;
    white-space: nowrap;
  }
  footer .footer_item li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .footer_item li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 480px) {
  .line {
    height: 17px;
  }

  .f_line {
    background: #fff;
    height: 31px;
  }

  header .h_a {
    padding: 7% 0 7%;
  }
  header .h_a .wrap {
    max-width: 768px;
    margin: 0 auto;
  }
  header .h_a .wrap .h_t {
    width: 54%;
    margin: 0 auto;
  }
  header .h_a .wrap .h_m {
    width: 82%;
    margin: 5.3% auto 0;
    padding: 0 0 0 1%;
  }
  header .h_a .wrap .h_p {
    width: 84%;
    margin: 4.5% auto 0;
    padding: 2% 0;
    border: 1.4px solid #fff;
    border-radius: 6px;
    font-size: calc(44vw/12);
    letter-spacing: 1.35px;
  }
  header .h_a .wrap .h_p span {
    font-size: calc(47vw/12);
  }

  .info {
    padding: 7.5% 0 5%;
  }
  .info .i_t {
    font-size: calc(38vw/12);
    letter-spacing: 1.2px;
  }
  .info .i_t span {
    margin: 0 0.5% 0 0;
    font-size: calc(41vw/12);
  }
  .info .i_h {
    width: 92%;
    margin: 4.5% auto 0;
  }
  .info .i_txt {
    width: 71%;
    margin: 4.5% auto 0;
  }
  .info .i_btn {
    margin: 9% auto 0;
  }
  .info .i_btn a {
    padding: 3.6% 0;
    border-radius: 3px;
    font-size: calc(45vw/12);
  }
  .info .i_btn a span {
    margin: 0 0.8% 0 0.2%;
    font-size: calc(47vw/12);
  }

  .contents {
    padding: 8% 0 0;
  }
  .contents .c_h {
    border-left: 3px solid #9e853c;
    padding: 0 0 0 2.6%;
    line-height: 1.4;
    font-size: calc(50vw/12);
  }
  .contents .c_h span {
    letter-spacing: 1.3px;
    font-size: calc(52vw/12);
  }
  .contents .c_h_m {
    margin: 3% 0 0;
  }
  .contents .c_t {
    margin: 2% 0 0 3.3%;
    font-size: calc(41vw/12);
    line-height: 1.3;
  }
  .contents .c_seven {
    padding: 0 0 3%;
    margin: 5% 0 0;
  }
  .contents .c_seven li {
    border-radius: 4px;
  }
  .contents .c_seven li a {
    border-radius: 4px;
  }
  .contents .c_seven li a figure img {
    border-radius: 4px 4px 0 0;
  }
  .contents .c_seven li a .c_text {
    padding: 5.5%;
    font-size: calc(44vw/12);
    line-height: 1.3;
  }
  .contents .c_five {
    padding: 0 0 3%;
  }
  .contents .c_five .c_f_li a {
    padding: 3.7% 0;
  }
  .contents .c_five .c_f_li dd {
    width: 48%;
  }
  .contents .c_five .c_f_li dt {
    width: 48%;
    padding: 0 0 0 4%;
    font-size: calc(43vw/12);
    line-height: 1.35;
  }

  .contents_sec {
    padding: 0;
  }

  .genre {
    padding: 3% 0 5%;
  }
  .genre .g_h {
    font-size: calc(52vw/12);
  }
  .genre .g_item {
    margin: 6% 0 0;
  }
  .genre .g_item li {
    float: left;
    width: 48%;
    margin: 0 0 0 4%;
  }
  .genre .g_item li:nth-child(2n+1) {
    margin: 4% 0 0 0;
  }
  .genre .g_item li:nth-child(2n+2) {
    margin: 4% 0 0 4%;
  }
  .genre .g_item li:nth-child(1) {
    margin: 0;
  }
  .genre .g_item li:nth-child(2) {
    margin: 0 0 0 4%;
  }
  .genre .g_item li a {
    padding: 8% 0;
    border: 1px solid #a1882f;
    border-radius: 4px;
    font-size: calc(46vw/12);
    letter-spacing: 1.2px;
  }
  .genre .g_item li a:hover {
    background: none;
    color: #a1882f;
  }

  .more {
    padding: 7.5% 0 7.5%;
  }
  .more .m_h {
    border-left: 3px solid #9e853c;
    padding: 0 0 0 2.7%;
    line-height: 1.3;
    letter-spacing: 1px;
    font-size: calc(58vw/12);
  }
  .more .m_h .m_sp {
    font-size: calc(45vw/12);
  }
  .more .m_item {
    margin: 8% 0 0;
  }
  .more .m_item li {
    padding: 9% 4% 4.1%;
    margin: 0 0 0 3%;
    border-radius: 6px;
  }
  .more .m_item li:first-child {
    margin: 0;
  }
  .more .m_item li .m_inner {
    overflow: hidden;
    margin: 0 0 0 5%;
  }
  .more .m_item li .m_inner li {
    width: 48.5%;
    padding: 0;
    -webkit-box-sizing: unset;
            box-sizing: unset;
  }
  .more .m_item li .m_inner .fs {
    width: 43%;
  }
  .more .m_item li .m_inner .se {
    margin: 5% 0 0 13%;
    width: 38%;
  }
  .more .m_item li .m_right {
    width: 28.5%;
    margin: 2% auto 0;
  }
  .more .m_item li .m_text {
    padding: 0;
    margin: 13% 0 0;
    font-size: calc(34vw/12);
    line-height: 1.5;
  }

  aside {
    padding: 2% 0 9%;
  }
  aside .f_d dt {
    margin: 6.5% 0 0;
    font-size: calc(46vw/12);
    letter-spacing: 1.3px;
  }
  aside .f_d dd {
    margin: 3.7% 0 0;
    font-size: calc(39vw/12);
    line-height: 1.45;
    letter-spacing: 1.3px;
  }
  aside .f_d dd .caution {
    margin: 2% 0 0;
    font-size: calc(33vw/12);
  }
  aside .f_d dd .f_item {
    margin: 2.3% 0 0 5.2%;
  }
  aside .f_d dd .f_item li {
    margin: 1% 0 0;
    line-height: 1.4;
    font-size: calc(34vw/12);
  }
  aside .f_d dd a:hover {
    text-decoration: underline;
  }
  aside .f_d .dd_last {
    line-height: 1.3;
  }
  aside .f_c {
    margin: 2.5% 0 0;
    line-height: 1.4;
    font-size: calc(34vw/12);
  }

  footer {
    padding: 4.5% 0 4.5%;
  }
  footer .wrap {
    padding: 0 5% 0;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 1% 0 0 0;
    line-height: 1.3;
    font-size: calc(27vw/12);
  }
  footer .footer_item {
    margin: 1.8% 0 0;
  }
  footer .footer_item li {
    margin: 0 8px 0 0;
  }
  footer .footer_item li a {
    padding: 0 10px 0 0;
    font-size: 10px;
    white-space: nowrap;
  }
  footer .footer_item li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .footer_item li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(28vw/12);
    letter-spacing: 0.5px;
  }
}
@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes item_list {
  100% {
    opacity: 1;
  }
}
@keyframes item_list {
  100% {
    opacity: 1;
  }
}
.ani_list01 {
  -webkit-animation: item_sp 0.5s ease 2s 1 forwards;
  animation: item_sp 1s ease 1.5s 1 forwards;
}

.ani_list01 {
  opacity: 0;
}
