/*
Error: Invalid CSS after "		background-size": expected ";", was ": cover;"
        on line 30 of C:/Users/S01292/Desktop/document/premium/scss/menber1902.scss

25: 		max-width: 153px;
26: 		padding: 13px 0 11px 17px;
27: 	}
28: 	.header_area {
29: 		background: url(https://bit.ly/2BxBcYU) center center no-repeat
30: 		background-size: cover;
31: 	}
32: 	.header_wrap {
33: 		padding: 77px 0 35px;
34: 
35: 		.header_obi {

Backtrace:
C:/Users/S01292/Desktop/document/premium/scss/menber1902.scss:30
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:1207:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:1137:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:1132:in `tok!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:786:in `block in try_declaration'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:1183:in `call'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:1183:in `rethrow'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:791:in `try_declaration'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:720:in `declaration_or_ruleset'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:685:in `block_child'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:674:in `block_contents'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:666:in `block'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:685:in `block_child'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:677:in `block_contents'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:666:in `block'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:658:in `ruleset'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:684:in `block_child'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:677:in `block_contents'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:125:in `stylesheet'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/scss/parser.rb:41:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/engine.rb:409:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/bin/compass:44:in `call'
C:/Program Files (x86)/Koala/rubygems/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/compass:22:in `load'
C:/Program Files (x86)/Koala/bin/compass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"		background-size\": expected \";\", was \": cover;\"\A         on line 30 of C:/Users/S01292/Desktop/document/premium/scss/menber1902.scss\A \A 25: 		max-width: 153px;\A 26: 		padding: 13px 0 11px 17px;\A 27: 	}\A 28: 	.header_area {\A 29: 		background: url(https://bit.ly/2BxBcYU) center center no-repeat\A 30: 		background-size: cover;\A 31: 	}\A 32: 	.header_wrap {\A 33: 		padding: 77px 0 35px;\A 34: \A 35: 		.header_obi {"; }
