* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  min-width: 320px;
  font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important;
  color: #fff;
  margin: 0 auto;
  background: #000;
}
body li {
  list-style: none;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: .8;
}

img {
  width: 100%;
}

.wrap {
  max-width: 750px;
  margin: 0 auto;
}

.dn {
  display: none;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .header_logo {
  background: #000;
  padding: 13px 0 14px 22px;
  line-height: 0;
}
header .header_logo span {
  display: block;
  max-width: 151px;
}
header .h_a {
  background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/509703/fbbd16fa787c4b414e84e7f07dad4c8d_834e1f62079c64af2d8a2e8c71b8c98a.png) center center repeat;
  background-size: cover;
  height: 445px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_a .wrap {
  position: relative;
  background: #000;
  height: 445px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .h_a .wrap .h_t {
  line-height: 0;
}
header .h_a .wrap .h_m {
  max-width: 595px;
  margin: 36px auto 0;
}
header .h_a .wrap .h_b {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 0;
}

.info {
  background: #1a1a1a;
  padding: 50px 0 58px;
}
.info .i_t {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  line-height: 1.6;
  color: #ababab;
}

.contents .ct_caution {
  display: block;
  font-size: 14px;
  font-style: normal;
  margin: 15px 0 0;
  color: #717171;
}
.contents .c_h {
  border-left: 6px solid #e5c200;
  padding: 0 0 0 18px;
  line-height: 1.4;
  font-size: 32px;
}
.contents .c_h span {
  letter-spacing: 1.3px;
  font-size: 36px;
}
.contents .c_h_m {
  margin: 20px 0 0;
}
.contents .c_l {
  padding: 60px 0 55px;
  border-bottom: 1px solid #606060;
}
.contents .c_l figure {
  margin: 50px 0 0;
  line-height: 0;
}
.contents .c_l .bagge {
  display: inline-block;
  background: #ec2840;
  margin: 40px 0 0;
  padding: 7px 11px;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
}
.contents .c_l .c_hm {
  margin: 18px 0 0;
  font-size: 32px;
}
.contents .c_l .c_t {
  margin: 12px 0 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.55;
  color: #ababab;
}
.contents .c_l .c_t span {
  display: block;
  margin: 0 0 13px;
  font-size: 24px;
}
.contents .c_l .c_btn {
  margin: 40px 0 0;
}
.contents .c_l .c_btn a {
  display: block;
  background: #e5c200;
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  border-radius: 6px;
  color: #000;
}
.contents .c_m {
  padding: 61px 0 60px;
  border-bottom: 1px solid #606060;
}
.contents .c_m dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contents .c_m dl dd {
  width: 54%;
}
.contents .c_m dl dt {
  width: 41%;
  padding: 0 0 0 5%;
}
.contents .c_m dl dt .mbagge {
  display: inline-block;
  background: #ec2840;
  margin: 0 0 15px 0;
  padding: 5px 16px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.contents .c_m dl dt .mbagge span {
  display: inline-block;
  margin: 0 3px 0 0;
  font-size: 20px;
}
.contents .c_m dl dt .m_t {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 1.35;
}
.contents .c_m .cm_p {
  margin: 20px 0 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  color: #ababab;
}
.contents .c_m .c_btn {
  margin: 36px 0 0;
}
.contents .c_m .c_btn a {
  display: block;
  background: #e5c200;
  padding: 18px 0;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  border-radius: 6px;
  color: #000;
}
.contents .c_s .c_item li {
  padding: 26px 0;
  border-bottom: 1px solid #606060;
}
.contents .c_s .c_item li a {
  display: block;
}
.contents .c_s .c_item li dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contents .c_s .c_item li dl dd {
  line-height: 0;
  width: 43%;
}
.contents .c_s .c_item li dl dt {
  width: 52.5%;
  padding: 0 0 0 4.5%;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1.4px;
  line-height: 1.3;
  color: #fff;
}

.premium {
  margin: 64px 0 50px;
}
.premium a {
  position: relative;
  display: block;
  background: #1a1a1a;
  padding: 22px 31px;
  border-radius: 6px;
  line-height: 1.4;
  font-size: 23px;
  color: #fff;
}
.premium a:before {
  content: '';
  position: absolute;
  top: 38%;
  right: 3.2%;
  background: url(https://bit.ly/2KivOPD) center center no-repeat;
  background-size: 20px 34px;
  width: 20px;
  height: 34px;
}
.premium a .p_s {
  display: block;
  font-size: 19px;
  color: #e5c200;
}
.premium a .p_num {
  display: inline-block;
  margin: 0 4px 0 0;
  font-size: 28px;
  letter-spacing: -3px;
  text-indent: -5px;
}

.contents_sec {
  padding: 0;
}

.more {
  padding: 50px 0 0;
}
.more .wrap {
  background: url(https://bit.ly/2JMg4Vq) center center no-repeat;
  background-size: cover;
  max-width: 750px;
  padding: 40px 80px 42px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.more .m_h {
  line-height: 0;
  max-width: 336px;
}
.more .m_t {
  margin: 22px 0 0;
  font-size: 28px;
}
.more .m_btn {
  margin: 37px 0 0;
}
.more .m_btn a {
  display: block;
  background: none;
  padding: 25px 0;
  border: 2px solid #e5c200;
  border-radius: 6px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #e5c200;
}
.more .m_btn a:hover {
  background: #e5c200;
  opacity: 1;
  color: #fff;
}

footer {
  padding: 54px 0 40px;
}
footer .copy {
  margin: 0 0 40px;
}
footer .copy li {
  margin: 5px 0 0 0;
  line-height: 1.3;
  font-size: 16px;
  color: #666666;
}
footer .footer_item {
  overflow: hidden;
  margin: 10px 0 0;
}
footer .footer_item li {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
footer .footer_item li a {
  display: block;
  padding: 0 12px 0 0;
  font-size: 15px;
  color: #666666;
}
footer .footer_item li:after {
  content: ' | ';
  position: absolute;
  top: 0;
  right: 0;
  color: #666666;
}
footer .footer_item li:last-child:after {
  content: '';
}
footer small {
  display: block;
  margin: 30px 0 0;
  font-size: 16px;
  letter-spacing: 1.3px;
  color: #666666;
}

.line {
  background: #efefef;
  height: 35px;
}

.f_line {
  background: #fff;
  height: 63px;
}

@media screen and (max-width: 768px) {
  .wrap {
    padding: 0 5%;
  }

  .line {
    height: 28px;
  }

  .f_line {
    background: #fff;
    height: 45px;
  }

  .dn {
    display: none;
  }

  header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .header_logo {
    padding: 1.3% 0 1.4% 2.3%;
  }
  header .header_logo span {
    width: 21%;
  }
  header .h_a {
    height: auto;
  }
  header .h_a .wrap {
    height: auto;
    padding: 0;
  }
  header .h_a .wrap .h_m {
    width: 80%;
    margin: 4.7% auto 0;
  }
  header .h_a .wrap .h_b {
    position: static;
    margin: 4.2% auto 0;
  }

  .info {
    padding: 7% 0 7.3%;
  }
  .info .i_t {
    font-size: calc(41vw/12);
    line-height: 1.55;
  }

  .contents .ct_caution {
    font-size: calc(22vw/12);
    margin: 3% 0 0;
  }
  .contents .c_h {
    border-left: 4.5px solid #e5c200;
    padding: 0 0 0 2.5%;
    line-height: 1.4;
    font-size: calc(50vw/12);
  }
  .contents .c_h span {
    letter-spacing: 1.3px;
    font-size: calc(55vw/12);
  }
  .contents .c_h_m {
    margin: 3% 0 0;
  }
  .contents .c_l {
    padding: 8.5% 0 7.5%;
  }
  .contents .c_l figure {
    margin: 7% 0 0;
  }
  .contents .c_l .bagge {
    margin: 5.5% 0 0;
    padding: 1% 1.8%;
    border-radius: 4px;
    font-size: calc(25vw/12);
  }
  .contents .c_l .c_hm {
    margin: 2.7% 0 0;
    font-size: calc(50vw/12);
  }
  .contents .c_l .c_t {
    margin: 2% 0 0;
    font-size: calc(34vw/12);
    line-height: 1.55;
  }
  .contents .c_l .c_t span {
    margin: 0 0 2.2%;
    font-size: calc(38vw/12);
  }
  .contents .c_l .c_btn {
    margin: 6% 0 0;
  }
  .contents .c_l .c_btn a {
    padding: 3% 0;
    font-size: calc(48vw/12);
    border-radius: 5px;
  }
  .contents .c_m {
    padding: 8.5% 0 7.5%;
  }
  .contents .c_m dl dd {
    width: 54%;
  }
  .contents .c_m dl dt {
    width: 41%;
    padding: 0 0 0 5%;
  }
  .contents .c_m dl dt .mbagge {
    white-space: nowrap;
    padding: 1.8% 5.8%;
    margin: 0 0 5.5%;
    border-radius: 2px;
    font-size: calc(25vw/12);
  }
  .contents .c_m dl dt .mbagge span {
    margin: 0 2% 0 0;
    font-size: calc(29vw/12);
  }
  .contents .c_m dl dt .m_t {
    font-size: calc(36vw/12);
    letter-spacing: 1.2px;
  }
  .contents .c_m .cm_p {
    margin: 3% 0 0;
    font-size: calc(34vw/12);
    line-height: 1.5;
  }
  .contents .c_m .c_btn {
    margin: 5% 0 0;
  }
  .contents .c_m .c_btn a {
    padding: 2.7% 0;
    font-size: calc(48vw/12);
    border-radius: 5px;
  }
  .contents .c_s .c_item li {
    padding: 3.8% 0;
  }
  .contents .c_s .c_item li dl dd {
    width: 43%;
  }
  .contents .c_s .c_item li dl dt {
    width: 52.5%;
    padding: 0 0 0 4.5%;
    font-size: calc(37vw/12);
    letter-spacing: 1.4px;
    line-height: 1.3;
  }

  .premium {
    margin: 9% 0 2.5%;
  }
  .premium a {
    padding: 3% 4.5%;
    border-radius: 5px;
    line-height: 1.4;
    font-size: calc(38vw/12);
  }
  .premium a:before {
    top: 39%;
    right: 3.2%;
    background: url(https://bit.ly/2KivOPD) center center no-repeat;
    background-size: 16px 27px;
    width: 16px;
    height: 27px;
  }
  .premium a .p_s {
    font-size: calc(30vw/12);
  }
  .premium a .p_num {
    margin: 0 1% 0 0;
    font-size: calc(42vw/12);
    letter-spacing: -3px;
    text-indent: -6px;
  }

  .contents_sec {
    padding: 0;
  }

  .more {
    padding: 6% 0 0;
  }
  .more .wrap {
    padding: 5.1% 10.5% 5.2%;
  }
  .more .m_h {
    width: 58%;
  }
  .more .m_t {
    margin: 4% 0 0;
    font-size: calc(44vw/12);
  }
  .more .m_btn {
    margin: 6% 0 0;
  }
  .more .m_btn a {
    background: none;
    padding: 3.9% 0;
    border: 1.5px solid #e5c200;
    border-radius: 5px;
    font-size: calc(39vw/12);
    letter-spacing: 1.4px;
  }
  .more .m_btn a:hover {
    background: none;
    color: #e5c200;
    opacity: .8;
  }

  footer {
    padding: 7% 0 7%;
  }
  footer .wrap {
    padding: 0 5% 0;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.8% 0 0 0;
    line-height: 1.3;
    font-size: calc(26vw/12);
  }
  footer .footer_item {
    margin: 1.8% 0 0;
  }
  footer .footer_item li {
    margin: 0 10px 0 0;
  }
  footer .footer_item li a {
    padding: 0 12px 0 0;
    font-size: 13px;
    white-space: nowrap;
  }
  footer .footer_item li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .footer_item li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(26vw/12);
    letter-spacing: 1.3px;
  }
}
@media screen and (max-width: 480px) {
  .line {
    height: 17px;
  }

  .f_line {
    background: #fff;
    height: 31px;
  }

  .pop_w {
    display: block;
  }

  .pop {
    display: inline-block;
    padding: 1% 5%;
    margin: 0 0 2%;
    border-radius: 4px;
    letter-spacing: 1.3px;
    font-size: calc(25vw/12);
    white-space: nowrap;
    text-align: center;
  }

  .dn {
    display: none;
  }

  header .header_logo {
    padding: 1.3% 0 1.4% 2.3%;
  }
  header .header_logo span {
    width: 21%;
  }
  header .h_a .wrap {
    padding: 0;
  }
  header .h_a .wrap .h_m {
    width: 81%;
    margin: 4.7% auto 0;
  }
  header .h_a .wrap .h_b {
    position: static;
    margin: 4.2% auto 0;
  }

  .info {
    padding: 7% 0 7.3%;
  }
  .info .i_t {
    font-size: calc(43vw/12);
    line-height: 1.6;
  }

  .contents .ct_caution {
    font-size: calc(24vw/12);
    margin: 3% 0 0;
  }
  .contents .c_h {
    border-left: 4.5px solid #e5c200;
    padding: 0 0 0 2.5%;
    line-height: 1.4;
    font-size: calc(52vw/12);
  }
  .contents .c_h span {
    letter-spacing: 1.3px;
    font-size: calc(57vw/12);
  }
  .contents .c_h_m {
    margin: 3% 0 0;
  }
  .contents .c_l {
    padding: 8.5% 0 7.5%;
  }
  .contents .c_l figure {
    margin: 7% 0 0;
  }
  .contents .c_l .bagge {
    margin: 5.5% 0 0;
    padding: 1% 1.8%;
    border-radius: 3px;
    font-size: calc(27vw/12);
  }
  .contents .c_l .c_hm {
    margin: 2.7% 0 0;
    font-size: calc(52vw/12);
  }
  .contents .c_l .c_t {
    margin: 2% 0 0;
    font-size: calc(36vw/12);
    line-height: 1.55;
  }
  .contents .c_l .c_t span {
    margin: 0 0 2.2%;
    font-size: calc(40vw/12);
  }
  .contents .c_l .c_btn {
    margin: 6% 0 0;
  }
  .contents .c_l .c_btn a {
    padding: 3% 0;
    font-size: calc(50vw/12);
    border-radius: 3px;
  }
  .contents .c_m {
    padding: 8.5% 0 7.5%;
  }
  .contents .c_m dl dd {
    width: 54%;
  }
  .contents .c_m dl dt {
    width: 41%;
    padding: 0 0 0 5%;
  }
  .contents .c_m dl dt .mbagge {
    white-space: nowrap;
    padding: 1.8% 5.8%;
    margin: 0 0 5.5%;
    border-radius: 2px;
    font-size: calc(27vw/12);
  }
  .contents .c_m dl dt .mbagge span {
    margin: 0 2% 0 0;
    font-size: calc(31vw/12);
  }
  .contents .c_m dl dt .m_t {
    font-size: calc(38vw/12);
    letter-spacing: 1.2px;
  }
  .contents .c_m .cm_p {
    margin: 3% 0 0;
    font-size: calc(36vw/12);
    line-height: 1.5;
  }
  .contents .c_m .c_btn {
    margin: 5% 0 0;
  }
  .contents .c_m .c_btn a {
    padding: 2.7% 0;
    font-size: calc(50vw/12);
    border-radius: 3px;
  }
  .contents .c_s .c_item li {
    padding: 3.8% 0;
  }
  .contents .c_s .c_item li dl dd {
    width: 43%;
  }
  .contents .c_s .c_item li dl dt {
    width: 52.5%;
    padding: 0 0 0 4.5%;
    font-size: calc(39vw/12);
    letter-spacing: 1.4px;
    line-height: 1.3;
  }

  .contents_sec {
    padding: 0;
  }

  .premium {
    margin: 9% 0 2.5%;
  }
  .premium a {
    padding: 3% 4.5%;
    border-radius: 4px;
    line-height: 1.4;
    font-size: calc(40vw/12);
  }
  .premium a:before {
    top: 38%;
    right: 3.2%;
    background-size: 10px 17px;
    width: 10px;
    height: 17px;
  }
  .premium a .p_s {
    font-size: calc(32vw/12);
  }
  .premium a .p_num {
    margin: 0 1% 0 0;
    font-size: calc(44vw/12);
    letter-spacing: -3px;
    text-indent: -6px;
  }

  .more {
    padding: 6% 0 0;
  }
  .more .wrap {
    padding: 5.1% 10.5% 5.2%;
  }
  .more .m_h {
    width: 58%;
  }
  .more .m_t {
    margin: 4% 0 0;
    font-size: calc(46vw/12);
  }
  .more .m_btn {
    margin: 6% 0 0;
  }
  .more .m_btn a {
    background: none;
    padding: 3.9% 0;
    border: 1px solid #e5c200;
    border-radius: 5px;
    font-size: calc(41vw/12);
    letter-spacing: 1.4px;
  }
  .more .m_btn a:hover {
    background: none;
    color: #e5c200;
    opacity: .8;
  }

  footer {
    padding: 7% 0 7%;
  }
  footer .wrap {
    padding: 0 5% 0;
  }
  footer .copy {
    margin: 0 0 6%;
  }
  footer .copy li {
    margin: 0.8% 0 0 0;
    line-height: 1.3;
    font-size: calc(28vw/12);
  }
  footer .footer_item {
    margin: 1.8% 0 0;
  }
  footer .footer_item li {
    margin: 0 10px 0 0;
  }
  footer .footer_item li a {
    padding: 0 12px 0 0;
    font-size: 10px;
    white-space: nowrap;
  }
  footer .footer_item li:after {
    content: ' | ';
    position: absolute;
    top: 0;
    right: 0;
  }
  footer .footer_item li:last-child:after {
    content: '';
  }
  footer small {
    margin: 5% 0 0;
    font-size: calc(28vw/12);
    letter-spacing: 1.3px;
  }
}
@-webkit-keyframes item_sp {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes item_list {
  100% {
    opacity: 1;
  }
}
@keyframes item_list {
  100% {
    opacity: 1;
  }
}
.ani_list01 {
  -webkit-animation: item_sp 0.5s ease 2s 1 forwards;
  animation: item_sp 1s ease 1.5s 1 forwards;
}

.ani_list01 {
  opacity: 0;
}
