* { margin: 0; padding: 0; }

body { min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000; line-height: 1; }
body li { list-style: none; }

a { color: #FFF !important; text-decoration: none; }
a:hover { color: #FFF !important; text-decoration: none; opacity: .8; }

img { width: 100%; height: auto; }

header { width: 750px; margin: 0 auto; margin-bottom: 50px; }
header p { padding: 14px 0 14px 14px; }
header p img { max-width: 128px; }
header .main-visual { background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/501761/150e4aa64ad0b053f5123757b84331d7_3eb32532868bc9855b33290636dbaa4d.png) 0 0 no-repeat; background-size: cover; padding: 85px 0 55px 0; }
header .main-visual img { display: block; max-width: 540px; margin: 0 auto; }

.item-list, footer { width: 690px; margin: 0 auto; }

.item-list .item { width: 100%; padding-bottom: 45px; margin-bottom: 45px; border-bottom: solid 1px #6e6e6e; }
.item-list .item .main { margin-bottom: 23px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.item-list .item .main figure { margin-right: 20px; }
.item-list .item .main figure img { min-width: 325px; }
.item-list .item .main .title span { display: block; margin-bottom: 10px; }
.item-list .item .main .title h1 { font-size: 30px; font-weight: bold; line-height: 1.35em; }
.item-list .item .detail-txt { font-size: 24px; color: #ababab; line-height: 1.35em; margin-bottom: 28px; }
.item-list .item p a { display: block; font-size: 26px; font-weight: bold; padding: 27px 0 27px 0; text-align: center; background-color: #51c300; border-radius: 8px; }

.video { width: 750px; margin: 0 auto; background: url(https://bit.ly/2DgvKfD) 0 0 no-repeat; background-size: cover; padding: 60px 0 56px 0; margin-bottom: 60px; }
.video section { width: 690px; margin: 0 auto; }
.video section h2 { margin-bottom: 40px; }
.video section h2 img { max-width: 397px; }
.video section dl dt { font-size: 32px; font-weight: bold; margin-bottom: 15px; }
.video section dl dd { font-size: 20px; margin-bottom: 42px; }
.video section p a { display: block; font-size: 26px; font-weight: bold; padding: 27px 0 27px 0; text-align: center; background-color: #51c300; border-radius: 8px; }

footer { padding-bottom: 30px; }
footer ul { font-size: 0; margin-bottom: 30px; }
footer ul li { display: inline-block; font-size: 18px; line-height: 1.35em; color: #525252; }
footer small { display: block; font-size: 18px; color: #525252; text-align: center; }

@media screen and (max-width: 768px) { header { width: 100%; margin-bottom: 7%; }
  header p { padding: 1.5% 0 1.5% 2%; }
  header p img { max-width: 22%; }
  header .main-visual { padding: 11% 0 9% 0; }
  header .main-visual img { max-width: 74%; }
  .item-list, footer { width: 93%; margin: 0 auto; }
  .item-list .item { padding-bottom: 7%; margin-bottom: 7%; }
  .item-list .item .main { width: 100%; margin-bottom: 4%; }
  .item-list .item .main figure { width: 49%; margin-right: 3%; }
  .item-list .item .main figure img { min-width: 100%; }
  .item-list .item .main .title { width: 48%; }
  .item-list .item .main .title span { margin-bottom: 1.5%; }
  .item-list .item .main .title h1 { font-size: calc(48vw/12); line-height: 140%; }
  .item-list .item .detail-txt { font-size: calc(40vw/12); line-height: 140%; margin-bottom: 4%; }
  .item-list .item p a { font-size: calc(44vw/12); padding: 4% 0 4% 0; border-radius: 4px; }
  .video { width: 100%; padding: 8.5% 0 7% 0; margin-bottom: 7%; }
  .video section { width: 95%; }
  .video section h2 { margin-bottom: 5%; }
  .video section h2 img { max-width: 58%; }
  .video section dl dt { font-size: calc(50vw/12); margin-bottom: 3%; }
  .video section dl dd { font-size: calc(38vw/12); margin-bottom: 7%; }
  .video section p a { font-size: calc(44vw/12); padding: 4% 0 4% 0; border-radius: 4px; }
  footer { padding-bottom: 4%; }
  footer ul { margin-bottom: 4%; }
  footer ul li { font-size: calc(37vw/12); line-height: 140%; }
  footer small { font-size: calc(37vw/12); } }
@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@-webkit-keyframes item_list { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }
.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }

.ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }

.ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4s 1 forwards; }

.ani_list04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.5s 1 forwards; }
