
*{margin: 0; padding:0; line-height: 1.3em;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #efefef; background-color: #000;
	li {
		list-style: none;
	}
}
a {
	transition: none;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; height: auto;}



.wrapper {
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	header {
		padding: 12px;
		img {
			max-width: 162px;
		}
	}
}

.main_visual {
	width: 100%;
	max-width: 750px;
	height: 332px;
	background: url(https://bit.ly/2DdC9Jg) no-repeat top center;
	background-size: cover;
	margin-bottom: 40px;
	img {
		display: block;
		max-width: 675px;
		margin: 0 auto;
	}
}

.genre-wrap {
	display: block;
	max-width: 680px;
	margin: 0 auto;
	h1 {
		font-size: 37px;
		color: #FFF;
		margin-bottom: 23px;
	}
}

.item {
	max-width: 680px;
	background-color: #1c1c1c;
	border-radius: 10px;
	margin-bottom: 28px;
	figure img {
		max-width: 680px;
		border-radius: 10px 10px 0 0;
	}
	div {
		padding: 17px 22px 22px 22px;
	}
	dt {
		font-size: 33px;
		font-weight: bold;
		color: #FFF;
		margin-bottom: 10px;
		line-height: 45px;
	}
	dd {
		font-size: 30px;
		color: #989898;
		margin-bottom: 25px;
	}
	ul {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}
	ul li {
		display: block;
		width: 100%;
		max-width: 200px;
	}
	li a {
		max-width: 200px;
		overflow: hidden;
		display: block;
	}
	li a.active {
		box-sizing: border-box;
		border: 3px solid #50c401;
	}
	li a.active img {
		margin: -1.5px 0;
		opacity: .8;
	}
	.detail-txt {
		font-size: 26px;
		color: #989898;
		line-height: 38px;
		margin-bottom: 20px;
	}
	p a {
		font-size: 30px;
		display: block;
		background-color: #50c401;
		border-radius: 8px;
		padding: 25px 0 25px 0;
		color: #FFF;
		text-align: center;
		font-weight: bold;
	}
}

.genre-link {
	margin-bottom: 75px;
	a {
		max-width: 680px;
		display: block;
		padding: 22px 0 22px 0;
		border: solid 2px #50c401;
		border-radius: 10px;
		text-align: center;
		color: #50c401;
		font-weight: bold;
		font-size: 32px;
	}
}

.item02 {
	max-width: 680px;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			display: flex;
			margin-bottom: 30px;
		}
	}
	ul li a {
		display:block;
		background-color: #1c1c1c;
		border-radius: 10px;
		max-width: 330px;
	}
	ul li a img {
		max-width: 330px;
		border-radius: 10px 10px 0 0;
	}
	ul li a dl {
		padding: 11px 18px 18px 18px;
	}
	ul li a dl dt {
		color: #989898;
		font-size: 26px;
		margin-bottom: 10px;
	}
	ul li a dl dd {
		color: #FFF;
		font-size: 28px;
		font-weight: bold;
		line-height: 37px;
	}
}

.abemavideo {
	display: block;
	background: url(https://bit.ly/2SrwFiA) top center no-repeat;
	background-size: 100 auto;
	width: 100%;
	padding: 55px 0 67px 0;
	margin-bottom: 40px;
	section {
		width: 100%;
		max-width: 680px;
		margin:0 auto;
	}
	h1 {
		max-width: 397px;
		margin-bottom: 27px;
	}
	.text {
		color: #FFF;
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 7px;
	}
	.point {
		color: #FFF;
		font-size: 16px;
		margin-bottom: 17px;
	}
	p a {
	width: 100%;
	display: block;
	padding: 22px 0 22px 0;
	border: solid 2px #50c401;
	border-radius: 10px;
	text-align: center;
	color: #50c401;
	font-weight: bold;
	font-size: 33px;
	}
}

footer {
	width: 100%;
	max-width: 680px;
	margin: 0 auto;
	small {
		display: block;
		font-size: 17px;
		color: #919191;
		margin-bottom: 30px;
		line-height: 24px;
	}
	ul {
		margin-bottom: 30px;
	}
	ul li {
		display: inline;
	}
	ul li a {
		color: #919191 !important;
		font-size: 17px;
		line-height: 25px;
	}
	ul li a:after {
		content: '｜';
	}
}




@media screen and (max-width: 700px) {
	.wrapper {
		width: 100%;
		margin: 0 auto;
		header {
			padding: 1.4% 1.4% 0.8% 1.4%;
			img {
				max-width: 20%;
			}
		}
	}
	.main_visual {
		height: auto;
		margin-bottom: 6%;
	}

	.genre-wrap {
		width: 90%;
		h1 {
			font-size: calc(55vw/12);
			margin-bottom: 3.5%;
			line-height: 140%;
		}
	}

	.item {
		border-radius: 6px;
		margin-bottom: 5%;
		figure img {
		border-radius: 6px 6px 0 0;
		}
		div {
			padding: 2.5%;
		}
		dt {
			font-size: calc(55vw/12);
			margin-bottom: 2%;
			line-height: 145%;
		}
		dd {
			font-size: calc(47vw/12);
			margin-bottom: 3.5%;
		}
		ul {
			margin-bottom: 3.5%;
		}
		ul li {
			display: block;
			width: 31.5%;
		}
		li a.active {
			box-sizing: border-box;
			border: 1.5px solid #50c401;
		}
		li a.active img {
			margin: -1px 0;
		}
		.detail-txt {
			font-size: calc(44vw/12);
			line-height: 145%;
			margin-bottom: 4%;
		}
		p a {
			font-size: calc(50vw/12);
			padding: 3.5% 0 3.5% 0;
			border-radius: 6px;
		}
	}
	.genre-link {
		margin-bottom: 13%;
		a {
			border-radius: 6px;
			padding: 3.5% 0 3.5% 0;
			font-size: calc(48vw/12);
		}
	}

	.item02 {
		width: 100%;
		ul li {
			width: 48.5%;
			margin-bottom: 4.3%;
		}
		ul li a {
			margin-bottom: 0;
			border-radius: 6px;
			dl {
				padding: 3% 5% 5% 5%;
			}
			img {
				border-radius: 6px 6px 0 0;
			}
		}
		ul li a dl dt {
			font-size: calc(38vw/12);
			margin-bottom: 2%;
		}
		ul li a dl dd {
			font-size: calc(45vw/12);
			line-height: 135%;
		}
	}

	.abemavideo {
		padding: 7% 0 7% 0;
		section {
			width: 90%;
		}
		h1 {
			margin-bottom: 3.5%;
		}
		h1 img {
			max-width: 65%;
		}
		.text {
			font-size: calc(48vw/12);
			margin-bottom: 0.7%;
		}
		.point {
			font-size: calc(28vw/12);
			margin-bottom: 2%;
		}
		p a {
		font-size: calc(50vw/12);
		padding: 2.7% 0 2.7% 0;
		border-radius: 6px;
		}
	}

	footer {
		width: 90%;
		small {
			font-size: calc(25vw/12);
			margin-bottom: 5%;
			line-height: 140%;
		}
		ul {
			margin-bottom: 5%;
			line-height: 90%;
		}
		ul li a {
			font-size: calc(25vw/12);
		}
	}
}





@media screen and (max-width: 480px) {
	.item {
		border-radius: 4px;
		figure img {
		border-radius: 4px 4px 0 0;
		}
		p a {
			border-radius: 4px;
		}
	}
	.genre-link {
		margin-bottom: 13%;
		a {
			border-radius: 4px;
			padding: 3.5% 0 3.5% 0;
			font-size: calc(48vw/12);
			border: solid 1px #50c401;
		}
	}

	.item02 {
		ul {
			display: block;
			flex-wrap: none;
			justify-content: none;
			li {
				width: 100%;
				a {
					max-width: 100%;
					border-radius: 4px;
					img {
						max-width: 100%;
						border-radius: 4px 4px 0 0;
					}
				}
			}
		}
		p a {
		border-radius: 4px;
		}
	}

.abemavideo {
	p a {
	border: solid 1px #50c401;
	}
}
}



// @-webkit-keyframes item_sp { 100% { opacity: 1; } }
// @keyframes item_list { 100% { opacity: 1; } }

// .ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }
// .ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
// .ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4s 1 forwards; }
// .ani_list04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.5s 1 forwards; }



// @media screen and (max-width: 768px) {

// }

// @media screen and (max-width: 480px) {

// }

