
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #000; margin: 0 auto; background: #efefef;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; }



header {
	background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/689593/b16d934146adf91afc149dfa68f990a4_5650a50106f911a8bb6f4e98a534e090.png) 0 0 no-repeat;
	background-size: cover;
	.header_logo {
		max-width: 191px;
		padding: 1% 0 0 4%;
		line-height: 0;
	}
	.header_heading {
		max-width: 685px;
		margin: 2% auto 0;
		width: 92%;
	}
	.header_title {
		width: 91%;
		max-width: 685px;
		margin: 1% auto 0;
	}
}
.header_item {
	overflow: hidden;
	width: 92%;
	margin: 3.5% auto 0;
	max-width: 840px;
	margin: 3% auto 0;
	padding: 0 0 6%;
	li {
		float: left;
		width: 24%;
		margin: 0 0 0 1%;
		line-height: 0;
		opacity: 0;
		&:first-child {
			margin: 0;
		}
		a {
			display: block;
		}
	}
}


.contents {

	.large {
		margin: 30px 0 0;
	}
	.thumb {
		// overflow: hidden;
		display:flex;
		justify-content:space-between;
		margin: 15px 0 0;
		li {
			margin: 0 0 0 2%;
			&:first-child {
				margin: 0;
			}
			a {
				overflow: hidden;
				display: block;
				line-height:0;
				transition: none;
				img {
					margin: 0;
				}

			}
			.active {
				box-sizing: border-box;
				border: 6px solid #e02b6c;
				img {
					margin: -3px 0;
					opacity: .8;

				}
			}
		}
	}
	.btn {
		margin: 31px 0 0;
		a {
			display: block;
			background: #e02b6c;
			padding: 20px 0;
			border-radius: 4px;
			text-align: center;
			font-size: 32px;
			color: #fff;
		}
	}
}


@media screen and (max-width: 768px) {
	header {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/689593/b7340f7b6aadd55425786f0d6f9460df_754f1e8a72a0ac85c88cd21748cd10f2.png) 0 0 no-repeat;
		.header_logo {
			padding: 2% 0 0 4%;
			line-height: 0;
			img {
				width: 75%;
			}
		}
		.header_heading {
			margin: 2.5% auto 0;
			width: 92%;
			img {
				width: 100%;
			}
		}
		.header_title {
			margin: 1% auto 0;
			width: 92%;
			img {
				width: 100%;
			}
		}
	}
	.header_item {
		overflow: hidden;
		width: 92%;
		margin: 3.5% auto 0;
		max-width: 840px;
		margin: 3% auto 0;
		padding: 0 0 7%;
		li {
			float: left;
			width: 24%;
			margin: 0 0 0 1.3%;
			line-height: 0;
		}
	}
	.contents {

		.large {
			margin: 4% 0 0;
		}
		.thumb {
			margin: 2.5% 0 0;
			li {
				margin: 0 0 0 2%;
				&:first-child {
					margin: 0;
				}
				.active {
					border: 4.5px solid #e02b6c;
					img {
						margin: -2px 0;
						opacity: .8;

					}
				}
			}
		}
		.btn {
			margin: 4.8%  0 0;
			a {
				padding: 3% 0;
				border-radius: 4px;
				font-size: calc(50vw/12);
			}
		}
	}
}
@media screen and (max-width: 480px) {
	header {
		.header_logo {
			padding: 3% 0 0 4%;
			line-height: 0;
			img {
				width: 45%;
			}
		}
		.header_heading {
			width: 100%;
			margin: 2.5% auto 0;
			img {
				width: 92%;
			}
		}
		.header_title {
			width: 100%;
			margin: 1% auto 0;
			img {
				width: 92%;
			}
		}
	}
	.header_item {
		overflow: hidden;
		width: 92%;
		margin: 3.5% auto 0;
		max-width: 840px;
		margin: 3% auto 0;
		padding: 0 0 7%;
		li {
			float: left;
			width: 23.8%;
			margin: 0 0 0 1.6%;
		}
	}
	.contents {
		.large {
			margin: 4% 0 0;
		}
		.thumb {
			margin: 2.5% 0 0;
			li {
				margin: 0 0 0 2%;
				&:first-child {
					margin: 0;
				}
				.active {
					border: 3px solid #e02b6c;
					img {
						margin: -1.3px 0;
						opacity: .8;

					}
				}
			}
		}
		.btn {
			margin: 4.8%  0 0;
			a {
				padding: 3% 0;
				border-radius: 3px;
				font-size: calc(52vw/12);
			}
		}
	}
}

@media screen and (max-width: 414px) {
	header {
		.header_logo {
			img {
				width: 40%;
			}
		}
	}
}


@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }
.ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
.ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4s 1 forwards; }
.ani_list04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.5s 1 forwards; }



@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}

