
*{margin: 0; padding:0;}
body { line-height: 1; min-width: 320px; font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, Meiryo, sans-serif !important; color: #fff; margin: 0 auto; background: #000;
	li {
		list-style: none;
	}
}
a {
	transition: .3s;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
}
img  { width: 100%; }

.wrap {
	max-width: 768px;
	margin: 0 auto;
}

header {
	background-size: cover;
	h1 {
		background: #000;
		span {
			display: inline-block;
			max-width: 151px;
			padding: 13px 0 15px 22px;
			line-height: 0;
		}
	}
	.h_wrap {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/689593/b16d934146adf91afc149dfa68f990a4_5650a50106f911a8bb6f4e98a534e090.png) center center no-repeat;
		.h_i {
			max-width: 768px;
			padding: 20px 0;
			margin: 0 auto 0;
			h2 {
				max-width: 692px;
				margin: 0 auto;
			}
		}
	}
	.header_title {
		width: 91%;
		max-width: 685px;
		margin: 1% auto 0;
	}
}
.header_item {
	overflow: hidden;
	width: 92%;
	margin: 3.5% auto 0;
	max-width: 840px;
	margin: 3% auto 0;
	padding: 0 0 6%;
	li {
		float: left;
		width: 24%;
		margin: 0 0 0 1%;
		line-height: 0;
		opacity: 0;
		&:first-child {
			margin: 0;
		}
		a {
			display: block;
		}
	}
}


.contents {
	padding: 0;

	.c_h {
		padding: 0 0 0 18px;
		margin: 63px 0 42px;
		border-left: 6px solid #3a2;
		font-weight: bold;
		line-height: 1.4;
		letter-spacing: 1.2px;
		font-size: 32px;
	}
	.c_i {
		padding: 0 0 60px;
		border-bottom: 1px solid #606060;
		.bagge {
			display: inline-block;
			background: #f0163a;
			padding: 6px 12px;
			margin: 0 0 9px;
			border-radius: 4px;
			letter-spacing: 1.2px;
		}
		.c_t {
			line-height: 1.6;
			font-size: 22px;
			font-weight: bold;
			color: #ababab;
		}
	}
	.c_bn {
		border-bottom: none;
	}
	.c_list {
		display: flex;
		flex-flow: row wrap;
		margin: 30px 0 0;
		li {
			background: #1a1a1a;
			width: 47%;
			margin: 4% 0 0 5%;
			justify-content: flex-end;
			box-sizing: border-box;
			border-radius: 0 0 6px 6px;


			&:nth-child(2n+1) {
				margin: 4% 0 0;
			}
			&:nth-child(2) {
				margin: 0 0 0 5%;
			}
			&:nth-child(1) {
				margin: 0;
			}
			a {
				display: block;
				color: #fff;
			}
			figure {
				line-height: 0;
				img {
					border-radius: 6px 6px 0 0;
				}
			}
			.l_box {
				padding: 17px 20px 28px;
				.l_bagge {
					display: inline-block;
					background: #f0163a;
					padding: 6px 17px;
					margin: 0 0 12px;
					border-radius: 4px;
					letter-spacing: 1.3px;
					font-size: 16px;
				}
				.l_text {
					font-size: 23px;
					font-weight: normal;
					letter-spacing: 1.3px;
					line-height: 1.4;
					color: #fff;
				}
			}
		}
	}

	.large {
		margin: 30px 0 0;
	}
	.thumb {
		// overflow: hidden;
		display:flex;
		justify-content:space-between;
		margin: 15px 0 0;
		li {
			margin: 0 0 0 2%;
			&:first-child {
				margin: 0;
			}
			a {
				overflow: hidden;
				display: block;
				line-height:0;
				transition: none;
				img {
					margin: 0;
				}

			}
			.active {
				box-sizing: border-box;
				border: 4px solid #33aa22;
				img {
					margin: -2.8px 0;
					opacity: .8;

				}
			}
		}
	}
	.btn {
		margin: 40px 0 0;
		a {
			display: block;
			background: none;
			padding: 18px 0;
			border-radius: 4px;
			border: 3px solid #3a2;
			text-align: center;
			font-size: 32px;
			font-weight: normal;
			color: #3a2;
			&:hover {
				background: #3a2;
				color: #fff;
				opacity: 1;
			}
		}
	}
	.c_three {
		padding: 0 0 15px;
		margin: 0 0 0;

		.c_t_item {
			li {
				padding: 35px 0 30px;
				border-bottom: 1px solid #606060;

				&:first-child {
					border-top: 1px solid #606060;
				}

				&:last-child {
					border-bottom: none;
				}
				a {
					display: block;
					color: #fff;
				}
			}
		}

		.c_t_dl {
			display: flex;
			align-items: center;
			dd {
				width: 52%;
				line-height: 0;
			}
			dt {
				width: 45%;
				padding: 0 0 0 3%;
				font-size: 22px;
				line-height: 1.35;
				font-weight: bold;
				color: #fff;
				span {
					display: inline-block;
					background: #f0163a;
					margin: 0 0 5px;
					padding: 1px 12px;
					font-weight: normal;
					font-size: 16px;
					border-radius: 4px;
				}
			}
		}
		.c_t_text {
			margin: 20px 0 0;
			font-size: 26px;
			line-height: 1.4;
			color: #ababab;
		}

	}
}

footer {
	background: #000;
	padding: 35px 0 50px;
	border-top: 1px solid #606060;
	.copy {
		overflow: hidden;
		margin: 30px 0 40px;
		li {
			float: left;
			width: 100%;
			margin: 5px 0 0 5px;
			line-height: 1.3;
			font-size: 16px;
			color: #666666;
		}
	}
	.f_list {
		overflow: hidden;
		margin: 0 0 0;
		li {
			position: relative;
			float: left;
			margin: 0 10px 0 0;
			a {
				display: block;
				padding: 0 12px 0 0;
				font-size: 15px;
				color: #666666;
			}
			&:after {
				content: ' | ';
				position: absolute;
				top: 0;
				right: 0;
				color: #666666;
			}
			&:last-child:after {
				content: '';
			}
		}
	}
	small {
		display: block;
		margin: 30px 0 0;
		font-size: 16px;
		letter-spacing: 1.3px;
		text-align: center;
		color: #666666;
	}
}


@media screen and (max-width: 768px) {
	.wrap {
		padding: 0 4.6%;
		margin: 0 auto;
	}

	header {
		background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/689593/b7340f7b6aadd55425786f0d6f9460df_754f1e8a72a0ac85c88cd21748cd10f2.png) 0 0 no-repeat;
		.header_logo {
			padding: 2% 0 0 4%;
			line-height: 0;
			img {
				width: 75%;
			}
		}
		.header_heading {
			margin: 2.5% auto 0;
			width: 92%;
			img {
				width: 100%;
			}
		}
		.header_title {
			margin: 1% auto 0;
			width: 92%;
			img {
				width: 100%;
			}
		}
	}
	.header_item {
		overflow: hidden;
		width: 92%;
		margin: 3.5% auto 0;
		max-width: 840px;
		margin: 3% auto 0;
		padding: 0 0 7%;
		li {
			float: left;
			width: 24%;
			margin: 0 0 0 1.3%;
			line-height: 0;
		}
	}
	.contents {
		.c_h {
			padding: 0 0 0 2.5%;
			margin: 8.3% 0 6%;
			border-left: 4px solid #3a2;
			line-height: 1.4;
			letter-spacing: 1.2px;
			font-size: calc(50vw/12);
		}

		.c_i {
			padding: 0 0 7.5%;
			.bagge {
				padding: 0.8% 1.8%;
				margin: 0 0 2%;
				border-radius: 4px;
				letter-spacing: 1.2px;
				font-size: calc(28vw/12);

			}
			.c_t {
				line-height: 1.6;
				font-size: calc(35vw/12);
			}
		}

		.c_list {
			margin: 4.5% 0 0;
			li {
				width: 47%;
				margin: 4% 0 0 5%;
				border-radius: 0 0 5px 5px;


				&:nth-child(2n+1) {
					margin: 4% 0 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 5%;
				}
				&:nth-child(1) {
					margin: 0;
				}
				figure {
					img {
						border-radius: 5px 5px 0 0;
					}
				}
				.l_box {
					padding: 5% 5.8% 8%;
					.l_bagge {
						padding: 4px 13px;
						margin: 0 0 4%;
						border-radius: 4px;
						letter-spacing: 1.3px;
						font-size: calc(26vw/12);
					}
					.l_text {
						font-size: calc(34vw/12);
						letter-spacing: 1.3px;
						line-height: 1.35;
					}
				}
			}
		}

		.large {
			margin: 4% 0 0;
		}
		.thumb {
			margin: 2.5% 0 0;
			li {
				margin: 0 0 0 2%;
				&:first-child {
					margin: 0;
				}
				.active {
					border: 3px solid #3a2;
					img {
						margin: -2px 0;
						opacity: .8;

					}
				}
			}
		}
		.btn {
			margin: 4.8%  0 0;
			a {
				padding: 3% 0;
				border-radius: 4px;
				border: 2px solid #3a2;
				font-weight: bold;
				font-size: calc(50vw/12);
				&:hover {
					background: none;
					opacity: 0.8;
					color: #3a2;
				}
			}
		}
		.c_three {
			padding: 0 0 2.5%;
			margin: 0 0 0;

			.c_t_item {
				li {
					padding: 4% 0 0;
				}
			}

			.c_t_dl {
				display: flex;
				align-items: center;
				dd {
					width: 52%;
				}
				dt {
					width: 45%;
					padding: 0 0 0 3%;
					font-size: calc(37vw/12);
					line-height: 1.35;
				}
			}
			.c_t_text {
				margin: 3% 0 0;
				font-size: calc(41vw/12);
				line-height: 1.4;
			}
		}
	}
	footer {
		padding: 5% 0 7%;
		.wrap {
			padding: 0 4.5% 0;
		}
		.copy {
			margin: 1.8% 0 6%;
			li {
				margin: 1% 0 0 1%;
				line-height: 1.3;
				font-size: calc(25vw/12);
			}
		}
		.f_list {
			margin: 0 0 0;
			li {
				margin: 0 10px 0 0;
				a {
					padding: 0 12px 0 0;
					font-size: 13px;
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(26vw/12);
			letter-spacing: 1.3px;
		}
	}
}
@media screen and (max-width: 480px) {
	.wrap {
		padding: 0 4.6%;
		margin: 0 auto;
	}
	header {
		.header_logo {
			padding: 3% 0 0 4%;
			line-height: 0;
			img {
				width: 45%;
			}
		}
		.header_heading {
			width: 100%;
			margin: 2.5% auto 0;
			img {
				width: 92%;
			}
		}
		.header_title {
			width: 100%;
			margin: 1% auto 0;
			img {
				width: 92%;
			}
		}
	}
	.header_item {
		overflow: hidden;
		width: 92%;
		margin: 3.5% auto 0;
		max-width: 840px;
		margin: 3% auto 0;
		padding: 0 0 7%;
		li {
			float: left;
			width: 23.8%;
			margin: 0 0 0 1.6%;
		}
	}
	.contents {

		.c_h {
			padding: 0 0 0 2.5%;
			margin: 8.3% 0 6%;
			border-left: 3px solid #3a2;
			line-height: 1.4;
			letter-spacing: 1.2px;
			font-size: calc(52vw/12);
		}

		.c_i {
			padding: 0 0 7.5%;
			.bagge {
				padding: 0.8% 1.8%;
				margin: 0 0 2%;
				border-radius: 3px;
				letter-spacing: 1.2px;
			}
			.c_t {
				line-height: 1.5;
				font-size: calc(37vw/12);
			}
		}

		.c_list {
			margin: 4.5% 0 0;
			li {
				width: 47%;
				margin: 4% 0 0 5%;
				border-radius: 0 0 4px 4px;


				&:nth-child(2n+1) {
					margin: 4% 0 0;
				}
				&:nth-child(2) {
					margin: 0 0 0 5%;
				}
				&:nth-child(1) {
					margin: 0;
				}
				figure {
					img {
						border-radius: 4px 4px 0 0;
					}
				}
				.l_box {
					padding: 5% 5.8% 8%;
					.l_bagge {
						padding: 2px 7px;
						margin: 0 0 4%;
						border-radius: 4px;
						letter-spacing: 1.3px;
						font-size: calc(28vw/12);
					}
					.l_text {
						font-size: calc(36vw/12);
						letter-spacing: 1.3px;
						line-height: 1.3;
					}
				}
			}
		}
		.large {
			margin: 4% 0 0;
		}
		.thumb {
			margin: 2.5% 0 0;
			li {
				margin: 0 0 0 2%;
				&:first-child {
					margin: 0;
				}
				.active {
					border: 2px solid #3a2;
					img {
						margin: -1.3px 0;
						opacity: .8;

					}
				}
			}
		}
		.btn {
			margin: 4.8%  0 0;
			a {
				padding: 3% 0;
				border: 1.5px solid #3a2;
				border-radius: 3px;
				font-size: calc(52vw/12);
			}
		}
		.c_three {
			padding: 0 0 3%;
			margin: 0 0 0;

			.c_t_item {
				li {
					padding: 4% 0 0;
				}
			}

			.c_t_dl {
				display: flex;
				align-items: center;
				dd {
					width: 52%;
				}
				dt {
					width: 45%;
					padding: 0 0 0 3%;
					font-size: calc(39vw/12);
					line-height: 1.35;
				}
			}
			.c_t_text {
				margin: 3% 0 0;
				font-size: calc(42vw/12);
				line-height: 1.4;
			}
		}
	}
	footer {
		padding: 4.5% 0 6.5%;
		.wrap {
			padding: 0 5% 0;
		}
		.copy {
			margin: 1.8% 0 6%;
			li {
				margin: 1% 0 0 1%;
				line-height: 1.3;
				font-size: calc(27vw/12);
			}
		}
		.f_list {
			margin: 0 0 0;
			li {
				margin: 0 8px 0 0;
				a {
					padding: 0 10px 0 0;
					font-size: 10px;
					white-space: nowrap;
				}
				&:after {
					content: ' | ';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:last-child:after {
					content: '';
				}
			}
		}
		small {
			margin: 5% 0 0;
			font-size: calc(28vw/12);
			letter-spacing: 0.5px;
		}
	}
}

@media screen and (max-width: 414px) {
	header {
		.header_logo {
			img {
				width: 40%;
			}
		}
	}
}


@-webkit-keyframes item_sp { 100% { opacity: 1; } }
@keyframes item_list { 100% { opacity: 1; } }

.ani_list01 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3s 1 forwards; }
.ani_list02 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 3.5s 1 forwards; }
.ani_list03 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4s 1 forwards; }
.ani_list04 { -webkit-animation: item_sp 0.5s ease 1s 1 forwards; animation: item_sp 1s ease 4.5s 1 forwards; }



@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}

