


.h_l {
	background: #141414;
	padding: 12px 0 13px 22px;
	span {
		display: inline-block;
		max-width: 140px;
		line-height: 0;
	}
	img {
		width: 100%;
		height: auto;
	}
}






@media screen and (max-width: 768px) {
	.h_l {
		padding: 1.3% 0 1.3% 2.2%;
		span {
			display: inline-block;
			max-width: 18.8%;
		}
	}
}


@media screen and (max-width: 480px) {

	.h_l {
		padding: 1.3% 0 1.3% 2.2%;
		span {
			display: inline-block;
			max-width: 19.2%;
		}
	}
}

