.grid  {
	.block__outer:nth-of-type(1) {
		background: #efefef;
		margin: -19px 0 0;
		padding: 30px 0;
	}
}


.grid  {
	&:nth-child(2) {
		max-width: 680px;
		margin: 0 auto;

		.column {
			display: flex;
			justify-content: space-between;
			.img {
				max-width: 121px;
			}
		}
	}
}




@media screen and (max-width: 768px) {


}


@media screen and (max-width: 480px) {

}



