.grid {
	padding: 0;
	&:nth-of-type(1) {
		.block__outer {
			&:nth-child(1) {
				display: block;
			}
			&:nth-child(2) {
				display: none;
			}
		}
	}
	&:nth-of-type(2) {
		.block__outer {
			background: #efefef;
			margin: 0;
			padding: 12px 0 20px;
		}
	}
	&:nth-child(3) {
		max-width: 680px;
		margin: 0 auto;

		.column {
			display: flex;
			justify-content: space-between;
			padding: 0;
			margin: 47px 0 0;
			.img {
				max-width: 121px;
			}
		}
	}
}



.blog-body__text h4, .txt h4 {
	font-weight: normal!important;
	font-family: 'Noto Sans JP', sans-serif!important;
	margin: 0 auto;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.6;
	letter-spacing: 1.5px;
	color: #000;
}



@media screen and (max-width: 1024px) {
	.blog-body__text h4, .txt h4 {
		font-size: 17px;
		line-height: 1.6;
		letter-spacing: 1.2px;
	}
}
@media screen and (max-width: 896px) {
	.blog-body__text h4, .txt h4 {
		font-size: 15px;
		line-height: 1.6;
		letter-spacing: 1.2px;
	}
}



@media screen and (max-width: 768px) {

	.grid {
		padding: 0;
		&:nth-of-type(1) {
			.block__outer {
				&:nth-child(1) {
					display: none;
				}
				&:nth-child(2) {
					display: block;
				}
			}
		}
		&:nth-of-type(2) {
			.block__outer {
				padding: 1% 0 2%;
				margin: 0 !important;
			}
		}
		&:nth-child(3) {
			max-width: none;
			padding: 0 4.5%;
			margin: 0 auto;

			.column {
				display: flex;
				justify-content: space-between;
				padding: 0;
				margin: 47px 0 0;
				.img {
					max-width: 121px;
				}
			}
		}
	}

	.blog-body__text h4, .txt h4 {
		font-weight: normal!important;
		font-family: 'Noto Sans JP', sans-serif!important;
		margin: 0 auto;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.6;
		letter-spacing: 1.5px;
		color: #000;
	}
}


@media screen and (max-width: 736px) {
	.blog-body__text h4, .txt h4 {
		font-size: 14px;
		line-height: 1.6;
		letter-spacing: 1.2px;
	}
}

@media screen and (max-width: 667px) {
	.blog-body__text h4, .txt h4 {
		font-size: 12px;
		line-height: 1.6;
		letter-spacing: 1.2px;
	}
}


@media screen and (max-width: 480px) {

	.blog-body__text h4, .txt h4 {
		font-size: calc(31vw/12);
		line-height: 1.6;
		letter-spacing: 0.6px;
	}
}



